{template 'common/header'}
<ul class="nav nav-tabs">
    <li class="active"><a href="{php echo  $this->createWebUrl('version', array('foo'=>'index'));}">系统更新</a></li>
    <li><a href="{php echo  $this->createWebUrl('version', array('foo'=>'ma'));}">更新码更新</a></li>
    <li><a href="{php echo  $this->createWebUrl('version', array('foo'=>'reset'));}">重置系统</a></li>
    <li><a href="{php echo  $this->createWebUrl('version', array('foo'=>'xiu'));}">字段修复</a></li>
    <li><a href="{php echo  $this->createWebUrl('version', array('foo'=>'power'));}">分权管理</a></li>
</ul>

<div class="clearfix">
	<div class="tx-c" style="font-size:16px;">{$msg}</div>
</div>
{template 'common/footer'}