/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 *
 * */
.mui-plus.mui-android header.mui-bar{
    display: none;
}
.mui-plus.mui-android .mui-bar-nav~.mui-content{
    padding: 0;
}

/*hm开头的表示仅为 Hello MUI示例定义*/
.hm-description{
    margin: .5em 0;
}

.hm-description>li {
    font-size: 14px;
    color: #8f8f94;
}

.mui-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 997;
    background-color: rgba(0,0,0,.6);
}


/*媒体查询*/

/*iphone5*/
@media (min-device-width: 320px) {
    html {
        font-size: 42.7px;
    }
}

/*Galaxy S5*/
@media (min-device-width: 360px) {
    html {
        font-size: 48px;
    }
}


/*iphone6*/
@media (min-device-width: 375px) {
    html {
        font-size: 50px;
    }
}

/*Nexus5X*/
@media (min-device-width: 411px) {
    html {
        font-size: 54.8px;
    }
}

/*iphone6 Plus*/
@media (min-device-width: 414px) {
    html {
        font-size: 55.2px;
    }
}


/*Nexus6P*/
@media (min-device-width: 435px) {
    html {
        font-size: 58px;
    }
}


/*ipad*/
@media (min-device-width: 768px){
    html {
        font-size: 102.4px;
    }
}
/*ipad pro*/
@media(min-device-width:1024px){
    html{
        font-size:110px;
    }
}
/*!** pc *!
@media (min-device-width: 800px) {
    html {
        font-size: 42.7px;
    }
}*/


/*通用样式*/
html,body{
    height:100%;
}
* ,ul,p{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif !important;
}
h2,h3,a,li{
    margin: 0;
    padding: 0;
    background-color: #fff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
a:link,a:visited,a:hover,a:focus{
    color: #fff;
    /*outline: none !important;*/
    /*blr: expression(this.onFocus=this.blur()) !important;*/
}
a,button,input{
    -webkit-tap-highlight-color:rgba(255,0,0,0);    /* 1.去除android a/button/input标签被点*/
}
.a-gray:link,.a-gray:visited,.a-gray:hover{
    color:#737885
}
h2,h3{
    font-weight:700;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif !important;
    background-color: #f5f5f5;
    width: 100%;
}
/*body a {
    outline: none !important;
    blr: expression(this.onFocus=this.blur()) !important;
}*/

/*硬件加速*/
.jiasu{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
/*文本单行省略*/
.txt-nowrap{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*背景图片大小自适应*/
.bg-pic-auto{
    background:no-repeat center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*列表通用投影*/
.list-shadow{
    -webkit-box-shadow: 0 0.02rem 0.2rem rgba(58,88,229,.13);
    -moz-box-shadow: 0 0.02rem 0.2rem rgba(58,88,229,.13);
    -o-box-shadow: 0 0.02rem 0.2rem rgba(58,88,229,.13);
    box-shadow: 0 0.02rem 0.2rem rgba(58,88,229,.13);
}