::-webkit-scrollbar{
  display:none;
}
.none{
    display: none;
}
html,body{
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif !important;
    -webkit-user-select: none; 
}
body{
    -webkit-text-size-adjust: 100% !important;
}


.isNew:after{
    content: "New";
    display: inline-block;
    width: 25px;
    height: 12px;
    line-height: 12px;
    background: #FF0000;
    margin-left: 0.1rem;
    color: #ffffff;
    font-size: 9px;
    border-radius: 4px;
    text-align: center;
    position: relative;
    top: -0.06rem;
}
/*首页*/

.banner-sy, .banner-zt {
    width: 100%;
    height: 4.22rem;
    display: block;
}

.banner-title {
    color: #fff;
    font-size: 0.26rem;
    line-height: 0.7rem;
    height: 0.7rem;
    opacity: 1;
    background-color: rgba(0, 0, 0, .7);
    padding-left: 0.2rem;
    padding-right: 1rem;
    position: absolute;
}

.body-index .mui-indicator {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 1px 0.03rem;
    opacity: 0.5;
}

.body-index .mui-indicator:last-child {
    margin-right: 0.2rem;
}

.body-index .mui-active {
    opacity: 1;
}

.body-index .list-title {
    height: 0.8rem;
    background-color: #fff;
}

.body-index .list-title a {
    line-height: 0.8rem;
    color: #000;
    font-size: 0.32rem;
}

.body-index .mui-active {
    color: #000 !important;
}

.body-index .mui-slider-progress-bar {
    background-color: #379cea;
    height: 0.04rem;
}

.body-index .mui-slider-item {
    border: none !important;
}

.course-list {
    margin: 0.04rem 0 0;
}

.course-list li {
    height: 2.3rem;
    padding: 0.3rem 0.2rem;
    margin-bottom: 0.1rem;
    background-color: #fff;
}

.mui-slider-2 {
    padding-bottom: 1.1rem;
}

.course-list li .cou-img {
    display: block;
    height: 1.7rem;
    width: 3rem !important;
    margin-right: 0.3rem;
    position: relative;
}

.cou-img img{
    width:100%;
    height:100%;
}

.course-list li h3 {
    color: #000;
    font-size: 0.28rem;
    line-height: 0.36rem;
}

.course-detail-dialog {
    position: absolute;
    background: #fff;
    width: 78%;
    height: 2.6rem;
    padding: 19px;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%;
    top: 32%;
    border-radius: 10px;
}

.dialog-text {
    text-align: center;
    font-size: 18px;
    padding-top: 17px;
    color: #333;
    line-height: 1.5;
}

.dialog-close-btn {
    position: absolute;
    font-size: 12px;
    color: #333;
    right: 0;
    top: 10px;
    width: 26px;
    height: 30px;
}

.arrow {
    position: absolute;
    width: 19%;
    right: 14%;
    bottom: 14%;
}

.course-list li h3 {
    color: #000;
    font-size: 0.28rem;
    line-height: 0.44rem;
    vertical-align: top;
    margin: -0.04rem 0.2rem 0 0;
}

.cou-price {
    color: #ea375d;
    font-size: 0.34rem;
    font-weight: 700;
    margin-bottom: 0;
}

.body-index .cou-price {
    height: 0.34rem;
    line-height: 0.34rem;
}

.cou-price span {
    color: #999;
    font-size: 0.2rem;
    text-decoration: line-through;
    padding-left: 0.12rem;
    font-weight: 400;
}

.cou-txt {
    vertical-align: top;
    font-size: 0;
}

.cou-num {
    color: #999;
    font-size: 0.26rem;
    vertical-align: bottom;
    position: relative;
    overflow: visible;
}

.body-index .cou-num {
    height: 0.26rem;
    line-height: 0.26rem;
}

.type-sound::before, .type-video::before {
    content: '';
    display: block;
    position: absolute;
    width: 0.23rem;
    height: 0.19rem;
    left: -0.3rem;
    top: 50%;
    margin-top: -0.1rem;
}

.type-sound::before {
    background: url("../images/icon_sound.png") no-repeat center;
    background-size: contain;
}

.type-video::before {
    background: url("../images/icon_video.png") no-repeat center;
    background-size: contain;
}

.label-jp::after {
    content: "精品";
    display: block;
    position: absolute;
    width: 0.6rem;
    height: 0.3rem;
    font-size: 0.2rem;
    line-height: 0.3rem;
    color: #fff;
    text-align: center;
    left: 0;
    top: 0;
    background-color: #379cea;
}

/*底部tab*/
.mui-bar-tab {
    height: 0.98rem;
    background-color: #fff;
}

.mui-bar-tab img {
    width: 0.52rem;
    height: 0.44rem;
    display: block;
}

.mui-bar-tab .mui-tab-item .mui-icon {
    width: 0.52rem;
    height: 0.44rem;
    margin-top: 0.07rem;
}

.mui-bar-tab .mui-tab-item:nth-child(1) .tab-def {
    background-image: url("../images/tab_1_def.png");
}

.mui-bar-tab .mui-tab-item:nth-child(1) .tab-sel {
    background-image: url("../images/tab_1_sel.png");
}

.mui-bar-tab .mui-tab-item:nth-child(2) .tab-def {
    background-image: url("../images/tab_2_def.png");
}

.mui-bar-tab .mui-tab-item:nth-child(2) .tab-sel {
    background-image: url("../images/tab_2_sel.png");
}

.mui-bar-tab .mui-tab-item:nth-child(3) .tab-def {
    background-image: url("../images/tab_3_def.png");
}

.mui-bar-tab .mui-tab-item:nth-child(3) .tab-sel {
    background-image: url("../images/tab_3_sel.png");
}

.mui-bar-tab .mui-tab-item span {
    color: #000;
    font-size: 0.2rem;
}

/*课程分类*/

/*搜索框*/

.search-box {
    height: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 666;
    background-color: #f0f0f0;
}

.search {
    position: relative;
}

.search img {
    display: block;
    width: 0.24rem;
    height: 0.24rem;
    right: 0.4rem;
    top: 50%;
    margin-top: -0.12rem;
    position: absolute;
    top: 50%;
}

.search .search-frame {
    font-size: 0.26rem;
    width: 7.1rem;
    height: 0.6rem;
    line-height: 0.36rem;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 0.2rem;
    border-radius: 0.04rem;
}

.search .search-frame:focus {
    color: #000;
}

.body-kcfl .mui-bar-tab ~ .mui-content {
    margin-top: 0rem;
}

.body-kcfl .cou-title-left a {
    color: #999 !important;
    font-size: 0.3rem !important;
    line-height: 1.2rem !important;
    height: 1.2rem !important;
    border-bottom: none !important;
    background-color: #f8f8f8;
    position: relative;
    padding-left: 11px;
    text-align: left;
}

.body-kcfl .cou-title-left .mui-active {
    color: #000 !important;
    font-weight: 700;
}

/*.body-kcfl .mui-col-xs-3 {
    width:27%;
}
.body-kcfl .mui-col-xs-9 {
    width:73%;
}*/

.body-kcfl .cou-title-left .mui-active::before {
    content: "";
    display: block;
    position: absolute;
    width: 0.06rem;
    height: 0.5rem;
    left: 0.1rem;
    top: 50%;
    background-color: #379cea;
    margin-top: -0.25rem;
    border-radius: 0.03rem;
}

.cou-content-list {
    background-color: #fff;
}

.body-kcfl .zt-list {
    margin: 0.3rem;
    border-radius: 0;
    box-shadow: none;
}

.body-kcfl .zt-list .cou-img {
    position: relative;
    height: 2.76rem;
    background-image: url("../images/pic_class_1.jpg");
}

.body-kcfl .zt-list .cou-img-js {
    width: 100%;
    position: relative;
    height: 2.76rem;
    background-image: url("../images/pic_teacher.jpg");
}

.body-kcfl .zt-list .cou-title {
    font-size: 0.28rem;
    color: #333;
    line-height: 0.44rem;
    font-weight: 700;
    margin: 0.14rem 0.2rem 0 0;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 2; /** 显示的行数 **/
    overflow: hidden; /** 隐藏超出的内容 **/
}

.body-kcfl .footer {
    margin-top: 0.07rem;
}

.body-kcfl .cou-price {
    color: #ea375d;
    font-size: 0.26rem;
    line-height: 0.26rem;
}

/*搜索页面*/
.body-sousuo {
    background-color: #fff;
}

.body-sousuo .search img {
    right: 0;
}

.search-box .btn-search-qx {
    width: 1.02rem;
    font-size: 0.32rem;
    color: #000;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    position: absolute;
    right: 0;
    top: 0;
}

.body-sousuo .search {
    margin-right: 1.22rem;
}

.body-sousuo .search .search-frame {
    width: 6.28rem;
    margin-right: 0;
}

.body-sousuo .search-tujian {
    margin: 1.3rem 0 0 0.2rem;
}

.body-sousuo .search-tujian > li > h3 {
    color: #333;
    font-size: 0.26rem;
    margin-bottom: 0.2rem;
}

.body-sousuo .search-tujian li ul li {
    display: inline-block;
    font-size: 0.26rem;
    line-height: 0.5rem;
    height: 0.5rem;
    color: #379cea;
    padding: 0 0.2rem;
    margin: 0 0.2rem 0.2rem 0;
    /*border:0.02rem solid #379cea;*/
    border: 1px solid #379cea;
    border-radius: 0.08rem;
}

.body-sousuo .search-tujian .sousuo-remen h3 {
    margin-top: 0.5rem;
}

.body-sousuo .search-result ul {
    margin: 1rem 0 0.2rem;
}

/*个人中心*/
.user-top {
    /*height: 2.4rem;*/
    padding-bottom: 0.3rem;
    background-color: #fff;
}

.user-top .pic-user {
    height: 1.5rem;
    border-radius: 50%;
    margin: 0.3rem;
}

.user-top h3 {
    display: inline-block;
    color: #000;
    font-size: 0.3rem;
    height: 0.3rem;
    width: auto;
    position: relative;
}

.txt-sm {
    padding-top: 60px;
}

.txt-sm p {
    padding: 5px;
    height: 100%;
}

.user-top p {
    margin-top: 0.2rem;
    color: #666;
    font-size: 0.26rem;
}

.user-top p:nth-child(3) {
    color: #999;
}

.user-top p span {
    color: #000;
    font-weight: 700;
}

.label-vip::after {
    content: '';
    display: block;
    position: absolute;
    width: 0.28rem;
    height: 0.28rem;
    left: 100%;
    margin-left: 0.16rem;
    top: 50%;
    margin-top: -0.14rem;
    background: url("../images/vip.png") no-repeat center;
    background-size: cover;
}

.body-grzx .user-list ul {
    padding-bottom: 1rem;
}

.user-list ul li, .list-right {
    height: 1.1rem;
    background-color: #fff;
}

.user-list ul li:nth-child(1), .user-list ul li:last-child {
    margin: 0.1rem 0;
}

.user-list ul li .list-left {
    width: 1rem;
}

.user-list ul li .list-right {
    border-bottom: 1px solid #e5e5e5;
}

.user-list ul li:nth-child(1) .list-right, .user-list ul li:nth-child(5) .list-right, .user-list ul li:last-child .list-right {
    border-bottom: none;
}

.user-list ul li .list-left img {
    display: block;
    height: 0.42rem;
    width: 0.42rem;
    margin: 0 auto;
}

.user-list ul li .list-right img {
    display: block;
    height: 0.32rem;
    width: 0.18rem;
    margin-right: 0.3rem;
}

.list-right h3 {
    color: #666;
    font-size: 0.3rem;
}

.list-right p {
    color: #bbb;
    font-size: 0.28rem;
    margin-right: 0.2rem;
}

/*专题详情*/

.banner-zt {
    width: 100%;
    height: 4.22rem;
    position: relative;
}

.banner-zt .cou-img {
    width: 100%;
    height: 100%;
}

.banner-zt .banner-title, .banner-zt .banner-num, .banner-zt .zt-num-bg {
    position: absolute;
    color: #fff;
}

.banner-zt .banner-title {
    bottom: 0;
    left: 0;
    right: 0;
}

.banner-zt .zt-num-bg {
    width: 1.74rem;
    height: 0.4rem;
}

.banner-zt .banner-num, .banner-zt .zt-num-bg {
    top: 0;
    right: 0;
}

.banner-zt .banner-num {
    color: #fff;
    font-size: 0.22rem;
    line-height: 0.4rem;
    font-weight: 700;
    padding-right: 0.2rem;
}
.body-xq-zt .sqr-mask{
    background: rgba(0, 0, 0, 0.55);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.body-xq-zt .sqr-mask .wrap{
    width: 6rem;
    margin: 0 auto;
    border-radius: 0.13rem;
    background: #fff;
    margin-top: 1rem;
    padding-bottom: 0.2rem;
}
.body-xq-zt .sqr-mask .wrap .close-btn{
    /*width: 0.6rem;
    height: 0.6rem;
    padding: 0.2rem;
    margin-left: 5.3rem;
    margin-bottom: 0.3rem;*/
    width: 1rem;
    height: 1rem;
    padding: 0.4rem;
    margin-left: 5rem;
    margin-bottom: 0.3rem;
}
.body-xq-zt .sqr-mask .wrap .close-btn img{
    width: 0.25rem;
    display: block;
}
.body-xq-zt .sqr-mask .wrap .tips{
    font-size: 0.3rem;
    color: #353535;
    text-align: center;
    padding: 0 0.3rem;
}
.body-xq-zt .sqr-mask .wrap .sqr-pic{
    width: 4rem;
    margin: 0.6rem auto;
}
.body-xq-zt .sqr-mask .wrap .sqr-pic img{
    width: 100%;
}

.body-xq-zt .banner-title {
    padding: 0 0.4rem 0 0.6rem;
}

/*旧版*/
.body-xq-zt .content-wrap{
    width: 100%;
    background: #f9f9f9;
}

.body-xq-zt .content-wrap .detail-wrap{
    background: #ffffff;
}

.body-xq-zt .content-wrap .detail-wrap .wrap{
    padding: 0.3rem;
    border-bottom: 1px solid #EEEEEE;
}

.body-xq-zt .content-wrap .detail-wrap .wrap .tips{
    overflow: hidden;
    color: #c6c5c5;
    margin-top: 0.6rem;
}

.body-xq-zt .content-wrap .detail-wrap .banner-num{
    float: right;
    font-size: 13px;
}

.body-xq-zt .content-wrap .detail-wrap .update-num{
    float: left;
    font-size: 13px;
}

.body-xq-zt .content-wrap .detail-wrap .wrap .fold-btn-wrap{
    text-align: center;
}

.body-xq-zt .content-wrap .detail-wrap .wrap .fold-btn-wrap img{
    width: 0.4rem;
}

.body-xq-zt .content-wrap .title-wrap .title-name{
    color: #353535;
    font-size: 17px;
}

.body-xq-zt .content-wrap .title-wrap .title-desc{
    color: #353535;
    font-size: 0.3rem;
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
}

.body-xq-zt .content-wrap .detail-content{
    color: #353535;
    font-size: 13px;
    border-top: 1px solid #EEEEEE;
    padding-top: 0.2rem;
    margin-top: 0.23rem;
}

.body-xq-zt .content-wrap .catalog-wrap{
    background: #ffffff;
    margin-top: 0.16rem;
}

.body-xq-zt .content-wrap .no-content-tips{
    width: 100%;
    height: 1rem;
    text-align: center;
    font-size: 12px;
    color: #c6c5c5;
    margin-top: 0.08rem;
}

.body-xq-zt .content-wrap .catalog-wrap .catalog-list{
    padding: 0 0.3rem;

}
.body-xq-zt .content-wrap .catalog-wrap .catalog-list li{
    width: 100%;
    padding: 0.3rem 0;
    overflow: hidden;
    border-bottom: 1px solid #f0f0f0;
}
.body-xq-zt .content-wrap .catalog-wrap .catalog-list li .pic-wrap{
    overflow: hidden;
    float: left;
    width: 2.1765rem;
    height: 1.3rem;
    margin-right: 0.2rem;
}
.body-xq-zt .content-wrap .catalog-wrap .catalog-list li .text-wrap{
    float: right;
    width: 4.43rem;
    position: relative;
}
.body-xq-zt .content-wrap .catalog-wrap .catalog-list li .text-wrap .course-name{
    color: #353535;
    font-size: 15px;
}
.body-xq-zt .content-wrap .catalog-wrap .catalog-list li .text-wrap .bott{
    overflow: hidden;
    color: #c6c5c5;
    margin-top: 0.3rem;
    font-size: 12px;
    padding-top: 3px;
    position: absolute;
    top: 0.6rem;
    left: 0;
    width: 100%;
}
.body-xq-zt .content-wrap .catalog-wrap .catalog-list li .text-wrap .num-wrap{
    float: left;
}
.body-xq-zt .content-wrap .catalog-wrap .catalog-list li .text-wrap .time{
    float: right;
}
.body-xq-zt .content-wrap .catalog-wrap .catalog-list li .pic-wrap img{
    width: 110%;
    height: auto;
}
/*旧版*/

/*新版*/
@-webkit-keyframes spin {
    from {-webkit-transform: rotate(0deg);}
      to {-webkit-transform: rotate(360deg);}
}
.spin {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
}
@keyframes spin {
    from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
      to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}


.grid-new:after{
    content: "New";
    width: 0.6rem;
    height: 0.3rem;
    line-height: 0.3rem;
    background: #fe0000;
    border-radius: 7px 0 7px 0;
    font-size: 8px;
    color: #ffffff;
    position: absolute;
    text-align: center;
    bottom: 0;
    right: 0;
}
.grid-isread:after{
    content: "读过";
    width: 0.6rem;
    height: 0.3rem;
    line-height: 0.3rem;
    background: #7f7f7f;
    border-radius: 7px 0 7px 0;
    font-size: 8px;
    color: #ffffff;
    position: absolute;
    text-align: center;
    bottom: 0;
    right: 0;
}
.body-xq-zt{
    background: #001E2C url('../images/course-bg.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed !important;
    
}
.body-xq-zt .grid-wrap{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.body-xq-zt .grid-wrap .single-pic{
    width: 100%;
}
.body-xq-zt .grid-wrap .single-pic img{
    width: 100%;
}
.body-xq-zt .grid-wrap .title-wrap{
    text-align: center;
}
.body-xq-zt .grid-wrap .title-wrap .course-name{
    font-size: 16px;
    color: #ffffff;
    padding-top: 12.5px;
    margin-bottom: 9px;
}
.body-xq-zt .grid-wrap .title-wrap .tips{
    font-size: 10.5px;
    color: #9a9b9d;
    margin-bottom: 20px;
}
.body-xq-zt .grid-wrap .title-wrap .tips .update-num{
    display: inline-block;
    margin-right: 18px;
}
.body-xq-zt .grid-wrap .title-wrap .tips .listen-num{
    display: inline-block;
    padding-left: 19px;
    background-size: 12px !important;
    background: url("../images/grid-listen-icon.png") no-repeat left 45%;
}
.body-xq-zt .grid-wrap .grid-list{
   padding: 0 4%;
}
.body-xq-zt .grid-wrap .no-content-tips{
    width: 100%;
    height: 2.5rem;
    text-align: center;
    padding-top: 0.4rem;
}
.body-xq-zt .grid-wrap .no-content-tips .loading{
    width: 4%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
    from {-webkit-transform: rotate(0deg);}
      to {-webkit-transform: rotate(360deg);}
}
@keyframes spin {
    from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
      to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
.body-xq-zt .grid-wrap .no-content-tips span{
    font-size: 10px;
    color: #b0afaf;
}
.body-xq-zt .grid-wrap .grid-list ul{
    width: 100%;
}
.body-xq-zt .grid-wrap .grid-list ul li{
    width: 100%;
    overflow: hidden;
    margin-top: 31px;
    background: none;
}
.body-xq-zt .grid-wrap .grid-list ul li:first-child{
    margin-top: 0;
}
.body-xq-zt .grid-wrap .grid-list ul li .list-item{
    word-wrap: break-word;
}
.body-xq-zt .grid-wrap .grid-list ul li .list-item .pic-wrap{
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    height: 2.124rem;
    background: #424242;
}
.body-xq-zt .grid-wrap .grid-list ul li .list-item .pic-wrap img{
    width: 100%;
    display: block;
    height: auto;
}
.body-xq-zt .grid-wrap .grid-list ul li .list-item .pic-desc{
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    margin: 4.5px 0 4px 0;
}
.body-xq-zt .grid-wrap .grid-list ul li .list-item .bott{
    text-align: center;
    font-size: 9.16px;
    color: #b0afaf;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}
.body-xq-zt .grid-wrap .grid-list ul li .list-item .bott div{
    padding-left: 12px;
    background-size: 10px !important;
    text-align: top;   
}
.body-xq-zt .grid-wrap .grid-list ul li .list-item .bott .listen-num{
    float: left; 
    background: url("../images/grid-listen-icon.png") no-repeat left 37%;
}
.body-xq-zt .grid-wrap .grid-list ul li .list-item .bott .commt-num{
    float: right;
    background: url("../images/grid-commt-icon.png") no-repeat left 37%;
}
.body-xq-zt .grid-wrap .grid-list ul li .list-item{
    float: left;
    width:30%;
}
.body-xq-zt .grid-wrap .grid-list ul li .list-item:nth-child(2){
    margin: 0 5%;
}
/*新版*/

.type-zt-sound::before, .type-zt-video::before,
.type-zt-commt::before {
    content: '';
    display: inline-block;
    /* position: absolute; */
    width: 0.31rem;
    height: 0.2rem;
    left: 0.25rem;
    top: 50%;
    margin-top: -0.09rem;
    margin-right: 0.2rem;
    padding-top: 0.05rem;
}

.type-zt-commt::before {
    content: '';
    display: inline-block;
    /* position: absolute; */
    width: 0.3rem;
    height: 0.22rem;
    left: 0.25rem;
    top: 50%;
    margin-top: -0.09rem;
    margin-right: 0.2rem;
    padding-top: 0.05rem;
}

span.banner-num.listen-num,  span.banner-num.commt-num{
    width: 1.3rem;
    display: inline-block;
}

.banner-zt .banner-num::before, .banner-zt .banner-num::before {
    content: '';
    display: block;
    position: absolute;
    width: 0.25rem;
    height: 0.21rem;
    left: -0.32rem;
    top: 50%;
    margin-top: -0.09rem;
}

.type-zt-sound::before {
    background: url("../images/icon_sound_new.png") no-repeat center;
    background-size: cover;
}

.type-zt-commt::before {
    background: url("../images/commt-icon.png") no-repeat center;
    background-size: cover;
}

.type-zt-video::before {
    background: url("../images/icon_video_zt.png") no-repeat center;
    background-size: cover;
}

.body-xq-zt .user-top .txt-zy {
    margin: 0.05rem 0 0.2rem;
    position: relative;
}

.body-xq-js .user-top {
    margin-bottom: 0.1rem;
}

.txt-zy::before {
    content: "";
    display: block;
    position: absolute;
    width: 0.28rem;
    height: 0.02rem;
    left: 0;
    top: 100%;
    background-color: #379cea;
    margin-top: 0.1rem;
}

.zt-tab-xq .txt-sm {
    color: #333;
    font-size: 0.26rem;
    line-height: 0.46rem;
    background-color: #fff;
    margin: 0.1rem 0 0;
    padding: 0.6rem 0.3rem;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item {
    color: #010101;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item span {
    color: #ea375d;
}

.bar-bottom-zt {
    height: 0.9rem;
    width: 100%;
    position: fixed;
    z-index: 666;
    left: 0;
    bottom: 0;
    border-top: 1px solid #eee;
    background-color: #1f4c66;
    border: none;
}

.bar-bottom-zt .left {
    width: 1.3rem;
}

.bar-bottom-zt .left img {
    width: 0.44rem;
    height: 0.44rem;
    margin: 0.22rem 0 0 0.45rem;
}

.bar-bottom-zt .right .btn-buy-zt {
    display: block;
    /*width: 100%;*/
    width: 3.1rem;
    height: 0.9rem;
    color: #fff;
    line-height: 0.9rem;
    font-size: 0.3rem;
    /*font-weight: 700;*/
    text-align: center;
    /*background-color: #379cea;*/
}

.body-xq-zt .bar-bottom-zt .free-pipe{
    background: #217566;
}

.body-xq-zt .bar-bottom-zt .pay-pipe{
    /*background: #379cea;*/
}

.zt-tab-ml ul {
    background-color: #fff;
}

.zt-tab-ml ul li {
    padding: 0.2rem 0 0;
    margin: 0 0.2rem;
    height: 4.2rem;
    position: relative;
}

.zt-tab-ml ul li .cou-img {
    width: 100%;
    height: 4rem;
}

.zt-tab-ml ul li .btn-play {
    width: 1.08rem !important;
    height: 1.08rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -0.54rem 0 0 -0.54rem;
}

.body-xq-zt .zt-tab-ml ul li p {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0.28rem;
    width: 100%;
    padding-left: 0.2rem;
}

.body-xq-zt .zt-tab-pj ul li {
    height: 1.3rem;
    border-bottom: 1px solid #eee;
}

.body-xq-zt .zt-tab-pj ul li h3 {
    display: inline-block;
    font-size: 0.26rem;
    font-weight: 400;
    color: #666;
    padding: 0.22rem 0.16rem 0 0.3rem;
}

.body-xq-zt .zt-tab-pj ul li span {
    font-size: 0.26rem;
    color: #999;
    margin: 0.26rem 0 0 0;
}

.body-xq-zt .zt-tab-pj ul li p {
    font-size: 0.26rem;
    color: #000;
    padding: 0 0 0.22rem 0.3rem;
}

.mask {
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: none;
}

.mask-share img {
    width: 3.76rem;
    height: 2.28rem;
    position: absolute;
    right: 0.56rem;
    top: 0.56rem;
}

.mask-buy-bottom, .mask-tixian-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    /*height: 4rem;*/
    background-color: #fff;
}

.mask-buy .cou-price, .mask-tixian .cou-price {
    margin: 0 0.3rem;
    height: 1.5rem;
    border-bottom: 1px solid #ddd;
}

.mask-buy .cou-price h3, .mask-buy .cou-price p, .mask-tixian .cou-price h3, .mask-tixian .cou-price p, .way-qianbao p {
    font-size: 0.28rem;
    color: #333;
    line-height: 1.5rem;
    font-weight: 700;
}

.mask-buy .vip-free {
    height: 1.5rem;
    margin: 0 0.3rem;
    border-bottom: 1px solid #ddd;
}

.mask-buy .vip-free p {
    color: #379cea;
    font-size: 0.28rem;
    padding-right: 0.18rem;
}

.mask-buy .vip-free img {
    display: block;
    width: 0.17rem;
    height: 0.29rem;
}

.mask-buy .way-youhui {
    height: 0.8rem;
    font-size: 0.28rem;
    color: #379cea;
    margin: 0.35rem 0.3rem;
    /*border: 0.02rem solid #379cea;*/
    border: 1px solid #379cea;
    border-radius: 0.08rem;
}

.mask-buy .way-youhui img {
    width: 0.3rem;
    height: 0.23rem;
    margin-right: 0.1rem;
}

.btn-buy, .btn-tijiao2 {
    /*height: 1rem;*/
    font-size: 0.28rem;
    color: #fff;
    background-color: #1f4c66;
}

.btn-buy img {
    width: 0.5rem;
    height: 0.41rem;
    margin-right: 0.1rem;
}

.mask-bg-fix {
    overflow: hidden;
}

.mask-pingjia {
    display: block
}

.mask-pingjia .mask-pingjia-content, .mask-shenqing .mask-shenqing-content {
    width: 5.5rem;
    background-color: #fff;
    padding: 0.4rem 0.3rem 0.25rem;
    border-radius: 0.08rem;
    position: absolute;
    left: 50%;
    margin-left: -2.75rem;
    top: 50%;
    margin-top: -1.5rem;
}

.mask-pingjia .mask-pingjia-content h3 {
    color: #333;
    font-size: 0.32rem;
    padding-bottom: 0.4rem;
    margin: 0 0.35rem 0.4rem;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.mask-pingjia .mask-pingjia-content textarea {
    border: 1px solid #ddd;
    width: 100%;
    height: 1.7rem;
    /*color: #bbb;*/
    font-size: 0.28rem;
    line-height: 0.4rem;
    padding: 0.1rem 0.12rem;
    text-align: justify;
    margin: 0;
}

.mask-pingjia .mask-pingjia-content .btn-pj-ty {
    text-align: center;
    line-height: 0.7rem;
    height: 0.7rem;
    font-size: 0.3rem;
    border-radius: 0.08rem;
    margin-top: 0.3rem;
}

.btn-luguo {
    border: 1px solid #ccc;
    color: #666;
}

.btn-pingjia {
    color: #fff;
    background-color: #379cea;
    margin-left: 0.2rem;
}

/*课程详情-播放界面*/

.course-bg {
    background: url('../images/course-bg.jpg') no-repeat;
    background-size: cover;
}

.course-play .btn-group{
    overflow: hidden;
    position: absolute;
    left: 14%;
    top: 0.9rem;
    width: 72%;
}

.player {
    height: 100%;
}

.course-play-text {
    height: 21%;
    overflow: hidden;
}

.course-play .btn-group img{
    width: 8%;
}
.course-play .btn-group .detail-btn{
    float: left;
}
.course-play .btn-group .commt-btn{
    float: right;
}

.course-play-slider {
    position: relative;
    height: 57%;
    overflow: hidden;  
}

.course-play-audio {
    height: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.course-play-welcome {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 997;
    background-color: rgba(0,0,0,.6);
}

.course-play-welcome .detail {
    position: absolute;
    width : 52%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.course-play-welcome img {
    width: 100%;
}



.html-xq-zt-play, .body-xq-zt-play, .body-xq-zt-play .content-center {
    height: 100%;
    /*overflow: hidden;*/
}

.body-xq-zt-play .content-center .mui-slider-group {
    /*overflow: scroll;*/
}
.body-xq-zt-play .content-center .mui-slider-2 {
     padding-bottom:0;
}
.body-xq-zt-play .content-center .mui-slider-2 #item2mobile{
     padding-bottom:1.1rem;
}


/*视频-播放完*/
.video-finish{
    z-index: 999;
    width:100%;
    height:4.2rem!important;
    background-color: #000;
    text-align: center;
}
.video-finish img{
    display: block;
    width:1.22rem;
    height:1.22rem;
    margin:0.66rem 0 0.3rem;
}
.video-finish p{
    color: #fff;
    font-size: 0.3rem;
    padding-left:0.16rem;
    margin-bottom: 0.28rem;
}
.video-finish .btn-replay{
    text-align: center;
    font-size: 0.3rem;
    width:2rem;
    height:0.7rem;
    line-height: 0.7rem;
    color: #fff;
    background-color: #379cea;
    border-radius: 0.08rem;
}
.btn-replay:active {
    background-color: #2c7bb8;
}

/*--*/
video {
    display: block;
    width: 100%;
    height: 4.22rem;
    z-index: 2;
    background-color: #000;
}


.circle-item{
    z-index: 1;
    left: 50%;
    top: -48px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}

.cg-wrap {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f66948;
}

.circle-left-wrap,
.circle-right-wrap{
    position:absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 50px;
    overflow: hidden;
}

.circle-right-wrap{
    left: 25px;
}

.circle-left,
.circle-right{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #eee;
}
.circle-right{
    left: -25px;
}

.circle-left{
    clip: rect(0, 25px, auto, 0);
}
.circle-right{
    clip: rect(0, auto, auto, 25px);
}

.circle-mask {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff;
}

.audio-box {
    display: block;
    position: relative;
    width: 100%;
    height: 4.22rem;
    background-color: #000;
}

.audio-rotating { 
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    left: 50%;
    top: 50%;
    background: url('../images/loading.png') no-repeat;
    background-size: contain;
    margin: -15px;
    -webkit-animation: 1s linear normal none infinite rotate;
            animation: 1s linear normal none infinite rotate;
    z-index: 999;
}

.audio-separate {
    padding-top: 9px;
}

.audio-box img {
    display: block;
    width: 100%;
    height:4.22rem;
}
.audioplayer{
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.3rem;
    margin: 0;
    background: transparent;
}

.audioplayer-time {
    line-height: 0.6rem;
    font-size: 12px;
}
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a{
    background:none;
}

.audio-tool {
    position: absolute;
    width: 100%;
    height: 64px;
    bottom: 0;
    padding: 0 0.4rem;
}

.audio-tool>div {
    display: inline-block;
    position: absolute;
}

.audio-title {
    color: #010101;
    font-size: 14px;
    padding-bottom: 0.05rem;
    line-height: 1.3;
}

.audio-play-times {
    bottom: 20%;
    font-size: 12px;
    color: #b0afaf;
    padding-right: 10px;
}

.audio-play-times::before {
    content: '';
    display: inline-block;
    background: url('../images/earphone.png') no-repeat;
    background-size: contain;
    vertical-align: middle;    
    width: 16px;
    height: 18px;
}

.audio-create-times {
    font-size: 12px;
    bottom: 20%;
    left: 22%;
    padding-right: 10px;
    color: #b0afaf;
}

.audio-create-times::before {
    content: '';
    display: inline-block;
    background: url('../images/clock.png') no-repeat;
    background-size: contain;
    vertical-align: middle;
    width: 16px;
    height: 18px; 
}

.audio-comment-times {
    font-size: 12px;
    bottom: 20%;
    left: 22%;
    padding-right: 10px;
    color: #b0afaf;
}

.audio-comment-times::before {
    content: '';
    display: inline-block;
    background: url('../images/commt-icon.png') no-repeat;
    background-size: contain;
    vertical-align: middle;
    width: 16px;
    height: 18px;
}

.audio-picture-pattern {
    font-size: 15px;
    bottom: 20%;
    right: 5%;
    color: #f66948;
    z-index: 995;
}

.audio-picture-pattern::before {
    content: '';
    display: inline-block;
    background: url('../images/picture-pattern.png') no-repeat;
    background-size: contain;
    vertical-align: middle;
    width: 25px;
    height: 25px;
}

.audio-previous {
    right: 32%;
    top: -70%;
    color: #f66948
}

.audio-next {
    left: 32%;
    top: -70%;
    color: #f66948;
}

.audioplayer-time-duration {
    right: 0;
}

.detail-audioplayer {
    height: 0.75rem;
    width: 83%;
    right: -8%;
}

.detail-playpause {
    left: 2%;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    top: -16%;
}


.detail-playbar {
    top: 70%;
}

/*竖屏*/
.readPic-vertical {
    position: absolute;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 100%;
    top: 50%;    
}

/*横屏*/
.readPic-horizontal {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 80%;
    left: 50%;
    /*height: 100%;*/
}

.player-box {
    position: fixed;
    width: 100%;
    height: 2.3rem;
    background: #fff;
    border-bottom: 10px solid #edf0f0;
    z-index: 999;
}

.course-message {
    position: absolute;
    width: 100%;
    background: #fff;
    bottom: 0;
    top: 0;
    padding-top: 2.3rem;
    overflow: scroll;
}

.audio-cover {
    /*display: inline-block;*/
    position: relative;
    float: left;
    width: 1.7rem;
    height: 1.7rem;
    margin: 0.17rem 0 0.22rem 0.2rem;
    border-radius: 8px;
    overflow: hidden;
}

.cover-container {
    width: 30%;
    float: left;
}

.audio-cover img {
    width: 100%;
    border-radius: 8px;
}

.audio-info {
    float: left;
    width: 70%;
    padding: 0.18rem 0.2rem 0.1rem 0;
}

.play-pause-btn {
    display: inline-block;
}

.play-progress-bar {
    display: inline-block;
}

.imgCountTip {
    font-size: 16px;
    color: #fff;
    text-align: right;
    margin: 4px 8px 3px 0;
}

.textIntro {
    font-size: 14px;
    color: #fff;    
    padding: 8px 20px;
    overflow: scroll;
    height: 84%;
    line-height: 1.6;
}

.course-detail-outline {
    padding: 10px 0.25rem;
}

.course-detail-outline p img{
    padding-top: 16px; 
}

.course-play-detail,
.course-play-message
 {
    background: #fff;
    padding: 2.3rem 0 0 0;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?3x9mlh');
    src: url('../fonts/icomoon.eot?3x9mlh#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?3x9mlh') format('truetype'), url('../fonts/icomoon.woff?3x9mlh') format('woff'), url('../fonts/icomoon.svg?3x9mlh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-size: 1.2em;
    font-weight: bold;
    vertical-align: sub;
}

.icon-close:before {
    content: "\e905";
}

.icon-clock:before {
    content: "\e900";
}

.icon-earphone:before {
    content: "\e901";
}

.icon-next:before {
    content: "\e902";
}

.icon-previous:before {
    content: "\e903";
}

.body-xq-zt-play .zt-tab-xq .txt-sm p {
    text-align: justify;
    margin-bottom: 0.6rem;
    color: #333;
}

.body-xq-zt-play .zt-tab-xq .txt-sm {
    margin: 0;
}

.body-xq-zt-play .zt-tab-xq img {
    display: block;
    width: 100%;
    margin-bottom: 0.6rem;
}

.body-xq-zt-play .zt-tab-xq img:last-child {
    margin-bottom: 0;
}

.body-xq-zt-play .zt-tab-xq {
    margin-bottom: -1.1rem;
}

.cou-wenda>li {
    background-color: #fff;
    padding: 0 0.2rem;
}

.cou-wenda li .wenda {
    border-bottom: 1px solid #eee;
    padding: 0.26rem 0;
}

.cou-wenda li .cou-huida {
    border-bottom: none;
    padding: 0;
}

.cou-wenda li .cou-huida ul li {
    padding: 0.24rem 40px;
    border-bottom: 1px solid #eee;
}

.cou-wenda li .wenda .label {
    color: #fff;
    display: inline-block;
    width: 0.6rem;
    height: 0.26rem;
    font-size: 0.2rem;
    line-height: 0.26rem;
    text-align: center;
    background-color: #ea375d;
    border-radius: 0.05rem;
}

.cou-wenda li .wenda .label-huida {
    background-color: #379cea;
}

.cou-wenda li .wenda .name {
    color: #434343;
    font-size: 15px;
    line-height: 0.26rem;
    padding: 2px 0 0 0.2rem;
}

.cou-wenda li .wenda .time {
    color: #aaa;
    font-size: 15px;
    line-height: 0.26rem;
    padding: 2px 0 0 0.2rem;
}

.cou-wenda li .wenda .teacher {
    color: #fff;
    display: inline-block;
    width: 0.6rem;
    height: 17px;
    font-size: 0.2rem;
    line-height: 0.26rem;
    text-align: center;
    background-color: #f56a46;
    border-radius: 0.05rem;
    line-height: 17px;
    margin-left: 0.14rem;
}

.cou-wenda li .wenda .txt {
    font-size: 15px;
    line-height: 0.45rem;
    color: #000;
    text-align: justify;
    margin: 0 0.1rem 0 0.8rem;
}

.cou-wenda img {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}
.btn-show-all,.btn-huida{
    margin-top: 0.11rem;
}

.cou-wenda li .wenda .btn-huida {
    color: #7cb8ef;
    font-size: 0.26rem;
}

.cou-wenda li .wenda .btn-show-all {
    padding-left: 0.7rem;
    color: #bbb;
    font-size: 0.26rem;
}

.cou-wenda li .wenda .btn-all-huida {
    border-top: 1px solid #eee;
    color: #379cea;
    height: 0.6rem;
    font-size: 0.26rem;
    line-height: 0.6rem;
    margin-top: -1px;
    text-align: center;
}

.bottom-input {
    height: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #eee;
    background-color: #fff;
    z-index: 9999;
}

.body-xq-zt-play .bottom-input {
    /*position: absolute;*/
}

.bottom-input .left {
    margin: 0 0 0 0.2rem;
    height: 0.7rem;
}

.bottom-input input {
    display: block;
    height: 0.7rem;
    border: 1px solid #ccc;
    line-height: 0.5rem;
    font-size: 0.3rem;
    padding: 0 0 0 0.2rem;
    border-radius: 0.08rem;
}

.bottom-input .btn-wenda {
    width: 1.6rem;
    height: 0.7rem;
    font-size: 0.3rem;
    line-height: 0.7rem;
    color: #fff;
    background-color: #379cea;
    margin: 0 0.2rem;
    border-radius: 0.08rem;
    text-align: center;
}

.line-clamp-2 {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 2; /** 显示的行数 **/
    overflow: hidden; /** 隐藏超出的内容 **/
}

.line-clamp-3 {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 3; /** 显示的行数 **/
    overflow: hidden; /** 隐藏超出的内容 **/
}

/*优惠码-兑换*/

.body-yhm-dh {
    background-color: #fff;
    overflow: hidden;
}

.body-yhm-dh .yhm-content {
    height: 100%;
    width: 100%;
}

.body-yhm-dh .bottom-input {
    position: relative;
    border-bottom: 1px solid #eee;
    border-top: none;
    height: 1.5rem;
}

.body-yhm-dh .page-state-kong {
    margin-top: -1.5rem;
}

.body-yhm-dh .bottom-input .left {
    height: 0.8rem;
}

.body-yhm-dh .bottom-input .left input, .body-yhm-dh .bottom-input .btn-duihuan {
    height: 0.8rem;
}

.body-yhm-dh .bottom-input .btn-duihuan {
    line-height: 0.8rem;
}

.page-state-kong {
    height: 100%;
    width: 100%;
}

.page-state-kong .content {
    width: 3.69rem;
    height: 2.41rem;
}

.page-state-kong .content-has-txt {
    margin-top: -2.4rem;
}

.page-state-kong .content img {
    display: block;
    width: 3.69rem;
    height: 2.41rem;

}

.page-state-kong .content p {

    margin-top: 0.3rem;
    color: #666;
    font-size: 0.32rem;
    text-align: center;
    line-height: 0.44rem;
}

/*讲师主页*/
.body-xq-js .xq-js-cou ul {
    padding-bottom: 0.1rem;
}

.body-xq-js .zt-tab-ml ul li:last-child {
    margin-bottom: 0.2rem;
}

/*我的-年费会员*/
.body-nfhy {
    background-color: #fff;
}


.body-nfhy .user-top {
    border-bottom: 1px solid #eee;
}

.body-nfhy .user-top p span {
    color: #379cea;
}

.body-nfhy .btn-xf, .body-sqjs .btn-tijiao {
    background-color: #379cea;
    height: 1rem;
    line-height: 1rem;
    color: #fff;
    font-size: 0.3rem;
    text-align: center;
    position: fixed;
    z-index: 666;
    left: 0;
    right: 0;
    bottom: 0;
}

.nfhy-weigoumai img {
    width: 100%;
    display: block;
}

.nfhy-weigoumai .btn-jiaru {
    position: absolute;
    left: 50%;
    margin-left: -1.75rem;
    top: 8.1rem;
    background-color: rgba(255, 255, 255, .38);
    color: #000;
    font-size: 0.32rem;
    line-height: 0.9rem;
    width: 3.5rem;
    text-align: center;
    border-radius: 0.45rem;
}

/*我的年费会员-购买*/
.nianfei-top {
    background-color: #fff;
    padding: 0 0.2rem;
}

.nianfei-top .top {
    height: 1.6rem;
    border-bottom: 1px solid #ddd;
}

.nianfei-top .top img {
    height: 1rem;
    width: 1rem;
    margin-right: 0.3rem;
}

.nianfei-top .top h3, .nianfei-top p {
    color: #333;
    font-size: 0.3rem;
}

.nianfei-top .top p span {
    color: #379cea;
    font-weight: 700;
}

.nianfei-top .top, .nianfei-top .bottom {
    height: 1.6rem;
}

.nianfei-top .bottom h3 {
    font-size: 0.4rem;
    color: #ea375d;
}

.body-nfhy-ff .btn-buy {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

/*我的听课记录*/
.toolbar {
    background-color: #fff;
    height: 0.9rem;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0 0.2rem;
    z-index: 666;
}

.toolbar-top {
    top: 0;
}

.toolbar-bottom {
    bottom: 0;
    border-top: 1px solid #eee;
}

.toolbar-top-def .btn-bianji {
    color: #333;
    font-size: 0.3rem;
    line-height: 0.9rem;
    float: right;
}

.toolbar-top-sel, .toolbar-bottom {
    display: none;
}

.toolbar-top-sel .btn-quanxuan {
    color: #333;
    font-size: 0.32rem;
    line-height: 0.9rem;
    float: left;
}

.toolbar-top-sel .btn-wancheng {
    color: #379cea;
    font-size: 0.32rem;
    line-height: 0.9rem;
    float: right;
}

.toolbar-bottom .btn-shanchu {
    color: #ea375d;
    font-size: 0.32rem;
    line-height: 0.9rem;
    float: right;
}

.body-tkjl .xq-js-cou li:first-child {
    margin-top: 1.1rem;
}

.sel-frame {
    width: 0.38rem;
    height: 0.38rem;
    position: absolute;
    right: 0.3rem;
    top: 0.5rem;
    display: none;
}

.mask-shanchu {
    display: none;
}

/*我的礼品*/
.liwu {
    margin-top: 0.2rem;
    background-color: #fff;
}

.liwu-list {
    height: 1.6rem;
    padding: 0.2rem;
    border-bottom: 1px solid #eee;
}

.liwu-list:last-child {
    border-bottom: none;
}

.liwu-list .left img {
    display: block;
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.2rem;
}

.liwu-list .left h3 {
    color: #333;
    font-size: 0.3rem;
    line-height: 0.3rem;
}

.liwu-list .left p {
    color: #999;
    font-size: 0.24rem;
    line-height: 0.24rem;
}

.liwu-list .right {
    color: #39ba45;
    font-weight: 700;
    font-size: 0.3rem;
    line-height: 0.3rem;
}

.statu-zhunbei .wuliu-num {
    visibility: hidden;
}

/*我是讲师-未申请*/

.body-wsjs-wsq .js-gn-list li {
    height: 1.1rem;
    padding: 0 0.3rem;
    margin-top: 0.1rem;
}

.body-wsjs-wsq .js-gn-list li img {
    display: block;
    width: 0.18rem;
    height: 0.32rem;
    margin-left: 0.2rem;
}

.body-wsjs-wsq .js-gn-list li h3, .body-wsjs-wsq .js-gn-list li p {
    color: #bbb;
    font-size: 0.3rem;
    line-height: 1.1rem;
}

.body-wsjs-wsq .js-gn-list li p {
    font-size: 0.28rem;
}

.body-wsjs-wsq .js-gn-list li:nth-child(2) h3 {
    color: #666;
}

.body-wsjs-wsq .js-gn-list li:nth-child(2) p {
    color: #379cea;
}

/*申请讲师*/
.input-content {
    padding: 0 0.2rem;
}

.input-content h3 {
    color: #666;
    font-size: 0.3rem;
    line-height: 0.3rem;
    padding: 0.3rem 0 0.16rem;
}

.input-content input, .input-content textarea {
    border: 1px solid #bbb;
    border-radius: 0.08rem;
    padding: 0 0.2rem;
    margin: 0;
    font-size: 0.3rem;
}

.input-content input {
    height: 0.9rem;
    line-height: 0.5rem;
}

.input-content textarea {
    height: 1.8rem;
    line-height: 0.42rem;
    padding-top: 0.2rem;
}

.input-content li:last-child textarea {
    margin-bottom: 1.3rem;
}

.mask-shenqing .mask-shenqing-content {
    padding: 0.5rem 0.25rem 0.4rem;
    margin-top: -3.8rem;
}

.mask-shenqing .icon-succeed {
    display: block;
    width: 1.22rem;
    height: 1.22rem;
}

.mask-shenqing .pic-code {
    display: block;
    width: 2.14rem;
    height: 2.14rem;
}

.mask-shenqing h2 {
    color: #333;
    font-size: 0.32rem;
    line-height: 0.32rem;
    margin: 0.2rem 0 0.22rem;
}

.mask-shenqing h3 {
    color: #bbb;
    font-size: 0.3rem;
    line-height: 0.3rem;
}

.mask-shenqing p {
    color: #999;
    font-size: 0.24rem;
    line-height: 0.24rem;
    margin: 0.24rem 0 0.4rem;
}

.mask-shenqing .btn-queding {
    width: 2.5rem;
    height: 0.7rem;
    background-color: #379cea;
    color: #fff;
    font-size: 0.3rem;
    line-height: 0.7rem;
    text-align: center;
    margin-top: 0.4rem;
    border-radius: 0.08rem;
}

/*我是讲师-已申请*/
.body-wsjs-ysq .js-gn-list li {
    margin-bottom: 0.2rem;
}

.body-wsjs-ysq .zt-tab-ml ul, .body-wsjs-ysq .zt-tab-ml ul li {
    background-color: #f5f5f5;
}

.body-wsjs-ysq .zt-tab-ml ul .cou-list-zt:last-child {
    margin-bottom: 0.2rem;
}

.cou-shouyi ul {
    background-color: #fff;
}

.cou-shouyi ul li {
    height: 1.8rem;
    border-bottom: 1px solid #e5e5e5;
    padding: 0.2rem;
}

.cou-shouyi ul li .left {

}

.cou-shouyi ul li h3 {
    color: #000;
    font-size: 0.28rem;
    line-height: 0.28rem;
}

.cou-shouyi ul li .txt, .cou-shouyi ul li .time {
    font-size: 0.24rem;
    line-height: 0.24rem;
}

.cou-shouyi ul li .txt {
    color: #999;
    line-height: 0.3rem;
    height: 0.6rem;
    margin-top: 0.16rem;
    margin-bottom: 0.16rem;
}

.cou-shouyi ul li .time {
    color: #bbb;
}

.cou-shouyi ul li .price {
    color: #000;
    font-weight: 700;
    font-size: 0.3rem;
    line-height: 1.4rem;
    width: 1.2rem;
    text-align: right;
}

.body-wsjs-ysq .mask-pingjia {
    display: none;
}

/*提现记录*/
.list-tixian ul li .txt {
    color: #39ba45;
    line-height: 0.28rem;
    font-size: 0.28rem;
}


.mask-tixian .mask-tixian-bottom {
    height: 5.5rem;
}

.mask-tixian .way-qianbao, .mask-tixian .xieyi {
    height: 1.5rem;
    margin: 0 0.3rem;
}

.mask-tixian .btn-tijiao {
    background-color: #49cf59;
}

.way-qianbao div span {
    font-size: 0.32rem;
    color: #999;
    display: block;
}

.way-qianbao div img {
    display: block;
    width: 0.5rem;
    height: 0.41rem;
    margin-right: 0.1rem;
}

.mask-tixian .xieyi {
    border-top: 1px solid #ddd;
}

.mask-tixian .xieyi img {
    display: block;
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.16rem;
}

.mask-tixian .xieyi p {
    color: #379cea;
    font-size: 0.24rem;
    text-decoration: underline;
}

.body-sqtx .mask-shenqing .btn-queding {
    margin-top: 0;
}

/*提现协议*/
.body-txxy {
    background-color: #fff;
}

.body-txxy .xieyi-box {
    padding: 0 0.3rem 0.4rem;
}

.body-txxy h3 {
    color: #379cea;
    font-size: 0.48rem;
    text-align: center;
    padding: 0.6rem 0 0.4rem;
}

.body-txxy p {
    color: #333;
    font-size: 0.28rem;
    line-height: 0.42rem;
    text-align: justify;
}

/*主页-邀请成为教师*/
.body-sqjs .shenqing-top img {
    display: block;
    width: 2.1rem;
    height: 2.1rem;
    margin: 0.3rem auto 0.2rem;
}

.body-sqjs .shenqing-top h3 {
    color: #666;
    font-size: 0.38rem;
    text-align: center;
    margin-bottom: 0.3rem;
}

/*主页-我的礼品*/
.body-lqlp .page-state-kong, .body-hqyhm .page-state-kong {
}

/*主页-获取优惠码*/

/*优惠码-复制按钮*/
.body-hqyhm .yhm-content .bottom .yhm-xinxi span.btn-copy{
    position: absolute;
    right: 0.2rem;
    top:1.6rem;
    display: block;
    border-top-right-radius: 0.08rem;
    -webkit-border-top-right-radius: 0.08rem;
    border-bottom-right-radius: 0.08rem;
    -webkit-border-bottom-right-radius: 0.08rem;
    cursor: pointer;
    color: #fff;
    font-size: 0.28rem;
    text-align: center;
    height:0.96rem;
    width: 0.96rem;
    line-height: 0.96rem;
    background-color: #379cea;
}


.body-hqyhm {
    background-color: #efefef;
    height: 100%;
    overflow: hidden;
}

.body-hqyhm .yhm-content .top {
    height: 1.3rem;
    border-bottom: 1px solid #e5e5e5;
    background: #fff;
}

.body-hqyhm .yhm-content .top h3 {
    color: #333;
    font-size: 0.32rem;
}

.body-hqyhm .yhm-content .top img {
    display: block;
    width: 0.32rem;
    height: 0.32rem;
    margin-right: 0.1rem;
}

.body-hqyhm .code-wrap{
    text-align: center;
}

.body-hqyhm .yhm-content .bottom .yhm-xinxi h2 {
    font-size: 0.26rem;
    line-height: 0.6rem;
    font-weight: 400;
    text-align: center;
    color: #858585;
    margin: 0.3rem 0.2rem 0.2rem;
    border: 0.03rem dashed #379cea;
    border-radius: 0.13rem;
    display: inline-block;
    padding: 0 0.2rem;
}

.body-hqyhm .yhm-content .bottom .yhm-xinxi h3 {
    font-size: 0.24rem;
    line-height: 0.24rem;
    font-weight: 400;
    color: #323232;
    margin: 0.5rem 0.2rem 0.18rem;
}

.body-hqyhm .yhm-content .bottom .yhm-xinxi p {
    font-size: 0.28rem;
    line-height: 0.28rem;
    color: #379cea;
    margin: 0 0.2rem;
    text-decoration: underline;
}

.body-hqyhm .yhm-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.body-hqyhm .content-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.body-hqyhm .yhm-content .content-box {
    display: block;
    width: 100%;
    height: 100%;
}


.body-hqyhm .yhm-content .content-box ul{
    margin: 0 0.2rem;
}

.body-hqyhm .yhm-content .content-box ul li{
    width: 100%;
    padding: 0.3rem;
    border-radius: 0.1rem;
    overflow: hidden;
    margin-top: 0.1rem;
}

.body-hqyhm .yhm-content .content-box ul li .title{
    color: #323232;
    font-size: 0.32rem;
    margin-bottom: 0.2rem;
}

.body-hqyhm .yhm-content .content-box ul li .tips{
    color: #dadada;
    font-size: 0.14rem;
}

.body-hqyhm .yhm-content .content-box ul li img{
    width: 100%;
}

.body-hqyhm .yhm-content .content-box ul li .icon{
    width: 2rem;
    float: left;
    margin-right: 0.2rem;
    height: 1.41rem;
    overflow: hidden;
}

.body-hqyhm .yhm-content .content-box ul li .text-wrap{
     width: 4rem;
     float: right;
}

.body-hqyhm .yhm-content .content-box

.body-hqyhm .yhm-content .content-box .content, .body-hqyhm .yhm-content .content-box .content img {
    display: block;
    width: 3.69rem;
    height: 2.41rem;
    position: absolute;
    left: 50%;
    margin-left: -1.84rem;
    top: 50%;
    margin-top: -1.2rem;
}


.mui-control-content {
    /*background-color: white;*/
    min-height: 0.1rem;
}

.body-wsjs-ysq #item1mobile {

}





/*选项卡-点击添加下方滑块*/
.slider-active {
    position: relative;
    /*z-index: 9999;*/
}

.slider-active::after {
    content: '';
    background-color: #379cea;
    width: 100%;
    height: 0.04rem;
    position: absolute;
    top: 100%;
    margin-top: -0.04rem;
    left: 0;
}

.mui-slider-indicator.mui-segmented-control {
    margin-bottom: 0.04rem;
}

.body-wsjs-ysq .zt-tab-ml .cou-list-zt .num {
    display: block;
    color: #fff;
    background-color: #ea375d;
    font-size: 0.24rem;
    line-height: 0.42rem;
    text-align: center;
    width: 0.42rem;
    height: 0.42rem;
    border-radius: 0.04rem;
    position: absolute;
    right: 0;
    top: 0.2rem;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
    color: #000;
}

.body-xq-zt-play #item2mobile{
    display: block;
}

.body-wsjs-ysq .mui-slider-2,.body-wsjs-wsq .mui-slider-2{
    padding-bottom: 0;
}
.user-top div:nth-child(2){
    margin-right: 0.2rem;
    margin-top: 0.3rem;
    overflow: hidden;
}
.user-top p{
    /*white-space: nowrap;*/
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.mask-pingjia .input-grjs .text-num{
    position: absolute;
    bottom: 0.14rem;
    right: 0.14rem;
    color:#ccc;
    font-size: 0.2rem;
}
.mask-pingjia .input-grjs .text-num span{
    color: #379cea;
}

.cou-wenda li .wenda .btn-show-all{
    width: 1.8rem;
}
.search .search-frame{
    padding:0  0.5rem 0 0.2rem;
}
.body-tkjl .xq-js-cou ul,.body-tkjl .zt-tab-ml ul li{
    background: none;
}
.body-tkjl .xq-js-cou li:first-child{
    margin-top:0.9rem;
}

.padding-bottom li:last-child{
    margin-bottom: 1rem !important;
}

/*听课记录-选择框*/
.cou-list-zt .sel-frame{
    width: 0.38rem;
    height: 0.38rem;
    position: absolute;
    right: 0.3rem;
    top: 0.5rem;
    display: none;

    background-image: url("../images/select_def.png");
}

.cou-list-zt .sel-frame-sel{
    background-image: url("../images/select_sel.png");
}



/*所有页面-点击样式*/

h2,h3,.list-right{
    background:none;
}



.mui-slider-2 a:active{
    background-color: #999;
}
.mui-slider-2 a:active,.mui-bar-tab a:active,
.body-index .mui-slider-item ul li:active,
.btn-luguo:active,
.vip-free:active,
.way-youhui:active,
.search-tujian ul li:active,
.user-list ul li:active,
.btn-shenqing:active,
.js-gn-list li:active
{
    background-color: #eee;
}

/*蓝色*/
.bar-bottom-zt .right .btn-buy-zt:active,
.btn-pingjia:active,
.btn-wenda:active,
.btn-xf:active,
.btn-queding:active,
.btn-tijiao:active{
    background-color: #2c7bb8;
}

/*绿色*/
.btn-buy:active,
.btn-tijiao2:active{
    background-color: #369c42;
}

/*白色透明*/
.btn-jiaru:active{
background-color: rgba(255, 255, 255, .7);
}

/*文字点击*/
.xieyi p:active,
.cou-wenda li .wenda .btn-huida:active,
.cou-wenda li .wenda .btn-all-huida:active{
     color: #2c7bb8;
 }
.txt-js:active,
.user-top .txt-qm:active{
    color: #222;
}
.cou-wenda li .wenda .btn-show-all:active{
    color: #666;
}








.huida-list{
    padding-bottom: .2rem;
}
.height-5_5rem{
    height: 5.5rem;
}



/*  刷新 */

.mui-pull-top-tips {
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -25px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 1;
}
.mui-pull-top-tips {
    top: 24px;
}
.mui-pull-top-wrapper {
    width: 42px;
    height: 42px;
    display: block;
    text-align: center;
    background-color: #efeff4;
    border: 1px solid #ddd;
    border-radius: 25px;
    background-clip: padding-box;
    box-shadow: 0 4px 10px #bbb;
    overflow: hidden;
}
.mui-pull-top-tips.mui-transitioning {
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}
.mui-pull-top-tips .mui-pull-loading {
    /*-webkit-backface-visibility: hidden;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;*/
    margin: 0;
}

.mui-pull-bottom-tips {
    text-align: center;
    background-color: rgba(255,255,255,0);
    font-size: 15px;
    line-height: 40px;
    color: #777;
    padding-bottom: 1rem;
}

.mui-pull-bottom-wrapper {
    background: #fff;
}

.mui-pull-top-canvas {
    overflow: hidden;
    background-color: #fafafa;
    border-radius: 40px;
    box-shadow: 0 4px 10px #bbb;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}
.mui-pull-top-canvas canvas {
    width: 40px;
}
.mui-slider-indicator.mui-segmented-control {
    background-color: #ececec;
}

.pt-09rem{
    padding-top: 0.9rem;
}

audio{
    width:0;
    height: 0;
    visibility: hidden;
}

.mask-tixian .xieyi i {
    background: url("../images/frame_fang_def.png") no-repeat center;
    background-size: cover;
    display: block;
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.16rem;
}
.mask-tixian .xieyi i.active{
    background: url("../images/frame_fang_sel.png") no-repeat center;
    background-size: cover;
}

@-webkit-keyframes rotate{
    from {-webkit-transform: rotate(0deg)}
    to {-webkit-transform: rotate(360deg)}
}

@keyframes rotate{
    from {-webkit-transform: rotate(0deg)}
    to {-webkit-transform: rotate(360deg)}
}


@media screen and (orientation: landscape) {
    .circle-item {
        top: -44%;
    }
    .audio-previous {
        top: -42%;
    }
    .audio-next {
        top: -42%;
    }   
}

/*解决邀请界面输入框下面的虚线部分设备被li遮挡的问题*/
.input-zsxm,.input-lxfs,.input-grjs,.input-jknr{
    padding-bottom:1px;
}

@media all and (orientation : landscape){
    .course-play .btn-group {
        overflow: hidden;
        position: absolute;
        left: 19.5%;
        top: 0.6rem;
        width: 60%;
    }
    .course-play-audio{
        position: fixed;
        z-index: 100;
    }
    .course-play-audio{
        bottom: -0.5rem;
    }
    .course-play .btn-group img {
        width: 8%;
    }
}



