{template 'common/header'}
<style>
	.nameSpan{display: inline-block;width: 18%}
	.leftW{margin-left: 10%}
	#gbin1-list{margin-bottom: 10px}
</style>
<div class="main">
	<form action="" method="post" class="form-horizontal form"
		enctype="multipart/form-data">
		<input type="hidden" name="id" value="{$item['id']}" />


		<div class="panel panel-default">
			<div class="panel-heading">
				基本设置
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">数据库更新</label>
					<div class="col-sm-7 col-xs-12">
						<a href="{php echo $this->createWebUrl('setting2');}">
							<div  class="btn btn-info btn-sm">立即更新</div>
						</a>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">系统名称</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="aname" class="form-control" value="{$item['aname']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">系统标题</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="title" class="form-control" value="{$item['title']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">默认门店头像</label>
					<div class="col-sm-7 col-xs-12">
						{php echo tpl_form_field_image('avar', $item['avar']);}
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">网点查询自定义文本</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="wdcx" class="form-control" value="{$item['wdcx']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">系统公告</label>
					<div class="col-sm-5">
						<input type="text" name="notice" class="form-control" value="{$item['notice']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">系统主色调</label>
					<div class="col-sm-7 col-xs-12">
						{php echo tpl_form_field_color('color',$item['color']);}
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">门店排序方式</label>
					<div class="col-sm-7 col-xs-12">
						<label for="enabled3" class="radio-inline"><input type="radio" name="sort" value="1" id="enabled3" {if !empty($item['sort']) && $item['sort'] == 1}checked="true"{/if}  /> 按距离</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled4" class="radio-inline"><input type="radio" name="sort" value="0" id="enabled4"  {if empty($item['sort']) || $item['sort'] == 0}checked="true"{/if}  /> 手动排序</label>
					</div>
				</div>

				<!-- <div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">LBS查询范围</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="lbs_scope" class="form-control" value="{$item['lbs_scope']}" />
						<span>单位:千米(KM)</span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">手机端页面加载图</label>
					<div class="col-sm-7 col-xs-12">
						{php echo tpl_form_field_image('loadding', $item['loadding']);}
					</div>
				</div> -->
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">门店详情页是否放置返回首页图标</label>
					<div class="col-sm-7 col-xs-12">
						<label for="enabled5" class="radio-inline"><input type="radio" name="index_back" value="1" id="enabled5" {if !empty($item['index_back']) && $item['index_back'] == 1}checked="true"{/if} onclick="index_show()" /> 是</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled6" class="radio-inline"><input type="radio" name="index_back" value="0" id="enabled6"  {if empty($item['index_back']) || $item['index_back'] == 0}checked="true"{/if} onclick="index_hide()" /> 否</label>
					</div>
				</div>
				<script type="text/javascript">
					function index_show(){
						$('#index_back_thumb_box').show();
					}
					function index_hide(){
						$('#index_back_thumb_box').hide();
					}
				</script>
				<div id="index_back_thumb_box" class="form-group" {if $item['index_back'] == 1}{else}style="display:none;"{/if}>
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">返回首页图标</label>
					<div class="col-sm-7 col-xs-12">
						{php echo tpl_form_field_image('index_back_thumb', $item['index_back_thumb']);}
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">门店详情页是否放置自定义菜单</label>
					<div class="col-sm-7 col-xs-12">
						<label for="enabled7" class="radio-inline"><input type="radio" name="is_menu" value="1" id="enabled7" {if !empty($item['is_menu']) && $item['is_menu'] == 1}checked="true"{/if} onclick="index_show()" /> 是</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled8" class="radio-inline"><input type="radio" name="is_menu" value="0" id="enabled8"  {if empty($item['is_menu']) || $item['is_menu'] == 0}checked="true"{/if} onclick="index_hide()" /> 否</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">门店详情页是否开启评论</label>
					<div class="col-sm-7 col-xs-12">
						<label for="enabled9" class="radio-inline"><input type="radio" name="is_commen" value="1" id="enabled9" {if !empty($item['is_commen']) && $item['is_commen'] == 1}checked="true"{/if} onclick="index_show()" /> 是</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled10" class="radio-inline"><input type="radio" name="is_commen" value="0" id="enabled10"  {if empty($item['is_commen']) || $item['is_commen'] == 0}checked="true"{/if} onclick="index_hide()" /> 否</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">百度地图AK</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="bdak" class="form-control" value="{$item['bdak']}" />
					</div>
				</div>
			<!-- <div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">腾讯地图KEY</label>
				<div class="col-sm-7 col-xs-12">
					<input type="text" name="mapkey" class="form-control" value="{$item['mapkey']}" />
					<span class="help-block"><a href="http://lbs.qq.com/mykey.html" target="_blank">获取腾讯地图开发密钥</a></span>
				</div>
			</div> -->
			</div>
		</div>
		
		<div class="panel panel-info">
			<div class="panel-heading">
				版权设置
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">版权文字</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="copyright" class="form-control" value="{$item['copyright']}" />
						<span class="help-block">不填则无版权显示</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">版权跳转url</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="copyrighturl" class="form-control" value="{$item['copyrighturl']}" />
						<span class="help-block">不填则不跳转</span>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-success">
			<div class="panel-heading">
				分享设置
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享标题</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="sharetitle" class="form-control"
							   value="{$item['sharetitle']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享描述</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="sharedesc" class="form-control"
							   value="{$item['sharedesc']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享logo</label>
					<div class="col-sm-7 col-xs-12">
						{php echo tpl_form_field_image('sharelogo', $item['sharelogo']);}
					</div>
				</div>
			</div>
		</div>
		
		<div class="panel panel-danger">
			<div class="panel-heading">
				商家入驻设置
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否开启商家入驻</label>
					<div class="col-sm-7 col-xs-12">
						<label for="enabled1" class="radio-inline"><input type="radio" name="isopen" value="1" id="enabled1" {if !empty($item['isopen']) && $item['isopen'] == 1}checked="true"{/if} onclick="$('#picuser').show();$('#formattr').show();$('#formban').show();" /> 是</label>
	                    &nbsp;&nbsp;&nbsp;
	                    <label for="enabled2" class="radio-inline"><input type="radio" name="isopen" value="0" id="enabled2"  {if empty($item['isopen']) || $item['isopen'] == 0}checked="true"{/if} onclick="$('#picuser').hide();$('#formattr').hide();$('#formban').hide();" /> 否</label>
	                    <span class="help-block">如果开启,请先添加自定义字段,再回到这里设置表单信息</span>
					</div>
				</div>

				{if $item['isopen'] == 1}
					<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">商家入住URL</label>
					<div class="col-sm-7 col-xs-12">
						{php echo $_W['siteroot']."app/".substr($this->createMobileUrl('showform'),2)}
					</div>
				</div>
				{/if}

				<div id="picuser" class="form-group" {if empty($item['isopen']) || $item['isopen'] == 0} style="display:none;"{/if}>
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">引导入驻图片设置</label>
					<div class="col-sm-7 col-xs-12">
						
							{php echo tpl_form_field_image('openpic', $item['openpic']);}
						
						<span class="help-block">建议大小75*75,格式png背景透明图片</span>
					</div>
				</div>

				<div id="formban" class="form-group" {if empty($item['isopen']) || $item['isopen'] == 0} style="display:none;"{/if}>
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">banner图片</label>
					<div class="col-sm-5">
						{php echo tpl_form_field_image('formthumb', $item['formthumb']);}
						<span class="help-block">建议大小507*200,格式png背景透明图片</span>
					</div>
				</div>

				<div id="formattr" class="form-group" {if empty($item['isopen']) || $item['isopen'] == 0} style="display:none;"{/if}>
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">表单</label>
					<div class="col-sm-7 col-xs-12 gbin1-list">
					{loop $ziliao $a}
						<div class="form-control" id="gbin1-list" style="overflow:hidden;height:auto" draggable="true">
							<div><span class="nameSpan">{$a['id']} : {$a['name']} ({if $a['type']==1}多选{/if}{if $a['type']==2}填空{/if}{if $a['type']==3}下拉菜单{/if}{if $a['type']==4}市区街道{/if}{if $a['type']==5}三级联动{/if}{if $a['type']==6}手机{/if}{if $a['type']==7}姓名{/if})</span>
								<span class="CheckedSpan leftW"><input type="checkbox" name="attr_set[]" value="1_{$a['id']}" {if !empty($attr_arr2) && in_array($a['id'],$attr_arr2)}checked{/if}>必选</span>
								<span class="CheckedSpan leftW"><input type="checkbox" name="attr_set[]" value="0_{$a['id']}" {if !empty($attr_arr) && in_array($a['id'],$attr_arr)}checked{/if}>可选</span>
							</div>
						</div>
					{/loop}
					{loop $attr_info $a}
						<div class="form-control" id="gbin1-list" style="overflow:hidden;height:auto" draggable="true">
							<div><span class="nameSpan">{$a['id']} : {$a['name']} ({if $a['type']==1}多选{/if}{if $a['type']==2}填空{/if}{if $a['type']==3}下拉菜单{/if}{if $a['type']==4}市区街道{/if}{if $a['type']==5}三级联动{/if}{if $a['type']==6}手机{/if}{if $a['type']==7}姓名{/if})</span>
								<span class="CheckedSpan leftW"><input type="checkbox" name="attr_set[]" value="1_{$a['id']}" {if !empty($attr_arr2) && in_array($a['id'],$attr_arr2)}checked{/if}>必选</span>
								<span class="CheckedSpan leftW"><input type="checkbox" name="attr_set[]" value="0_{$a['id']}" {if !empty($attr_arr) && in_array($a['id'],$attr_arr)}checked{/if}>可选</span>
							</div>
						</div>
					{/loop}
					</div>
				</div>
				
			</div>
		</div>

		<div class="form-group">
			<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
			<div class="col-sm-9 col-xs-12">
				<input name="submit" type="submit" value="提交" class="btn btn-primary span3"> 
				<input type="hidden" name="token" value="{$_W['token']}" />
			</div>
		</div>

	</form>
</div>
<script>
	$("input[name='attr_set[]']").bind("click",function(){
			var index = $("input[name='attr_set[]']").index(this);
			if($(this).is(":checked")){
				$(this).parent().siblings().find("input").prop("checked",false);
			}
		});
		$(".CheckedSpan").bind("click",function(event){
			var self = this;
			if(event.target==self){
				if($(self).find("input").is(":checked")){
					$(self).find("input").prop("checked",false);
				}else{
					$(self).siblings().find("input").prop("checked",false);
					$(self).find("input").prop("checked",true);
				}
	        }
		});
</script>
<script type="text/javascript" src="../addons/jy_nearby/js/jquery.sortable.js"></script>
	<script>
		$('.gbin1-list').sortable().bind('sortupdate', function() {});
		
	</script>