@charset "utf-8";
*{
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}
body{
    position: relative;
    margin:0;
    padding:0;
    font-family:"microsoft yahei",Verdana,Arial,Helvetica,sans-serif;
    font-weight: inherit;
    font-size: 14px;
    line-height:40px;
    color: #333;
    background: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
div,span,p,ul,h1,h2,h3,h4,h5,button,table,tr,th,td,form,input{
    margin:0;
    padding:0;
    border: none;
    line-height: 20px;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
    color:#333;
}
a:hover{
    color: #333;
    text-decoration:none;
}
button{
    background: none;
    cursor: pointer;
}
input{
    background: none;
}
input::-webkit-input-placeholder{
    color: #486c26;
}
button:focus,input:focus,textarea:focus{
    outline: none;
}
img{
    border:none;
    margin:0;
    padding:0;
    vertical-align: bottom;
}
.clear{
    clear:both;
}
@media (min-width: 768px){
    body{
        position: absolute;
        width: 375px;
        height: 667px;
        top: 50%;
        left: 50%;
        margin-top: -333.5px;
        margin-left: -187.5px;
    }
}






