<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default " id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-5">
        <li>
            <a href="{php echo $this->createMobileUrl('index', array(), true)}">
                {if empty($setting['btn_url1'])}
                <span class="am-icon-refresh am-icon-spin"></span>
                {else}
                <span>
                    <img src="{php echo tomedia($setting['btn_url1']);}">
                </span>
                {/if}
                <span class="am-navbar-label">{if empty($setting['btn1'])}一键转帖{else}{$setting['btn1']}{/if}</span>
            </a>
        </li>
        <li>
            <a href="{php echo $this->createMobileUrl('list', array(), true)}" class="">
                {if empty($setting['btn_url2'])}
                <span class="am-icon-folder-open"></span>
                {else}
                <span>
                    <img src="{php echo tomedia($setting['btn_url2']);}">
                </span>
                {/if}
                <span class="am-navbar-label">{if empty($setting['btn2'])}我的文章{else}{$setting['btn2']}{/if}</span>
            </a>
        </li>
        <li>
            <a href="http://zixun.html5.qq.com/wechathot/?plg_nld=1&plg_uin=1&plg_auth=1&plg_usr=1&plg_dev=1&plg_vkey=1&plg_nld=1&ch=060000#tab/wxtab1/热文/060000" class="">
                热门文章
            </a>
        </li>

    </ul>
</div>