{template 'common/header'}  
<style type="text/css">
	.mytable1{width:80%;height: 100px;margin:0 auto;}
	 
	.mytable1 td{vertical-align: middle; padding: 10px 10px;}
	.mytable1 .left{width: 35%;text-align: right;}
	.mytable1 .right{width: 64%;text-align: left;}
</style>
<script type="text/javascript" src="{PUB}util.js"></script>
<link rel="stylesheet" type="text/css" href="{PUB}main.css"/>
<div class="panel panel-info">
	<div class="panel-heading" style="text-align: center;">表单记录</div>
	<div class="panel-body" style="font-size: 16px;">
		<form class="form-horizontal" method="post" id="serForm"  action="<?php echo $this->createWebUrl('saveform');?>">
			{loop $fields $index $fff}
				{loop $values $index2 $val}
				<?php if($fff['name']==$val['fieldname']){?>
				<div class="form-group">
				    <label for="" class="col-sm-4 control-label">{$fff['label']}</label>
				    <div class="col-sm-5" style="padding-top:7px;">
				       {$val['value']}
				    </div>
				    
				</div>  
				<?php } ?> 
				{/loop}
			{/loop}
		  
		  
		  
		  
		  <div class="form-group">
		    <label for="" class="col-sm-4 control-label"></label> 
		    <div class="col-sm-5">  
		      <input type="button"  onclick="history.go(-1)"   class="mybtn" value="返回">
		    </div> 

		  </div>
		   
		  
		</form>
	</div>
</div>
 
 
{template 'common/footer'}