{template 'web/common/header'}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>商品单独价格表</h5>
                    <h5 style="float: right"><a class="glyphicon glyphicon-refresh" href="{php echo $this->createWebUrl('storesingleprice')}"></a></h5>
                </div>
                <div class="ibox-content">
                    <a href="{php echo $this->createWebUrl('storesingleprice', array('op' => 'add'));}" class="btn btn-primary">
                        <i class="fa fa-plus"></i>添加商品单独价格</a>
                    <form class="form-horizontal form" method="post" >
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th width="60px">id</th>
                                <th>店铺售价</th>
                                <th>会员统一价</th>
                                <th>会员优惠方式</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {loop $list $item}
                            <tr>
                                <td>
                                    {$item['id']}
                                </td>
                                <td>{$item['ssp_storePrice']}</td><!--店铺售价-->
                                <td>{$item['ssp_memberPrice']}</td><!--会员统一价-->
                                <td>
                                    {if $item['ssp_memberDiscountType'] == 1}<span class="badge badge-primary">积分</span>{elseif $item['ssp_memberDiscountType'] == 2}<span class="badge badge-primary">打折</span>{else}<span class="badge badge-primary">特价</span>{/if}
                                </td><!--会员优惠方式-->
                                <td>
                        <span>
							<a href="{php echo $this->createWebUrl('storesingleprice', array('op' => 'add', 'id'=>$item['id']))}" title="编辑" class="btn btn-primary btn-sm">编辑</a>
								<a onclick="return confirm('此操作不可恢复，确认吗？'); return false;" href="{php echo $this->createWebUrl('storesingleprice',array('op'=>'delete','id'=>$item['id']))}" title="删除" data-toggle="tooltip" data-placement="top" class="btn btn-default btn-sm">删除</a>

                        </span>
                                </td>
                            </tr>
                            {/loop}
                            </tbody>
                        </table>
                        <table class="footable table table-stripped toggle-arrow-tiny footable-loaded tablet breakpoint">
                            <thead>
                            {if $list}
                            <tr>
                                <td class="footable-visible"><ul class="pagination pull-right">{$pager}</ul></td>
                            </tr>
                            {else}
                            <tr style="text-align: center"><td >没有找到对应的记录</td></tr>
                            {/if}
                            </thead>
                        </table>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{template 'web/common/footer'}