body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,
form,fieldset,legend,button,input,textarea,th,td,section,p,span,font,div{margin:0;padding:0;font-family:"Microsoft yahei";color:#333;}
body,button,input,select,textarea{font:12px/1.5 "Microsoft yahei",tahoma,arial,\5b8b\4f53;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:"Microsoft yahei";}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;color: #333;}
a:hover{text-decoration: none;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
html,body{height: 100%;background-color: #F5F4F4;max-width: 640px;margin: 0 auto;}
header{width:100%;height:auto;max-height: 180px;}
/*.swiper-slide{text-align: center;font-size: 18px;background: #fff;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;
}*/
.swiper-slide{max-height: 180px;}
.swiper-slide .indexname{position: absolute;bottom: 0;z-index: 10;padding: 2% 5%;color: #fff;font-size: 14px;width: 90%;text-align: left;
background: -ms-linear-gradient(top, rgba(0,0,0,0.1),  rgba(0,0,0,0.8));
background:-moz-linear-gradient(top,rgba(0,0,0,0.1),rgba(0,0,0,0.8));
background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(rgba(0,0,0,0.1)), to(rgba(0,0,0,0.8)));
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,0.8)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.8));
background: -o-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.8));  
}
.showdetail{width: 100%;height: 100%;position: fixed;bottom: 0;z-index: 1;background-color: #fff;}
.showdetail .title{text-align: center;font-size: 16px;padding: 15px 0;color:#000;}
.showdetail .content{padding: 15px 10px;}
.showdetail .return{width: 80%;padding: 10px 5%;text-align: center;position: absolute;bottom: 15px;left:5%;border-radius:5px;background-color: #f7f7f7;border: 1px solid #e3e3e3;font-size: 16px;}
.type{width: 100%;margin: 10px 0;background-color: #fff;padding: 5px 0;}
.type ul:after{content:'';display:block;height:0;clear: both;}
.type li{float: left;width: 25%;text-align: center;background-color: #fff;margin: 5px 0;}
.type li img{display: block;width: 40%;margin: 0 auto;}
.notice{padding: 10px 0;background-color: #fff;width: 100%;}
.notice:after{content:'';display:block;height:0;clear: both;}
.notice .title{font-size: 16px;color: #6BA74F;border-right: 1px solid #A0A0A0;float: left;text-align: center;width: 25%;}
.notice .content{font-size: 16px;color: #000;float: left;width: 74.5%;height:25px;overflow: hidden;}
.notice .content marquee{height: 25px;width: 95%;float: left;margin-left: 4%;}
.notice .content span{border:1px solid #F388AD;border-radius: 5px;padding: 0 4px;color:#F388AD;margin: 0 5px;}
.point{margin: 10px 0;}
.point-div{background-color: #fff;padding: 5px 5% 0;width: 90%;margin: 5px 0;}
.point-div .con{width: 100%;}
.point-div .con .detail{width: 100%;position: relative;}
.point-div .con .detail:after{content:'';display:block;height:0;clear: both;}
.point-div .con .detail .pic{width: 130px;float: left;}
.point-div .con .detail .title{line-height: 25px;float: left;margin-left: 2%;max-width: 52%;overflow: hidden;}
.point-div .con .detail .title h3{font-size: 16px;color: #000;}
.point-div .con .detail .disc{float: left;position: absolute;bottom: 15px;right: 0;color: #AFADAD;width: 15%;text-align: center;}
.point-div .con .detail .disc{border-radius: 5px;background-color:#6BA74F;color: #fff;padding: 5px;}
.point-div .con .contact{width: 100%;}
.point-div .con .contact:after{content:'';display:block;height:0;clear: both;}
.point-div .con .contact .tel{width: 49.5%;float: left;margin-top: 3px ;border-right: 1px solid #e3e3e3;text-align: center;padding: 0;margin-bottom: 3px;}
.point-div .con .contact .nav{width: 50%;float: left;margin-top: 3px ;text-align: center;}
.contact .mid{width: 60%;margin: 0 auto;font-size: 20px;}
.contact .mid img{display: block;float:left;margin-right: 10px;width: 20%;margin-top:7px;}
.contact .mid span{display: block;float:left;height: 30px;line-height: 30px;color:#000;font-size: 14px;}

/**type**/
.head{width: 90%;margin: 10px auto 15px;border-bottom:1px solid #6BA74F;padding: 5px 0;}
.head:after{content:'';display:block;height:0;clear: both;}
.head div{float:left;text-align: center;width: 49.5%;height:25px;line-height: 25px;font-size: 18px;}
.head .discont{color: #5E5B5C;} 
.head .new{border-right: 1px solid #6BA74F;}
.upload{text-align: center;padding:10px;}
.upload:after{content:'';display:block;height:0;clear: both;}
.upload img{display: block;float: left;margin: 0 auto;}
/*showDetail*/
.names{width: 90%;padding: 10px 0;background-color: #fff;padding:15px 5%;}
.names .content{width: 97%;border-bottom: 1px solid #a3a3a3;padding-left:3%;font-size: 18px;color: #a3a3a3;position: relative;}
.names .content span{border-radius: 5px;border:1px solid #6BA74F;background-color: #6BA74F;color: #fff;font-size: 12px;position: absolute;right: 0;padding:0 3px;}
.storeinfo{width:90%;margin: 3px 0;padding: 15px 5%;background-color: #fff;}
.storeinfo .s-name{width: 100%;}
.storeinfo .s-name .nm{float: left;font-size: 18px;color: #6BA74F;}
.storeinfo .s-name .star{float: right;width: 40%;}
.storeinfo .s-name .star li{float: right;margin: 0 2px;width: 16%;}
.storeinfo .s-name:after{content:'';display:block;height:0;clear: both;}
.storeinfo .poi{margin-top:10px;}
.storeinfo .poi:after{content:'';display:block;height:0;clear: both;}
.storeinfo .poi .pi{float: left;margin-right: 10px;width: 20px;}
.storeinfo .poi .txt{float: left;color: #000;font-size: 14px;max-width: 80%;}
.showopen{width:90%;margin: 2px 0;padding: 15px 5%;background-color: #fff;font-size: 18px;}
.showopenm{width:90%;margin: 2px 0;padding: 5px 5%;background-color: #fff;}
.showopenm:after{content:'';display:block;height:0;clear: both;}
.showopenm .ctn{float: left;padding: 5px;}
.showopenm .btw{float: right;padding: 5px 5px;border-radius: 5px;background-color: #6BA74F;color: #fff;}



.tel{width:86%;margin: 10px 0;padding: 5px 7%;background-color: #fff;}
.tel .poi:after{content:'';display:block;height:0;clear: both;}
.tel .poi .pi{float: left;margin-right: 10px;width: 20px;}
.tel .poi .txt{float: left;color: #000;margin-top: 0px;font-size: 14px;}
.showcontent{width: 90%;background-color: #fff;margin-top: 2px;padding: 15px 5%;min-height:200px;}
.showcontent .title{font-size: 18px;color: #6BA74F;margin-bottom: 10px;}
.showcontent .content{width: 100%;}
.showcontent .content img{width: 100%;}
.showname{position: absolute;bottom: 0;z-index: 1000;width: 90%;padding:2% 5%;color: #fff;font-size: 14px;
background: -ms-linear-gradient(top, rgba(0,0,0,0.1),  rgba(0,0,0,0.8));
background:-moz-linear-gradient(top,rgba(0,0,0,0.1),rgba(0,0,0,0.8));
background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(rgba(0,0,0,0.1)), to(rgba(0,0,0,0.8)));
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,0.8)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.8));
background: -o-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.8));  }
.showtype{position: absolute;top: 10px;padding:2px 8px;background-color: rgba(0,0,0,0.5);color: #fff;z-index: 10;}

.copyright{text-align: center;margin:14px 0;width: 100%;padding-bottom: 40px;font-size: 14px;}
footer{background-color: #fff;position: fixed;bottom: 0;width: 100%;}
footer .abc{width: 50%;margin: 0 auto;color: #fff;font-size: 16px;}
footer .abc img{float: left;}
footer:after{content:'';display:block;height:0;clear: both;}
footer img{width: 25px;display: block;margin: 0 auto;}
footer .nav{width: 49.5%;text-align: center;background-color: #6BA74F;float: left;padding: 10px 0;color:#fff;}
footer .tels{width: 50%;text-align: center;background-color: #6BA74F;float: right;padding: 10px 0;color:#fff;}
