
@font-face {
	font-family: "iconthree";
	font-weight: normal;
  font-style: normal;
  src: url('../fonts/iconthree.ttf') format('truetype');
}

.iconfont {
  font-family:"iconthree" !important;
}

.iconfont {
	top: 3px;
    width: 24px;
    height: 24px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 22px;
    position: relative;
    z-index: 20;
    
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}
.iconfont~.mui-tab-label{font-size:11px;display:block;overflow:hidden;text-overflow:ellipsis}
.iconfont-active{color:#007aff}


.icon-msnui-scan:before { content: "\e669"; }

.icon-weibiaoti2:before { content: "\e63a"; }

.icon-tongxunlu:before { content: "\e6b5"; }

.icon-chazhaofangyuan:before { content: "\e629"; }

.icon-87:before { content: "\e67b"; }

.icon-my:before { content: "\e609"; }

.icon-jiediankehuxiangying:before { content: "\e6fa"; }

.icon-gengduo:before { content: "\e670"; }

.icon-addressbook2-copy:before { content: "\e62b"; }

.icon-dianhua:before { content: "\e608"; }

.icon-loufang:before { content: "\e64f"; }

.icon-saoma:before { content: "\e648"; }

.icon-tabsaoma:before { content: "\e671"; }

.icon-suoyoukehu:before { content: "\e62c"; }

.icon-baobiao2:before { content: "\e6d2"; }

.icon-zhuye:before { content: "\e602"; }

.icon-wo:before { content: "\e60f"; }

.icon-haofangtuoiconfont_kehuguanli:before { content: "\e703"; }

.icon-29:before { content: "\e672"; }

.icon-wenjian:before { content: "\e664"; }

.icon-gengduo1:before { content: "\e60a"; }

.icon-guanlikehu:before { content: "\e678"; }

.icon-baobiaotongji:before { content: "\e612"; }

.icon-kehuguanli:before { content: "\e61b"; }

.icon-wenjian1:before { content: "\e60c"; }

.icon-xinzengyugengxinkehudangan:before { content: "\e646"; }

.icon-wenjian2:before { content: "\e654"; }

.icon-saomasoudan:before { content: "\e63d"; }

.icon-gengduo2:before { content: "\e61c"; }

.icon-wenjian3:before { content: "\e793"; }
