{template 'common/header'}
<link href="//cdn.bootcss.com/weui/0.4.2/style/weui.min.css" rel="stylesheet">
<link href="{MODULE_URL}public/libs/ionic/css/ionic.css" rel="stylesheet">
<link href="//cdn.bootcss.com/Swiper/3.3.1/css/swiper.min.css" rel="stylesheet">
<style>
    .item{
        padding-top: 8px;
        padding-bottom:8px;
    }
</style>
<div class="panel">
    {template 'home/header'}
    <div class="item item-icon-left item-icon-right" onclick="window.location.href='{php echo $this->createMobileUrl('home_edit')}'">
        <i class="icon ion-ios-copy-outline"></i>
        我的资料
        <i class="icon ion-ios-arrow-forward"></i>
    </div>
    <div class="item item-icon-left item-icon-right" onclick="window.location.href='{php echo $this->createMobileUrl('home_manage')}'">
        <i class="icon ion-ios-paper-outline"></i>
        我的课程
        <i class="icon ion-ios-arrow-forward"></i>
    </div>
    <div class="item item-icon-left item-icon-right" onclick="window.location.href='{php echo $this->createMobileUrl('home_seat')}'">
        <i class="icon ion-ios-alarm-outline"></i>
        我的单车
        <i class="icon ion-ios-arrow-forward"></i>
    </div>
    <div class="item item-divider" style="min-height:0px;"></div>
    <div class="item item-icon-left item-icon-right scanqrcode" data-type="seat_log">
        <i class="icon ion-ios-navigate-outline"></i>
        单车签到
        <i class="icon ion-ios-arrow-forward"></i>
    </div>
    <div class="item item-divider" style="min-height:0px;"></div>
    {php $setting = M('setting')->getSetting('open');}
    {php $link = $setting['credit_link']}
    <div class="item item-icon-left item-icon-right" onclick="window.location.href='{php echo $link}'">
        <i class="icon ion-ios-shuffle"></i>
        积分兑换
        <i class="icon ion-ios-arrow-forward"></i>
    </div>
    <div style="height:44px;"></div>
</div>
{template 'common/footerbar'}
<script>
    require(["{MODULE_URL}public/libs/jquery_weui/jquery-weui.js"],function(){
        $('.scanqrcode').click(function(){
            var type = $(this).data('type');
            scanqrcode(type);
        });
        function scanqrcode(type){
            wx.config(jssdkconfig);
            wx.ready(function(){
                wx.scanQRCode({
                    needResult: 0,
                    scanType: ["qrCode","barCode"],
                    success: function (res) {}
                });
            });
        }
    });
</script>
{template 'common/footer'}