{template 'web/common/header-base-index'}
<div class="wrapper wrapper-content" style="padding-top: 0px;padding-bottom: 0px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>短息记录</h5>
                    <h5 style="float: right"><a class="glyphicon glyphicon-refresh" href="{php echo $this->createWebUrl('smsmarketing', array('op' => 'smssendrecord'))}"></a></h5>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tabs-container">
                                <ul class="nav nav-tabs">
                                    <li class=""><a href="{php echo $this->createWebUrl('smsmarketing', array('op' => 'list'))}"><i class="fa fa-lg fa-telegram" style="color: #ed8902"></i>短信群发</a></li>
                                    <li class=""><a href="{php echo $this->createWebUrl('smsmarketing', array('op' => 'smsbirthdaycare'))}"><i class="fa fa-lg fa-calendar-check-o" style="color: #e10c14"></i>生日关怀</a></li>
                                    <li class=""><a href="{php echo $this->createWebUrl('smsmarketing', array('op' => 'smstemplate'))}"><i class="fa fa-lg fa-ticket" style="color:#0abc89"></i>短信模板</a></li>
                                    <li class="active"><a href="{php echo $this->createWebUrl('smsmarketing', array('op' => 'smssendrecord'))}"><i class="fa fa-lg fa-industry" style="color:dodgerblue"></i>短信记录</a></li>
                                    <!--<li class=""><a href="{php echo $this->createWebUrl('smssign')}"><i class="fa fa-lg fa-magic" style="color:deeppink; display: none;"></i>短信签名</a></li>-->
                                    <li class=""><a href="{php echo $this->createWebUrl('smsmarketing', array('op' => 'smsinterface'))}"><i class="fa fa-lg fa-bandcamp" style="color:green"></i>短信接口</a></li>
                                    <li class=""><a href="{php echo $this->createWebUrl('smsmarketing', array('op' => 'smspackage'))}"><i class="fa fa-lg fa-tasks" style="color:purple"></i>短信套餐</a></li>

                                </ul>
                                <div class="tab-content">
                                    <form class="form-horizontal form" method="post" >
                                        <div class="table-responsive panel-body"><!--头部样式-->
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th style="width: 10%">单据号</th>
                                                    <th style="width: 25%">模板名称</th>
                                                    <th style="width: 40%">内容</th>
                                                    <th style="width: 10%">接收手机号</th>
                                                    <th style="width: 10%">发送状态</th>
                                                    <th style="width: 10%">发送时间</th>
                                                    <th style="width: 5%">操作</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {loop $recording $item}
                                                <tr>
                                                    <td>{$item['ssr_outId']}</td><!--单据号-->
                                                    <td>{$item['ssr_templateName']}</td><!--模板名称-->
                                                    <td>{$item['ssr_sendContent']}</td><!--内容-->
                                                    <td>{$item['ssr_sendPhoneNumber']}</td><!--手机号-->
                                                    <td>
                                                        <p>{if $item['ssr_sendStatus'] == 1}<span class="label label-primary">已发送</span>{else}<span class="label label-default">未发送</span>{/if}</p><!--状态-->
                                                    </td>
                                                    <td>{php echo date('Y-m-d H:i:s', $item[ssr_addTime]);}</td>
                                                    <td>
                                                        <a onclick="return confirm('此操作不可恢复，确认吗？'); return false;" href="{php echo $this->createWebUrl('smsmarketing',array('op'=>'smssendrecorddelete','id'=>$item['id']))}" title="删除" data-toggle="tooltip" data-placement="top" class="btn btn-default btn-sm">删除</a>
                                                    </td>
                                                </tr>
                                                {/loop}
                                                </tbody>
                                            </table>
                                            <table class="footable table table-stripped toggle-arrow-tiny footable-loaded tablet breakpoint">
                                                <thead>
                                                {if $recording}
                                                <tr>
                                                    <td class="footable-visible"><ul class="pagination pull-right">{$pager}</ul></td>
                                                </tr>
                                                {else}
                                                <tr style="text-align: center"><td >没有找到对应的记录</td></tr>
                                                {/if}
                                                </thead>
                                            </table>
                                        </div>
                                            </form>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



{template 'web/common/footer'}