*{
    margin: 0;
    border: 0;
    padding: 0;

}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clearfix {
    zoom: 1;
}
button{
    user-select:none;
    -webkit-user-select:none;
}
a,button,input,textarea{-webkit-tap-highlight-color: rgba(0,0,0,0)}
body{
    background-color: white;
}
.full_screen{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.t1{
    font-size: 32px;
}
.t2{
    font-size: 28px;
}
.t3{
    font-size: 24px;
}
.t4{
    font-size: 20px;
}

.t1_rem{
    font-size: 0.16rem;
}
.t2_rem{
    font-size: 0.14rem;
}
.t3_rem{
    font-size: 0.12rem;
}
.t4_rem{
    font-size: 0.10rem;
}

.single_line{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    clear: both;
}

.c0_white{
    color: white;
}
.c1{
    color: #3c3c3e;
}
.c2_dark{
    color: #666666;
}
.c3{
    color: #999999;
}
.c4_red{
    color: #ff5f56;
}
.c5_orange{
    color: #fd8738;
}
.c6{
    color: #a4adb0;
}
.c7{
    color: #2f96e6;
}
.c8{
    color: #757575;
}
.c9{
    color: #3B7BBB;
}

/*播放进度特殊颜色*/
.c_rate{
    color: #347CB4;
}

.background_default{
    background-color: #ffffff;
}
.background_light_gray{
    background-color: #f9f9f9;
}
.background_gray{
    background-color: #E3E3E3;
}
.background_orange{
    background-color: #ff9908;
}
.background_blue{
    background-color: #6b93e6;
}
.background_dark_blue{
    background-color: #5373b6;
}
.background_blue_new{
    background-color: #2f96e6;
}
.background_red{
    background-color: #ec453c;
}
.background_press_blue{
    background-color: #7d8caa;
}
.background_press_gray{
    background-color: #7d7d7d;
}
.background_press_div{
    background-color: rgba(125, 125, 125, 0.2)!important;
}
.background_press_red{
    background-color: #CA3E36;
}
.background_press_blue_new{
    background-color: #2B81C3;
}
.background_gray_button_default{
    background-color: #C1C7CB;
}
.background_gray_button_press{
    background-color: #A2A8AC;
}

.no_highlight{
    text-decoration: none;
}
.no_highlight:link{
    color: black;
    text-decoration: none;
}
.no_highlight:visited{
    color: black;
    text-decoration: none;
}
.no_highlight:hover{
    color: black;
    text-decoration: none;
}