*{margin:0;padding:0;border:0;list-style:none;font-family:"微软雅黑"}
body,html{position:relative;height:100%}
img{display:block;width:100%;height:auto}
#allmap{overflow:hidden;width:100%;height:60%;}
a{color:#000;text-decoration:none}
ul{list-style:none}
.fl{float:left}
.fr{float:right}
.clear{clear:both;overflow:hidden;height:0}
.fenge{width:100%;height:2px;background-color:#ccc}
.info-txt{position:relative;overflow:hidden;height:30px}
.info-txt span{float:left;margin:2px;height:24px;font-size:16px;line-height:24px}
.info-txt img{width:18px;height:18px}
.info-txt .no{display:none}
.info-txt-icon{float:left;margin-top:3px;margin-bottom:3px;margin-left:2px;height:16px;border:1px #ff6b2a solid;color:#ff6b2a;font-size:12px;line-height:16px}
.info-txt2{position:relative;overflow:hidden;margin:8px 5px 0;color:#898989;text-overflow:ellipsis;white-space:nowrap;font-size:12px;line-height:18px}
.info-txt3{position:relative;overflow:hidden;height:20px;color:#ff6b2a;font-size:14px}
.info-icon{position:relative;overflow:hidden;margin-top:5px;height:20px;font-size:13px}
.info-icon .item{float:left;margin-right:10px;padding-left:15px;line-height:19px}
.info-icon .yes{background:url(/weChat/lbs/rsBike/images/d_07.jpg) no-repeat left center;color:#333}
.info-icon .no{background:url(/weChat/lbs/rsBike/images/d_09.jpg) no-repeat left center;color:#9FA0A0}
.info-btn{position:relative;overflow:hidden;margin:10px auto 0;font-size:14px}
.info-btn a{color:#fff;text-decoration:none}
.info-btn-l{float:left;margin:0 0 0 5px;width:45%;border-radius:5px;background:#ff6b2a;text-align:center;line-height:32px}
.info-btn-r{float:right;margin:0 5px 0;width:45%;border-radius:5px;background:#ff6b2a;text-align:center;line-height:32px}
.hide{display:none!important}
.btn-sm{background-color:#f2f2f2}
.mobile-hds{padding:0 10px;height:45px;background-color:#dd514c;color:#fff;font-size:14px;line-height:45px}
.mobile-hds span{margin-top:5px;height:35px}
.mobile-hds span img{padding:2px;height:30px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background-color:#fff;line-height:45px;filter:Alpha(opacity=70)}
.mobile-hds .listbn{display:inline-block;padding:0 10px;height:30px;color:#FFF;text-decoration:none;font-size:30px;line-height:48px}
.mobile-hds .list{position:absolute;top:30px;right:0;z-index:9999;overflow-x:hidden;overflow-y:scroll;padding:0;max-height:280px;background:rgba(255,255,255,.7);list-style:none;filter:Alpha(opacity=80)}
.mobile-hds .list li>a{display:block;padding:0 10px;height:35px;min-width:100px;color:#333;text-decoration:none;font-size:14px;line-height:35px}
.mobile-hds .list li>a i{display:inline-block;margin-right:5px;width:20px}
.mobile-hds .list li>a i img{height:20px}
.mobile-hds .list li>a.smtype{padding-left:15px;font-size:15px}
.btn{display:inline-block;margin-bottom:0;padding:6px 12px;border:1px solid transparent;border-radius:4px;background-image:none;vertical-align:middle;text-align:center;white-space:nowrap;font-weight:400;font-size:14px;line-height:1.42857143;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.btn.active:focus,.btn:active:focus,.btn:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
.btn:focus,.btn:hover{color:#333;text-decoration:none}
.btn.active,.btn:active{outline:0;background-image:none;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}
.btn.disabled,.btn[disabled],fieldset[disabled] .btn{-webkit-box-shadow:none;box-shadow:none;opacity:.65;cursor:not-allowed;pointer-events:none;filter:alpha(opacity=65)}
a.toplink{float:left;display:inline-block;margin:0;width:33.3%;color:#fff;text-align:center}
a.toplink:nth-child(1){text-align:left}
a.toplink:nth-child(3){text-align:right}
.BMap_Marker div img{display:block;margin-top:0;margin-left:0;width:92%;height:92%;border:none}
@media screen{.smnoscreen{display:none}
}
@media print{.smnoprint{display:none}
}
.Leftback{position:fixed;bottom:16%;z-index:1000;display:inline-block;width:50px;height:50px;border-radius:50%;background-color:rgba(0,0,0,.5);color:#fff;text-align:center;font-size:16px;line-height:50px}
.bkheight{height:65%}
.bkheight1{height:30%}
.loading{ width:40%; height:30%; border-radius:10px; background:rgba(0,0,0,0.8); position:fixed;top:50%; left:50%; margin:-25% -20%; z-index:9999}
.loading img{ width:40%; height:auto; margin:30%; margin-bottom:20%;}
.loading p{ text-align:center; color:#FFF; font-size:16px;}
.fenlei_box{ width:90%; height:40%; position:fixed; bottom:0px; left:0px; padding:3% 5%; font-size:16px }
.title{ width:90%; height:10%;}
.select{ width:90%; height:18%;padding:5%}
.select select{ width:100%; height:100%; border:1px solid #CCC; border-radius:5px;}
.submit{ width:90%; height:18%;padding:5%}
.submit button{ width:100%; height:100%; border:0px; background:#37cebe; color:#fff; border-radius:5px; font-size:16px }
/*markers*/
.markers_box{ width:70%; padding:5%; height:auto; background:#fff; border-radius:5px; position:absolute; top:45%; left:50%; margin:-50% -40%;}
.img_box{ width:100%; height:auto; padding:0 0 5% 0; border-bottom:1px solid #ccc; position:relative}
.markers_img{ width:25%; height:20%; border-radius:5px; border:1px solid #09F; display:inline-block;}
.name_box{width:70%; float:right;}
.markers_name{ }
.markers_level{ font-size:18px; color:#1296db}
.markers_tel_btn{width:40%;height:10%; margin:5%;color:white;background:#1296db;text-align:center;border-radius:2px;line-height:36px; display:inline-block;}
.markers_saddress{width:40%;height:10%; margin:5%;color:white;background:#1296db;text-align:center;border-radius:2px;line-height:36px; display:inline-block;}
.markers_clo{ width:10%; height:auto; position:absolute; top:10px; right:10px;}
.markers_peple{ width:10%; height:auto; border-radius:50%; background:#fff; position:absolute;margin-bottom: -7%; bottom:0; right:0; padding:2%; border:1px solid #1296db;}
.markers_tel{ margin:3% 0;}
.dianzhang_box{ width:90%; height:180px; padding:5%; border:1px solid #ccc; display:none;}
.dianzhang_touxiang{ width:30%; height:auto; margin:0% auto; }
.dianhua_img{ width: 1.3rem; height:auto; display:inline-block}