{template 'common/header'}
<style>
    .fen { border:none;}
    .fen>li.active>a, .fen>li.active>a:hover, .fen>li.active>a:focus { border:1px solid transparent;}
    .fen>li>a { border-radius:0;padding:10px 30px;}
</style>
<div class="main">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="{php echo $this->createWebUrl('setting', array('page' => 'index'))}">权限管理</a>
        </li>
        <li>
            <a href="{php echo $this->createWebUrl('reporting', array('page' => 'index'))}">报表统计</a>
        </li>
        <li>
            <a href="{php echo $this->createWebUrl('system', array('page' => 'index'))}">系统设置</a>
        </li>
        <li>
    </ul>
    <ul class="nav nav-tabs fen">
        <li>
            <a href="{php echo $this->createWebUrl('setting', array('page' => 'index'))}">角色</a>
        </li>
        <li class="active">
            <a href="{php echo $this->createWebUrl('setting', array('page' => 'team'))}">角色组</a>
        </li>
    </ul>
    <div class="panel panel-info">
        <div class="panel-heading">筛选</div>
        <div class="panel-body">
            <form action="./index.php" method="get" class="form-horizontal" role="form">
                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <label>组名</label>
                    <input class="form-control col-lg-offset-1 col-md-offset-1" name="actor-tel" type="text" value="" style="width:60%;display: inline-block;margin-right:3%">
                    <button class="btn btn-md btn-primary">查询</button>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body table-responsive">
            <h4>组名列表</h4>
            <table class="table table-hover">
                <thead class="navbar-inner">
                <tr>
                    <th class="text-center" style="width:5%;">序号</th>
                    <th class="text-center" style="width:25%;">组名</th>
                    <th class="text-center" style="width:15%;">成员</th>
                    <th class="text-center" style="width:30%;">备注</th>
                    <th class="text-center" style="width:25%;">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center">1</td>
                    <td class="text-center">排课员</td>
                    <td class="text-center">5</td>
                    <td class="text-center">这里是一大堆备注信息</td>
                    <td class="text-center">
                        <a href="javascript:;" class="btn btn-primary btn-sm edit-team" data-toggle="tooltip" data-placement="top" title="管理成员">管理成员</a>
                        <a href="javascript:;" class="btn btn-primary btn-sm edit-manage" data-toggle="tooltip" data-placement="top" title="管理成员">管理权限</a>
                        <a href="{php echo $this->createWebUrl('setting', array('page' => 'team-edit'))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="编辑"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;
                        <a href="javascript:;" onclick="return confirm('此操作不可恢复，确认删除？');return false;" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="删除"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">2</td>
                    <td class="text-center">迷你排课员</td>
                    <td class="text-center">3</td>
                    <td class="text-center">这里是小波备注</td>
                    <td class="text-center">
                        <a href="javascript:;" class="btn btn-primary btn-sm edit-team" data-toggle="tooltip" data-placement="top" title="管理成员">管理成员</a>
                        <a href="javascript:;" class="btn btn-primary btn-sm edit-manage" data-toggle="tooltip" data-placement="top" title="管理成员">管理权限</a>
                        <a href="{php echo $this->createWebUrl('setting', array('page' => 'team-edit'))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="编辑"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;
                        <a href="javascript:;" onclick="return confirm('此操作不可恢复，确认删除？');return false;" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="删除"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-right">
                <a href="{php echo $this->createWebUrl('setting', array('page' => 'team-create'))}" class="btn btn-md btn-default"><i class="fa fa-plus"></i> 增加角色组</a>
            </div>
            {$pager}
        </div>
    </div>
</div>
<div class="modal fade team_detail" tabindex="-1" role="dialog" aria-labelledby="contract_detail" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">这里是组名—成员管理</h4>
            </div>
            <div class="modal-body class-content">
                <table class="table table-hover">
                    <thead class="navbar-inner">
                    <tr>
                        <th class="text-center" style="width:33.333%;">姓名</th>
                        <th class="text-center" style="width:33.333%;">手机号</th>
                        <th class="text-center" style="width:33.333%;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">王小锤</td>
                        <td class="text-center">18615254000</td>
                        <td class="text-center">
                            <a href="javascript:;" onclick="return confirm('此操作不可恢复，确认删除？');return false;" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="删除"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">张三</td>
                        <td class="text-center">18615254001</td>
                        <td class="text-center">
                            <a href="javascript:;" onclick="return confirm('此操作不可恢复，确认删除？');return false;" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="删除"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer" style="text-align: left;">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label style="width:120px;">增加成员</label>
                        <select class="form-control" style="width:320px;">
                            <option>请选排课组成员</option>
                            <option>李四</option>
                            <option>王宝宝</option>
                        </select>
                        <button type="button" class="btn btn-primary">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade manage_detail" tabindex="-1" role="dialog" aria-labelledby="manage_detail" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">排课员组权限管理</h4>
            </div>
            <div class="modal-body class-content">
                <table class="table table-hover">
                    <thead class="navbar-inner">
                    <tr>
                        <th class="text-center" style="width:33.333%;">序号</th>
                        <th class="text-center" style="width:33.333%;">权限</th>
                        <th class="text-center" style="width:33.333%;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td class="text-center">权限名称1</td>
                        <td class="text-center">
                            <a href="javascript:;" onclick="return confirm('此操作不可恢复，确认删除？');return false;" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="删除"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">2</td>
                        <td class="text-center">权限名称2</td>
                        <td class="text-center">
                            <a href="javascript:;" onclick="return confirm('此操作不可恢复，确认删除？');return false;" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="删除"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer" style="text-align: left;">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label style="width:120px;">增加新权限</label>
                        <select class="form-control" style="width:320px;">
                            <option>请选择权限</option>
                            <option>教务管理</option>
                            <option>会员管理</option>
                            <option>系统管理</option>
                        </select>
                        <button type="button" class="btn btn-primary">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(".edit-team").each(function () {
        $(this).click(function () {
            $('.team_detail').modal('show');
            $('.manage_detail').modal('hide');
        })
    })
    $(".edit-manage").each(function () {
        $(this).click(function () {
            $('.manage_detail').modal('show');
            $('.team_detail').modal('hide');
        })
    })
</script>

{template 'common/footer'}