body{font-size: .85rem;}
li{list-style: none}
ul{padding: 0;margin: 0}
a{color: #525252}
.page{height: auto;background-color: transparent}
.max-width{max-width: 768px;margin: 0 auto 0 auto;}
.mt0{margin-top: 0px  }
.bg-ff{background-color: #FFFFFF}
.bg-f2{background-color: #F2F2F2}
.bg-f5{background-color: #f5f5f5}
.bg-green{background-color: rgb(72, 181, 78)}
.txt-fff{color: #FFFFff}
.ma0{margin: 0;}
.mt10{margin-top: 10px}
.mb10{margin-bottom: 10px}
.list-block .item-title.width80{width: 80px}
.list-block .item-title.width50{width: 50px}
.list-block .item-title.width3{width: 3rem}
.list-pad{padding:10px 15px;}
.border-top{border-top: 1px solid #E1E1E1}
.border-bottom{border-bottom: 1px solid #E1E1E1}
.list-block select, .list-block textarea{padding-left: 0}

/*注册*/
.register-hd{text-align: center;font-size: 18px;color: #25242A;font-weight: 600; margin-bottom: 20px }
.register-img{width: 110px;height: 100px; background: #FFFFff;border-radius: 5%;margin:20px auto 20px auto;}
.register-img img{width: 100%;height: 100%;display: block;}
.register-code{color: #0894ec;font-weight: 600}
.register-form{float: left;width: 33%}
.register-form input,.register-form label{float: left}
.register-form input{width: 50%;border-top: none;border-right: none;border-left: none;border-bottom: 1px solid #D9D9D9;text-align: center}
.register-form label{min-width:39px; }

@media screen and (max-width: 330px) {
    .register-form input{width: 50%}
}
/*---home----*/
.swiper-slide img{width: 100%;}
.swiper-index { text-align: center;overflow: hidden}
.swiper-index a{width: 25%;float: left}
.swiper-index img{width: 50px}
.swiper-index p{font-size: 0.7rem;color: #5F5F5F;margin-top: 0px}
.swiper-pagination-bullet-active{background-color: rgb(72, 181, 78)}

/*公告轮播*/
/*.scrollNews{  width: 100%;  height: 40px;  overflow: hidden; background-color: #ffffff;line-height: 40px;font-size: .7rem;color: red}*/
/*.notice{margin-right:2rem}*/
/*.scrollNews a{color:#ee162d }*/
/*公告轮播*/
.scrollNews{  width: 100%;  height: 40px;  overflow: hidden; background-color: #ffffff;}
.yy{  width: 100%;  height: 40px;  background-repeat: no-repeat;  background-size: cover;  background-size: 100% 100%;  }
.notice{  width: 100%;  height: 40px;  margin-left: auto;  margin-right: auto;  }
.notice_pic{  width: 20px;  border: rgba(0, 0, 255, 0) 1px solid;  float: left;  margin-top: 10px;  margin-left: 2%; margin-right: 5px }
.notice_pic1{  width:20px;  height: 20px;  vertical-align: middle;  }
.notice_txt{  width: 78%;  height: 35px;  line-height: 35px;  border: rgba(0, 0, 255, 0) 1px solid;  margin-left: 26px;  margin-top: -3px;  text-align: left;  overflow: hidden;  }
.notice_h1{  margin-top: 10px;  color: #797979;  font-size:12px;  }


.content{margin-bottom:3rem}
.home-list{overflow: hidden;clear: both}
.home-list-tit{padding:10px 15px;text-align: center;color: #999999;font-size: 0.5rem;border-bottom: 1px solid #E1E1E1;margin-bottom: 0.5rem}
.home-list-tit span{display: block;position: relative;}
.home-list-tit span:before,.home-list-tit span:after{content: "";position: absolute;top: 52%;background:#999999;width: 9%;height: 1px; }
.home-list-tit span:before{left: 25%}
.home-list-tit span:after{right: 25%}
.home-list-content{width: 100%;}
.home-list-content li{ width: 45.5%;padding: 1%;margin-left: 3%;border: 1px solid #f3f3f3;position: relative;margin-bottom: 2.5%;float: left;overflow: hidden}
.home-item-img{width: 100%;height: 160px;}
.home-item-img img{width: 100%;height: 100%;display: block;min-height: 100px;max-height: 276px;max-width:160px;margin: 0 auto}
.home-item-name{font-size: .3rem;margin: 0.3rem 0;padding: 0 0.1rem;font-weight: normal;color:#4d4d4d;overflow: hidden;height: 1.7rem;display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 2;}
.home-item-price{padding: 0 0.1rem;}
.home-item-price-now{font-size: 0.85rem;color: #de4046}
.home-item-price-now b{font-weight: normal}
.home-item-price-cost{font-size: 0.5rem;color: #808080;margin-left: 0.3rem;}
.home-list-lable{position: absolute;font-size: 0.8rem;left: 0;top: 0;color: #666;width: 0;height: 0;border-top:2.2rem solid #de4046;border-right:2.2rem solid transparent;text-align: center;z-index: 99;}
.home-lable-txt{position: absolute;font-size: 0.8rem;color: #FFFFff;left: 0.05rem;top: 0.15rem;z-index: 100;-webkit-transform:rotate(-45deg)}
.foot-car{position: fixed;bottom:2.5rem;z-index: 100}
.load-more{text-align: center;font-size: 0.8rem}
.load-more p{margin: 0.2rem 0px;}
.load-more a{color: #999}

/*手机开门*/
.qrcode-img{width: 95%;margin: 70px auto}
.qrcode-img img{width: 100%;height: 100%;display: block}

/*便民查询*/
.search-grids{position: relative;overflow: hidden;padding-top: 2.2rem;}
.search-grids:before{content:'';position: absolute;box-sizing: border-box;width: 200%;height: 200%;left: 0;top: 0;border: 1px solid #D9D9D9;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scale(.5);transform:scale(.5);}
.search-grid{position: relative;float: left;padding: 20px 10px;width: 33.33333333%;box-sizing: border-box}
.search-grid:before{content: '';position: absolute;box-sizing: border-box;width: 200%;height: 200%;left: 0;top: 0;border-bottom: 1px solid #D9D9D9;border-right:1px solid #D9D9D9;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scale(.5);transform:scale(.5);}
.search-grid:nth-child(3n):before{border-right-width:0;}
.search-grid-icon{width: 35px;height: 35px;margin: 0 auto;}
.search-grid-icon img{display: block;width: 100%;height: 100%}
.search-grid-icon+.search-grid-lable{margin-top: 5px;}
.search-grid-lable{display: block;text-align: center;color: #000000;font-size: 14px;}
.bar-tab .tab-item.active, .bar-tab .tab-item:active{color:rgb(72, 181, 78)}

/*小区报修*/
.repair-buttons-row .button{height:2rem;line-height: 2rem;border: 1px solid #e4e4e4;color: #353535;border-top: none;}
.repair-buttons-row .button:first-child{border-radius:0 0 0 0;border-left: none;}
.repair-buttons-row .button:last-child{border-radius:0 0 0 0;border-right: none}
.repair-buttons-row .button.active{color: #EB233F;font-size: 16px;background:url("../images/repair/hongjiao.png") 0px 0px no-repeat #FFFFff;background-size: 16px;}
.repair-tabs .content-block{padding: 0;margin-top: -35px;}
.repair-list-block{font-size: 0.5rem;}
.repair-list-block ul{border-bottom:none;font-size:12px;}
.repair-list-block .item-subtitle{font-size: 0.5rem;color: #a9a9a9;}
.repair-list-block .card{min-height: 200px}
.repair-lable{padding: 3px 5px;border-radius: 5px;font-size: 12px;margin-right: 5px;}
#btn_div {  position: fixed;  height: 50px;  z-index: 990;  right: 0px;  bottom: 120px;  }
.btn_img {  background:url(../images/repair/menu_btn.png) no-repeat;  width: 30px;  height: 30px;  background-size: 30px;  display: inline-block;  margin: 10px;  -webkit-transition: all 0.2s ease-out;  -moz-transition: all 0.2s ease-out;  }
#btn_dj {  height: 50px;  width: 50px;  background: #48b54e;  position: absolute;  right: 0px;  top: 0px;  z-index: 100;  }
.menu_btn {  height: 50px;  padding: 5px 0px 5px 5px;  font-size: 14px;  background: #48b54e;  color: #fff;  position: absolute;  right: 50px;  width: 255px;  -webkit-transition: all 0.5s ease-out;  -moz-transition: all 0.5s ease-out;  z-index: 80;  }
.menu_btn a {  display: inline-block;  color: #fff;  border-right: 1px solid #fff;  text-align: center;  width:80px;  height: 100%;  line-height: 40px;  }
.hide_b {  -moz-transform: rotate(0deg);  -webkit-transform: rotate(0deg);  }
.show_b {  -moz-transform: rotate(-45deg);  -webkit-transform: rotate(-45deg);  }
.hide_m {  -moz-transform: translateX(297px);  -webkit-transform: translateX(297px);  opacity: 0;  }
.show_m {  -moz-transform: translateX(0px);  -webkit-transform: translateX(0px);  opacity: 1;  }
.textarea-counter{text-align: right;color:#B2B2B2;padding-bottom: 10px}
.photoList ul{padding-left: 0px}
.photoList .on{background: url("../images/repair/add.png") no-repeat 10px 10px;margin-right: 0;cursor: pointer;border: 1px solid #dfdfdf;}
.photoList .on, .maskLay{width: 60px;height: 60px;}
.photoList li{float:left;margin: 5px 15px 5px 0;position: relative; }
.photoList input{z-index: 200;opacity: 0;filter: alpha(opacity=0);-ms-filter: 'alpha(opacity=0)'}
.repair-content .content-block{margin:0.75rem 0; }
.repair-del{width: 50px;height: 20px;line-height: 20px;font-size: 12px;margin-right: 2px;background-color: #dfdfdf;border-radius: 2px;text-align: center}
.repair-my-block ul{margin-top: 10px}
/*便民电话*/
.phone-btn .icon{width: 2.5rem;height: 2.5rem;margin: 0.15rem;font-size: 1.2rem;line-height: 2.5rem;text-align: center;background-color:#008CD6;border: 1px solid #dddddd;border-radius: 1.25rem;display: inline-block;color: #FFFFff}
.list-block .phone-item-after{max-height: 3.4rem;margin-right: 0.5rem;position: absolute;right: 0;}
.phone-item-media{width:3rem;height:2.5rem;}
.phone-item-media img{width: 100%;height: 100%;}
.list-block.media-list.phone-list .item-media{padding: 0px}
.list-block.media-list.phone-list .item-title{font-weight: normal;font-size: 0.75rem}

/*公告列表*/
.notice-list{width: 100%;padding:10px;clear: both;}
.notice-list li{margin-bottom: 10px;border-left: 1px solid #E4E4E4;border-top: 1px solid #E4E4E4}
.list-item{width: 100%;display:-moz-box;display: -webkit-box;}
.list-item-time{width: 60px;background-color:#e70000;text-align: center;color: #FFFFff;padding: 3px;position: relative;height: 48px}
.day{position: absolute;right: 0;left: 0;top: -2px}
.day .day_b{font-size: 24px;}
.day .day_s{font-size: 12px;position: relative;left: -3px;top: -2px;}
.year{font-size: 12px;position: absolute;left: 0;right: 0;bottom: 2px;}
.list-item-title{-webkit-box-flex: 1;-moz-box-flex: 1;padding: 0px 10px 0px 6px;border-right: 1px solid #E4E4E4;height: 48px;background: #FFFFff}
.list-item-title a{display: block;width: 100%;}
.list-item-title p{font-size: 16px;font-weight: normal;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-bottom: 5px;margin-top: 5px}
.list-item-bl{-webkit-box-flex: 1;-moz-box-flex: 1;font-size: 14px;border-bottom: 1px solid #E4E4E4;text-align: right;padding-right: 10px;height: 28px;line-height: 24px;background: #FFFFff}
.list-item-br{width: 28px;height: 28px;position: relative;}
.read-ok{color: #525252;margin-right: 15px;}
.read-ok:before{display: inline-block;height: 16px;width: 16px;font-size: 8px;color: #FFFFff;text-align: center;line-height: 16px;background: #525252;content: "ok";border-radius: 8px;margin-right: 3px;vertical-align: middle}
.read-no{color:#e70000;margin-right: 15px;}
.read-no:before{display: inline-block;height: 16px;width: 16px;font-size: 8px;color: #FFFFff;text-align: center;line-height: 16px;background: #e70000;content: "!";border-radius: 8px;margin-right: 3px;vertical-align: middle}
.read_all{color: #525252;}
.read_all:before{content:"";display: inline-block;height: 16px;width: 16px;font-size: 12px;color: #FFFFff;text-align: center;line-height: 16px;background: url("../images/announcement/gglb.png");background-size: 16px;border-radius: 8px;margin-right: 3px;vertical-align: middle;}
.list-item-br .ggno{width: 0px;height: 0px;border-top: 28px solid #e70000;border-right: 28px solid transparent;overflow: hidden;position: absolute;box-shadow: -3px -2px 0px #e6e6e6;}
.list-item-br .ggok{width: 0px;height: 0px;border-top: 28px solid #525252;border-right: 28px solid transparent;overflow: hidden;position: absolute;box-shadow: -3px -2px 0px #e6e6e6;}
.notice-detail-head{padding-top:2rem;line-height: 1rem}
.notice-detail-head h3,.notice-detail-head span{margin: 0;}
.notice-detail-head h3{margin-top: 5px}
.notice-detail-head span{font-size: 12px;display: inline-block;color:#999999;padding-left: 2px;margin-right: 15px; }
.notice-detail-act{border-top: 1px solid #E4E4E4;margin-top: 10px;padding:5px 0;}
.notice-detail-act p{margin: 0;}

/*缴物业费*/
.cost-list-block{margin-top:3rem;font-size: 0.5rem}
.cost-list-block ul{margin-top: 20px}
.cost-btn{color: #FFFFff;display: inline;padding: .3em .6em .4em;font-size: 75%;line-height: 1;font-weight: 700;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25em;}
.cost-btn-bottom{padding: 15px}

/*活动*/
.activity-list-block .item-subtitle{font-size: 14px}
.activity-list-block .item-text{color:#999;font-size: 14px}
.activity-detail-img{width: 100%;height: 0;padding-bottom: 70%;overflow: hidden;}
.activity-detail-img img{width: 100%;display: block}
.activity-detail-card .list-block .item-inner{border-bottom: 1px dashed #e7e7e7}
.activity-detail-card .list-group{font-size: .7rem;}
.activity-detail-card .list-group .item-title span{width:100px;color: #3d4145;margin-right: 0.5rem;}
.card-header .icon{font-size: 1rem;position: relative;top: -1.5px;margin-right: 0.15rem}

/*二手市场*/
.fled-nav{border-bottom: 1px #f6f6f9 solid}
.fled-nav .button{font-size: 0.7rem;}
.fled-nav .icon{font-size: 0.5rem}
.fled-nav .button.active{color:rgb(72, 181, 78);border-color: transparent }
.nav-btn-list{background-color: #FFFFff;width: 100%;position:fixed;left: 0;z-index: 1;display: none;color:#5f646e}
.nav-btn-item{width: 100%;overflow: hidden;border-bottom: 1px #f6f6f9 solid}
.nav-btn-item:last-child{border-bottom: none}
.nav-btn-item div{width: 33.3333%;float: left;}
.nav-btn-list .on{color: rgb(72, 181, 78)}
.fled-list-block .item-title{display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 2;  overflow: hidden;white-space:normal;font-size: .7rem;}
.fled-lable{font-size: 0.5rem;color: #FFFFff;background-color: rgb(72, 181, 78);padding: 2px 3px}
.fled-price{position: absolute;right: 0;font-size: 1rem}
.fled-price:after{content: '元';color: #888888;font-size: 12px;margin-left: 0.5rem;position: relative;top: -2px}
.fled-list-block .item-subtitle-time{font-size: 0.5rem}
.item-subtitle-time{text-align: right;color: #999999;margin-top: 0.5rem}
.fled-head-img{max-width: 768px;position: relative;height: 220px}
.fled-head-img img{width: 100%;height: 100%;display: block}
.fled-img-btn{position: absolute;right:15px;bottom: 15px;color: #FFFFff;background-color: rgba(0,0,0,0.75);border-radius: 5px;padding: 5px 8px;}
.fled-img-btn span{margin-left: 5px}
.fled-detail{padding-bottom: 10px;position: relative}
.fled-detail p{padding: 0 15px;margin: 5px 0 0 0}
.fled-head-tit{font-size: 0.9rem;color: #000000;font-weight: 600}
.fled-head-price{position: relative}
.fled-head-price s{color: #686868;font-size: 0.7rem;margin-left: 10px}
.fled-head-price .color-gray{font-size: 0.5rem;position: absolute;right: 15px}
.card-content .fled-detail-list{padding:0 .5rem .5rem;line-height: 1.3rem}
.fled-detail-list li label{display: inline-block;color: #999999}
.fled-detail-btn{color:#FFFFff;padding:8px 10px;border-radius: 5px;background-color:#4cd964;position: absolute;right: 0.5rem;bottom: 0.5rem; }
.fled-detail-btn span{margin-right: 0.3rem;position: relative;top: -1px}
.fled-text{padding: 10px 15px;font-size:  0.7rem}
.fled-detail-card{margin: .5rem 0;box-shadow:none}
.fled-text-tit{font-size: 0.9rem;border-bottom: 1px solid #f5f5f5;margin-bottom:.5rem; }
.photo-browser{background-color: #FFFFff}
.fled-my-bar{text-align: center;line-height: 2.2rem;}
.fled-success-btn{background-color: #4cd964;height: 20px;line-height: 20px;border-radius: 2px;width: 60px;color: #FFFFff;text-align: center;margin-left: 2px}
.fled-del-btn{background-color:#999;color: #FFFFff}
.fled-my-tit{margin-right:5px}

/*--租赁--*/
.bar .txt-fff{color: #FFFFff}
.houselease-buttons-row .button.active{border-bottom: none}
.houselease-list-block{margin: 0px 0px 10px; }
.houselease-list-block ul{border-top: none}
.houselease-list-block.media-list .item-title, .houselease-list-block li.media-item .item-title{font-weight: 600;color: #111111;font-size:0.7rem;display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 1;  overflow: hidden;white-space:normal}
.houselease-list-block .item-after{font-size: 0.65rem;color:#f6383a;font-weight: 600}
.houselease-list-block .item-subtitle{color: #a7a7a7;font-size: 0.7rem}
.houselease-list-block .item-text{color: #a7a7a7;height: 2.5rem}
.houselease-list-block .item-text span{border: 1px solid #F3F3F3;font-size: 0.3rem;display: inline-block;margin-right:3px;padding: 0 2px;}
.houselease-detail-time{color: #999999;font-size: 0.5rem;}
.houselease-detail-head{position: relative;}
.houselease-detail-list{line-height: 1.3rem;padding: 0.5rem 15px;clear: both;overflow: hidden}
.houselease-detail-list li{width: 48%;float: left;display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 1;  overflow: hidden;white-space:normal;margin-left: 2%;}
.houselease-detail-list li label{width: 60px;display: inline-block;color: #999999;text-align: left}
.houselease-detail-price{font-size: 1.2rem;padding:0 15px;}
.houselease-detail-price i{font-style:normal;font-size: 0.5rem;color: #999999;}
.houselease-detail-price span:after{content: '元/月';color: #888;font-size: 0.5rem;margin:auto 8px}
.icon-address{width: 1rem;height:1rem;background: url(../images/houselease/icon-adress.png) center no-repeat;display: block;background-size: 1rem}
.houselease-list-block .icon-address{position: relative;top: -2px}
.houselease-list-block .item-media{color: #999999}
.houselease-detail-shebei{padding:0.5rem 15px;}
.houselease-shebei-item{display: inline-block;border: 1px solid #F3F3F3;margin-right: 5px;padding: 2px 5px;text-align: center;border-radius: 5px;margin-top: 5px}
.houselease-bar{background-color:rgba(0,0,0,0.8);height: 3rem;color: #FFFFff;overflow: hidden;}
.houselease-foot-left{width: 75%;float: left;text-align: center;padding: 0.2rem 0;}
.houselease-foot-left h2,.houselease-foot-left p{margin: 0;padding: 0}
.houselease-foot-left h2{font-size: 1rem;}
.houselease-foot-left p{font-size: 0.75rem}
.houselease-foot-right{width: 25%;height: 100%;background-color:rgb(72, 181, 78);float: left;text-align: center;}
.houselease-foot-right .icon{font-size:1.5rem;line-height: 3rem;}
.pc_search{background:rgba(0,0,0,0.78); width:100%; position: absolute; z-index:1000; top:0;  transform:rotateY(90deg);  -webkit-transform: rotateY(90deg);  -moz-transform: rotateY(90deg);  -webkit-transition:-webkit-transform 0.3s ease-out 0s;  -moz-transition:-moz-transform 0.3s ease-out 0s;  transition:transform 0.3s ease-out 0s  }
.ok_search{transform:rotateY(0deg);  -webkit-transform:rotateY(0deg);  -moz-transform:rotateY(0deg);}
.close{height:2em; color:#fff; padding-right:0.8em; margin-top:0.8em; cursor:pointer; width:15%; float:right;}
.close span{ display:inline-block; font-size:1em; width:1.5em; height:1.5em; background:#fff; color:#333; float:right; text-align:center; line-height:1.5em; margin-top:0.5em; border-radius:0.8em;}
.sx:before{content:""; display:inline-block; height:28px; width:18px; background-size:18px; margin-right:5px; color:#fff;}
.sx{ color:#fff; width:60%; margin-left:15px;}
.tj{width:96%; margin-left:2%; font-size:0.89em; padding-top:1em;}
.tj dl{ overflow:hidden; margin-left:0.8em; border-bottom:1px solid #444;}
.tj dl dt{ display:inline-block; float:left; margin:0.5em 0.3em;  margin-right:0;  padding:0.1em;  color:#999; }
.tj dl dd{ display:inline-block; float:left; color:#fff; margin:0.5em 0.3em; padding:0.1em 0.3em; cursor:pointer;}
.tj dl dd.cattsel{ background:#008CD6}
.tj dl dd input[type='radio']{ display:none;}
.mdd{ font-size:0.89em; padding:0.5em 0.4em; margin: 0.4em 0.2em; width:75%; background:#8f8f8f; border:1px solid #333;}
.mdd:focus{ border:1px solid #008CD6; background:#fff;}
.search{ float:right; width:60%;  margin-right:2%; position:relative;}
.seach{ background:#fff; font-size:0.89em; height:2.25em; border-right:none; width:81%; border-radius:0.2em 0 0 0.2em; color:#666;font-family:'microsoft yahei',Verdana,Arial,Helvetica,sans-serif; padding:0.5em;}
.btn-tj{ font-size:1em; text-align:center; width:90%; display:block; margin:0 auto; color:#fff; border-radius:0.3em; background:#008CD6; padding:0.6em; margin-top:1em;}
.houselease-publish .button{height:2rem;line-height: 2rem;border: 1px solid #e4e4e4;color: #353535;border-top: none;}
.houselease-publish .button:first-child{border-radius:0 0 0 0;border-left: none;}
.houselease-publish .button:last-child{border-radius:0 0 0 0;border-right: none}
.houselease-publish .button.active{color:rgb(72, 181, 78);font-size: 16px;border-bottom: 2px solid  rgb(72, 181, 78);background-color: transparent}
.houselease-pu-block .item-title{font-size: 0.75rem;color: #A9A9A9}
.houselease-pu-block .item-input{font-size: 0.75rem;color: #A9A9A9}
.houselease-pu-block select{font-size: 0.75rem;color: #A9A9A9}
.houselease-pu-block .item-title.label{width: 5em}
.houselease-pu-block .item-media{width: 25%;float: left}
.houselease-pu-block .item-media span{margin-left: 0.1rem;margin-right: 0.1rem}
label.label-checkbox i.icon-houselease-checkbox{height: 0.8rem;width: 0.8rem;}
label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-houselease-checkbox, label.label-checkbox input[type="radio"]:checked + .item-media i.icon-houselease-checkbox{background-color: rgb(72, 181, 78)}
.houselease-pu-block input[type="date"]{color: #A9A9A9}
.list-block .houselease-my-title{white-space: normal}

/*拼车*/
.switch {  position: relative;  top: 2px;  margin: 1px auto 0 auto;  height: 35px;  width: 120px;  background: rgba(0, 0, 0, 0.25);  border-radius: 20px;  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);  }
.switch-label {  position: relative;  z-index: 2;  float: left;  width: 58px;  line-height: 36px;  font-size: 16px;  color:#ffffff;  text-align: center;  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);  cursor: pointer;  }
.switch-label:active {  font-weight: bold;  }
.switch-label-off {  padding-left: 2px;  }
.switch-label-on {  padding-right: 2px;  }
.switch-input {  display: none;  }
.switch-input:checked + .switch-label {  font-weight: bold;  color: rgba(0, 0, 0, 0.65);  text-shadow: 0 1px rgba(255, 255, 255, 0.25);  -webkit-transition: 0.15s ease-out;  -moz-transition: 0.15s ease-out;  -o-transition: 0.15s ease-out;  transition: 0.15s ease-out;  }
.switch-input:checked + .switch-label-on ~ .switch-selection {  left: 60px;  }
.switch-selection {  display: block;  position: absolute;  z-index: 1;  top: 1px;  left: 2px;  width: 60px;  height: 33px;  background: #ffffff;  border-radius: 20px;  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);  -webkit-transition: left 0.15s ease-out;  -moz-transition: left 0.15s ease-out;  -o-transition: left 0.15s ease-out;  transition: left 0.15s ease-out;  }
.data-list li{border-top: 1px solid #E4E4E4;border-bottom: 1px solid #E4E4E4;width: 100%;background-color: #FFFFff;margin: 8px 0px;}
.data-list li h5{margin: 5px 10px 0px 20px;font-size: 14px;color: #f60}
.box_div{display: -webkit-box;display: -moz-box;  padding: 10px  0;;width: 100%;}
.box_l{width: 80px;text-align: center;padding-left: 10px;}
.car_header{width: 60px;height: 60px;border-radius: 50%;position: relative;margin: 0 auto;}
.car_header img{width: 60px;height: 60px;border-radius: 50%;}
.caru_name{width: 80px;font-size: 0.5rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding-top: 2px;}
.box_m{-webkit-box-flex: 1;-moz-box-flex: 1;padding-top: 2px;}
.m_content{height: 24px;line-height: 24px;margin: 5px 0px 12px 0px}
.sart,.end{font-size: 16px;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
.sart:before{display: inline-block;content: '';background: url("../images/car/car3.png")0px 0px no-repeat;background-size: 24px;width: 24px;height: 24px;vertical-align: middle;}
.end:before{display: inline-block;content: '';background: url("../images/car/car3.png")0px -24px no-repeat;background-size: 24px;width: 24px;height: 24px;vertical-align: middle;}
.box_r{width: 90px;text-align: center;padding-top: 5px;padding-right: 10px;}
.price{color: #f60;font-size: 24px;}
.price:after{content: '元';color: #888888;font-size: 12px;margin-left: 5px;}
.seat{color: #008CD6;font-size: 18px;display: block;margin-top: 5px;}
.seat:before{content: '';color: #008CD6;font-size: 14px;margin-right: 2px;display: inline-block;background: url("../images/car/seat.png")center no-repeat;background-size: 16px;height: 16px;width: 16px;}
.seat:after{content: '座位';color: #008CD6;font-size: 14px;margin-left: 5px}
.bottom_box{display: -webkit-box;display: -moz-box;width: 100%;background-color: #F0F0F0;border-top: 1px dashed #E4E4E4;height: 32px}
.bottom_l{width: 90px;padding-top: 5px;border-right: 1px solid #E4E4E4;}
.sj_img{display: block;width: 20px;height: 20px;background: url("../images/car/car.png") no-repeat;background-size: 20px;font-size: 11px;text-align: center;line-height: 24px;color: #FFFFff;margin: 0px auto;}
.bottom_m{-moz-box-flex: 1;-webkit-box-flex: 1;padding: 6px 10px 4px 10px;font-size: 14px;color: #008CD6}
.bottom_m span{font-size: 12px;}
.bottom_m span:before{display: inline-block;background: url("../images/car/time2.png") no-repeat;background-size: 16px;width: 16px;height: 16px;content: '';vertical-align: middle;margin-right: 3px;position: relative;top: -1px}
.start_y:before{content: '始';width: 20px;height: 20px;background-color: #008CD6;display: inline-block;color: #FFFFff;font-size: 12px;text-align: center;line-height:20px;vertical-align: middle;margin-right: 5px;border-radius: 50%}
.end_y:before{content: '终';width: 20px;height: 20px;background-color: #1a9c01;display: inline-block;color: #FFFFff;font-size: 12px;text-align: center;line-height:20px;vertical-align: middle;margin-right: 5px;border-radius: 50%}
.car-detail-block{margin-bottom: 10px}
.car-detail-block .item-title{white-space: normal}
.car-detail-block .item-subtitle{white-space: normal;line-height: 1.4rem}
.car-detail-block.media-list .item-media img, .car-detail-block li.media-item .item-media img{border-radius: 50%;}
.list-block.media-list .car-name, .list-block li.media-item .car-name{font-size: 0.75rem;font-weight: 600;}
.car-id{font-size:0.75rem;color: #999999;}
.siji_span{font-size: 0.75rem;}
.siji_span:before{content: '';display: inline-block;width: 16px;height: 16px;background: url("../images/car/car.png") 0px 0px no-repeat;background-size: 16px;margin: 0 5px;position: relative;top: 1.5px}
.car-detail-btn{color:#FFFFff;padding:6px;border-radius: 5px;background-color:#4cd964;position: absolute;right: 0.5rem;font-size: 0.55rem}
.car-content-inner label{color: #999999}
.car-content-inner .color-warning{font-size: 1rem}
.car-content-inner p{margin: 0;height: 25px;line-height: 25px}
.houselease-pu-block input[type="text"]{color: #a9a9a9}
.carM-list-block{font-size: 0.5rem}
.carM-list-block .item-subtitle{font-size: 0.5rem;color: #999999}
.carM-list-block .item-title label{color: #999999;}
.carM-list-block .item-title{white-space: normal}

/*周边商家*/
div .screening{width: 100%;overflow: hidden;background-color: #FFFFff;position: fixed;z-index: 4;top: 2.2rem;font-size: 0.5rem;color: #000000}
div.screening>ul{margin: 0;padding: 0;list-style-type: none;border-bottom: solid 1px #d3d3d3;overflow: hidden;}
div.screening>ul>li{float: left;width: 33%;text-align: center;height: 35px;line-height: 35px;border-left: solid 1px #d3d3d3;background: url("../images/bussiness/on_1.png")no-repeat 85% center;}
.grade-eject, .Category-eject, .Sort-eject{position: fixed;top: -65%;width: 100%;height: 65%;z-index: 1;-wbkit-transition-duration:0.4s;}
.grade-eject>ul.grade-w, .Category-eject>ul.Category-w{background: #FFFFff;position: absolute;z-index: 1;}
.grade-eject>ul, .Category-eject>ul, .Sort-eject>ul{margin: 0;padding: 0;overflow: auto;height: 100%;width: 100%;-wbkit-transition-duration:0.4s;}
.grade-eject>ul>li, .Category-eject>ul>li, .Sort-eject>ul>li{line-height: 35px;font-size: 0.12rem;padding-left: 1rem;border-bottom: solid 1px #eeeeee}
.grade-eject>ul.grade-t, .Category-eject>ul.Category-t{background: #eeeeee;position: absolute;z-index: 2;left: 100%}
.grade-eject>ul.grade-s, .Category-eject>ul.Category-s{background: #FFFFff;position: absolute;z-index: 3;left: 100%;list-style-type: none;}
.Sort-height{height: 343px;background: #FFFFff}
.grade-w-roll{top: 85px;}
.Sort-Sort>li{border-bottom: solid 1px #eeeeee;padding: 0;}
.business-list-block.media-list .item-media{border-radius: 2px;}
.business-list-block.media-list .item-media img{width: 4.5rem;height: 3rem;border-radius: 2px;}
.business-list-block{font-size: 0.12rem;color: #333}
.business-list-block .item-subtitle{font-size: 0.12rem;}
.business-list-price{font-size:0.7rem}
.business-list-price:after{content: '元';font-size: 0.5rem;color: #f60;margin-left: 0.1rem;position: relative;top: -1px}
.business-list-block .tag{background: #f19149;color: #FFFFff;border: .1rem solid #f90;line-height: 1.5;padding: 0.1rem  0.3rem;border-radius: 0.2rem;margin-left: 0.5rem}
.business-list-block .item-title{display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 1;  overflow: hidden;white-space: normal;line-height: 1.2rem}
.buttons-tab .button.active{border-color: #4cd964;color:#4cd964}
.bussiness-swiper-container{max-width: 768px;max-height: 420px;height: 180px;padding-bottom: 0px}
.bussiness-swiper-container .swiper-slide img{width: 100%;height: 100%}
.business-detail-btn{color:#FFFFff;padding:3px 6px;border-radius: 3px;background-color:#4cd964;position: absolute;right: 0.5rem;font-size: 0.7rem}
/*星星评价*/
.block{width: 100%;overflow: hidden;position: relative;top: -2.5px}
.block .star_score{ float:left;}
.star_list{height:21px;margin:50px; line-height:21px;}
.block p,.block .attitude{ padding-left:20px; line-height:21px; display:inline-block;}
.block p span{ color:#C00; font-size:16px; font-family:Georgia, "Times New Roman", Times, serif;}
.star_score { background:url(../images/bussiness/stark2.png); width:160px; height:21px;  position:relative; }
.star_score a{ height:21px; display:block; text-indent:-999em; position:absolute;left:0;}
.star_score a:hover{ background:url(../images/bussiness/stars2.png);left:0;}
.star_score a.clibg{ background:url(../images/bussiness/stars2.png);left:0;}
.show_number li{float: left}
.show_number li img{width:0.7rem;}

.businessd-list-block{margin-bottom: 0px}
.businessd-list-block ul ul{padding-left: 0px}
.ev{font-size: 0.7rem;margin: 0  0.2rem}
.ev:after{content: '人评价';font-size: 0.5rem;color: #999999;}
.businessd-info .business-item-inner{width: 80px;padding-bottom: 0;padding-top: 0px;margin-bottom: 0.5rem;margin-top: 0.45rem;}
.businessd-info li:last-child .business-item-inner{border-left: 1px solid #e7e7e7}
.businessd-info.media-list .business-item-inner{padding-bottom: 0;padding-top: 0px;}
.text-icon {  font-family: base_icon;  display: inline-block;  vertical-align: middle;  font-style: normal;  }
.businessd-info .item-title{white-space: normal}
.business-phone{text-align: center;  font-size: 1.5rem;  color: #4cd964;position: absolute;left: 0;right: 0;top: 50%;margin-top: -35%;}
.businessd-info .item-title{color: #999999;font-size: 0.5rem;line-height: 1.3rem}
.businessd-info{margin: 10px 0px}
.business-detail-tit{padding:0.5rem 0.75rem 0rem;font-size: 0.75rem}
.business-more{padding-top: 0.5rem;padding-bottom: 0.45rem;border-bottom: 1px solid #E7E7E7;background: #FFFFff}
.icon-more{background: url("../images/bussiness/more.png")  center center no-repeat;width: 32px;display: block;height: 32px;margin: 0 auto}

.group-content{position: relative}
.group-idtit{position: absolute;width: 100%;left: 0;bottom: 0;height: 3rem;}
.group-idtit span{width: 100%;height: 3rem;background-color: #000000;opacity: .3;position: absolute;left: 0;top: 0;z-index: 9;}
.group-idtit .group-left{width: 70%;position:relative;z-index: 99;float: left;zoom: 1}
.group-idtit p.group-left-tit, .group-idtit p.group-left-tit2{width: 100%;margin-top:0.5rem;box-sizing: border-box;-webkit-box-sizing: border-box;padding:0 15px;overflow: hidden;text-overflow: ellipsis;-webkit-text-overflow:ellipsis;white-space: nowrap;color: #FFFFff;position: relative;z-index: 99;font-size:14px;}
.group-idtit p.group-left-tit2{font-size: 12px;margin-top: 0;top: -15px}
.group-idtit .group-right{text-align: right;height: 3rem;position: relative;z-index: 99;padding-right: 15px;width: 30%;box-sizing: border-box;-webkit-box-sizing: border-box;float: right;line-height: 3rem;}
.group-idtit .group-right samp{position: relative;z-index: 99;font-size: .12rem;color: #FFFFff;font-family: "微软雅黑";}
.item-title .text-icon{color: #666;position: relative;top: -2px}
.businessd-info .item-after{font-size: 0.7rem;color: #999999;line-height: 27px}
.groupDe-price{font-size: 1.5rem;color:#4cd964;position: relative;top: 1px;}
.groupDe-price:after{content: '元';color: #4cd964;font-size: 0.7rem;position: relative;top: -2.5px;margin-left: 0.2rem}
.bar-tab .list-block.media-list .item-inner{padding-top: 0;}
.bar-tab .list-block .item-inner{padding-top: 0;}
.groupDe-yj{color: #999999;font-size: .5rem;}
.groupDe-jf{color: #999999;font-size: .5rem;line-height: 14px}
.groupDe-jf:before{content: '积分';font-size: 0.5rem;color: #999999;margin: 0 0.2rem}
.groupDe-tit{padding: 5px 15px;background-color: #FFFFff;font-size: 0.7rem;border-left: 2px solid #C00}
.groupDe-card{margin: 0;box-shadow:none;}
.groupDe-card .card-footer{border-bottom: 1px solid #E1E1E1}
.groupDe-card .card-content{border-top:1px solid #E1E1E1;font-size: 0.5rem;font-weight: 400 }
.groupDe-card .card-content-inner > p{margin: 0px 0px 5px;line-height: 14px}
.groupOr-tit{padding: 0.75rem 0.75px 0rem 0.75rem;}

.minus,.result,.add{float: left}
.lt-rt .minus{border: none}
.result{line-height: 30px;font-size: 18px;text-align: center;margin:0 10px;width: 60px;border: 1px solid #D7D1C5;border-radius: 5px}
.groupOr-list-block input[type="text"]{width: 60px;height: auto;border: 1px solid #D7D1C5;border-radius: 5px;margin:0 0.2rem;padding: 0}
.groupOr-list-block .color-primary{color: #0894ec}
.groupDr2-list-block{font-size: 0.7rem}
.groupDr2-list-block .item-after{color: #929292}
.groupDr2-list-block .groupOr2-success{color:#4cd964}
.groupDr2-list-block .item-subtitle{font-size: 0.6rem;}
label.group-lable-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox{background-color: #4cd964;}
label.group-lable-checkbox i.icon-form-checkbox{border-radius: 0rem;}
.evaluate-list-block .item-after{font-size: 0.75rem;color: #999999}
.evaluate-list-block.media-list .item-title{font-size: 0.75rem;}
.business-detail-stars .br-widget a{font-size: 0.85rem;}
.evaluate-list-block.media-list .item-media img{border-radius: 50%}
.evaluate-list-block .item-text{height: auto;overflow: auto;-webkit-line-clamp:100;}
.group-edit{position: fixed;bottom:3.5rem;right: 15px;font-size: 1.5rem}

.sousuo-block .search-input input{border:1px solid #E1E1E1}
.sousuo-block .searchbar .search-input input{height: 1.8rem;}
.hotBox { padding-top: 3rem;}
.hotBox .hot-title {  padding-left:0.75rem;  font-size: .7rem;  margin-bottom: 10px;  color: #666;}
.hotBox .hotKeyUl {  margin:0px 1.6%;  overflow: hidden;  }
.hotBox .hotKeyUl li {  width: 32%;  float: left;  margin-right: 1.6%;  background-color: white;  margin-bottom: 1.6%;  }
.hotBox .hotKeyUl li:nth-child(3n) {  margin-right: 0;  }
.hotBox .hotKeyUl li a {  padding: 8px 0;  display: block;  text-align: center;  font-size: .13rem;  color: #666;  }
.historyBox {  padding-top: 16px;  margin-bottom: 20px;  }
.historyBox .hot-title {  padding-left: 0.75rem;  font-size: .7rem;  margin-bottom: 10px;  color: #666;  }
.historyBox ul {  background-color: white;  padding: 0 8px;  }
.historyBox li {  padding: .15rem .75rem;  border-bottom: 1px solid #edebeb;  color: #666;  font-size: .13rem;  }
.historyBox li:last-child {  border-bottom: none;  }
.historyBox li.clear {  text-align: center;  color: #7E7E7E;  letter-spacing: 1px;  }

/*生活超市*/
.shopping-img{max-height: 100px;max-width: 768px;display: block;overflow: hidden}
.shopping-img img{width: 100%;height: 100%;}
.shop-list-block{margin: 10px auto; border-top: 1px solid #E9E9E9}
.shop-list-block .item-inner{border-bottom: none;min-height: 1.5rem;padding-top: .2rem;padding-bottom: .15rem;}
.shop-list-block .item-content{border-left:3px solid #ff6000;min-height: 1.5rem}
.shop-list-block .item-border-blue{border-left:3px solid #4cd964;}
.shop-list-block .item-title{font-size: 0.75rem;font-weight: 500}
.shop-list-block .item-after{font-size: 0.5rem;color: #999999}
.shop-grids{position: relative;overflow: hidden;font-size: 0.5rem}
.shop-grids:before{content: '';position: absolute;box-sizing: border-box;width: 200%;height: 200%;left: 0;top: 0;border: 1px solid #D9D9D9;-webkit-transform-origin: 0 0;transform-origin: 0 0;-webkit-transform: scale(.5);transform: scale(.5)}
.shop-grid{position: relative;float: left;padding:10px 3px 5px;width: 33.33333333%;box-sizing: border-box;}
.shop-grid:before{content: '';position: absolute;box-sizing: border-box;width: 200%;height: 200%;left: 0;top: 0;border-bottom: 1px solid #D9D9D9;border-right: 1px solid #D9D9D9;-webkit-transform-origin: 0 0;transform-origin: 0 0;-webkit-transform: scale(.5);transform: scale(.5)}
.shop-grid:nth-child(3n):before{border-right-width:0;}
.shop-grid-tit{ display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 2;  overflow: hidden;padding: 0 3px;line-height: 14px;}
.shop-grid-price{color:#de4046;padding: 0 3px;}
.shop-grid-price:before{content: '¥';margin-right: 0.2rem;color: #de4046;}
.shop-grid-img{width: 100%;height: 0;padding-bottom: 61.8%;overflow: hidden;margin-top: 5px;}
.shop-grid-img img{width: 100%}
.more-list-bar{top: 0;width: 90%;left: 10%;background: transparent}
.more-list-bar .searchbar{background:transparent;}
.more-list-bar .searchbar .searchbar-cancel{color: #FFFFff}
.more-list-bar .search-input label + input{padding-left: 1.6rem;}
.more-list-block.media-list .item-title{height: 2rem;font-size: 0.5rem;line-height: 1rem;width: 85%;white-space:normal}
.more-list-block .item-subtitle{font-size: 0.5rem;}
.shop-yuanjia{font-size: 0.5rem;color: #9E9E9E;margin-left:0.5rem}
.shop-yuanjia:before{content: '¥'; margin-right: 0.2rem;color: #9E9E9E;}
.shop-card{position: absolute;display: block;top: 50%;margin-top: -3%;right: 15px;}
.icon-shop-cart{background: url(../images/shop/icon-shop.png)100% 100% no-repeat;width: 28px;height: 28px;display: block;background-size: 28px;}
.more-list-block ul{border-bottom: none;border-top: none}
.more-list-block .item-inner{border-bottom: none}
.shop-total-cart{font-size: 1.3rem;background: #4cd964;border-bottom-right-radius: 0.5rem;border-top-right-radius: 0.5rem;color: #FFFFff;position: fixed;width: 3rem;text-align: center;bottom: 3rem}
.shop-total-cart .badge{position: absolute;top: 0.2rem;right: 0.5rem;z-index: 100;min-width: .8rem;height: .8rem;padding: 0 .2rem;margin-left: .1rem;font-size: .6rem;line-height: .8rem;color: #4cd964;vertical-align: top;background: #FFFFff;border-radius: .5rem;}
.shop-swiper-container{padding-bottom: 0px;}
.shop-detail-info{padding: 0  0.75rem 0.5rem;border-bottom: 1px solid #e9e9e9}
.shop-detail-tit{color: #4D4D4D;font-size: 0.85rem;padding-top: 0.3rem;font-weight: 600}
.shop-pricex{font-size: 0.85rem;color: #dd5e00;margin-right: 0.8rem}
.shop-pricex:before{content:'¥';color: #dd5e00 }
.shop-detail-price s{color: #808080;font-size: 0.7rem;}
.shop-detail-price s:before{content:'¥';color: #808080 }
.shop-detail-jf{font-size: 0.5rem;color: #999999}
.shop-jf{color:#e4393c;font-size: 0.7rem;margin-left: 0.1rem;margin-right: 0.8rem}
.option{display: block;overflow: hidden;width: 6rem;height: 1.7rem;border: 1px solid #cccccc;position: relative;text-align: center;}
.option .btn-del{display: block;width: 2rem;height: 1.7rem;background: url("../images/shop/number-min.png")no-repeat center;background-size: 50%;border-right: 1px solid #cccccc;position: absolute;left: 0;top: 0;}
.option input[type="text"]{border: none;margin: 0 auto;font-size: 0.7rem;line-height: 1rem;height: 1.7rem;width: 2rem;text-align: center}
.option .btn-add{display:block;width:2rem;height:1.7rem;background:url(../images/shop/number-add.png) no-repeat center;background-size:50%;  float:right;border-left:1px solid #CCC;position:absolute;right:0;top:0;}
.shopde{margin-top: 10px;padding:0  0.75rem;}
.shopde img{width: 100%;display: block;}
.shopde-tit{color: #e4393c;border-left: 3px solid #e4393c;padding: 0.3rem 0.75rem;font-size: 0.7rem;}
.shop-foot{position: absolute;left: 0;right: 0;max-width: 768px;bottom: 0;height: 2.2rem;line-height: 2.2rem;color: #FFFFff}
.shop-foot-list{width: 50%;float: left;box-sizing: border-box;text-align: center;}
.shop-foot-list a{color: #FFFFff}
.foot-icon-price{width: 30%;box-sizing: border-box;float: left;position: relative;top: -0.1rem}
.foot-icon-price a{text-align: left}
.foot-icon-price .badge {  position: absolute;  top: .3rem;  left: 50%;  z-index: 100;  min-width: .8rem;  height: .8rem;  padding: 0 .2rem;  margin-left: .1rem;  font-size: .6rem;  line-height: .8rem;  color: red;  vertical-align: top;  background: white;  border-radius: .5rem;  }

/*购物车*/
.shopcart-list-block{margin: 0 auto 10px}
.shopcart-list-block label.label-checkbox i.icon-form-checkbox{border-radius: 0;}
.shopcart-list-block label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox{background-color: #4cd964}
.shopcart-list-block  .shopcart-list-info{border-bottom: none;border-top: none}
.shopcart-list-block .shopcart-list-info .item-title{white-space: normal;height: 3rem;font-size: 0.5rem;color: #333333}
.shopcart-list-block .shopcart-list-info .item-subtitle{white-space: normal;position: relative}
.lable-shop-name{font-size: 0.7rem;color: #4cd964;line-height: 1.2rem;}
.shop-cart-price{color:#f63234;font-size: 1rem;font-family:"Helvetica Neue"}
.shop-cart-price:before{color: #f63234;content: '¥';font-size: 0.9rem;font-family:"Helvetica Neue"}
.p-close{background:#8b8b8b;color:#fff;;width:30px;height:30px;line-height: 25px;text-align:center;border-radius:4px;font-size: 34px;padding-top:3px;position: absolute;right: 0.85rem;  bottom: 0.75rem;opacity: .2}
.shopcart-foot-price{color: #999999;font-size: 0.7rem;line-height: 1.7rem;}
.shopcart-foot-price em{color: #900;font-family: "Helvetica Neue", Helvetica, sans-serif;font-weight: normal}
.shopcart-foot-price em:before{content: "¥";color: #900;font-weight: normal}
.shopcart-footer{height: 2.2rem;max-width: 768px;position: absolute;bottom: 0;left: 0;right: 0;border-top: 1px solid #E7E7E7;background-color: #FFFFff}
.shopcart-footer-list:first-child{width: 30%;}
.shopcart-footer-list:nth-child(2){width: 70%}
.shopcart-footer-list{float: left;height: 100%;box-sizing: border-box;line-height: 2.2rem;text-align: center}
.shopcart-footer-info,.shopcart-js{float: left;width: 47%}
.shopcart-js{margin-left: 6%}
.shopcart-footer-list label.label-checkbox i.icon-form-checkbox{border-radius: 0;}
.shopcart-footer-list label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox{  background-color: #4cd964}
.shopcart-footer-list .item-media{line-height: 2.2rem;}
.shopcart-footer-list .item-media span{font-size: 0.5rem;font-weight: 600;margin-left: 0.2rem;}
.shopcart-footer-info{font-size: 0.7rem;position: relative;text-align: right}
.shopcart-footer-info p{  position: absolute;top: -1.1rem;  height:1rem;width: 100%}
.color-gray{font-size: 0.5rem;margin-top: 0.5rem;display: block}
.shopping-top-cart{height:2.2rem;line-height: 2.2rem;margin-right: 0.75rem;position: relative}
.shopping-top-cart .badge {  position: absolute;  top: .3rem;  left: 50%;  z-index: 100;  min-width: .8rem;  height: .8rem;  padding: 0 .2rem;  font-size: .6rem;  line-height: .8rem;  color: #4cd964;  vertical-align: top;  background: white;  border-radius: .5rem;  }
.shopping-dingdan{font-size: 0.5rem;line-height: 1.2rem}
.shopping-list-block .shopcart-list-info .item-title{white-space: normal;font-size: 0.5rem;color: #333333}
.shopping-list-block.media-list .item-title-row{height: 1rem;}
.shopping-list-block.media-list .item-title-row:first-child{height: 1.7rem}
.shopping-list-block .item-after{font-size: 0.5rem;color: #999999}
.shopping-hj{text-align: right;font-size: 0.5rem;padding: 0.3rem 0.75rem;}
.shopping-hj-item1,.shopping-hj-item2,.shopping-hj-item3{margin-left: 0.5rem}
.shopping-btn{padding: 0.5rem  0.75rem;text-align: center;color: #999999;font-size: 0.7rem;line-height: 1.2rem}
.shopping-btn .row .col-33{float: right;}
.SorderDe-list-block{margin: 0 auto 10px;font-size: 0.5rem;}
.SorderDe-list-block .item-title{white-space: normal;padding: 0.1rem 0;}
.SorderDe-list-block .item-subtitle{white-space:normal;font-size: 0.5rem;padding: 0.1rem 0 0.3rem}
.SorderDe-list-block .item-title span{margin-left: 0.5rem;}
.SorderDe-list-block ul:before{position: absolute;content: '';left: 0;bottom: 0;width: 100%;height: 0.2rem;background: url("../images/shop/addre-bg-bottom.png") repeat center;background-size: 100%;}
.SorderDe-listCenter-block{margin: 10px auto;font-size: 0.5rem;}
.SorderDe-listCenter-block .item-title{white-space: normal;height: 3rem;}
.SorderDe-listCenter-block .item-shopOrder-price{color:#dd5e00;font-size: 0.85rem}
/*.item-shopOrder-price:before{content: '￥';color:#dd5e00;font-size: 0.85rem;}*/
.SorderDe-listCenter-block .item-after{font-size: 0.85rem;}
.SorderDe-listCenter-block .item-inner{border-bottom: 1px dashed #e7e7e7}
.contacts-block{margin: 0 auto;font-size: 0.5rem}
.contacts-block .item-title b{width:3rem;font-weight: normal;display: inline-block}
.contacts-block textarea{font-size: 0.5rem;}
.SorderDe-button{padding: 1rem 0.75rem;margin: 10px auto}
.SorderDe-button .button{border-radius:0px;height: 1.5rem;line-height: 1.5rem;}
.SorderDe-button p{font-size: 0.7rem;text-align: center}

/*个人资料*/
.my-head{ position:relative; width:100%; height:4.5rem; background:url(../images/my/my-bg.png) 100% no-repeat;background-size: 100%  4.5rem;}
.my-head-img{ position:absolute; top:0.75rem; left:1.5rem; width:3.1rem; height:3.1rem; padding:0.04rem; border-radius:3rem; background-color:#fff;}
.my-head-img img{ width:3.1rem; height:3.1rem;}
.head-dsb{ position:absolute; top:1.5rem; left:5.5rem;}
.head-dsb p{ font-size:0.28rem; color:#fff;margin: 0}
.dsb-id{ margin-top:0.08rem;}

.nav{ width:100%; height:1.5rem; background-color:#fff;}
.nav ul li{ position:relative; float:left; width:33.3333333%; height:1.5rem; font-size:0.3rem; margin-top:0.085rem; line-height:0.55rem; text-align:center;}
.nav ul li p{ position:absolute; left:1.2rem;margin: 0 auto}
.pt-line{ border-left:1px solid #dddddd; border-right:1px solid #dddddd; }
.grid_label{margin-top: 5px;color: #b0b0b0;display: block;text-align: center;font-size: 0.7rem;}
.grid_icon{height:18px;width: 28px;margin: 0 auto;color: #000000;font-size: 0.7rem;}
.recharge{ background: url(../images/my/icon-bubble.png) center center no-repeat;border: none;width: 64px;height:33px;color: #FFFFff;text-align:center;position: absolute;bottom:-5px;right: 0px;line-height: 22px}

.my-list-block{margin: 10px auto;}
.xiaoqu-list-block{font-size: 0.5rem;}
.xiaoqu-list-block.media-list .item-title{height: 1.8rem;color: #999999;white-space: normal}
.xiaoqu-list-block .item-subtitle{font-size: 0.5rem;color: #999999;white-space: normal}
.xiaoqu-wy{font-size: 0.5rem;color: #999999;min-height: 1.5rem;padding: 0.3rem 0.75rem;}
.wuye:before{ background:url(../images/my/com_img.png) 0px -32px no-repeat; background-size:16px; width:16px; height:16px;  display:inline-block; content:''; border-radius:2px; vertical-align:middle; margin-right:3px;}
#community_bottom{ width:100%; padding:10px 0px ;background:#fff; position:fixed; bottom:0px; left:0px; border-top:1px solid #bbb; z-index:990; box-shadow:0px -2px 5px rgba(0, 0, 0, 0.2); -webkit-transition:-webkit-transform 350ms ease;  -moz-transition:-moz-transform 350ms ease;}
.com_contact { width:100%; height:40px;}
.com_contact .btn{ display:block; width:50%; float:left; text-align:center;}
.com_contact .btn a{ display:inline-block; height:40px; line-height:40px; font-size:16px; color:#fff; width:90%; border-radius:6px;}
.com_contact .btn:first-child a{ background:#f60;}
.com_contact .btn:last-child a{ background:#48b54e;}
.com_bother{ font-size:12px; margin-top:10px; color:#999; text-align:center;}
.xqtel:before{ content:''; width:18px; height:18px; background:url(../images/my/com_img.png) 0px -72px no-repeat; background-size:18px; display:inline-block; vertical-align:middle;}
.xqkf:before{ content:''; width:18px; height:18px; background:url(../images/my/com_img.png) 0px -90px no-repeat; background-size:18px; display:inline-block; vertical-align:middle; margin-right:3px;}

.select-xq-bar{padding: 8px 0; background: #FFFFff;margin: 2.5rem  0.75rem;}
.box-s{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.coupons{width: 100%; padding:.1rem .75rem;margin-top: 0.5rem;}
.coupons .list{width: 100%; height: 4rem; margin-bottom: 3%; background-color: #fff; border-radius: 5px; -webkit-border-radius: 5px; overflow: hidden;}
.coupons .list .left{width: 25%; line-height:4rem; text-align: center; height: 4rem; font-size: 1.8rem; color: #fff; background-color: #F34141;}
.coupons .list .left span{font-size: 1.3rem;}
.coupons .list .right{width: 75%; padding: 8% 0 5% 3%;}
.coupons .list .right .tit{font-size: 0.7rem; color: #333; line-height: .2rem;}
.coupons .list .right .time{font-size: .12rem; color: #999; line-height: .2rem;}
.coupons .list:last-child{margin-bottom: 0;}
.coupons .list .leftwo{background-color: #ccc;}


