<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>后台管理中心</title>  
    <link rel="stylesheet" href="{$res}bui/css/pintuer.css">
    <link rel="stylesheet" href="{$res}bui/css/admin.css">
    <script src="{$res}bui/js/jquery.js"></script>   
</head>
<body style="background-color:#f2f9fd;">
<div class="header bg-main">
  <div class="logo margin-big-left fadein-top">
    <h1><img src="{$res}bui/images/logo.jpg" class="radius-circle rotate-hover" height="50" alt="" />管理中心</h1>
  </div>
  <div class="head-l">
  <a class="button button-little bg-green" href="index.php?c=home&a=welcome&do=ext&m=bsht_tbk" target="_blank"><span class="icon-home"></span> 返回面板</a> &nbsp;&nbsp;
  <a href="index.php?c=system&a=updatecache" class="button button-little bg-blue" target="_blank"><span class="icon-wrench"></span> 清除缓存</a> &nbsp;&nbsp;
  <a class="button button-little bg-red" href="index.php?c=mc&a=fans&" target="_blank"><span class="icon-power-off"></span> 粉丝管理</a> &nbsp;&nbsp;

  <a class="button button-little bg-red" href="index.php?c=mc&a=card&do=sign&" target="_blank"><span class="icon-power-off"></span> 系统签到开关</a> &nbsp;&nbsp;

  <a class="button button-little bg-red" href="index.php?c=activity&a=exchange&do=display&type=goods" target="_blank"><span class="icon-power-off"></span> 系统兑换设置</a> &nbsp;&nbsp;

  </div>
</div>
<div class="leftnav">
  <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
  <h2><span class="icon-user"></span>基本设置</h2>
  <ul style="display:block">
    <li><a href="{php echo $this->createWebUrl('setting')}" target="right" title="风格、列表方式、等基础设置"><span class="icon-caret-right"></span>系统设置</a></li>
    <li><a href="index.php?c=profile&a=module&do=setting&m=bsht_tbk" target="right" title="海报、积分、远程附件设置"><span class="icon-caret-right"></span>参数设置</a></li>
	<li><a href="index.php?c=platform&a=menu&" target="blank" title="风格、列表方式、等基础设置"><span class="icon-caret-right"></span>自定义菜单</a></li>
  </ul>   
  

  <h2><span class="icon-pencil-square-o"></span>全能体验版</h2>
  <ul>
    
    <li><a href="{php echo $this->createWebUrl('listcateall')}" target="right"><span class="icon-caret-right"></span>管理分类</a></li>
	<li><a href="{php echo $this->createWebUrl('listitemall')}" target="right"><span class="icon-caret-right"></span>管理商品</a></li>
	<li><a href="{php echo $this->createWebUrl('listcaijiall')}" target="right"><span class="icon-caret-right"></span>选品库采集导入</a></li>
	<li><a href="{php echo $this->createWebUrl('listcaijiall_dtk')}" target="right"><span class="icon-caret-right"></span>大淘客整库采集</a></li>
  </ul>  

 
  <h2><span class="icon-pencil-square-o"></span>互动营销</h2>
  <ul>
    <li><a href="{php echo $this->createWebUrl('listuser')}" target="right"><span class="icon-caret-right"></span>会员管理</a></li>
	<li><a href="{php echo $this->createWebUrl('listduiba')}" target="right"><span class="icon-caret-right"></span>兑吧记录</a></li>
  </ul>  

  <h2><span class="icon-pencil-square-o"></span>广告管理</h2>
  <ul>
    <li><a href="{php echo $this->createWebUrl('listads')}" target="right"><span class="icon-caret-right"></span>广告列表</a></li>
	<li><a href="{php echo $this->createWebUrl('listads',array('op'=>'post'));}" target="right"><span class="icon-caret-right"></span>添加广告</a></li>
  </ul> 
</div>
<script type="text/javascript">
$(function(){
  $(".leftnav h2").click(function(){
	  $(this).next().slideToggle(200);	
	  $(this).toggleClass("on"); 
  })
  $(".leftnav ul li a").click(function(){
	    $("#a_leader_txt").text($(this).text());
  		$(".leftnav ul li a").removeClass("on");
		$(this).addClass("on");
  })
});
</script>
<ul class="bread">
  <li><a href="{php echo $this->createWebUrl('opcenter')}" target="right" class="icon-home"> 系统首页</a></li>
  <!--li><a href="{php echo $this->createWebUrl('setting')}" target="right">系统设置</a></li-->
  
  <li><b>当前模式：</b><span style="color:red;">全能体验版</li>
</ul>
<div class="admin">
  <iframe scrolling="auto" rameborder="0" src="{php echo $this->createWebUrl('opcenter')}" name="right" width="100%" height="100%" id="nbtbk"></iframe>
  <iframe scrolling="auto" rameborder="0" src="{php echo $this->createWebUrl('nboau')}" name="nboau" width="0" height="0" id="nboau"></iframe>
</div>
<div style="display:none">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?86a968768096e6f7d40c33fbd0ad0429";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>
</body>
</html>