{template 'header'}
<style>
.settings{
	display: none;
}
</style>
<ul class="nav nav-tabs" id="snav">
	<li class="active"><a>站点信息</a></li>
	<li><a>基础设置</a></li>
	<li><a>风格颜色</a></li>
	<li><a>API参数</a></li>
	
</ul>
<script>
$('#snav li').click(function(){
	$('#snav li').removeClass('active');
	$(this).addClass('active');
	$('.settings').hide();
	$('.settings').eq($(this).index()).show();
});
</script>
{php load()->func('tpl')}
<form action="" method="post" class="form form-horizontal">
<div class="panel panel-default settings" style="display: block;">
	<div class="panel-heading">请认真填写站点信息</div>
	<div class="panel-body">


<div class="form-group" >
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">网站模式选择</label>
                    <div class="col-sm-9 col-xs-12">
					    <input type="radio" name="isdtk" value="2" checked="true"/>全能模式 
                        <span class="help-block">默认全能模式</span>
                    </div>
</div>




<div class="form-group" >
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">站点标题</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="sitetitle" class="form-control" value="{$set['sitetitle']}" />
                        <span class="help-block"></span>
                    </div>
</div>

<div class="form-group" >
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">站点描述关键字</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="sitekeyword" class="form-control" value="{$set['sitekeyword']}" />
                        <span class="help-block"></span>
                    </div>
</div>


<div class="form-group" >
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">底部版权</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="sitecopy" class="form-control" value="{$set['sitecopy']}" />
                        <span class="help-block"></span>
                    </div>
</div>

<div class="form-group" >
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分享标题</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="fxtit" class="form-control" value="{$set['fxtit']}" />
                        <span class="help-block"></span>
                    </div>
</div>

<div class="form-group" >
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分享描述</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="fxdes" class="form-control" value="{$set['fxdes']}" />
                        <span class="help-block"></span>
                    </div>
</div>


<div class="form-group" >
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分享图标</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_image('fxlogo', $set['fxlogo']);}
                        <span class="help-block">建议尺寸：200x200px</span>
                    </div>
</div>

<div class="form-group clearfix">
          <label class="control-label col-md-2">网站统计代码</label>
          <div class="col-md-4">
            <textarea class="form-control" name="tongji" placeholder="" rows="6">{$set['tongji']}</textarea>
            <div class="help-block"></div>
          </div>
</div>




     </div>
     
	
</div>
<div class="settings">
	<div class="panel panel-default">
		<div class="panel-heading">请认真填写基础设置</div>
		<div class="panel-body">


<div class="form-group" >
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">详情页引导方式</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="radio" name="isyindao" value="1"  {if $set['isyindao']==1}checked="true"{/if} />淘口令
                        <input type="radio" name="isyindao" value="0"  {if $set['isyindao']==0}checked="true"{/if} />浏览器跳转
                        <span class="help-block">默认引导复制淘口令</span>
                    </div>
</div>

<div class="form-group" >
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">首页排序方式</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="radio" name="isindex" value="1"  {if $set['isindex']==1 || empty($set['isindex'])}checked="true"{/if} />顺序
                        <input type="radio" name="isindex" value="2"  {if $set['isindex']==2}checked="true"{/if} />随机
						<input type="radio" name="isindex" value="3"  {if $set['isindex']==3}checked="true"{/if} />销量
						<input type="radio" name="isindex" value="4"  {if $set['isindex']==4}checked="true"{/if} />价格
						<input type="radio" name="isindex" value="5"  {if $set['isindex']==5}checked="true"{/if} />点击
						<input type="radio" name="isindex" value="6"  {if $set['isindex']==6}checked="true"{/if} />分享
                        <span class="help-block">请选择您喜欢的方式（从大到小，但排序大的优先）</span>
                    </div>
</div>






<div class="form-group" >
                    <label class="col-xs-1 col-sm-3 col-md-2 control-label">自定义分享标题</label>
                    <div class="col-sm-7 col-xs-1">
                        <input type="text" name="diytit" class="form-control" value="{$set['diytit']}" />
                        <span class="help-block">留空为忽略设置，参数：#券后价#、#券价#、#售价#、#商品标题#（仅全能模式支持）</span>
                    </div>
</div>

<div class="form-group" >
                    <label class="col-xs-1 col-sm-3 col-md-2 control-label">自定义淘口令尾巴</label>
                    <div class="col-sm-7 col-xs-1">
                        <input type="text" name="diytkl" class="form-control" value="{$set['diytkl']}" />
                        <span class="help-block">留空为关闭，仅在首次生成后打开淘宝激活时显示</span>
                    </div>
</div>


	     </div>
	</div>
</div>



<div class="panel panel-default settings">
		<div class="panel-heading">请认真设置站点风格</div>
		<div class="panel-body">


<div class="form-group" >
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">积分兑换方式</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="radio" name="duihuantype" value="1"  {if $set['duihuantype']==1}checked="true"{/if} />(方式1)系统内置兑换
                        <input type="radio" name="duihuantype" value="2"  {if $set['duihuantype']==2}checked="true"{/if} />(方式2)模块内置兑吧兑换
						<input type="radio" name="duihuantype" value="3"  {if $set['duihuantype']==3}checked="true"{/if} />(方式3)自定义积分兑换url
                        <span class="help-block"></span>
                    </div>
</div>


<div class="form-group" >
                    <label class="col-xs-1 col-sm-3 col-md-2 control-label">自定义积分兑换url</label>
                    <div class="col-sm-6 col-xs-6">
                        <input type="text" name="duihuanurl" class="form-control" value="{if !empty($set['duihuanurl'])}{$set['duihuanurl']}{else}{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=activity&a=coupon{/if}" />
                        <span class="help-block">默认系统兑换链接（兑换方式3时生效）</span>
                    </div>
</div>




<div class="form-group" >
                    <label class="col-xs-1 col-sm-3 col-md-2 control-label">自定义签到url</label>
                    <div class="col-sm-6 col-xs-6">
                        <input type="text" name="qiandaourl" class="form-control" value="{if !empty($set['qiandaourl'])}{$set['qiandaourl']}{else}内置{/if}" />
                        <span class="help-block">默认为模块内置签到（使用内置请填写：“内置”，激活关键字为：“NB文字签到”）<br>系统签到链接：{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=mc&a=card&do=sign_display</span>
                    </div>
</div>





<div class="form-group" style="display:none">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">列表图片清晰度</label>
                    <div class="col-sm-9 col-xs-12">
<input type="radio" name="maxpic" value="_200x200" checked="true" />极速
                        <span class="help-block">默认“极速”</span>
                    </div>
</div>


<div class="form-group" style="display:none">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">开启仿真优惠券页面</label>
                    <div class="col-sm-9 col-xs-12">

<input type="radio" name="isnewshow" value="0" checked="true"/>关闭
                        <span class="help-block">默认关闭，开启后详情页变为仿真优惠券样式</span>
                    </div>
</div>


<div class="form-group" style="display:none">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">广告图位置设置</label>
                    <div class="col-sm-9 col-xs-12">
<input type="radio" name="istopads" value="1" checked="true" />顶部
                        <span class="help-block">默认开启</span>
                    </div>
</div>


<div class="form-group"  style="display:none">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">顶部4格导航导航</label>
                    <div class="col-sm-9 col-xs-12">
<input type="radio" name="isnav" value="1" checked="true" />开启
                        <span class="help-block">默认开启</span>
                    </div>
</div>


<div class="form-group"  style="display:none">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">开启首页栏目展示</label>
                    <div class="col-sm-9 col-xs-12">
<input type="radio" name="iscate" value="1"  checked="true" />开启
                        <span class="help-block">默认开启</span>
                    </div>
</div>
			

<div class="form-group"  style="display:none">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">开启首页4格按钮</label>
                    <div class="col-sm-9 col-xs-12">
<input type="radio" name="ismidbtn" value="0" checked="true"/>关闭
                        <span class="help-block">默认开启</span>
                    </div>
</div>





<div class="form-group"  style="display:none">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分页加载方式</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="radio" name="autoclick" value="1" checked="true" />自动加载
                        <span class="help-block"></span>
                    </div>
</div>

<div class="form-group"  style="display:none">
                    <label class="col-xs-1 col-sm-3 col-md-2 control-label">分页显示商品数量</label>
                    <div class="col-sm-2 col-xs-6">
                        <input type="text" name="pageno" class="form-control" value="15}" />
                        <span class="help-block">默认10</span>
                    </div>
</div>





<div class="form-group"  style="display:none">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">风格样式</label>
                    <div class="col-sm-9 col-xs-12">
                        
                        <input type="radio" name="skin" value="2" checked="true"/>风格二（无按钮）

                        <span class="help-block"></span>
                    </div>
</div>

<div class="form-group" style="display:none">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="radio" name="skin1tip" value="1" checked="true" />
                        <span class="help-block"></span>
                    </div>
</div>


<div class="form-group"   style="display:none">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">网站主色调</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="radio" name="color" value="2" checked="true" />粉色
                        <span class="help-block"></span>
                    </div>
</div>



	     </div>
	</div>

<div class="panel panel-default settings">
		<div class="panel-heading">API参数相关设置</div>
		<div class="panel-body">
			


<div class="form-group" >
                    <label class="col-xs-1 col-sm-3 col-md-2 control-label">淘宝客API - App Key</label>
                    <div class="col-sm-5 col-xs-1">
                        <input type="text" name="tb_key" class="form-control" value="{$set['tb_key']}" />
                        <span class="help-block">查看地址：http://my.open.taobao.com/</span>
                    </div>
</div>

<div class="form-group" >
                    <label class="col-xs-1 col-sm-3 col-md-2 control-label">淘宝客API - App Secret</label>
                    <div class="col-sm-5 col-xs-1">
                        <input type="text" name="tb_secret" class="form-control" value="{$set['tb_secret']}" />
                        <span class="help-block">查看地址：http://my.open.taobao.com/</span>
                    </div>
</div>


<div class="form-group" >
                    <label class="col-xs-1 col-sm-3 col-md-2 control-label">普通PID（类型：自助）</label>
                    <div class="col-sm-5 col-xs-1">
                        <input type="text" name="tb_pid" class="form-control" value="{$set['tb_pid']}" />
                        <span class="help-block">查看地址：http://pub.alimama.com/</span>
                    </div>
</div>

<div class="form-group" >
                    <label class="col-xs-1 col-sm-3 col-md-2 control-label">鹊桥PID（类型：主题活动）</label>
                    <div class="col-sm-5 col-xs-1">
                        <input type="text" name="tb_qpid" class="form-control" value="{$set['tb_qpid']}" />
                        <span class="help-block">查看地址：http://pub.alimama.com/</span>
                    </div>
</div>

<div class="form-group" >
                    <label class="col-xs-1 col-sm-3 col-md-2 control-label">大淘客Appkey</label>
                    <div class="col-sm-5 col-xs-1">
                        <input type="text" name="dtk_key" class="form-control" value="{$set['dtk_key']}" />
                        <span class="help-block">查看地址：http://www.dataoke.com/ucenter/appkey_apply.asp</span>
                    </div>
</div>



	     </div>
	</div>







	     </div>
	</div>








         <button class="btn btn-primary" name='submit' value="提交" type="submit" style="margin-left:20px"> 提 交 </button>
         <input type="hidden" name="token" value="{$_W['token']}">
</form>

<script type="text/javascript">
	require(['filestyle'], function(){
		$(".form-group").find(':file').filestyle({buttonText: '上传图片'});
	});
	function tokenGen() {
		var letters = 'abcdefghijklmnopqrstuvwxyz0123456789';
		var token = '';
		for(var i = 0; i < 32; i++) {
			var j = parseInt(Math.random() * (31 + 1));
			token += letters[j];
		}
		$(':text[name="wetoken"]').val(token);
	}
	function EncodingAESKeyGen() {
		var letters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
		var token = '';
		for(var i = 0; i < 43; i++) {
			var j = parseInt(Math.random() * 61 + 1);
			token += letters[j];
		}
		$(':text[name="nbkey"]').val(token);
	}
	{if $account['type'] != 3}
		$(':radio[name="type"][value="3"]').click(function() {
			$(':radio[value="1"]').prop('checked',true);
			if (confirm('必须通过公众号授权登录页面进行授权接入，是否跳转至授权页面...')) {
				location.href="{$authurl}";
			} else {
				return false;
			}
		});
	{/if}
</script>
{template 'footer'}