#page-index {
  .box-image {
    min-height: 300px;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .box-btns {
    margin: 0 5%;
    position: absolute;
    bottom: 30px;
    width: 90%;
  }
}
