#page-register {
  padding-top: 10px;
  background-color: #efeff4;

  .box-btns {
    margin: 10px 20px 0;
  }

  .box-terms {
    margin-top: 40px;
    color: #666;
    font-size: 14px;
    text-align: center;
  }
}
