.index_menu{
	background:#fff;
    overflow: hidden;	
}
.index_menu li {
    width: 25%;
    text-align: center;
    padding: 10px 0;
	float:left;
}
.index_menu li img{
    width: 100%;
    max-width: 50px;
}

.weui_search_inner {
	padding-left: 30px;
}






