
/*分类*/
.class ul li {
	text-align: center;
	float: left;
}
.class ul li a:hover, .class ul li a:active, a.box:hover, a.box:active {
	background: #f4f4f4;
	opacity: .8;
}
.class ul li img {
	width: 2rem;
	height: 2rem;
 margin:.5rem auto
}
.class ul li .title {
	line-height: 1rem;
	height: 2rem
}
.class_ul li {
	width: 33.3%;
	float: left;
}
.class_ul li a {
	width: 5.5rem;
	height: 2rem;
	line-height: 2rem;
border-radius:.2rem
}
.class_ul li a:hover, .class_ul li a:active {
	border: 1px solid #1CC2A7;
	color: #1CC2A7;
}
/*订单中心*/
.ubb b-bla01 .active {
	color: #eb4f38;
}
.c-red1 {
	background-color: #EB4F38
}
.c-blu4 {
	background-color: #1CC2A7
}
.t-red1 {
	color: #EB4F38
}
/*images图片*/
.imgbox {
	background-image: url(../images/nopic.png);
}
.imgbox1 {
	width: 4rem;
	height: 4rem;
}
.imgbox2 {
	width: 3rem;
	height: 3rem;
}
.sm-imgbox {
	width: 1rem;
	height: 1rem;
margin:.05rem .2rem 0 0
}
.rod-imgbox {
	width: 3rem;
	height: 3rem
}
.rod-imgbox2 {
	width: 4rem;
	height: 4rem
}
.rod-imgbox4 {
	width: 5rem;
	height: 5rem
}
.rod-imgbox3 {
	width: 1.5rem;
	height: 1.5rem
}
.imgbox1 img, .imgbox2 img, .sm-imgbox img {
	width: 100%;
	height: auto;
}
.rod-imgbox img, .rod-imgbox2 img, .rod-imgbox3 img, .rod-imgbox4 img {
	border-radius: 50%;
	width: 100%;
	height: auto
}
/*会员中心*/
.b-org50 {
	border-color: #F7B8AF;
}
.diceng {
	opacity: .4;
	height: 3rem;
	left: 0;
	bottom: 0;
	z-index: 99
}
.wenzi {
	left: 0;
	bottom: 0;
	height: 3rem;
	z-index: 999
}
.iconn {
	width: 2rem;
	height: 2rem;
}
.hit {
	padding-top: 0.2rem;
	height: 2rem;
}
/*充值*/
.hd {
	padding: 2rem 0
}
.bd {
}
/*链接*/
a.a1:hover, a.a1:active {
	color: #1CC2A7;
}
/*预约*/
.android-ics {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
.android-ics .dw .dwb {
	/*padding:10px;*/
	display: block;
}
/*kk-check-radio*/
.kk-check label {
	position: relative;
}
.kk-check input[type="radio"]:checked, .kk-check input[type="radio"]:not(:checked), .kk-check input[type="radio"]:not(:checked) + label i {
	display: none;
}
.kk-check input[type="radio"]:not(:checked) + label {
}
.kk-check input[type="radio"]:checked + label {
	/*background-color: #CC6600;*/
	color: #CC6600;
	border-color: #CC6600;
}
.kk-check input[type="radio"]:checked + label i {
	position: absolute;
	right: -1px;
	bottom: -2px;
}
/*uu-check-radio*/
.uu-check input[type="radio"]:checked, .uu-check input[type="radio"]:not(:checked) {
	display: none;
}
.uu-check input[type="radio"]:not(:checked) + label .iconn>div {
	display: none;
}
.uu-check input[type="radio"]:checked + label .iconn>div {
	display: block;
}
/*ww-check-radio*/
.ww-check input[type="radio"]:checked, .ww-check input[type="radio"]:not(:checked) {
	display: none;
}
.ww-check input[type="radio"]:not(:checked) + label i.t-dgra {
}
.ww-check input[type="radio"]:checked + label i.t-dgra {
	color: #CC6600;
}
.loadaaa {
	background: url(../images/zp_loading_new.png) center top no-repeat;
	background-size: 100%;
	-webkit-animation: loading 3s linear infinite;
	animation: loading 3s linear infinite;
}
.loginmask, .loginmask2, .loginmask3 {
	width: 100%;
	height: 100%;
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}
#footer > div {
	height: 3.125rem!important;
}
@-webkit-keyframes loading {
0% {
-webkit-transform:rotate(0deg)
}
100% {
-webkit-transform:rotate(360deg)
}
}
@keyframes loading {
0% {
-webkit-transform:rotate(0deg)
}
100% {
-webkit-transform:rotate(360deg)
}
}
html {
	width: 100%;
	overflow-x: hidden;
	font-family: "STHeiti STXihei", Helvetica, "Microsoft JhengHei", "Microsoft YaHei", Tohoma, Arial;
}
.class, .bid_body, .pc_btn {
}
.mask_box {
	width: 90%;
	height: auto;
}
.banner {
	height: 100%;
}

.top_menu {
}
.class_list {
	padding-top: 3.3rem;
}
#footer a, .class ul li{
	width: 25%;
}
#footer a, #footer a:active, #footer a:visited, #footer a:hover, #footer a:focus {
	color: #8c8c8c;
	text-decoration: none;
}
.pc_index {
}
.top-head, .foot2, .pc_index {
	display: none;
}
.bid_header {
	width: 100%;
}
#fenye, .pc-btn-box, .pc_index {
	display: none;
}
.class ul li a {
	padding-top: 0.5rem;
}
.hbt{height:3.125rem; overflow:hidden}


