*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Helvetica, STHeiTi, Sans-serif;
    font-size: .26rem;
    background: #6c234e;
}
img{
    width: 100%;
}
p {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
input{
    border: 0;
}
.c-cb{
    clear: both;
}
a,a:hover,a:focus{
    text-decoration: none;
}
.col-1{
    width:10%;
}
.col-2{
    width: 20%;
}
.col-3{
    width: 33.33%;
}
.col-4{
    width: 40%;
}
.col-5{
    width: 50%;
}
.col-6{
    width: 60%;
}
.col-7{
    width: 70%;
}
.col-8{
    width:80%;
}
.col-9{
    width:90%;
}
.f-fl{
    float: left;
}
.f-fr{
    float: right;
}
.col-red{
    color: #ff2d72;
}

/*首页*/
.g-doc{
    background: #6c234e;
}
.m-nav{
    overflow: hidden;
}
.nav-list a{
    background: #ffeb4e;
    color: #7d540c;
    text-align: center;
    font-size: .3rem;
    font-weight: bold;
    display: block;
    border-radius: .2rem;
    margin: .2rem;
    padding: .2rem;
}
.slider{
    display:none;
    overflow: hidden;
}

.m-search{
    margin: .2rem .2rem 0 .2rem;
    overflow: hidden;
}
.m-search .search-input{
    font-size: .26rem;
    width: 6.4rem;
    float: left;
}
.m-search .search-input input{
    width: 100%;
    height: .7rem;
    line-height: .7rem;
    border: 0;
    font-size: .26rem;
    text-indent: .2rem;
}
.btn-search a{
    width: .7rem;
    height: .7rem;
    float: left;
    background: #d74179;
    text-align: center;
}
.btn-search img{
    width:.3rem;
    height: .3rem;
    margin-top: .2rem;
}
.m-menu{
    overflow: hidden;
}
.menu-list a{
    background: #ee6196;
    color: #fff;
    text-align: center;
    font-size: .3rem;
    font-weight: normal;
    display: block;
    margin: .2rem .2rem 0 .2rem;
    padding: .2rem;
}
.menu-list a.cur{
    background: #fdf4fb;
    color: #ee6196;
    text-align: center;
    font-size: .3rem;
    font-weight: normal;
    display: block;
    margin: .2rem .2rem 0 .2rem;
    padding: .2rem;
}

.m-player{
    background: #fff;
    margin: .2rem;
    padding:  .2rem 0 .2rem .2rem;
    overflow: hidden;
}


.num-player{
    position: absolute;
    background: #ee6196;
    padding: .05rem .2rem;
    font-size:.26rem;
    color: #fff;
    font-weight: normal;
    text-align: center;
}
.num-player p{
    padding: 0;
    margin:0;
}
.img-player img{
    vertical-align: top;
    width: 100%;
}
.des-player{
    overflow: hidden;
}
.des-player p{
    padding: 0;
    margin:0;
    font-size: .26rem;
    line-height: 1.5;
}
.des-player .f-fl{
    float: left;
    color: #444;
    padding:0 .15rem;
}
.des-player .f-fr .p-right{
    float: right;

}
.des-player .f-fr a,.des-player .f-fr a:hover{
    color: #fff;
    text-decoration: none;
    display: block;
    background: #ee6196;
    padding: .23rem;
}
.des-player .f-fr h4{
    font-size: .26rem;
    font-weight: normal;
}

.list-page:after{
    content:'';
    visibility:hidden;
    font-size:0;
    height:0;
    display:block;
    clear:both;
}

.m-page{
    width:100%;
    text-align:center;
    margin-bottom: .2rem;
}

ul.list-page{
    display:inline-block;
}

ul.list-page li{
    float:left;
    margin:0 .15rem;

    cursor:pointer;
}

ul.list-page li a{
    padding: .15rem;
    display:block;
    color: #fff;
    background-color:#ee6196;
}



.m-footer{
    overflow: hidden;
    background: #ffc5db;
}
.m-footer h4{
    color: #fff;
}

.foot{
    background: #f4e9ac;
    margin: .2rem;
    padding:.15rem;
    border:1px dashed #ff619c;
}
.foot p{
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.5;
}
.m-copyright{
    padding: .2rem;
    text-align: center;
}
.m-copyright p{
    color: #fff;
}



/*首页*/

/*弹出框*/
#gzh,#sponsor_gzh{
    width: 100%;
    position: relative;
    display: none;
}
#gzhcancel{
    width: 100%;
    position: relative;
    display: none;
}
.gzhbj,.gzhcancelbj{
    background: none repeat scroll 0% 0% #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}
.gzhnr{
    color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    width:80%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    /*margin: 0 10%;*/
    z-index: 1001;
    border:1px solid #31B0D5;
    background: #31B0D5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    /*padding:10px 10px 10px 10px;*/

}
.gzhcancelnr{
    color: #fff;
    position: fixed;
    left: 50%;
    top: 50%; 
    width:80%;
    height:0.5rem;
    line-height:0.5rem;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    /*margin: 0 10%;*/
    z-index: 1001;
    border:1px solid #31B0D5;
    background: #31B0D5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding:10px 10px 0 10px;
}
.gzhnr p{
    border-bottom: 1px solid #ddd;
    padding:20px 10px 20px 10px;
    margin: 0;
}
.gzhnr div{
    float: left;
    width: 43%;
    height:0.5rem;
    line-height:0.5rem;
    text-align: center;
    padding:10px 10px 10px 10px;
    border-right: 1px solid #ddd;
}
.gzhnr div.last{
    float: left;
    width: 40%;
    text-align: center;
    padding:10px 10px 10px 10px;
    border-right:0
}
.gzhnr div{
    cursor: pointer;
}


/*其他页面*/
.center-bt{
    text-align: center;
    color: #6c234e;
    margin-bottom: .2rem;
}
.center-bt h2{
    font-size: .32rem;
}
/*排行榜*/
.m-center{
    background: #fff;
    margin: .2rem;
    padding:  .2rem;
    overflow: hidden;
}
table.rank-list strong{
    color: #ee6196;
}
table.rank-list{
    border-top: 1px solid #777;
    border-left: 1px solid #777;
    width: 100%;
}
.rank-list td{
    float: left;
    width: 24.85%;
    text-align: center;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
    padding: .15rem 0;
}
/*排行榜*/

/*赛事说明*/

.event{}
.event-list{
    margin-bottom: .2rem;
}
.event-list h3{
    font-size: .28rem;
    font-weight: bold;
    color: #353535;
    padding-bottom: .15rem
}
.event-list p{
    line-height: 1.5;
}

/*赛事说明*/

/*选手详情*/
.article-box{
    border-radius:.1rem;
    border: 2px dashed #ee6196;
    margin-bottom: .2rem;
}
.article-info{
    background: #ee6196;
    padding:.15rem .15rem .05rem .15rem;
    margin:.1rem;
    border-radius: .1rem;
    color: #fff;
}
.article-info p{
    padding: 0;
    margin-bottom:.15rem
}
.palyer-info{
    margin-bottom: .2rem;
}
.btn-link button{ 
    width: 100%;
    padding: .2rem;
    font-size: .26rem;
    border: 0;
    border-radius: .1rem;
    margin-bottom: .2rem;
}
.btn-link button.btn-white{
    background: #fff;
    color: #353535;
}
.btn-link button.btn-red{
    background:#ee6196;
    color: #fff;
}
.btn-link button.btn-blue{
    background: #1da4e3;
    color: #fff;
}

.btn-link button.btn-orange{
    background:orange;
    color: #fff;
}

.btn-link button.btn-green{
    background:green;
    color: #fff;
}

/*选手详情*/

/*赞助商列表*/

.list-zzs a{
    color: #777;
    overflow: hidden;
    clear: both;
    display: block;
    padding: .15rem 0;
    border-bottom: 1px solid #ddd;
}
.list-zzs .zzs-img{
    float: left;
    width: 25%;
}
.list-zzs .zzs-img img{
    width:1.5rem;
    height: 1.5rem;
}
.list-zzs .zzs-info{
    width: 75%;
    float: left;
}
.zzs-info h3{
    font-weight: bold;
    padding-bottom: .1rem;
}
.zzs-info p{
    line-height: 1.5;
}

.zzs-info p{
    line-height: 1.5;
}
.zzs-where{
    border-top: 1px solid #ddd;
    margin: .2rem 0;
}
.zzs-where p{
    line-height: 1.5;
}
/*赞助商列表*/

/*报名*/
.form-group{
    overflow: hidden;
    margin: .15rem 0
}
.form-group-bt{
    margin-bottom: .1rem;
    overflow: hidden;
    display: block;
}
.form-group input{
    border: 1px solid #ddd;
    width: 99.4%;
    padding: .15rem 0;
    text-indent:.2rem;
    font-size: .26rem;
   outline:none;
}
.form-group textarea{
    width: 99.4%;
    border: 1px solid #ddd;
    padding: .15rem 0;
    text-indent:.2rem;
    font-size: .26rem;
    outline:none;
}
.list-playerimg li{
    float: left;
    margin: .15rem;
    margin-left:0;
}
.list-playerimg li img{
    width: 1.5rem;
}
/*报名*/

/*其他页面*/
