a{text-decoration:none} 
.theme1,.theme1 .g-doc{background:#f5a2d3} 
.theme1 .nav-list a{background:#31d5d5;color:#ffffff} 
.theme1 .menu-list a{background:rgba(218, 128, 241, 0.9);}
.theme1 .menu-list a.cur{background:#f1ed87;color:#ea23d9}
.theme1 .des-player .f-fr a, .des-player .f-fr a:hover{background:#f1ed87;color:#ee6194}
.theme1 .article-info{background:#f5a2d3}
.theme1 .num-player{background:#f1ed87;color:#ee6194}
.theme1 .btn-search a{background:#f1ed87}

.theme2,.theme2 .g-doc{background:#a2f5f1} 
.theme2 .nav-list a{background:#316bd5;color:#ffffff} 
.theme2 .menu-list a{background:rgb(34, 177, 194);}
.theme2 .menu-list a.cur{background:#e89936;color:#ffffff}
.theme2 .des-player .f-fr a, .des-player .f-fr a:hover{background:#e89936}
.theme2 .article-info{background:#a2f5f1;color:#31708f}
.theme2 .num-player{background:#e89936}
.theme2 .btn-search a{background:#e89936}

.theme3,.theme3 .g-doc{background:#fb4f5f} 
.theme3 .nav-list a{background:#d2d531;color:#ffffff} 
.theme3 .menu-list a{background:rgb(34, 177, 194);}
.theme3 .menu-list a.cur{background:#36e875;color:#ffffff}
.theme3 .des-player .f-fr a, .des-player .f-fr a:hover{background:#36e875}
.theme3 .article-info{background:#fb4f5f}
.theme3 .num-player{background:#36e875}
.theme3 .btn-search a{background:#36e875}