<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
	<meta name="format-detection" content="telephone=no" />
    <title>内容详情</title>
    <style>
        .content {border-bottom:0.5px solid #CCCCCC;}
    </style>
    <script src="{ASSETS_PATH}js/timeago.js"></script>
    <script type="text/javascript">
    $(function(){
        $('body').timeago();
    });
</script> 
</head>
<body style="margin: 0px;padding: 0px">
<!--顶部图片-->
<div class="img-top">
    <a href="jacascript"><img src="{php echo $_W['siteroot'].'attachment/'.$site['foot_img']}" height="100px" width="100%"></a>
</div>
<div class="content">
    <div class="userimg" style="margin-top:10px; margin-left:5px; margin-right:5px;">
        <img src="{$linfo['headimg']}" width="50px;" height="50px;" >
    </div>
    <div class="username" style="margin-left:60px; margin-top:-70px; color:#666666;">
        <p style="font-size:0.9em;"><strong>{$linfo['user']}</strong></p>
	</div>
	
	<div class="time" style="margin-left:60px; margin-top:-12px; color:#999999;">
        <p style="font-size:0.9em; margin-top:-12px;"><time class="timeago" datetime="{php echo date("Y-m-d H:i:s",$linfo['time'])}">about 9 hours later</time></p>
    </div>
	
    <div class="usercontent" style="margin-left:5px; margin-top:-10px; color: #333333; margin-right:5px; margin-bottom:20px;">
        <p style="font-size:0.9em; margin-left:55px;">{$linfo['info']}</p>
        {loop $linfo['img'] $k $v}
        <img src="{$v['name']}" width="80%" style="margin-left:55px;">
        {/loop}
    </div>
</div>
    {loop $hres $k $v}
	
    <div class="guanli" style="margin-top:20px;margin-bottom:20px;">
     <P style="font-size:0.9em; margin-left:5px;">{$site['admins']}</P>
	 <div class="guanlihuifuc" style="margin-left:50px; margin-top:-6px; font-size:0.8em; margin-right:5px;">
	 	<p>{$v['content']}<br></P>
			</div>
       <P style="font-size:0.8em; float:right; margin-right:8px;">回复时间:{$v['time']}</P>
   
	</div>
    {/loop}
	
	
</div>

<!--<div class="img-footer" style="margin-top:10px;">
    <a href=""><img src="{php echo $_W['siteroot'].'attachment/'.$site['foot_img']}" height="100px" width="100%"></a>
</div>-->

<!--底部栏目-->
	<div class="dibu" style="margin-bottom:0px; font-size:0.8em; color:#333333; background-color:#FFFFFF; border-top:0.5px solid #CCCCCC; position:fixed; bottom:0; left:0; width:100%;">
      		<div align="center"><span><b>{php echo $site['copy']}</b></span>
        </div>
	</div>
</body>
</html>