{template "base/child_header"}
    <link href="{MODULE_URL}/static/admin/tbs/styles/smart_wizard_vertical.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{MODULE_URL}/static/admin/tbs/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{MODULE_URL}/static/admin/tbs/js/jquery.smartWizard-2.0.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#wizard').smartWizard({
                transitionEffect:'slide',
                selected:{$sep}
            });
        });
    </script>
    <style>
        .adm_ln{line-height: 35px;margin-right:30px;}
    </style>
<style type="text/css">
    #topmenu{width:980px;margin:40px auto 0 auto;height:60px;position:relative;}
    #topmenu ul{margin:0;padding:0;}
    #topmenu ul li{float:left;font-size:12px;list-style:none;background:#222;position:relative;text-align:center;text-transform:uppercase;width:70px;margin:0 10px;display:inline;	line-height:30px;}
    #topmenu ul li a{color:#aaa;text-decoration:none;}
    #topmenu ul li a:hover{color:#fff;}
    #topmenu ul li.active a{color:#fff;font-weight:800;}
    .stepContainer{height:550px;}
    .content{height: 550px !important;}
    .swMain .stepContainer div.content{border: 0;background: #FFFFFF}
</style>
<form  class="layui-form">
    <blockquote class="layui-elem-quote ">
        {if $_GPC['tp']!='des' }
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="hidden" id="id" value="{$flowInfo['id']}">
                <input type="text" value="{$flowInfo['name']}" id="name" placeholder="流程名称" class="layui-input ">
            </div>
            <a class="layui-btn add_flow" lay-submit lay-filter="search">保存</a>
        </div>
        {else}
        <div class="layui-inline" style="margin-right:30px;">
            <h3>{$flowInfo['name']}</h3>
        </div>
        <div class="layui-inline">
            <a class="layui-btn layui-btn-normal add_node" data-id="{$flowInfo['id']}">节点添加</a>
        </div>
        {/if}
    </blockquote>
</form>
<div id="wizard" class="swMain" style="margin-top:20px; display:{if $_GPC['tp']!='des'}none{else}bock{/if} ">
    <ul style="padding-bottom: 10px;">
        {loop $nodeList $key $node}
        <li>
            <a href="#step-{$node['sort']}" class="node_list" data-key="{$key}" data-id="{$node['id']}">
                <span class="stepNumber">{$node['sort']}</span>
                <span class="stepDesc">
                    {$node['name']}<br />
                    <small>
                        <i class="layui-icon node_edit" data-id="{$node['id']}" data-fid="{$node['flow_id']}" style="cursor:pointer"></i>
                        <i class="layui-icon node_del" data-id="{$node['id']}" data-fid="{$node['flow_id']}" style="margin-left:10px;cursor:pointer"></i>
                    </small>
                </span>
            </a>
        </li>
        {/loop}
    </ul>

    {loop $nodeList $key $node}
    <div id="step-{$node['sort']}" >
        {if $key==$sep}
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">谁处理</li>
                <li>处理结果</li>
                <li>反馈信息</li>
                <li>通知消息</li>
            </ul>
            <div class="layui-tab-content" >
                <div class="layui-tab-item layui-show">
                    <form class="layui-form" action="">
                    <input type="hidden" name="id" value="{$nodeId}">
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="text-align: left">操作人</label>
                        <div class="layui-input-block">
                            <input type="radio" lay-filter="role" name="role" value="1" {if $nodeInfo['who']==1} checked {/if} title="员工" >
                            <input type="radio" lay-filter="role" name="role" value="2" {if $nodeInfo['who']==2} checked {/if} title="客户" >
                        </div>
                    </div>
                    <div class="layui-form-item role_hd" {if $nodeInfo['who']==2} style="display:none" {/if} >
                        <label class="layui-form-label" style="text-align: left">处理部门</label>
                        <div class="layui-input-block">
                            <a class="layui-btn layui-btn-primary layui-btn-small add_dp">
                                <i class="layui-icon">&#xe654;</i>
                            </a>
                        </div>
                    </div>
                    <div class="layui-form-item role_hd" {if $nodeInfo['who']==2} style="display:none" {/if}>
                        <label class="layui-form-label" style="text-align: left">部门列表</label>
                        <div class="layui-input-block admin_list">
                            {if $nodeInfo['who']==2}
                            <a href="javascript:" class="adm_ln">无</a>
                            {else}
                                {loop $dpList $index $fl}
                                    <a href="javascript:" class="adm_ln"><input type="hidden" name="admin[{$index}]" value="{$fl['id']}">{$fl['name']} </a>
                                {/loop}
                            {/if}

                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="add_role">保存</button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="layui-tab-item">
                    <form class="layui-form" action="">
                        <input type="hidden" name="id" value="{$nodeId}">
                        <input type="hidden" name="flow" value="{$flowInfo['id']}">
                        {loop $statusList $key $status}
                        {if isset($statusArr[$key])}
                        <div class="layui-form-item">
                            <div class="layui-input-inline">
                                <input type="text" name="status[{$key}]" value="{$statusArr[$key]['status']}" required="" placeholder="处理状态" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-input-inline">
                                <select name="doe[{$key}]" >
                                    <option value="1" {if $statusArr[$key]['do']==1}selected{/if}>继续</option>
                                    <option value="0" {if $statusArr[$key]['do']==0}selected{/if}>停止</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <select name="next[{$key}]">
                                    <option value="0">下一节点</option>
                                    {loop $nodeList $node}
                                    <option value="{$node['id']}" {if $statusArr[$key]['next']==$node['id']}selected{/if}>{$node['name']}</option>
                                    {/loop}
                                </select>
                            </div>
                        </div>
                        {else}
                        <div class="layui-form-item">
                            <div class="layui-input-inline">
                                <input type="text" name="status[{$key}]" required="" placeholder="处理状态" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-input-inline">
                                <select name="doe[{$key}]" >
                                    <option value="1">继续</option>
                                    <option value="0">停止</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <select name="next[{$key}]">
                                    <option value="">下一节点</option>
                                    {loop $nodeList $node}
                                    <option value="{$node['id']}">{$node['name']}</option>
                                    {/loop}
                                </select>
                            </div>
                        </div>
                        {/if}
                        {/loop}
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="status_list">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-tab-item">
                    <form class="layui-form" action="">
                    <input type="hidden" name="id" value="{$nodeId}">
                    {loop $formList $key $form}
                    {if isset($formArr[$key])}
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="hidden" name="py[{$key}]" required="" value="{$formArr[$key]['py']}" >
                            <input type="text" name="label[{$key}]" required="" value="{$formArr[$key]['label']}" placeholder="字段名称" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <select name="form[{$key}]" lay-verify="required">
                                <option value="0">表单类型</option>
                                {loop $eleList $ele}
                                <option value="{$ele['name']}" {if $formArr[$key]['type']==$ele['name']}selected{/if} >{$ele['el_name']}</option>
                                {/loop}
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="pl[{$key}]" required="" value="{$formArr[$key]['pl']}"  placeholder="默认值,需要多个值的','隔开 autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    {else}
                        <div class="layui-form-item">
                            <div class="layui-input-inline">
                                <input type="text" name="label[{$key}]" required=""  placeholder="字段名" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-input-inline">
                                <select name="form[{$key}]" lay-verify="required">
                                    <option value="0">表单类型</option>
                                    {loop $eleList $ele}
                                    <option value="{$ele['name']}">{$ele['el_name']}</option>
                                    {/loop}
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" name="pl[{$key}]" required=""  placeholder="默认值,需要多个值的','隔开"  class="layui-input">
                            </div>
                        </div>
                    {/if}
                    {/loop}
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="form_list">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-tab-item">
                    <form class="layui-form" action="">
                        <input type="hidden" name="id" value="{$nodeId}">
                        <div class="layui-form-item">
                            <label class="layui-form-label">员工消息</label>
                            <div class="layui-input-block">
                                <input name="admin" title="开启" type="checkbox" {if $nodeInfo['admin_msg']==1}checked{/if}><div class="layui-unselect layui-form-checkbox layui-form-checked" lay-skin=""><span>开启</span><i class="layui-icon"></i></div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">顾客消息</label>
                            <div class="layui-input-block">
                                <input name="member" title="开启" type="checkbox" {if $nodeInfo['member_msg']==1}checked{/if}><div class="layui-unselect layui-form-checkbox layui-form-checked" lay-skin=""><span>顾客</span><i class="layui-icon"></i></div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="msg">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {/if}
    </div>
    {/loop}
</div>
<script>
    var ly;
    layui.use(['form','layer','element'], function(){
        var form = layui.form();
        var layer = layui.layer;
        var $ = layui.jquery;

        //角色选择项目
        form.on('radio(role)', function(data){
           if(data.value==1){
                $(".role_hd").css("display","block");
           }else{
               $(".role_hd").css("display","none");
               $(".admin_list").html("<a href='javascript:' class='adm_ln'>无</a>");
           }
        });

        form.on('submit(add_role)', function(data){
            $.post("{php echo $this->createWebUrl('addRole')}&Ajax=",data.field,function(response){
                layer.msg(response.msg,{icon: response.code});
            },"json");
            return false;
        });

        form.on('submit(status_list)', function(data){
            $.post("{php echo $this->createWebUrl('status')}&Ajax=",data.field,function(response){
                layer.msg(response.msg,{icon: response.code});
            },"json");
            return false;
        });

        form.on('submit(form_list)', function(data){
            $.post("{php echo $this->createWebUrl('addFrom')}&Ajax=",data.field,function(response){
                layer.msg(response.msg,{icon: response.code});
            },"json");
            return false;
        });

        form.on('submit(msg)', function(data){
            $.post("{php echo $this->createWebUrl('addMsg')}&Ajax=",data.field,function(response){
                layer.msg(response.msg,{icon: response.code});
            },"json");
            return false;
        });

        //选取员工
        $(".add_dp").click(function(){
            ly = layui.layer.open({
                type:2,
                title:false,
                content:"{php echo $this->createWebUrl('selectDp')}&id={$nodeId}",
                area:["300px","70%"]
            });
        });

        $(".add_flow").click(function () {
            var post = new Object();
            post.name = $("#name").val();
            if(post.name==""){
                $("#name").focus();
                layer.msg("填写流程名称");
                return false;
            }
            post.id=$("#id").val();
            $.post("{php echo $this->createWebUrl('addFlow')}",post,function(response){
                layer.msg(response.msg);
                setTimeout(function(){
                    if(response.code==1){
                        setTimeout(function(){
                            parent.location.reload();
                        },1000);
                    }
                },1000);
            },"json");
        });

        //添加子节点
        $(".add_node").click(function(){
            var second = layer.open({
                type: 2,
                title:"节点管理",
                content:"{php echo $this->createWebUrl('add',array('tb'=>'node'))}&fid={$flowInfo['id']}",
                area: ['60%', '80%']
            });
        });

        //标记操作
        $(".node_edit").on("click",function(){
            var id = $(this).attr("data-id");
            var fid =$(this).attr("data-fid");
            var url = "{php echo $this->createWebUrl('edit',array('tb'=>'node'))}&fid="+fid+"&id="+id;
            var index = layer.open({
                title : "编辑流程",
                type : 2,
                content : url,
                area: ['60%', '80%']
            });
            return false;
        });

        //删除节点
        $(".node_del").click(function(){
            var id =$(this).attr("data-id");
            $.post("{php echo $this->createWebUrl('delete')}&tb=node&id="+id,function(response){
                layer.msg(response.msg,{icon: response.code});
                if(response.code==1){
                    setTimeout(function(){
                        location.reload();
                    },1200);
                }
            },'json');
            layer.msg("删除成功");
        });

        //切换菜单节点
        $(".node_list").click(function(){
            var id=$(this).attr("data-id");
            var node = $(this).attr("data-key");
            location.href="{php echo $this->createWebUrl('editFlow')}&id={$flowInfo['id']}&node="+id+"&sep="+node+"&tp=des";
        });

        $("body").on("click",".adm_ln",function(){
            $(this).remove();
        });
    });

    function setAdmin(str){
        $(".admin_list").html(str);
        layui.layer.close(ly);
    }
</script>
{template "base/child_footer"}
