{template 'common/header'}
<style type='text/css'>
.red { float:left;color:red}
.white {float:left;color:white}
.tooltipbox {
	background:#fef8dd;border:1px solid #c40808; position:absolute; left:0;top:0; text-align:center;height:20px;
	color:#c40808;padding:2px 5px 1px 5px; border-radius:3px;z-index:1000;
}
</style>
<ul class="nav nav-tabs">
  <li {if $op == 'display'}class="active"{/if}>
    <a href="{php echo $this->createWebUrl('record', array('op' => 'display'))}">奖励记录</a>
  </li>
</ul>

    <div class="main">
		<div class="panel panel-info">
			<div class="panel-heading">筛选</div>
			<div class="panel-body">
				<form action="" class="form-horizontal" method="post">
					<input type="hidden" name="rid" value="{$rid}">
					<div class="form-group">
						<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">会员</label>
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-2">
							<input class="form-control" name="username" id="" type="text" value="{$_GPC['username']}" placeholder="填写粉丝昵称">
						</div>
						<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">店员</label>
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-2">
							<input class="form-control" name="operatorname" id="" type="text" value="{$_GPC['operatorname']}" placeholder="填写店员名称">
						</div>
						<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">种类</label>
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-2">
							<select name="typeid" class="form-control">
								<option value="0">不限</option>
								{loop $types $type}
								<option value="{$type['id']}" {if $type['id']==$_GPC['typeid']} selected="selected" {/if}>{$type['name']}</option>
								{/loop}
							</select>						
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">开始日期</label>
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-2">
							<input class="form-control" name="startdate" id="" type="text" value="{$_GPC['startdate']}" placeholder="例如：2015-01-01">
						</div>
						<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">结束日期</label>
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-2">
							<input class="form-control" name="enddate" id="" type="text" value="{$_GPC['enddate']}" placeholder="例如：2016-12-31">
						</div>
						<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">&nbsp;</label>
						<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">
							<button class="btn btn-default" type="submit"><i class="fa fa-search"></i> 搜索</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-body table-responsive">
				<h4 class="sub-title">详细数据  |  记录数:{$total}  |  积分数:{$totalmoney}</h4>
				<form action="" method="post" onsubmit="">
					<table class="table table-hover">
						<tbody>
							<tr>
								<td style="width:8%;text-align:center;" >序号</td>
								<td style="width:18%;text-align:center;" >会员</td>
								<td style="width:25%;text-align:center;" >OpenID</td>
								<td style="width:13%;text-align:center;" >操作员</td>
								<td style="width:8%;text-align:center;" >种类</td>
								<td style="width:8%;text-align:center;" >重量</td>
								<td style="width:6%;text-align:center;" >积分</td>
								<td style="width:15%;text-align:center;" >时间</td>
							</tr>
							{loop $list $item}
								<tr>
									<td style="width:8%;text-align:center;" >{$item['id']}</td>
									<td style="width:18%;text-align:center;" >{$item['username']}</td>
									<td style="width:25%;text-align:center;" >{$item['from_user']}</td>
									<td style="width:13%;text-align:center;" >{$item['operatorname']}</td>
									<td style="width:8%;text-align:center;" >{$item['typename']}</td>
									<td style="width:8%;text-align:center;" >{$item['weight']}</td>
									<td style="width:6%;text-align:center;" >{$item['credit1']}</td>
									<td style="width:15%;text-align:center;" >{php echo date("Y-m-d H:i:s" , $item['datetime'] );}</td>
								</tr>
							{/loop}
						</tbody>
					</table>
				</form>
				{$pager}
			</div>
		</div>
    </div>

{template 'common/footer'}