<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>图文详情 - 积分商城</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
<meta content="telephone=no" name="format-detection" />
        <link rel="stylesheet" href="../addons/hc_credit_shopping/style/img/p/yymobile/1509301730/css/common.css">
        <link rel="stylesheet" href="../addons/hc_credit_shopping/style/img/p/yymobile/1509301730/css/buy.css">

		
		
</head>

<style>
.content img{
     width:100%;
     max-width:100%
}
</style>




<body>
<div class="g-body">
    <div class="m-intro">

        <div class="g-wrap m-intro-picWrap content">
             {$goods['content']}
        </div>
    </div>
</div>


</body>
</html>

