/*--公共css--*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,"宋体",}
h1,h2,h3,h4,h5,h6{font-size:100%}
ul,ol{list-style:none}
a{text-decoration:none}
img{ border:none; display:block;}
.fl{ float:left;}
.fr{ float:right;}
.hidden{ display:none;}
a{color:gray;}
a:hover{text-decoration:none;}
fieldset,img,input,textarea,select{border:0}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
.red{color:red;}
.red20{ color:red; font-size:20px;}
.colorf40{ color:#f40;}
.font20{ font-size:20px;color:#333;}
.font16{ font-size:16px;color:#333;}
.wei100{ width:100px;}
.wei160{width:160px;}
.gray{ color:gray; }
.ui-page { -webkit-backface-visibility: hidden;}
:root ,body{height:100%;}
body{display:-webkit-box;display:box;-webkit-box-orient:vertical; color:#333; width:100%; min-width:320px; height:100%; background:#eee;}
.notp .ui-content{padding:0px;}
.notp input.ui-input-text{ margin:0px; padding:0px 0.4em;}
input.ui-input-text, textarea.ui-input-text{ font-weight:100;}
.shopping-main{padding:20px 10px 10px 10px;}
.list{margin-top:20px; overflow:hidden;}
.list .list-tips{color:#555; margin-bottom:10px;}
.list .list-item{width:45%;  overflow:hidden; height:155px; float:left; background:#FFF; margin:0 2.4% 15px 2.4%; -webkit-box-shadow:1px 1px 1px 0 rgba(0,0,0,0.2); box-shadow:1px 1px 1px 0 rgba(0,0,0,0.2);}
.list .list-item > div{overflow:hidden;}
.list .list-item > div > span, .list .list-item > span{display:block; padding:5px 10px; overflow:hidden; font-size:12px; color:#999;}
.list .list-item a{color:#000;}
.list .list-item img{display:block; max-width:100%; height:90px; margin:0 auto; margin-top:10px; padding:0 10px;}
.list .list-item .title{text-align:center; color:#333; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.list .list-item .sold{color:#8c8c8c;}
.list .list-item .sold .price{color:#ed3f02;}
.list .list-item .add-cart{background:#ebe9e9; height:36px; line-height:36px; color:#616161; text-align:center; cursor:pointer;}
.show-more{text-align:center; margin:10px 0;}
.show-more a{display:inline-block; color:#555; font-size:13px; text-shadow:0 1px 1px #fff; box-shadow:0 1px 1px 0 rgba(0,0,0,0.2) inset; padding:8px 50px; background:#ebebeb; text-decoration:none;}
