<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">		
		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
		<title>商家地图</title>
		{php $MOBILE = '../addons/'.$this->modulename.'/template/mobile/';}
		 <script type="text/javascript" src="{$MOBILE}js/jquery-1.7.2.min.js"></script>
		 <link rel="stylesheet" href="{$MOBILE}css/style.css?t={TIMESTAMP}">
	</head>
	<body>
		<!--content-->
		<div class="content">
			<!--map-->
			<div class="businessMap">
				<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=5PESLgvMcSbSUbPjmDKgvGZ3"></script>
				<div id="infoallmap"></div>
			</div>
			<!--map end-->
		</div>
		<!--content end-->
		<script>
			$(function(){
				var s_h = $(".shoppingInfo").height();
				var h = $(window).height();
				$(".businessMap").height(h-s_h);
				
	            // 百度地图API功能
				var map = new BMap.Map("infoallmap");            // 创建Map实例
				map.centerAndZoom(new BMap.Point('{$store['lng']}','{$store['lat']}'), 16);
			
				var marker1 = new BMap.Marker(new BMap.Point('{$store['lng']}','{$store['lat']}'));  //创建标注
				map.addOverlay(marker1);                 // 将标注添加到地图中
				//创建信息窗口
				var content = "<b>{$store['name']}</b><p>{$store['desc']}</p><p>{$store['location_p']}{$store['location_c']}{$store['location_a']}{$store['address']}</p>";
				var infoWindow1 = new BMap.InfoWindow(content);
				marker1.openInfoWindow(infoWindow1);
				marker1.addEventListener("click", function(){this.openInfoWindow(infoWindow1);});
			});
		</script>
	</body>
</html>
