@charset "utf-8";
body {
	color:#333;
	margin:0;
	padding: 0;
	text-decoration: none;
	font-size:14px;
	font-family:"Microsoft Yahei";
	background-color:#EAEAEA;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquotse, th, td {
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6 {font-size:14px;font-weight:normal;}
img {
	border:0;
	vertical-align: middle;
}
ol, ul {
	list-style: none outside none;
	margin:0;
	padding: 0;
}
a {
	color:#333;
	text-decoration: none;
}
.red{
  color:#FF0000;
  }
.green{
   color:#103F00;
}
.c666{
  color:#666;
  }
#content{
	position:absolute;
	top:45px;
	bottom:51px;
	left:0px;
	right:0;
	padding-bottom:30px;
	overflow:auto;
}
#content01{
	position:absolute;
	top:45px;
	bottom:0px;
	left:0px;
	right:0;
	overflow:auto;
}
#content02{
	position:absolute;
	top:45px;
	bottom:51px;
	left:0px;
	right:0;
	overflow:auto;
	background-color:#FFFFFF;
}
.fl{
   float:left;
	   }
.fr{
    float:right;
	   }
.clearFix:after{
 clear:both;
 display:block;
 visibility:hidden;
 height:0;
 line-height:0;
 content:'';
}
.clearFix{zoom:1;}

/*---头部css开始---*/		
.head{ 
    position:relative;
    top:0;
	left:0;
	right:0;
	height:45px;
	width:100%;
	background-color:#393A3E;
}
.close-menu{
    position:absolute;
	top:11px;
	left:10px;
	z-index:3;
	 }
.close-menu  img{
    width:18px;
	height:20px;
		}
.head-title{
   position:absolute;
   height:45px;
   line-height:45px;
   left:40px;
   z-index:2;
   font-size:16px;
   color:#FFFFFF;
   }
/*-----尾部开始----*/	
.footer{
  width:100%;
  margin:auto;
  bottom:0;
  left:0;
  right:0; 
  clear:both;
  position:absolute;
  height:50px;
  padding-top:5px;
  background-color:#fff;
  border-top:1px solid #ddd;
  overflow:hidden; 
  }
.footer li{
   width:25%;
   float:left;
   text-align: center;
   }
.footer li a{
    display:block;
}
.footer li i.home {
   width:20px;
   height:20px;
   display:inline-block;
   background: url(../images/home.png);
   background-size: cover;
   }
.footer li.on i.home{
  background: url(../images/home-h.png);
  background-size: cover;
  }
.footer li i.staff{
   width:20px;
   height:20px;
   display:inline-block;
   background: url(../images/staff.png);
   background-size: cover;
}
.footer li.on i.staff{
  background: url(../images/staff-h.png);
  background-size: cover;
  }
.footer li i.kehu{
   width:20px;
   height:20px;
   display:inline-block;
   background: url(../images/kehu.png);
   background-size: cover;
}
.footer li.on i.kehu{
  background: url(../images/kehu-h.png);
  background-size: cover;
  }
.footer li i.manager{
   width:20px;
   height:20px;
   display:inline-block;
   background: url(../images/manager.png);
   background-size: cover;
}
.footer li.on i.manager{
  background: url(../images/manager-h.png);
  background-size: cover;
  }
.footer li p {
   color:#313131;
   font-size: 12px;
   }
.footer li.on p {
   color:#EF4F4F;
   }

/*-----客户购买列表页底部----*/	
.footer li i.fenlei{
   width:20px;
   height:20px;
   display:inline-block;
   background: url(../images/fenlei.png);
   background-size: cover;
}
.footer li.on i.fenlei{
  background: url(../images/fenlei-h.png);
  background-size: cover;
  }
.footer li i.dingdan{
   width:20px;
   height:20px;
   display:inline-block;
   background: url(../images/dingdan.png);
   background-size:100% 100%;
}
.footer li.on i.dingdan{
  background: url(../images/dingdan-h.png);
  background-size:100% 100%;;
  }



