@charset "utf-8";
/*---客户主页---*/
.kehu-user-top{
   background-color:#EF4F4F;
   padding:10px 0px;
   width:100%;
   position:relative;
   left:0px;
   right:0px;
   top:0px;
}
.kehu-user-top .userpic{
   position:absolute;
   left:10px;
   top:15px;
   height:70px;
   border-radius: 50%;
   display:block;
   z-index:3;
   }    
.kehu-user-top .userpic img{
    border-radius:50%;
	width:70px;
	height:70px;
	}   
.kehu-user-top .userinfo{
    color:#FFFFFF;
	line-height:23px;
	font-size:13px;
	padding:0px 10px 0px 90px;
}  
.kehu-user-top .userinfo .username{
   font-size:16px;
   line-height:30px;
   }   
.kehu-user-top .userinfo .qiehuan-btn{
   margin-left:10px;
   padding:0px 8px;
   border:1px solid #FFFFFF;
   color:#FFFFFF;
   border-radius:3px;
}   
.kehu-user-top .userinfo a{
   color:#FFFFFF;
   }   
.menu-box{
   margin-top:20px;
   background-color:#FFFFFF;
   border-top:1px solid #ddd;
   border-bottom:1px solid #ddd;
   padding:0px 3%;
}   
.menu-list li{
   height:50px;
   line-height:50px;
   border-bottom:1px solid #DDDDDD;
   overflow:hidden;
   zoom:1;
  } 
.menu-list li a{
	display:block;
   }  
.menu-list li:last-child{
  border-bottom:none;
  }
.menu-list li em{
   float:left;
   font-style:normal;
   }
.menu-list li span{
   float:right;
   font-size:24px;
   color:#B7B7B7;
   }    
.menu-list li i{
   float:left;
   width:25px;
   height:25px;
   margin:15px 15px 0px 10px;
   display:block;
   }   
.menu-list li i.kehu-ico01{
   background:url(../images/menu_01.png);
   background-size: cover;
   }   
.menu-list li i.kehu-ico02{
   background:url(../images/menu_02.png);
   background-size: cover;
   }    
.menu-list li i.kehu-ico03{
   background:url(../images/menu_03.png);
   background-size:100% 100%;
   }    
.menu-list li i.kehu-ico04{
   background:url(../images/menu_04.png);
   background-size: cover;
   }    
.menu-list li i.kehu-ico05{
   background:url(../images/menu_05.png);
   background-size: cover;
   }   
.menu-list li i.kehu-ico06{
   background:url(../images/menu_06.png);
   background-size:100% 100%;
   }    
.menu-list li i.kehu-ico07{
   background:url(../images/menu_07.png);
   background-size:100% 100%;
   }    
.menu-list li i.kehu-ico08{
   background:url(../images/menu_08.png);
   background-size: cover;
   }    
.menu-list li i.kehu-ico09{
   background:url(../images/menu_09.png);
   background-size:100% 100%;
   }    
.menu-list li i.kehu-ico10{
   background:url(../images/menu_10.png);
   background-size: cover;
   }    
.menu-list li i.kehu-ico11{
   background:url(../images/menu_11.png);
   background-size: cover;
   } 
    
/*---注册页---*/ 
.register{
   padding-bottom:50px;
}
.register .htit{
  text-align:center;
  font-size:28px;
  padding:25px 0px;
  }
.reg-content{
  background-color:#FFFFFF;
  border:1px solid #DDDDDD;
  padding:5px 3% 20px;
  margin:0px 3%;
  border-radius:5px;
}
.reg-message{
  padding-top:5px;
  height:45px;
  padding-left:40px;
  border-bottom:1px solid  #ddd;
  position:relative;
}
.reg-message i{
  position:absolute;
  width:20px;
  height:20px;
  display:block;
  left:10px;
  top:18px;
  }
.reg-message .ipucss{
  width:95%;
  display:block;
  height:35px;
  line-height:35px;
  margin-top:5px;
  border:none;
  font-family:"Microsoft Yahei";
}
.reg-message .company{
   background:url(../images/company.gif);
   background-size: cover;
  }
.reg-message .fuzer{
   background:url(../images/fuzer.gif);
   background-size: cover;
  }  
.reg-message .tel{
   background:url(../images/tel.gif);
   background-size:100% 100%;
  }  
.reg-message input:focus{
   outline: none;
	 }
.reg-yzm{
   padding:20px 0px;
   }
.reg-yzm em{
   float:left;
   line-height:35px;
   font-style:normal;
   }   
.reg-yzm .inpyzm{
   float:left;
   height:35px;
   line-height:35px;
   border:1px solid #ddd;
   width:80px;
   margin-left:10px;
   border-radius:3px;
   }
.reg-yzm .yzm{
   float:left;
   height:35px;
   line-height:35px;
   padding:0px 8px;
   font-size:12px;
   background-color:#ED4141;
   cursor:pointer;
   display:block;
   color:#FFFFFF;
   border-radius:3px;
   margin-left:15px;
   }
.submit{
    width:94%;
    margin:30px 3% 0px;
	height:45px;
	line-height:45px;
    background:#EC3131;
    color: #ffffff;
    border: 0;
	font-size:18px;
    font-family: "Microsoft YaHei";
	border-radius:10px;
	-webkit-appearance: none; 
}

/*---发起业务请求---*/ 
.content-top{
   padding:0px 2%;
   height:45px;
   line-height:45px;
   background-color:#EF4F4F;
   color:#FFFFFF;
   }
.content-top a{
   color:#FFFFFF;
 }
.content-top a .return{
    float:left;
    font-style:normal;
	font-size:25px;
	display:inline-block;
	padding-right:5px;
	}   	
.content-top a .fanhui{
    font-size:15px;
	display:inline-block;
	}
.contbox{
   margin-top:20px;
   padding-bottom:30px;
   background-color:#FFFFFF;
   }
.contbox .titbox{
    height:45px;
	line-height:45px;
	padding:0px 2%;
	font-size:15px;
	border-bottom:1px solid #ddd;
	overflow:hidden;
	zoom:1;
	}
.contbox .titbox i.toushu{
    float:left;
	width:25px;
	height:19px;
	margin:12px 8px 0px 10px;
    background:url(../images/toushu.gif);
    background-size: cover;
   }
.contbox .titbox i.yewu{
    float:left;
	width:25px;
	height:23px;
	margin:12px 8px 0px 10px;
    background:url(../images/yewu.gif);
    background-size: cover;
   }
.contbox .toushu-bd{
   padding:5px 0px 20px;
}
.toushu-bd .message{
   margin-top:20px;
   }
.toushu-bd .message label,.toushu-bd .payment label{
   float:left;
   width:28%;
   text-align:right;
   margin-right:2%;
   line-height:35px;
   }
.toushu-bd .message span{
   line-height:35px;
 }
.toushu-bd .message .toushu-inp{
   float:left;
   width:65%;
   height:35px;
   border:1px solid #ddd;
   font-family:"Microsoft Yahei";
   font-size:12px;
	color:#333333;
	border-radius:5px;
}
.toushu-bd .message .textarea{
   float:left;
   width:65%;
   height:120px;
   border:1px solid #ddd;
   font-family:"Microsoft Yahei";
   font-size:12px;
	color:#333333;
	border-radius:5px;
}

.toushu-bd .profilet{
   margin-top:20px;
   }
.toushu-bd .profilet label{
   float:left;
   width:100%;
   line-height:35px;
   }
.toushu-bd .profilet .toushu-inp{
	float:left;
	width:100%;
	height:35px;
	line-height:35px;
	border:1px solid #ddd;
	font-size:12px;
	color:#333333;
	font-family:"Microsoft Yahei";
	border-radius:5px;
}
.toushu-bd .profilet .textarea{
   float:left;
   width:100%;
   height:120px;
   line-height:20px;
   border:1px solid #ddd;
   font-size:12px;
   color:#333333;
   font-family:"Microsoft Yahei";
   border-radius:5px;
}
/*---发起业务请求---*/ 
.toushu-bd .message .company{
   float:left;
   width:65%;
   line-height:35px;
   }
.toushu-bd .message .xlsele{
   float:left;
   width:45%;
   line-height:35px;
   height:35px;
   border:1px solid #CCCCCC;
   font-family:"Microsoft Yahei";
   }
.line{
   position:relative;
   width:65%;
   float:left;
    } 
.line span.span{ float:left; width:65%; } 
.file{
  position:absolute;
  left:0;
  width:100%;
  top:0;
  height:30px;
  filter:alpha(opacity=0);
  opacity:0;
  cursor:pointer;
   } 
.file1{
  float:left;
  margin-left:15px;
  z-index:1;
  padding:0px 5px;
  height:25px;
  line-height:25px;
  background-color:#FB8A00;
  cursor:pointer;
  color:#fff;
  font-size:12px;
  border-radius:2px;
   } 
.inputstyle{
  border:1px solid #ccc;
  width:100%;
  float:left;
  height:25px;
  line-height:25px;
  background:#fff;
  z-index:9; 
	}
	
/*客户服务项目购买列表页*/
.content-top .buymenu{
   float:left;
   display:block;
   margin-top:12px;
   width:28px;
   height:20px;
   background:url(../images/zy.png) no-repeat left center;
   }
.serve-box{
   margin:20px 3% 0px;
   background-color:#FFFFFF;
   padding:15px 0px 20px;
   }
.serve-box .top-titel{
   height:30px;
   line-height:30px;
   padding:0px 5%;
   font-size:16px;
   overflow:hidden;
   zoom:1;
   }
.serve-box .top-titel .tit{
   float:left;
   }
.serve-box .top-titel .more{
   float:right;
   color:#CD512B;
   }
.serve-box .serve-list{
   margin:15px 2% 0px;
   padding:15px  2%;
   border:1px solid #ddd;
   border-bottom:3px solid #EB5022;
   background-color:#FFFFFF;
   }
.serve-box .serve-list .pic{
    float:left;
	width:25%;
	}
.serve-box .serve-list .pic img{
    width:100%;
	}
.serve-box .serve-list .info{
    float:right;
	width:72%;
	}
.serve-list .info .htit{
    font-size:16px;
	}
.serve-list .info .ptxt{
    font-size:13px;
	color:#666666;
	line-height:20px;
	padding:5px 0px;
	}
.serve-list .box .price{
    float:left;
	line-height:30px;
}
.serve-list .box .price em{
   font-style:normal;
   font-size:13px;
   }    
.serve-list .box .price .pricenum{
   font-size:16px;
   color:#ED5428;
   }
.serve-list .box .lookbtn{
    float:right;
	height:30px;
	line-height:30px;
	padding:0px 10px;
	border:1px solid #ED5428;
	border-radius:2px;
	color:#ED5428;
	}
	
/*客户服务项目购买页*/
.serve-buy-bd{
   background:#FFFFFF;
   margin:0px 2%;
   padding-bottom:20px;
   border-bottom:1px solid #CCCCCC;
   }
.serve-shop-info-top{
   border-bottom:2px solid #F0F0F0;
   padding:15px 2%;
}
.serve-shop-info-top .shoppic{
   float:left;
   width:30%;
   }
.serve-shop-info-top .shoppic img{
   width:100%;
   }   
.serve-shop-info-top .shopinfo{
   float:right;
   width:67%;
   }   
.serve-shop-info-top .shopinfo .htit{
   font-size:16px;
   color:#0186D1;
   padding-bottom:3px;
   }
.serve-shop-info-top .shopinfo .ptxt{
   color:#666;
   }   
.serve-shop-g{
   padding:7px 2%;
   height:35px;
   line-height:35px;
   border-bottom:1px solid #ddd;
	}
.serve-shop-g .span-l{
   float:left;
   }
.serve-shop-g .price{
   font-size:16px;
   font-weight:bold;
   color:#EE5020;
   }
.serve-shop-g .buy-btn{
   float:right;
   background-color:#FF8A00;
   height:35px;
   line-height:35px;
   color:#FFFFFF;
   padding:0px 10px;
   border-radius:5px;
   -webkit-appearance: none;
   }
.serve-shop-fuwu{
   padding:0px 2%;
}      
.serve-shop-fuwu .htit{
   padding:7px 0px;
   height:35px;
   line-height:35px;
   border-bottom:1px solid #CCCCCC;
   }   
.serve-shop-fuwu .txt{
   padding:10px;
   line-height:25px;
}   
   
/*客户服务项目缴费页*/
.toushu-bd .payment{
   margin-top:10px;
   }   
.payment-tit{
   padding:15px 0 0 5%;
   font-size:15px;
   font-weight:bold;
   }
.pay-price{
   float:left;
   width:65%;
   line-height:35px;
   font-weight:bold;
   color:#ED4D4D;
   }
         
/*客户在线缴费*/ 
.payspan{
   float:left;
   width:65%;
   line-height:35px;
   }    
.payment-txt{
   float:left;
   width:65%;
   padding-left:30%;
   color:#666666;
   line-height:23px;
   margin-top:10px;
   }
      
/*客户服务项目进度详情页*/ 
.schedule-bd{
  background-color:#FFFFFF;
  padding-bottom:50px;
  font-size:15px;
  color:#000000;
  }
.schedule-bd  .box-top{
  padding:15px 2%;
  line-height:25px;
  }
.schedule-bd .schedule{
  padding:15px 2% 30px;
  background-color:#F3F3F3;
  line-height:25px;
  }
.schedule-bd .schedule p{
  padding-bottom:6px;
  }
.schedule-bd .schedule .spantime{
  color:#666666;
  padding-right:10px;
  }
  
/*客户通知列表*/   
.news-list-bd{
   background-color:#FFFFFF;
   padding-bottom:50px;
}
.news-list-bd .news-list li{
   padding:15px 10px 15px 38px;
   line-height:25px;
   background:url(../images/newslibg.gif) no-repeat 10px 20px;
   border-bottom:1px solid #ddd;
   color:#000000;
}
.news-list-bd .news-list li .spantime{
   padding-left:10px;
   color:#666;
   }
.news-list-bd .more-btn{
   margin:0px 2%;
   height:45px;
   line-height:45px;
   background-color:#666666;
   color:#FFFFFF;
   font-size:16px;
   display:block;
   text-align:center;
   margin-top:30px;
   letter-spacing:10px;
   }
   
/*客户代记账查询*/ 
.tally-top{
   padding:15px 2%;
}
.tally-top .timesele{
   float:left;
   width:35%;
   margin-right:5%;
   }
.tally-top .timesele .select{
   height:35px;
   line-height:35px;
   width:100%;
   border:1px solid #ddd;
   font-family:"Microsoft Yahei";
   }
.tally-top .look-btn{
   float:left;
   width:20%;
   height:35px;
   line-height:35px;
   text-align:center;
   color:#fff;
   display:block;
   border-radius:3px;
   background-color:#04BE02;
}
.tally-comnent .htit{
   height:40px;
   line-height:40px;
   padding:0px 2%;
   font-weight:bold;
   color:#D90000;
   background-color:#E6E6E6;
}
.tally-comnent .ptxt{
    padding:10px 2%;
	line-height:25px;
	color:#000000;
}
.tally-comnent .baosui{
   padding:0px 2%;
}
.tally-comnent .baosui .shtit{
   line-height:30px;
   font-size:15px;
   color:#000000;
   font-weight:bold;
   }
.tally-comnent .baosui .sptxt{
   color:#666666;
   line-height:23px;
}

/*业务请求列表*/
/*滑门*/
.tab-bd{
   margin-top:20px;
   background-color:#FFFFFF;
}
.tab_menu_t li{
    float:left;
	width:50%;
	height:40px;
	line-height:40px;
	border-bottom:1px solid #ddd;
	text-align:center;
	cursor:pointer;
	color:#333;
	font-size:15px;
	}
.tab_menu_t li a{color:#333;}
.tab_menu_t .selected{
    background-color:#EF4F4F;
	color:#FFFFFF;
    cursor:pointer;
   }
.tab_menu_t .selected a{
	color:#FFFFFF;
   }
.tab_menu li{
    float:left;
	width:33.33%;
	height:40px;
	line-height:40px;
	border-bottom:1px solid #ddd;
	text-align:center;
	cursor:pointer;
	color:#333;
	font-size:15px;
	}
.hide{display:none;}
.tab_menu .selected{
    background-color:#EF4F4F;
	color:#FFFFFF;
    cursor:pointer;
   }
   
.business-list{
   overflow:hidden;
   }
.business-list li{
   padding:10px 2%;
   border-bottom:5px solid #C8C8C8;
   overflow:hidden;
   zoom:1;
}   
.business-list li .service-info{
   float:left;
   width:80%;
   line-height:26px;
   } 
.business-list li .look-more{
   float:right;
   width:18%;
   height:30px;
   line-height:30px;
   border-radius:3px;
   background:#FB8A00;
   color:#FFFFFF;
   display:block;
   text-align:center;
   font-size:12px;
   margin-top:30px;
   }   
.business-list li .tip{
   padding-left:10px;
   color:#FF0000;
   }
      
/*客户评价页面*/ 
.button-holder{
   margin:25px 0px 10px 10%;
   }
.button-holder{
   line-height:12px;
}
.button-holder .radio-list li{
  float:left;
  }
.button-holder .radio-list li span{
   float:left;
   line-height:15px;
   padding:0px 20px 0px 8px;
   }   
/* RADIO */
.regular-radio {
	display: none;
}

.regular-radio + label {
   float:left;
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #ccc;
	padding:6px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}
.regular-radio:checked + label:after {
	content: ' ';
	width:8px;
	height:8px;
	border-radius: 50px;
	position: absolute;
	top:2px;
	background: #ccc;
	left:2px;
	font-size:12px;
}
.toushu-bd .pingjia label{
   float:left;
   width:28%;
   text-align:right;
   margin-right:2%;
   line-height:35px;
   }
.pingjia .spanxing{
    float:left;
	width:65%;
	}
.pingjia .spanxing .xing{
   float:left;
   width:20px;
   height:18px;
   margin:8px 5px 0px 0px;
   background:url(../images/xin.gif) no-repeat left center;
   }
   
/*客户查看专属会计页*/
.contbox .titbox i.kuaiji{
    float:left;
	width:25px;
	height:24px;
	margin:10px 8px 0px 10px;
    background:url(../images/kuaiji.png);
    background-size: cover;
   }
.kuaiji-list li{
   padding:10px 0px 10px 5%;
   border-bottom:1px solid #CCCCCC;
   line-height:25px;
   font-size:15px;
}
.kuaiji-list li em{
   font-style:normal;
   color:#000000;
   }
.kuaiji-list li span{
   color:#666;
   }

/*客户服务订单列表*/
.ser-orderlist{
  padding-bottom:20px;
}
.ser-orderlist .orderlist li{
  padding:15px 2%;
  border-bottom:1px solid #CCCCCC;
  overflow:hidden;
  zoom:1;
}
.ser-orderlist .orderlist li .picbox{
   float:left;
   width:25%;
   }
.ser-orderlist .orderlist li .pic{
   display:block;
   border:1px solid #CCCCCC;
   padding:2px;
}
.ser-orderlist .orderlist li .pic img{
   width:100%;
   }
.ser-orderlist .orderinfo{
   float:right;
   width:72%;
   }
.ser-orderlist .orderinfo .htit{
   font-size:15px;
   }
.ser-orderlist .orderinfo  p{
   line-height:25px;
   font-size:13px;
   color:#666;
   }
.ser-orderlist .orderinfo .pinfo span{
   padding-right:5px;
   }
.ser-orderlist .orderinfo .pinfo .price{
   font-size:20px;
   color:#D80000;
   }
.ser-orderlist .orderinfo .btn{
   float:left;
   width:100px;
   display:block;
   text-align:center;
   margin-top:5px;
   height:30px;
   line-height:30px;
   color:#fff;
   border-radius:3px;
   margin-right:10px;
   }
.ser-orderlist .orderinfo .btnpt{
   float:left;
   width:100px;
   display:block;
   text-align:center;
   margin-top:5px;
   height:30px;
   line-height:30px;
   color:#fff;
   border-radius:3px;
   margin-right:10px;
   }
.ser-orderlist .orderinfo .btn-look{
  background-color:#666666;
}
.ser-orderlist .orderinfo .btn-du{
  background-color:#EF4F4F;
}
.pagebtn{
   margin:15px 2%;
   display:block;
   background-color:#F7F7F7;
   border:1px solid #CCCCCC;
   height:50px;
   line-height:50px;
   text-align: center;
   font-size:18px;
   border-radius:5px;
   } 
           
/*员工代记账管理公司列表页*/
.k-manage-bd{
   background-color:#FFFFFF;
   margin-top:15px;
   padding-bottom:10px;
   overflow:hidden;
}
.k-manage-bd .titbox{
   height:45px;
   border-bottom:1px solid #CCCCCC;
   padding-left:2%;
   overflow:hidden;
   zoom:1;
   }
.k-manage-bd .titbox .htit{
   float:left;
   border-left:3px solid #FF0000;
   height:20px;
   line-height:20px;
   font-size:16px;
   margin-top:13px;
   padding-left:5px;
   }
.k-manage-list li{
   padding:15px 2%;
   border-bottom:1px solid #CCCCCC;
   overflow:hidden;
   zoom:1;
}
.k-manage-list li .info{
   float:left;
   width:80%;
   line-height:25px;
   }
.k-manage-list li .info em{
   font-style:normal;
   font-weight:bold;
   }
.k-manage-list li .info span{
   color:#666666;
   }
.k-manage-list li .look-btn{
   float:right;
   width:18%;
   height:30px;
   line-height:30px;
   background-color:#FB8A00;
   text-align:center;
   display:block;
   font-size:12px;
   color:#fff;
   border-radius:3px;
   margin-top:20px;
   overflow: hidden;
   }
.k-manage-list li .look-btntp{
   float:right;
   width:18%;
   height:30px;
   line-height:30px;
   background-color:#FB8A00;
   text-align:center;
   display:block;
   font-size:12px;
   color:#fff;
   border-radius:3px;
   overflow: hidden;
   } 
.more-btn{
   margin:20px 2%;
   height:45px;
   line-height:45px;
   font-size:16px;
   display:block;
   background:#666666;
   color:#FFFFFF;
   text-align:center;
   display:block;   
   }
   
/*员工代表事项列表详情页*/   
.daiban-box{
  padding:15px 0px;
  }
.daiban-box .box1{
   padding:0px 2%;
   line-height:25px;
   color:#000000;
   }
.daiban-box .box2 h3,.daiban-box .box3 h3{
   padding:8px 2%;
   color:#000000;
   }   
.daiban-box .box2 .ptxt{
   background-color:#EEEEEE;
   padding:10px 2% 20px;
   line-height:25px;
   color:#666666;
   }
.daiban-box .box3 .txt{
   padding:0px 2%;
   line-height:25px;
}
.daiban-box .box3 .txt span{
   padding-right:10px;
   color:#666666;
   }
.daiban-box .box3 .txt .cl{
    color:#007BF8;
	}
.y-textarea{
   border:1px solid #CCCCCC;
   height:100px;
   margin-top:10px;
   width:100%;
}

.y-submit{
    width:80%;
    margin:20px 10% 0px;
	height:45px;
	line-height:45px;
    background:#EF4F4F;
    color: #ffffff;
    border: 0;
	font-size:18px;
	border-radius:5px;
    font-family: "Microsoft YaHei";
	-webkit-appearance: none;
}

/*代记账管理页*/
.dai-manage{
   padding:15px 0px;
}
.dai-manage .company{
  padding-left:2%;
  line-height:25px;
  font-weight:bold;
  color:#000000;
  }
.tally-top .time{
  float:left;
  line-height:35px;
  font-weight:bold;
  color:#000000;
  padding-right:5px;
  }
.mag-box-1{
  height:30px;
  padding:0px 4%;
  background-color:#EEEEEE;
}
.mag-box-2{
  height:45px;
  line-height:45px;
  padding:0px 4%;
}
.mag-box-1 .span-l{
   float:left;
   font-weight:bold;
   line-height:30px;
   }
.mag-box-2 .span-l{
   float:left;
   font-weight:bold;
   line-height:45px;
   }
.mag-box-1 .btn-r,.mag-box-2 .btn-r{
   float:right;
   display:block;
   }
.baosui-con{
  padding:10px 4% 0px;
  }

/*首页*/
.box_swipe{overflow:hidden;position:relative;}
.box_swipe>ol{height:24px;position: relative;z-index:10;margin-top:-25px;text-align:center;padding-right:20px;}
.box_swipe>ol>li{display:inline-block;margin:5px 2px 5px 0px;width:10px;height:10px;background:#fff;border-radius: 10px;}
.box_swipe>ol>li.on{background:#FF8000;}
.topnav{
	float: left;
	width: 100%;
	background-color: #FFFFFF;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.topnav li{
	margin: 1.5%;
	float: left;
	width: 17%;
	text-align:center;
}
.topnav li img{ max-width:100%;}
.topnav li p{
	font-size: 0.9em;
	line-height: 30px;
	float: left;
	width: 100%;
	font-weight: bold;
	text-align: center;
}
.ingg{
	background-color: #FFFFFF;
	float: left;
	height: 100px;
	width: 100%;
	background-image: url(../images/ingg.gif);
	background-repeat: no-repeat;
	background-position: 10px 10px;
	margin-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}      
.ingg ul{margin-top: 5px;
	float: left;
	width: 70%;
	margin-left: 30%;
}
.ingg ul li{
	line-height: 30px;
}
.inboxbj{
	float: left;
	width: 100%;
	margin-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	background-color: #FFFFFF;
	height: auto;
}
.inboxbj_ght{
	float: left;
	width: 100%;
	margin-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	background-color: #FFFFFF;
	height: auto;
	text-align:center;
}
.inboxbj_ght img{ max-width:100%;}
.titlecss{
	float: left;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding-top: 10px;
	padding-bottom: 10px;
}
.titlecss li{float: left; line-height:31px;}
.titleico{float: left; width: 10%;}
/*.titleico img{width: 75%;}*/
.titlecontent{
	float: left;
	width: 73%;
	font-size: 1.3em;
	line-height: 25x;
	font-weight: bold;
	text-indent: 10px;
}
.titlemore{
	line-height: 25px;
	color: #FFFFFF;
	background-color: #FF4D4D;
	text-align: center;
	float: left;
	width: 12%;border-radius: 2px;
}
.tjgg,.inshop{	float: left;width: 100%;}
.tjgg li{
	float: left;
	width: 49%;
	min-height: 100px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	text-align:center;
}
.tjgg li img{ max-width:100%;}
.inshop li{
	float: left;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding-top:8px;
	padding-bottom:8px;
	margin-bottom: 10px;
}
.inshopimg{
	margin: 10px;
	float: left;
	width: 30%;
}
.inshopimg img{ max-width:100%;}   
.inshoptitle{float: left;width: 60%;}   
 .inshoptitle dt{
	font-size: 1.2em;
	font-weight: bold;
	float: left;
	width: 100%;line-height: 30px;
} 
 .inshoptitle dt i{
	font-style: normal;
	color: #999999;
	margin-left: 10px;
} 
 .inshoptitle dd{
	/*font-size: 1px;
	font-weight: bold;*/
	float: left;
	width: 100%;
	color: #777777;
	line-height: 20px;
}
 .inshopprice{float: left;width: 60%;}   
.inshopprice dt{
	width: 25%;float: left;
	font-size: 1em;
	font-weight: bold;line-height: 30px;
}
.inshopprice dd{
	width: 45%;
	float: left;
	font-size: 1.2em;
	color: #FF0000;
	line-height: 30px;
	font-weight: bold;
}
.inpricemore{
	width: 30%;
	float: left;
	line-height: 30px;
	color: #FFFFFF;
	background-color: #FF0000;
	text-align: center;
}
.inkjmore{
	width: 30%;
	float: right;
	line-height: 30px;
	color: #FFFFFF;
	background-color: #FF0000;
	text-align: center;
}
.inkjimg{margin: 10px;
	float: left;
	width: 25%;}
.inkjimg img{
	border-radius:50%;
	max-width:100%;
}  