{template 'common/header'}

<style type="text/css">
.account-stat-num > div{width:25%;float:left;font-size:16px;text-align:center;}
.account-stat-num > div span{font-size:30px;display:block;font-weight:bold;}
</style>

<ul class="nav nav-tabs">    
<li class="active"><a href="javascript:void(0);">会员列表</a></li>
</ul>
<div class="clearfix">    


		
    	<!--<div class="panel-heading">
  
        	 <a class="navbar-brand" href="javascript:;">数据统计</a>
			 <ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="">今日</a></li>
				<li class="active">昨日</li>
				
			</ul>
			
        </div> -->
         
	        <div class="panel panel-info">
	        	<div class="panel-heading">筛选</div>
	        	<div class="panel-body">
	        		<div class="col-xs-12 col-sm-3 col-md-2 control-label">昵称：</div>
	        		<form action="./index.php" method="get" class="form-horizontal" role="form">
		        	<input type="hidden" name="c" value="site" />
		
		            <input type="hidden" name="a" value="entry" />
		
		            <input type="hidden" name="m" value="jlsh_jfb" />
		
		            <input type="hidden" name="do" value="hylist" />
		            
		        	<div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
			        	<input type="text" name="hyname" value="{$_GPC['hyname']}"/>
					</div>
					<div class="pull-left col-xs-12 col-sm-3 col-md-2 col-lg-2">
						<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
					</div>
					</form>
					
				</div>
	        </div>
		

		<div class="panel panel-default ">
	        <div class="table-responsive panel-body" >
	
	            <table class="table table-hover">
	
	            	<thead>
	
	                	<tr class="active">
	
							
	                    	<td width="40%">昵称</td>
	
	                        <td>模块获得积分</td>
	                        
							<td>剩余积分</td>
							
							<td>剩余余额</td>
							<!--<td>综合评分</td>-->
	
	                        <td width="10%">操作</td>
	
	                    </tr>
	
	                </thead>
	
	                <tbody>
	
	                	{loop $list $val}
	
	                	<tr>

							
	                    	<td>{$val[nickname]}</td>
	
	                        <td>{php echo $this->gethy_jfnum($val[id])}</td>
							
							<td>{$val[credit1]}</td>
							
							<td>{$val[credit2]}</td>
							<td><a href="{php echo $this->createWebUrl('hylists', array('nick'=>$val[nickname]));}">查看详情</a></td>
							
	                    </tr>
	
	                    {/loop}
	
	                    
	
	                </tbody>
	
	            </table>
	
	        </div>
	
	        
	
	        <div class="panel-body text-center">
	
	            {$pager} 
	
	        </div>
		</div>
        

		 <!--<div class="panel-footer">

            <span style="color:red;">接受预约是在用户提交订单后，该员工会收到订单消息，在基础数据上只能选择一个</span>

         </div>-->

		

        <div class="panel-footer">

            <!--{if in_array('1', $power)}

			<a class="btn btn-default" href="{php echo $this->createWebUrl('staffadd', array('name'=>'xm_housekeep'))}">新增员工</a>

			{/if}  -->

        </div>

        

    </div>


{template 'common/footer'}