{template 'web/common/header'}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-5">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                        <div class="panel panel-default" id="step1" style="width: 400px;">
                            <div class="panel-body" style="margin-left: 30px;">
                                <div class="pull-left" style="width:320px;background:#F4F5F9;margin-right:0px;border:1px solid #E7E7EB">
                                    <style>
                                        .card-titlenews {
                                            background:url("{HLMMS_IMG}card.png")  no-repeat scroll 0 -84px transparent;
                                            color: #fff;
                                            font-size: 17px;
                                            height: 62px;
                                            line-height: 85px;
                                            text-align: center
                                        }
                                    </style>
                                    <div class="card-titlenews">{php echo util::getCouponType($item['cou_type']);}</div>
                                    <div class="card_section area" style="position: relative">
                                        <div class="shop-panel" id="color-purview" style="background: #a9d92d">
                                            <div class="logo-area">
                                                <span class="logo pull-left"><img src="{$_W['siteroot']}attachment/{$item['cou_logo_url']}" alt=""/></span>
                                                <div class="pull-left" style="height:38px;line-height:38px" id="brand_name">{$item['brand_name']}</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="msg-area">
                                                <div class="tick-msg">
                                                    <p><b id="title-purview">{$item['cou_title']}</b></p>
                                                    <p id="sub-title-purview">{$item['cou_sub_title']}</p>
                                                </div>
                                                <p id="sub-time-purview" style="text-align: center">有效期:{php echo util::getCouponTimeDate($item['id']);}</p>

                                            </div>
                                            <div class="deco"></div>
                                            <div class="cicon">
                                                <a href="javascript:;" data-id="form1"><i class="fa fa-pencil"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-dispose area">
                                        <div class="unset" id="destroy_title">
                                            <p>销券设置</p>

                                        </div>
                                        <div class="destroy_type_preview">
                                            <div class="barcode-area code_preview code_preview_3" style="display: block">
                                                <div class="barcode"></div>
                                                <p class="code_num">{$item['cou_card_id']}</p>
                                            </div>
                                            <div class="qrcode-area code_preview code_preview_2">
                                                <div class="qrcode"></div>
                                                <p class="code_num">{$item['cou_card_id']}</p>
                                            </div>
                                            <div class="sn-area code_preview code_preview_1">{$item['cou_card_id']}</div>
                                            <p style="text-align: center" id="notice-purview">请在付款时出示此券</p>
                                        </div>
                                        <div class="cicon">
                                            <a href="javascript:;" data-id="form2"><i class="fa fa-pencil"></i></a>
                                        </div>
                                    </div>
                                    <div class="shop-detail">
                                        <ul class="list">
                                            <li>
                                                <div class="li-panel area">
                                                    <div class="li-content">{php echo $coupon_title}设置</div>
                                                    <span class="ricon fa fa-angle-right"></span>
                                                    <div class="cicon">
                                                        <a href="javascript:;" data-id="form3"><i class="fa fa-pencil"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="shop-detail">
                                        <ul class="list">
                                            <li>
                                                <div class="li-panel area" style="border-bottom: none">
                                                    <div class="li-content" id="promotion_url_name">个人中心</div>
                                                    <div class="ricon"><span id="promotion_url_sub_title">点击进入 </span><i class="fa fa-angle-right"></i></div>
                                                    <div class="cicon">
                                                        <a href="javascript:;" data-id="form6"><i class="fa fa-pencil"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="margin-right: 0px;">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                        <table class="table table-striped table-bordered table-hover">
                            <tbody>
                            <tr>
                                <td>卡券类型</td>
                                <td>{php echo util::getCouponType($item['cou_type']);}</td>
                            </tr>
                            <tr>
                                <td>库存</td>
                                <td>{$item['cou_quantity']}</td>
                            </tr>
                            <tr>
                                <td>领取限制 </td>
                                <td>{$item['cou_get_limit']}</td>
                            </tr>
                            <tr>
                                <td>销券条码</td>
                                <td>{$item['cou_card_id']}</td>
                            </tr>
                            {if $item['cou_type'] == 1}
                            <tr>
                                <td> 折扣额度</td>
                                <td>{php echo $startdiscount}</td>
                            </tr>
                            {elseif $item['cou_type'] == 2}
                            <tr>
                                <td>满</td>
                                <td>{php echo $startleast}</td>
                            </tr>
                            <tr>

                                <td>减</td>
                                <td>{php echo $startreduce}</td>
                            </tr>
                            {elseif $item['cou_type'] == 3}
                            <tr>
                                <td>礼品券详情</td>
                                <td>{$item['cou_card_id']}</td>
                            </tr>
                            {elseif $item['cou_type'] == 4}
                            <tr>
                                <td>团购券详情</td>
                                <td><textarea name="deal_detail" class="form-control" rows="4" readonly>{php echo $startdetail}</textarea></td>
                            </tr>
                            {elseif $item['cou_type'] == 5}
                            <tr>
                                <td>优惠券详情</td>
                                <td><textarea name="deal_detail" class="form-control" rows="4" readonly>{php echo $startdetail}</textarea></td>
                            </tr>
                            {/if}

                            <tr>
                                <td>客服电话</td>
                                <td>{$item['cou_service_phone']}</td>
                            </tr>
                            <tr>
                                <td>跳转链接</td>
                                <td><textarea name="deal_detail" class="form-control" rows="3" readonly>{$item['cou_promotion_url']}</textarea></td>
                            </tr>
                            <tr>
                                <td>使用须知</td>
                                <td><textarea name="deal_detail"  class="form-control" rows="7" readonly>{$item['cou_description']}</textarea></td>
                            </tr>
                            </tbody>
                        </table>

                </div>
            </div>
        </div>
    </div>
</div>

{template 'web/common/footer'}