.nav-md{max-height:450px;
	overflow:hidden;}
.nav-md .container.body .con-box{min-height:400px;
	padding:25px 15px 0;
	overflow:hidden;}
.con{width:100%;
    margin: 0 auto;}
.con .x_panel{min-height:600px;
	padding-top:20px;}
.con .x_title{margin-bottom:40px;}
.new-text01{width:100%;
	height:34px;
	border:1px solid #ccc;
	border-left:none;
	border-radius:0 3px 3px 0;
	background-color:#eee;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#555;
	text-align:center;
	line-height:34px;}
	
.new1-table{text-align:center;}
.new1-table *{text-align:center;}
