<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0;" />
<title>{php echo $this->config['system_name']}</title>
{template '../pc/head'}
</head>
<style>

</style>
<body class="nav-md" style="overflow-y: auto">
		{template '../pc/header'}
		<!-- page content -->
        <div class="right_col con-box" role="main">
			<div class="con">
              <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                  <!-- <div class="x_title" style="margin-bottom: 25px">
                    <h2 style="font-weight:bold;">退款记录</h2>

                    <div class="clearfix"></div>
                  </div> -->

                  <div class="x_content">
                      <ul class="nav nav-tabs" style="margin-bottom: 20px">
                          <li class="active"><a  href="{php echo $this->createMobileUrl('pcrefund', array('op'=>'display'));}">退款记录</a></li>

                      </ul>
                      <div class="panel panel-primary" style="border-color: #3F5367">
                          <div class="panel-heading" style="background-color: #3F5367; border-color: #3F5367">
                              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:#FFF;display:block;outline:none;">
                                  筛选条件 ↓
                              </a>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                              <div class="panel-body">
                                  <form action="" method="post" class="form-horizontal form" id="form">
                                      <div class="form-group">
                                          <div>
                                              <label class="col-sm-2  control-label" >订单号</label>
                                              <div class="col-sm-3">
                                                  <input type="text" name="search[order_number]" value="{$search['order_number']}"  class="form-control">
                                              </div>
                                          </div>
                                          <div>
                                              <label class="col-sm-2  control-label" >预约人</label>
                                              <div class="col-sm-3">
                                                  <input type="text" name="search[order_username]" value="{$search['order_username']}" placeholder="可模糊搜索" class="form-control">
                                              </div>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <div>
                                              <label class="col-sm-2 control-label">商家</label>
                                              <div class="col-sm-3">
                                                  <select disabled name="search[order_businessid]" class="form-control">
                                                      <option value="{$business['business_id']}">{$business['business_name']}</option>

                                                  </select>
                                              </div>
                                          </div>
                                          <div>
                                              <label class="col-sm-2 control-label">门店</label>
                                              <div class="col-sm-3">
                                                  <select name="search[order_storeid]" class="form-control">
                                                      <option value="">请选择</option>
                                                      {loop $stores $key $item}
                                                      <option value="{$item['store_id']}" {if $search['order_storeid'] == $item['store_id']}selected{/if}>{$item['store_name']}</option>
                                                      {/loop}
                                                  </select>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <div>
                                              <label class="col-sm-2 control-label">项目</label>
                                              <div class="col-sm-3">
                                                  <select name="search[order_projectid]" class="form-control">
                                                      <option value="">请选择</option>
                                                      {loop $projects $key $item}
                                                      <option value="{$item['project_id']}" {if $search['order_projectid'] == $item['project_id']}selected{/if}>{$item['project_name']}</option>
                                                      {/loop}
                                                  </select>
                                              </div>
                                          </div>
                                          <div>
                                              <label class="col-sm-2 control-label">员工</label>
                                              <div class="col-sm-3">
                                                  <select name="search[order_staffid]" class="form-control">
                                                      <option value="">请选择</option>
                                                      {loop $staffs $key $item}
                                                      <option value="{$item['staff_id']}" {if $search['order_staffid'] == $item['staff_id']}selected{/if}>{$item['staff_name']}</option>
                                                      {/loop}
                                                  </select>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <div>
                                              <label class="col-sm-2 control-label">支付方式</label>
                                              <div class="col-sm-3">
                                                  <select name="search[order_pay_type]" class="form-control">
                                                      <option value="" selected>请选择</option>
                                                      <option value="1" {if $search['order_pay_type'] == 1}selected{/if}>免支付</option>
                                                      <option value="2" {if $search['order_pay_type'] == 2}selected{/if}>在线支付</option>
                                                      <option value="3" {if $search['order_pay_type'] == 3}selected{/if}>会员卡</option>

                                                  </select>
                                              </div>
                                          </div>
                                          <div>
                                              <label class="col-sm-2 control-label">状态</label>
                                              <div class="col-sm-3">
                                                  <select name="search[order_state]" class="form-control">
                                                      <option value="" selected>请选择</option>
                                                      <option value="1" {if $search['order_state'] == 1}selected{/if}>未支付</option>
                                                      <option value="2" {if $search['order_state'] == 2}selected{/if}>已支付</option>
                                                      <option value="3" {if $search['order_state'] == 3}selected{/if}>已完成</option>
                                                      <option value="4" {if $search['order_state'] == 4}selected{/if}>已关闭</option>
                                                  </select>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <div class="col-sm-2"></div>
                                          <div class="col-sm-8">
                                              <input  type="button" value="查询" class="btn btn-primary" style="width:120px; margin-right: 30px;" onclick="searchOrder(0)"/>
                                              <input name="reset" type="button" value="清空" class="btn btn-default" style="width:120px;margin-right: 30px;" onclick="formreset()"/>
                                              <input type="hidden" id="excel" name="excel" value="0" />
                                              <input type="hidden" name="token" value="{$_W['token']}" />
                                              <input type="hidden" name="searchflag" value="1" />
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                    <div class="table-responsive" style="margin-top:10px;">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings" style="height: 40px">
                              <th class="column-title" style="">订单号</th>
                              <th class="column-title" style="">商家</th>
                              <th class="column-title" style="">门店</th>
                              <th class="column-title" style="">项目</th>
                              <th class="column-title" style="">员工</th>
                              <th class="column-title" style="">预约人</th>
                              <th class="column-title" style="">支付方式</th>
                              <th class="column-title" style="">支付状态</th>
                              <th class="column-title" style="">操作</th>
                            </th>
                          </tr>
                        </thead>

                        <tbody>
                        	{if !empty($orders)}
                            {php $i=($pindex-1)*$psize}
                        	{loop $orders $key $item}
                            {php $i++}
                          <tr class="{if $i%2==1}odd{else}even{/if} pointer">
                              <td>{$item['order_number']}</td>
                              <td>{$item['order_businessid']}</td>
                              <td>{$item['order_storeid']}</td>
                              <td>{$item['order_projectid']}</td>
                              <td>{$item['order_staffid']}</td>
                              <td>{$item['order_username']}</td>
                              <td>{$item['order_pay_type']}</td>
                              <td>{$item['order_state']}</td>
                              <td>
                                 {if $item['orderrefund_state']==1}
                                <a onclick="if(!confirm('确定通过申请退款？')) return false;" class="btn btn-primary" href="{php echo $this->createWebUrl('refund', array('op'=>'changestate', 'id'=>$item['orderrefund_id']))}">申请退款</a>
                                {else}
                                <a  class="btn btn-info" href="#">退款申请通过</a>
                                {/if}
                              </td>
                          </tr>
                          {/loop}
							{else}
								<tr>
								<td colspan="10">
									信息不存在！
								</td>
							</tr>
							{/if}
                        </tbody>
                      </table>
                      <div style="text-align:left;">{$page}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- /page content -->
        <script src="{RES}/public/pc/js/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="{RES}public/pc/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="{RES}public/pc/js/fastclick.js"></script>
        <!-- NProgress -->
        <script src="{RES}public/pc/js/nprogress.js"></script>
        <!-- iCheck -->
        <script src="{RES}public/pc/js/icheck.min.js"></script>
        <!-- Custom Theme Scripts -->
        <script src="{RES}public/pc/js/custom.min.js"></script>

        </div>
    </div>

        <script>

            function formreset()
            {
                $('.form-control').val("");
            };
            function searchOrder(state) {

                $('#excel').val(state);
                $('#form').submit();

            }
        </script>


</body>
</html>