{template 'common/header'}
  <style type="text/css">
	header{
		background-color:#ff9900;
	}
	.latecolor{
		color: #ff9900;
	}
	.latecolorbg{
		background-color: #ff9900;
	}
	.lateborder{border:1px solid #ff9900}
</style>
<style>
  .city_users { background:#FFF; }
  .city_users li { padding:8px 10px 8px 15px; border-bottom:1px solid #EFEFEF; font-size:16px;color: #646464}
  .city_users li span{display: inline-block;height: 35px}
  .city_users li img{ width:40px; height:40px; border-radius:50%; margin-right:10px;vertical-align: middle;}
</style>
 <body>
 {template 'common/followed'}
  <div id="wrapper">
   <ul class="city_users">
     {loop $records $row}
     <li>
     {if $row['pic']==''}
     <img class="bm-user" src="{php echo tomedia($row['headimgurl']);}" width="40" height="40" />
     {else}
     <img class="bm-user" src="{php echo tomedia($row['pic']);}" width="40" height="40" />
     {/if}
     <span>{$row['nickname']}</span>
     </li>
     {/loop}
   </ul>
   <div style="height:30px"></div>
  </div>
{template 'footer'}