#page-index .box-image {
  min-height: 300px;
  width: 100%; }
  #page-index .box-image img {
    width: 100%; }
#page-index .box-btns {
  margin: 0 5%;
  position: absolute;
  bottom: 30px;
  width: 90%; }

#page-register {
  padding-top: 10px;
  background-color: #efeff4; }
  #page-register .box-btns {
    margin: 10px 20px 0; }
  #page-register .box-terms {
    margin-top: 40px;
    color: #666;
    font-size: 14px;
    text-align: center; }

#page-register-terms .box-btns {
  margin: 10px 15px 0; }
