{template 'common/header'}
<ul class="nav nav-tabs">
    <li><a href="{php echo $this->createWebUrl('tempmessage', array('foo'=>'index'));}">模板消息列表</a></li>
    <li  class="active"><a href="{php echo $this->createWebUrl('tempmessage', array('foo'=>'add'));}">添加模板消息</a></li>
    <li><a href="{php echo  $this->createWebUrl('tempmessage', array('foo'=>'default'));}">默认模板消息</a></li>
</ul>

<div class="clearfix">    
    <form id="theform" class="form form-horizontal" action="{php echo $this->createWebUrl('tempmessage', array('foo'=>'addok'));}" method="post">
        <div class="panel panel-default">
            <div class="panel-heading">
                添加模板消息
            </div>
            <div class="panel-body">
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">模板消息名称</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="message_name" id="message_name" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">模板ID</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="msg_id" id="msg_id" value="{$item['msg_id']}" placeholder="" class="form-control">
                        <span class="help_block"></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">标题颜色</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="color_title" id="color_title" value="{$item['color_title']}" placeholder="" class="form-control">
                        <span class="help_block">#FF0000</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">内容颜色</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="color_content" id="color_content" value="{$item['color_content']}" placeholder="" class="form-control">
                        <span class="help_block">#173177</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">模板参数</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="dataname" id="dataname" value="{$item['dataname']}" placeholder="" class="form-control">
                        <span class="help_block">以||分割</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">模板参数值</label>
                    <div class="col-sm-9 col-xs-12">
                        <textarea name="datavalue" id="datavalue" class="form-control"></textarea>
                        <span class="help_block">注意：
                            <br>1.以||分割，必须与上面所填模板参数一一对应；
                            <br>2.最后的remark后不能有任何符号；
                            <br>3.在项目推送模板消息替换内容。
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;3.1.1个人审核模板消息：{state}替换审核状态(成功;失败)、{staff_name}替换申请人姓名、{staff_mobile}替换申请人手机号码、{explain}替换备注说明、{stime}替换审核时间；
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;3.1.2公司审核模板消息：{state}替换审核状态(成功;失败)、{company_name}替换申请公司名称、{staff_mobile}替换负责人手机号码、{explain}替换备注说明、{stime}替换审核时间；
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;3.1.3商铺审核模板消息：{state}替换审核状态(成功;失败)、{merchant_name}替换申请商铺名称、{merchant_address}替换商铺地址、{explain}替换备注说明、{stime}替换审核时间；
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;3.2订单推送模板消息：{ordernumber}替换订单编号、{order}替换服务类别、{ftime}替换服务时间、{fadr}替换服务地点、{username}替换预约所填联系人、{fmobile}替换预约所填电话、{money}替换预计价格、{nickname}替换用户昵称、{addtime}替换下单时间；
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;3.3抢单模板消息：可用{staff_name}替换服务人员姓名，{staff_mobile}替换服务人员手机，{offer}替换服务人员报价；
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;3.4服务完成模板消息：{suremoney}替换服务人员确认价格；
                            <br>4.在商铺推送模板消息替换内容。
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;4.1用户下单推送模板消息：{ordernumber}替换订单编号、{realname}替换下单人姓名、{mobile}替换下单人手机号码、{address}替换送货地址、{money}替换下单金额，{addtime}替换下单时间；
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;4.2商铺接单推送模板消息：{ordernumber}替换订单编号、{merchant_name}替换商铺名称、{merchant_mobile}替换商铺联系电话、{addtime}替换商铺接单时间；
                            
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;4.3用户竞价模板消息：{ordernumber}替换订单编号、{realname}替换下单人姓名、{mobile}替换下单人手机号码、{address}替换送货地址、{goods}替换商品、{money}替换预期金额、{size}替换购买数量、{gettime}替换希望送达时间、{addtime}替换发布时间；
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;4.3商铺抢单模板消息：同竞价模板消息相同，且{offer}替换报价，{merchant_name}替换商铺名称；
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;4.3用户选定商铺模板消息：同上；
                        </span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-md-2 col-lg-1">
                        <input name="submit" type="submit" value="保存" class="btn btn-primary btn-block" />
                        <input type="hidden" name="token" value="{$_W['token']}" />
                    </div>
                </div>
            </div>
        </div>
    </form>
    
    <div class="panel-footer">
        	模板消息说明：<br />
            1.登录微信公众号后台；<a href="https://mp.weixin.qq.com/" target="_blank">点击登录</a><br />
            2.点击左边菜单栏里面的 模板消息<br />
            3.从我的模板列表中，点击后面的详情。（如果我的模板中没恰当的模板，先从模板库选择适当的模板，并添加到我的模板中）<br/>         
			4.从模板详情页中，取得模板参数，参照下图.<br />
            <img src="{MODULE_URL}static/takeout/images/shuoming.png" />

        </div>
</div>

{template 'common/footer'}