/*初始化*/
*{padding:0;margin:0;}
input{padding:0;margin:0;border:none;outline:none;}
a{text-decoration:none;color:inherit;}
a:active{text-decoration:none;color:inherit;}
a:hover{text-decoration:none;color:inherit;}
body {font-family:"Microsoft YaHei";background-color:#FFF;}
ul,li{list-style:none;}

/*top*/
.top{width:100%;
	height:60px;
	background-color:#18100d;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#5b5350;
	text-align:center;
	line-height:60px;
	margin: 0;}
.dq{color:#F4CE73;
	background:url(../images/bg.jpg) repeat-x 0 bottom;}
/*top结束*/
.banner img{width:100%;}

/*探索-人气最高*/
.cont-box{width:100%;
	min-height:550px;
	background-color:#e4e4e4;
	padding-bottom:60px;}
.cont>li{width:100%;
	background-color:#fff;
	padding:10px 10px;
	margin-bottom:10px;}
.cont-t{width:100%;
	min-height:174px;
	border-radius:5px;
	overflow:hidden;
	position:relative;}
.cont-image01 img{width:100%;}
.cont-image{width:6%;
	position:absolute;
	right:4%;
	top:4%;}
.cont-image02{position:absolute;
	right:4%;
	top:4%;
	width: 33px;
	z-index:2;}
.cont-image03{display:none;
	position:absolute;
	right:4%;
	top:4%;
	width: 33px;
	z-index:1;}
.cont-c{overflow:hidden;
	margin:10px 0;}
.cont-text01{font-family:"Microsoft YaHei";
	font-size:14px;
	color:#3c3c3c;
	float:left;
	font-weight:bold;}
.cont-b{width:100%;
	overflow:hidden;
	background:url(../images/fx-bg.png) no-repeat 0 center;
	background-size: 16px;
	padding-left:16px;
	margin-top:-12px;}
.cont-b li{width: 8%;
    float: left;
    margin: 13px 3px 4px;}
.cont-b li img{width:100%;}
.cont-text02{font-family:"Microsoft YaHei";
	font-size:14px;
	color:#ababab;
	line-height:54px;
	float:left;
	margin-left:6px;}
/*探索-人气最高结束*/


/*探索-人气最高详情页*/
.explord01_show-image{width:6%;
	position:absolute;
	right:2%;
	bottom:2%;}
.explord01_show-image02{position:absolute;
	right:2%;
	bottom:2%;
	z-index:2;}
.explord01_show-image03{display:none;
	position:absolute;
	right:2%;
	bottom:2%;
	z-index:1;}
.wz{width:100%;
	overflow:hidden;}
.wz-l{width:90%;
	float:left;}
.wz-l *{float:left;}
.wz-l-image{width:5%;}
.wz-l-image img{width:100%;}
.wz-l-text{font-family:"Microsoft YaHei";
	font-size:12px;
	color:#c9a9a9a;
	line-height:20px;
	margin-left:10px;}
.wz-r{width:8%;
	float:right;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#cc7f91;
	line-height:20px;}
	
.explore01_show-con01{width:100%;
	background-color:#fff;
	padding:10px 10px;
	margin-bottom:10px;
	overflow:hidden;}
.explore01_show-con01-t{width:100%;
	overflow:hidden;
	margin-top: 10px;}
.explore01_show-con01-image01{width:4%;
	float:left;}
.explore01_show-con01-image001{width:5%;
	float:left;
	margin-left:1%;}
.explore01_show-con01-image01 img{width:100%;}
.explore01_show-con01-image001 img{width:100%;}
.explore01_show-con01-text01{font-family:"Microsoft YaHei";
	font-size:14px;
	color:#858585;
	line-height:20px;
	float:left;
	margin-left:10px;
	margin-top:2px;}
.explore01_show-con01-text001{font-family:"Microsoft YaHei";
	font-size:14px;
	color:#858585;
	line-height:20px;
	float:left;
	margin-left:4px;
	margin-top:2px;}
.explore01_show-con01-b{overflow: hidden;
    margin-top: 20px;}
.explore01_show-con01-b li{width:30%;
	height:30px;
	border:1px solid #d7d6db;
	border-radius:3px;
	font-family:"Microsoft YaHei";
	font-size:12px;
	color:#a0a0a0;
	line-height:30px;
	text-align:center;
	margin:4px 4px;}
.explore01_show-con01-text02{width:100%;
	height:100px;
	font-family:"Microsoft YaHei";
	font-size:12px;
	color:#a0a0a0;
	line-height:20px;
	margin-top:20px;}
/*探索-人气最高详情页结束*/

/*位置*/
.place-b{width:94%;
	margin:20px auto;
	overflow:hidden;}
.place-l{width:85%;
	float:left;}
.place-text01{font-family:"Microsoft YaHei";
	font-size:14px;
	color:#3c3c3c;
	font-weight:bold;}
.place-text02{font-family:"Microsoft YaHei";
	font-size:12px;
	color:#c9a9a9a;
	line-height:20px;}
.place-r{width: 12%;
	float:right;}
/*位置结束*/

/*探索-离我最近*/
.explore02-text01{font-family: "Microsoft YaHei";
    font-size: 12px;
    color: #fd3e74;
    float: right;}
.explore02-text01 span{font-size:14px;}

.xlcd{width:100%;
	margin-top:10px;}
.xlcd select{width:49%;
	height:40px;}
/*探索-离我最近结束*/

/*我的收藏*/
.collect-con{width:100%;}
.collect-image{width:50%;
	margin:80px auto 40px;}
.collect-image img{width:100%;}
.collect-text{font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #8d8d8d;
	text-align:center;}
/*我的收藏结束*/

/*我的卡包-卡包*/
.bag01-text{width:50%;
	height:40px;
	display:block;
	margin:30px auto;
	background:#18100d;
	border-radius:22px;
	font-family: "Microsoft YaHei";
    font-size: 14px;
    color:#fd3e74;
	text-align:center;
	line-height:40px;}
/*我的卡包-卡包结束*/

/*我的卡包-卡包详情页*/
.bag01_show-con{width:100%;
	padding-bottom:80px;}
.bag01_show-con img{width:100%;}
.bag01_show-text{width:94%;
	margin:0 auto;}
.bag01_show-text01{font-family: "Microsoft YaHei";
    font-size: 16px;
    color:#5e5e5e;
	text-align:center;
	font-weight:bold;
	margin-top:20px;}
.bag01_show-text02{font-family: "Microsoft YaHei";
    font-size: 20px;
    color:#f15b80;
	text-align:center;
	font-weight:bold;
	margin-top:10px;}
.bag01_show-text03{width:100%;
	background:url(../images/bag01_show-bg.png) no-repeat center 0;
	font-family: "Microsoft YaHei";
    font-size: 16px;
    color:#949494;
	text-align:center;
	margin-top:20px;}
.bag01_show-text04{width:70%;
	margin:0 auto;
	font-family: "Microsoft YaHei";
    font-size: 14px;
    color:#5e5e5e;
	text-align:center;
	line-height:30px;
	margin-top:20px;}
.bag01_show-text06{font-family: "Microsoft YaHei";
    font-size: 14px;
    color:#5e5e5e;
	tline-height:20px;
	margin-top:10px;}
.bag01_show-text07{width:70%;
	margin:0 auto;
	font-family: "Microsoft YaHei";
    font-size: 14px;
    color:#fe5e82;
	text-align:center;
	line-height:30px;
	margin-top:20px;}
.bag01_show-text08{font-family: "Microsoft YaHei";
    font-size: 14px;
    color:#fe5e82;
	text-decoration:underline;
	padding:0 4px;}
.bag01_show-text09{background:url(../images/beizhu.png) no-repeat;
	padding-left:7%;
	font-family: "Microsoft YaHei";
    font-size: 14px;
    color:#5e5e5e;}
.bag01_show-text10{font-family: "Microsoft YaHei";
    font-size: 14px;
    color:#5e5e5e;
	line-height:30px;
	margin-top:10px;}
.bag01_show-text01{font-family: "Microsoft YaHei";
    font-size: 14px;
    color:#5e5e5e;
	text-align:center;
	margin-top:10px;}
.bag01_show-foot{width:100%;
	height:80px;
	background:url(../images/bag01-bg02.jpg) no-repeat 0 top #fff;
	position:fixed;
	bottom:0;}
.bag01_show-foot input{width:90%;
	height:40px;
	background-color:#fe5e82;
	border-radius:22px;
	margin:26px auto;
	display:block;
	font-family: "Microsoft YaHei";
    font-size: 14px;
    color:#fff;}
/*我的卡包-卡包详情页结束*/

/*我的卡包-优惠券详情页*/
.bag02_show-text01{font-family: "Microsoft YaHei";
    font-size: 20px;
    color:#f15b80;
	font-weight:bold;
	margin-top:20px;}
.bag02_show-text02{background:url(../images/bag02_show-bg.png) no-repeat;
	padding-left:9%;
	height:26px;
	font-family: "Microsoft YaHei";
    font-size: 16px;
    color:#747474;
	line-height:34px;
	margin-top:20px;}
.bag02_show-text03{font-family: "Microsoft YaHei";
    font-size:14px;
    color:#747474;
	line-height:30px;
	margin-top:20px;}
/*我的卡包-优惠券详情页结束*/

/*foot*/
.foot{width:100%;
	height:60px;
	background-color:#18100d;
	position:fixed;
	bottom:0;
	z-index: 2;
	margin: 0;}
.foot li{padding:0;}
.foot-image{width:26%;
	height: 34px;
	margin:0 auto;
	position:relative;}
.foot-image img{width:100%;}
.foot-image01{position:absolute;
	top:6px;}
.foot-image02{position:absolute;
	top:6px;
	display:none;}	
.foot-text{font-family:"Microsoft YaHei";
	font-size:14px;
	color:#5b5350;
	color:#5b5350;
	text-align:center;}
.foot-dq .foot-image02{display:block;}
.foot-dq .foot-text{font-family:"Microsoft YaHei";
	font-size:14px;
	/*color:#fd3e74;*/
	color:#7CD2C5;
	text-align:center;}
/*foot结束*/

/*折扣卡*/
.zkk-con-box{width:100%;
	background-color:#ececec;
	padding:10px;}
.zkk-con{width:94%;
	margin:0 auto;}
.zkk-con li{width: 100%;
    padding: 10px 10px;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px #999;}
.zkk-t{width:100%;
	overflow:hidden;}
.zkk-c{width:100%;
	overflow:hidden;
	font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #363636;
    margin-top: 10px;}
.zkk-b{width:100%;
	overflow:hidden;}
.zkk-image01{width:18%;
	float:left;}
.zkk-image01 img{width:100%;}
.zkk-image02{width: 1%;
    float: left;
    margin-left: 2%;
    margin-top: 10px;}
.zkk-image02 img{width:100%;}
.zkk-text01{width: 56%;
    float: left;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    color: #363636;
    font-weight: bold;
    margin-left: 2%;
    margin-top: 10px;}
.zkk-text02{width: 20%;
    float: right;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    color: #ff576d;
    font-weight: bold;
    text-align: right;
    margin-top: 10px;}
.zkk-text03{width:60%;
    float: left;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #8d8d8d;
    margin-top: 10px;}
.zkk-text04{width: 30%;
    float: right;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #ff2d4e;
	text-align: right;
    margin-top: 10px;}
.zkk-text05{width: 30%;
    float: right;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #1c8200;
	text-align: right;
    margin-top: 10px;}
/*折扣卡结束*/

.zkmx-con{overflow: hidden;
    margin-top: 10px;}
.zkmx-con li{width:100%;
	border-bottom:1px solid #ddd;
	padding-bottom:4px;
	margin-top: 20px;
	overflow:hidden;}
.zkmx-t{width:100%;
	overflow:hidden;}
.zkmx-image{width:20%;
	overflow:hidden;
	float:left;}
.zkmx-image img{width:100%;}
.zkmx-c{width:60%;
	float:left;
	margin-left:2%;}

.zkmx-text01{width:100%;
	font-family:"Microsoft YaHei";
	font-size:16px;
	color:#3c3c3c;
	line-height:20px;
	font-weight:bold;
	}
.zkmx-text02{width:100%;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#cc4661;
	line-height:20px;
	font-weight:bold;
	margin-top:3px;}
.zkmx-text05{width:100%;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#4458f0;
	line-height:20px;
	font-weight:bold;
	margin-top:3px;}
.zkmx-b{width:100%;
	overflow:hidden;
	margin-top:10px;}
.zkmx-text03{font-family:"Microsoft YaHei";
	font-size:18px;
	color:#3c3c3c;
	float:right;}
.zkmx-text03 span{font-family:"Microsoft YaHei";
	font-size:26px;
	color:#ee3b5f;
	font-weight:bold;}
.zkmx-text04{width:80%;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#858585;
	line-height:20px;
	float:left;}