<include file="Public/header.html"/>
<style>
	.layui-form-item{display: inline-block;width: 33%;height: 150px;}
	.div_pic{height: 250px;}
	img{margin-top: 5px;height:150px;max-width: 260px;}
</style>
</head>
<body style="overflow-x:hidden">	
<div class="x-nav">
    <span class="layui-breadcrumb">
      	<a><cite>首页</cite></a>
      	<a><cite>系统设置</cite></a>
      	<a><cite>系统设置</cite></a>
    </span>
   <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right;height:30px;padding: 0 15px;"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<form class="layui-form" >	
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="margin-left: 15px;">
  	<ul class="layui-tab-title">
	    <li>   	
	    	<a target="_self" href="{:U('Home/MainCtr/System/system_list')}">网站设置</a>
	    </li>
	    <li  class="layui-this">
	    	<a target="_self" href="{:U('Home/MainCtr/System/pic_list')}">图片设置</a>
	    </li>
  	</ul>
  	<div class="layui-tab-content" style="height: 100px;"> 	
	    <div class="layui-tab-item layui-show">   	
		   	<div class="layui-form layui-form-pane" >
		   	<div class="div_pic">
		  		<div class=" layui-form-item">
		      		<label class="layui-form-label" style="width: 150px;">个人中心背景图</label>		      		
			      	<div class="layui-input-block">
			      	  	<button type="button" class="layui-btn" onclick="$('#myimg').click();">
					     	<i class="layui-icon">&#xe67c;</i>上传图片
					 	</button>					 	
					  	<input style="display: none;" type="file" name='myimg' id="myimg"  onchange="previewImage(this,1)"   multiple  class="input-file">
	                   
			      	</div>
	                <div style="margin-left: 10px;color: red;">建议尺寸:500*190</div>
                   	<img id="imghead1" border="0"                   	
                   	<?php 
                   	   	if( empty($pic['myimg']) ){
                   	   	   	echo 'src="__ROOT__/Public/images/s_banner.jpg"   onclick="$(\'#myimg\').click();"';
                   	   	}else{
                   	       	echo 'src="__ROOT__/Uploads/'.$pic['myimg'].'"';
                   	   	}
                    ?>
                   >
		      	</div>
		   		
		   		<div class=" layui-form-item">
		      		<label class="layui-form-label" style="width: 150px;">分享页背景图</label>
			      	<div class="layui-input-block">
			      	  	<button type="button" class="layui-btn" onclick="$('#shareimg').click();">
					     	<i class="layui-icon">&#xe67c;</i>上传图片
					 	</button>
					  	<input style="display: none;" type="file" name="shareimg"  id="shareimg"  onchange="previewImage(this,2)"   multiple  class="input-file">
	                </div>
	                <div style="margin-left: 10px;color: red;">建议尺寸:500*334</div>
                   	<img id="imghead2" border="0"                   	
                   	<?php 
                   	   	if( empty($pic['shareimg']) ){
                   	   	   	echo 'src="__ROOT__/Public/images/s_fenxiang.jpg"   onclick="$(\'#shareimg\').click();"';
                   	   	}else{
                   	       	echo 'src="__ROOT__/Uploads/'.$pic['shareimg'].'"';
                   	   	}
                    ?>
                   >
		      	</div>

		   		<div class="layui-form-item">
		      		<label class="layui-form-label" style="width: 150px;">邀请页背景图</label>
			      	<div class="layui-input-block">
			      	  	<button type="button" class="layui-btn" onclick="$('#requestimg').click();">
					     	<i class="layui-icon">&#xe67c;</i>上传图片
					 	</button>
					  	<input style="display: none;" type="file" name="requestimg" id="requestimg"  onchange="previewImage(this,3)"   multiple  class="input-file">
	                </div>
	                <div style="margin-left: 10px;color: red;">建议尺寸:500*225</div>
                   	<img id="imghead3" border="0"                  	
                   	<?php 
                   	   	if( empty($pic['requestimg']) ){
                   	   	   	echo 'src="__ROOT__/Public/images/s_guize2.png"   onclick="$(\'#requestimg\').click();"';
                   	   	}else{
                   	       	echo 'src="__ROOT__/Uploads/'.$pic['requestimg'].'"';
                   	   	}
                    ?>
                   >
		      	</div>
			</div>
			
			<div class="div_pic">
		   		<div class="layui-form-item">
		      		<label class="layui-form-label" style="width: 150px;">前端底部logo</label>
			      	<div class="layui-input-block">
			      	  	<button type="button" class="layui-btn" onclick="$('#logoimg').click();">
					     	<i class="layui-icon">&#xe67c;</i>上传图片
					 	</button>
					  	<input style="display: none;" type="file" name="logoimg" id="logoimg"  onchange="previewImage(this,4)"   multiple  class="input-file">
	                </div>
	                <div style="margin-left: 10px;color: red;">建议尺寸:500*147</div>
                   	<img id="imghead4" border="0"                   	
                   	<?php 
                   	   	if( empty($pic['logoimg']) ){
                   	   	   	echo 'src="__ROOT__/Public/images/s_logo.png"   onclick="$(\'#logoimg\').click();"';
                   	   	}else{
                   	       	echo 'src="__ROOT__/Uploads/'.$pic['logoimg'].'"';
                   	   	}
                    ?>
                   >
		      	</div>
		      	
		   		<div class="layui-form-item">
		      		<label class="layui-form-label" style="width: 150px;">首页引导图一</label>
			      	<div class="layui-input-block">
			      	  	<button type="button" class="layui-btn" onclick="$('#guideimg1').click();">
					     	<i class="layui-icon">&#xe67c;</i>上传图片
					 	</button>
					  	<input style="display: none;" type="file" name="guideimg1" id="guideimg1"  onchange="previewImage(this,5)"   multiple  class="input-file">
	                </div>
	                <div style="margin-left: 10px;color: red;">建议尺寸:380*556</div>
                   	<img id="imghead5" border="0"                  	
                   	<?php 
                   	   	if( empty($pic['guideimg1']) ){
                   	   	   	echo 'src="__ROOT__/Public/images/guize1.jpg"   onclick="$(\'#guideimg1\').click();"';
                   	   	}else{
                   	       	echo 'src="__ROOT__/Uploads/'.$pic['guideimg1'].'"';
                   	   	}
                    ?>
                   >
		      	</div>

		   		<div class="layui-form-item">
		      		<label class="layui-form-label" style="width: 150px;">首页引导图二</label>
			      	<div class="layui-input-block">
			      	  	<button type="button" class="layui-btn" onclick="$('#guideimg2').click();">
					     	<i class="layui-icon">&#xe67c;</i>上传图片
					 	</button>
					  	<input style="display: none;" type="file" name="guideimg2" id="guideimg2"  onchange="previewImage(this,6)"   multiple  class="input-file">
	                </div>
	                <div style="margin-left: 10px;color: red;">建议尺寸:380*556</div>
                   	<img id="imghead6" border="0"                    	
                   	<?php 
                   	   	if( empty($pic['guideimg2']) ){
                   	   	   	echo 'src="__ROOT__/Public/images/guize2.jpg"   onclick="$(\'#guideimg2\').click();"';
                   	   	}else{
                   	       	echo 'src="__ROOT__/Uploads/'.$pic['guideimg2'].'"';
                   	   	}
                    ?>
                   >
		      	</div>
		   </div>
		   <div class="div_pic">
		   		<div class="layui-form-item">
		      		<label class="layui-form-label" style="width: 150px;">首页引导图三</label>
			      	<div class="layui-input-block">
			      	  	<button type="button" class="layui-btn" onclick="$('#guideimg3').click();">
					     	<i class="layui-icon">&#xe67c;</i>上传图片
					 	</button>
					  	<input style="display: none;" type="file" name="guideimg3" id="guideimg3"  onchange="previewImage(this,7)"   multiple  class="input-file">
	                </div>
	                <div style="margin-left: 10px;color: red;">建议尺寸:380*556</div>
                   	<img id="imghead7" border="0"                   	
                   	<?php 
                   	   	if( empty($pic['guideimg3']) ){
                   	   	   	echo 'src="__ROOT__/Public/images/guize3.jpg"   onclick="$(\'#guideimg3\').click();"';
                   	   	}else{
                   	       	echo 'src="__ROOT__/Uploads/'.$pic['guideimg3'].'"';
                   	   	}
                    ?>
                   >
		      	</div>
	
		   		<div class="layui-form-item">
		      		<label class="layui-form-label" style="width: 150px;">首页引导图四</label>
			      	<div class="layui-input-block">
			      	  	<button type="button" class="layui-btn" onclick="$('#guideimg4').click();">
					     	<i class="layui-icon">&#xe67c;</i>上传图片
					 	</button>
					  	<input style="display: none;" type="file" name="guideimg4" id="guideimg4"  onchange="previewImage(this,8)"   multiple  class="input-file">
	                </div>
	                <div style="margin-left: 10px;color: red;">建议尺寸:380*556</div>
                   	<img id="imghead8" border="0"                   	
                   	<?php 
                   	   	if( empty($pic['guideimg4']) ){
                   	   	   	echo 'src="__ROOT__/Public/images/guize4.jpg"   onclick="$(\'#guideimg4\').click();"';
                   	   	}else{
                   	       	echo 'src="__ROOT__/Uploads/'.$pic['guideimg4'].'"';
                   	   	}
                    ?>
                   >
		      	</div>
		      	
		   		<div class="layui-form-item">
		      		<label class="layui-form-label" style="width: 150px;">首页引导图五</label>
			      	<div class="layui-input-block">
			      	  	<button type="button" class="layui-btn" onclick="$('#guideimg5').click();">
					     	<i class="layui-icon">&#xe67c;</i>上传图片
					 	</button>
					  	<input style="display: none;" type="file" name="guideimg5"  id="guideimg5"  onchange="previewImage(this,9)"   multiple  class="input-file">
	                </div>
	                <div style="margin-left: 10px;color: red;">建议尺寸:380*556</div>
                   	<img id="imghead9" border="0"                   	
                   	<?php 
                   	   	if( empty($pic['guideimg5']) ){
                   	   	   	echo 'src="__ROOT__/Public/images/guize5.jpg"   onclick="$(\'#guideimg5\').click();"';
                   	   	}else{
                   	       	echo 'src="__ROOT__/Uploads/'.$pic['guideimg5'].'"';
                   	   	}
                    ?>
                   >
		      	</div>
 			</div>
 			<div class="div_pic">
		   		<div class="layui-form-item">
		      		<label class="layui-form-label" style="width: 150px;">首页引导图六</label>
			      	<div class="layui-input-block">
			      	  	<button type="button" class="layui-btn" onclick="$('#guideimg6').click();">
					     	<i class="layui-icon">&#xe67c;</i>上传图片
					 	</button>
					  	<input style="display: none;" type="file" name="guideimg6" id="guideimg6"  onchange="previewImage(this,10)"   multiple  class="input-file">
	                </div>
	                <div style="margin-left: 10px;color: red;">建议尺寸:380*556</div>
                   	<img id="imghead10" border="0"                   	
                   	<?php 
                   	   	if( empty($pic['guideimg6']) ){
                   	   	   	echo 'src="__ROOT__/Public/images/guize6.jpg"   onclick="$(\'#guideimg6\').click();"';
                   	   	}else{ 
                   	       	echo 'src="__ROOT__/Uploads/'.$pic['guideimg6'].'"';
                   	   	}
                    ?>
                   >
		      	</div>
			</div>
		   		<br/>
		   		<div class="layui-form-item" style="width: 100%;">  
			  		<br/><br/> 
			   	 	<div class="layui-input-block" style="text-align: center;">
			      		<button class="layui-btn"  lay-submit="" lay-filter="subfrom" >立即提交</button>
			    	</div>
			
			  	</div>
		 	</div>	
		</div>
    </div>         	  
</div>  
</form>
<script type="text/javascript" src="__ROOT__/Public/js/jquery.min.js"></script>
<include file="Public/footer.html"/>
<script>	
layui.use(['form','element','layer'], function(){
  	var form = layui.form
  	,layer = layui.layer 
   	form.on('submit(subfrom)', function(data){ 		  
     	var tjing = layer.msg('提交中...', {icon: 16,shade: 0.3,time: 60*1000}); 
     	 var form = document.forms[0];
	  	 var formData = new FormData(form);  
		$.ajax({
	        url: "{:U('Home/MainCtr/System/dopic')}",
	        type : "POST",
	        data :formData,
	        dataType:"text",
	        processData : false,         
	        contentType : false,      
	        success:function(data){
	           layer.close(tjing);
               if(data == '1'){
              	 var index = layer.getFrameIndex(window.name);
                 layer.msg('提交成功', {icon: 1,offset: '40%',time:2000,shade: 0.3},function(){ 
			       location.reload();
				 })
               }else if(data == '2'){
              	 layer.msg('提交失败', {icon: 2,offset: '40%',time:2000,shade: 0.3});
               }
	        }
	    });
    	return false;
  	});
});
//图片上传预览    IE是用了滤镜。
function previewImage(file,flag){
  var div = document.getElementById('preview'+flag);
  if (file.files && file.files[0]) {
      var img = document.getElementById('imghead'+flag);
      var reader = new FileReader();
      reader.onload = function(evt){img.src = evt.target.result;}
      reader.readAsDataURL(file.files[0]);
  } 
}
</script>
</body>
</html>