{template 'common/myheader'}
    
    <body id="root" class="root">
        <!--v-start-->
        <div class="m-preview_box" _v-6fb5f903="">
            <div class="box" _v-6fb5f903="">
                <div class="inner z-txt" _v-6fb5f903="">
                    <!--fragment-start-->
                    <div class="txt" _v-6fb5f903="">
                        <!--v-html-->
                    </div>
                    <img class="img" _v-6fb5f903="" src="{php echo tomedia($joke['pic'])}">
                    <!--fragment-end-->
                    
                </div>
                <img src="{php echo MODULE_URL . 'public/images/7.png'}"
                class="egg" _v-6fb5f903="">
            </div>
            {if $_GPC['op'] != 'share'}
                <img src="{php echo MODULE_URL . 'public/images/confirm_btn.png'}" class="confirm_btn confirm_btna"  _v-6fb5f903="">
            {else}
                <div class="res" _v-21943d66=""> 
                    <div _v-21943d66="">{$user['nickname']}已经成功整蛊了 <span class="total" _v-21943d66="">{$user['num']}</span> 位好友！</div>
                </div>
                <img src="{php echo MODULE_URL.'public/images/select_btn.png'}" class="confirm_btn confirm_btnb" _v-21943d66="">
            {/if}
        </div>
        {if $_GPC['op'] != 'share'}
            <img src="{php echo MODULE_URL.'public/images/back_btn.png'}" class="u-back_btn" _v-6fb5f903="">
            <div class="m-share" _v-4a1c0bbb="" _v-6fb5f903="">
                <img src="{php echo MODULE_URL.'public/images/share_img.png?d8f096b'}" class="pic" _v-4a1c0bbb="">
            </div>
        {/if}


                <div class="atom-dialog-wrap" id="sub_me">
                    <div class="mask"></div>
                    <div class="atom-dialog share-dialog">
                        <div class="atom-dialog-title">长按图片-识别二维码</div>
                        <div class="atom-dialog-content">
                            <img src="{php echo  $_W['account']['qrcode']}">
                            <p class="sub_str">{php echo $this->module['config']['substr']}</p>        
                        </div>
                        <span class="close_line"></span>
                        <li class="close_token"></li>
                    </div>
                </div>

    </body>

{template 'common/myfooter'}