{template 'web/common/header-base-index'}
{template 'web/messagebursts/common'}

<div class="wrapper wrapper-content" style="padding-top: 0px;padding-bottom: 0px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>模板消息群发</h5>
                    <h5 style="float: right"><a class="glyphicon glyphicon-refresh" href="{php echo $this->createWebUrl('messagebursts')}"></a></h5>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tabs-container">
                                <ul class="nav nav-tabs">
                                    <li class=""><a  href="{php echo $this->createWebUrl('messagebursts',array('op'=>application))}" aria-expanded="true"><i class="fa fa-lg  fa-stack-exchange" style="color: #01a901" ></i>申请列表</a></li>
                                    <li class=""><a href="{php echo $this->createWebUrl('messagebursts')}"><i class="fa fa-lg fa-tasks" style="color: crimson"></i>群发任务</a></li>
                                    <li class=""><a href="{php echo $this->createWebUrl('messagemobanmanage')}"><i class="fa fa-lg fa-meetup"  style="color:#06c28b"></i>模板设置</a></li>
                                    <li class=""><a href="{php echo $this->createWebUrl('messageallmanage')}"><i class="fa fa-lg fa-weixin"  style="color:orange"></i>微信公众号模板库</a></li>
                                    <li class=""><a href="{php echo $this->createWebUrl('messagetrigger')}"><i class="fa fa-lg fa-clock-o"  style="color:green"></i>定时触发</a></li>
                                    <li class="active"><a href="{php echo $this->createWebUrl('messageprocess')}"><i class="fa fa-lg fa-cogs"  style="color:dodgerblue"></i>进程设置</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="tab-5" class="tab-pane active">
                                        <div class="panel-body">
                                            <form action="" method="post" class="form-horizontal form">
                                                <div class="alert alert-success alert-dismissable">
                                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                                    <h3>进程设置默认为 3 ，设置后最高只能这么多进程。</h3>
                                                    <h4>进程参考说明：2G4核推荐多进程数量为5，最高cpu达到80%(发送消息的时候，肯定是有粉丝互动的，并发数上升造成的压力，大多数时间在40%-60%之间波动，发送数量9.3k+，发送时间大概在19分钟的样子</h4>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">最高多进程数</label>
                                                    <div class="col-sm-9 col-xs-12">
                                                        <input name="allowProcessNum" class="form-control" value="{$founder_settings['allowProcessNum']}" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" ></label>
                                                    <div class="col-sm-9 col-xs-12">
                                                        <div class="help-block">
                                                            <input type="hidden" name="token" value="{$_W['token']}" />
                                                            <input type="submit" name="allowProcessNumSubmit"  value="提交" class="btn btn-primary"  />
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



{template 'web/common/footer'}