<div class="kw">
    <div class="form-group key_item">
    	<label class="col-sm-2 control-label must">
    		自定义键值
    	</label>
    	<div class="col-sm-9" style="padding:0;padding-left:15px;">
    		<input type="text" name="tp_kw[]" class="form-control" value="{$list2['kw']}{$tpkw}" placeholder="键名" />
    	</div>
    </div>
    <div class="form-group key_item">
    	<label class="col-sm-2 control-label"></label>
    	<div class="col-sm-7 tvd" style="padding:0;padding-left:15px;">
    		<textarea name="tp_value[]" class="form-control tv" placeholder="键值">{$list2['value']}</textarea>
            <span class="help-block" >
                <a onclick="emojiBrowser(this);" title="点击插入emoji">
                    <img src="{HLMMS_IMG}emoji.png" width="18px" height="18px"/>
                </a>
            </span>
    	</div>
    	<div class="col-sm-1" style="padding:0">
    		<input type="color" name="tp_color[]" value="{$list2['color']}" style="width:32px;height:32px;" />
    	</div>
        <a class="btn btn-default" href='javascript:;' onclick="$(this).closest('.kw').remove();"><i class='fa fa-remove'></i> 删除</a>
    </div>
</div>