{template 'public/header'}   
<style type="text/css">
	.notice{display: block;color:orange;}
	.avatar{
		width:60px;height: 60px;
	}
	.avatar,.nickname{display: inline-block;vertical-align: middle}.city{font-size:13px;color:#999;}
</style>
 
<div class="layui-tab layui-tab-card" style="margin: 10px 10px;">
  <ul class="layui-tab-title">
    <li class="layui-this">会员等级信息</li> 
  </ul>
  <div class="layui-tab-content"  >
    <div class="layui-tab-item layui-show">
		<form class="layui-form" method="post" id="memForm"  style="width: 500px;margin-left: 30px;padding-top:50px" action="<?php echo $this->routeUrl('member.saveMember');?>">
			<input type="hidden" name="openid" value="<?php echo  ($_GPC['openid']);?>">
		  <div class="layui-form-item">
		    <label class="layui-form-label">会员</label>
		    <div class="layui-input-block">
		      <img src="{$member['avatar']}" class="avatar" />
		      <div class="nickname">
		      	<p>{$member['nickname']}</p>
		      	<p class="city">{$member['openid']}</p>
		      	<p class="city">{$member['city']}</p>
		      </div> 
		    </div>
		  </div> 
		    <div class="layui-form-item">
		    <label class="layui-form-label">会员等级</label>
		    <div class="layui-input-block">
		    <span style="color:#999;line-height: 36px;">{$group['name']}</span>
		    </div>
		  </div> 
		  <div class="layui-form-item">
		    <label class="layui-form-label">累计消费</label>
		    <div class="layui-input-block">
		     <input type="text" name="moneytotal"  placeholder=""  value="{$member['moneytotal']}"  class="layui-input"  >
		     <p style="color:#ff4444;font-size: 13px">会员等级会根据累计消费自动升级计算，如需修改会员等级请修改累计消费</p>
		    </div>
		  </div> 
		   <div class="layui-form-item" style="margin-top:50px;">
		    <label class="layui-form-label">推荐人</label>
		    <div class="layui-input-block">
		    	<?php if(!empty($agent0)){ ?>
		        <img src="{$agent0['avatar']}" class="avatar" />
			    <div class="nickname">
			      	<p>{$agent0['nickname']}</p>
			      	<p class="city">{$agent0['openid']}</p>
			      	<p class="city">{$agent0['city']}</p>
			    </div> 
		        <?php  }else { ?>
		        <span style="color:#999;line-height: 36px;">无</span>
		        <?php } ?>
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">二级推荐人</label>
		    <div class="layui-input-block">
		     	<?php if(!empty($agent1)){ ?>
		        <img src="{$agent1['avatar']}" class="avatar" />
			    <div class="nickname">
			      	<p>{$agent1['nickname']}</p>
			      	<p class="city">{$agent1['openid']}</p>
			      	<p class="city">{$agent1['city']}</p>
			    </div> 
		        <?php  }else { ?>
		        <span style="color:#999;line-height: 36px;">无</span>
		        <?php } ?>
		    </div>
		  </div> 
		   <div class="layui-form-item">
		    <label class="layui-form-label">三级推荐人</label>
		    <div class="layui-input-block">
		      	<?php if(!empty($agent2)){ ?>
		        <img src="{$agent2['avatar']}" class="avatar" />
			    <div class="nickname">
			      	<p>{$agent2['nickname']}</p>
			      	<p class="city">{$agent2['openid']}</p>
			      	<p class="city">{$agent2['city']}</p>
			    </div> 
		        <?php  }else { ?>
		        <span style="color:#999;line-height: 36px;">无</span>
		        <?php } ?>
		    </div>
		  </div> 
		 
		  

 
		  <div class="layui-form-item">
		    <div class="layui-input-block">
		      <button class="layui-btn" lay-submit lay-filter="*">保存</button> 
		      <a class="layui-btn layui-btn-normal" onclick="javascript:history.go(0);" href="#" >刷新</a> 
		    </div>
		  </div>
		</form>
	</div>  
</div>
</div>   
</script>
{template 'public/footer'}
<script type="text/javascript">
	layui.use(['form',"layer"], function(){
	  var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功 
	  var layer=layui.layer;
	  form.render();
		  form.on('submit(*)', function(data){ 
		  console.log(data.field) //被执行提交的form对象，一般在存在form标签时才会返回 
		   
		    
		});
  	});
</script>
