{template 'public/header'} 
<div>
<div class="panel panel-info">
	<div class="panel-heading" >会员列表</div>
	<div class="panel-body">
		<div class="row form-row">
			<form action="<?php echo $this->routeUrl('member.listview');?>" method="post" id="keyform">			
			<div class="col-xs-3 col-sm-3 paddingx">
			    <div class="input-group">
			      <input type="text" class="form-control" name="name" value="<?php echo $params['name'];?>" placeholder="请输入昵称"> 
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="submit"  form="keyform">搜索</button> 

			      </span>
			    </div> 
			  </div>  
			</form>
		</div> 
		<table class="layui-table">
			<thead>
				<tr>
					<th style="width: 100px;">昵称</th> 
					<th style="width: 120px;word-break: break-all;">用户标识</th> 
					<th style="width: 60px;">头像</th> 
					<th style="width: 100px">会员等级</th>
					<th style="width: 120px;">地区</th>
					<th style="width: 100px;">性别</th>
					<th style="width: 100px;">累计消费</th> 
					<th style="width: 100px;">上次登录</th> 
					<th style="width: 100px;">操作</th>  
				</tr>
			</thead>
			<tbody>
				{loop $memberlist $index $item}
				<tr>
					<td><?php if(strlen($item['nickname'])>0){ echo $item['nickname'];} else{ echo "<span style='color:#ccc;'>未授权</span>";}?></td> 
					<td style="width: 120px;word-break: break-all;">{$item['openid']}</td>
					<td><img src="{$item['avatar']}" style="width: 50px;height: 50px;"> </td>
					<td><?php foreach($groups as $key=>$val){ 
						if(intval($val['id'])==intval($item['groupid'])){
						echo $val['name'];
					}
					}?></td>
					<td>{$item['city']} </td>
					<td> <?php if(intval($item['gender'])==1){ echo "男";}else if(intval($item['gender'])==2){ echo "女";}else{ echo "<span style='color:#ccc;'>未设置</span>";}?></td>
					<td> {$item['moneytotal']}</td>
					<td> {$item['lastlogin']}</td> 
					<td>
						<a href="<?php echo $this->routeUrl('member.editview');?>&openid={$item['openid']}" class="linkbtn">详细</a> 
						<a href="javascript:void(0);" onclick="delMember({$item['id']},'{$item['nickname']}')" class="linkbtn linkbtn-red" >删除</a>

					</td>
				</tr>
				{/loop}
				<tr>
					<td colspan="7" align="center">
						{template 'public/pagenation'}
					</td>
				</tr>
			</tbody>

		</table>
	</div>
</div>

 
</div> 
<script type="text/javascript">
		function delMember(id,nickname){
		
		modalDlg("<span style='color:#ff4444;'>是否删除 "+nickname+" ，请谨慎操作！</span>",function(){
			window.location.href="<?php echo $this->routeUrl('member.delMember');?>&memberid="+id;
		});
	}
	function memCart(){
		modalMsg("功能还在开发中。。。")
	}
	function bindAdmin(openid,nickname,sts){
		if(sts>0){
			modalDlg("是否将 "+nickname+" 设置为当前店铺的管理员<br/>每个微信用户只能绑定一个店铺",function(){
			window.location.href="<?php echo $this->routeUrl('member.setMemberAdmin');?>&openid="+openid+"&sts="+sts;
			});
		}else{
			modalDlg("是否取消 "+nickname+" 的商户管理员权限",function(){
			window.location.href="<?php echo $this->routeUrl('member.setMemberAdmin');?>&openid="+openid+"&sts="+sts;
			});
		}
		
	}
</script>
{template 'public/footer'}
