.i_home { background: url(../images/index_home.png) }
.i_property { background: url(../images/index_property.png) }
.i_foods { background: url(../images/index_foods.png) }
.i_buying { background: url(../images/index_buying.png) }
.i_bbs { background: url(../images/index_bbs.png) }
.i_notice { background: url(../images/index_notice.png) }
.i_shop { background: url(../images/index_shop.png) }
.i_service { background: url(../images/index_service.png) }
.icon_logo{ background-image: url(../images/main_logo.png)}
.ico_home { background-image: url(../images/icon_home.png) }
.ico_cart { background-image: url(../images/icon_cart.png) }
.ico_msg { background-image: url(../images/icon_msg.png) }
.ico_user { background-image: url(../images/icon_user.png) }
.icon_info { background-image: url(../images/icon_info.png) }
.icon_ping { background-image: url(../images/icon_ping.png) }
.icon_phone { background-image: url(../images/icon_phone.png) }
.icon_point { background-image: url(../images/icon_point.png) }
.icon_phone1 { background-image: url(../images/icon_phone1.png) }
.icon_phone2 { background-image: url(../images/icon_phone2.png) }
.icon_police { background-image: url(../images/icon_police.png) }
.icon_msn{ background-image: url(../images/icon_msn.png)}
.icon_show{ background-image: url(../images/icon_show.png);}
.icon_gift{ background-image: url(../images/icon_gift.png)}
.icon_card{ background-image: url(../images/icon_card.png)}
.icon_edit{ background-image: url(../images/icon_edit.png)}
.icon_key{ background-image: url(../images/icon_key.png)}
.icon_user1 { background-image: url(../images/icon_user1.png) }
.icon_list{ background-image: url(../images/icon_list.png)}
.icon_align{ background-image: url(../images/icon_align.png)}
.icon_off{ background-image: url(../images/icon_off.png)}
.icon_transfer{ background-image: url(../images/icon_transfer.png)}
.icon_setting{ background-image: url(../images/icon_setting.png)}
.icon_ex{ background-image: url(../images/icon_ex.png)}
.icon_edu{ background-image: url(../images/icon_edu.png)}
.icon_home1{ background-image: url(../images/icon_home1.png)}
.icon_money{ background-image: url(../images/icon_money.png)}
.icon_health{ background-image: url(../images/icon_health.png)}
.icon_zhuang{ background-image: url(../images/icon_zhuang.png)}
.icon_fix{ background-image: url(../images/icon_fix.png)}
.icon_money1{ background-image: url(../images/icon_money1.png)}
.icon_money2{background-image: url(../images/icon_money2.png);}
.icon_notice{ background-image: url(../images/icon_notice.png)}
.icon_building{ background-image: url(../images/icon_building.png)}
.icon_search{background-image: url(../images/icon_search.png);}
.icon_notice1{background-image: url(../images/icon_notice1.png);}
.icon_water{background-image: url(../images/icon_water.png);}
.icon_car{background-image: url(../images/icon_car.png);}
.icon_wuye{background-image: url(../images/icon_wuye.png);}
.icon_meiqi{background-image: url(../images/icon_meiqi.png);}
.icon_dian{background-image: url(../images/icon_dian.png);}
.icon_nuanqi{background-image: url(../images/icon_nuanqi.png);}
.icon_clock{background-image: url(../images/icon_clock.png);}
.icon_clock1{background-image: url(../images/icon_clock1.png);}
.icon_clock2{background-image: url(../images/icon_clock2.png);}
.icon_cart1{background-image: url(../images/icon_cart1.png); width:1.2em; height:1.2em;}
.icon_plus{background-image: url(../images/icon_plus.png);width:1.5em; height:1.5em;}
.icon_clock,.icon_clock1,.icon_clock2,.icon_money2{ width:1em; height:1em;}

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; padding: 0; font-family: '微软雅黑'; line-height: 150%; background-color: #f5e7ca; color: #333 }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
form,ul{ margin: 0; padding: 0;}
a, a:hover, a:focus { text-decoration: none; color: #333; outline:none }
a:active, a:hover { outline: 0; }
img{ border:none}
header { color: #fbf6f0; position:relative;}
header .hb1{ position:absolute; bottom:-.25em; left:0; right:0; z-index:100; margin-top:-1px}
.link_back { padding-left: .5em; }
.row::after, .row::before { content: " "; display: table; }
.row::after { clear: both; }
.col-md1, .col-md2, .col-md3, .col-md4, .col-md5, .col-md6, .col-md7, .col-md8, .col-md9,.col-md30,.col-md40 { position: relative; min-height: 1px; float: left }
.col-md5 { width: 20%; }
.col-md4 { width: 25%; }
.col-md3 { width: 33.33333333%; }
.col-md2 { width: 50%; }
.col-md1 { width: 100%; }
.col-md40 { width: 40% }
.col-md6 { width: 60% }
.col-md30 { width: 30% }
.col-md7 { width: 70% }
.col-md8 { width: 80% }
.col-md9 { width: 10% }
.text-center { text-align: center }
.text-right { text-align: right }
.text-nowrap { white-space: nowrap; }
.text-primary,a.text-primary { color: #fb6e53 }
.text-ellipsis { overflow: hidden; word-break: break-all; text-overflow: ellipsis }
.text-m{ color:#707070}
.pull-left { float: left }
.pull-right { float: right }
.form-control{ border:1px solid #f0a98e; background-color:#fff6e4; display:block; padding:6px 10px; line-height:24px; font-size:18px}
.caret{ display:inline-block;}
.hb1,.hb2{ height: .25em;}
.hb1 { background: url(../images/huabian_1.png) no-repeat left top;background-size: 100% 100%; }
.hb2 {background: url(../images/huabian_2.png) no-repeat left bottom; background-size: 100% 100%; }
.icon_index a{ display:block; background:url(../images/icon_bg.png); width:4em; height:4em; padding-top:.5em; margin:.5em auto; }
.icon_index { width: 100%; }
.icon_li { width: 100%; padding-top: .5em }
br +.icon_li { padding-top:0}
.icon_index{ line-height:1em}
.icon,.icon_index span{display: inline-block; vertical-align:middle; }
.icon,.icon_index span,.icon_index a{background-size: 100% auto; background-position: center; background-repeat: no-repeat}
.icon_index span {  width: 2em; height: 2em; display:block; margin:0 auto;}
.icon_index small{ font-size:.65em;display:block; margin-top:-.1em}
.icon_li .ico { width: 4em; height: 4em; display: inline-block; background-image: url(../images/icon_bg.png); background-repeat: no-repeat; background-position: center; background-size: 100% 100%; text-align: center; }
.icon_li>div { margin: 1em 0 }
.icon_li .ico >span { width: 2em; height: 2em; display: inline-block; margin-top: 1em; margin-bottom: 5px; background-position: 0; background-size: 100% 100%; }
.icon_li a{ display:block }
.icon_li a>small{ display:block; white-space:nowrap; max-width:96%; margin:0 auto; overflow:hidden; text-overflow:ellipsis; }
.icon_li .ico >span.icon_police { margin-top: .5em; margin-bottom:0; height: 3em; width: 1.5em }
.footer_padding { height: 3.5em; clear: both }
footer { position: fixed; bottom: 0; left: 0; right: 0; font-size: 1em; line-height: normal; color: #fff6e4; z-index:9999}
footer .hb3 { height: .25em; background: url(../images/huabian_3.png) no-repeat left bottom; background-size: 100% 100% }
footer .row { background-color: #fb6e53; padding: 5px 0 2px}
footer a,footer a:focus { color: #fff6e4; text-decoration: none }
footer span { display: inline-block; width: 1.5em; height: 1.5em; background-position: center; background-repeat: no-repeat; background-size: 100%; }
footer small{ display:block; line-height:normal; margin-top:-.4em}
.container { padding: .5em 1em }
.container1 { padding: .5em}
.btn { display: inline-block; padding: .25em .5em; margin-bottom: 0; font-size: .86em; font-weight: normal; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid fb6e53; border-radius: 4px; color: #fff6e4; background-color: #fb6e53; border:none; outline:none; cursor:pointer }
.btn.btn1,.btn.btn1:focus,.btn.btn1:hover{ border:1px solid #f0a98e; background-color:#fff6e4;color:#666}
.btn:hover, .btn:focus, .btn.focus, .btn:active, .btn.active,.btn.active:focus,.btn.active:hover{ color: #fff6e4; background-color: #fb6e53; border-color: #fb6e53; }
.btn1.active,.btn1.active:focus,.btn1.active:hover{ color: #fb6e53; background-color:#fff6e4}
.btn.big{ font-size:1.25em; padding:.5em 1em}
.muli >div{ margin-bottom:.5em}
.muli .btn{ font-size:1em; display:block; margin:0 .2em; overflow:hidden; padding-left:0;padding-right:0}
.media { border-top: 1px solid #f7c2a6; padding: .5em 0 }
.media:first-child { border-top: none }
.media, .media-body { overflow: hidden; zoom: 1; }
.media-body { width: 100%; }
.media-object { display: block; border: 1px solid #fb6e53; width: 6.5em; height: 8em }
.media-right, .media > .pull-right { padding-left: 10px; }
.media-left, .media > .pull-left { padding-right: 10px; }
.media-left, .media-right, .media-body { display: table-cell; vertical-align: top; }
.media-middle { vertical-align: middle; }
.media-bottom { vertical-align: bottom; }
.media-heading { margin: 5px 0; }
.media-list { padding-left: 0; list-style: none; }
.media-content { line-height: normal; padding-top: 2px }
.media-content p { margin: 0; max-height: 2.6em; height: 43px; overflow : hidden; display: -webkit-box; display: -moz-box; text-overflow: ellipsis; -webkit-line-clamp: 2; -moz-line-clamp: 2; -webkit-box-orient: vertical; }
.media-content .star { font-size: 1.25em }
.express .media{ width:100%; padding:0}
.express .media .form-control{ display:inline; width:3.5em; padding:4px}
.express .media .btn,.exFrm .btn{ font-size:1.5em; border-radius:2em;}
.express .media>div{ vertical-align:middle; border-bottom:1px solid #f7c5a9; border-top:1px solid #fff6e4; padding-top:.5em; padding-bottom:.5em}
.express>form .media>div:first-child{ border:none; }
.express>form:first-child .media>div{ border-top:none}
.express>form:last-child .media>div{ border-bottom:none}
.express .media-left table{ width:5em; height:5em; background:url(../images/icon_bg.png) center no-repeat; background-size:100% 100%; text-align:center;}
.express .media .media-left div{ line-height:.85em}
.express .media .media-left h3{ margin:0}
.express .media .media-right{ padding-left:4px}
.express .media-body .numberBox input{ width:2em;}

.media.foodsli .media-object{ border:none; height:auto; width:8em; margin-top:4px}
.media.foodsli .media-heading,.media.foodsli .media-heading{ margin:0; line-height:normal}
.media.foodsli small,.media.shopli small{ color:#828282}
.media.foodsli .text-primary{ font-size:1.5em;}
.media.foodsli .icon_plus{ width:2em; height:2em; margin-right:.5em}
.media.shopli .media-left a{ padding:.5em; background-color:#fff6e4; border: 1px solid #fb6e53; display:block;}
.media.shopli .media-object{ width:5em; height:5em;border:none; display:block}
.media.shopli .media-heading{ margin-bottom:0}
.media.shopli .media-content{ line-height:normal; padding-top:0}

.card{  max-width:470px;margin:1em auto; padding:1em; background:url(../images/card_bg.png); border-radius:1em; -webkit-box-shadow: 0 1px 3px #463c36;box-shadow:0 1px 3px #463c36;}
.card .logo{ background:url(../images/card_logo.png) no-repeat center; width:6em ; height:6em; background-size:100% 100%; margin-right:1em }
.card .utitle{ font-size:2em; padding-bottom:.5em}
.card .utyp{font-size:1.4em;color:#fb6e53;  text-align:right}
.card .num{ font-size:1.5em; color:#919191; padding-top:.5em}
.icon_show{ width:1.25em; height:1.25em;}
.userFrm,.exFrm table{ width:100%}
.userFrm .icon{width:1em; height:1em; margin-top:-4px}
.userFrm td,.exFrm td{ padding-bottom:.5em;  white-space:nowrap;color:#373737}
.userFrm td:first-child{font-size:1.25em;width:6em}
.userFrm .form-control,.exFrm .form-control { width:100%}
.exFrm{ padding-top:1em}
.exFrm td:first-child{width:5.5em}
.my_menu{ margin:0; padding:0; list-style:none}
.my_menu li{border-top:#f7c2a6 1px solid;  font-size:1.25em}
.my_menu li:first-child{ border-top:none}
.my_menu li .pull-right{ margin-right:.5em}
.my_menu li .icon{ width:1.25em; height:1.25em}
.my_menu li>a{ display:block;padding:.5em 0;color:#373737;}
.rd { transition-property: transform; transition-duration: .25s; -webkit-transition-property: transform; -webkit-transition-duration: .25s; transition-timing-function: linear; -webkit-transition-timing-function: linear; }
.dropdown{position:relative;}
.dropdown>label{ line-height:2em; font-size:1.2em; width:100%; display:block;}
.dropdown>label>.caret{ transform:rotate(90deg); -webkit-transform:rotate(90deg);}
.dropdown ul{ position:absolute; display:none; list-style:none; z-index:999}
.dropdown ul a{ display:block; text-align:center; background:rgba(246,177,155,.9); margin-bottom:.25em; padding:.3em 0; white-space:nowrap;min-width:5em; border-radius:5px}
.dropdown.active ul{ display:block; left:5px; right:5px; overflow:hidden}
.dropdown.active>label>.caret{transform:rotate(-90deg); -webkit-transform:rotate(-90deg)}
.searchFrm .media>div{ vertical-align:middle; font-size:1.5em}
.searchFrm .form-control{ width:100%}
.searchFrm .btn{ padding:2px 5px;}
.searchFrm .btn .icon_search{ width:1.5em ; height:1.5em}
.searchFrm + .swipe{ margin-top:.5em}
.ntsli{ width:100%;}
.ntsli .icon_notice1{ width:1.5em; height:1.5em}
.ntsli>.media-body>a{ display:block; line-height:normal}
.ntsli>.media-right{ vertical-align:middle}
.ntsli small{ color:#666}
.swipe { overflow: hidden; visibility: hidden; position: relative;}
.swipe-wrap {  overflow: hidden;  position: relative;}
.swipe-wrap > div {  float:left;  width:100%;  position: relative;}
.swipe-wrap > div img{ width:100%}
.swipe-indicators{ position:absolute; right:0; bottom:.5em}
.swipe-indicators span{ display:inline-block; width:.6em; height:.6em; border-radius:.3em; margin-right:.5em; background-color:#fff;; box-shadow: 0  0 5px #ccc; text-indent:-999px; overflow:hidden}
.swipe-indicators span.active{ background-color:#fb6e53}
.menu4r{ height:2em; width:75%; margin:1em auto}
.menu4r a{ display:block; border-radius:0; font-size:1.25em; border:1px solid #f0a98e}
.menu4r a,.menu4r a:hover,.menu4r a:focus{background-color:#fff6e4; color:#fb6e53}
.menu4r a.active,.menu4r a.active:hover,.menu4r a.active:focus{ background-color:#fb6e53; color:#fff6e4; }
.menu4r>div>div:first-child>a{ border-radius: .5em 0 0 .5em}
.menu4r>div>div:last-child>a{ border-radius:0  .5em .5em 0}
.menu4r>div>div+div>a{ border-left:none}
.menuli{min-height:2.75em}
.menuli li{ width:32%; margin-left:2%; float:left; list-style:none; }
.menuli li:first-child{ margin-left:0}
.menuli li a{  display:block; text-align:center; padding:.25em 0; font-size:1.2em; overflow:hidden; background-color:#fff6e5; border:1px solid #fb6e53; color:#fb6e53}
.menuli li a.active{ background-color:#fb6e53; color:#fff6e5}
.goodsli li{ border:1px solid #fb6e53; margin:.25em 0}
.goodsli li>div{ margin:.25em}
.goodsli img{width:100%}
.goodsli .title{ line-height:1.25em; margin-bottom:5px}
.goodsli .price{ font-size:1.8em; display:inline-block; vertical-align:middle; letter-spacing:-2px; min-width:32%}
.goodsli .btn{ padding:2px 6px; font-size:1.1em}
.goodsli1{ margin:0 .25em}
.goodsli1>div{ margin-bottom:.5em}
.goodsli1>div>div{ margin:0 .25em; background-color:#fff6e4}
.goodsli1 .img{ padding:.25em .25em 0}
.goodsli1 .img img{ width:100%; display:block;}
.goodsli1 .title{ height:1.25em; margin:0 0 .25em .25em; overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
.goodsli1 .price{ font-size:1.5em; letter-spacing:-2px}
.goodsli1 small{ color:#878787; padding-right:.25em; letter-spacing:-1px}
.goodsli1 .cc{ margin-left:.25em}
.goodsli1 .cc small{letter-spacing:0}
.goods{ margin-top:.5em}
.goods .img img{ width:100%}
.goods .txt{ padding:0 1em}
.goods .txt small,.goods .txt s{ color:#8d8d8d}
.goods .price{ font-size:1.8em;}
.goods .txt>.text-nowrap{ padding:.25em 0}
.goods .btn{ font-size:1.3em; border-radius:.5em}
.goods .btn +.btn{ margin-left:.5em}
.goods .txt>.num{ padding:.5em 0 1.5em}
.goods .content img{width:100%; max-width: 100%}
.numberBox{ display:inline-block; vertical-align:middle;border:1px solid #fb6e53; padding:2px; background-color:#fff6e4;  }
.numberBox span{ width:1.5em; height:1.5em;text-align:center; font-size:1.3em; font-weight:bold;  display:inline-block; background-color:#f7c1a5;vertical-align:middle; color:#fff; line-height:1.5em; overflow:hidden; cursor:pointer}
.numberBox input{ border:none; background-color:#fff6e4;width:3.5em; font-size:1.25em; padding:0 4px; display:inline-block; vertical-align:middle; outline:none; height:1.5em; line-height:1em; overflow:hidden; text-align:center}
.ctitle{ background: url(../images/ctitle_bg.png) center repeat-x; height:1.2em;margin:1em 0}
.ctitle span{ display:block; height:1.25em; line-height:1.25em; font-size:1.25em; margin-top:-3px; background-color:#f5e7ca; padding-right:.25em; float:left}
.totop{ padding:.5em; font-size:1.1em}
.totop .caret{ transform:rotate(-90deg)}
.link-radius{display:inline-block;margin-top:.5em}
.link-radius>span,.link-radius>span>span{display:inline-block;width:5em;height:5em;background-position:center; background-repeat:no-repeat; background-size:100% 100%}
.link-radius>span{ background-color:#f5e7ca; text-align:center; }
.link-radius>span>span{ background-image:url(../images/link_mark.png);}
.link1{ background-image:url(../images/icon_link1.png);  }
.link2{ background-image:url(../images/icon_link2.png);  }
.link3{ background-image:url(../images/icon_link3.png);  }
.link4{ background-image:url(../images/icon_link4.png);  }

.mrn0{ margin:0}
.f1m{ min-width:4em}
.f2m{ font-size:1.5em}
.linghtbox{ background-color:#fff6e4; border-radius:.5em;margin:.6em 0; padding:1em .5em;}
.slbox{border:1px solid #fb6e53; background-color:#fff6e4; text-align:center; margin-bottom:.5em}
.shoplnk{ display:inline-block; text-align:left; width:90%; max-width:8em;margin:1em 0;background-position:right  bottom; background-repeat:no-repeat; background-size:40%}
.shoplnk img{ width:60%; }
.shoplnk1{  background-image:url(../images/shoplnk1_ico.png); height:4em; background-position:center right}
.shoplnk2{  background-image:url(../images/shoplnk2_ico.png); height:4em; background-position:center right;}
.shoplnk3{  background-image:url(../images/shoplnk3_ico.png); height:4em; }
.shoplnk4{  background-image:url(../images/shoplnk4_ico.png); height:4em; background-size:50%}
.shoplnk1 img,.shoplnk2 img{margin-top:.5em}
.shoplnk1,.shoplnk4{ margin:2em 0;}
.slbox1,.slbox3{ margin-right:.25em}
.slbox2,.slbox4{ margin-left:.25em}
.slbox>a{ display:block}
.font1 .dropdown > label{ font-size:1em}
.fixForm{ padding-top:.8em}
.fixForm .form-control{ width:100%}
.fixForm input[type='file']{ width:100%; padding:4px 6px}
.fixForm textarea{ height:8em}
.fixForm .row{ margin-bottom:.8em}
.fixForm .col-md3{width:6em; min-width:6em; white-space:nowrap;}
.fixForm .col-md6{ width:100%}
.fixForm .btn{ font-size:1.2em; width:6em}

.fixLi li{ list-style:none; border-bottom:1px solid #f8aa8e; padding:.5em 0}
.fixLi a.lnk{ display:block; padding-right:1em; background:url(../images/jian_right.png) right center no-repeat;  background-size:.8em auto; line-height:normal; padding-bottom:.5em}
.fixLi a.lnk>div{  height:1.25em; overflow:hidden; display: -webkit-box; display: -moz-box; text-overflow: ellipsis; -webkit-line-clamp: 1; -moz-line-clamp: 1; -webkit-box-orient: vertical;}
.starInput span{ display:inline-block; font-size:2em; color:#fb6e53; cursor:pointer; padding:.0 .1em }
.starInput span:nth-child(odd){ display:none}
.hasbtm{border-bottom:1px solid #f8aa8e; padding-bottom:.5em; margin-bottom:.5em}
.hasbtm>h3:only-child{ margin-bottom:.4em}
.hasbtm>.container{ padding-bottom:0;}
.hasbtm + .container,.hasbtm + br +.container{ padding-top:0}
.lineLi{ margin-left:7em; color:#555}
.lineLi li{ list-style:none; position:relative}
.lineLi li div.cbox{position:relative; z-index:2;border-left:1px solid #fb6e53; padding-bottom:1em; top:1em}
.lineLi li:last-child div.cbox{ border-left:none; margin-left:1px; padding-bottom:0}
.lineLi li div.box{ margin-left:2em; border:1px solid #f0a98e; padding:.25em; background-color:#fff6e4; top:-2em;  z-index:3; position:relative; min-height:3em}
.lineLi li div.yuan{ position:absolute; left:-1em; top:-.5em;  width:2em; height:2em ; background-color:#fb6e53; border:.4em solid #f8aa8e; border-radius:1em;margin-top:1px; z-index:1}
.lineLi li div.arrow{ width:1em; height:1em; position:absolute; top:0; left:1.1em; background:url(../images/icon_arrow.png) center right; background-size:100% 100%; z-index:10 }
.lineLi li div.stat{ position:absolute; left:-7.25em; top:-1em; line-height:normal; text-align:right; white-space:nowrap}
.lineLi li div.stat>div{ line-height:.75em; padding-top:2px}

.mheader{font-size:1.25em; white-space:nowrap; background-color:#fb6e53; padding:.4em  .5em .2em .25em}
.mheader .icon_logo{ width:1.5em; height:1.5em; margin-top:-5px}
.mheader a{ color:#fff}
@media (min-width: 360px) {
 .media.express .form-control{ width:5.5em}
 .foodsli.media .media-object{width:8.6em;}
 .goodsli1 .price{ letter-spacing:-1px}
}
@media (max-width: 360px) {
 .goods .txt>.text-nowrap>.pull-right{ float:none; display:block; padding-bottom:.5em} 
 .express .media-body .numberBox span{ width:1em;}
.express .media .btn{ font-size:1.25em;border-radius:1em; padding:.8em;}
}
@media (max-width: 320px) {
 .typeli .col-md3:nth-child(2) { width:30%  }
 .goodsli .price{ min-idthwidth:35%}
 .link-radius>span,.link-radius>span>span{width:4.5em;height:4.5em;}
 .media.shopli .media-heading{ margin-top:-3px}
 .muli >div{ width:33.333333%}
 .express .media .btn{padding:.8em .2em;}
}