{template "base/child_header"}
<div class="layui-form news_list" style="padding-top: 30px;padding-left:30px;">
    <ul>
        {loop $haveList $have}
        <li>
            <div style="width: 100px;">
                <a target="_blank" href="{php echo $this->createWebUrl('_main_index',array('plugin'=>$have['plugin_str']))}"><img style="width: 100px;height: 100px;border-radius: 50px;" src="{$have['cover']}"></a>
            </div>
        </li>
        {/loop}
    </ul>
</div>
<div id="page"></div>
<script>
    layui.use(['jquery',"layer"], function(){
        var $ = layui.jquery;
        layer = layui.layer;
    });
</script>
{template "base/child_footer"}