{template "base/child_header"}
<style>
</style>
<div class="layui-form news_list">
    <table class="layui-table">
        <colgroup>
            <col width="25%">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>组ID</th>
            <th>组名称</th>
        </tr>
        </thead>
        <tbody class="news_content">
        {loop $dataList $admin}
        <tr data-id="{$admin['url']}"  title="点击选择" style="cursor: pointer" data-name="{$admin['name']}">
            <td align="left">{$admin['id']}</td>
            <td>{$admin['name']}</td>
        </tr>
        {/loop}
        </tbody>
    </table>
</div>
<script>
    layui.use(['form','jquery','laypage'], function(){

        var name,mobile;
        var setting =new Object();

        var $ = layui.jquery;
        var form = layui.form();

        $("tbody tr").click(function(){
            var id = $(this).attr("data-id");
            var name =$(this).attr("data-name");
            parent.setApp(id,name);
        });
    });
</script>
{template "base/child_footer"}