{template "new_header"}
<div>
    <div style='background: url("/{$appInfo['cover']}");background-size:cover;'>
    <div class="page__hd">
        <h1 class="page__title" {if $appInfo['name_color']} style='color:{$appInfo['name_color']}' {/if}>{$appInfo['cover_name']}</h1>
        <p class="page__desc"   {if $appInfo['desc_color']} style='color:{$appInfo['desc_color']}' {/if}>{$appInfo['cover_desc']}</p>
    </div>
</div>
<div class="weui-cells__title">表单列表</div>
<div class="weui-cells">
    {loop $appList $app}
    <a class="weui-cell weui-cell_access" href="{php echo $this->createMobileUrl('index')}&app_id={$app['id']}">
        <div class="weui-cell__bd">
            <p>{$app['name']}</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
    {/loop}
</div>
{$menu}
</div>
{template "new_footer"}
