{template "header"}
<body ontouchstart>
<header class="ui-header">
    <div class="ui-icon-left">
        <a href="javascript:void(0)" class="ui-icon icon-back"></a>
    </div>
    <div class="ui-title">公告</div>
</header>
<div class="ui-content">
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__bd" style="padding: 10px;">
            <div>{$article['title']}</div>
            <div style="font-size: 13px;"><span style="color: #f08500">来源: {$article['public']}</span>  <span style="color: #999999">发布: {php echo date("Y-m-d H:i:s",$article['create_time'])}</span></div>
            <br>
            <p>
                {$article['content']}
            </p>
        </div>
    </div>
</div>
{template "js"}
<script>
    $(function() {
    });
</script>
</body>
</html>
