<style>
    .hd a {width: 22.5% !important;text-align: center}
</style>
<div class="hd" style="z-index: 99;top: 0">
    <a href="{php echo $this->createMobileUrl('msg',array('id'=>1))}" {if $_GPC['id']==1} class="on" {/if} >{$ndStatus['4']}</a>
    <a href="{php echo $this->createMobileUrl('msg',array('id'=>2))}" {if $_GPC['id']==2} class="on" {/if} >{$ndStatus['2']}</a>
    <a href="{php echo $this->createMobileUrl('msg',array('id'=>3))}" {if $_GPC['id']==3} class="on" {/if}>{$ndStatus['3']}</a>
    <a href="{php echo $this->createMobileUrl('msg',array('id'=>4))}" {if $_GPC['id']==4} class="on" {/if}>{$rdStatus['2']}</a>
    <a href="javascript:" class="search" style="width: 10%!important;"><i style="font-size:20px;" class="weui-icon-search icon-search"></i></a>
</div>