{template "header"}
<body ontouchstart>
{template "thems"}
<div class="ui-member">
    <div class="weui-flex__item">
        <div class="member-infos">
            <div class="text">余额</div>
            <div class="number">{$wqInfo['credit2']}</div>
        </div>
    </div>
    <div class="weui-flex__item">
        <div class="ui-avatar">
            <img src="{$fansInfo['avatar']}" class="avatar-head" alt="" />
            <div class="ui-m-item">{$memberInfo['name']}</div>
            <div class="ui-m-item">[{$memberLabel['label_name']}]</div>
        </div>
    </div>
    <div class="weui-flex__item">
        <div class="member-infos">
            <div class="text">积分</div>
            <div class="number">{$wqInfo['credit1']}</div>
        </div>
    </div>
    <a href="{php echo $this->createMobileUrl('memberInfo')}" class="m-account"></a>
</div>
<div class="weui-cells weui-cells-member">
    <a class="weui-cell weui-cell_access" href="{php echo $this->createMobileUrl('articles')}">
        <div class="weui-cell__hd"><img src="{MODULE_URL}/static/new/images/icon/heart.png" class="ui-m-icon" alt=""></div>
        <div class="weui-cell__bd">
            <p>最新公告</p>
        </div>
        <div class="weui-cell__ft">查看</div>
    </a>
</div>
<div class="weui-cells weui-cells-member">
    <a class="weui-cell weui-cell_access" href="{php echo $this->createMobileUrl('category')}">
        <div class="weui-cell__hd"><img src="{MODULE_URL}/static/new/images/icon/msgico.png" class="ui-m-icon" alt=""></div>
        <div class="weui-cell__bd">
            <p>最新消息</p>
        </div>
        <div class="weui-cell__ft">查看全部</div>
    </a>
    <div class="weui-cell weui-infos-cell">
        <div class="weui-flex__item">
            <a href="{php echo $this->createMobileUrl('category',array('id'=>0))}" class="cell-infos">
                <div class="number">{$msg[0]}</div>
                <div class="sm-text">{$lang[0]}</div>
            </a>
        </div>
        <div class="weui-flex__item">
            <a href="{php echo $this->createMobileUrl('category',array('id'=>1))}" class="cell-infos">
                <div class="number">{$msg[1]}</div>
                <div class="sm-text">{$lang[1]}</div>
            </a>
        </div>
        <div class="weui-flex__item">
            <a href="{php echo $this->createMobileUrl('category',array('id'=>2))}" class="cell-infos">
                <div class="number">{$msg[2]}</div>
                <div class="sm-text">{$lang[2]}</div>
            </a>
        </div>
        <div class="weui-flex__item">
            <a href="{php echo $this->createMobileUrl('category',array('id'=>3))}" class="cell-infos">
                <div class="number">{$msg[3]}</div>
                <div class="sm-text">{$lang[3]}</div>
            </a>
        </div>
    </div>
</div>
<div class="weui-cells weui-cells-member">
    <a class="weui-cell weui-cell_access" href="{php echo $this->createMobileUrl('memberInfo')}">
        <div class="weui-cell__hd"><img src="{MODULE_URL}/static/new/images/icon/infoico.png" class="ui-m-icon" alt=""></div>
        <div class="weui-cell__bd">
            <p>个人信息</p>
        </div>
        <div class="weui-cell__ft">查看</div>
    </a>
</div>
<div class="weui-cells weui-cells-member">
    {if $baseConfig['staff_in']==1}
    <a class="weui-cell weui-cell_access" href="{php echo $this->createMobileUrl('staffIn')}">
        <div class="weui-cell__hd"><img src="{MODULE_URL}/static/new/images/icon/infoico.png" class="ui-m-icon" alt=""></div>
        <div class="weui-cell__bd">
            <p>员工入驻</p>
        </div>
        <div class="weui-cell__ft">立即注册</div>
    </a>
    {/if}
    <!--<a class="weui-cell weui-cell_access" href="javascript:;">-->
        <!--<div class="weui-cell__hd"><img src="{MODULE_URL}/static/new/images/icon/infoico.png" class="ui-m-icon" alt=""></div>-->
        <!--<div class="weui-cell__bd">-->
            <!--<p>自定义菜单</p>-->
        <!--</div>-->
        <!--<div class="weui-cell__ft">查看</div>-->
    <!--</a>-->
</div>
{template "js"}
{template "menu"}
</body>
</html>
