@font-face {
	font-family: 'custom';
	src: url('../fonts/helvetica-neue-lt-std-25-ultra-light.ttf') format('truetype');
	/* src: url('../fonts/helvetica-neue-lt-std-25-ultra-light.eot');
	src: url('../fonts/helvetica-neue-lt-std-25-ultra-light.woff') format('woff'),
	url('../fonts/helvetica-neue-lt-std-25-ultra-light.ttf') format('truetype'),
	url('../fonts/helvetica-neue-lt-std-25-ultra-light.svg') format('svg'); */
	font-weight: normal;
	font-style: normal;
}
body {
	background-color: #f8f9fa;
	font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
.title-wrapper {
	position: relative;
}
.title {
	color: #808080;
	padding-left: 10px;
	line-height: 30px;
	font-size: 14px;
}
.ui-list li {
	margin-left: 0;
	padding-left: 10px;
}
.wrapper .thumb {
	width: 35px;
	height: auto;
	background: none;
	line-height: 1.2em;
	margin: 0;
	color: #00a5e0;
	padding-top: 12px;
	padding-bottom: 12px;
	display: -webkit-box;
	display: box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	box-orient: vertical;
	box-pack: center;

	-webkit-transition: -webkit-transform 1.5s ease,
						opacity 1.5s ease;

	transition: -webkit-transform 1.5s ease,
						opacity 1.5s ease;

}
.thumb span:first-child {
	display: block;
	font-size: 20px;
	font-weight: 700;
	font-family:'custom';
}
.thumb span:last-child {
	font-size: 12px;
}
.ui-list .ui-btn {
	right: 10px;
}
.ui-list .info h3 {
	color: #333;
}
.ui-list .info p {
	color: #999;
	white-space: initial;
}

.header-wrapper {
	height: 168px;
	position: relative;
	overflow: hidden;
	background: -webkit-radial-gradient(left top, circle, #d1f0d0, #c3edda 10%, #84c4d4 40%, #a1bbdf);
	background: -ms-radial-gradient(left top, circle, #d1f0d0, #c3edda 10%, #84c4d4 40%, #a1bbdf);
	background: radial-gradient(left top, circle, #d1f0d0, #c3edda 10%, #84c4d4 40%, #a1bbdf);
}

.header-inner {
	height: 100%;
	position: relative;
}

.dashboard {
	position: absolute;
	width: 150px;
	height: 150px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid rgba(255,255,255,.2);
	background-color: rgba(255,255,255,.1);
	left: 50%; top: 50%;
	margin: -76px 0 0 -76px;
	z-index: 10;
	-webkit-background-size: 150px 150px;
	background-size: 150px 150px;
}

.number {
	margin-top: 38%;
	color: #fff;
	font-size: 34px;
	line-height: 1em;
	font-family:'custom';
	font-weight: 700;
}
/*.number span:last-child {
	margin-left: 4px;
}*/
.tip {
	color: #fff;
	font-size: 12px;
}
.icon-switch {
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0; right: 10px;
	background: url(../img/icon-switch.png) no-repeat center center;
	-webkit-background-size: 20px auto;
	background-size: 20px auto;
}

.waves {
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	height: 168px;
	z-index: 1;
	-webkit-transition: all 1s cubic-bezier(0.17, 0.89, 0.42, 1.89);
	transition: all 1s cubic-bezier(0.17, 0.89, 0.42, 1.89);

	-webkit-mask: center no-repeat;
	mask: center no-repeat;
	-webkit-mask-image: url(../img/mask.png);
	mask-image: url(../img/mask.png);

}
.waves .w1 {
	width: 800px;
	height: 30px;
	position: absolute;
	bottom: 8px; left: 50%;
	margin-left: -80px;
	background: url(../img/w1.png) no-repeat;
	-webkit-background-size: auto 30px;
	background-size: auto 30px;
	-webkit-animation: wave1move 8s linear infinite;
	animation: wave1move 8s linear infinite;
	z-index: 10;
}
.waves .w2 {
	width: 700px;
	height: 28px;
	position: absolute;
	bottom: 8px; left: 50%;
	margin-left: -70px;
	background: url(../img/w2.png) no-repeat;
	-webkit-background-size: auto 28px;
	background-size: auto 28px;
	-webkit-animation: wave2move 12s linear infinite;
	animation: wave2move 12s linear infinite;
	z-index: 1;

}
@-webkit-keyframes wave1move {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-365px, 0, 0);
    }
}
@-webkit-keyframes wave2move {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-333px, 0, 0);
    }
}
@keyframes wave1move {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-365px, 0, 0);
        transform: translate3d(-365px, 0, 0);
    }
}
@keyframes wave2move {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-333px, 0, 0);
        transform: translate3d(-333px, 0, 0);
    }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}