.update_d{min-width: 800px;}
.update_d1{width: 100%; height: 95px;background: #f6f6f6;border-bottom: 1px solid #ddd;}
.update_d1_img1{width: 60px;border-radius: 6px;float: left;margin: 20px;}
.update_d1_d1{height:80px;float: left;}
.update_d1_d1 .p1{font-size: 18px;font-weight: bold;padding-top: 8px;margin-bottom: 0;line-height: 36px;}
.update_d1_d1 .p2{font-size: 14px;line-height: 22px;margin-bottom: 0;}
.update_d1_d1 .p3{font-size: 14px;line-height: 28px;margin-bottom: 0;}
.update_d1_d2{float: right;margin-right: 6%;text-align: center;}
.update_d1_d2 .btn1{background: #68c429;width: 140px;height: 40px;border: none; border-bottom: 2px solid #5cb51f;border-radius: 4px;color: #fff;cursor:pointer;margin-top:30px;}
.update_d1_d2 .btn1:hover{background: #5cb51f;}
.update_d1_d2 .p1{line-height: 28px;color: #999;}
.update_d2{margin-top: 20px;border-top: 1px solid #e6e6e6;}
.update_d2_d1{border-left: 3px solid #5cb51f;padding-left: 10px;background: #f6f6f6;line-height: 40px;font-size: 16px;font-weight: 500;}
.update_d2_d1 span{color: red;}
.update_d2_t1{padding: 20px 0;}
.update_d2_t1 .td1{text-align: center;width: 10%;border-right: 1px solid #e6e6e6;position: relative;padding-top: 20px;}
.update_d2_t1 .td1 span{font-size: 20px;font-weight: bold;color: #5c5c5c;}
.update_d2_t1 .td1 div{width: 12px;height: 12px;border-radius: 100%;background: #5cb51f;position: absolute;right: -6px;top: 34px;}
.update_d2_t1 .td2{text-align: left;width: 92%;padding:20px 4%;}
.update_d2_t1 .update_a{width: 96%;padding: 0 2%;}
.update_d2_t1 .update_a_top{width: 96%;border: 1px solid #e7e6eb;background: #f3f3f3;font-size: 16px; color: #5cb51f;padding: 0 2%;height: 36px;line-height: 36px;position: relative;}
.update_d2_t1 .update_a .da{ width: 0;height: 0;border-top: 6px solid transparent;border-right: 12px solid #f6f6f6;border-bottom: 6px solid transparent;position: absolute;left: -10px;top: 12px;}
.update_d2_t1 .update_a_btm{background: none;border: none;font-size: 14px;line-height: 24px; color: #333;padding:20px 2% 0;border: 1px solid #e7e6eb;border-top: none;border-radius: 0;}
