{template 'public/header'}

<body>
<div class="ub ub-ver bga page" id="page0"> 
<div class="form_box tab-pane fade in active" id="home">
<div class="bd">
  <div class="ub-f1 tx-c ub-ac ub-pc ub-ver c-wh uinn212 ubb b-bla01">
    <div class="ulev2 t-red font-b">{$item['curry_name']}</div>
    <div class="ulev-2 t-gra">附近有<font class="t-red1">36</font>个服务商</div>
    <div class="ulev-2 t-red1 umar-t">送货上门</div>
  </div>
  </div>
  <!--表单开始-->
  <input type="hidden" name="random" id="random" value={$random}>
  <div class="ub ub-ver">
  <div class="ub ub-ver"><!--联系人-->
    <div class="ub-f1 uinn ub ub-ac"><i class="iconfont icon-lianxiren t-blu ulev0"></i> <span class="ulev-1">联系人</span></div>
     <div class="ub ub-f1 ub-ver c-wh ubt b-bla01">
      <div class="ub ub-f1 ub-ac ub-pc uinn212 ubb b-bla01">
        <div class="ub wid3 ulev-1">姓名：</div>
        <div class="ub-f1">
          <input name="realname" id="realname" type="text" class="ub-fh" value="{$members['realname']}" placeholder="请输入姓名">
        </div>
      </div>

      <div class="ub ub-f1 ub-ac ub-pc uinn ubb b-bla01 ff-check">
        <div class="ub wid3"></div>
        <div class="ub-f1 ub">
          <input name="gender" type="radio" id="hh1" value="1" {if $members['gender'] == 1} checked {/if}>
          <label class="block uinn3 ulev0 t-dgra" for="hh1">
            <i class="iconfont icon-gouxuan ulev1"></i> 先生
          </label>
          <input name="gender" type="radio" id="hh2" value="2">
          <label class="block uinn3 ulev0 umar-l1 t-dgra" for="hh2" {if $members['gender'] == 2} checked {/if}>
            <i class="iconfont icon-gouxuan ulev1"></i> 女士
          </label>
        </div>
      </div>

      <div class="ub ub-f1 ub-ac ub-pc uinn212 ubb b-bla01">
        <div class="ub wid3 ulev-1">手机：</div>
        <div class="ub-f1">
          <input name="mobile" id="mobile" type="text" class="ub-fh" value="{$members['mobile']}" placeholder="请输入收货手机号码，以便服务人员联系您">
        </div>
      </div> 

    </div>
   </div>

    <div class="ub ub-ver"><!--上传照片-->
      <div class="weui_cells_title uinn ub ub-ac"><i class="iconfont icon-shangchuanzhaopian t-org ulev0"></i> <span class="ulev-1">上传商品照片</span></div>
      <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
          <div class="weui_cell_bd weui_cell_primary">
            <div class="weui_uploader">
              <div class="weui_uploader_bd">
                <ul class="weui_uploader_files" id="pic_show">
                  <li class="weui_uploader_file" style="background-image:url({MODULE_URL}static/takeout/images/nopic.jpg)"></li>
                </ul>
                <div class="weui_uploader_input_wrp">
                  <input class="weui_uploader_input" name="pic" id="pic" onClick="upload()" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ub ub-ver"><!--服务地址-->
      <div class="weui_cells_title uinn ub ub-ac">
        <i class="iconfont icon-dingwei t-blu2 ulev0"></i>
        <span class="ulev-1">填写收货地址</span>
      </div>
      
      <div class="ub ub-f1 ub-ver c-wh ubt b-bla01">
        <div class="ub ub-f1 ub-ac ub-pc uinn212 ubb b-bla01">
          <div class="ub ulev-1">小区/大厦/学校：</div>
            <div class="ub-f1 uinn1 ulev-1"><input name="fadr" id="fadr" type="text" class="" placeholder="例：发展大道10号东方杰座"> 
            </div>
          <div class="ub" onClick="openPe()">
            <i class="iconfont icon-dingwei ulev0 t-red"></i>
          </div>
        </div>
        <div class="ub ub-f1 ub-ac ub-pc uinn212 ubb b-bla01">
          <div class="ub ulev-1">楼号-门牌号：</div>
          <div class="ub-f1 ulev-1"><input name="flou" id="flou" type="text" class="ub-fh" placeholder="例：16号楼427室"></div>
        </div>    
      </div>
    </div>

    <div class="ub ub-ver"><!--选择服务-->
    <div class="ub-f1 uinn ub ub-ac"><i class="iconfont icon-unie62a t-red ulev0"></i> <span class="ulev-1">商品详情</span></div>
     <div class="ub ub-f1 ub-ver c-wh ubt b-bla01">

      <div class="ub ub-f1 ub-ac ub-pc uinn212 ubb b-bla01">
        <div class="ub ulev-1">商品名称：</div>
        <div class="ub-f1 ulev-1">
          <input name="curry_name" id="curry_name" type="text" class="ub-fh" placeholder="商品名称" value="{$item['curry_name']}" readonly>

          <input type="hidden" name="curry_id" id="curry_id" value="{$item['id']}">
        </div>
      </div>
      <input type="hidden" name="barcode_number" id="barcode_number" value="{$item['barcode_number']}">

      <div class="ub ub-f1 ub-ac ub-pc uinn ubb b-bla01 kk-check">
       <div class="ub ulev-1">期望单价：</div>
       <div class="ub-f1 ulev-1">￥<input name="yuprice" id="yuprice" type="tel" class="uba b-gra uinn3" placeholder="" size="6"> 元</div>
      </div>

      <div class="ub ub-f1 ub-ac ub-pc uinn ubb b-bla01 kk-check">
       <div class="ub ulev-1">购买数量：</div>
       <div class="ub-f1 ulev-1"><input name="size" id="size" type="text" class="uba b-gra uinn3" placeholder="" size="5" value="5"> </div>
      </div>

      <div class="ub ub-f1 ub-ac ub-pc uinn212 ubb b-bla01">
       <div class="ub ulev-1">送达时间：</div>
        <div class="ub-f1">
          <select name="gettime" id="gettime" class="uinn3 ulev-1">
            <option class="uinn3" value="10分钟内">10分钟内</option>
            <option class="uinn3" value="15分钟内">15分钟内</option>
            <option class="uinn3" value="半小时内">半个小时内</option>
            <option class="uinn3" value="1小时内">1个小时内</option>
            <option class="uinn3" value="无限制">无限制</option>
          </select>
        </div>
      </div>  
      
      <!--
      <div class="ub ub-f1 ub-ac ub-pc uinn212 ubb b-bla01">
        <div class="ub ulev-1">单行备注：</div>
        <div class="ub ub-f1 ub-ac">
          <div class="ub ulev0 ub-f1 ">
            <input type="text" name="flou" placeholder="输入其他事项" value=""  id="" class="uinn1 ulev0 ub-f1 block" />
          </div>
        </div>
      </div>
      -->

      <div class="ub ub-f1 ub-ac ub-pc uinn212 ubb b-bla01">
        <div class="ub ulev-1">多行备注：</div>
        <div class="ub ub-f1 ub-ac">
          <div class="ub ub-f1 ub-ac">
            <div class="ub ulev0 ub-f1 ">
              <textarea name="remark" id="remark" rows="2" placeholder="输入备注" value="" class=" uinn1 ulev0 ub-f1 block"></textarea>
            </div>
          </div>
        </div>
      </div>

    </div>
   </div>
  </div>
  <!--表单结束-->
  <div class="umar-b1 umar-l umar-r umar-t1 pc_btn">
    <div onclick="submit()" class="weui_btn weui_btn_primary">确认竞价</div>
  </div>
  
  </div>

  <div style="height:3.5rem;"></div>
  <!--手机端底部-->
  {template 'footer'}

</div>

<!--map open-->
<div class="loginmask c-bla80">
  <div class="ub mban ub-ver" style="width:100%; height:100%; top:1500px">
        <!--<div class="closealert ub-f1"></div>-->
        <div class="" style="position:absolute; top:47px; width:100%; left:0; z-index:99">
            <div class="ub">
                <div class="ulev-1 tx-c uinn c-bla50 t-wh ub-f1">请拖动地图选定您需要服务的位置</div>
                <div class="closealert c-gra" style="padding:0.3rem 0.5rem"><i class="iconfont icon-guanbi ulev2 t-gra"></i></div>
            </div>
        </div>
        <div class="c-wh"  id="container_1" style="height:100%; ">
            
        </div>
   </div>
</div>
<!--map end-->

{template 'public/footerjs'}
<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&libraries=convertor"></script>
<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script>
<script type="text/javascript">
//图片上传
function upload(){
    wx.chooseImage({
      count: 1, // 默认9
      sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
      sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
      success: function (res) {
        var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
        wx.uploadImage({
          localId: ''+localIds+'', // 需要上传的图片的本地ID，由chooseImage接口获得
          isShowProgressTips: 1, // 默认为1，显示进度提示
          success: function (res) {
            var serverId = res.serverId; // 返回图片的服务器端ID
            var suiji = document.getElementById('random').value; 
            
            $.ajax({
              url: "{php echo $this->createMobileUrl('UploadPic', array());}",
              type:"POST",
              data:{"random":suiji,"serverId":serverId},
              dataType:"json",
              success: function(data){
                //alert(data);
                if(data== 0){
                  alert('上传图片失败');
                  return false;
                }else{
                  var pic = "";
                  var getstr = eval(data);
                  for(var i=0;i<getstr.length;i++){
                    pic = pic + '<li class="weui_uploader_file" style="background-image:url({$_W["attachurl"]}gohome/pic/'+getstr[i].pic+')" onclick="delpic('+getstr[i].id+')"></li>';
                  }
                  document.getElementById("pic_show").innerHTML = pic;
                }
              }
            });
          }
        });
      }
    });
}
  
function delpic(a){
    if(window.confirm('确定删除该图片吗？')){
      var suiji = document.getElementById('random').value; 
      $.ajax({
        url: "{php echo $this->createMobileUrl('DeletePic', array());}",
        type:"POST",
        data:{"random":suiji,"id":a},
        dataType:"json",
        success: function(data){
          if(data== 0){
            alert('删除图片失败');
            return false;
          }else if(data == 1){
            document.getElementById("pic_show").innerHTML = '';
          }else{
            var pic = "";
            var getstr = eval(data);
            for(var i=0;i<getstr.length;i++){
              pic = pic + '<li class="weui_uploader_file" style="background-image:url({$_W["attachurl"]}gohome/pic/'+getstr[i].pic+')" onclick="delpic('+getstr[i].id+')"></li>';
            }
            document.getElementById("pic_show").innerHTML = pic;
          }
        }
      });
    }else{
      return false;
    }
}

$(document).ready(function(){
   getLocation();
});

function getLocation(){
  if(navigator.geolocation)
  {
    navigator.geolocation.getCurrentPosition(showPosition);
  }else{
    x.innerHTML="浏览器不支持定位.";
  }
}

function showPosition(position) {
  var lat_1 = position.coords.latitude; 
  var lng_1 = position.coords.longitude;
  var container_1 = document.getElementById("container_1");
  var map = new qq.maps.Map(container_1, {
    center: new qq.maps.LatLng(lat_1,lng_1),
    zoom: 16
  });

  var middleControl = document.createElement("div");
  middleControl.style.left="50%";
  middleControl.style.top="50%";
  middleControl.style.position="relative";
  middleControl.style.width="40px";
  middleControl.style.height="40px";
  middleControl.style.margin="-40px 0 0 -20px";
  middleControl.style.zIndex="100000";
  middleControl.innerHTML ='<img style="height:40px;"  src="{MODULE_URL}static/takeout/images/dddw.png" />';
  document.getElementById("container_1").appendChild(middleControl);
  var geocoder = new qq.maps.Geocoder();
  var latLng = new qq.maps.LatLng(map.getCenter().getLat(), map.getCenter().getLng());
  geocoder.getAddress(latLng);
  geocoder.setComplete(function(result) {
    document.getElementById('fadr').value = result.detail.address;
  });
  //当地图中心属性更改时触发事件
  qq.maps.event.addListener(map, 'center_changed', function() {
    var geocoder = new qq.maps.Geocoder();
    var latLng = new qq.maps.LatLng(map.getCenter().getLat(), map.getCenter().getLng());
    geocoder.getAddress(latLng);
    geocoder.setComplete(function(result) {
      document.getElementById('fadr').value = result.detail.address;
    });
  }); 
}

//弹出地图层
$(".closealert").click(function() {
   $(".mban").animate({top:'1500px'})
   $(".loginmask").fadeOut(500);
});

function openPe(){
  $(".loginmask").fadeIn(500), $(".mban").animate({top:'0px'});
};

function closePe(){
  $(".mban").animate({top:'1500px'})
   $(".loginmask").fadeOut(500);
};

function submit(){
  var lat      = localStorage['lat'];
  var lng      = localStorage['lng'];
  var realname = $("#realname").val();
  var gender   = $("input[type='radio']:checked").val();
  var mobile   = $("#mobile").val();
  var random   = $("#random").val();
  var fadr     = $("#fadr").val();
  var flou     = $("#flou").val();
  var curry_id = $("#curry_id").val();
  var curry_name = $("#curry_name").val();
  var barcode_number = $("#barcode_number").val();
  var yuprice  = $("#yuprice").val();
  var size     = $("#size").val();
  var gettime  = $("#gettime").val();
  var remark   = $("#remark").val();
  if(realname == ''){
    alert('');
    return false;
  }
  if(realname == ''){
    alert('姓名不能为空！');
    return false;
  }
  if(mobile == ''){
    alert('手机号码不能为空！');
    return false;
  }
  if(fadr == ''){
    alert('收货地址不能为空！');
    return false;
  }
  if(yuprice == ''){
    alert('期望单价不能为空！');
    return false;
  }
  if(yuprice <= 0){
    alert('期望价格不能小于0！');
    return false;
  }
  if(size == ''){
    alert('购买数量不能为空！');
    return false;
  }
  if(size <= 0){
    alert('购买数量不能小于0！');
    return false;
  }

  var data = {};
  data['realname'] = realname;
  data['gender']   = gender;
  data['mobile']   = mobile;
  data['random']   = random;
  data['fadr']     = fadr;
  data['flou']     = flou;
  data['curry_name'] = curry_name;
  data['curry_id'] = curry_id;
  data['barcode_number'] = barcode_number;
  data['yuprice']  = yuprice;
  data['size']     = size;
  data['gettime']  = gettime;
  data['remark']   = remark;
  data['lat']      = lat;
  data['lng']      = lng;

  $.ajax({
    url: "{php echo $this->createMobileUrl('needs', array('foo'=>'addok'));}",
    type:"POST",
    data:data,
    dataType:"json",
    success: function(res){
      if(res == "1"){
        alert('订单提交成功！');
        window.location.href = "{php echo $this->createMobileUrl('needs', array('foo'=>'order'))}"; 
      }else if(res == "2"){
        alert("订单已提交，不能重复提交");
        return false;
      }else{
        alert('对不起,修改信息失败！'); 
        return false;
      }
    }
  });
}
</script>

</body>
</html>
