{template 'common/header'}
{template 'navs/member'}
<div class="panel panel-default">
    <div class="panel-heading">
        会员编辑
    </div>
    <div class="panel-body">
        <form action="" method="post"  class="form-horizontal" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">昵称</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" name="nickname" placeholder="" value="{$item['nickname']}" class="form-control"/>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">头像</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    {php echo tpl_form_field_image('avatar',$item['avatar'])}
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">真实姓名</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" name="realname" placeholder="" value="{$item['realname']}" class="form-control"/>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">电话号码</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <input type="text" name="mobile" placeholder="" value="{$item['mobile']}" class="form-control"/>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
            	<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">有效期至</label>
            	<div class="col-sm-8 col-lg-9 col-xs-12">
            		{php echo _tpl_form_field_date('limit_time',$item['limit_time'],true)}
            		<span class="help-block"></span>
            	</div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">会员组</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    {php $options = M('group')->getall();}
                    <select name="group_id" id="" class="form-control">
                        <option value="0">请选择</option>
                        {loop $options $option}
                        <option value="{$option['id']}" {if $item['group_id']==$option['id']}selected{/if}>{$option['title']}</option>
                        {/loop}
                    </select>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">状态</label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <label class="radio-inline">
                        <input type="radio" name="status" value="1" {if $item['status']==1}checked="checked"{/if}> 正常
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="status" value="0" {if $item['status']==0}checked="checked"{/if}> 禁止
                    </label>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-1 col-xs-12 col-sm-10 col-md-10 col-lg-11">
                    <input name="submit" type="submit" value="提交" class="btn btn-primary span3" />
                    <input type="hidden" name="token" value="{$_W['token']}" />
                </div>
            </div>
        </form>
    </div>
</div>
{template 'common/footer'}