<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{$setStoreData['set_storeName']}</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
	<link rel="stylesheet" href="{HLMMS_MOBILE_CSS}mui.min.css">
	<!--App自定义的css-->
	<link rel="stylesheet" type="text/css" href="{HLMMS_MOBILE_CSS}app.css" />
    <link rel="stylesheet" type="text/css" href="{HLMMS_MOBILE_CSS}mui.picker.min.css" />

    <script type="text/javascript" src="{$_W['siteroot']}app/resource/js/lib/jquery-1.11.1.min.js?v=20170802"></script>
    <script type="text/javascript" src="{$_W['siteroot']}app/resource/js/lib/mui.min.js?v=20170802"></script>
    <script src="{HLMMS_MOBILE_JS}mui.picker.min.js"></script>
    <script src="{HLMMS_COS_DATA}mui.cos.min.js"></script>
    <script src="https://gw.alipayobjects.com/as/g/h5-lib/alipayjsapi/3.1.1/alipayjsapi.min.js"></script>

</head>
