/* 公用的一些css */
body{
	background-color: #EEF0F2;
	font-family: "微软雅黑";
	font-size: 14px;
	margin: 0;
	padding: 0;
	width: 100%;
}
.container{
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}
.container-fluid .row{
	margin-left: 0px;
	margin-right: 0px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-right: 0px;
	padding-left: 0px;
}
a,a:link,a:hover,a:active,a:visited{
	color: #636363;
	text-decoration:none;
}
ul.soft ,li.soft{
	list-style-type:none;
}
.glyphicon{
	color: #fff;
}
/*颜色*/
.bg-red,.back-red{
	background: none repeat scroll 0% 0% #FF2E4B;
}
.bg-orange{
	background: none repeat scroll 0% 0% #FF6347;
}
.red{
	color: #FF2E4B;
}
.blue{
	color: #4A90E2;
}
.pink{
	color: #FD677A;
}
.gray{
	color: gray;
}
.icon-gray{
	color: #9B9B9B;
}
.sorrow {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}