#poster {
    width: 320px;
    height: 540px;
    margin-right: 2px;
    position: relative;
}

#poster .poster-demo[type=img] img{
    width: 100%;
    height: 100%;
}

#poster .poster-demo {
    position: static;
}

#poster .bg {
    width: 100%;
    z-index: 0
}

#poster .poster-demo[type=name] {
    width: 80px;
    height: 40px;
    font-size: 16px;
    font-family: 黑体;
}

#poster .poster-demo img {
    position: absolute;
    z-index: 0;
}