<!DOCTYPE html>
<html>
<head>
	<title>{$form['name']}</title>
	<meta charset="utf-8">
	<meta name="X-UA-Compatible" content="IE=Edge, chrome=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{PUB}main.css"> 
	<link rel="stylesheet" type="text/css" href="{PUB}weui.css">  
	<link rel="stylesheet" type="text/css" href="{PUB}bootstrap.min.css"> 
	<link rel="stylesheet" type="text/css" href="{PUB}jquery-weui.min.css"> 
	<script type="text/javascript" src="{PUB}jquery.min.js"></script>
	<script type="text/javascript" src="{PUB}util.js"></script>
	<script type="text/javascript" src="{PUB}weui.min.js"></script>
	<script type="text/javascript" src="{PUB}jquery-weui.min.js"></script>
	<style type="text/css">
		.tab1{width: 100%;}
		.tab1 td{padding: 10px 10px;}
		.tab1 .left{text-align: right;width: 28%;}
		.tab1 .right{text-align: left;width: 72%;}
		.right .input{width: 80%;}
		.need{color:#ff4444;font-size:13px;}
		.form-control{display: inline-block !important;}
	</style>
</head> 
<body  >
	<form id="form1" method="post" action="<?php echo $this->createMobileUrl('subForm');?>">
		<input type="hidden" name="url0" id="url0">
	<?php if(strlen($form['picture'])>0){?>
		<div style="width: 100%;text-align: center;">
			<img src="<?php echo $_W['attachurl'].$form['picture'];?>" style="width: 97%;margin:3px auto;border-radius: 7px;" />
		</div>
	<?php }?>
	<input type="hidden" name="formid" readonly="readonly" value="{$form['id']}">
	<table class="tab1" style="margin-top:20px;">
		{loop $fields $index $fff}
		<tr>
			<td class="left">
				 {$fff['label']} 
			</td>
			<td class="right">
				<input type="hidden" name="names[]" value="{$fff['name']}">
				<input type="{$fff['type']}" id="{$fff['name']}" label="{$fff['label']}" name="values[]" class="form-control <?php if($fff['need']=='1'){echo 'valid';}?>" <?php if($fff['need']=='1'){echo 'valid="true"';}?> value="" style="width:80%;">
				<?php if($fff['need']=="1"){?>
				<span class="need">*必填</span>
			<?php }?>
			</td>
		</tr>
		{/loop}
		<tr>
			<td colspan="2" align="center" style="padding-top:20px;">
				<div class="mybtn" onclick="subm()" style="width: 38%;margin: 0 auto;font-size: 18px;word-spacing: 10px;height:38px;line-height: 26px;">提&nbsp;交</div>
			</td>
		</tr>
	</table>
    <!-- <div class="weui-footer .weui-footer_fixed-bottom" style="margin-top: 20px;margin-bottom: 10px;">
	  <p class="weui-footer__links">
	    <a href="javascript:void(0);" class="weui-footer__link" style="font-size: 13px;">掌上客CMS&nbsp;-&nbsp;帮助中小门店微营销</a>
	  </p>
	  <p class="weui-footer__text">Copyright © 2017</p>
	</div> -->
	</form>
</body>
<script type="text/javascript">
 	function subm(){
 		if(valid_easy("valid")){
 			$("#form1").submit();
 		}
 	}
 	$(function(){
 		$("#url0").val(document.referrer);
 	});
 	 
  
</script>
</html>