{template 'common/header'}
<ul class="nav nav-tabs">
	{loop $list $vo}
    <li class="{if $vo['id'] == $adr_id} active {/if}"><a href="{php echo  $this->createWebUrl('order', array('adr_id'=>$vo['id']));}">{$vo['adr_name']}</a></li>
    {/loop}
</ul>

<div class="clearfix">
    <div class="panel panel-default">
    	<div class="panel-heading">
            项目列表
        </div>
        <div class="table-responsive panel-body" style="overflow:visible;">
        	{if $list1[0]['id'] != ''}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td width="80">项目名称</td>
                            <td width="100">订单数量</td>
                            <td width="150">操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        {loop $list1 $val}
                        <tr>
                           	<td>{$val['type_name']}
                            <td>{php echo $this->getOrderCount($val['id'])}</td>
                            <td>
                            	<a href="{php echo $this->createWebUrl('orderlist', array('serve_type'=>$val['id'],'adr_id'=>$adr_id))}" class="btn btn-default"><i class="fa fa-edit"></i> 订单详情</a>
                            </td>
                        </tr>
                        {/loop}
                        
                    </tbody>
                </table>
            {else}
                <span>暂无项目</span>
            {/if}  
        </div>
        
        <div class="panel-body text-center">
            {$pager}
        </div>
        
        <div class="panel-footer">
        	
        </div>
    </div>
</div>

{template 'common/footer'}