<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>{$cfg['title']} -- 设备搜索</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="{MODULE_URL}template/mobile/css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="{MODULE_URL}template/mobile/css/app.css"/>
		<style>
			.title {
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
			body{background:#fff;}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">设备查询</h1>
		</header>
		<div class="mui-content" style="background:#fff;font-size:14px;">
			
			<form class="mui-input-group" action="{php echo $this->createMobileurl('device_list',array('aid'=>$cfg['aid']))}" method="post">
				<div class="mui-input-row">
					<label>区域名称：</label>
					<select  name="area_id" class="mui-input-clear" style="font-size:14px;">
							<option value="0">全部</option>
						{loop $areas_list $index $item}
							<option value="{$item['id']}">{$item['area_name']}</option>
						{/loop}	
					</select>					
				</div>
				<div class="mui-input-row">
					<label>设备名称：</label>
				<input type="text" class="mui-input-clear" name="device_code" placeholder="请输入设备编码……"  style="font-size:14px;" >
				</div>
				<div class="mui-input-row">
					<label>设备状态：</label>
					<select name="status" class="mui-input-clear"  style="font-size:14px;">
						<option value="2">全部</option>
						<option value="1">在线设备</option>
						<option value="0">离线设备</option>
					</select>	
				</div>
				<div class="" style="margin:0 auto;width:80%;margin-top:30px;padding-bottom:20px;">
					<input type="hidden" name="token" value="{$_W['token']}" />
					
					<input type="submit" value="提交表单" name="search" style="color:#fff;width:90%;height:50px;background:#1874CD;margin:0 auto;">
				</div>			
			</form>
		</div>
		
		
	</body>
	<script src="{MODULE_URL}template/mobile/js/mui.min.js"></script>
	<script>
		mui.init({
			swipeBack:true //启用右滑关闭功能
		});
	</script>
</html>