<li ><span style=" line-height:40px; margin-right:20px;"><strong>首页管理</strong></span></li>
<li {if $_GPC['do']=='flash_list'}class="active"{/if}><a href="{php echo $this->createWebUrl('flash_list');}">顶部幻灯片管理</a></li>
<li {if $_GPC['do']=='nav_list'}class="active"{/if}><a href="{php echo $this->createWebUrl('nav_list');}">导航管理</a></li>
<li {if $_GPC['do']=='notice_list'}class="active"{/if}><a href="{php echo $this->createWebUrl('notice_list');}">公告管理</a></li>
<li {if $_GPC['do']=='ad_list' && $_GPC['kd']=='1'}class="active"{/if}><a href="{php echo $this->createWebUrl('ad_list', array('kd' => '1'));}">魔方广告</a></li>	
<li {if $_GPC['do']=='ad_list' && $_GPC['kd']=='2'}class="active"{/if}><a href="{php echo $this->createWebUrl('ad_list', array('kd' => '2'));}">广告管理</a></li>	