{template 'header'}
<div id="jiazhang">
    <div class="mui-navbar-inner mui-bar mui-bar-nav">
        <button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
            <span class="mui-icon mui-icon-left-nav"></span>返回
        </button>
        <h1 class="mui-center mui-title">家长反馈</h1>
    </div>
    <div class="mui-content">
        <ul class="mui-table-view mui-table-view-chevron">

            {if $xinxis}
                {loop $xinxis $i $x}
                    <li class="mui-table-view-cell mui-media">
                        <a href="{php echo $this->createMobileUrl('tutor', array('page' => 'message', 'id' => $x['uid']))}" class="mui-navigate-right">
                            <img class="mui-media-object mui-pull-left evaluate-img" src="{$x['avatar']}">
                            {if $x['read'] == 1}<span class="reddot guwen-fankui-dot"></span>{/if}
                            <div class="mui-media-body">
                                {$x['fullname']}
                                <p class='mui-ellipsis'>{$x['content']}</p>
                                <p class='mui-ellipsis gray'>{$x['sendtime']}</p>
                            </div>
                        </a>
                    </li>
                {/loop}
            {else}
                <li style="margin-right:0px !important;">
                    <div style="text-align: center;">
                        暂无消息
                    </div>
                </li>
            {/if}

        </ul>
    </div>
</div>
{template 'footer'}