a:focus, a:hover{ text-decoration:none; }
ul{ list-style:none; padding:0; margin:0; }
.text-red{ color:#f33; }
input{ border:1px solid #dbdbdb; border-radius:3px; padding:5px; }
.btn-golden{ color:#fff; background-color:#fae101; border-color:#fae101; }
.col-xs-12{ padding:0; }
.btn-golden.focus, .btn-golden:focus, .btn-golden:hover{ color:#fff; }
body{ background:#bd0102; }

/* 修改bootstrap弹窗 */
.modal-header,.modal-footer{ padding:10px; }
.form-list{  }
.form-list li{ padding:5px 0; }
.form-list li input{ margin:0 0 0 5px; }
/* 列表 */
.info-wrap{ margin:5px 0; border-bottom:1px solid #6e0003; background:#900; color:#fff; }
.info-wrap img{
	float: left;
	width: 35%;
	height: 90px;
	margin: 5px;
}
.info-wrap .info{ float:left; width:60%; padding:5px; font-family:'微软雅黑'; }
.info-wrap .info .btn{ margin:5px 0 0 0; }