{template "common/header"}
<div class="main">
	<form action="" method="post" enctype="multipart/form-data" class="form form-horizontal">
		<div class="panel panel-info">
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">公众账号 ID</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="appid" value="{$settings['appid']}" required="required" class="form-control"> <span class="help-block">微信公众号的appid</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">公众账号 appSecret</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="appSecret" required="required" value="{$settings['appSecret']}" class="form-control"> <span class="help-block">微信公众号的appSecret</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">商户号</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="mch_id" value="{$settings['mch_id']}" required="required" class="form-control"> <span class="help-block">微信支付商户号</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">支付密钥</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="appkey" value="{$settings['appkey']}" class="form-control"> <span class="help-block">微信支付密钥</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">服务器IP{$yz}</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="ip" value="{$settings['ip']}" class="form-control"> 
						<span class="help-block">如自动获取不对或者为空，请手动填写</span>
					</div>
				</div>				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">apiclient_cert.pem</label>
	                <div class="col-sm-4">
	                    <input type="text" class="form-control" disabled value="{php echo $this->module['config']['apiclient_cert']}" />					
	                </div>
					<div class="col-sm-2">
						<input type="file" class="form-control" name="apiclient_cert" />
					</div>
	    		</div>		
	            <div class="form-group">
	            	<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">apiclient_key.pem</label>
	                <div class="col-sm-4">
	                    <input type="text" class="form-control" disabled value="{php echo $this->module['config']['apiclient_key']}" />					
	                </div>
					<div class="col-sm-2">
						<input type="file" class="form-control" name="apiclient_key" />
					</div>
	            </div>
	            <div class="form-group">
	            	<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">rootca.pem</label>
	                <div class="col-sm-4">
	                    <input type="text" class="form-control" disabled value="{php echo $this->module['config']['rootca']}" />					
	                </div>
					<div class="col-sm-2">
						<input type="file" class="form-control" name="rootca" />
					</div>										
	            </div>
	            <div class="row">
				    <span class="help-block col-md-offset-2" style="color: red;">上传证书前，在系统附件设置的【音频视频附件设置-支持文件后缀】中添加【pem】<a href="{php echo url('system/attachment')}">点此前往设置</a></span>
				</div>
			</div>
		</div>
		
		<div>
			<input type="submit" value="提交" name="submit" class="btn btn-primary btn-lg">
			<input type="hidden" name="token" value="{$_W['token']}">
		</div>
	</form>
</div>
{template "common/footer"}