



	<ul class="top">

    	<li class="col-xs-{if $_W['uniaccount']['level'] == 4}4{/if} {if $Selected==1}dq{/if}">

        	<a href="{php echo $this->createMobileUrl('carddis');}">{if empty($config['mobile_card_top1'])}{$sysdefaultset['mobile_card_top1']}{else}{$config['mobile_card_top1']}{/if}</a>

        </li>

        <li class="col-xs-{if $_W['uniaccount']['level'] == 4}4{/if} {if $Selected==2}dq{/if}">

        	<a href="{php echo $this->createMobileUrl('storerange');}">{if empty($config['mobile_card_top2'])}{$sysdefaultset['mobile_card_top2']}{else}{$config['mobile_card_top2']}{/if}</a>

        </li>
        {if $_W['uniaccount']['level'] == 4}
        <li class="col-xs-4 {if $Selected==3}dq{/if}">
        	<a href="{php echo $this->createMobileUrl('storerand');}">{if empty($config['mobile_card_top5'])}{$sysdefaultset['mobile_card_top5']}{else}{$config['mobile_card_top5']}{/if}</a>
        </li>
        {/if}

    </ul>