	<ul class="top">
    	<li class="col-xs-6 {if $Selected==1}dq{/if}">
        	<a href="{php echo $this->createMobileUrl('Mydiscard');}">{if empty($config['mobile_card_top3'])}{$sysdefaultset['mobile_card_top3']}{else}{$config['mobile_card_top3']}{/if}</a>
        </li>

        <li class="col-xs-6 {if $Selected==2}dq{/if}">
        	<a href="{php echo $this->createMobileUrl('Mydiscardlist');}">{if empty($config['mobile_card_top4'])}{$sysdefaultset['mobile_card_top4']}{else}{$config['mobile_card_top4']}{/if}</a>
        </li>
    </ul>
