<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0;" />
<title>店员充值</title>
{template 'head'}
</head>
<body>
<div class="mnav mcolor-i" >
    店员充值
</div>

<div class="container-fluid">
    <div class="row" style="margin-top:10px;">
    <div class="col-xs-3 m_box_p1">
      <div class="mtitle">
        充值类型
      </div>
    </div>
    <div class="col-xs-8">
      <div class="btn-group btn-group-justified" role="group" style="width:100%;">
         <div class="btn-group" role="group">
              <button type="button" class="btn btn-success" id="credittype1"  onClick="credittype1()">积分</button>
          </div>
          <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" id="credittype2" onClick="credittype2()">余额</button>
          </div>       
      </div>
    </div>
  </div>
    <form action="{php echo $this->createMobileUrl('payform');}" method="post" id="payform" >
        <div class="m_bg1" style="height:137px;margin-top: 8px;">
            <div class="row" style="margin-top:-10px;">
                <div class="col-xs-3 m_box_p1">
                    <div class="mtitle">充值数值</div>
                </div>
                <div class="col-xs-8">
                    <div class="input-group">
                        <input type="text" class="form-control" readonly id="money" name="money" tyle="text-align: right;" value="0" >
                        <span class="input-group-addon " id='credittypetitle'>积分</span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-xs-3 m_box_p1">
                    <div class="mtitle">备注</div>
                </div>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="remark" name="remark">
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-xs-3 m_box_p1">
                    <div class="mtitle">金额</div>
                </div>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="number" name="number" readonly>
                </div>
            </div>
        </div>
        <input type="hidden" id="payc1" value="{$payc1}" >
        <input type="hidden" name="token" value="{$_W['token']}" />
        <input type="hidden" id="payc1_num" value="{$config['web_payc1_money']}" >
        <input type="hidden" id="payc2" value="{$payc2}" >
        <input type="hidden" id="payc2_num" value="{$config['web_payc2_money']}" >
        <input type="hidden" id="credittype" value='1' name="credittype">
    </form>
    <div class="row" style="margin-top:4px; padding-left:10px; padding-right:10px;">
        <div class="col-xs-4 m_an">
            <a href="javascript:number(1);"><img src="{RES}/public/images/m_an_1.png"/></a>
        </div>
        <div class="col-xs-4 m_an">
            <a href="javascript:number(2);"><img src="{RES}/public/images/m_an_2.png"/></a>
        </div>
        <div class="col-xs-4 m_an">
            <a href="javascript:number(3);"><img src="{RES}/public/images/m_an_3.png"/></a>
        </div>
        <div class="col-xs-4 m_an">
            <a href="javascript:number(4);"><img src="{RES}/public/images/m_an_4.png"/></a>
        </div>
        <div class="col-xs-4 m_an">
            <a href="javascript:number(5);"><img src="{RES}/public/images/m_an_5.png"/></a>
        </div>
        <div class="col-xs-4 m_an">
            <a href="javascript:number(6);"><img src="{RES}/public/images/m_an_6.png"/></a>
        </div>
        <div class="col-xs-4 m_an">
            <a href="javascript:number(7);"><img src="{RES}/public/images/m_an_7.png"/></a>
        </div>
        <div class="col-xs-4 m_an">
            <a href="javascript:number(8);"><img src="{RES}/public/images/m_an_8.png"/></a>
        </div>
        <div class="col-xs-4 m_an">
            <a href="javascript:number(9);"><img src="{RES}/public/images/m_an_9.png"/></a>
        </div>
        <div class="col-xs-4 m_an">
            <a href="javascript:number(0);"><img src="{RES}/public/images/m_an_10.png"/></a>
        </div>
        <div class="col-xs-4 m_an">
            <a href="javascript:number(11);"><img src="{RES}/public/images/m_an_11.png"/></a>
        </div>
        <div class="col-xs-4 m_an">
            <a href="javascript:number(12);"><img src="{RES}/public/images/m_an_12b.png"/></a>
        </div>
    </div>
   
    <div class="m_box_w1" >
        <a href="javascript:getqrcode();"><img src="{RES}/public/images/m_btn4.png" class="m_btn_a"/></a>
    </div>
</div>

<script>
    function number(num)
    {
      var va = $("#money").val();

      if(num<10&&va.length<9)
      {
        if(va.indexOf(".")!=-1)
        {
          if(va.split(".")[1].length<2)
          {
            if (va == 0) {  
                    $("#money").val(num);  
                }  
                else {  
                    $("#money").val(va + num);  
                } 
          }
        }else{
          if (va == 0) {  
                  $("#money").val(num);  
                }  
                else {  
                    $("#money").val(va + num);  
                } 
          }
        }
        if($('#credittype').val()=='')
        {
            if(num==11)
            {
                if(va.indexOf(".")==-1)
                {
                  $("#money").val(va + '.');
                }
            }
        }
        if(num==12)
        {
          if (va.length>1) {  
                  $("#money").val(va.substring(0,va.length-1));
               }
               if(va.length==1)
               {
                $("#money").val(0);
               }
        }   

        $('#number').val('');
        if($('#credittype').val()==1)
        {
            if($('#payc1').val()==1)
            {
                if($('#payc1_num').val()!='')
                {

                    $key=accMul($('#money').val(),$('#payc1_num').val());
                    $('#number').val($key);
                }
            }else{
                $('#money').val();
                alert('未设置积分充值比例，请联系管理员！');
            }
        }
        
        if($('#credittype').val()==2)
        {
            if($('#payc2').val()==1)
            {
                if($('#payc2_num').val()!='')
                {

                    $key=accMul($('#money').val(),$('#payc2_num').val());
                    $('#number').val($key);
                }
            }else{
                $('#money').val();
                alert('未设置余额充值比例，请联系管理员！');
            }
        }
        
    }

    function credittype1()
    { 

      $('#credittype1').addClass('btn-success');
      $('#credittype1').removeClass('btn-default');
      $('#credittype2').addClass('btn-default');
      $('#credittype2').removeClass('btn-success');
      $('#credittypetitle').html('积分');
      $('#credittype').val(1);
      $('#money').val(0);
      $('#number').val(0);
    }
    function credittype2()
    {
      $('#credittype1').removeClass('btn-success');
      $('#credittype1').addClass('btn-default');
      $('#credittype2').removeClass('btn-default');
      $('#credittype2').addClass('btn-success');
      $('#credittypetitle').html('元');
      $('#credittype').val(2);
      $('#money').val(0);
      $('#number').val(0);
    }
    /** 提交表单生成二维码 */    
    function getqrcode()
    {
        if($('#money').val()=='')
        {
            alert('请填写兑换数值');
        }else if($('#number').val()=='')
        {
            alert('兑换比例未设置。请联系管理员');
        }else{
            $('#payform').submit();  
        }
    } 
    function accMul(arg1,arg2)
    {
          var m=0,s1=arg1.toString(),s2=arg2.toString();
          try{m+=s1.split(".")[1].length}catch(e){}
          try{m+=s2.split(".")[1].length}catch(e){}
          return Number(s1.replace(".",""))*Number(s2.replace(".",""))/Math.pow(10,m)
    }
</script>
{template 'foot-msg'}
</body>
</html>