/* ----------------------------------------
	* Filename:     common.css
	* Description:  Global CSS
	* Website:      www.CuPlayer.com
	* PageWidth:    980px
	* CssCreate:    2013-09-07 21:44 
------------------------------------------ */
body {margin:0; padding:0;  margin-top:0px;font-size:12px; color:#313131;text-align: left; font-family:Verdana, Arial, Helvetica, sans-serif; background:#ffffff url(mbgico.gif) repeat; }
div,ul,li,ol,dl,dt,dd,form,img,p{margin: 0; padding: 0; border: 0; }
li{list-style-type:none;}
h1,h4,h5,h6{margin: 0; padding: 0; font-size:14px;}
/* __link */
a {color: #313131; text-decoration:none;}
a:link {color: #313131;text-decoration:none;}
a:visited {color: #313131;text-decoration:none;}
a:hover {color:red; text-decoration:underline;}
a:active {color: #313131;}
/* __color */
.cWhite,a.cWhite:link,a.cWhite:visited{ color:#ffffff;}
.cBlue,a.cBlue:link,a.cBlue:visited,a.cBlue:active{color:#066bb7; }
.cBlue2,a.cBlue2:link,a.cBlue2:visited,a.cBlue2:active{color:#035db8;}
a.cBlue2:hover{color:red; }
.cBlack,a.cBlack:link,a.cBlack:visited,a.cBlack:active{color:#000000; }
.cRed,a.cRed:link,a.cRed:visited{ color:#ff0000; }
.cGold,a.Gold:link,a.Gold:visited{ color:gold; }
.cOrange,a.cOrange:link,a.cOrange:visited{ color:orangered; }
.cGray,a.cGray:link,a.cGray:visited{ color:#6D6359; }
.cGrayover,a.cGrayover:link,a.cGrayover:visited{ color:#cccccc; text-decoration:line-through;}
.cOrange2,a.cOrange2:link,a.cOrange2:visited{ color:#9b2f07; }
.cGreen2,a.cGreen2:link,a.cGreen2:visited{ color:#336600; }
.cYellow,a.cYellow:link,a.cYellow:visited{ color:#FFE0B2; }
.cRed2,a.cRed2:link,a.cRed2:visited{ color:#ce0400; } a.cRed2:hover{ color:#000000; text-decoration:underline; }
.cRed3,a.cRed3:link,a.cRed3:visited{ color:#96570e; } a.cRed3:hover{ color:red; text-decoration:underline; }
.cHe,a.cHe:link,a.cHe:visited{ color:#876e25; } a.He:hover{ color:red; text-decoration:underline; }
/* __font */
.f12{ font-size:12px; }
.f14{ font-size:14px; }
.f16{ font-size:16px; }
.f18{ font-size:18px; }
.f20{ font-size:20px; }
.f30{ font-size:30px; height:60px; line-height:60px;}

.h20{ line-height:20px; }
.h22{ line-height:22px; }
.h24{ line-height:24px; }
.h26{ line-height:26px; }
.h28{ line-height:28px; }
.h30{ line-height:30px; }
.fn { font-weight:normal; }
.h  { font-family:"黑体"; }
.b  { font-weight: bold; }
.en {font-family:Verdana, Arial, Helvetica, sans-serif,"宋体"; }
/* __float */
.left { float: left;}
.right{ float: right;}
.clear{ clear: both; margin:0; padding:0; border:0;margin-top:2px;}
div.side{ width:269px;float:left; background:#e9f2fe; zoom:1;}
.clearfix:after { content: "."; visibility: hidden; display: block; height: 0; clear: both; }
/* __width */
.w { width:1002px;margin:0 auto; padding: 0; border: 0; }
.w0{ width:980px;margin:0 auto; padding: 0; border: 0; }
.bgw {background: #FFF;}
/* __other */
.input{border: #ffffff 1px solid;color:#C50A32; height: 15px; padding:1px;}
.textarea{border: #999999 1px solid; font-size: 12px; color:#000000;}
/* CuPlayer.com ━━━━━━━━━━━━━━━━━━━━━━ */
div.clearfix { zoom:1;}
div.clearfix:after {content:".";clear:both;height:0;display:block;visibility:hidden;}
/* Hide from IE Mac \*/ 
.clearfix { display:block; } 
/*header----------------------*/
div#header { height:110px; background:#004986 url(Menubgs.jpg) center bottom;}
div#header div.subnav{ width:980px;margin:0 auto;}
div#header div.subnav p.sublogo {width:160px;float:left;}
div#header div.subnav p.sublink {width:810px;float:left; border-right:1px #3e414a solid;}
div#header div.subnav p.sublink a, div#header div.subnav p.sublink a:link,div#header div.subnav p.sublink a:visited { display:block;width:100px;float:right;font-size:12px;color:#cccccc; line-height:40px; text-decoration:none; text-align:center; border-left:1px #3e414a solid;}
div#header div.subnav p.sublink a:hover{ color:#ffcc00; background:#3e414a;}

div#header div.menu { background:#004986; clear:both; height:70px; line-height:70px; overflow:hidden; border-top:0px #3d3f42 solid;border-bottom:5px #ffffff solid;}
div#header div.menu div.w980 { width:980px; margin:0 auto;}
div#header div.menu div.w980 p.logo { width:220px;float:left;}
div#header div.menu ul { float:right;}
div#header div.menu ul li { width:116px;float:left; text-align:center; font-size:14px;font-weight:bold;}
div#header div.menu ul li a,div#header div.menu ul li a:link,div#header div.menu ul li a:visited { display:block; font-size:14px;color:#ffffff; }
div#header div.menu ul li a:hover { background:url(menubg_on.jpg) no-repeat left center; text-decoration:none; color:#043f71;}
div#header div.menu ul li a.on,div#header div.menu ul li a.on:link,div#header div.menu ul li a.on:visited { background:url(menubg_on.jpg) no-repeat left center; text-decoration:none; color:#043f71;}

/* 单行显示14pix */
ul.list14bgline { width:100%; text-align:left;line-height:32px;font-size:14px;}
ul.list14bgline li { padding:1px 0; border-bottom:1px #e2e2e2 solid; }
ul.list14bgline li a,ul.list14bgline li a:visited{ padding:0px 6px 0px 20px; overflow:hidden;  height:32px; display:block; background:url(ico_11.gif) no-repeat 6px 11px; }
ul.list14bgline li a:hover{ color:#cc0000;}
ul.list14bgline li span.date{ float:right; width:90px; color:#999; font-family:Verdana, Arial, Helvetica, sans-serif;} 
 
/*Focus------------------------*/
div#focusbg { background:#1e252f url(mainbg3.jpg)  center top; border-top:0px #ffffff solid; }
#CuFocus { clear:both; width:980px;margin:0 auto; background:url(mainPic3.jpg) no-repeat left top; height:440px;}

#CuFocus div.topcorn { height:8px;}
#CuFocus div#CuPlayer { background:none;width:540px;float:left;padding-left:10px;margin-top:35px; }
#CuFocus div.intro { background:none;width:410px;float:left; }

#CuFocus2 { clear:both; width:980px;margin:0 auto; height:150px;}

/*content-------------------*/
div#content { width:980px; margin:0 auto; padding:0px; background:#ffffff  repeat-y ; }
div#content div.main { padding:20px; clear:both;  padding-top:5px;  }

div#content div.main h2 {  line-height:45px;height:55px;   font-family:"Microsoft YaHei",微软雅黑,Verdana, Arial, Helvetica, sans-serif; font-size:25px; font-weight:bold;border-bottom:2px #cccccc solid;}


div#content div.main div.top {border-top:1px #d8d5d5 solid; height:8px; background:#ffffff;}
div#content div.main div.center{ padding:5px; }
div#content div.main div.bottom { border-bottom:1px #d8d5d5 solid;  height:8px; }
/* -----------------*/
 
div.maincontent { margin-top:40px; clear:both;}
div.maincontent fieldset{ border:1px #cccccc solid;padding:10px;margin-bottom:10px;display:block; font-family:Verdana, Arial, Helvetica, sans-serif;line-height:28px; text-align:left; background:#ffffff; }
div.maincontent fieldset legend { padding:0;margin:0;line-height:28px;  }
div.maincontent fieldset legend h4 { font-size:20px; }
div.maincontent fieldset ul { margin:0;padding:0;}

div.maincontent2 { margin-top:40px; clear:both;}
div.maincontent2 fieldset{ border:1px #ce000d solid;padding:10px;margin-bottom:10px;display:block; font-family:Verdana, Arial, Helvetica, sans-serif;line-height:28px; text-align:left; background:#ffffff; }
div.maincontent2 fieldset legend { padding:0;margin:0;line-height:28px; }
div.maincontent2 fieldset legend h4 { font-size:20px; }
div.maincontent2 fieldset ul { margin:0;padding:0;}


fieldset div.pLink { width:530px;float:left; }
fieldset div.pIntro { width:350px;float:left; border-left:1px #cccccc dashed; padding-left:15px;}

ul.demo { height:50px; }
ul.demo li { height:49px;line-height:49px;width:160px;float:left;text-align:center;font-size:12px;font-weight:bold; margin-right:15px; }
ul.demo li a.demo,ul.demo li a.demo:link,ul.demo li a.demo:visited{ background:#4ca722 url(btn04_demo.gif) no-repeat top center; color:#ffffff; display:block; text-decoration:none; }
ul.demo li a.demo:hover { background:#4ca722 url(btn04_demo.gif) no-repeat bottom center; text-decoration:none; }

ul.demo li a.down,ul.demo li a.down:link,ul.down li a.down:visited{ background:#4ca722 url(btn04_down.gif) no-repeat top center; color:#ffffff; display:block; text-decoration:none; }
ul.demo li a.down:hover { background:#4ca722 url(btn04_down.gif) no-repeat bottom center; text-decoration:none; }

ul.intro { margin-top:15px; height:50px;  }
ul.intro li { line-height:30px;height:30px;}
ul.intro li strong { display:block; float:left;width:230px; font-size:14px; font-weight:bold; line-height:28px; background:#efefef; text-align:center;}
ul.intro li span.info { display:block; float:left; width:220px;   font-size:14px; line-height:28px; padding-left:15px; }
 

/* ---- mylist ---- */
div.mylist { width:940px;margin:0 auto; padding-top:20px; height:345px; height:310px; clear:both;border-top:0px #efefef solid;} 
div.mylist div.order { width:340px;  float:left; }
div.mylist div.intro { width:580px; float:left; margin-left:10px;}

/* myintro */
div.myintro {  width:940px;margin:0 auto; padding-top:10px;  clear:both;border-top:0px #efefef solid; line-height:28px;font-size:14px; }
div.myintro div.navguide { line-height:30px; height:30px; border-bottom:1px #cccccc solid; background:#efefef;padding-left:10px; }
div.myintro div.intros { padding:0 20px; padding-top:20px;  }
/* order */
a.p286x190 img { width:286px;height:190px; }  /* CuProList pic */
a.p286x190 { border:1px #dadada solid; padding:1px;display:block; width:286px; margin:0 auto; background:white;}
a.p286x190:hover{ border:1px #eb6100 solid; } 
p a.p286x190 {position:relative;} /* Pic new */
p a.p286x190 img.new{ width:98px;height:90px ;position:absolute;left:-3px;top:-3px; z-index:90;}

div.mylist div.order p.title { line-height:28px;height:28px; text-align:center;}
div.mylist div.order dl { clear:both ;border:1px #e5d4a0 solid; background:#fcf9cc; margin-top:20px; width:290px; margin-left:25px;}
div.mylist div.order dl dt { font-size:24px; font-family:Arial,Tahoma, Geneva, sans-serif, Helvetica, sans-serif; font-weight:bold; padding:0 20px; padding-top:10px; color:#ed6c00; }
div.mylist div.order dl dd.price { padding:0 20px; height:24px;line-height:24px; color:#999999;}
div.mylist div.order dl dd.price span.old { text-decoration:line-through;}
div.mylist div.order dl dd.buy { padding:0 16px; height:50px;line-height:50px; }
div.mylist div.order dl dd.other { padding:0 20px; height:36px;line-height:36px; }
div.mylist div.order dl dd.tip { padding:0 20px; line-height:22px; color:#999999; }

div.mylist div.order dl dd.buy a,div.mylist div.order dl dd.buy a:link,div.mylist div.order dl dd.buy a:visited { background:url(btn003.gif) no-repeat center top; display:block; width:140px; height:49px;line-height:49px; font-size:14px; font-weight:bold; color:#ffffff; text-align:center; text-decoration:none; float:left;margin-right:10px;padding-left:40px;}
div.mylist div.order dl dd.buy a:hover { background:url(btn003.gif) no-repeat center bottom; }
div.mylist div.order dl dd.other a,div.mylist div.order dl dd.other a:link,div.mylist div.order dl dd.other a:visited { color:#704628; }

div.mylist div.order dl dd.buy a.down,div.mylist div.order dl dd.buy a.down:link,div.mylist div.order dl dd.buy a.down:visited { background:url(btn03.gif) no-repeat center top; display:block; width:140px; height:49px;line-height:49px; font-size:14px; font-weight:bold; color:#ffffff; text-align:center; text-decoration:none; float:left;margin-right:10px;padding-left:40px; }
div.mylist div.order dl dd.buy a.down:hover { background:url(btn03.gif) no-repeat center bottom; }

/* intro */
div.mylist div.intro h1 { height:35px;line-height:35px;background:url(tit_bg.gif) no-repeat center bottom; font-size:20px;}
div.mylist div.intro p { margin-top:20px;line-height:22px; font-size:12px;}
div.mylist div.intro p.demo { border-top:1px #cccccc dashed; }
div.mylist div.intro div.clearboth { height:10px;clear:both; }
div.mylist div.intro div.more { clear:both; border-top:1px #999999 dashed; margin-top:5px;}
/* code */
div#code { background:#ffffff;}
div#code fieldset{ border:0px #cccccc solid;padding:20px;margin-bottom:10px;display:block; font-family:Verdana, Arial, Helvetica, sans-serif;line-height:28px; text-align:left; background:#ffffff;}

p.code {	padding: 10px;	line-height: 160%;	background: #f1fbd6 repeat scroll 0% 0% ;	border: 1px dashed rgb(124, 175, 0);  font-size:12px;}

/*带subnameH1*/
div.mylist div.intro h1.tit { line-height:30px;height:30px;overflow:hidden; }
div.mylist div.intro p.subname{line-height:20px;height:20px;overflow:hidden;padding:0;margin:0;color:#999999; }

div.mylist div.intro div.more a.sitebtn,div.mylist div.intro div.more a.sitebtn:link { background:url(ico_more.gif) no-repeat left center; display:block; width:140px; height:49px;line-height:49px; font-size:14px; font-weight:bold; color:#e24d0f; text-align:center; text-decoration:none;padding-left:20px;float:right; }
div.mylist div.intro div.more a.sitebtn:hover { text-decoration:underline;}

div.btnlist {  margin-top:5px; padding-top:10px; height:50px;}
div.btnlist a,div.btnlist a:link,div.btnlist a:visited{ background:url(btn04.gif) no-repeat center top; display:block; width:140px; height:49px;line-height:49px; font-size:14px; font-weight:bold; color:#ffffff; text-align:center; text-decoration:none; float:left;margin-right:5px;  }
div.btnlist a:hover { background:url(btn04.gif) no-repeat center bottom;}

div.btnlist a.b1,div.btnlist a.b1:link,div.btnlist a.b1:visited{ background:url(btn042.gif) no-repeat center top; display:block; width:140px; height:49px;line-height:49px; font-size:14px; font-weight:bold; color:#ffffff; text-align:center; text-decoration:none; float:left;margin-right:5px;  }
div.btnlist a.b1:hover { background:url(btn042.gif) no-repeat center bottom;}
div.btnlist a.b2,div.btnlist a.b2:link,div.btnlist a.b2:visited{ background:url(btn043.gif) no-repeat center top; display:block; width:140px; height:49px;line-height:49px; font-size:14px; font-weight:bold; color:#ffffff; text-align:center; text-decoration:none; float:left;margin-right:5px;  }
div.btnlist a.b2:hover { background:url(btn043.gif) no-repeat center bottom;}


/*dl 4列*/
div.mylist div.intro dl { width:142px;float:left; line-height:26px; margin-top:20px; border-top:1px #999999 dashed; padding-top:10px;}
div.mylist div.intro dl dt { font-weight:bold; border-bottom:1px #efefef solid;}
div.mylist div.intro dl dd { padding-left:20px; background:url(ico_demo.gif) no-repeat left center; line-height:26px;height:26px;}
/*dl 1列*/
div.mylist div.intro dl.b2 { width:570px;float:left; line-height:26px; margin-top:20px; border-top:1px #999999 dashed; padding-top:10px;}
div.mylist div.intro dl.b2 dt { font-weight:bold; border-bottom:1px #efefef solid;}
div.mylist div.intro dl.b2 dd { padding-left:20px; background:url(ico_demo.gif) no-repeat left center; line-height:26px;height:26px; width:140px;float:left;}


div.intros { width:980px; margin:0 auto;}

/* CuPlayer.com ━━━━━━━━━━━━━━━━━━━━━━ */

div#footer { clear:both; width:100%; margin:0 auto; margin-top:0px; background:url(footbg.gif) left top; color:#717171; font-family:Verdana, Arial, Helvetica, sans-serif,"宋体"; }
div#footer div.other{  width:960px; margin:0 auto; padding-top:10px; }
div#footer div.other ul.part{ width:168px; float:left;border-left:1px #414040 solid; padding-left:20px; }
div#footer div.other ul.part li{ background:url(arrows.gif) no-repeat left center;  line-height:24px;height:24px;overflow:hidden; padding-left:20px;}
div#footer div.other ul.part li a { color:#717171; }
div#footer div.other ul.part li.first{ background:url(arrows.gif) no-repeat left center; line-height:24px;height:24px; padding-left:20px; font-weight:bold;}
div#footer div.copyright{  clear:both; width:960px; margin:0 auto; margin-top:10px; text-align:center; height:70px;line-height:40px; border-top:1px #333333 solid;}



/* helpCenter ━━━━━━━━━━━━━━━━━━━━━━ */

div#content div.main div.helplist { width:175px;float:left; background:#fffbee; border:1px #e7d9c5 solid; margin-left:10px;} 
div#content div.main div.helplist dl.mylist { width:175px; line-height:34px;  height:auto;}
div#content div.main div.helplist dl.mylist dt{ width:175px; line-height:34px; height:34px; }
div#content div.main div.helplist dl.mylist dd{ width:175px; line-height:34px; height:34px; border-bottom:1px #e7d9c5 solid; }

div#content div.main div.helplist dl.mylist dt a,div#content div.main div.helplist dl.mylist dt a:link,div#content div.main div.helplist dl.mylist dt a:visited {  font-size:14px;font-weight:bold;height:34px; line-height:34px;border-bottom:1px #e7d9c5 solid; padding-left:10px; background:url(HelpleftBg.gif) no-repeat right center; display:block; }
div#content div.main div.helplist dl.mylist dd a,div#content div.main div.helplist dl.mylist dd a:link,div#content div.main div.helplist dl.mylist dd a:visited { height:34px; line-height:34px;display:block; padding-left:20px;}
div#content div.main div.helplist dl.mylist dt.on,div#content div.main div.helplist dl.mylist dd.on { background:#630;}
div#content div.main div.helplist dl.mylist dt.on a,div#content div.main div.helplist dl.mylist dt.on a:link,div#content div.main div.helplist dl.mylist dt.on a:visited { color:#ffffff;}
div#content div.main div.helplist dl.mylist dd.on a,div#content div.main div.helplist dl.mylist dd.on a:link,div#content div.main div.helplist dl.mylist dd.on a:visited { color:#ffffff;}

div#content div.main div.helpcontent { width:765px;float:right; margin-right:10px; }
div#content div.main div.helpcontent div.navguide { line-height:30px; height:30px; border-bottom:1px #cccccc solid; background:#efefef;padding-left:10px; }
div#content div.main div.helpcontent div.intros { padding:0 20px; padding-top:20px; line-height:28px; font-size:12px;  }



/* LastUpdate: 2013-09-07 21:44  */