body{
	background-color: #F3F3F3;
/*	font-family: 'Microsoft Yahei', '微软雅黑', '宋体', \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti;*/
	font-family: -apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
}
.x-box{
	padding: 20px 15px 15px;
	background-color: #fff;
}
.x-title{
	margin-bottom: 10px;
	font-size: 24px;
	line-height: 32px;
	font-weight:400;
}
.x-info{
	margin-bottom: 18px;
	font-size: 16px;
    color: #8c8c8c;
}
.x-info span{
	margin-right: 8px;
    margin-bottom: 10px;
}
.x-name{
	color: #607fa6;
}
.x-content{
	min-height: 100px;
	margin-bottom: 50px;
	color: #3e3e3e;
	font-size: 16px;
}
.x-content p{
	color: #3e3e3e;
	font-size: 16px;
}
.x-tool{
    overflow: hidden;
    font-size: 16px;
    padding-top: 15px;
    line-height: 32px;
    color: #8c8c8c;
}
.x-source{
    color: #607fa6;
    margin-right: 10px;
}
.x-tool span{
	margin-right: 2px;
}
.x-gzh{
	display: none;
}
.gzh-pic{
	max-width:80%;
}