.x-top{
/*    height:40%;
    overflow: hidden;*/
}
.x-site{
    position: relative;
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin: 15% 0;
}
.x-name{
    position: relative;
    display: inline-block;
    line-height:50px;
    letter-spacing:2px;
}
.x-name:before,
.x-name:after{
    position: absolute;
    content: '';
    display: block;
    height:20px;
    width:20px;
    background-repeat: no-repeat;
}
.x-name:before{
    left:-40px;
    top:-5px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA8klEQVQ4T+2U21ECQRBFz41AQyADDUEjsIhAzMAMkEjADCACJQMyUCKQDC7VW7PQ7OwWP1t+WN7PmdunH/MQI0sj8/g9oO0J8ARsJH0PddL1VRXavgXmwGuBPEr67AILaAk8ZN8FsMA+gPsEqIC2Yz98kbxV4+sCd8BdMu2jgtxySfrVgW2BWfhOQNszIFpo9S4p1i5kewU8p8UXSbHWKANzdXtJcSiVbB+Am7KxldTO8Awsbfyk6IWkt57qIjhm12oqaZ19TYW2rxoHfNWBDQFz0lNQT+LK9w/suyj80RnGI88fQu59JyleR9zXq77RP9gjPeuiFbFfxvkAAAAASUVORK5CYII=");
}
.x-name:after{
    right:-40px;
    bottom:-5px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA80lEQVQ4T+2U75EBQRBH3y+DEwEZnAyQgQyQgQxIQQRkQAZcBieDk4GNoFWvGTXGLKfKB3V1/Wmr99Wr7X8rXhxyn5l9AJ8N7r2k42+5KOwD2wbhQNIuCB9y/8JiF/9iD9NCzSxfjUvJGTcGlkmu5uq1ycAhsM7BAjcHZkm+5QdQEvoS9wJYSfIrugkz+wHa4YVfU9efr4RmlpexkDQtfN0KGCX5iSTPnYVm1gn98P7FOADdeMcJ5yfqfIzL16XCfBAV0Jf0/WBg+8DVP48m4RcwluQ9uopsAxbAPK0gL9mnuymJojW05i53M+XSRJ/Jvb/wBNx6pRUy9yEQAAAAAElFTkSuQmCC");
}
/*.x-swiper{
    width: 96%;
    margin: 0 auto;
    height: 55%;
}*/
.swiper-container {
    padding: 10px;
    width: 100%;
    height: 55%;
}
.swiper-slide {
    text-align: center;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.x-item{
    border-radius: 5px;
}
.x-cell{
    display: block;
    width:100%;
    height:100%;
    padding:15px;
    color: #212121;
}
.x-cell:active{
    color: #212121;
}
.x-cell-pic{
    width:80%;
    height:40%;
    margin:10% auto 30px;
    overflow: hidden;
}
.x-cell-pic{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.x-cell-pic img{
    max-height:100%;
    max-width: 100%;
}
.x-cell-pic .x-icon{
    display: block;
    height:100px;
    line-height:100px;
    width: 100px;
    margin:0 auto;
    font-size:60px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}
.x-tit{
    display: inline-block;
    position: relative;
    line-height:30px;
    font-size:20px;
    letter-spacing:1px;
    margin-bottom:10px;
}
.x-tit:before,
.x-tit:after{
    position: absolute;
    content: '';
    width:5px;
    height:20px;
}
.x-tit:before{
    left:-8px;
    top:2px;
    border-top:2px solid #212121;
    border-left:2px solid #212121;
}
.x-tit:after{
    right:-8px;
    bottom: 2px;
    border-bottom:2px solid #212121;
    border-right:2px solid #212121;
}
.x-des{
    line-height:22px;
    font-size:13px;
    color: #898E91;
    letter-spacing:1px;
}

.x-cell-ft{
    position: absolute;
    width:100px;
    height:30px;
    line-height:30px;
    bottom:10px;
    left:50%;
    margin-left:-50px;
    background-color: #eaf7f5;
    color: #4fb7a9;
    border-radius: 15px;
    border:1px solid #60bfb2;

}


















