/**/
a:hover,
a:active,
a:visited{
	text-decoration: none;
}
body{
	background-color: #F8F8F8;
}

.x-box{
}

.x-item{
	position: relative;
	border-bottom: 1px solid #f6f6f6;
	overflow: hidden;
	margin: 0 15px 12px;
}
.x-img{
	height:130px;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	margin-left: 0;
	background-color: #F4F7F9;
	position: relative;
	color: #fff;
}
.x-img img{
	height: auto;
	width: 100%;
	vertical-align: middle;
}
.x-num{
	display: block;
	position: absolute;
	bottom:10px;
	left:10px;
	height:40px;
	line-height:40px;
	font-size:30px;
	text-align: center;
	width:40px;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	color: #fff;
}
.x-num:before{
	content: 'TOP';
	display: block;
	position: absolute;
	top:-20px;
	left:0;
	right:0;
	line-height: 20px;
	text-align: center;
	font-size:12px;
}
.x-click{
	position: absolute;
	display: block;
	bottom:10px;
	right:10px;
	height:24px;
	line-height:24px;
	width:60px;
}
.x-click i{
	color: red;
}
.x-txt{
	padding: 12px;
	box-sizing: border-box;
	border:1px solid #F3F3F3;
	border-top:0px;
	background-color: #fff;
	position: relative;
}
.x-txt .tit{
	color: #000;
	font-size: 16px;
	line-height: 30px;
	height:30px;
	overflow: hidden;
	margin-right:70px;
}
.x-txt .des{
	color: #858585;
	font-size:12px;
	height:24px;
	line-height:24px;
	margin-right:70px;
	overflow: hidden;
}
.x-txt .time{
	position: absolute;
	right:15px;
	top: 15px;
	color: #9b9b9b;
	height:30px;
	line-height:30px;
}
/*first*/
.x-item-0{
	margin:0 0 15px 0;
}
.x-item-0 .x-img{
	height:230px;
}
.x-item-0 .x-img img{
	height:100%;
}
.x-item-0 .x-txt{
	background:none;
	position: absolute;
	bottom:0;
	left:60px;
	right:50px;
	border:none;
	color: #fff;
	padding:10px;
}
.x-item-0 .x-txt .time{
	display: none;
}
.x-item-0 .x-txt .tit,
.x-item-0 .x-txt .des,
.x-item-0 .x-txt .time{
	color: #fff;
}
.x-item-0 .x-txt .tit{
	margin-right:0;
}

/*top*/
.x-top{
	position: relative;
	height: 40px;
	line-height: 40px;
	color: #fff;
	background: #343434;
	border-bottom: 2px solid #e94e45;;
}
.x-bn{
	width: 40px;
	text-align: center;
	padding: 0 10px;
	line-height: 40px;
}
.x-top .x-i{
	color: #fff;
	font-size: 20px;
}
.x-top .title{
	text-align: center;
	
}
.x-menu{
	position:absolute; 
	top:45px;
	background-color: #3e98f0 ;
	z-index:9999; 
	right:5px;
	padding: 0 15px;
}
.x-menu li.fa-caret-up{
	font-size:20px;
	color:#3e98f0;
	position:absolute;
	top:-11px;
	right:16px;
}
.x-menu li>a{
	display:block; 
	padding:0 10px; 
	min-width:100px; 
	height:35px; 
	line-height:35px; 
	font-size:12px; 
	color:#FFF; 
	text-decoration:none; 
	border-top:1px #EEE solid;
}

