{template "wx_js"}
<script type="text/javascript">
    $(function(){
        var $tooltips = $('.js_tooltips');
        $('#showTooltips').on('click', function(){
            if ($tooltips.css('display') != 'none') return;
            $('.page.cell').removeClass('slideIn');
            $tooltips.css('display', 'block');
            setTimeout(function () {
                $tooltips.css('display', 'none');
            }, 2000);
        });
    });
</script>
<script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
</body>
</html>