{template 'common/header'}
<ul class="nav nav-tabs">
    <li><a href="{php echo $this->createWebUrl('takeout', array('foo'=>'list'));}">商铺列表</a></li>
    <li><a href="{php echo $this->createWebUrl('menu', array('foo'=>'index', 'merchant_id'=>$merchant_id));}">商品类别列表</a></li>
    <li><a href="{php echo $this->createWebUrl('menu', array('foo'=>'curry', 'merchant_id'=>$merchant_id, 'id'=>$id));}">商品列表</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('menu', array('foo'=>'curryadd', 'merchant_id'=>$merchant_id, 'id'=>$id));}">添加商品</a></li>
</ul>

<div class="clearfix">
	<ul class="nav nav-tabs">
    	<li class="active"><a href="">商铺名称：{php echo $this->getMerchantInfo($merchant_id, 'merchant_name')}</a></li>
	</ul>
	
    <form id="theform" class="form form-horizontal" action="{php echo $this->createWebUrl('menu', array('foo'=>'curryaddok'));}" method="post">
    <input type="hidden" name="id" value="{$id}" /> 
    <input type="hidden" name="c_id" value="{$item[id]}" />	
        <div class="panel panel-default">
            <div class="panel-heading">
        {if $id == ''}        
                添加商品
        {else}
                修改商品
        {/if}
            </div>
            <div class="panel-body">
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">所属商铺</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" value="{php echo $this->getMerchantInfo($merchant_id, 'merchant_name')}" class="form-control" readonly>
                        <input type="hidden" name="merchant_id" id="merchant_id" value="{$merchant_id}" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">所属商品类别</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" value="{php echo $this->getMenuInfo($id, 'menu_name')}" class="form-control" readonly>
                        <input type="hidden" name="menu_id" id="menu_id" value="{$id}" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品名称</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="curry_name" id="curry_name" value="{$item[curry_name]}" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品条形码</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="barcode_number" id="barcode_number" value="{$item[barcode_number]}" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">封面图片</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_image('pic',$item['pic']);}
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">价格</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="price" id="price" value="{$item[price]}" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">排序参数</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="top" id="top" value="{$item[top]}" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">销量总数</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="allsum" id="allsum" value="{$item[sllsum]}" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">赞数</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="zan" id="zan" value="{$item[zan]}" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品描述</label>
                    <div class="col-sm-9 col-xs-12">
                        <textarea name="remark" id="remark" class="form-control">{$item[remark]}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品图片</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_multi_image('images', unserialize($item['images']));}
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否显示</label>
                    <div class="col-sm-9 col-xs-12">
                    	<div>
                            <label class="radio-inline">
                                <input type="radio" name="stop" value="1" checked >是
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="stop" value="0" >否
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-md-2 col-lg-1">
                        <input name="submit" type="submit" value="保存" class="btn btn-primary btn-block" />
                        <input type="hidden" name="token" value="{$_W['token']}" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{template 'common/footer'}