{template 'common/header'}
<ul class="nav nav-tabs">
    <li><a href="{php echo $this->createWebUrl('takeout', array('foo'=>'list'));}">商铺列表</a></li>
    <li><a href="{php echo $this->createWebUrl('menu', array('foo'=>'index', 'merchant_id'=>$merchant_id));}">商品类别列表</a></li>
    <li><a href="{php echo $this->createWebUrl('menu', array('foo'=>'add', 'merchant_id'=>$merchant_id));}">添加商品类别</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('menu', array('foo'=>'curry', 'merchant_id'=>$merchant_id, 'id'=>$id));}">商品列表</a></li>
    <li><a href="{php echo $this->createWebUrl('menu', array('foo'=>'curryadd', 'merchant_id'=>$merchant_id, 'id'=>$id));}">添加商品</a></li>
</ul>

<div class="clearfix">
	<ul class="nav nav-tabs">
    	<li class="active"><a href="">商铺名称：{php echo $this->getMerchantInfo($merchant_id, 'merchant_name')}[{php echo $this->getMenuInfo($id, 'menu_name')}]</a></li>
	</ul>
	
	<div class="panel panel-default">
    	<div class="panel-heading">
                商品列表
        </div>
        {if $list[0]['id'] == ''}
        <div class="uinn">暂无数据</div>
        {else}
        <div class="table-responsive panel-body" style="overflow:visible;">
            <table class="table table-hover">
            	<thead>
                	<tr class="active">
                    	<!--<td>商铺名称</td>-->
                        <td>商品名称</td>
                        <td>价格</td>
                        <td>总销量数</td>
                        <td>赞数</td>
                        <td>排序参数</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                	{loop $list $val}
                	<tr>
                		<!--
                    	<td>
                        	<p class="form-control-static">{php echo $this->getMerchantInfo($val['merchant_id'], 'merchant_name')}</p>
                        </td>
                       -->
                        <td>
                        	<p class="form-control-static">{$val[curry_name]}</p>
                        </td>
                        <td>
                        	<p class="form-control-static">{$val[price]}</p>
                        </td>
                        <td>
                            <p class="form-control-static">{$val[allsum]}</p>
                        </td>
                        <td>
                            <p class="form-control-static">{$val[zan]}</p>
                        </td>
                        <td>
                        	<p class="form-control-static">{$val[top]}</p>
                        </td>
                        <td style="overflow:visible;">
                        	<div class="btn-group btn-group-sm">
                                <a class="btn btn-default" href="{php echo $this->createWebUrl('menu', array('foo'=>'curryadd', 'c_id'=>$val['id'], 'merchant_id'=>$merchant_id, 'id'=>$id));}"><i class="fa fa-edit"></i> 编辑</a>
                                <a class="btn btn-default" href="{php echo $this->createWebUrl('menu', array('foo'=>'delete', 'c_id'=>$val['id'], 'merchant_id'=>$merchant_id, 'id'=>$id))}" onClick="return confirm('确认删除?');"><i class="fa fa-remove"></i> 删除</a>
                            </div>
                        </td>
                    </tr>
                    {/loop}
                    
                </tbody>
            </table>
        </div>
        {/if}
        
        <div class="panel-body text-center">
            {$pager}
        </div>
        
        <div class="panel-footer">
			<a class="btn btn-default" href="{php echo $this->createWebUrl('menu', array('foo'=>'curryadd', 'merchant_id'=>$merchant_id, 'id'=>$id));}">新增菜单</a>
        </div>
        
    </div>
</div>

{template 'common/footer'}