{template 'common/header'}
<ul class="nav nav-tabs">
    <li><a href="{php echo $this->createWebUrl('takeout', array('foo'=>'list'));}">商铺列表</a></li>
    <li class="active"><a href="">修改商铺</a></li>
    <!--
    <li><a href="{php echo $this->createWebUrl('takeout', array('foo'=>'lido'));}">商圈列表</a></li>
    <li><a href="{php echo $this->createWebUrl('takeout', array('foo'=>'lidoadd'));}">添加商圈</a></li>
    <li><a href="{php echo $this->createWebUrl('takeout', array('foo'=>'type'));}">品类列表</a></li>
    <li><a href="{php echo $this->createWebUrl('takeout', array('foo'=>'typeadd'));}">添加品类</a></li>
    -->
</ul>

<div class="clearfix">    
    <form id="theform" class="form form-horizontal" action="{php echo $this->createWebUrl('takeout', array('foo'=>'addok'));}" method="post">
    <input type="hidden" name="id" value="{$item[id]}" />
    <div class="panel panel-default">
            <div class="panel-heading">
                编辑商铺
            </div>
            <div class="panel-body">
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商铺名称</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="merchant_name" id="merchant_name" value="{$item[merchant_name]}" class="form-control">
                    </div>
                </div>

                <!--
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">验证密码</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="password" name="password" id="password" value="" placeholder="{if $item[id] != ''} 不修改不用填写 {/if}" class="form-control">
                        <span class="help-block">验证密码用于商铺在微信端进行登录验证</span>
                    </div>
                </div>
                -->
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">所属商圈</label>
                    <div class="col-sm-9 col-xs-12">
                        <select name="lido_id" id="lido_id" class="form-control  input-s-lg">
                            <option value="">选择所属商圈</option>
                            {loop $list1 $vo1}
                            <option value="{$vo1[id]}" {if $item['lido_id'] == $vo1['id']} selected {/if}>{$vo1[lido_name]}</option>
                            {/loop}
                        </select>
                        <span class="help-block">如果没有商圈，请<a href="{php echo $this->createWebUrl('takeout', array('foo'=>'lidoadd'));}">点此添加</a></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">所属类别</label>
                    <div class="col-sm-9 col-xs-12">
                        <select name="type_id" id="type_id" class="form-control  input-s-lg">
                            <option value="">选择所属类别</option>
                            {loop $list $vo}
                            <option value="{$vo[id]}" {if $item['type_id'] == $vo['id']} selected {/if}>{$vo[type_name]}</option>
                            {/loop}
                        </select>
                        <span class="help-block">如果没有所属类别，请<a href="{php echo $this->createWebUrl('takeout', array('foo'=>'typeadd'));}">点此添加</a></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商铺封面</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_image('coverpic',$item['coverpic']);}
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商铺地址</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="merchant_address" id="merchant_address" value="{$item['merchant_address']}" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">地址中心坐标</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_coordinate('location',$getLat);}
						<span class="help-block">请选择商铺地址中心坐标</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">手机号码</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="merchant_mobile" id="mobile" value="{$item[merchant_mobile]}" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">固定电话</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="merchant_phone" id="merchant_phone" value="{$item['merchant_phone']}" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">启动外链</label>
                    <div class="col-sm-9 col-xs-12">
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="chao" value="1" {if $item['chao'] == 1} checked {/if}>是
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="chao" value="0" {if $item['chao'] == 0} checked {/if}>否
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">超链地址</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="chao_url" id="chao_url" value="{$item['chao_url']}" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">配送时间</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="merchant_time" id="merchant_time" value="{$item['merchant_time']}" class="form-control">
                    </div>
                </div>
                
                <!--
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">平均配送时长</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="merchant_timelong" id="merchant_timelong" value="{$item['merchant_timelong']}" class="form-control">
                    </div>
                </div>
                -->
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">起送价格</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="merchant_price" id="merchant_price" value="{$item['merchant_price']}" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">配送费</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="merchant_song" id="merchant_song" value="{$item['merchant_song']}" class="form-control">
                        <span class="help-block">赠送活动，如果没有不用填写</span>	
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">销量总数</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="ordersum" id="ordersum" value="{$item['ordersum']}" class="form-control">
                        <span>可为空，可以自己设置销量总数</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否有宵夜</label>
                    <div class="col-sm-9 col-xs-12">
                    	<div>
                            <label class="radio-inline">
                                <input type="radio" name="night" value="1" {if $item['night'] == 1} checked {/if}>有
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="night" value="0" {if $item['night'] == 0} checked {/if}>没有
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">平台佣金方式</label>
                    <div class="col-sm-9 col-xs-12">
                        <div>
                            <input type="radio" name="gettype" value="1" onclick="check(1)" {if $item['gettype'] == 1} checked {/if}>按百分比
                            <input type="text" name="bili_bai" id="bili_bai" value="{$item['bili_bai']}" >%
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="gettype" value="2" onclick="check(2)" {if $item['gettype'] == 2} checked {/if}>按每单收费
                            <input type="text" name="bili_money" id="bili_money" value="{$item['bili_money']}" >元/单
                        </div>
                    </div>
                </div>
                
                <div id="show1">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">平台佣金峰值</label>
                        <div class="col-sm-9 col-xs-12">
                            保底：<input type="text" name="start" id="start" value="{$item['start']}" >元
                            封顶：<input type="text" name="end" id="end" value="{$item['end']}" >元
                            <span class="help-block" style="color:red;">佣金峰值只针对按百分比方式【封顶为0时，表示不封顶】</span>
                        </div> 
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否显示</label>
                    <div class="col-sm-9 col-xs-12">
                    	<div>
                            <label class="radio-inline">
                                <input type="radio" name="stop" value="1" {if $item['stop'] == 1} checked {/if} >是
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="stop" value="0" {if $item['stop'] == 0} checked {/if}>否
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-md-2 col-lg-1">
                        <input name="submit" type="submit" value="保存" class="btn btn-primary btn-block" />
                        <input type="hidden" name="token" value="{$_W['token']}" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{template 'common/footer'}