{template 'common/header'}
<ul class="nav nav-tabs">
    <li><a href="{php echo $this->createWebUrl('base', array('foo'=>'list'));}">基本参数</a></li>
    <li><a href="{php echo $this->createWebUrl('base', array('foo'=>'running'));}">运营设置</a></li>
    <li><a href="{php echo $this->createWebUrl('base', array('foo'=>'diy'));}">个性化设置</a></li>
    <li><a href="{php echo $this->createWebUrl('base', array('foo'=>'question'));}">常见问题</a></li>
    <li><a href="{php echo $this->createWebUrl('base', array('foo'=>'shuoming'));}">服务说明</a></li>
    <li><a href="{php echo $this->createWebUrl('address', array('foo'=>'index'));}">地区管理</a></li>
    <li><a href="{php echo $this->createWebUrl('lido', array('foo'=>'index'));}">商圈管理</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('type', array('foo'=>'index'));}">商铺类别</a></li>
    <li><a href="{php echo $this->createWebUrl('base', array('foo'=>'geren'));}">个人加盟协议</a></li>
    <li><a href="{php echo $this->createWebUrl('base', array('foo'=>'fuwu'));}">服务商加盟协议</a></li>
</ul>

<div class="clearfix">    
    <div class="panel panel-info">
    	<div class="panel-heading">
            商铺类别列表
        </div>
        {if $list[0]['id'] != ''}
        <div class="table-responsive panel-body" style="overflow:visible;">
            <table class="table table-hover">
            	<thead>
                	<tr class="active">
                    	<td>品类名称</td>
                        <td>平台佣金方式</td>
                        <td>佣金比例</td>
                        <td>每单收费费用</td>
                        <td>描述</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                	{loop $list $val}
                	<tr>
                    	<td>
                        	<p class="form-control-static">{$val[type_name]}</p>
                        </td>
                        <td>
                            <p class="form-control-static">
                            {if $val[gettype] == 2}
                            按单收费
                            {/if}
                            {if $val[gettype] == 1}
                            按百分比
                            {/if}
                            </p>
                        </td>
                        <td>
                            <p class="form-control-static">
                            {if $val[bili_bai]>0}
                                {$val[bili_bai]}%
                            {/if}
                            </p>
                        </td>
                        <td>
                            <p class="form-control-static">
                            {$val[bili_money]}
                            </p>
                        </td>
                        <td>
                        	<p class="form-control-static">{$val[remark]}</p>
                        </td>
                        <td style="overflow:visible;">
                        	<div class="btn-group btn-group-sm">
                                <a class="btn btn-default" href="{php echo $this->createWebUrl('type',array('foo'=>'edit', 'id'=>$val['id']));}"><i class="fa fa-edit"></i> 编辑</a>
                                <a class="btn btn-default" href="{php echo $this->createWebUrl('type', array('foo'=>'deltype', 'id'=>$val['id']))}" onClick="return confirm('确认删除吗?');"><i class="fa fa-remove"></i> 删除</a>
                            </div>
                        </td>
                    </tr>
                    {/loop}
                    
                </tbody>
            </table>
        </div>
        {/if}
        
        <div class="panel-body text-center">
            {$pager}
        </div>
        
        <div class="panel-footer">
			<a class="btn btn-default" href="{php echo $this->createWebUrl('type',array('foo'=>'add'));}">新增商铺类别</a>
        </div>
        
    </div>
</div>

{template 'common/footer'}