<!doctype html>
<html>
<head>
<title>{$cfg['sharetitle']}</title>
{template 'head'}
<script type="text/javascript">
	wx.ready(function () {
		sharedata = {
			title: "{$cfg['sharetitle']}",
			desc: "{$cfg['sharedesc']}",
			link: "{$_W['siteroot']}app/{php echo str_replace('./','',$this->createMobileUrl('index', array()))}",
			imgUrl: "{php echo tomedia($cfg['sharethumb'])}",
			type: '', // 分享类型,music、video或link，不填默认为link
			dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
			success: function(){
			},
			cancel: function(){
			}
		};
		wx.onMenuShareAppMessage(sharedata);
		wx.onMenuShareTimeline(sharedata);
		wx.onMenuShareQQ(sharedata);
		wx.onMenuShareWeibo(sharedata);
		wx.onMenuShareQZone(sharedata);
	});	
</script>
</head>
<body class="bodybg" style="background: url({RES}images/background.jpg);">
    <div id="wrapper" class="container-fluid" >
			<ul class="list-group" style="height: 30px;">
				{loop $festival_list $key $item}
				<a href="{php echo $this->createMobileUrl('language' , array('language_festivalid'=>$item['festival_id']));}" style="display: block;height: 60px;">
				  	<li class="list-group-item" style="margin-top: 6px;height: 60px; font-size: 20px;line-height: center;">
				  		<span class="badge" style="margin-top: 10px;">{$item['count']}</span>    	
				    		{$item['festival_title']}
				 	</li>
			 	</a>
				{/loop}
			</ul>
    </div>
{template 'footer-menu'}
{template 'foot-msg'}
</body>

</html>