{template 'common/header'}
<ul class="nav nav-tabs">
    <li><a href="{php echo  $this->createWebUrl('cloudprint', array('foo'=>'index'));}">打印机管理</a></li>
	<li class="active"><a href="#">修改打印机</a></li>
</ul>

<div class="clearfix">    
    <form id="theform" class="form form-horizontal" action="{php echo $this->createWebUrl('cloudprint', array('foo'=>'editok'));}" method="post">
    <input type="hidden" name="id" value="{$item['id']}">
            <div class="panel-heading">
            	云打印设置
            </div>
            <div class="panel-body">
            	<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">工人ID</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="staff_id" id="staff_id" value="{$item['staff_id']}" placeholder="" class="form-control" >
                        <span class="help_block">工人ID可在工人管理，及公司的员工列表里查看，也可直接在工人管理及公司员工列表里直接派发打印机</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">printer_sn</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="printer_sn" id="printer_sn" value="{$item['printer_sn']}" placeholder="" class="form-control">
                        <span class="help_block">打印机编号9位,查看飞鹅打印机底部贴纸上面的打印机编号</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">key</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="key_info" id="key_info" value="{$item['key_info']}" placeholder="" class="form-control">
                        <span class="help_block">去飞鹅打印机官方网站注册帐号，<a href="http://www.feieyun.com" target="_blank">点此注册</a>，添加打印机编号，自动生成KEY
</span>
                    </div>
                </div>
                
                <!--
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">ip</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="ip" id="ip" value="{$item['ip']}" class="form-control">
                        <span class="help_block">购买机器后向客服获取IP
</span>
                    </div>
                </div>
                -->
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">打印联数</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="number" id="number" value="{$item['number']}" class="form-control" value="2">
                        <span class="help_block">注意：最大打印联数为9张</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">小票内容</label>
                    <div class="col-sm-9 col-xs-12">
                    	
                        <textarea name="xiaopiao" id="xiaopiao" class="form-control" rows="6" placeholder="">{$item[xiaopiao]}</textarea>
                        
                        <span class="help_block">
                        	<textarea class="form-control" readonly>格式标签说明："<BR>"为换行符,"<CB></CB>"为居中放大,"<B></B>"为放大,"<C></C>"为居中,"<L></L>"为字体变高"<W></W>"为字体变宽,"<QR></QR>"为二维码,"<CODE>"为条形码,后面接12个数字</textarea>

                            <textarea class="form-control" readonly>实例：<CB>订单内容</CB><BR>服务项目:{order}<BR>服务时间:{ftime}<BR>服务地点：{fadr}<BR>预计费用：{fprice}<BR>联系人：{fname}<BR>联系电话：{fmobile}<BR>用户昵称：{usernick}<BR>下单时间：{ordertime}<BR>服务员工：{staffname}<BR>抢单报价：{offer}元<BR>成交价格：{suremoney}元<BR>
                            </textarea>

                             注意：可用{order}替换服务项目；{ftime}替换服务时间；{fadr}替换服务地点；{fprice}替换预计费用；{fname}替换联系人；{fmobile}替换联系电话；{usernick}替换用户昵称；{ordertime}替换下单时间；{staffname}替换服务员工；{offer}替换抢单报价；{suremoney}替换成交价格
						</span>
                    </div>
                </div> 
                
                
            </div>    
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-md-2 col-lg-1">
                        <input name="submit" type="submit" value="保存" class="btn btn-primary btn-block" />
                        <input type="hidden" name="token" value="{$_W['token']}" />
                    </div>
                </div>
            
            
        </div>
    </form>
</div>


{template 'common/footer'}