{template 'common/header'}
<html>
<style>
    body{
        background-color: #21ae3c;
    }
    .mui-content{
        background-color: #21ae3c;
    }
</style>
<body>
<header id="header" class="mui-bar mui-bar-transparent">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"style="color: white"></a>
    <h1 class="mui-title" style="color: white">微信支付</h1>
</header>
<div class="mui-content" style="height: 100%;margin-top: 20%">
    <div class="mui-card">
        <h3 style="text-align: center;margin-top:0px;margin-bottom: 0px; padding-top: 10%;padding-bottom: 10%">扫一扫付款</h3>
        <p style="text-align: center;margin-top:0px;margin-bottom: 0px; padding-top: 0px;padding-bottom: 0px"><img src="{HLMMS_MOBILE_IMG}er.png" style="margin-top:0px;margin-bottom: 0px; padding-top: 0px;padding-bottom: 0px;width: 250px;height: 250px"></p>
        <h3  style="text-align: center;margin-top:0px;margin-bottom: 0px; padding-top: 5%;padding-bottom: 10%;color: #21ae3c">哈林云会员卡</h3>
        <p style="text-align: center;margin-top:0px;margin-bottom: 0px; padding-top: 0px;padding-bottom: 5%">
            <img src="{HLMMS_MOBILE_ICOS}wxzf.png" style="height: 40px;padding-right: 5%">
        </p>
    </div>
</div>
<script>

</script>
</body>
</html>
