{template "common/header"}
<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">{$title}</h1>
</header>
<div class="mui-content">
	<div class="mui-content-padded" style="margin: 5px;">
	<form class="mui-input-group" action="{php echo $this->createMobileUrl('addAd')}" name="form_ad_post" method="post">
	<div class="mui-input-row"  style="height: 180px;">
	    {php echo cus_tpl_app_form_field_image('adtop1',$ad['adtop1'],'上传第一个顶部广告');}
	</div>
	<div class="mui-input-row"  style="height: 180px;">
	    {php echo cus_tpl_app_form_field_image('adtop2',$ad['adtop2'],'上传第二个顶部广告');}
	</div>
	<div class="mui-input-row"  style="height: 180px;">
	    {php echo cus_tpl_app_form_field_image('adbottom1',$ad['adbottom1'],'上传第一个底部广告');}
	</div>
	<div class="mui-input-row"  style="height: 180px;">
	    {php echo cus_tpl_app_form_field_image('adbottom2',$ad['adbottom2'],'上传第二个底部广告');}
	</div>
	<div class="mui-input-row">
		<label>公司名称</label>
		<input type="text" placeholder="公司名称" name="company" value="{$ad['company']}">
	</div>
	<div class="mui-input-row">
		<label>标题</label>
		<input type="text" placeholder="广告标题" name="title" value="{$ad['title']}">
	</div>
    <div class="mui-input-row" style="margin: 10px 5px;height: 120px;">
		<textarea id="textarea" rows="5" placeholder="请输入广告内容" name="content" >{$ad['content']}</textarea>
	</div>
    <div class="mui-button-row">
        <input type="submit" class="mui-btn mui-btn-blue" style="width: 100px;color: #fff;border: 1px solid #007aff;background-color: #007aff;border-radius: 3px;" value="确认" name="form_ad_post" />
        <input type="hidden" name="token" value="{$_W['token']}" />
        <input type="hidden" name="adid" value="{$ad['id']}">
    </div>
	</form>
</div>
</div>
{template "common/footer"}