{template "common/header"}
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">{$title}</h1>
</header>
<div class="mui-content">
        <ul class="mui-table-view mui-grid-view mui-grid-9">
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
            	<a href="{php echo $this->createMobileUrl('statistics')}">
                    <span class="mui-icon mui-icon-paperplane"></span>
                    <div class="mui-media-body">查看统计</div>
                </a>
            </li>
            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
            	<a href="{php echo $this->createMobileUrl('addad')}">
                    <span class="mui-icon mui-icon-compose"></span>
                    <div class="mui-media-body">发布广告</div>
                </a>
            </li>
            
        </ul> 
</div>
{template "common/footer"}