{template 'common/header'}
<div class="main">
    <ul class="nav nav-tabs">
        <li class="active" ><a href="{php echo $this->createWebUrl('ad', array('op'=>'manage'));}">广告管理</a></li>
        <li ><a href="{php echo $this->createWebUrl('ad', array('op'=>'create'));}">添加广告</a></li>
    </ul>
    <div class="panel panel-primary">
        <div class="panel-heading">广告管理</div>
        <div class="panel-body">
            <div class="table-responsive panel-body">
                <table class="table table-hover table-responsive" style="min-width: 300px;">
                    <thead class="navbar-inner">
                    <tr>
                        <th style="width:300px;">图片</th>
                        <th style="width:300px;">链接</th>
                        <th style="">排序</th>
                        <th style="">状态</th>
                        <th style="width:130px;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {loop $ads $key $item}
                    <tr>
                        <td class="text-left">
                            <img src="{php echo tomedia($item['ad_pic'])}" width="200">
                        </td>
                        <td>
                            {$item['ad_url']}
                        </td>
                        <td>
                            {$item['ad_order']}
                        </td>
                        <td>
                            {if $item['ad_state']==2}显示{else}隐藏{/if}
                        </td>
                        <td>
                            <a href="{php echo $this->createWebUrl('ad', array('op'=>'modify', 'id'=>$item['ad_id']));}" class="btn btn-primary">编辑</a>
                            <a onclick="if(!confirm('删除后将不可恢复,确定删除吗?')) return false;" href="{php echo $this->createWebUrl('ad', array('op'=>'delete','id'=>$item['ad_id']));}" class="btn btn-danger">删除</a>
                        </td>
                    </tr>
                    {/loop}
                    {if !empty($ads)}
                    <tr>
                        <td colspan="5">
                            <!--<input name="submit" type="submit" value="保存" class="btn btn-primary" />-->
                        </td>
                    </tr>
                    {else}
                    <tr>
                        <td colspan="5">
                            尚未添加广告图片
                        </td>
                    </tr>
                    {/if}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{template 'common/footer'}