{template 'common/header'}
<style>
    .red_color {
        color: red;
    }
</style>
<div class="main">
    <ul class="nav nav-tabs">
        <li ><a href="{php echo $this->createWebUrl('show', array('op'=>'show_display'));}">作品管理</a></li>
        <li  class="active"><a href="{php echo $this->createWebUrl('show', array('op'=>'type_display'));}">作品分类</a></li>
        <li style="float: right"><a class="btn btn-info" href="{php echo $this->createWebUrl('show', array('op'=>'type_create'));}">添加作品分类</a></li>
    </ul>
    <form action="{php echo $this->createWebUrl('show', array('op'=>'type_create'))}" method="post" class="form-horizontal form" id="show_form">
        <div class="panel panel-primary" style="margin-bottom:0px;">
            <div class="panel-heading">{if $op == 'show_create'}添加作品{else if $op == 'show_modify'}编辑作品{/if}</div>
            <div class="panel-body">
                <div class="form-group" hidden>
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2  control-label">ID</label>
                    <div class=" col-xs-12 col-sm-7 col-md-8 col-lg-8">
                        <input type="text" name="showtype[showtype_id]"  class="form-control" value="{$showtype['showtype_id']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span class="red_color">*</span>排序</label>
                    <div class=" col-xs-12 col-sm-7 col-md-8 col-lg-8">
                        <input type="text" name="showtype[showtype_order]"  class="form-control" value="{$showtype['showtype_order']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span class="red_color">*</span>分类名</label>
                    <div class=" col-xs-12 col-sm-7 col-md-8 col-lg-8">
                        <input type="text" name="showtype[showtype_title]"  class="form-control" value="{$showtype['showtype_title']}" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
                        <input name="submit" type="submit" value="提交" class="btn btn-primary" style="width:150px;"/>
                        <input type="hidden" name="token" value="{$_W['token']}" />
                        <!-- <input type="hidden" id="templet_level_y" value="{$templet['templet_level']}" /> -->
                    </div>
                </div>
            </div>

        </div>

    </form>
</div>
<script>
    require(['jquery', 'util'], function($, util){
        $(function(){

            $('#show_form').submit(function(){


                if($('input[name="showtype[showtype_order]"]').val() == ''){
                    util.message('未填写排序.');
                    return false;
                }

                if($('input[name="showtype[showtype_name]"]').val() == ''){
                    util.message('未填写分类名.');
                    return false;
                }


                return true;
            });
        });
    });
</script>
{template 'common/footer'}
