{template 'common/header'}
<div class="main">
    <ul class="nav nav-tabs">
        <li ><a href="{php echo $this->createWebUrl('system', array('op'=>'base'));}">基础设置</a></li>
        <li ><a href="{php echo $this->createWebUrl('system', array('op'=>'pay'));}">微信支付</a></li>
        <li ><a href="{php echo $this->createWebUrl('system', array('op'=>'message'));}">短信接口</a></li>
        <li class="active"><a href="{php echo $this->createWebUrl('system', array('op'=>'template'));}">模板消息设置</a></li>
        <li ><a href="{php echo $this->createWebUrl('system', array('op'=>'notice'));}">通知方式</a></li>
        <li><a href="{php echo $this->createWebUrl('system', array('op'=>'business'));}">商家入驻</a></li>
    </ul>
    <form action="" method="post" class="form-horizontal form" id="templetform">
        <div class="panel panel-primary" style="margin-bottom:0px;">
            <div class="panel-heading">预约模板消息</div>
            <div class="panel-body">
                <div class="alert alert-info" role="alert" style="height: 150px">
                    <p><span style="font-size: 20px; font-weight: bold">注意 :</span></p>
                    <p style="height: 25px; line-height: 25px">请将公众平台模板消息所在行业选择为:<span style="font-weight: bold">主营:IT科技/互联网|电子商务 副营:其他|其他</span></p>
                    <p style="height: 25px; line-height: 25px">模板库搜索:标题为 预约提醒 编号为 OPENTM207716353  设置后填写此模板的模板ID 如不一致可能导致模板消息不一致</p>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">模板ID</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="tpl[tpl_id]"  class="form-control" value="{$tpl['tpl_id']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">模板头部提醒设置:</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="tpl[tpl_first]"  class="form-control" value="{$tpl['tpl_first']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">模板尾部提醒设置:</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="tpl[tpl_remark]"  class="form-control" value="{$tpl['tpl_remark']}" />
                    </div>
                </div>
            </div>
            <div class="panel-heading">员工点评模板消息</div>
            <div class="panel-body">
                <div class="alert alert-info" role="alert" style="height: 150px">
                    <p><span style="font-size: 20px; font-weight: bold">注意 :</span></p>
                    <p style="height: 25px; line-height: 25px">模板库搜索:标题为 客户评价通知 编号为 OPENTM204568421  设置后填写此模板的模板ID 如不一致可能导致模板消息不一致</p>
                    <p>样例和参数保持一致即可:</p>
                    <p>first.DATA
                        客户姓名：keyword1.DATA
                        客户电话：keyword2.DATA
                        服务时间：keyword3.DATA
                        服务人员：keyword4.DATA
                        评价：keyword5.DATA
                        remark.DATA</p>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">模板ID</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="tpl[tpl2_id]"  class="form-control" value="{$tpl['tpl2_id']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">模板头部提醒设置:</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="tpl[tpl2_first]"  class="form-control" value="{$tpl['tpl2_first']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">模板尾部提醒设置:</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="tpl[tpl_remark]"  class="form-control" value="{$tpl['tpl2_remark']}" />
                    </div>
                </div>
            </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
                        <input name="submit" type="submit" value="提交" class="btn btn-primary" style="width:150px;"/>
                        <input type="hidden" name="token" value="{$_W['token']}" />
                        <!-- <input type="hidden" id="templet_level_y" value="{$templet['templet_level']}" /> -->
                    </div>
                </div>


        </div>

    </form>
</div>
{template 'common/footer'}
