<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>登录 - {php echo $lyp_other['title']}</title>
		<link rel="shortcut icon" href="{media $lyp_other['favicon']}" />
		<link rel="stylesheet" type="text/css" href="{MODULE_URL}resource/css/login_register/style-concise.css">
	</head>
	<body>
		<div class="logo" style="position:absolute;top:20px;left: 25px;width:110px;height:35px;"><img src="{php echo tomedia($home['logo'])}" alt="noimg" width="110px" height="35px"></div>
		<div style="position:absolute;top:20px;right: 25px;"><a href="{$_W['siteroot']}" style="color:white;font-size:16px;">首 页</a></div>
		<div class="tyg-div">
			<ul>
				<li>让</li>
				<li><div style="margin-left:20px;">数</div></li>
				<li><div style="margin-left:40px;">据</div></li>
				<li><div style="margin-left:60px;">改</div></li>
				<li><div style="margin-left:80px;">变</div></li>
				<li><div style="margin-left:100px;">生</div></li>
				<li><div style="margin-left:120px;">活</div></li>
			</ul>
		</div> 
		<div id="contPar" class="contPar">
			<div id="page1"  style="z-index:1;">
				<div class="title0">{$setting['copyright']['sitename']}</div>
				<div class="imgGroug">
					<ul>
						<img class="img0 png" src="{MODULE_URL}resource/images/login_register/page1_0.png">
						<img class="img1 png" src="{MODULE_URL}resource/images/login_register/page1_1.png">
						<img class="img2 png" src="{MODULE_URL}resource/images/login_register/page1_2.png">
					</ul>
				</div>
				<img class="img3 png" src="{MODULE_URL}resource/images/login_register/page1_3.jpg">
			</div>
		</div>
		<div class="tyg-div-denglv">
			<div class="tyg-div-form">
				<form action="{php echo $this->createWebUrl('login', array('direct' => 1, 'module_type' => 'system_welcome'))}" method="post">
					<h2>登录</h2><p class="tyg-p">欢迎访问</p>
					<input type="text" name="username" placeholder="请输入用户名登录" style="width:100%;height:30px;margin-top:10px">
					<input type="password" name="password" placeholder="请输入登录密码" style="width:100%;height:30px;margin-top:10px">
					{if !empty($_W['setting']['copyright']['verifycode'])}
					<div style="height:60px;display:block">
						<input name="verify" type="text" placeholder="请输入验证码" style="width:100%;height:38px;margin-top:10px">
						<a href="javascript:;" id="toggle" style="position:relative;top:-41px;right:-134px;"><img id="imgverify" src="{php echo url('utility/code')}" title="点击图片更换验证码"></a>
					</div>
					{/if}
					<div style="display:block;width:100%;height: 40px">
						<div class="checkbox">
							<input type="checkbox" value="true" id="rember" name="rember">
							<label for="rember" style="margin-top:5px">记住用户名</label>
						</div>
						<a href="{url 'user/find-password'}" target="_blank" style="float:right;margin-top:-17px;color: #2ec0f6">忘记密码？</a>
					</div>
					<input type="submit" name="submit" value="登 录" class="submit">
					<input name="token" value="{$_W['token']}" type="hidden">
				</form>
				{if !$_W['siteclose'] && !empty($setting['register']['open'])}
					<div style="height:30px">
						<a href="{php echo $register_url}" style="float:right;height:20px;margin-right:20px;color: #2ec0f6">立即注册</a>
					</div>
				{/if}
				{if !empty($setting['thirdlogin']['qq']['authstate']) || !empty($setting['thirdlogin']['wechat']['authstate'])}
				<div class="social-icons" style="width:100%;text-align: center;">
					<p>- 使用第三方账号登录 -</p>
					<ul style="padding:10px">
						{if !empty($setting['thirdlogin']['qq']['authstate'])}<a href="{$login_urls['qq']}"><img src="./resource/images/qqlogin.png" width="35px"></a>&nbsp;&nbsp;{/if}
						{if !empty($setting['thirdlogin']['wechat']['authstate'])}<a href="{$login_urls['wechat']}"><img src="./resource/images/wxlogin.png" width="35px"></a>{/if}
					</ul>
				</div>
				{/if}
			</div>
		</div>

		<script type="text/javascript" src="{MODULE_URL}resource/js/login_register/jquery-1.8.0.min.js"></script>
		<script type="text/javascript" src="{MODULE_URL}resource/js/login_register/login-soncise.js"></script>
	</body>
<script>
$('#toggle').click(function() {
	$('#imgverify').prop('src', '{php echo url('utility/code')}r='+Math.round(new Date().getTime()));
	return false;
});
</script>
</html>