/**  顶部代码  **/
header {
	z-index:1060;
	height:45px;
	background-color:#46CEC0;
	-webkit-box-shadow:0 1px 1px rgba(98,98,98,.3);
	box-shadow:0 1px 1px rgba(98,98,98,.3)
}
header h1 {
	margin-left:8px;
	font-size:18px;
	font-weight:600;
	line-height:44px;
    padding:0 20px;
	color:#fff;
	text-align:center;
	text-shadow:0 1px 1px rgba(0,0,0,.25)
}
header h1:not(.pull-left) {
	position:absolute;
	left:52%;
	margin-left:0;
	-webkit-transform:translate(-60%,0);
	-o-transform:translate(-60%,0);
	transform:translate(-60%,0)
}
header h1:not(.pull-left):after {
	margin-top:-2px
}
header h1:after {
	margin-left:3px;
	vertical-align:middle;
	content:'';
	-webkit-transition:.2s;
	-o-transition:.2s;
	transition:.2s
}
header .sign {
	float:right;
	margin-right:14px
}
header .sign a {
	margin-left:9px;
	color:#fff
}
header .navbar-left>*,header .navbar-right>* {
	display:table-cell;
	height:45px;
	padding-right:10px;
	padding-left:10px;
	vertical-align:middle
}
header .navbar-left>*>*,header .navbar-right>*>* {
	vertical-align:middle
}
header .navbar-left>:active,header .navbar-right>:active {
	background:#539b45
}
header .navbar-left {
	float:left
}
header .navbar-right {
	float:right
}
header .navbar-right b {
	width:1px;
	padding:0;
	background:#4a893d;
	-webkit-transform:scaleY(.5);
	-o-transform:scaleY(.5);
	transform:scaleY(.5)
}
header .btn {
	float:right;
	padding:5px 6px;
	margin-top:7px;
	margin-right:5px;
	border-color:#4a893d;
	-webkit-box-shadow:inset 0 1px 1px rgba(255,255,255,.3),0 1px 1px rgba(255,255,255,.3);
	box-shadow:inset 0 1px 1px rgba(255,255,255,.3),0 1px 1px rgba(255,255,255,.3)
}
header .btn:active {
	background:#4f9e3f;
	-webkit-box-shadow:inset 0 1px 0 rgba(0,0,0,.1),0 1px 1px rgba(255,255,255,.25);
	box-shadow:inset 0 1px 0 rgba(0,0,0,.1),0 1px 1px rgba(255,255,255,.25)
}
.icon-back {
    width:25px;
    height:25px;
    display:inline-block;
    background-image: url(../images/back.png);
    -webkit-background-size:25px 25px;
    background-size:25px 25px;
}
.icon-my {
    width:25px;
    height:25px;
    display:inline-block;
    background-image: url(../images/ren2.png);
    -webkit-background-size:25px 25px;
    background-size:25px 25px;
}
/**  WAP个人主页  **/
.userpage {
    text-align:center;
    padding:50px 0 0;
    position: relative;
}
.userpage .face img {
    width:90px;
    height:90px;
    border-radius:50%;
}
.userpage .name {
    font-size:18px;
    color:#444444;
    margin:10px 0;
}
.userpage .from {
    font-size:14px;
    color:#444444;
}
.userpage .intro {
    font-size:14px;
    color:#A3A2A2;
    margin:10px 0 50px;
    padding:0 50px;
}
.userpage .button {
    padding:50p 55px;
}
.userpage .button a {
    width:200px;
    height:50px;
    line-height:50px;
    background:#46CEC0;
    font-size:16px;
    color:#FFF;
    display:inline-block;
    border-radius:4px;
}

/**  我  **/
.mypage {
    text-align:center;
    padding:25px 0 0;
    position: relative;
}
.mypage .face img {
    width:60px;
    height:60px;
    border-radius:50%;
}
.mypage .name {
    font-size:19px;
    color:#444444;
    margin:10px 0;
}
.mypage .coin {
    font-size:14px;
    color:#E3C213;
    margin:10px 0;
}
.mypage .nav-list {
    border-top:1px solid #DFDFDF;
}
.mypage .nav-list li a {
    text-align:left;
    padding-left:50px;
    height:45px;
    line-height:45px;
    border-bottom:1px solid #DFDFDF;
    background-color:#FFF;
    background-position:10px center;
    background-size:25px 25px;
    background-repeat:no-repeat;
    font-size:16px;
	display:block;
}
.mypage .nav-list li .nav-1 {
    background-image:url(../images/nav-1.png);
}
.mypage .nav-list li .nav-2 {
    background-image:url(../images/nav-2.png);
}
.mypage .nav-list li .nav-3 {
    background-image:url(../images/nav-3.png);
}
.mypage .nav-list li .nav-4 {
    background-image:url(../images/nav-4.png);
}
.mypage .out a {
    width:100%;
    height:45px;
    line-height:45px;
    border-top:1px solid #DFDFDF;
    border-bottom:1px solid #DFDFDF;
    color:#E84647;
    font-size:14px;
    background-color:#FFF;
    display:inline-block;
    margin:20px 0;
}
/*  我的订单  */
.order-item {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #D3D3D3;
}
.order-item .thumbnail {
    float:left;
    width:137px;
    height:auto;
    margin-right:10px;
}
.order-item .thumbnail img {
    width:137px;
}
.order-item .caption {
    width:155px;
    float:left;
}
.order-item .caption h3 {
    font-size:14px;
    height:40px;
    line-height:150%;
    color:#000000;
}
.order-item .caption .info {
    font-size:12px;
    color:#878787;
    margin:5px 0;
}
.order-item .caption .info span {
    width:75px;
    display:inline-block;
}
.order-item .caption .status {
    color:#828282;
    font-size:12px;
    height:26px;line-height:26px;
}