/* reset */
html{background:transparent;color:#000;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, section{margin:0;padding:0;}
pre{word-break: break-all;word-wrap: break-word;}
table{border-collapse:collapse;border-spacing:0;}
table th, table td { border:1px solid #ccc; text-align:center; }
fieldset, img{border:0;}
img { vertical-align: middle; }
address, caption, cite, code, dfn,  th, var{font-style:normal;font-weight:normal;}
ol, ul{list-style:none;}
caption, th{text-align:left;}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:bold;}
q:before, q:after{content:'';}
abbr, acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input, textarea, select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input, textarea, select{font-size:100%;}
legend{color:#000;}

.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-table; }
* html .clearfix { height:1%; }
.clearfix { display:block; }
a { color: #333; text-decoration: none; }
a:active, a:hover { outline: 0; }
*, ::before, ::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.f_r { float:right; }
/* css */
body {
	/*font-family:Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Tohoma, Arial;*/
	position:relative;
	background:#F8F8F8;
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
#main {
	padding:15px 9px 0;
	margin-bottom:30px;
}
.page-info h1 {
	color:#080000;
	font-size:19px;
	margin-bottom:12px;
	font-weight:bold;
}
.page-info .event-date {
	color:#A3A2A2;
	font-size:12px;
}
.page-content {
	margin-top:10px;
	font-size:16px;
	line-height:1.5;
	width:100%;
	color:#666666;
}
.page-content * {
    max-width: 100%;
    word-wrap: break-word!important;
}
.page-content p {
    min-height: 1.5em;
    white-space: pre-wrap;
}
.page-content img {
    max-width: 100%!important;
    height: auto!important;
    margin:5px 0;
}
#footer {
	border-top:1px solid #DCDCDC;
	width:100%;
	text-align:center;
	height:35px;line-height:35px;
	color:#B0AFAD;
	font-size:12px;
}
#footer .btn-up {
	display:inline-block;
	height:35px;line-height:35px;
	float:right;
	padding:0 14px;
	color:#B0AFAD;
	text-decoration:none;
}
#footer .copyright { float:left; text-indent:12px; }
.btnall {
	padding:12px 14px;
	width:100%;
	background:#46CEC0;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	outline: 0;
	zoom: 1;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	line-height: 16px;
	color: #fff;
	font-weight:bold;
    border:1px solid #32BDAF;
}
.icon-wxshare {
	width:20px;height:18px;
	display:inline-block;
	margin-right:6px;
	vertical-align:-2px;
	background: url(../images/icon-wxshare.png) 0 0 no-repeat;
	background-size: 20px 18px;
}
.sina_icon {
	background-position: -6px -53px;
	width: 25px;
	height: 20px;
	margin-right: 10px;
	vertical-align: -5px;
}
.cm_icon {
	vertical-align: -2px;
	background-image: url(../images/sprites1.png);
	background-repeat: no-repeat;
	display: inline-block;
	background-size: 182px 104px;
}
h4.subtitle1 {
	background:#4ABEB3 url(../images/con-icon-1.png) 12px center no-repeat;
	border-radius:20px;
	font-size:16px;
	font-weight:bold;
	line-height:20px;
	display:inline-block;
	color:#FFF;
	padding:2px 12px;
	margin-bottom:12px;
	text-indent:18px;
	background-size: 15px 15px;
}
h4.subtitle2 {
	background:#4ABEB3 url(../images/con-icon-2.png) 12px center no-repeat;
	border-radius:20px;
	font-size:16px;
	font-weight:bold;
	line-height:20px;
	display:inline-block;
	color:#FFF;
	padding:2px 12px;
	margin-bottom:12px;
	text-indent:18px;
	background-size: 15px 15px;
}
h4.subtitle3 {
	background:#4ABEB3 url(../images/con-icon-3.png) 12px center no-repeat;
	border-radius:20px;
	font-size:16px;
	font-weight:bold;
	line-height:20px;
	display:inline-block;
	color:#FFF;
	padding:2px 12px;
	margin-bottom:12px;
	text-indent:18px;
	background-size: 15px 15px;
}
.c-icon-1 {
	width:15px;height:15px;
	display:inline-block;
	margin-right:1px;
	vertical-align:-2px;
	background: url(../images/con-icon-1.png) 0 0 no-repeat;
	background-size: 15px 15px;
}
.c-icon-2 {
	width:15px;height:15px;
.btnall	display:inline-block;
	margin-right:1px;
	vertical-align:-2px;
	background: url(../images/con-icon-3.png) 0 0 no-repeat;
	background-size: 15px 15px;
}
.c-icon-3 {
	width:15px;height:15px;
	display:inline-block;
	margin-right:1px;
	vertical-align:-2px;
	background: url(../images/con-icon-3.png) 0 0 no-repeat;
	background-size: 15px 15px;
}

.wx-share { text-align:center; margin:25px 25px 50px; }
#wx-cover {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999;
}
#favor_weixin{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:9999;
	background:url(../images/favor_weixin.png) top right no-repeat rgba(0,0,0,.8);
	background-size:290px;
	display:none;
}
#float_knowed{bottom:50px;left:30%;width:40%;height:30px;line-height:30px;border:1px solid #b5b5b7;border-radius:4px;color:#cecece}
.abs{position:absolute}
.c_txt{text-align:center}
.page-author {
	clear:both;
	overflow:hidden;
}
.page-author .avatar {
	float: left;
	margin-right: 5px;
}
.page-author .avatar img {
	border-radius:50%;
}
.page-author .author-info {
	float: left;
	margin:17px 0 0 5px;
}
.page-author .author-info .name {
	font-size:16px;
	font-weight:bold;
	color:#46cec0;
}
.page-author .author-info .name a {
	color: #46cec0;
	text-decoration: none;
}
.page-author .author-info .time {
	margin-top: 5px;
	color: #b0afad;
}

.info-box {
	border:1px solid #e2e2e2;
	height:38px;
	line-height:38px;
	font-size:14px;
	color:#46CEC0;
}
.info-box .shop-icon {
	width: 17px;
	text-align: center;
	height: 16px;
	margin-left:6px;
	vertical-align: -2px;
	background: url("../images/app_common_icon.png") no-repeat;
	background-size: 17px;
	background-position:0 -153px;
	display: inline-block;
}

.share-list .item {
	background:#fff;
	position:relative;
	max-width:100%;
	height:auto;
	display:block;
	margin-bottom:15px;
}
.share-list .item .thumbnail {
	width:100%;
	height:172px;
}
.share-list .item img {
	width:100%;
	height:auto;
	display:block;
}
.share-list .item .caption {
	border:1px solid #E3E3E3;
	border-top:0 none;
	border-bottom:0;
	box-shadow:0px 1px 1px rgba(0, 0, 0, 0.15);
	color:#939393;
}
.share-list .item .caption .caption-c {
	padding:10px 12px 5px;
}
.share-list .item .caption h3 {
	font-weight:bold;
	font-size:16px;
	margin-bottom:6px;
}
.share-list .item .caption h3 a, .share-list .item .caption h3 a:link {
	text-decoration:none;
	color:#080000;
}
.share-list .item .avatar {
	position: absolute;
	top: 121px;
	left: 15px;
	border-radius:50%;
}
.share-list .item .avatar img {
	border-radius:50%;
	width:40px;
	height:40px;
	border:1px solid #fff;
}
.share-list .item .shop-small a {
	background:#EFEFEF;
	display:inline-block;
	border-radius:10px;
	height:18px;
	line-height:18px;
	color:#939393;
	font-size:12px;
	padding:0 10px;
	text-decoration:none;
	margin-bottom:10px;
}
#top {
	position: relative;
	height:auto;
	overflow:hidden;
}
.top-tag {
	position: absolute;
	left:0;
	top:10px;
	line-height: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	background: #000\9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)";
	filter: alpha(opacity=60);
	font-size: 14px;
	font-weight:bold;
	line-height: 14px;
	display: inline-block;
	text-align: center;
	padding: 5px 7px;
	color: #fff;
	z-index: 45;
	border-left: 3px #348379 solid;
}
.city-list .tag {
	position: absolute;
	left:0;
	top:10px;
	line-height: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	background: #000\9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)";
	filter: alpha(opacity=60);
	font-size: 14px;
	font-weight:bold;
	line-height: 14px;
	display: inline-block;
	text-align: center;
	padding: 5px 7px;
	color: #fff;
	z-index: 45;
	border-left: 3px #348379 solid;
}
.city-list .bg-meishi {
	border-color:#ffc821;
}
.city-list .bg-movie {
	border-color:#ce1534;
}
.city-list .bg-party {
	border-color:#4abeb3;
}
.city-list .bg-theatre {
	border-color:#fe5f44;
}
.city-list .bg-outdoor {
	border-color:#61bf41;
}
.city-list .bg-marriage {
	border-color:#de0000;
}
.city-list .bg-show {
	border-color:#FF7800;
}

.city-list .icon-info {
	font-size:14px;
}
.city-list .icon-info li {
	margin-bottom:8px;
}
.city-list .icon-info .icon-time {
	width: 14px;
	height: 14px;
	margin-right: 7px;
	vertical-align: -2px;
	display: inline-block;
	background: url("../images/icon-tel.png") no-repeat;
	background-size: 14px 14px;
}
.city-list .icon-info .icon-address {
	width: 14px;
	height: 14px;
	margin-right: 7px;
	vertical-align: -2px;
	display: inline-block;
	background: url("../images/icon-place.png") no-repeat;
	background-size: 14px 14px;
}
.city-list .bot-info {
	line-height:28px;
	border-top:1px solid #E3E3E3;
	background:#f9f9f9;
	padding:6px 12px;
	font-size:14px;
}
.city-list .bot-info .bot-left span {
	color:#46CEC0;
	font-size:16px;
	margin-right:8px;
}
.city-list .bot-info .bot-btn {
	float:right;
	padding:6px 8px;
	line-height:14px;
	border:1px solid #46CEC0;
	color:#46CEC0;
	font-size:14px;
	font-weight:bold;
	border-radius:4px;
	text-align:center;
}
.city-list .bot-info .bot-btn a {
	width:100%;
	height:100%;
	display:block;
	color:#46CEC0;
}
.city-list .bot-info .bot-btn-end {
	border-color:#d2d2d2;
    color:#c2c2c2;
}
.city-info, .city-person {
	font-size:13px;
	color:#939393;
}
.city-person li {
	width:33%;float:left;text-align:center;
}
.city-info .item {
	margin-bottom:10px;
}
.city-info .icon {
	width: 13px;
	height: 13px;
	margin-right: 7px;
	vertical-align: -2px;
	display: inline-block;
}
.city-info .time .icon {
	background: url("../images/icon-time.png") no-repeat;
	background-size: 13px 13px;
}
.city-info .address .icon {
	background: url("../imagesp/icon-address.png") no-repeat;
	height: 15px;
	background-size: 13px 15px;
}
.city-info .fee .icon {
	background: url("../images/icon-fee.png") no-repeat;
	background-size: 13px 13px;
}

.city-person {
	border:1px solid #C5C5C5;
	height:40px;
	line-height:40px;
	padding:0 20px;
	margin:15px 0 0;
}
.city-person span {
	color:#4ABEB3;
	font-size:16px;
}

.city-more {
	margin-top:25px;
}
.city-more span {
	/*font-family:Arial;*/
}
.city-more a {
	width:276px;
	height:72px;line-height:72px;
	display:block;
	margin:0 auto;
	background:url("../images/city-more.jpg") no-repeat;
	background-size:276px 72px;
	color:#FFF;
	font-size:16px;
	text-align:center;
	font-weight:bold;
}

.exchange .hot-tag {
	position: absolute;
	right:20px;
	top:0;
	width:44px;height:78px;
	background:url("/static/img/wap/icon-new.png") no-repeat;
}

.exchange .bot-info {
	height:40px;
	line-height:40px;
	padding:0;
	clear:both;
	overflow:hidden;
	font-weight:bold;
	font-size:18px;
}
.exchange .s1 {
	color:#939393;
	text-align:center;
}
.exchange .s2, .exchange .s3 {
	background:#f9f9f9;
}
.exchange .bot-info .f-right {
	float:right;
	width:50%;
	border-left:1px solid #e7e7e7;
	background:#47BFB3;
	color:#fff;
	text-align:center;
}
.exchange .bot-info .f-right a {
	width:100%;
	height:100%;
	display:block;
}
.exchange .bot-info .f-left {
	float:left;
	width:50%;
	text-align:center;
	color:#47BFB3;
	font-size:14px;
}
.exchange .bot-info .f-left span {
	color:#47BFB3;
	font-size:25px;
	padding-right:2px;
}
.exchange .s3 .f-right {
	background:#f9f9f9;
	color:#47BFB3;
}

#deal {
	background:#fff;
	border-bottom:1px solid #E7E7E7;
}
#deal .deal-price {
	padding:5px 10px;
	border-bottom:1px solid #E7E7E7;
	overflow:hidden;
}
#deal .deal-price .discount-price {
	font-size:25px;
	font-weight:bold;
	color:#47BFB3;
}
#deal .deal-price .discount-price span {
	font-size:14px;
	color:#000;
	margin-left:5px;
}
#deal .deal-price .dt-price {
	font-style:normal;
	color:#A3A3A3;
	font-size:13px;
}
#deal .deal-price .btn-large {
	width:132px;
	height:34px;
	line-height:34px;
	display:inline-block;
	float:right;
	text-align:center;
	background:#47BFB3;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	border-radius:4px;
}

#deal .deal-intro {
	padding:10px 15px 5px;
	font-size:13px;
	color:#939393;
}
#deal .deal-intro p.start {
	color:#47BFB3;
	margin-bottom:5px;
}
#deal .deal-intro p.date {
	color:#939393;
	margin-bottom:5px;
}
#deal .deal-intro h3 {
	font-size:18px;
	font-weight:bold;
	color:#000000;
	margin-bottom:5px;
}
#deal-detail {
	border:1px solid #EFEFEF;
	margin:15px 15px 15px;
	padding:15px;
	background:#fff;
	color:#666666;
	font-size:14px;
	line-height:20px;
}
#deal-detail h3 {
	color:#000000;
	font-size:18px;
	font-weight:bold;
	margin-bottom:10px;
}
#deal-detail img {
	width:100%;
}

.shop-list {
	height:100px;
	overflow:hidden;
	clear:both;
	border:1px solid #E7E7E7;
	margin-bottom:15px;
	background:#fff;
}
.shop-list .thumb { width:44%; float:left; }
.shop-list .thumb img { height:100px; width:100%; }
.shop-list .info { width:56%; float:right; color:#666666; font-size:12px; }
.shop-list .info .con { margin:9px; }
.shop-list .info h3 { height:30px; font-size:14px; color:#000000; font-weight:bold; margin-bottom:15px; }
.shop-list .icon-info li { margin-bottom:10px; }

/* old css */
.page-shop .common_hd {
	margin-bottom: 15px;
	border-bottom: #f3f3f3 solid 1px;
}
.page-shop .common_bd {
	font-size: 14px;
	margin-top: 18px;
}
.page-shop .common_hd h3 {
	color: #828282;
	font-weight: bold;
	display: inline-block;
	padding-right: 6px;
	position: relative;
	top: 11px;
	background: #fff;
}
.page-shop .restaurant_info .icon {
	background-position: 0 -153px;
}
.page-shop .common_hd .icon {
	width: 17px;
	text-align: center;
	height: 16px;
	margin-right: 4px;
	vertical-align: -2px;
}
.page-shop {
	text-decoration: none;
}
.page-shop .restaurant_info .icon {
	background-position:0 -153px
}
.page-shop .address_info .icon {
	background-position:0 -93px
}
.page-shop .address_info .address2 {
	color:#666;
}
.page-shop .tel_info .icon {
	background-position:0 -112px
}
.page-shop .average_info .icon {
	background-position:0 -173px
}
.page-shop .ambiance_info .icon {
	background-position:0 -194px
}
.page-shop .ambiance_info ul {
	margin-right:-20px
}
.page-shop .ambiance_info li {
	float:left;
	margin-right:20px
}

.dialog-div {
	width:165px;
	height:120px;
	background-color: rgba(0,0,0,0.8);
	overflow:hidden;
	margin:0 auto;
	z-index:99;
	_top:expression(eval(document.documentElement.scrollTop+20));
	border-radius:8px;
}

.dialog-div-icon {
	background:url(../images/icon-right.png) 0 0 no-repeat;
	background-size:38px 35px;
	margin:24px auto 0;
	width:38px;height:35px;
}
.dialog-div-icon2 {
	background:url(../images/icon-ban.png) 0 0 no-repeat;
	background-size:38px 35px;
	margin:24px auto 0;
	width:38px;height:35px;
}
.dialog-div-icon3 {
	background:url(../images/icon-warn.png) 0 0 no-repeat;
	background-size:38px 35px;
	margin:24px auto 0;
	width:38px;height:35px;
}

/****锟斤拷录锟斤拷****/
#regdialog{
	width:100%;
	height:100%;
	text-align:center;
    border:0;
    position:fixed;
    left:0px;
    top:0px;
	z-index:99;
    _position:fixed;
    _top:expression(eval(document.documentElement.scrollTop+20));
}
#regdialog #cover{
	width:100%;
	height:100%;
	background-color:#000;
	text-align:center;
    border:0;
    position:fixed;
	filter:alpha(opacity=70);
	opacity:0.7;
	z-index:99;
}
#regdialog #table{
position:relative;
display:block;
margin:0 auto;
width:320px;overflow:hidden;
z-index:999;
font-size:12px;
color:#000;
filter:alpha(opacity=100);
opacity:1;
}

.weibo_icon {
	background: url("../images/index_common_icon.png") 999em 0 no-repeat;
}
.weibo_icon {
	background-position: -32px -157px;
	width: 21px;
	height: 17px;
	overflow: hidden;
	float: right;
	display: inline;
	line-height: 99px;
	margin: 5px 18px 0 0;
}
.dialog{
	width:100%;
	overflow:hidden;
	position:fixed;
	top:0;
	z-index:9999;
	_position:fixed;
	/**_top:expression(eval(document.documentElement.scrollTop+20));**/
	background-color:#fff;
}
.dialog .body{
	overflow:hidden;
	position:relative;
	z-index:9999;
	border-radius:4px;
	padding:9px;
	background:#C4C4C4;
}
.dialog .body_left{
	height:100%;
	left:0;
	width:18px;
	position:absolute;
	background:url(../images/d-border-bg2.gif) repeat-y;
}
.dialog .body_center{
	text-align:center;
	background-color:#fdfdfd;
	position:relative;
	padding-bottom:10px;
}
.dialog .body_right{
	position:absolute;
	right:0;
	top:0;
	height:100%;
	width:18px;
	background:url(../images/d-border-bg2.gif) repeat-y;
}
.dialog .close {
	text-align:right;
	padding:10px;
}
.dialog .close a {
	display:block;
}
.dialog .top{
width:100%;
clear:both;
overflow:hidden;
background:url(../images/d-border-bg.gif) repeat-x;
}
.dialog .top .top_left{
overflow:hidden;
width:24px;
height:23px;
background:url(../images/d-t-l.gif) no-repeat;
float:left;
}
.dialog .top .top_right{
	overflow:hidden;
	width:23px;
	height:23px;
	background:url(../images/d-t-r.gif) no-repeat;
	float:right;
}
.dialog .bottom{
	width:100%;
	clear:both;
	bottom:0;
	overflow:hidden;
	background:url(../images/d-border-bg.gif) left bottom repeat-x;
}
.dialog .bottom .bottom_left{
	width:24px;
	height:23px;
	overflow:hidden;
	background:url(../images/d-b-l.gif) no-repeat;
	float:left;
}
.dialog .bottom .bottom_right{
	width:23px;
	height:24px;
	overflow:hidden;
	background:url(../images/d-b-r.gif) no-repeat;
	float:right;
}
.dialog .content {
	text-align:center;
}
.dialog .content p {
	margin-bottom:10px;
}
.dialog .content .input{
	line-height:16px;
	padding:10px 7px;
	/*padding:10px 0;
	text-indent:7px;*/
	width:100%;
	border:1px solid #CFCFCF;
	font-size:16px;
	color:#333;
	-webkit-appearance:none;
}
.dialog .content .subbutton{
	line-height: 20px;
	padding: 10px 0;
	width: 100%;
	display: block;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #139A9B;
	text-decoration: none;
	margin: 0 auto;
	background: #72F1E9;
	border: 0 none;
	border-bottom: 2px solid #139A9B;
	-webkit-appearance: none;
	border-radius: 2px;
}

.jhm-btn {
	width:120px;
    line-height:43px;
	display:block;
	text-align:center;
	border:1px solid #CECECE;
	background-color:#F7F7F7;
	font-size:15px;
	color:#B8B8B8;
}
.pop_win_bg {
	position: fixed;
	background: #C4C4C4;
	border-radius: 4px;
	z-index:8888;
	width:100%;height:100%;
}

#wannago input{ width:100%;}
#wannago #J_save {width:100%;}
/*#wannago .body{background:none;}*/
#wannago #body_left{overflow:hidden;}

/*#wannago .close {
position: relative;
top: -10px;
right: 50px;
}*/

.dialog .body_left {
	height: 100%;
	top: 0;
	left: 0;
	width: 18px;
	position: absolute;
	background: url(../images/d-border-bg2.gif) repeat-y;
	z-index: 99;
}

/* 鎻愰啋 */
#reminder_dialog .close {
    background-color:#7cd1c8;
    padding:5px 0;
}
#reminder_dialog .top .top_left {
    overflow:hidden;
    width:24px;
    height:23px;
    background:url(../images/d-t-l2.gif) no-repeat;
    float:left;
}
#reminder_dialog .top .top_right{
    overflow:hidden;
    width:23px;
    height:23px;
    background:url(../images/d-t-r2.gif) no-repeat;
    float:right;
}
#reminder_dialog .top {
    width:100%;
    clear:both;
    overflow:hidden;
    position:relative;
    bottom:-1px;
    background:url(../images/d-border-bg3.gif) repeat-x;
}
#reminder_dialog .close .tips {
    float:left;font-size:14px;color:#fff;float:left;margin-left:25px;
}
#wap_msg {
	font-size:20px;
	font-weight:bold;
	color:#FFF;
	padding:10px 0;
	text-align:center;
}

/* APP涓嬭浇寮曞 */
.download-con {
    width: 100%;
    position: fixed;
    bottom: 0;
}
.download-con .down_app {
    width: 100%;
    margin: 0 auto;
    min-width: 320px;
    max-width: 640px;
    height: 4.4em;
    line-height: 4.285em;
    vertical-align: middle;
    background: rgba(68,68,79,.95);
    display: block;
    position: relative;
}
.download-con .download-logo {
    width: 2.785em;
    height: 2.785em;
    background: url("../images/icon.png") no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.download-con .alogo {
    display: inline-block;
    line-height: 1.2em;
    vertical-align: middle;
    margin-left: 5px;
    width: 50%;
}
.download-con .alogo .client-name {
    color: #FFF;
    font-size: .875em;
    line-height: 1.3em;
}
.download-con .alogo .client-logon {
    color: #FFF;
    font-size: .875em;
    display: none;
}
.download-con .open_now {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    float: right;
}
.download-con .open_now .open_btn {
    margin-top: 5px;
    background-color: #FFF;
    vertical-align: middle;
    text-align: center;
    padding: .3em;
    border-radius: .3em;
}
.download-con .close-btn-con {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #1c1c1f;
    width: 1.25em;
    height: 1.25em;
    display: block;
    border-bottom-left-radius: 1.25em;
}
.download-con .close-btn-con .close-btn-icon {
    width: .6em;
    height: .6em;
    background:url("../images/close-btn-con.png") no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    position: absolute;
    right: 3px;
    top: 3px;
}



@media screen and (min-width:480px) {
	#wrapper {
		width:480px;
		margin:0 auto;
		border-left:1px solid #ccc;
		border-right:1px solid #ccc;
	}
}