html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
}
#bodybox {
    position: relative;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    max-width: 480px;
    overflow-y:scroll;
    background-color: #fff
}
::-webkit-scrollbar{width:0}
a{text-decoration: none}
.none{display: none}
.posR{position: relative}
.mainColor{color: #57d6dc}
.mainBg{background-color: #57d6dc}
.grayBg{background-color: #a0a0a0}
.txtAC{text-align: center}
.txtAR{text-align: right}
.white{color: #fff}
.gray{color: #a0a0a0}
.gray2{color: #0b5559}
.red{color: red}
.font16{font-size: 16px}
.font14{font-size: 14px}
.font12{font-size: 12px}
.marT5{margin-top: 5px}
img,input{vertical-align: middle}
.ovfl{overflow: hidden}
.floL{float: left}
.floR{float: right}
.marT10p{margin-top: 10px}
.width20p{width: 20px}
.width20s{width: 20%}
.width47s{width: 47%}
.padub7p{padding: 7px 0}
.marT1p{margin-top: 1px}
.marL1p{margin-left: 5px}
.marR1p{margin-right: 5px}
.nowrap{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.marB8p{margin-bottom: 8px}
.borGreen{border: 1px solid #adedf0}