{template 'common/header'}
<style type="text/css">.xhred{ color:#F00;}</style>
<ul class="nav nav-tabs">
	<li class="active"><a href="{php echo $this->createWebUrl('memberlogin', array('op'=>'display'));}">独立店员网页入口</a></li>
</ul>

<div class="main">
  <div class="panel panel-primary " >
			<div class="panel-heading">独立店员网页入口</div>
            <div class="panel-body">
				<div class="table-responsive panel-body">
                   <!--  <p style="line-height:30px;">
                    <strong>功能说明：</strong>
                    <br/>
                    <strong>· </strong>
                    <br/>
                    <strong>· </strong>
                    </p> -->
                    <p style="line-height:30px;">
                   <div class="input-group">
					  <span class="input-group-addon" id="basic-addon3">网页链接:</span>
					  <input type="text" class="form-control" style="width: 60%" id="basic-url" readonly aria-describedby="basic-addon3" value="{$langurl}">
					</div>
                    </p>
                  

<!--                      <div class="input-group">
                      <span class="input-group-addon" id="basic-addon3">网页短链接:</span>
                      <input type="text" class="form-control " style="width: 60%" id="basic-url" readonly aria-describedby="basic-addon3" value="{$shorturl}">
                    </div>
                    </p> -->
                    <a class="btn btn-primary" href="{$langurl}" role="button" target="_blank" style="margin-bottom: 2em;">在新窗口打开</a>
				</div>
			</div>
            
		</div>
</div>
{template 'common/footer'}