{template 'header'}
<div id="finished">
    <div class="mui-navbar-inner mui-bar mui-bar-nav">
        <button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
            <span class="mui-icon mui-icon-left-nav"></span>返回
        </button>
        <h1 class="mui-center mui-title">已上课程</h1>
    </div>
    <div class="mui-content yishang">
        <header class="yishang-header">
            <h1 class="org">{$count['class_count']}</h1>
            <p class="gray">已上课程</p>
        </header>
        <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">

            {if $course}
                {loop $course $i $c}
                    <li class="mui-table-view-cell">
                        <div class="mui-table">
                            <div class="mui-table-cell mui-col-xs-10">
                                <h4 class="mui-ellipsis zuopin-title">{$c['class_name']}</h4>
                                <h5 class="gray"><img src="{MODULE_URL}assets/img/icon-time.png" /> {$c['timeslot']}
                                    <img src="{MODULE_URL}assets/img/icon-teacher.png" /> 老师：{$c['fullname']}
                                </h5>
                                <p class="mui-h6 mui-ellipsis gray"><img src="{MODULE_URL}assets/img/icon-position.png" />{$c['name']}{$c['classroom']}</p>
                            </div>
                            <div class="mui-table-cell mui-col-xs-2 mui-text-right">
                                <span class="mui-h5"><a href="<?php echo $this->createMobileUrl('parent', array('page' => 'zuopin','schedule_id' => $c['id'])) ?>"><img src="{MODULE_URL}assets/img/btn-view.png" class="btn-view" /></a> </span>
                            </div>
                        </div>
                    </li>
                {/loop}
            {else}
                <li class="mui-table-view-cell">
                    <div class="mui-table">
                        <div class="mui-table-cell mui-col-xs-10">
                            <h4 class="mui-ellipsis zuopin-title" style="text-align:center;color:#cccccc;">暂无已上课程</h4>
                        </div>
                    </div>
                </li>
            {/if}

        </ul>
    </div>
</div>
{template 'footer'}