{template 'header'}
<div id="record">
    <div class="mui-navbar-inner mui-bar mui-bar-nav">
        <button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
            <span class="mui-icon mui-icon-left-nav"></span>返回
        </button>
        <h1 class="mui-center mui-title">成长记录</h1>
    </div>
    <div class="mui-content">
        <div class="recorder">
            <header class="recorder-header">
                <img src="{$children['avatar']}" />
                <h4>{$children['fullname']}</h4>
                <p>已上{$class['class_count']}节课</p>
            </header>
            <div class="timeline">
                {if $record}
                    {loop $record $i $r}
                        <div class="recorder-content">
                            <h4><img src="{MODULE_URL}assets/img/timeline.png" /><span class="gray">{$r['timeline_date']}</span> </h4>
                            <p>{$r['timeline_description']}</p>
                            <div class="mui-clearfix"></div>
                        </div>
                    {/loop}
                {else}
                    <div class="recorder-content">
                        <h4><img src="{MODULE_URL}assets/img/timeline.png" /><span class="gray">暂无成长记录</span> </h4>
                        <div class="mui-clearfix"></div>
                    </div>
                {/if}
            </div>
        </div>
    </div>
</div>
{template 'footer'}