{template 'header'}
<div id="zuopin">
    <div class="mui-navbar-inner mui-bar mui-bar-nav">
        <button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
            <span class="mui-icon mui-icon-left-nav"></span>返回
        </button>
        <h1 class="mui-center mui-title">作品展示</h1>
    </div>

    {if $projects}
        {loop $projects $index $project}
            <div class="mui-content">
                <div class="mui-content-padded jiazhang-zuopin">
                    <h4 class="zuopin-title">{$project['class_name']}</h4>
                    <p class="zuopin-time">{$project['timeslot']}</p>
                    <p>{$project['description']}</p>
                    <p>
                        {php $pics = json_decode($project['pics'],true);}
                        {loop $pics $i $v}
                            <img src="{php echo tomedia($v)}" data-preview-src="" data-preview-group="1" />

                        {/loop}
                    </p>
                </div>
                <div class="mui-clearfix"></div>
            </div>
        {/loop}
    {else}
        <div class="mui-content" style="text-align:center;">
            <div class="mui-content-padded jiazhang-zuopin">
                <p class="zuopin-time">暂无作品展示</p>
            </div>
            <div class="mui-clearfix"></div>
        </div>
    {/if}

</div>
<script src="{MODULE_URL}assets/js/mui.zoom.js"></script>
<script src="{MODULE_URL}assets/js/mui.previewimage.js"></script>
<script>
    mui.previewImage();
</script>
{template 'footer'}