
{template 'web/common/header'}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">

                    <h5><a class="glyphicon glyphicon-arrow-left" href="{php echo $this->createWebUrl('goodsrechargecount', array('op' => 'list'))}"></a>&nbsp;&nbsp;&nbsp;添加商品{php echo $_W['siteurl']}</h5>
                    <h5 style="float: right"><a class="glyphicon glyphicon-refresh" href="{php echo $this->createWebUrl('goodsrechargecount',array('op' => 'add','id' => $id))}"></a></h5>
                </div>

                <div class="ibox-content">
                    <form action="" class="form-horizontal m-t" method="post" enctype="multipart/form-data" onsubmit="return check(this);">
                        <input type="hidden" name="id" value="{$item['id']}">


                        <div class="form-group">
                            <label for="xid" class="col-sm-1 control-label">充次项目（商品id）</label>
                            <div class="col-xs-2">
                                <input type="text" name="xid" class="form-control" value="{$item['goods_id']}" id='xid' placeholder="请输入充次项目（商品id）"/>
                            </div>
                            <label for="goodsName" class="col-sm-1 control-label">计次项目商品名称</label>
                            <div class="col-xs-2">
                                <input type="text" name="goodsName" class="form-control" value="{$item['grc_goodsName']}" id='goodsName' placeholder="请输入计次项目商品名称"/>
                            </div>
                            <label for="count" class="col-sm-1 control-label">共充次（充次为0表示无限次）</label>
                            <div class="col-xs-2">
                                <input type="text" name="count" class="form-control" value="{$item['grc_count']}" id='count' placeholder="请输入共充次（充次为0表示无限次）"/>
                            </div>
                            <label for="totalPrice" class="col-sm-1 control-label">总价格</label>
                            <div class="col-xs-2">
                                <input type="text" name="totalPrice" class="form-control" value="{$item['grc_totalPrice']}" id='totalPrice' placeholder="请输入总价格"/>
                            </div>
                        </div>

                        <div class="form-group">

                            <label for="num" class="col-sm-1 control-label">使用次数限制</label>
                            <div class="col-xs-2">
                                <select class="form-control m-b" name="num" id="num" value="">
                                    <option value="0">请选择</option>
                                    <option value="1">永久</option>
                                    <option value="2">年</option>
                                    <option value="3">季度</option>
                                    <option value="4">月</option>
                                    <option value="5">周</option>
                                    <option value="6">天</option>
                                </select>
                            </div>
                            <label for="setValidTime" class="col-sm-1 control-label">有效期设置</label>
                            <div class="col-xs-2">
                                <select class="form-control m-b" name="setValidTime" id="setValidTime" value="">
                                    <option>选择有效期设置</option>
                                    <option value="0">指定时间</option>
                                    <option value="1">相对时间</option>
                                    <option value="2">永久有效</option>
                                </select>
                            </div>


                            <label for="setValidTime" class="col-sm-1 control-label">指定日期设置</label>
                            <div class="col-xs-2" name="setValidTime" id="setValidTime1" value="setValidTime">

                                {php echo tpl_form_field_daterange('time', array('starttime'=>date('Y-m-d', $starttime),'endtime'=>date('Y-m-d', $endtime)));}
                            </div>

                                <label for="setValidTime" class="col-sm-1 control-label">相对日期设置</label>

                                    <div class="col-sm-2">
                                        <input class="form-control layer-date" placeholder="YYYY-MM-DD hh:mm:ss" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                                        <label class="laydate-icon"></label>
                                    </div>



                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label for="setValidTime" class="col-sm-1 control-label">相对日期设置</label>
                            <div class="col-sm-2">
                                <div class="row">
                                <select class="form-control m-b" name="reletiveTimeNum" id="reletiveTimeNum" value="">
                                    <option value="0">请选择</option>
                                    <option value="1">永久</option>
                                    <option value="2">年</option>
                                    <option value="3">季度</option>
                                    <option value="4">月</option>
                                    <option value="5">周</option>
                                    <option value="6">天</option>
                                </select>


                                <label for="setValidTime" class="col-sm-4 control-label" style="display: none">是否积分</label>
                                <div class="col-sm-5"  style="display: none">
                                <div class="radio radio-info radio-inline">
                                    <input type="radio" name="ifGetPoint" id="ifGetPoint1" value="1" {if $item['grc_ifGetPoint']==1 || empty($item['grc_ifGetPoint'])}checked="checked" {/if}>
                                    <label for="ifGetPoint1"> 是 </label>
                                </div>
                                <div class="radio radio-inline radio-danger">
                                    <input type="radio" name="ifGetPoint" id="ifGetPoint2" value="2" {if $item['grc_ifGetPoint']==2 }checked="checked" {/if}>
                                    <label for="ifGetPoint2"> 否 </label>
                                </div>
                                </div>

                                </div>
                            </div>


                            <label for="setValidTime" class="col-sm-2 control-label">充次规则描述</label>
                            <div class="col-xs-3">
                                {php echo tpl_ueditor('content',$item['grc_rechargeRuleDescription']);}
                            </div>
                            <div class="col-xs-3">
                                <input name="submit" type="submit" value="提交" class="btn btn-primary btn-w-m">
                                <input type="hidden" name="token" value="{$_W['token']}" />
                            </div>
                        </div>

                    </form>
                </div></div></div></div></div>
<script>
    //外部js调用
    laydate({
        elem: '#hello', //目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
        event: 'focus' //响应事件。如果没有传入event，则按照默认的click
    });

    //日期范围限制
    var start = {
        elem: '#start',
        format: 'YYYY/MM/DD hh:mm:ss',
        min: laydate.now(), //设定最小日期为当前日期
        max: '2099-06-16 23:59:59', //最大日期
        istime: true,
        istoday: false,
        choose: function (datas) {
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
        }
    };
    var end = {
        elem: '#end',
        format: 'YYYY/MM/DD hh:mm:ss',
        min: laydate.now(),
        max: '2099-06-16 23:59:59',
        istime: true,
        istoday: false,
        choose: function (datas) {
            start.max = datas; //结束日选好后，重置开始日的最大日期
        }
    };
    laydate(start);
    laydate(end);
</script>
{template 'web/common/footer'}