<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="nav-close"><i class="fa fa-times-circle"></i>
	</div>
	<div class="sidebar-collapse">
		<ul class="nav" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element">
					<span><img alt="image" class="img-circle" src="{php echo tomedia($setStoreData['set_storeLogo'])}" width="64px" height="64px;" /></span>
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">{$_W['user']['username']}</strong></span>
                                <span class="text-muted text-xs block">{if $_W['role'] == 'founder'}超级管理员{elseif $_W['role'] == 'manager'}管理员{else}商家操作员{/if}<b class="caret"></b></span>
                                </span>
					</a>
					<ul class="dropdown-menu animated fadeInRight m-t-xs">
						<li><a href="{php echo $logouturl}">安全退出</a>
						</li>
					</ul>
				</div>
				<div class="logo-element">哈林云会员卡
				</div>
			</li>

			{if $_W['permissiontype'] == 'SecondaryFounder'}
			{loop $list $key $row}
			{if $row}
			<li>
				<a href="{$row['men_url']}">
					<i class="{$row['men_icon']}"></i>
					<span class="nav-label">{$row['men_title']}</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level">
					{if $children[$row['id']]}
					{loop $children[$row['id']] $k $item}
					{if $item}
					<li>
						<a class="J_menuItem" href="{php echo $this->createWebUrl($item['men_do'])}" >{$item['men_title']}</a>
					</li>
					{/if}
					{/loop}
					{/if}
				</ul>

			</li>

			{/if}
			{/loop}

			{else}

			{loop $newmainmenu $key $row}
			{if $row}
			<li>
				<a href="{$row['men_url']}">
					<i class="{$row['men_icon']}"></i>
					<span class="nav-label">{$row['men_title']}</span>
					<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level">
					{loop $sonmenu $k $item}
					{if $row['id'] == $item['men_parentId']}
					<li>
						<a class="J_menuItem" href="{php echo $this->createWebUrl($item['men_do'])}" >{$item['men_title']}</a>
					</li>
					{/if}
					{/loop}

				</ul>

			</li>
			{/if}
			{/loop}

			{/if}



		</ul>
	</div>
</nav>