{template 'common/header'}
<script type="text/javascript" src="../web/resource/js/lib/bootstrap.min.js"></script>
<div class="main">
	<ul class="nav nav-tabs">
		{template 'nav'}
	</ul>
	<form class="form-horizontal form" id="setting-form" action=""
		method="post">
		<div class="panel panel-default">
			<div class="panel-heading">提交工单</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label"> <span class="text-danger">*</span> 标题</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="data[title]"
							value="{$data['title']}" />
							<span class="help-block">能大致说明您需要处理问题的内容，建议15个字左右</span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label"> <span class="text-danger">*</span> 模块</label>
					<div class="col-sm-8">
						<select name="data[plugin_id]" class='form-control'>
							{loop $plugins $plugin}
							<option value="{$plugin['pluginId']}">{$plugin['name']}</option>
							{/loop}
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label"> <span class="text-danger">*</span> 类别</label>
					<div class="col-sm-8">
						<select name="data[type]" {if $data['type'] >= 1}disabled{/if} class='form-control'>
								<option value="1" {if $data['type'] == 1}selected{/if}>提交bug、发现问题等</option>
								<option value="2" {if $data['type'] == 2}selected{/if}>建议、意见类</option>
								<option value="3" {if $data['type'] == 3}selected{/if}>咨询</option>
								<option value="4" {if $data['type'] == 4}selected{/if}>其他</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"> <span class="text-danger">*</span> 详细说明</label>
					<div class="col-sm-8">
						{php echo tpl_ueditor('data[content]', htmlspecialchars_decode($data['content']));}
						<span class="help-block">对于该问题的详细说明，建议您配上相关的图片，如果是bug，希望您最好配上还原方式，和相关图片，比如：通过什么样的步骤，可以发现bug，以及bug的图片展示</span>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default select-panel">
			<div class="panel-heading">联系人信息(该信息仅需输入一次)</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label"> <span class="text-danger">*</span> 姓名</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="data[link_name]"
							   value="{$userinfo['userInfo']['linkname']}" />
						<span class="help-block">请输入您的姓名，或姓式</span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label"> <span class="text-danger">*</span> 联系电话</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="data[link_phone]"
							   value="{$userinfo['userInfo']['mobile']}" />
						<span class="help-block">可以联系到您的电话或者手机号码，方便我们的技术人员回访</span>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input name="token" type="hidden" value="{$_W['token']}" /> <input
				type="submit" class="btn btn-primary col-lg-1" name="submit"
				value="提交" />
		</div>
	</form>
</div>
<script type="text/javascript">

</script>
{template 'common/footer'}