body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,form {
	margin: 0px; padding: 0px; font-size:14px;
}
ul,ol,li {
	list-style: none; 
}
body {
	 font-size:14px;background: #FCFCFC; color: #333;
}

em,small {
	font-style: normal; font-size: 14px;
}
img{
	border:none;
}
a{
	color:#000;
	text-decoration:none;
}
a:hover{
	color:#2C74AB;text-decoration:none
}
input,select,textarea,button{
	font-size:15px;
}

.displaynone{ display:none;}

#wrapper{
	padding-bottom:0px; margin:0px 0px; margin-top:20px;
}

#header {
	position:fixed; top:0px; width:100%; z-index:999;
	padding: 3px 0px; background-color:#333; color:#FFF;
}
#main{}
.form-group .control-label{ line-height:35px; padding:0px; text-align:right;}

.bodybg{background-repeat:no-repeat; background-position:top; background-size:cover;background-color:#fff;}
.itembox{ border-top:1px solid #CCC;border-bottom:1px solid #CCC;  background-color:#FFF; min-height:50px; text-align:left; margin-top:10px; margin-bottom:10px;}
.itembox .avatar{ width:80px; height:80px; float:left; margin-left:20px;}
.itembox .avatar img{ width:50px; height:50px; margin-top:15px; margin-bottom:15px;}
.itembox .nickname{ font-size:18px; line-height:50px; float:left; margin-top:15px;}

.itempadding{ padding-top:12px; padding-bottom:12px;}

.itembox .textbox{ width:100%; line-height:30px; float:left;}
.itembox .texttitle{ float:left; color:#666; width:80px; margin-left:15px;}
.itembox .textvalue{ float:left; color:#666;}

.itembtn{line-height:50px; font-size:16px;}
.itembtn:hover{ background-color:#F6F6F6;}
.itembtn .icon{ float:left; width:30px; height:30px; border-radius:15px; text-align:center; color:#FFF; line-height:30px; margin-top:10px; margin-left:15px; margin-right:10px; padding-top:1px;}
.itembtn .text{float:left;}
.itembtn .arrow{ width:30px; line-height:50px; float:right; color:#999;}
.itembtn .arrow2{ width:65px; line-height:50px; float:right; color:#999;}
.itembtn .righttext{ line-height:50px; float:right; color:#999; margin-right:15px;}

.myform{ padding-left:20px; padding-right:20px; margin-top:10px; margin-bottom:10px; line-height:25px;}
.mybtn{ width:100%; font-size:16px; line-height:30px; margin-top:10px; margin-bottom:10px;}
.formmsg{ line-height:20px; margin-bottom:15px; color:#006;}

.memberbox{border-top:1px dotted #666666; margin-bottom:15px; padding-top:15px;}
.memberbox-name{ font-size:14px; font-weight:bolder; line-height:25px; margin-top:0px;}
.memberbox-text{ font-size:12px; line-height:20px;}
.memberbox-text .paddingleft0{padding-left:0px;}
.member-state{ float:right; font-size:12px; font-weight:100; color:#06F;}
.member-btn{ height:90px;}
.member-btn2{height: 125px;}
.member-btn button{ margin-left:10px; margin-top:5px;}

.typebox{border-top:1px dotted #666666; margin-bottom:15px;}
.typebox-name{ font-size:20px; font-weight:bolder; line-height:40px; margin-top:10px;}
.typebox-text{}
.typebox-btn{ height:40px;}
.typebox-btntext{ float:left;}
.typebtn{ float:right; margin-right:10px;}

.btnbox1{border-top:1px dotted #666666;}

.orderbox{border-top:1px dotted #666666; margin-bottom:15px; padding-top:10px; padding-bottom:10px;}
.order-btn a{ margin-left:10px; margin-top:5px;}

.xhred{ color:#F00;}
#imgshow{ margin-top:20px;}
#imgshow img{ width:100%;}

.footer-menu {
	position:fixed; bottom:0px; left:0px; width:100%; z-index:999;text-align: center;color:#FFF;
}
.footer-menu div{
	padding:0px 0px;
}
.footer-menu a{
	color:#FFF;
}

.msgtitle{ font-size:14px; font-weight:bolder; background-image:url(../images/titlebg.png); background-size:100% 30px; height:30px; line-height:30px; width:100px; text-align:center; background-repeat:no-repeat;}
.msgp{ line-height:40px; font-size:14px; font-weight:bolder;}

.topimg{width:100%; margin-top:-20px;}
.topimg img{width:100%;}

.toplist{ width:100%; margin-top:-20px;}
.toplist-top{}
.toplist-center{ background-image:url(../images/topbg2.jpg); min-height:400px; width:100%; background-repeat:repeat-y; background-size:100%;}
.toplist-bottom{ }

.toplistbox{ width:80%; padding:10px 10px;}
.toplistbg{background-color:#FFFBEF; width:100%; height:50px; border-radius:25px; text-align:left; position:relative;}
.toplistbg img{width:40px;border-radius:20px; position:absolute; left:7px; top:5px;}
.toplistbg .number{position:absolute; left:60px; top:4px; color:#F00; font-size:16px;}
.toplistbg .name{position:absolute; left:60px; top:25px; color:#666; font-size:16px;}
.toplistbg .name span{ font-size:14px; color:#F60;}
.toplistbg .amount{position:absolute; right:10px; top:10px; color:#F00; font-size:20px;}





