@charset "utf-8";
#search{
	overflow: hidden;
	width: 100%;
	position:fixed;
	Top :0;
	background-color: #FFFFFF;
	height: 84px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F2F3F6;
	z-index:9999;
}
.div_Return_001{
	margin-top: 6px;
	margin-right: 3%;
	margin-left: 1%;
	height: 30px;
	width: 2%;
	background-image: url(../images/spike_027.png);
	background-repeat: no-repeat;
	background-size:8px 15px;
	float: left;
	padding-right: 3%;
	padding-left: 3%;
	background-position: center;
}
.word_input3{
	width: 75%;
	background-size:100% 14px;
	float: left;
	background-color: #EEEEEE;
	height: 30px;
	margin-top: 7px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	background-image: url(../images/spike_029.png);
	background-repeat: no-repeat;
	background-size:143px 14px;
	background-position: center center;
}
.div_Return_002{
	height: 19px;
	width: 21px;
	background-image: url(../images/spike_028.png);
	background-repeat: no-repeat;
	background-size:100% 100%;
	float: left;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 12px;
}
.word_input4 {
	width: 64%;
	background-size:100% 14px;
	float: left;
	background-color: #EEEEEE;
	height: 30px;
	margin-top: 7px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	padding-right: 8%;
	padding-left: 3%;
	font-size: 14px;
}
#word_Button_002{
	display: none;
	position:absolute;

	transition:.0s;
	height: 30px;
	width: 30px;
	overflow: hidden;
	font-size: 12px;
	background-image: url(../images/spike_021.png);
	background-size:13px 13px;
	color: #FFFFFF;
	top:7px;
	right:13%;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #EEEEEE;
}
.Fill_003{
	background-color: #FFFFFF;
	height: 85px;
	width: 100%;
}
.word_div_001{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F2F3F6;
	height: 44px;
	z-index:9999;
}
.lm_img_001{
	margin-left: 5px;
	
}
.Fill_004{
	float: right;
	height: 14px;
	width: 1px;
	background-color: #DDDDDD;
	margin-top: 4px;
}
.Fill_005{
	float: left;
	height: 14px;
	width: 1px;
	background-color: #DDDDDD;
	margin-top: 3px;
}

.lm_img_002{
	margin-top: 1px;
}
.STYLE3 {
	color: #363636;
	font-size: 14px;
	/*margin-top: 3px;*/
}
#xl_001{
	overflow: hidden;
	width: 100%;
	position:fixed;
	Top :85px;
	background-color: #FAFAFA;
	height: 0px;
	transition:.2s;
	z-index:9999;
}
#xl_002{
	overflow: hidden;
	width: 100%;
	position:fixed;
	Top :85px;
	background-color: #FAFAFA;
	height: 0px;
	transition:.2s;
	z-index:9999;
}
#xl_003{
	overflow: hidden;
	width: 100%;
	position:fixed;
	Top :85px;
	background-color: #FFFFFF;
	height: 0px;
	transition:.2s;
	font-size: 14px;
	color: #5F5F5F;
	z-index:9999;
	
}
#Fill_006{
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	overflow: hidden;
	width: 100%;
	position:fixed;
	Top :0px;
	background-color: #000000;
	height: 1000px;
	display: none;
	z-index:9998;
	
}
#Fill_007{
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	overflow: hidden;
	width: 100%;
	position:fixed;
	Top :0px;
	background-color: #000000;
	height: 1000px;
	display: none;
}
#Fill_008{
	overflow: hidden;
	width: 30%;
	position:fixed;
	Top :0px;
	display: none;
	margin-left: 67%;
}
#Fill_009{
	overflow: hidden;
	width: 100%;
	position:fixed;
	Top :15%;
	display: none;
	margin-left: 0%;
	background-color: #999999;
}
#Fill_010{
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	overflow: hidden;
	width: 100%;
	position:fixed;
	Top :0px;
	background-color: #000000;
	height: 1000px;
	display: none;
}
.xl_div_001{
	height: 27px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E8E8E8;
	font-size: 14px;
	text-align: center;
	color: #5F5F5F;
	padding-top: 12px;
    width:25%;
	float:left;display:inline;
}
.xl_div_002{
	height: 27px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E8E8E8;
	font-size: 14px;
	text-align: center;
	color: #5F5F5F;
	padding-top: 12px;
	padding-right: 42%;
	padding-left: 29%;
}
.xl_div_003{
	margin-right: 4%;
	margin-left: 4%;
	height: 49px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDDDDD;
}
.xl_div_003_1{
	float: left;
	margin-top: 13px;
}
.xl_div_003_2{
	float: right;
	background-image: url(../images/spike_034.png);
	background-repeat: no-repeat;
	background-size:51px 37px;
	height: 37px;
	width: 51px;
	margin-top: 9px;
}
.xl_div_004{
	margin-right: 4%;
	margin-left: 4%;
	height: 63px;
}
.xl_div_004_1 {
	float: left;
	width: 28%;
	margin-top: 29px;
}
.xl_div_004_2 {
	width: 1%;
	float: left;
	height: 1px;
}
.xl_div_004_3 {
	float: right;
	width: 20%;
	border: 1px solid #9A9A9A;
	height: 29px;
	margin-top: 25px;
	padding-right: 5%;
	padding-left: 5%;
	background-image: url(../images/spike_036.png);
	background-repeat: no-repeat;
	background-size:8px 11px;
	background-position: 7px 10px;
	font-size: 14px;
}
.xl_div_004_4 {
	width: 5%;
	float: right;
	height: 1px;
	margin-right: 1%;
	margin-left: 1%;
	background-color: #DDDDDD;
	margin-top: 40px;
}
.xl_div_005 {
	width: 92%;
	margin-right: 4%;
	margin-left: 4%;
}
.xl_div_005_1 {
	height: 23px;
	width: 84%;
	border: 1px solid #9A9A9A;
	margin-top: 15px;
	text-align: center;
	color: #000000;
	padding-top: 6px;
}
.Fill_006{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDDDDD;
	margin-right: 4%;
	margin-left: 4%;
	height: 11px;
}
.xl_div_006 {
	margin-right: 4%;
	margin-left: 4%;
	height: 70px;
}
.xl_div_006_2 {
	border: 1px solid #9A9A9A;
	color: #777777;
	font-size: 16px;
	height: 30px;
	width: 21%;
	float: left;
	margin-top: 15px;
	text-align: center;
	padding-top: 8px;
}
.xl_div_006_3{
	border: 1px solid #FF472E;
	color: #FFFFFF;
	font-size: 16px;
	height: 30px;
	width: 67%;
	float: right;
	margin-top: 15px;
	text-align: center;
	padding-top: 8px;
	background-color: #FF472E;
}