.item-detail-view {
/* height: 8.5px; */
overflow: hidden;
}
.item-detail-view .item-wrap {
height: 100%;
}
.item-wrap .item-detail {
border-bottom: 1px dashed #c7c7c7;
padding: 4%;
overflow: hidden;
width: 100%;
box-sizing: border-box;
display: block;
}
.item-wrap .item-detail .pic {
width: 36%;
float: left;
}
.item-wrap .item-detail .pic img {
width: 100%;
border: 1px solid #c6c6c6;
}
.item-wrap .item-detail .item-content {
width: 64%;
height: 100%;
float: left;
padding: 0 3%;
box-sizing: border-box;
}

.item-content .title {
	overflow: hidden;
	font-size: 12px;
	line-height: 28px;
	height: 28px
}

.item-content .title span {
	overflow: hidden;
	width:100%;
	color: #333;
	float:left
}

.item-content .tags {
	height: 20px;
	overflow: hidden;
	line-height: 20px;
	margin-top: 10px
}

.tags .tag {
	float: left;
	margin: 0 2px
}

.tmallTag {
	width: 17px;
	height: 17px
}

.byTag {
	background: 0 0;
	font-size: 12px;
	line-height: 16px;
	height: 16px;
	padding: 0 2px;
	border: 1px solid #f40;
	color: #f40
}

.tags .dealNum {
	float: right;
	color: #9b9b9b;	
	position: relative;
	font-size: 12px;
}

.item-content .real {
	font-weight: 500
}

.item-content .price-origin {
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	margin-top: 10px
}

.price-origin .price {
	font-size: 17px;
	font-weight: 800
}

.price-origin .origin {
	color: #333;
	font-size: 12px;
	float:right
}

.price-origin .quan {
	color: #FF4400;
	font-size: 14px;
	float:left
}

.price-origin .origin-discount {
	font-size: 16px;
	color: #f40
}

.item-content .discount {
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	margin: 5px 0 0
}

.item-content .discount .img-tag {
	vertical-align: middle;	
}

.item-content .discount .sale {
	font-size:30px;
	vertical-align: middle;
	color: #f40;
	margin-left: 4px
}

.item-content .discount .sale em {
	font-size: 15px;
	font-style: normal;
	display: inline-block;
	width: 17px;
	text-align: center;
	font-family: 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;
}