html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video,input,button {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	-webkit-appearance:none;
	font-family: 微软雅黑;
}
html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6 {
	-webkit-text-size-adjust:none;
	font-family: 微软雅黑;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
	font-family: 微软雅黑;
}
body {
	font-family:"microsoft yahei","Helvetica Neue",Helvetica,STHeiti,sans-serif;
	width:100%;
	background:#efefef;
	font-family: 微软雅黑;
}
ol,ul {
	list-style:none;
	font-family: 微软雅黑;
}
blockquote,q {
	quotes:none;
	font-family: 微软雅黑;
}
blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none
}
ins {
	text-decoration:none
}
del {
	text-decoration:line-through
}
table {
	border-collapse:collapse;
	border-spacing:0
}
a {
	text-decoration:none;
	font-family: 微软雅黑;
}
button {
	border:0;
	outline:0 none;
	font-family: 微软雅黑;
}


.top-bar{
	height:50px;
	line-height:50px;
	background:#22ac79
}
.btn_back {
    display: block;
    width: 32px;
    height: 32px;
    background: url(../images/xz.png) no-repeat 11px center;
    background-size: auto 50%;
    -webkit-background-size: auto 50%;  
    border-radius: 10px;
	margin-top:10px;
}


.dh1 {
    display: block;
    width: 32px;
    height: 32px;
    background: url(../images/dh.png) no-repeat 11px center;
    background-size: auto 50%;
    -webkit-background-size: auto 50%;  
    border-radius: 10px;
	margin-right:10px;
    margin-top:10px;
}











.bo{
	 max-width:640px;margin:0px auto;
}
.dh{
	 height:50px;line-height:50px;background:#22ac79;color:#fff;
}
.dh a{
	float:left;width:33.33%;display:block;text-align:center;font-size:18px;color:#fff;
}
.mc{
	background:#c7c4c4;height:50px;line-height:50px;color:#fff;padding-left:10px;font-size:16px;overflow: hidden;
}
.cl{
	height:30px;background:#fff;padding:10px 10px;color:#333;font-family:微软雅黑;font-size:16px;
}




.ii{
	width: 24px;
    height: 24px;
    background: url(../images/icon7.png) no-repeat center;
	display:block;
	float:left;
	margin-top:13px;
}

.zj{
	border-bottom:1px solid #cec9c9;background:#fff;margin-bottom:10px;padding:0px 10px;padding-bottom:10px;"
}
.bt{
	border-bottom:1px dotted #a7a3a3;color:#df9d83;height:50px;line-height:50px;
}
.w p{
	min-height:50px;border-bottom:1px dotted #e5e5e5;padding:5px 0px;
      }
      b{
       <i class="ii"></i>	border-bottom:1px dotted #a7a3a3;color:#df9d83;height:50px;line-height:50px;
       }
.lz{
	width: 24px;
    height: 120px;
    background: url(../images/icon.png) no-repeat;
	display:block;
	float:left;
	margin-right:10px;
}
.k{
	
	width:100%;
	font-size:14px;
	overflow:hidden;
	background:#fff;
}
.xz{
	border-bottom:1px solid #e5e5e5;
	background:#fff;
	padding:0px 10px;
	padding-bottom:10px;
	
}
.xz ul li{
	height:50px;
	line-height:50px;
	border-bottom:1px dotted #e5e5e5;
}
.xz ul li a{
	color:#2994c7;
}
.xz ul li a i{
	width: 24px;
    height: 24px;
    background: url(../images/xz2.png) no-repeat center;
	display:block;
	float:left;
	margin-right:10px;
	margin-top:12px;
}
.tj{
	margin:10px auto;
	width:80%;
	display:block;
	background:#f18451;
	height:50px;
	line-height:50px;
	border-radius:5px;
	text-align:center;
	color:#fff;
}



.mm{
	background:#22ac79;
    width:100%;
	height:32px;
	line-height:32px;
	padding-top:10px;
}

.mm input{
    border-radius:5px;
	width:80%;	
	margin:-5px auto;
	display:block;
	height:32px;
	padding:0px 15px;
	
}
.conter{
	width:80%;
	margin:20px auto;
	background:#fff;
	
}
.conter a{
	width:49%;
	float:left;
	text-align:center;
	display:block;
	color:#333;
	background:#fff;
	padding:10px 0px;
	margin:0.5%;
	font-family: 微软雅黑;

	
	
}
.conter a img {
	width:80px;
	height:80px;
	border-radius:100%;
	
}
.conter a span{
	width:100%;height:20px;
	font-family: 微软雅黑;
}
.conter1{
	background:#fff;
	padding:0px 10px;
	margin:10px 0px;
	
}
.conter1 .m1{
	height:50px;
	border-bottom:1px dotted #e5e5e5;
	line-height:50px;
}
.conter1 .xx{
	height:50px;
	border-bottom:1px dotted #e5e5e5;
	line-height:50px;
}

.inp{
	width:33.33%;float:left;text-align:left;height:30px;line-height:30px;
}

.c2{
	background:#fff;padding:0px 10px;color:#333;font-family:微软雅黑;font-size:16px;
}






.conter3 a{
	width:100%;
	display:inline-block;
	color:#333;
	background:#fff;
	padding:10px 0px;
	font-family: 微软雅黑;

	
	
}
.conter3 a div{
	/*width:20%;
	height:60px;*/
	float:left;
}

.conter3 a img {
	width:100px;
	height:100px;
	border-radius:100%;
	margin-right:15px;
	
}
.conter3 a span{
	width:60%;
	/*height:60px;
	line-height:60px*/
	float:left;
	display:inline-block;
	overflow:hidden;
	height:45px;
	line-height:21px;
	margin:32px 5px;
	font-family: 微软雅黑;
	
	
}