<div class="mod_fix_wrap">
    <div class="mod_fix" id="detailTab">
        <div class="mod_tab">
            <div class="item cur" id="p_desc">商品介绍</div>
            <!--<div class="item" id="p_prop">规格参数</div>-->
            <div class="item" id="p_cmt">售后保障</div>
        </div>
    </div>
</div>
<div class="detail_info_wrap" id="detail" style="height: auto">
    <div class="detail_list" id="detailCont">

        <!-- 商品介绍 -->
        <div class="detail_item p_desc" style="position:initial;">
            <div style="width:100%; height: auto;">
                <div id="commDesc" class="detail_pc">
                    <div style="width:100%;">
                        {$goods['content']}
                    </div>
                </div>
            </div>
        </div>

        <!--售后保障-->
        <div class="detail_item p_cmt" style="position:initial;display: none">
            <div id="detail3Normal">
                <div id="detServer">
                    {$goods['service']}
                </div>
            </div>
        </div>
    </div>
</div>