@charset "utf-8";
/* CSS Document */
.content .header p.title {
	font-family: "HELVETICANEUELTPRO-THEX", "微软雅黑";
}
/*顶部导航居右 */

#header .content {
	padding-left: 40px;
	padding-right: 40px;
}
#header ul#nav {
	float: right;
}
/*顶部导航背景默认色 */

#header {
	border-bottom: 1px solid transparent;
	background: rgba(255,255,255,0);
}
/*顶部导航背景滚动颜色与阴影 */

#header.mini {
	background: #fff;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
/*顶部导航背景默认色IPAD */

.lowB #header {
	background: #FFF;
}
#header ul li.navitem a.active, #header ul li.navitem:hover a {
	color: #03d522;
}
#indexPage a.more {
	color: #03d522;
	border-color: #ececec;
}
#indexPage a.more:hover {
	color: #fff;
	border-color: #03d522;
	text-indent: 130px;
	background: #03d522
}
#indexPage #mpartner .slider_control a:hover {
	background-color: #03d522
}
#contactform p .inputsub {
	background-color: #03d522;
}
#contactform .inputtxt.active {
	border-color: #03d522
}
#pages a.active, #pages a:hover {
	background: #03d522;
}
.bx-wrapper .bx-controls-direction a:hover {
	background-color: #03d522
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
	border: #03d522 1px solid;
	background-color: #03d522;
}
.serviceitem:hover .title {
	color: #03d522;
}
#header ul li.navitem a {
	color: #999;
}
.serviceitem div p.description {
	color: #A5A5A5;
	height: 50px;
	overflow: hidden;
	width: 100%;
	margin-top: 10px;
}
/*导航下拉菜单 */



#header ul li.navitem ul.subnav li a {
	padding: 14px 30px;
	width: 150px;
	height: 20px;
	line-height: 20px;
	background: rgba(255, 255, 255, 1);
	display: block;
	font-size: 12px;
	transition: all 0.2s ease-out 0s;
	color: #999;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
#header ul li.navitem ul.subnav li a:hover {
	text-indent: 10px;
	background: #f4f4f4;
	color: #6c6c6c;
}
#header ul li.navitem ul.subnav {
	border-top: #03d522 3px solid;
	border-radius: 2px;
}
#header ul li.navitem ul.subnav li {
	border-bottom: 1px solid #FFF;
}
/*幻灯左右切换按钮 */

.bx-wrapper .bx-controls-direction a {
	background: rgba(0, 0, 0, 0.2);
}
/*副标题 */

.content .header p.subtitle {
	color: #ADADAD;
	font-size: 14px;
}
/*首页案例背景颜色 */

#indexPage #mproject {
	background-color: #FFF;
}
#category a {
	line-height: 16px;
	height: 16px;
	padding: 8px 40px;
	color: #898989;
	border: 1px solid #fff;
	margin-right: auto;
	display: inline-block;
	border-radius: 20px;
	transition: all 0.3s ease-out 0s;
}
#category a.active, #category a:hover {
	background: #fff;
	border-color: #fff;
	color: #03d522;
}
.nobanner #header {
	background: #fff;
}
/*链接颜色 */

.postbody a {
	color: #03d522;
}
/*案例1180 */

#mproject {
	padding-bottom: 80px
}
#projectlist, #projectmore {
	margin: 0 auto;
	width: 1180px
}
#projectlist .projectitem {
	width: 380px;
	margin-right: 20px;
	margin-bottom: 80px;
}
#projectlist .wrapper {
	margin-right: -20px
}
#projectmore {
	background: #fff;
	border: 1px solid #dfdfdf;
	font-family: "HELVETICANEUELTPRO-THEX";
	border-radius: 30px;
	color: #03d522;
	display: block;
	font-size: 20px;
	height: 58px;
	line-height: 58px;
	text-indent: 0px;
	transition: all 0.3s ease-out 0s;
	width: 360px;
	margin-top: 20px;
}
#projectmore:hover {
	background: #03d522;
	border: 1px solid #03d522;
	width: 360px;
	height: 58px;
	line-height: 58px;
	text-indent: 0
}
/*首页背景不平铺 */

#indexPage .module {
	background-size: auto;
}
/*首页背景不加透明蒙层 */

#indexPage #mproject .bgmask, #indexPage #mnews .bgmask, #indexPage #mservice .bgmask, #indexPage #mpage .bgmask {
	background-color: rgba(255, 255, 255, 0);
}
/*首页服务背景层 */

#indexPage #mservice {
	background-color: #f9fafc;
}
/*首页BANNER 文字位置*/

#indexPage #mslider ul li div {
	margin: 0px 380px auto auto;
	width: 350px;
	height: 400px;
	padding-top: 252px;
}
#indexPage #mslider ul li p.subtitle {
	font-size: 14px;
	height: 20px;
	transition-delay: 0.2s;
	color: #8a8a8c;
	text-align: left;
}
#indexPage #mslider ul li p.title {
	font-size: 60px;
	line-height: 70px;
	height: 70px;
	font-family: "HELVETICANEUELTPRO-THEX";
	text-align: left;
}
#projectlist .projectitem .project_info p.title {
	font-size: 14px;
	transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	margin-top: 120px;
	color: #333;
}
#projectlist .projectitem a:hover .project_info p.title {
	margin-top: 128px;
	color: #03d522;
	font-size: 14px
}
#projectlist .projectitem .project_info p.subtitle {
	margin-top: 0px;
	color: #999;
}
#projectlist .projectitem a:hover .project_info p.subtitle {
	margin-top: -16px;
	color: transparent;
}
#projectlist .projectitem a:hover .project_info {
	background: transparent
}
/*首页团队*/

#indexPage #mteam .header img {
	float: left;
	margin: 60px 50px 80px 330px;
	border-radius: 0px;
}
#indexPage #mteam .header p.title {
	color: #03d522;
	font-size: 24px;
	text-align: left;
	margin: 70px auto auto;
}
#indexPage #mteam .header p.subtitle {
	font-size: 12px;
	color: #4B4B4B;
	text-align: left;
	margin: 0px auto;
}
#indexPage #mteam .description {
	color: #808080;
	overflow: hidden;
	text-align: left;
	line-height: 24px;
	height: 50px;
	font-size: 13px;
	margin: 0px auto;
	width: 490px;
}
#indexPage #mteam {
	height: 500px;
	background-color: #292a2e;
}
#indexPage #mteam .slider_control a i {
	color: #666;
}
#indexPage #mteam .slider_control a:hover i {
	color: #03d522
}
#indexPage .module .bgmask {
	background-color: transparent;
}
#indexPage a.more:hover i {
	text-indent: 18px;
	color: #fff;
}
/*首页联系 */	

#contactform p {
	padding-top: 5px;
}
#contactform p .inputtxt {
	border: medium none;
	margin-bottom: 5px;
	background: transparent;
	border-bottom: 1px solid rgba(255,255,255,.1);
	transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
#contactform p .inputtxt:hover {
	border-bottom: 1px solid #03D522;
}
#contactform p .inputsub {
	background-color: #03d522;
	margin-top: 10px;
	padding: 8px 0px;
}
#contactinfo p {
	color: #717171;
}
#indexPage #mcontact {
	height: 600px;
	background-color: rgb(31, 31, 35);
}
#newslist .newsbody .title {
	height: 30px;
}
#newslist .newsbody .description {
	color: #A5A5A5;
}
#newslist .newsdate {
	width: 180px;
	float: right;
	margin: 0px 0px 0px 160px;
	padding-left: 40px;
	border-left: 1px solid rgb(230, 230, 230);
}
#newslist .newsinfo {
	margin-left: 40px;
	transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-webkit-transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#newslist .newstitem:hover {
	background: #03d522
}
#newslist .newsinfo .md {
	color: #03D522;
	font-size: 50px;
	text-align: left;
}
#newslist .newsinfo .year {
	text-align: left;
}
#newslist .newstitem i {
	transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	color: #ECE4E4;
}
#newslist .newstitem {
	height: 160px;
}


/*首页全屏 */
/*#indexPage #mslider{ height:0} */

/*chrome */
::-webkit-scrollbar-track-piece {
width:8px;
background-color:#f8f8f8;
}
::-webkit-scrollbar {
width:8px;
background-color:#00d420;
}
::-webkit-scrollbar-thumb {
width:8px;
background-color:#00d420;
}
::-webkit-scrollbar-thumb:hover {
width:8px;
background-color:#3d3d3d;
}
#projectib .projectitem {
	width: 165px;
	height: auto;
	float: left;
	margin-right: 10px;
	margin-bottom: 14px;
}
.teamitem a div.wrap {
	background: #03d522;
}
#header ul li.active a {
	color: #fff;
	background-color: #03d522;
	padding: 8px 24px;
	border-radius: 20px;
}

#header ul li.active:hover a {
	color: #fff;
}
.navitem .fa-angle-down {
	color: #9E9E9E;
	margin-left: 8px;
	font-size: 12px;
}
