/* 织梦58（dede58.com）做最好的织梦整站模板下载网站 */
@charset "utf-8";
/* CSS Document */



/*顶部导航居右 */

#header .btn {
	background: #fff;
}
#header {
	background: #fff;
}
#indexPage #mproject {
	background-color: #FFFFFF;
}
#projectmore {
	color: #FFF;
	background: #B8B8B8;
	font-family: "HELVETICANEUELTPRO-THEX";
}
#leftcontrol ul li.active a span.circle {
	border-color: #03D522;
	background-color: #03D522;
}
#indexPage a.more {
	color: #03D522;
}
.postbody a {
	color: #03D522;
}
#category .label {
	background: #03D522;
}
#pages a.active, #pages a:hover {
	background: #03D522;
}
.dropmenu ul li a.active {
	color: #03D522;
}
#indexPage #mnews {
	background-color: #fff;
}
#indexPage #mteam {
	background-color: #fff;
}
#indexPage #mcontact .header p.title {
	color: #5F5F5F;
}
#contactinfo h3 {
	color: #6D6D6D;
}
#indexPage #mcontact {
	background-color: #FFFFFF;
}
#contactinfo div a {
	color: #A0A0A0;
	background: #FFFFFF;
	border: #f0f0f0 1px solid;
}
#footer {
	background: #FFF;
	border: #f0f0f0 1px solid;
}
.content .header p.title {
	font-family: "HELVETICANEUELTPRO-THEX";
}
#leftcontrol ul li a {
	font-family: "HELVETICANEUELTPRO-THEX";
}
#contactinfo p.ellipsis a {
	color: #00d420;
}
#indexPage #mslider {
	height: 300px;
}
.bx-viewport {
	max-height: 300px;
}
#indexPage #mslider ul li {
	height: 300px;
}
.plr5 {
	padding: 5px 0px;
}
#indexPage a.more:hover {
	border: #03d522 1px solid;
	background: #03d522;
}
