@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

.slider {
	height: 80px
}

.slider img {
	height: 80px
}

.hand {
	display: inline-block;
	background: transparent url(../img/hand.png) top left no-repeat;
	background-size: 100% 100%;
	position: relative;
}

.hand img {
	width: 90%;
	position: absolute;
	left: 5%;
	top: 20%;
}

.score {
	position: absolute;
	right: 5px;
	top: 5px;
}

.score img {
	vertical-align: middle;
	width: 20px;
	margin-right: 1px;
}

.score font {
	vertical-align: middle;
	font-size: 20px;
	color: orangered;
	font-weight: bold;
	min-width: 40px;
	display: inline-block;
	text-align: right;
}

.times {
	position: absolute;
	left: 5px;
	top: 5px;
}

.times img {
	vertical-align: middle;
	width: 20px;
	height: 20px;
}

.times font {
	vertical-align: middle;
	font-size: 20px;
	color: orangered;
	font-weight: bold;
}

.dialog {
	display: inline-block;
	height: 300.00px;
	width: 100%;
	background: transparent url(../img/dialog.png) top left no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 100px;
	display: none;
	z-index: 10000;
}

.item_dialog {
	background: transparent url(../img/item_list.png) top left no-repeat;
	background-size: 100% 100%;
	height: 55px;
	margin: 0 5px;
	position: relative;
}

.item_dialog2 {
	background: transparent url(../img/item_list2.png) top left no-repeat;
	background-size: 100% 100%;
}

.list_dialog {
	margin-top: 50px;
	overflow-y: auto;
	height: 220px;
}

.icon_rank {
	background: transparent url(../img/icon_rank.png) top left no-repeat;
	background-size: 100% 100%;
	height: 35px;
	position: absolute;
	width: 35px;
	top: 8px;
	left: 20px;
}

.item_dialog .icon_rank font {
	color: white;
	font-size: 25px;
	width: 100%;
	display: inline-block;
	height: 100%;
	text-align: center;
	font-weight: bold;
	margin-top: 1px;
}

.item_img {
	height: 40px;
	width: 40px;
	position: absolute;
	left: 60px;
	margin-top: 3px;
	border: 2px solid white;
	border-radius: 5px;
}

.rank_name {
	margin-left: 120px;
	color: whitesmoke;
	font-weight: bolder;
	font-size: 18px;
	padding-top: 5px;
}

.rank_score {
	margin-left: 120px;
	font-size: 20px;
	color: white;
	font-weight: bold;
}

.dialog_close {
	background: transparent url(../img/close.png) top left no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 10px;
	width: 25px;
	height: 25px;
	top: 10px;
}

.dialog_title {
	height: 20px;
	position: absolute;
	width: 30%;
	left: 35%;
	top: 12px;
}

.item_award {
	background: transparent url(../img/item_award.png) top left no-repeat;
	background-size: 100% 100%;
	min-width: 80px;
	height: 25px;
	position: absolute;
	left: 100px;
	text-align: center;
	padding: 0 5px;
}

.item_award font {
	display: inline-block;
	padding-top: 6px;
	color: orangered;
	font-weight: bolder;
	font-size: 15px;
}

.award_text {
	position: absolute;
	left: 100px;
	bottom: 6px;
	color: white;
	font-weight: bold;
	font-size: 15px;
}

.award_text font {
	font-size: 20px;
	color: orange;
}

.award_btn {
	position: absolute;
	right: 20px;
	top: 12px;
	border: 1px solid gainsboro;
	border-radius: 5px;
	background: orangered;
	color: white;
	padding: 3px 10px;
}

.dialog2 {
	background: transparent url(../img/dialog2.png) top left no-repeat;
	background-size: 100% 100%;
}

.dialog3 {
	background: transparent url(../img/dialog3.png) top left no-repeat;
	background-size: 100% 100%;
	top: 0;
	height: auto;
}

.rule_content {
	height: 210px;
	overflow-x: hidden;
	text-align: left;
	word-break: break-word;
	margin: 50px 25px 0 22px;
	color: #75320d;
	font-weight: bold;
	font-size: 15px;
	line-height: 25px;
}

.prize_content {
	margin: 115px 30px 60px 30px;
}

.rank_info {
	text-align: center;
}

.rank_info img {
	width: 60px;
	height: 60px;
	border: 1px solid gainsboro;
	border-radius: 50%;
	vertical-align: middle;
}

.rank_info b {
	font-size: 25px;
	color: orangered;
	margin-left: 10px;
}

.prize_index {
	background: transparent url(../img/prize_item.png) top left no-repeat;
	background-size: 100% 100%;
	width: 100px;
	display: inline-block;
	color: #75320d;
	font-size: 20px;
	margin-top: 10px;
}

.prize_info {
	text-align: center;
}

.prize_info b {
	display: block;
}

.prize_info img {
	max-height: 100px;
}

.qrcode {
	text-align: center;
}

.qrcode img {
	width: 150px;
}

.qrcode p {
	color: gray;
	font-size: 15px;
	font-weight: bold;
}

.input_item {
	list-style: none;
}

.input_item li {
	padding: 3px 0;
}

.input_item label {
	width: 70px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
}

.input_item input {
	border: 1px solid gainsboro;
	border-radius: 5px;
	padding: 5px 10px;
	width: 150px;
}

.input_item textarea {
	border: 1px solid gainsboro;
	border-radius: 5px;
	padding: 5px 10px;
	width: 150px;
	vertical-align: middle;
}

.btn_submit {
	background: transparent url(../img/font_submit.png) top left no-repeat;
	background-size: 100% 100%;
	width: 80px;
	height: 35px;
	display: inline-block;
}

.swiper-container {
	width: 60%;
	margin: 0px auto;
	height: auto;
	position: relative;
	z-index: 10;
	overflow: hidden;
	padding: 50px 0px 20px;
}

.swiper-wrapper {
	width: 9999px;
	height: auto;
	position: relative;
}

.swiper-wrapper .swiper-slide {
	height: 100%;
	float: left;
	position: relative;
	z-index: 10;
	perspective: 1000;
	-webkit-perspective: 1000;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

.swiper-slide-main {
	color: #4d1f00;
	border: 1px solid gainsboro;
	width: 94%;
	height: 214px;
	overflow: hidden;
	margin: 0px auto 0px;
	transform: rotateY(0deg);
	background: rgba(255, 255, 255, .6);
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

.swiper-wrapper .cur .swiper-slide-main {
	overflow: hidden;
	width: 94%;
	height: 214px;
	background: rgba(255, 255, 255, 1);
	margin-top: 0px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

.swiper-slide-main .swiper-slide-link {
	width: 100%;
	height: auto;
	overflow: hidden;
	display: block;
}

.swiper-slide-main h5 {
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	text-align: center;
}

.swiper-wrapper .cur .swiper-slide-main h5 {
	height: 40px;
	line-height: 40px;
}

.swiper-slide-content {
	width: 100%;
	height: 100px;
	overflow: hidden;
}

.swiper-slide-content img {
	max-height: 100px;
	width: 100px;
	display: block;
	position: relative;
	z-index: 10;
	margin: 0px auto;
	overflow: hidden;
	z-index: 10;
}

.swiper-slide-main p {
	padding: 8px 8px;
	height: auto;
	overflow: hidden;
	line-height: 16px;
	font-size: 15px;
}

.swiper-wrapper .cur .swiper-slide-footer a.TaskDetailsBtn {
	height: 40px;
	line-height: 40px;
	background: rgba(255, 249, 178, 1);
}

.swiper-wrapper .cur .swiper-slide-footer a.toTaskBtn {
	height: 40px;
	line-height: 40px;
	background: rgba(255, 241, 80, 1);
}

.front {
	overflow: hidden;
	position: absolute;
	top: 0px;
	height: 214px;
	z-index: 2;
	background: #fff;
	width: 100%;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

.swiper-slide-main .Hascompleted .HascompletedIcon {
	width: 60%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	display: block;
	position: absolute;
	bottom: 40%;
	left: 50%;
	margin-left: -30%;
	z-index: 100;
	border: 2px solid red;
	color: red;
	font-size: 16px;
	font-weight: bold;
	transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
}

.swiper-slide-main .HascompletedIcon {
	display: none;
}

.pointer {
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
}

.pointer span {
	width: 8px;
	height: 8px;
	margin: 0px 2px;
	display: inline-block;
	background: rgba(0, 0, 255, .4);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.pointer span.current {
	background: rgba(0, 255, 0, 1);
}

.swiper-slide-main {
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	-ms-transition: all .6s;
	-o-transition: all .6s;
	transition: all .6s;
	transform-style: preserve-3d;
	position: relative;
}

.fliplast {
	
}

.fliplast .swiper-slide-footer {
	position: absolute;
	z-index: 100;
	left: 0px;
	bottom: 0px;
}

.fliplast p {
	height: auto;
	overflow: hidden;
}

.fliplast .rotating {
	width: 24px;
	height: 24px;
	display: block;
	background: url(../images/iconfont-xuanzhuan.png) no-repeat;
	background-size: 24px 24px;
	position: absolute;
	right: 4px;
	top: 4px;
	z-index: 1000;
}

.businessMap {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #dbdbdb;
}

#infoallmap {
	width: 100%;
	height: 100%;
}