{template 'common/header'}
{if $op == 'display'}
<table class="table we7-table table-hover article-list vertical-middle">
        <tr>
        	<td>id</td>
            <td>姓名</td>
            <td>手机号</td>
            <td>邮箱</td>
            <td>预约类型</td>
            <td class="text-right">操作</td>
        </tr>
        {loop $yuyue $item}
        <tr>
            <td>
                {$item['id']}
            </td>
            <td>
                {$item['name']}
            </td>
            <td>
                {$item['tel']}
            </td>
            <td>
                {$item['email']}
            </td>
            <td>{$item['leixin']}</td>
            <td class="text-right">
                <a class="btn btn-default btn-sm" onclick="return confirm('此操作不可恢复，确认吗？'); return false;" href="{php echo $this->createWeburl('yuyue', array('id' => $item['id'], 'op' => 'delete'))}">删除</a>
            </td>
        </tr>
        {/loop}
    </table>
{/if}
</div>
</div>
{template 'common/footer'}

