body {
				font: 14px/1  微软雅黑;
			}
			
			.main {
				position: relative;
			}
			::-webkit-scrollbar {    width:4px;}/* 滚动槽 */
				::-webkit-scrollbar-track {    -webkit-box-shadow: inset 0 0px 5px rgba(195,195,195,1);    border-radius: 5px;}/* 滚动条滑块 */
				::-webkit-scrollbar-thumb {    border-radius: 0px;    background: rgba(195,195,195,1);    -webkit-box-shadow: inset 0 0 0px rgba(195,195,195,1);}
				::-webkit-scrollbar-thumb:window-inactive {    background: rgba(185,185,185,1);}
			.fl {
				float: left;
			}
			.width640{
				max-width:640px;
			}
			.fixedfile{
				width: 100%;
				z-index: 3;
				overflow:hidden;
			}
			.red-tishi i{
				color: rgb(214,73,97);
			}
			.block_video img{
				height: 100%;
			}
			.fixed{
				position: fixed;
				top: 0;
			}
			.showthisd{
				margin-top: 0;
				max-width: 640px;
				    margin-bottom: 50px;
				/*height: 1024px;*/
				cursor: pointer;
			}
			.minh{
				min-height: 500px;
			}
			.contents{
				position: relative;
				
			}
			.advertising{
				width: 100%;
				max-width: 640px;
				
			}
			.gun{
				position: absolute;
				top: 0;
				left: 0;
				height: 25px;
				line-height:26px;
				width: 100%;
				background: rgba(0, 0, 0, 0.4);
				color: #fff;
				z-index: 1;
			}
			.gun .vp{
				width: 25%;
				height: 25px;
				line-height: 28px;
				text-align: center;
				font-size: 12px;
			}
			.watermark{
				text-align: center;
				font-family: microsoft yahei;
			}
			.watermark p{
				color: #fff;
				text-shadow: 1px 1px 1px #333;
				margin-bottom: 0;
				position: absolute;
				
				z-index: 4;
			}
			.watermark p img {
				display: block;
				width: 100px;
			}
			.watermark .vp{
				background-color: rgba(31, 31, 31, 0.39);
				color: #fff;
				padding: 2px 7px;
				margin-top: 5px;
				border-radius: 12px;
				margin-right: 0.3rem;
				position: absolute;
				z-index: 4;
			}
			.watermark .vp i{
				font-size: 13px;
			}
			.all-vide{
				position: relative;
			}
			.red-tishi i{
				color: rgb(214,73,97);
			}
			.block_video{
				height: 100%;
				width: 100%;
				position: relative;
				height: auto;
				background-color: #000;
			 
			    max-width: 640px;
			 
			}
			.block_video object{
			    z-index: 2;
			}
			.TAstate {
				height: 40px;
				width: 100%;
				background-color: #fff;
			    z-index: 3;
			    max-width: 640px;
			}
			.borb {
				border-bottom: 1px solid #f2f2f2;
			}	
			.TAstate li {
				width: 25%;
				height: 40px;
				line-height: 40px;
				color: #808080;
				text-align: center;
				float: left;
				cursor: pointer;
			}
			
			.currentli {
				color: #31ac84!important;
				border-bottom: 2px solid #31ac84;
			}
			/*.char_message img{
				height: 30px;
			}*/
			
			.hidediv {
				display: none;
			}
			
			.sec {
				color: #31ac84;
				padding: 0px 2px;
			}
			
			.tishis{
				    width: 92%;
				height: auto;
				background-color: #D2D2D2;
				border-radius: 5px;
				text-align: center;
				color: #fff;
				margin: 8px auto;
				padding: 3px 10px;
				display: block;
				line-height: 18px;
				font-size: 12px;
			}
			
			.tishi {
				display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				width: 95%;
				height: 25px;
				line-height: 25px;
				background-color: #D2D2D2;
				border-radius: 5px;
				text-align: center;
				margin: 8px auto;
				color: #fff;
				padding: 0 10px;
			}
			
			.red-tishi span {
				color: #f99c3b;
				clear: both;
				    font-weight: bold;
			}
			
			.red-tishi img {
				display: inline;
			}
			.red-tishi {
				display: block;
				/*white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;*/
				width: 75%;
				background-color: #D2D2D2;
				border-radius: 5px;
				text-align: center;
				margin: 8px auto;
				color: #fff;
				padding: 2px 0px;
				position: relative;
			}
			.red-tishi b{
				display: inline-block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				width: 72px;
				background-color: #D2D2D2;
				text-align: center;
				color: #fff;
				font-weight: normal;
				font-style: normal;
				position: relative;
    			top: 2px;
			}
			
			.grap {
				z-index: 5;
			}
			.graps{
				z-index: 6 !important;
				opacity: 0.8;
				background-color:rgb(6, 6, 6);
			}
			.content {
				position: relative;
			}
			
			.chat_title {
			    width: 100%;
			    box-sizing: content-box;
			    height: 100%;
			     overflow: scroll; 
			    overflow-x: hidden;
			}
			
			.chat_title li {
				position: relative;
				display: block;
				clear: both;
				width: 90%;
				display: flex;
				display: -webkit-flex;
				padding: 1% 0px 5% 3%;
			}
			
			.chat_title li .chat_left {
				flex-flow: 1;
				/*-webkit-flex-flow: 1;
				-webkit-flex: 1;  */
				float: left;
				text-align: center;
			}
			
			.head_portrait {
				width: 40px;
				height: 40px;
				overflow: hidden;
				border-radius: 50%;
				margin-bottom: 5px;
			}
			.head_portrait img {
				height: 100%;
			}
			
			.chat_title li .chat_left i {
				text-align: center;
				font-size: 22px;
				/*background-color: rgb(249, 149, 46);*/
				padding: 2px;
				color: rgb(249, 149, 46);
				height: 25px;
				width: 25px;
				/*border: 1px solid rgb(249, 149, 46);*/
				border-radius: 50%;
				cursor: pointer;
			}
			
			.chat_right {
				flex-flow: 2;
				-webkit-flex-flow: 2;
				-webkit-flex: 2;
				float: left;
				width: 90%;
				font-size: 1.5rem;
				margin-left: 10px;
			}
			
			.char_message {
				position: relative;
				float: left;
				max-width: 90%;
				padding: 0.5rem;
				margin-top: 7px;
				background: #fff;
				/*border: solid 1px #e5e5e5;*//
				border-radius: 5px;
				line-height: 1.8rem;
				cursor: pointer;
				word-break: break-all;
				border-radius: 4px;
			}
			
			.char_message .send {
				position: absolute;
			    top: 4px;
			    left: -5px;
			    width: 0;
			    height: 0;
			    font-size: 0;
			    border-bottom: 8px solid transparent;
			    border-top: 4px solid transparent;
			    border-right: 5px solid #FFFFFF;
			}
			
			.chat_right .char_message .close {
				position: absolute;
				top: -12px;
				right: -12px;
				color: #fff;
				height: 20px;
				width: 20px;
				border-radius: 18px;
				background-color: #000;
				font-size: 20px;
				text-align: center;
				line-height: 22px;
				opacity: 0.4;
			}
			.closemsg {
				position: absolute;
				top: -12px;
				right: -12px;
				color: #fff;
				height: 20px;
				width: 20px;
				border-radius: 18px;
				background-color: #000;
				font-size: 20px;
				text-align: center;
				line-height: 22px;
				opacity: 0.4;
			}
			/*右边导航*/
			.cont-right {
				position: absolute;
				top: 18%;
				right: 15px;
			}
			
			.cont-right li {
				width: 32px;
				height: 32px;
				margin-top: 6px;
				line-height: 27px;
				background-color: rgb(255, 255, 255);
				border-radius: 50%;
				padding: 3px;
				text-align: center;
				cursor: pointer;
				box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
			}
			
			.cont-right i {
				font-size: 19px;
    			color: #3DB38D;
			}
			p.history {
			    position: absolute;
			    top: 10px;
			    color: #8DB8E6;
			    left: 50%;
			    width: 95px;
			    margin-left: -42px;
			    font-size: 14px;
			    cursor: pointer;
			    height: 30px;
    			line-height: 30px;
			}
			
			.redbao .red_message {
				background-color: rgb(249, 156, 49);
				height: 104px;
				width: 300px;
				padding: 0px;
				border-radius: 5px;
			}
			
			.redbao .red_message .red_name {
				background-color: #fff;
				height: 27px;
				width: 100%;
				position: absolute;
				bottom: 0px;
				border-radius: 0 0 5px 5px;
				border: 1px solid #fff;
				font-size: 14px;
				line-height: 26px;
				padding-left: 5px;
			}
			
			.redbao .red_message .red-red {
				padding: 12px 0px 15px 7px;;
				/*overflow: hidden;
				display: flex;*/
				width: 100%;
			}
			
			.redbao .red_message .red-red img {
				float: left;
				flex-flow: 1;
			}
			.redbao .red_message .red-red .red-cent {
				float: left;
				width: 74%;
				flex-flow: 2;
				margin-top: 5px;
			}
			
			.redbao .red_message .red-red .red-cent p {
				margin-bottom: 6px;
				color: #fff;
				clear: both;
				overflow: hidden;
				width: 100%;
			}
			.redbao .red_message .red-red .red-cent p:last-child {
				margin-top: 4px;
			}
			
			.redbao .red_message .red-red .red-cent .red-title {
				font-size: 19px;
				display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			
			.redbao .red_message .send {
				border-color: #f0f0f0 rgb(249, 156, 49) #f0f0f0 #f0f0f0;
			}
			
			.footer {
				position: fixed;
				width: 100%;
				max-width: 640px;
				background-color: #fff;
				bottom: 0;
				z-index: 4;
				-webkit-transform: translateZ(0);
			}
			
			.footer-bar {
				display: flex;
				position: relative;
				bottom: 0;
				width: 100%;
    			background-color: #f7f7f7;
    			-webkit-transform: translateZ(0);
			}
			.footer-bar .btnicont {
				width: 30px;
				height: 50px;
				display: block;
				line-height: 51px;
				color: #888;
				float: left;
			}
			
			.footer-bar .btnicont.iconfont {
				font-size: 35px;
			}
			
			.footer .gift.iconfont {
				/*border: 1px solid rgb(237, 78, 56);*/
				/*background-color: rgb(237, 78, 56);*/
				border-radius: 50%;
				height: 30px;
				width: 30px;
				color: #ED4E38;
				line-height: 30px;
				margin-top: 14px;
			}
			
			.footer .gift {
				float: right !important;
				margin-right: 2px;
			}
			
			.footer-bar .footer-left {
				float: left;
				width: 85%;
			}
			
			.footer-bar .footer-left .btnicont {
				float: left;
				width: 33px;
			}
			.footer-left a:first-child{
					    margin: 0 10px;
				}
			
			.footer .footer-right {
				float: right;
				width: 12%;
				position: absolute;
    			right: 2%;
			    top: 0px;
			    height: 50px;
			}
			.footer-bar .text-input {
				display: block;
				width: 71%;
				font-size: 16px;
				color: #333;
				background: #fff;
				float: left;
			}
			.footer-bar .text-input {
			    border: 1px solid #c6c6c6;
			    border-radius: 20px;
			    height: 32px;
			    min-height: 32px;
			    line-height: 32px;
			    margin-top: 8px;
			    padding: 5px 0 5px 10px;
			}
			.footer-bar .btn-sub {
				background-color: #31AC84;
				color: #fff;
				/*padding: 11px 9px;*/
				margin-top: 0.78rem;
				border-radius: 5px;
				max-width: 60px;
				position: absolute;
				bottom: 0.5rem;
				right: 0;
				width: 100%;
				text-align: center;
				height: 35px;
				line-height: 35px;
			}
			.footer-bar .showfun {
				font-size: 35px;
				    width: 100%;
			    height: 50px;
			    display: block;
			    line-height: 56px;
			    color: #888;
			    float: left;
			    text-align: center;
			    /*position: absolute;
				bottom: 0px;
				right: 13%;*/
			}
			.allgift{
				display: none;
			}
			.gift-list {
				width: 100%;
				background-color: #fff;
				clear: both;
				overflow: hidden;
				
			}
			
			.gift-list li {
				float: left;
				width: 25%;
				text-align: center;
				border: 1px solid #EEEEEE;
				border-left: none;
				border-top: none;
				min-height: 88px;
				color: #333;
				cursor:pointer;
			}
			
			.gift-list li p img {
				text-align: center;
				width: 50px;
				margin: 0 auto;
				height: 50px;
				padding: 2px;
			}
			
			/*.gift-list li:not(:fir) p:last-child {
				color: #9C9C9C;
			}*/
			
			.gift-list li p {
				margin-bottom: 3px;
				color: #333;
			}
			
			.select {
				background-color: #E2E2E2;
			}
			
			.zhuang {
				width: auto;
				padding-right: 4px;
				-webkit-box-sizing: border-box;
			}
			/*禁言管理*/
			.Bannedmages .Banned-list{
				position: relative;
				height: 50px;
				border-bottom: 1px solid #ccc;
				line-height: 50px;
				width: 100%;
				background-color: #fff;
				padding: 0 7px;
			}
			.Bannedmages {
				background-color: #EFEFF4;
				position: fixed;
				bottom: 0;
			}
			.Bannedmages .colose{
				height: 40px;
				border-bottom: 1px solid #ccc;
				line-height: 40px;
				width: 100%;
				text-align: center;
				display: block;
				margin-top: 17px;
				background-color: #fff;
				cursor: pointer;
			}
			.Bannedmages .Banned-list span{
				float: left;
			}
			.Bannedmages .Banned-list span{
				float: left;
			}
			.Bannedmages .Banned-list .mui-switch{
				float: right;
				width: 50px;
				margin: 10px 8px 0px 0;
			}
			.Bannedmages .Banned-list .mui-switch input[type="checkbox"]{
				    width: 50px;
				    position: relative;
				    z-index: 5;
			}
			/*功能*/
			.function-file {
				background-color: #fff;
				clear: both;
				overflow: hidden;
				padding: 8px 8px;
			}
			
			.function-file div {
				float: left;
				width: 50%;
			}
			
			.function-file div section {
				margin-top: 5px;
			}
			
			.function-file div section p {
				display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			
			.function-file div img {
				float: left;
				border-radius: 5px;
				overflow: hidden;
				width: 50px;
				margin-right: 10px;
			}
			
			.function-all {
				position: fixed;
				bottom: 0px;
				z-index: 5;
				width: 100%;
				display: none;
				max-width: 640px;
			}
			
			.function-live {
				width: 100%;
				background-color: #F6F4F5;
				padding-top: 30px;
				clear: both;
				overflow: hidden;
			}
			
			.function-live li {
				float: left;
				width: 25%;
				height: auto;
				text-align: center;
				cursor: pointer;
			}
			
			.function-live li i {
				padding: 15px 18px;
				background-color: #fff;
				font-size: 30px;
				border-radius: 8px;
				cursor: pointer;
			}
			
			.function-live li p {
				margin-top: 25px;
			}
			
			.function-live li:first-child i {
				color: #20abe7;
			}
			.function-live li:nth-child(2) i {
				color: #ff6b72;
			}
			.function-live li:nth-child(3) i {
				color: #93c602;
			}
			.function-live li:last-child i {
				color: #31AC84;
			}
			/*关注公众号*/
			
			.focus-on-qz,.focus-on {
				margin: 0 auto;
				position: fixed;
				top: 50%;
				margin-top: -154px;
				padding: 20px;
				background-color: #fff;
				text-align: center;
				left: 50%;
    			margin-left: -130px;
				z-index: 6;
				border-radius: 2px;
				display: none;
				max-width: 640px;
			}
			
			.focus-on-qz img,.focus-on img {
				max-width: 203px!important;
				max-height: 203px!important;
				width: 100%;
				height: 100%;
				margin-top: 2%;
				text-align: center;
				margin: 0 auto;
			}
			
			.focus-on-qz p,.focus-on p {
				font-size: 20px;
				color: #62635a;
			}
			.focus-on-qz p:nth-child(3),.focus-on p:nth-child(3) {
				height: 50px;
				line-height: 50px;
			}
			
			.focus-on-qz p:last-child,.focus-on p:last-child {
				font-size: 16px;
				color: #9C9C9C;
			}
			.focus-on-click {
			    display: block;
			    position: absolute;
			    right: 2px;
			    top: 2px;
			    width: 30px;
			    height: 30px;
			    font-size: 26px;
			    transform: rotate(45deg);
			    background-color: rgba(0,0,0,0.2);
			    border-radius: 50%;
			    color: #fff;
			}
			/*收藏*/
			
			.collection {
				position: fixed;
				top: 5%;
				display: none;
				z-index: 7;
				padding: 5px;
			}
			.collection img{
				width: 75%;
    			margin-left: 25%;
				
			}
			
			.operation {
				width: 100%;
				position: fixed;
				bottom: 0px;
				z-index: 5;
				background-color: rgb(243, 239, 247);
				display: none;
			}
			
			.operation li {
				width: 100%;
				text-align: center;
				height: 40px;
				line-height: 40px;
				border-bottom: 1px solid #EEEEEE;
				background-color: #fff;
				cursor: pointer;
			}
			
			.operation li:last-child {
				margin-top: 10px;
			}
			
			/*开红包旋转*/
			.rey{
				animation:change 1s linear infinite;
				-webkit-animation:change 1s linear infinite;
				-moz-animation:change 1s linear infinite;
				-o-animation:change 1s linear infinite;
				-ms-animation:change 1s linear infinite;
				}
				@-webkit-keyframes change
				{
				0%{-webkit-transform:rotateY(0deg);}
				50%{-webkit-transform:rotateY(180deg);}
				100%{-webkit-transform:rotateY(360deg);}
				}
			
			
			/*打赏排行*/
			
			.totip {
				width: 100%;
			}
			
			.totip li {
				width: 90%;
				margin: 10px auto;
				height: 50px;
				line-height: 47px;
				background-color: #fff;
				border-radius: 5px;
			    font-size: 15px;
			}
			
			.totip li span {
				float: left;
				width: 18%;
				text-align: center;
			}

			.totip li .ranknum {
				padding: 1px;
				margin-left:34px;
			}
			.totip li .men {
				//background-color: rgb(106, 186, 246);
				color: #31ac84;
				border-radius: 5px;
				padding: 1px;
				//margin-left:34px;
				font-size: 14px;
			}
			
			.totip li .women {
				background-color: rgb(255, 165, 181);
				color: #fff;
				border-radius: 5px;
				padding: 1px;
				margin-left: 34px;
				font-size: 14px;
			}
			.names{
				display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				width: 115px;
				font-weight: normal;
				font-style: normal;
				float: left;
			}
			.totip li>img {
				float: left;
				margin: 8px 10px 0 0;
				border-radius: 5px;
				width: 35px;
				height: 35px;
			}
			.reading {
				width: 100% height: 100%;
				display: none;
			}
			
			.reading img {
				width: 100%;
				position: absolute;
				top: 20%;
				z-index: 9;
			}
			
			.reading i {
				width: 100%;
				position: absolute;
				top: 0;
				z-index: 9;
				background-color: #d4d4d4;
				padding: 2px;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				right: 0px;
				line-height: 30px;
				font-size: 28px;
				color: #fff;
				cursor: pointer;
			}
			
			.reading .stargrap {
				position: absolute;
				top: 0px;
				background-color: rgba(14, 14, 14, 0.45);
				height: 100%;
				width: 100%;
				z-index: 8;
			}
			
			.zhuang {
				width: 100%;
				height: 50px;
				margin: 15px 0px;
				line-height: 50px;
				display: block;
				z-index: 9;
				background-color: #fff;
				position: absolute;
				bottom: -16px;
				display: flex;
				display: none;
			}
			
			.zhuang .countes {
				float: left;
				text-align: center;
				padding: 0px 8px;
			}
			
			.zhuang .jian {
				float: left;
			}
			
			.zhuang .jian,
			.jia,
			.countKuang {
				height: 35px;
				text-align: center;
				line-height: 35px;
				float: left;
				margin-top: 3px;
			}
			
			.zhuang .jian,
			.jia {
				width: 40px;
				border: 2px solid #F5F5F5;
				font-size: 16px;
				display: block;
				margin-bottom: 0;
			}
			.zhuang .jian,
			.jia {
				width: 35px;
				border: 2px solid #F5F5F5;
				font-size: 16px;
				display: block;
				margin-bottom: 0;
			}
			.zhuang
			.jia {
				margin-right: 3%;
			}
			
			.zhuang .countKuang {
				border: none;
				outline: none;
				width:43px;
				height: 35px;
				border-radius: 0;
				border-top: 2px solid #F2F2F2;
				border-bottom: 2px solid #F2F2F2;
				padding: 0px;
				margin-bottom: 0px;
			}
			
			.zhuang .allmoney button {
				margin-left: 3%;
				/*padding: 5% 10%;*/
				background-color: #31AC84;
				color: #fff;
				margin-top: 8px;
			}
			.zhuang .allmoney span {
				color: #31AC84;
				font-size: 16px;
			}
			.zhuang .allmoney{
				float: left;
				width: 44%;
				height: 50px;
				line-height: 50px;
				text-align: right;
				flex-flow: 2;
				padding-right: 3px;
			}
			.zhuang .moneymag{
				flex-flow: 2;
				width: 43%;
				float: left;
				padding-top: 4px;
			}
			.zhuang .moneyjia{
				float: left;
				width: 12%;
				flex-flow: 1;
			}
			/*表情*/
			.browlist {
			    width: 100%;
			    border: 1px solid #e1e1e1;
			    max-height: 123px;
			    background: #EEEEEE;
			    overflow: hidden;
			    margin: 0 auto;
			    padding-top: 10px;
			    display: none;
			    overflow-y: auto;
			}
			.browlist li {
				cursor: pointer;
			    float: left;
			    margin: 0.8% 0.25em;
			}
			/*上传图片*/
			.showfunction{
				width: 100%;
				background-color: #fff;
				border-top: 1px solid #D4D4D4;
				display: none;
				height: 110px;
			}
			.showfunction li{
				float: left;
				    height: 72px;
				    line-height: 33px;
				    margin-top: 20px;
				    margin-left: 20px;
				position: relative;
				text-align: center;
				cursor: pointer;
			}
			.showfunction li i{
				border: 1px solid #EEEEEE;
				border-radius: 5px;
				padding: 12px 14px;
    			font-size: 22px;
			}
			.showfunction li p{
				padding: 3px 0px;
				margin-bottom: 0;
			}
			.showfunction li .input-files{
				height: 60px;
				position: absolute;
				top: 0px;
				left: 0;
				opacity: 0;
				z-index: 2;
				cursor: pointer;
				width: 60px;
			}
			
			/*红包列表*/
			.redlist{
				position: fixed;
				top: 0%;
				width: 100%;
				height: 100%;
				z-index: 1002;
				display: none;
				
			}
			.redlist .ovredlist{
				max-height: 450px;
				overflow: scroll;
				overflow-x: hidden;
			}
			.redlist .alllist{
				widows: 100%;
				    margin-top: 5em;
			}
			.redlist .alllist h5{
				    height: 45px;
			    border: 1px solid #CCC;
			    line-height: 45px;
			    padding-left: 10px;
			    border-style: solid none solid none; 
			    background-color: rgb(250,246,241);
			}
			.redlist .alllist li{
				    display: block;
    				height: 62px;
				border-bottom: 1px solid #ccc;
				padding: 8px 6px;
				clear: both;
			}
			.redlist .alllist li img{
				border-radius: 50%;
				border:1px solid #fff;
				float: left;
				width: 40px;
				height: 40px;
			}
			.redlist .alllist li div{
				float: left;
				margin: 2px 0 0 20px;
				width: 60%;
			}
			.redlist .alllist li div p:first-child{
				display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			
			.redlist .alllist li span{
				float: right;
				height: 65px;
    			line-height: 41px;
			}
			/*开红包*/
			.open{
				position: fixed;
				top: 0%;
				z-index: 9999 !important;
				height: 100%;
				width: 100%;
				display: none;
			}
			.open .redcenters{
				    background-color: #d84e43;
			}
			.open .redcenters .text_flow{
				   color: #ddbc84;
				       margin: 12px 0px;
			}
			.open .redcenters .mar10{
				   margin-top: 50px;
				   font-size: 14px;
			}
			.open .redcenters .RedPack_Info .text_flow:last-child{
				   color: #ddbc84;
				   font-size: 18px;
			}
			.open .redcenters .hiders .cose{
				    position: absolute;
				    top: 0px;
				    right: 0px;
			}
			.open .redcenters .hiders{
				   height: auto !important;
			}
			.open .redcenters .hiders .HeadTop{
				   height: 195px;
			}
			.open .redcenters .HeadTop{
				box-shadow: none;
				background-color: #E05449;
			}
			.open .open-red{
				background-color: #E05449;
				height: 150px;
				    border-radius: 8px 8px 0 0px;
			}
			.open .redcenters  .openkai{
				background-color: #DDBC84;
				width: 65px;
				height: 65px;
				border-radius: 50%;
				text-align: center;
				line-height: 65px;
				margin: -33px auto;
				padding: 3px;
			    position: relative;
			    cursor: pointer;
			}
			.open .redcenters  .openkai .openkais{
				background-color: #DDBC84;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				border:1px solid #d2b27d;
				text-align: center;
				line-height: 61px;
				font-size: 26px;
			}
			/*全员禁言*/
			.Banned{
				position: fixed;
				top: 0%;
				z-index: 1002;
				height: 100%;
				width: 100%;
				display: none;
			}
			.Banned .alllist li{
				    display: block;
				    height: 62px;
				    border-bottom: 1px solid #F0F0F3;
				    padding: 8px 15px;
				    clear: both;
				    line-height: 41px;
			}
			.Banned .alllist li img {
			    border-radius: 50%;
			    border: 1px solid #fff;
			    float: left;
			    width: 40px;
			    height: 40px;
			}
			.Banned .alllist li div p{
			    float: left;
			    margin: 2px 0 0 20px;
			   	width: 130px;
			    display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.Banned .alllist li span {
			    float: right;
			    border: 1px solid #ccc;
			    border-radius: 8px;
			    height: 30px;
			    line-height: 30px;
			    padding: 0 8px;
			    margin-top: 8px;
			    cursor: pointer;
			}
			.Banned .cose{
				position: absolute;
			    right: -5px;
			    top: -6px;
			}
			.Banned .alllist {
				height: 92%;
			    clear: both;
			    overflow: scroll;
			    overflow-x: hidden;
			}
			.Banned  h5{
				text-align: center;
				height: 40px;
				line-height: 40px;
				border-bottom: 1px solid #ccc;
			}
			/*.Banned .alllist li img {
			    border-radius: 50%;
			    border: 1px solid #fff;
			    float: left;
			    width: 40px;
			}
			.Banned .alllist li div {
			    float: left;
			    margin: 2px 0 0 20px;
			    }
			    .Banned .alllist li span {
			    float: right;
			    background-color: #31AC84;
			    padding: 8px 12px;
			    color: #fff;
			    border-radius: 5px;
			    margin-top: 5px;
			    cursor: pointer;
			}*/
			.bannerdbtn {
              float: right;
              width: 3.4rem;
              height:2rem;
              margin: 0.3rem 0;
              background-color: #ccc;
              -webkit-border-radius: 1rem;
              -moz-border-radius: 1rem;
              border-radius: 1rem;
              position: absolute;
              right: 8px;
              top: 8px;
              
            }
			.bannerdbtn #allcheck,
			.bannerdbtn #disimg{
                position: absolute;
			    width: 56px;
			    height: 27px;
			    opacity: 0;
			    z-index: 2;
            }
            .bannerdbtn em {
              display: block;
              width: 1.8rem;
              height:1.8rem;
              margin: 0.1rem;
              background: #fff;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
            }
            .btn-mover {
              -webkit-animation: moveBtnr 100ms linear;
              -moz-animation: moveBtnr 100ms linear;
              -ms-animation: moveBtnr 100ms linear;
              -o-animation: moveBtnr 100ms linear;
              animation: moveBtnr 100ms linear;
              -webkit-animation-fill-mode: forwards;
              -moz-animation-fill-mode: forwards;
              -ms-animation-fill-mode: forwards;
              -o-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
            }
            .btn-movel {
              -webkit-animation: moveBtnl 100ms linear;
              -moz-animation: moveBtnl 100ms linear;
              -ms-animation: moveBtnl 100ms linear;
              -o-animation: moveBtnl 100ms linear;
              animation: moveBtnl 100ms linear;
              -webkit-animation-fill-mode: forwards;
              -moz-animation-fill-mode: forwards;
              -ms-animation-fill-mode: forwards;
              -o-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
            }
            @-webkit-keyframes moveBtnr {
              0% { -webkit-transform: translateX(0rem);}
              100% { -webkit-transform: translateX(1.4rem);}
            }
            @-moz-keyframes moveBtnr {
              0% { -moz-transform: translateX(0rem);}
              100% { -moz-transform: translateX(1.4rem);}
            }
            @-ms-keyframes moveBtnr {
              0% { -ms-transform: translateX(0rem);}
              100% { -ms-transform: translateX(1.4rem);}
            }
            @-o-keyframes moveBtnr {
              0% { -o-transform: translateX(0rem);}
              100% { -o-transform: translateX(1.4rem);}
            }
            @keyframes moveBtnr {
              0% { transform: translateX(0rem);}
              100% { transform: translateX(1.4rem);}
            }
            @-webkit-keyframes moveBtnl {
              0% { -webkit-transform: translateX(1.4rem);}
              100% { -webkit-transform: translateX(0rem);}
            }
            @-moz-keyframes moveBtnl {
              0% { -moz-transform: translateX(1.4rem);}
              100% { -moz-transform: translateX(0rem);}
            }
            @-ms-keyframes moveBtnl {
              0% { -ms-transform: translateX(1.4rem);}
              100% { -ms-transform: translateX(0rem);}
            }
            @-o-keyframes moveBtnl {
              0% { -o-transform: translateX(1.4rem);}
              100% { -o-transform: translateX(0rem);}
            }
            @keyframes moveBtnl {
              0% { transform: translateX(1.4rem);}
              100% { transform: translateX(0rem);}
            }
			
			
			
			/*打赏红包 */
			.redenvelope {
				position: fixed;
				top: 0;
				z-index: 1002;
				height: 100%;
				width: 100%;
				display: none;
			}
			.two-top {
				position: fixed;
				top: 0;
				z-index: 1003;
				height: 100%;
				width: 100%;
				display: none;
			}
			
			 .mask,.masks {
				position: absolute;
				top: 0px;
				background-color: #000000;
				opacity: 0.5;
				height: 100%;
				width: 100%;
				cursor: pointer;
			}
			
			.redcenters {
				width: 90%;
				margin: 0 auto;
				background-color: #FFFFFF;
				height: auto;
				position: absolute;
				top: 50%;
				left: 5%;
				margin-top: -235px;
				border-radius: 8px;
				padding-bottom: 20px;
				    height: 441px;
			}
			
			.hiders {
				height: 180px;
				position: relative;
			}
			
			.HeadTop {
				background-color: #dd594d;
				height: 125px;
				width: 100%;
				border-radius: 8px 8px 46% 46%;
				box-shadow: 0 1px 7px #636363;
				position: relative;
			}
			
			.dashanginfo {
				top: 0;
				left: 0;
				background-color: #dd594d;
			}
			
			.GoodNews {
				height: 40px;
				width: 100%;
				background: #dd594d;
				display: -webkit-flex;
				flex-flow: row;
				line-height: 30px;
			}
			
			#news {
				float: left;
				width: 100%;
				box-sizing: border-box;
				font-size: 12px;
				overflow: hidden;
				position: relative;
				height: 30px;
			}
			
			.RedPack_Info {
				height: auto;
				width: 200px;
				position: absolute;
				    top: 82px;
				left: 50%;
				margin-left: -100px;
			}
			
			.RedPack_Info .packimgs {
				height: 78px;
				width: 100%;
				position: relative;
			}
			
			.packimgs img {
				width: 60px;
				height: 60px;
				border-radius: 50%;
				position: absolute;
				left: 50%;
				top: 8px;
				margin-left: -30px;
			}
			
			.FromWho {
				height: 22px;
				font-size: 16px;
				color: #636363;
				text-align: center;
			}
			
			.text_flow {
				overflow: hidden!important;
				overflow-x: hidden;
				overflow-y: hidden;
				word-wrap: normal!important;
				white-space: nowrap!important;
				text-overflow: ellipsis!important;
				text-align: center;
			}
			
			.c-money {
				width: 96%;
				height: auto;
				margin: 0 auto;
				position: relative;
				overflow: hidden;
				clear: both;
				margin-top: 40px;
			}
			
			.c-money li {
				width: 30%;
				height: auto;
				float: left;
    			margin: 11px 1.3%;
				border: 1px solid #dd594d;
				border-radius: 4px;
				text-align: center;
				line-height: 20px;
				    padding: 5px 10px;
			}
			.c-money li p {
				margin-bottom: 0px;
			}
			
			.c-money li a {
				color: #dd594d;
			}
			.c-money li:active {
				background: #ffd7d3;
				border-color: #e07066
			}
			
			.c-money li a p:active {
				color: #6b6a6a
			}
			
			.cose {
				float: right;
			    margin: 6px 6px;
			    color: rgba(0, 0, 0, 0.59);
			    cursor: pointer;
			    font-size: 25px;
			    opacity: 0.3;
			}
			
			.other-m {
				width: 100%;
				height: 50px;
				line-height: 52px;
				text-align: center;
				color: #427fd6;
				cursor: pointer;
			}
			
			.haozq {
				height: 9px;
				width: 96%;
				margin: 0 auto;
				position: relative;
				margin-top: 8px;
				border-top: 1px solid #ddd;
			}
			
			.haotext {
				position: absolute;
				background-color: #fff;
				width: 80px;
				height: 20px;
				top: -10px;
				left: 50%;
				margin-left: -40px;
				text-align: center;
			}
			
			.dshang-m {
				height: auto;
				width: 80%;
				position: absolute;
				left: 50%;
				top: 20%;
				margin-left: -40%;
				background-color: #fff;
				z-index: 1004;
				border-radius: 15px;
				padding-bottom: 10px;
			}
			.dshang-m h1 {
				border-bottom: 1px solid #DEDEDE;
				margin-top: 0px;
			}
			.ttitles {
				position: relative;
				color: #808080;
				height: 45px;
				line-height: 45px;
				text-align: center;
				margin: 10px 0;
				cursor: pointer;
				font-size: 20px;
			}
			
			.n-ds {
				position: absolute;
				right: 4px;
				top: -18px;
				font-size: 20px;
				color: #808080!important;
			}
			
			.p-money {
				width: 90%;
				height: 48px;
				margin: 28px auto;
				    border: 1px solid #f2f2f2;
			}
			
			.p-money span {
				width: 25%;
				height: 45px;
				display: inline-block;
				line-height: 45px;
				font-size: 14px;
				text-align: right;
				color: #080808;
				float: left;
			}
			
			.p-money input {
				width: 70%;
				float: right;
				height: 45px;
				border: 0;
				outline: 0;
				padding-left: 6px;
			}
			
			.t-btns button {
				width: 126px;
				height: 45px;
				text-align: center;
				display: inline-block;
				color: #fff;
				line-height:29px;
				background-color: #30ae86;
				border-radius: 4px;
				position: absolute;
				left: 50%;
				margin-left: -63px;
			}
			
			/*内容部分*/
			.allconts {
			    background-color: #fff;
			    height: 100%;
			    padding: 0px 5px;
			    line-height: 20px;
			    overflow: scroll;
   				overflow-x: hidden;
			}
			
			/*媒体查询*/
			.footer-left input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
				　color:#d8d8d8;
				font-family: "微软雅黑";
			}
			
			/*进度条*/
			p {
				margin: 0;
			}
			.schedule {
				display: none;
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 3rem;
				background: #000;
				opacity: 0.8;
			}
			.sche-start {
				float: left;
				width: 8%;
				padding-left: 2%;
				text-align: center;
				line-height: 3rem;
				font-size: 2rem;
				color: #fff;
			}
			.sche-nowtime,
			.sche-alltime {
				float: left;
				width: 16%;
				height: 100%;
				line-height: 3rem;
				text-align: center;
				color: #fff;
				font-size: 1.2rem;
			}
			.sche-alltime {
				float: right;
				margin-right: 2%;
			}
			.process{
				float: left;
	            position: relative;
	            width:58%;
	            height: 100%;

	        }
	        .process-bar{
	        	position: absolute;
	        	top: 50%;
	            width: 0%;
	            height: 0.2rem;
	            margin-top: -0.1rem;
	            background-color: #fff;
	            border-top-left-radius: 0.5rem;
	            border-bottom-left-radius: 0.5rem;
	        }
	        .bar{
	            position: absolute;
	            top: 50%;
	            left: 0px;
	            width: 1rem;
	            height: 1rem;
	            margin-top: -0.5rem;
	            border-radius: 50%;
	            background-color: #fff;
	            display: inline-block;
	        }
/*点赞样式*/
.zan-box {
	position: relative;
}
.zan {
	position: relative;
}
.zan-num {
    position: absolute;
    bottom: -18px;
    left: 50%;
    min-width: 36px;
    padding: 0px 5px;
    font-size: 10px;
    font-style: normal;
    color: #ffffff;
    background-color: rgba(0,0,0,.36);
    text-align: center;
    line-height: normal;
    display: inline-block;
    border-radius: 15px;
    box-sizing: border-box;
    transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    white-space: nowrap;
}
.love {
	position: absolute;
	bottom: -0px;
	left: -54px;
	width: 50px;
	height: 0px;
}
.loveimg{ 
	width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0px;
    left: 30px;
    margin-left: 10px;
}
.cont-right {
	top: 8%;
}
.cont-right .zan-box i {
	color: rgb(255, 61, 3);
}
/*限时抢购修改样式*/
/*.TAstate li {
    width: 20%;
    height: 40px;
    line-height: 40px;
    color: #808080;
    text-align: center;
    float: left;
    cursor: pointer;
    overflow: hidden;
}*/
.goods-box {
	height: 100%;
	padding: 0 4%;
	overflow: scroll;
    overflow-x: hidden;
}
.goods-list {
	padding: 10px 0;
	margin: 10px 0;
	background: #fff;
	border-bottom: 1px solid #efeff4;
	border-radius: 6px;
}
.list-l {
	float: left;
	width: 36%;
	padding: 0 2%;
}
.list-l img {
	width: 100%;
	height: 100%;
}
.list-r {
	position: relative;
	float: left;
	width: 62%;
}
.r-name {
	width: 100%;
	margin-bottom: 4px;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
	height: 48px;
	line-height: 24px;
	font-size: 18px;
}
.r-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
}
.r-price {
	float: left;
	width: 65%;
	color: #ff7272;
	overflow: hidden;
	height: 60px;
}
.r-price span {
	font-size: 12px;
}
.r-price em {
	font-size: 36px;
	font-style:normal;
}
.r-price del {
	color: #ccc;
	font-size: 12px;
}
.r-sub {
	float: left;
	display: block;
	width: 30%;
	border-radius: 6px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	margin-top: 12px;
	height: 32px;
	line-height: 32px;
	font-size: 16px;
}
.r-sub1 {
	background: #ff7070;
}
.r-sub2 {
	background: #c36bc3;
}
.r-sub3 {
	background: #c6c6c6;
}
a:hover, a:visited, a:link, a:active {
	/*text-decoration: none;*/
	/*color: #fff;*/
}
/*限时抢购 end*/
@media screen and (max-width:414px ) {
	.r-bottom {
		height: 34px;
		line-height: 34px;
	}
	.r-name {
		height: 40px;
		line-height: 20px;
		font-size: 16px;
	}
	.r-price {
		width: 60%;
		height: 32px;
	}
	.r-sub {
		margin-top: 6px;
		width: 40%;
		height: 28px;
		line-height: 28px;
		font-size: 12px;
	}
}
			@media screen and (max-width:376px ) {
				.focus-on img {
				    max-width: 160px!important;
				    max-height: 160px!important;
				    width: 100%;
				    height: 100%;
				    margin-top: 2%;
				    text-align: center;
				    margin: 0 auto;
				}
							@media screen and (max-width:376px ) {
				.focus-on-qz img {
				    max-width: 160px!important;
				    max-height: 160px!important;
				    width: 100%;
				    height: 100%;
				    margin-top: 2%;
				    text-align: center;
				    margin: 0 auto;
				}
				.focus-on p:nth-child(3) {
				    height: 40px;
    				line-height: 40px;
				    font-size: 16px;
				}
				.focus-on-qz p:nth-child(3) {
				    height: 40px;
    				line-height: 40px;
				    font-size: 16px;
				}
				.focus-on p:last-child {
				    font-size: 12px;
				}
				.focus-on-qz p:last-child {
				    font-size: 12px;
				}
				.focus-on-qz {
					margin-left: -106px;
				}
				.focus-on {
					margin-left: -106px;
				}
				.focus-on-click {
				    width: 26px;
				    height: 26px;
				    font-size: 24px;
    			}
				/*.tishi{
					font-size: 12px;
				}
				.cont-right {
				    top: 59px;
				}
				.cont-right li {
				    width: 27px;
				    height: 27px;
				    line-height: 29px;
				    padding: 0px;
				}
				.cont-right i {
				    font-size: 16px;
				}
				.footer-bar .btn-sub{
					font-size: 14px;
					font-family: "微软雅黑" !important;
					height: 31px;
    				line-height: 31px;
				}
				.footer-left a:first-child{
					    margin: 0 8px;
				}
				.footer .gift.iconfont {
				    font-size: 26px;
				    text-align: center;
				}
				.footer .gift.iconfont{
					    margin-top: 12px;
				}
				input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
				　　color:#d8d8d8;
					font-family: "微软雅黑";
				　　}
				.footer-bar .text-input {
				    padding-top: 18px;
				    padding-left: 7px;
				    width: 65%;
				}*/
.watermark p img {
	display: block;
	width: 80px;
}
.redbao .red_message {
    height: auto;
    width: 85%;
    border-radius: 5px;
}
.redbao .red_message .red-red {
    padding: 11px 7px 15px 7px;
    width: 100%;
    height: auto;
    min-height: 100px;
}
.redbao .red_message .red-red .red-cent .red-title {
    font-size: 16px;
    }
    .red-cent p:last-child{
        margin-top: -6px;
    opacity: 0.8;
}

.redbao .red_message .red_name {
    height: 30px;
    border-radius: 0 0 3px 3px;
    font-size: 14px;
    line-height: 30px;
    color: #B9B7B7;
}
			}

@media screen and (max-width:320px ) {
	.r-bottom {
		height: 28px;
		line-height: 28px;
	}
	.r-name {
		height: 36px;
		line-height: 18px;
	}
	.r-price {
		height: 28px;
	}
	.r-price em {
		font-size: 20px;
	}
	.r-sub {
		margin-top: 4px;
		height: 24px;
		line-height: 24px;
	}
				.totip li .ranknum {
					padding: 1px;
					margin-left:5px;
				}
				.watermark p img {
					display: block;
					width: 80px;
				}
				.footer-bar .text-input {
				    border: 1px solid #c6c6c6;
				    border-radius: 20px;
				    height: 32px;
				    min-height: 32px;
				    line-height: 32px;
				    margin-top: 8px;
				    padding: 5px 0 5px 10px;
				}
				.tishi{
					font-size: 12px;
				}
				.cont-right {
				    top: 10px;
				    /*right: 7px;*/
				 width: 30px;
			    height: 30px;
			    line-height: 27px;
			    padding: 0px;
			    }
				.cont-right i {
				    font-size: 16px;
				}
				.footer-bar .btn-sub{
					font-size: 14px;
					font-family: "微软雅黑" !important;
					height: 31px;
    				line-height: 31px;
    				bottom: 0.75rem;
				}
				.footer-left a:first-child{
					    margin: 0 8px;
				}
				.footer .gift.iconfont {
				    font-size: 35px;
				    text-align: center; 
				     margin-top: 13px;
				}
				input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
				　　color:#d8d8d8;
					font-family: "微软雅黑";
				　　}
				.footer-bar .text-input {
				    padding-top: 18px;
				    padding-left: 7px;
				    width: 65%;
				    font-size: 14px;
				}
				.gift-list li{
					    min-height: 80px;
				}
				.gift-list li p img {
				    width: 45px;
				    height: 45px;
				}
				.gift-list li p {
					font-size: 12px;
				}
				.redbao .red_message {
				     height: 82px; 
				    width: 88.5%;
				    border-radius: 5px;
				}
				    .redbao .red_message .red-red {
				    padding: 4px 6px 15px 2px;
				    width: 100%;
				    height: auto;
				    min-height: 100px;
				}
				.redbao .red_message .red_name {
				    height: 22px;
				    border-radius: 0 0 3px 3px;
				    font-size: 12px;
				    line-height: 22px;
				    color: #B9B7B7;
				    }
				.redbao .red_message .red-red .red-cent .red-title {
				    font-size: 15px;
				}
				.redbao .red_message .red-red .red-cent {
				    width: 73%;
				    margin-top: 5px;
				}
				.red-cent p:last-child {
				    font-size: 12px;
				    margin-top: -2px;
				}
				.zhuang .moneymag{
					    width: 41%;
				}
				.HeadTop {
				height: 100px;
				}
				.open .redcenters .hiders .HeadTop{
					height: 142px !important;
				}
				
				.redcenters {
					    height: 400px;
				}
				.RedPack_Info{
					    top: 59px;
				}
					
				.c-money {
       				margin-top: 19px;
				}
				.c-money li {
				    margin: 11px 1.6%;
				    padding: 5px 4px;
				}
				.red-tishi {
					font-size: 12px;
				}
			}
			
/*红包层*/
.max-start {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	background: url("../image/mstart.png") no-repeat;
	background-size: 100% 100%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	opacity: 0.7;
	display: none;
}
.exit-full {
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 30px;
	color: #bababa;
	display: none;
}
.browlist li img {
	width: 32px;
}
.emojia {
	width: 24px;
}
.char_message {
	font-size: 16px;
	line-height: 22px;
}

/*后面添加邀请排行样式*/
.clearfix:after {content:"\200B"; display:block; height:0; clear:both }
.clearfix { *zoom:1; }

.nav-btn1, .nav-btn2, .nav-btn3, .nav-btn4 ,.nav-btn5 , .nav-btn7 {
    float: left;
    display: block;
    width: 50%;
    height: 36px;
    line-height: 36px;
    margin: 14px 0 6px;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}
.nav-btn1 {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.nav-btn7 {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.nav-box {
	width: 100%;
	margin: 0 auto;
}
.nav-select {
    background: #31ac84;
    color: #fff;
    box-shadow: 0 0 1px #31ac84;
}
.nav-unselect {
    box-shadow: 0 0 1px #31ac84;
    color: #31ac84;
}

/*倒计时和屏幕广告图*/
.startbg {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.startbg img {
	width: 100%;
	height: 100%;
}
.timeover {
	display: none;
    position: absolute;
    top: 60%;
    left: 26%;
    width: 320px;
    height: 100px;
	background: url('../image/timeover.png') no-repeat;
    background-size: 100% 100%;
}
.timeoverin {
    position: absolute;
    bottom: 4px;
    left: 52px;
    width: 300px;
    height: 40px;
    line-height: 40px;
    font-size: 32px;
    color: #fff;
}
.overnum {
	position: relative;
}
.overch {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 12px;
    font-style: inherit;
}
@media screen and (max-width: 520px) {
	.timeover {
	    top: 56%;
	    left: 16%;
	    width: 268px;
	    height: 80px;
	}
	.timeoverin {
	    bottom: 0px;
	    left: 38px;
	    width: 240px;
	    font-size: 28px;
	}
}
@media screen and (max-width: 320px) {
	.timeover {
	    top: 57%;
	    left: 15%;
	    width: 220px;
	    height: 68px;
	}
	.timeoverin {
	    bottom: 0px;
	    left: 25px;
	    width: 200px;
	    font-size: 24px;
	}
}
.limitcount{
	position: absolute;
    right: 15px;
    color: #ff6e0b;
    top: 32px;
    background-color: rgba(37,37,37,.7);
    padding: 5px;
}