@charset "utf-8";
/*
   Author:Seamless
   QQ:105811404
*/

/* Style
----------------------------------------------------------------------------------- */
body{word-wrap: break-word; color: #333; font-family: "Arial","Verdana","宋体","Lucida Grande","Lucida Sans Unicode","Helvetica,sans-serif";behavior: url(js/hover.htc);}
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,select,label,textarea,p{padding: 0; margin: 0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
select,label,input{vertical-align:top;}
input,button{border:none;outline:none;}
li{list-style-type:none;cursor: default !important;}
img{border: none;}
a,button{-webkit-tap-highlight-color: transparent;-webkit-touch-callout: none;-webkit-user-select: none;outline:none;}
select{-moz-appearance: none;-webkit-appearance:none;appearance:none; }

body{line-height: 0.26rem; font-size: 0.22rem; background-color: #fff; margin: 0 auto;/* overflow: hidden; */overflow-x:hidden; width: 6.4rem;}

*{-webkit-touch-callout:none !important;-webkit-user-select:none !important;-khtml-user-select:none !important;-moz-user-select:none !important;-ms-user-select:none !important;user-select:none !important;}
input,textarea{-webkit-user-select:auto !important;}

.img{-ms-interpolation-mode: bicubic; width: 100%; -webkit-user-select:none; -webkit-touch-callout:none;}
.l{float: left;}
.r, .more{float: right;}
.YaHei{font-family: "Microsoft YaHei","SimSun";}
.clear{clear: both;float: none;height: 0;margin: 0;padding: 0;width: 0; overflow: hidden;}
.clearfix:after{content:".";display: block;height: 0;clear: both;visibility: hidden;}
*html .clearfix{height:1%;}
.clearfix{display: block;}
*+html .clearfix{min-height:1%;}
* html{background-image: url(about:blank);background-attachment:fixed;}

a{color: #333; text-decoration: none;  cursor: default !important;}
a:hover{color: #c0192a;}

.mid{position: relative;display: table-cell;vertical-align: middle;text-align: center;}
.mid-in{position: static;*position: absolute;top: 50%;}
.mid-in img{position: static;*position: relative;top: -50%;left: -50%;-ms-interpolation-mode: bicubic;width: 100%;}
.mid-in p{position: static;*position: relative;top: -50%;left: -50%;-ms-interpolation-mode: bicubic;width: 100%;text-align: center; margin: 0 auto;}

.alpha_25{filter:alpha(opacity=25);-moz-opacity:0.25;-khtml-opacity: 0.25;opacity: 0.25;}
.alpha_50{filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}
.alpha_75{filter:alpha(opacity=75);-moz-opacity:0.75;-khtml-opacity: 0.75;opacity: 0.75;}
.alpha_90{filter:alpha(opacity=90);-moz-opacity:0.90;-khtml-opacity: 0.90;opacity: 0.90;}
.alpha_95{filter:alpha(opacity=95);-moz-opacity:0.95;-khtml-opacity: 0.95;opacity: 0.95;}

.shadow_reg{-webkit-box-shadow:0 0 5px rgba(0, 52, 100, .5); -moz-box-shadow:0 0 5px rgba(0, 52, 100, .5);box-shadow:0 0 5px rgba(0, 52, 100, .5);}
.shadow{-webkit-box-shadow:0 0 5px rgba(0, 52, 100, .5); -moz-box-shadow:0 0 5px rgba(0, 52, 100, .5);box-shadow:0 0 5px rgba(0, 52, 100, .5);}

.shadow_li{-webkit-box-shadow:0 0 5px rgba(0, 52, 100, .5); -moz-box-shadow:0 0 5px rgba(0, 52, 100, .5);box-shadow:0 0 5px rgba(0, 52, 100, .5);}

.rad_reg{-moz-border-radius: 0.05rem;-webkit-border-radius: 0.05rem;border-radius: 0.05rem;}
.rad_form{-moz-border-radius: 0.15rem;-webkit-border-radius: 0.15rem;border-radius: 0.15rem;}
.rad_qrcode{-moz-border-radius: 0.15rem;-webkit-border-radius: 0.15rem;border-radius: 0.15rem;}
.radius_ejec{-moz-border-radius: 0.15rem;-webkit-border-radius: 0.15rem;border-radius: 0.15rem;}
.radius_user{-moz-border-radius: 0.15rem;-webkit-border-radius: 0.15rem;border-radius: 0.15rem;}

/* common
----------------------------------------------------------------------------------- */
.bgcolor{width: 6.4rem; margin: 0 auto;}

.bgImg{width: 6.4rem; margin-bottom: -10.1rem; position: relative; z-index: -1; }

/* Index
----------------------------------------------------------------------------------- */
.imgbox{width: 6.4rem; position: relative;}
.imgbox .a1,.imgbox .a2,.imgbox .a3,.imgbox .a4,.imgbox .a5,.imgbox .a6,.imgbox .a7,.imgbox .a8{position: absolute; opacity: 1;}
.imgbox .b1,.imgbox .b2,.imgbox .b3,.imgbox .b4,.imgbox .b5,.imgbox .b6,.imgbox .b7,.imgbox .b8{position: absolute; opacity: 1;}
.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8{position: absolute; opacity: 1;}
.c1 img,.c2 img,.c3 img,.c4 img,.c5 img,.c6 img,.c7 img,.c8 img{width: 100%; height: 100%;}

.topbar{width: 6.4rem; /*height: 0.95rem;*/ height: 1.1rem;position: fixed; top: 0; z-index: 1; left: 50%; margin-left: -3.2rem; overflow: hidden;}

.img_list,.img_listsh{width: 6.4rem; margin: 0 auto; overflow: hidden;}
.img_list{ /*padding: 0.95rem 0;*/padding: 1.1rem 0 0 0; overflow-y: scroll;}
.img_list_hp{ /*padding: 0.95rem 0;*/padding: 1.1rem 0 1.34rem 0;}
.img_listsh{ /*padding: 0.95rem 0;*/padding: 1.1rem 0 0.84rem 0;}
.img_list ul{width: 6.42rem;}
.img_list ul li{float: left; width: 2.12rem; /*padding: 0.02rem 0.02rem 0 0;*/ display: block; height: 1.42rem;}
.img_list ul li{border-top: 0.02rem solid #fff;border-right: 0.02rem solid #fff; background-color: #fff;}
.img_list ul li .item{width: 2.12rem; overflow: hidden; height: 1.42rem;}
/*.img_list ul li .item{background-repeat: no-repeat;background-size: 100% auto; background-position: 50% 50%;}*/
.img_list ul li .item{background-repeat: no-repeat;background-size: 100% auto; background-position: 0% 0%;}

.img_listsh{position: fixed; top: 0; left: 50%; margin-left: -3.2rem; z-index: -1;}

.footbar{overflow: hidden;}
.footbar img{vertical-align: bottom;}
.footbar,.footbarbtn{width: 6.4rem; height: 0.95rem; position: fixed; bottom: 0; z-index: 1; left: 50%; margin-left: -3.2rem;}
.footbarbtn{z-index: 2;}
.footbar-btn{width: 6.4rem; height: 0.95rem;position: relative;}
.footbar-btn .btn{position: absolute; top: 0; width: 0.95rem; height: 0.95rem;}
.footbar-btn #share-top{right: 1.7rem;}
.footbar-btn #share-news{right: 0.35rem;}

/* Slide
----------------------------------------------------------------------------------- */
#baguetteBox-overlay{width: 6.4rem !important; left: 50% !important; margin-left: -3.2rem !important;}
#previous-button,#next-button{display: block !important;}  
#baguetteBox-overlay .full-image figure figcaption{display: none !important;}
#baguetteBox-overlay .full-image figure img{max-width: 6.4rem;}
#baguetteBox-overlay .full-image figure #loading{width: auto !important;}
/*#previous-button{background-color: rgba(50,50,50,.0) !important;}
#next-button{background-color: rgba(50,50,50,.0) !important;}
#close-button{background-color: rgba(50,50,50,.0) !important;}*/
.baguetteBox-button{background-color: rgba(50,50,50,.0) !important;}

.filebox{position: absolute; height: 0.3rem; bottom: -0.1rem; width: 5.6rem; left: 50% ; margin-left: -3.0rem; color: #ccc; font-size: 0.22rem; z-index: 99999; padding: 0.2rem; font-weight: 800;}
.filebox .filesize{float: left;}
.filebox .count{float: right;}

.slide img{width: 100%;}

.blueimp-gallery .title{display: none !important;}
.blueimp-gallery .close, .blueimp-gallery .prev, .blueimp-gallery .next{display: block !important;}
.blueimp-gallery .indicator{display: none !important;}
.blueimp-gallery .close,.blueimp-gallery .close img{/*width: 0.38rem !important; height: 0.38rem !important;*/width: 0.6rem !important; height: 0.6rem !important;}
.blueimp-gallery .close{font-size: 0.58rem !important; opacity:1.0 !important; margin: -10px -25px -15px -15px !important;}
.blueimp-gallery .close:hover{opacity: 1.0 !important;}
.blueimp-gallery .prev, .blueimp-gallery .next{opacity:0.0 !important;}


.gallery-info{position: absolute; height: 0.3rem; bottom: 1.8rem; width: 6.0rem; left: 50%; margin-left: -3.0rem; z-index: 999; color: #ccc; font-size: 0.24rem; font-weight: bold; z-index: 99999;}
.gallery-tips{position: absolute; height: 0.3rem; bottom: 2.5rem; width: 6.0rem; left: 50%; margin-left: -3.0rem; z-index: 999; color: #ccc; font-size: 0.24rem; font-weight: bold; z-index: 99999; text-align: center;}

/* Info
----------------------------------------------------------------------------------- */
.topbars{width: 6.4rem; margin: 0 auto;}
.topbars img{vertical-align: top;}
.toptht{width: 6.4rem; height: 1.05rem; margin: 0.1rem auto 0;}

.listBox{width: 5.3rem; margin: 0.1rem auto 0.1rem; position: relative; height: 2.7rem;}
.listBox ul{width: 5.3rem; height: 2.7rem; overflow: hidden;}

.listBox li{width: 1.7rem; float: left; position: absolute;}
.listBox li .mid{width: 1.7rem; overflow: hidden;}

.listBox li.a0{height: 1.3rem; left: 0; top: 0; background-color: #f0f0f3;}
.listBox li.a1{height: 2.7rem; left: 1.8rem; top: 0; background-color: #c9d3e4;}
.listBox li.a2{height: 1.3rem; right: 0; top: 0; background-color: #e2e5ec;}
.listBox li.a3{height: 1.3rem; left: 0; top: 1.4rem; background-color: #f7f8f8;}
.listBox li.a4{height: 1.3rem; right: 0; top: 1.4rem; background-color: #f8f7ec;}

.listBox li.a0 .mid{height: 1.3rem;}
.listBox li.a1 .mid{height: 2.7rem;}
.listBox li.a2 .mid{height: 1.3rem;}
.listBox li.a3 .mid{height: 1.3rem;}
.listBox li.a4 .mid{height: 1.3rem;}

.listBoxtest li p{font-size: 0.23rem; color: #839dbe;font-weight: bold;}
.listBoxtest li p a span{font-size: 0.18rem; color: #c9caca; clear: both; display: block; height: 0.2rem; padding-top: 0.05rem;}
.listBoxtest li p a span.f2{color: #a95342;}
.listBoxtest li p a span.f1{color: #132f52;}
.listBoxtest li p a{width: 90%; display: block; text-align: center; margin: 0 auto;font-size:0.22rem;}
.listBoxtest li p a,.listBoxtest li p a:hover{color: #839dbe;}

.listBox2{width: 5.3rem; margin: 0.1rem auto 0.1rem; position: relative; height: 3.1rem;}
.listBox2 ul{width: 5.3rem; height: 3.1rem; overflow: hidden;}

.listBox2 li{width: 2.6rem; float: left; position: absolute;}
.listBox2 li .mid{width: 2.6rem; overflow: hidden;}

.listBox2 li.a0{height: 3.0rem; left: 0; top: 0; background-color: #e2e5ec;}
.listBox2 li.a1{height: 3.0rem; right: 0; top: 0; background-color: #f2f2f2;}

.listBox2 li.a0 .mid{height: 3.0rem;}
.listBox2 li.a1 .mid{height: 3.0rem;}

.listBox3{width: 5.3rem; margin: 0.1rem auto 0.1rem; position: relative; height: 3.1rem;}
.listBox3 ul{width: 5.3rem; height: 3.1rem; overflow: hidden;}

.listBox3 li{width: 2.6rem; float: left; position: absolute;}
.listBox3 li .mid{width: 2.6rem; overflow: hidden;}

.listBox3 li.a0{height: 1.5rem; left: 0; top: 0; background-color: #f2f2f2;}
.listBox3 li.a1{height: 3.0rem; right: 0; top: 0; background-color: #e2e5ec;}
.listBox3 li.a2{height: 1.5rem; left: 0; top: 1.6rem; background-color: #f7f8f8;}

.listBox3 li.a0 .mid{height: 1.5rem;}
.listBox3 li.a1 .mid{height: 3.0rem;}
.listBox3 li.a2 .mid{height: 1.5rem;}

.listBox4{width: 5.3rem; margin: 0.1rem auto 0.1rem; position: relative; height: 2.7rem;}
.listBox4 ul{width: 5.3rem; height: 2.7rem; overflow: hidden;}

.listBox4 li{width: 2.6rem; float: left; position: absolute;}
.listBox4 li .mid{width: 2.6rem; overflow: hidden;}

.listBox4 li.a0{height: 1.3rem; left: 0; top: 0; background-color: #f2f2f2;}
.listBox4 li.a1{height: 1.3rem; right: 0; top: 0; background-color: #f7f8f8;}
.listBox4 li.a2{height: 1.3rem; left: 0; top: 1.4rem; background-color: #e2e5ec;}
.listBox4 li.a3{height: 1.3rem; right: 0; top: 1.4rem; background-color: #f8f7ec;}

.listBox4 li.a0 .mid{height: 1.3rem;}
.listBox4 li.a1 .mid{height: 1.3rem;}
.listBox4 li.a2 .mid{height: 1.3rem;}
.listBox4 li.a3 .mid{height: 1.3rem;}

.listBox4 li p{font-size: 0.3rem;}
.listBox4 li p a span{font-size: 0.22rem;}

.listBox5{width: 6.2rem; margin: 0.1rem auto 0.1rem; position: relative; height: 3.1rem;}
.listBox5 ul{width: 6.2rem; height: 3.1rem; overflow: hidden;}

.listBox5 li{width: 2.0rem; float: left; position: absolute;}
.listBox5 li .mid{width: 2.0rem; overflow: hidden;}

.listBox5 li.a0{height: 1.5rem; left: 0; top: 0; background-color: #f0f0f3;}
.listBox5 li.a1{height: 1.5rem; left: 2.1rem; top: 0; background-color: #e9ecf2;}
.listBox5 li.a2{height: 1.5rem; right: 0; top: 0; background-color: #e2e5ec;}
.listBox5 li.a3{height: 1.5rem; left: 0; top: 1.6rem; background-color: #f7f8f8;}
.listBox5 li.a4{height: 1.5rem; left: 2.1rem; top: 1.6rem; background-color: #f0f0f0;}
.listBox5 li.a5{height: 1.5rem; right: 0; top: 1.6rem; background-color: #f8f7ec;}

.listBox5 li.a0 .mid{height: 1.5rem;}
.listBox5 li.a1 .mid{height: 1.5rem;}
.listBox5 li.a2 .mid{height: 1.5rem;}
.listBox5 li.a3 .mid{height: 1.5rem;}
.listBox5 li.a4 .mid{height: 1.5rem;}
.listBox5 li.a5 .mid{height: 1.5rem;}

.topfoot{width: 6.4rem; margin: 0.28rem auto 0.28rem;}

/* Time
----------------------------------------------------------------------------------- */
.timebars{width: 6.4rem; margin: 0 auto;/*height: 0.95rem; */height: 1.1rem; overflow: hidden;}
.timebars img{vertical-align: top;}
.timefoots{width: 6.4rem; margin: 0.28rem auto 0.28rem;}
.timetht{width: 6.4rem; height: 0.7rem; margin: 0.05rem auto 0.05rem;}
.timetht img{vertical-align: top;}

.time-top,.time-foot{width: 6.4rem; height: 0.24rem; margin: 0 auto;}
.time-top img,.time-foot img{vertical-align: top;}
.time-cen{width: 6.4rem;margin: 0 auto; background-image: url(../images/time2.png); background-repeat: repeat-y; background-position: left top; background-size: 6.4rem 0.2rem;}

.timelist{padding:0 0 0.2rem 0;}
.timelist .time-div{width: 6.4rem;padding: 0.1rem 0 0 0;}
.timelist .time-axis{height: 0.42rem; width:6.4rem;background-image: url(../images/time4.png); background-repeat: no-repeat; background-position: left top; background-size: 6.4rem 0.42rem; text-indent:0.48rem;}
.timelist .time-axis{font-size: 0.28rem; color: #333; line-height: 0.42rem;}
.timelist .time-list{padding-left: 0.48rem; width: 5.92rem; overflow: hidden;}
.timelist .time-list ul{ width: 6.1rem;}
.timelist .time-list li{float: left; padding-right: 0.18rem; padding-bottom: 0.18rem;}
.timelist .time-list li,.timelist .time-list li .timeimgbox,.timelist .time-list li .timeimg{ width: 2.8rem; height: 3.1rem;}
.time-list li .timeimgbox{position: relative;}
.timelist .time-list li .timeimg{background-size: auto 100% !important; background-position: center center;}

.timelist .time-list li .timebg1,.timelist .time-list li .timebg2{position: absolute; left: 0; bottom: 0; background-color: #000;filter:alpha(opacity=65);-moz-opacity:0.65;-khtml-opacity: 0.65;opacity: 0.65;}
.timelist .time-list li .timetext1,.timelist .time-list li .timetext2{position: absolute; left: 0; bottom: 0; text-align: center; color: #fff; }

.timelist .time-list li .timebg1,.timelist .time-list li .timetext1{ width: 2.8rem; height: 3.1rem;font-size: 0.32rem; line-height: 0.36rem;}
.timelist .time-list li .timetext1 .mid{ width: 2.8rem; height: 3.1rem;}
.timelist .time-list li .timetext1 span{clear: both; display: block;}

.timelist .time-list li .timebg2,.timelist .time-list li .timetext2{ width: 2.8rem; height: 0.84rem;font-size: 0.28rem; line-height: 0.3rem;}
.timelist .time-list li .timetext2{ width: 2.6rem;  left: 0.1rem;}
.timelist .time-list li .timetext2 .mid{ width: 2.8rem; height: 0.84rem;}
.timelist .time-list li .timetext2 span{}

/* Tipsbox
----------------------------------------------------------------------------------- */
.tipsbox{display: none; width: 6.4rem; height: 100%;}
.tipsbox .bg,.tipsbox .contants{position:fixed;z-index: 999999999;}
.tipsbox .bg{bottom: -1.0rem; width: 6.4rem; height: 120%; background-color: #000; z-index: 99999;}
.tipsbox .contants{width: 4.7rem; height: 2.6rem; overflow: hidden; top: 50%; left: 50%; margin:-1.3rem 0 0 -2.35rem; text-align: center; z-index: 99999; background-color: #fff; color: #545454;}
.tipsbox .contants .text{width: 4.3rem; margin: 0 auto; height: 1.4rem; padding: 0.2rem; font-size: 0.26rem; line-height: 0.26rem;}
.tipsbox .contants .close{width: 4.3rem; height: 0.4rem; overflow: hidden; top: 50%; left: 50%; margin:0.5rem 0 0 -2.15rem; text-align: center; z-index: 99999;position: absolute; font-size: 0.26rem; border-top: 1px solid #d9d9d9; line-height: 0.4rem; padding-top: 0.2rem;}

/* News Index
----------------------------------------------------------------------------------- */
.foot-sidebar,.foot-sidebar-bg{width: 6.4rem; height: 0.84rem; position: fixed; bottom: 0; z-index: 1; left: 50%; margin-left: -3.2rem;}
.foot-sidebar-bg{overflow: hidden;}
.foot-sidebar{z-index: 222;}
.foot-sidebar-btn{width: 6.4rem; height: 0.84rem;border-top:1px solid #dfdfdf;}
.foot-sidebar-b1 li{width: 1.6rem; float: left; height: 0.84rem;position: relative; z-index: 22;}
.foot-sidebar-b1 li{-webkit-tap-highlight-color:rgba(255,255,255,0);}
.foot-sidebar-b1 li a{display: block; height: 0.84rem;}
#footimg1{display: block;}
#footimg2{display: none;}
.gallery-info .color{color: #ffb400;}

.foot-sidebar-bg{}
.foot-sidebar-bg.sidebaron{}
.foot-sidebar-bg.on1{}
.foot-sidebar-bg li{width: 1.6rem; float: left; height: 0.28rem; padding-top: 0.56rem; text-align: center; color: #333; font-size: 0.2rem;}
.foot-sidebar-bg li.on{color:#3478f7;}
.foot-sidebar-bg li.on2{color:#3478f7;}

.foot-sidebar-bg li{background-image: url(../images/side_bga.png); background-repeat: no-repeat; background-size: 6.4rem 2.52rem;}
.foot-sidebar-bg li.a1{background-position:left top;}
.foot-sidebar-bg li.a2{background-position:-1.6rem -0.84rem;}
.foot-sidebar-bg li.a3{background-position:-3.2rem top;}
.foot-sidebar-bg li.a4{background-position:-4.8rem top;}

.foot-sidebar-bg.sidebaron li.a2{background-position:-1.6rem top;}

.foot-sidebar-bg.on1 li.a1{background-position:left -1.68rem;}
.foot-sidebar-bg.on2 li.a1{background-position: left -1.68rem;}

.foot-sidebar-all{width: 0.75rem; height: 0.75rem; position: fixed; right: 0.02rem; bottom: 0.05rem; z-index: 9999;}
.foot-sidebar,.foot-sidebar-bg{display: block;}

.img_list2 ul li{float: left; width: 6.36rem; padding: 0.02rem 0.02rem 0 0.02rem; display: block; height: 4.26rem;}
.img_list2 ul li .item{width: 6.36rem; overflow: hidden; height: 4.26rem;}

.sidebar-bgs,.sidebar-ul{position: absolute; left: 0; bottom: -6rem; opacity:0;}
.sidebar-bgs{width: 1.60rem;border: 1px solid #140e04; border-bottom: none;}
.sidebar-ul{width: 1.62rem;z-index: 9;}
.sidebar-ul dl{float: left; height: 0.6rem; padding: 0.06rem 0.1rem; width: 1.42rem; border-bottom: 1px solid #140e04;}
.sidebar-ul dl dt{width: 0.6rem; height: 0.6rem;float: left; }
.sidebar-ul dl dt img{vertical-align: top;}
.sidebar-ul dl dd{float: left; width: 0.8rem; height: 0.24rem; font-size: 0.24rem; color: #fff; margin: 0.18rem 0; overflow: hidden;}
.sidebar-bgs{background-color: #2f2000;}

.share-admin .sidebar-bgs{width: 2.0rem;}
.share-admin .sidebar-ul{width: 2.02rem;}
.share-admin .sidebar-ul dl{width: 1.82rem;}
.share-admin .sidebar-ul dl dd{width: 1.2rem;}

.sidebar-bgs.on,.sidebar-ul.on{-webkit-animation-duration:0.5s;animation-duration:0.5s;-webkit-animation-fill-mode:both;animation-fill-mode:both; bottom: 0.84rem;}
@-webkit-keyframes side{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}100%{opacity:1;-webkit-transform:none;transform:none}}
@keyframes side{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}100%{opacity:1;-webkit-transform:none;-ms-transform:none;transform:none}}
.sidebar-bgs.on,.sidebar-ul.on{-webkit-animation-name:side;animation-name:side;}

.sidebar-bgs.on{filter:alpha(opacity=95);-moz-opacity:0.95;-khtml-opacity: 0.95;opacity: 0.95;}

.sidebar-uls{overflow-x:auto; overflow-y:hidden; position: absolute; left: 0; bottom: 0.85rem; opacity:0; height: 0.36rem; width: 5.51rem; padding: 0.07rem 0.2rem 0.07rem 0.2rem;background-color: #fff;}
.sidebar-uls.on{opacity:1;}

.sidebar-uls-li{min-width:5.51rem; float: left; height: 0.36rem; overflow-x:auto; overflow-y:hidden;}
.sidebar-uls-li dl{float: left; height: 0.36rem; width: auto; padding: 0 0.1rem;}
.sidebar-uls-li dl{-webkit-tap-highlight-color:rgba(255,255,255,0);}
.sidebar-uls-li dl p{-moz-border-radius: 0.18rem;-webkit-border-radius: 0.18rem;border-radius: 0.18rem; padding: 0 0.15rem;  height: 0.36rem; min-width: 0.58rem; text-align: center; line-height: 0.36rem; color: #333; font-size: 0.2rem; display: block;}
.sidebar-uls-li dl.on p{color: #fff; background-color: #3478f7;}

.sidebar-uls-close{width: 0.3rem; height: 0.36rem; position:absolute;bottom:0.85rem;left:5.51rem;padding:0.07rem 0.3rem;background-color:#fff; cursor: pointer;}
.sidebar-uls-close img{width: 100%; vertical-align: top;}

/*.tipsbox .share{width: 2.95rem; height: 2.95rem;position:fixed;z-index: 99999; top: 0; left: 50%; margin-left: 0.25rem;}*/
.tipsbox .share{width: 6.4rem; height: 7.85rem;position:fixed;z-index: 99999; top: 0; left: 50%; margin-left: -3.2rem;}
.tipsbox .share{background-image: url(../images/share.png); background-repeat:no-repeat; background-position: left top; background-size: 6.4rem 7.85rem;}
.tipsbox .share .bbtrn{margin: 6.3rem auto 0; width: 1.0rem; height: 0.8rem;}
.tipsbox .share .bbtrn{-webkit-tap-highlight-color:rgba(255,255,255,0);}

.jxqrcode{background-color: #fff; width: 6.4rem; position: fixed; /*bottom: -6.0rem; */bottom: 0.84rem; left: 50%; margin-left: -3.2rem;z-index:999999999;/* border-top:1px solid #e0dede;*/ display: none;}
.jxqrcode .jxclose{width: 1.2rem; height: 0.24rem; margin: 0.1rem auto 0.1rem; text-align: center;}
.jxqrcode .jxclose img{width: auto !important; height: 0.24rem; vertical-align: top;}
.jxqrcode .jxcen{width: 6.2rem; margin: 0 auto; position: relative;}
.jxqrcode .jxcen .jxbg{width: 6.4rem; height: 2.6rem; position: absolute; z-index: 1; top: 0; left: 0; overflow: hidden;}
.jxqrcode .jxcen .jxlogo{width: 3.0rem; margin-top: 0.54rem;}
.jxqrcode .jxcen .jxqr{width: 2.9rem; text-align: center;}
.jxqrcode .jxcen .jxqr .imgs{width: 2.0rem; height: 2.0rem; vertical-align: top; margin: 0 auto;}
.jxqrcode .jxcen .jxqr .p{font-size: 0.23rem; line-height: 0.26rem;color: #333; width: 2.9rem; text-align: center; margin: 0.2rem 0  0.1rem 0;}
.jxqrcode .jxbotm{width: 6.0rem; margin: 0 auto; font-size: 0.19rem; color: #999; text-align: center; margin-bottom: 0.2rem; margin-top: 0.3rem;}
.jxqrcode .jxbotm span{color: #ffae00; padding-left: 0.15rem;}
.jxqrcode .jxbotm a,.jxqrcode .jxbotm a:hover{color: #999; text-decoration: underline;}
.jxqrcode .jxbotm span a,.jxqrcode .jxbotm span a:hover{color: #ffae00; text-decoration: none;}

.jxqrcode.on{display: block;}
/*.jxqrcode.on{-webkit-animation-duration:0.5s;animation-duration:0.5s;-webkit-animation-fill-mode:both;animation-fill-mode:both; bottom: 0.8rem;}
.jxqrcode.on{-webkit-animation-name:side;animation-name:side;}*/

.img_list ul li {position: relative; z-index: 0;}
.img_list ul li .checker{position: absolute; width: 0.44rem; height: 0.44rem; bottom: 0.08rem; right: 0.08rem; display: none;}

.foot-sidebar-b2{display: none;}
.foot-sidebar-b2 li{width: 2.11rem; float: left; height: 0.34rem; padding: 0.25rem 0; font-size: 0.3rem; color: #201600; text-align: center;}

.checker span{width: 0.44rem; height: 0.44rem; display: inline-block;}
.checker span{background-image: url(../images/check.png); background-repeat:no-repeat; background-position: left top; background-size: 0.44rem 0.88rem;}
.checker span.checked{background-position: left -0.44rem;}

.bgfff{background-color: #fff;}

.ajaxbox .l{margin-left: 0.2rem;}
.gallery-infos{position: relative;}
.btnsars{height: 0.5rem; width: 3.0rem; position: absolute; bottom: -1.1rem; left: 50%; margin-left: -1.5rem; display: none;}
.btnsars span{-moz-border-radius: 0.03rem;-webkit-border-radius: 0.03rem;border-radius: 0.03rem;}
.btnsars span{display: inline-block; width: 0.86rem; height: 0.48rem;text-align: center; line-height: 0.48rem; border: 1px solid #fff;}
.yellow{color: #ffb400;}

.adminn{width: 6.4rem; height: 4.75rem; position: fixed; bottom: 0; left: 50%; margin-left: -3.2rem;z-index: 9999999999;}
.adminn .cenm{width: 6.4rem; height: 3.75rem;position: relative;}
.cenm-close{width: 1.6rem; height: 0.58rem; position: absolute; top: 0; left: 3.37rem;}

.adminr{width: 6.4rem; height: 2.9rem; position: fixed; bottom: 1.85rem; left: 50%; margin-left: -3.2rem;z-index: 9999999999;}
.adminr .cenm{width: 6.4rem; height: 2.9rem;position: relative;}
.cenr-close{width: 1.5rem; height: 0.56rem; position: absolute; top: 1.72rem; right: 0;}

.passwords{width: 6.4rem; height: 7.36rem; position: fixed; top: 50%; left: 50%; margin-left: -3.2rem; margin-top: -3.08rem;z-index: 9999999999;}
.passwords .passcen{width: 6.4rem; height: 7.36rem;position: relative;}
.passwords .testx{height: 0.5rem; width: 6.4rem; top: 3.98rem; left: 0; position: absolute;}
.passwords .testipnt{width: 2.58rem; height: 0.54rem; top: 3.17rem; left: 1.91rem; position: absolute; z-index: 99999;}
.passwords .testipnt input{width: 2.58rem; height: 0.54rem; background: none; border: none; color: #fff; letter-spacing: 0.58rem;text-indent: 0.2rem; overflow: hidden;}

.top-sx{width: 2.5rem; height: 0.46rem; position: fixed; /*top: 0.94rem;*/top: 1.1rem; left: 50%; margin-left: -1.25rem;z-index: 9999999999; display: none;}
.top-sx .sxcen{width: 2.5rem; height: 0.46rem; position: relative;}
.top-sx .sxcen .touchsimg{width: 2.5rem; height: 0.46rem;position: absolute; top: 0; left: 0;}
.top-sx2{width: 3.58rem; height: 0.46rem; position: fixed; top: 0.94rem; left: 50%; margin-left: -1.79rem;z-index: 9999999999; display: none;}

.img_list ul li .checkers{position: absolute; width: 1.8rem; height: 0.24rem; bottom: 0.08rem; right: 0.08rem; text-align: right;}
.checkers span{width: 0.62rem; height: 0.24rem; display: inline-block; padding-left: 0.08rem;}

@-webkit-keyframes touchleft {0% { top: 0; left: 0;-webkit-transform-origin: left bottom;transform-origin: left bottom;-webkit-transform: rotate3d(0, 0, 1, -45deg);transform: rotate3d(0, 0, 1, -45deg);opacity: 0}100% { top: 0.25rem; left: 0.2rem;-webkit-transform-origin: left bottom;transform-origin: left bottom;-webkit-transform: none;transform: none;opacity: 1}}
@keyframes touchleft{0%{ top: 0; left: 0;-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate3d(0,0,1,-45deg);transform:rotate3d(0,0,1,-45deg);opacity:0}100%{ top: 0.25rem; left: 0.2rem;-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:none;transform:none;opacity:1}}
.touchleft{-webkit-animation-name:touchleft;animation-name:touchleft;}
.touchleft{-webkit-animation-duration:1.0s;animation-duration:1.0s;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;}

.h1901{background-color: #191101;}
.share-classify .sidebar-ul dl:hover,.share-admin .sidebar-ul dl:hover{background-color: #191101;}

.img_list_bg{background-image: url(http://www.jfoto.cn/piwigo/download/img/bg-logo.png); background-repeat: no-repeat; background-position: center 7.2rem; background-size: 6.4rem 1.0rem;}
.img_logo_bg{background-image: url(../images/logo2.png); background-repeat: no-repeat; background-position: center center; background-size: 3.8rem 1.05rem;}

.pagenums-bg,.gallery-infos-bg,.pagenums,.gallery-infos{width: 6.4rem; position: fixed; left: 50%; margin-left: -3.2rem; }
.pagenums-bg,.gallery-infos-bg{filter:alpha(opacity=95);-moz-opacity:0.95;-khtml-opacity: 0.95;opacity: 0.95; background-color: #1b1b1c; }
.pagenums-bg,.pagenums{height: 0.34rem; top: 0;}
.pagenums,.gallery-infos{color: #bdbdbd; font-size: 0.2rem;}
.pagenums{text-align: center; line-height: 0.34rem;}
.gallery-infos-bg,.gallery-infos{bottom: 0;}
.gallery-infos{height: 0.5rem;padding: 0.8rem 0 0.1rem 0;}
.gallery-infos-bg{height: 0.5rem;padding:0.1rem 0;}

.pagenums-bg,.gallery-infos-bg{z-index: 99999;}
.pagenums,.gallery-infos{z-index: 999999;}
.gallery-infos{display: block;}
.gallery-infos-bg{display: block;}
.slide .gallery-infos{display: block;}

.pagenums-bg{display: none !important;}
.pagenums .l{padding-left: 0.1rem;}
.pagenums .r{padding-right: 0.1rem;}

.gallery-infos-pre{position: relative; z-index: 99999999; width: 6.4rem; height: 0.7rem;  left: 50%; margin-left: -3.2rem;}
.slide .gallery-infos{position: absolute !important;}

.gallery-tiprs{padding-left: 0.75rem; width: 2.15rem; height: 0.5rem; line-height: 0.25rem;}
.gallery-tiprs{background-image: url(../images/sra1.png); background-repeat: no-repeat; background-position:0.3rem center ; background-size: 0.55rem 0.5rem;}
.gallery-smalls{padding-right: 0.3rem; width: 3.0rem;}
.gallery-smalls-one{height: 0.4rem; margin: 0.05rem 0; width: 3.0rem; background-color: #312f34; text-align: center; line-height: 0.4rem;}
.gallery-smalls-one img{height: 100%;vertical-align: middle;}
.gallery-smalls-one{-moz-border-radius: 0.25rem;-webkit-border-radius: 0.25rem;border-radius: 0.25rem;}
.gallery-smalls-two{line-height: 0.5rem; text-align: right; width: 3.0rem; }
.slide .gallery-infos .gallery-smalls-one img{width: auto !important;}

.shuax-tips{width: 6.4rem; height: 0.6rem; position: fixed; z-index: 9999; background-color: #ededed; text-align: center; line-height: 0.6rem; font-size: 0.24rem; color: #999999; top: 1.1rem; left: 50%; margin-left: -3.2rem; display: none;}

.img_list ul{ background-color: #fff;}
.loading_all{width: 6.4rem; height: 0.3rem; font-size: 0.23rem; text-align: center; padding:0.2rem 0; background-color: #fff; line-height: 0.3rem;}
.loading_all img{width: 0.3rem; height: 0.3rem; vertical-align: middle;}
.loading_all img{-webkit-animation: rotate 1.2s linear infinite;-moz-animation: rotate 1.2s linear infinite;-o-animation: rotating 1.2s linear infinite;animation: rotate 1.2s linear infinite;}

.spinnerpre{width:0.9rem;height:0.9rem;position: fixed; z-index: 99999999999; left: 50%; top: 50%; margin: -0.45rem 0 0 -0.45rem; display: none;}
.spinners{width:0.9rem;height:0.9rem;position: relative;text-align: center;-webkit-animation: rotatess 2.0s infinite linear;animation: rotatess 2.0s infinite linear;}
.dot1, .dot2 {/*width: 60%;height: 60%;*/width: 45%;height: 45%;display: inline-block;position: absolute;top: 0;background-color: #fff;border-radius: 100%;-webkit-animation: bouncess 2.0s infinite ease-in-out;animation: bouncess 2.0s infinite ease-in-out;}
.dot2 {top: auto;bottom: 0px;-webkit-animation-delay: -1.0s;animation-delay: -1.0s;}
@-webkit-keyframes rotatess { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
@-webkit-keyframes bouncess {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
@keyframes bouncess {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* Narrow
----------------------------------------------------------------------------------- */

/* scroller style */
/*
.sidebar-uls::-webkit-scrollbar
{
    width: 1px;
    height: 1px;
    background-color:transparent;
}
.sidebar-uls::-webkit-scrollbar-thumb
{
    background-color: #999;
}
*/
