*{padding:0;margin:0}
li{list-style:none;}
a{text-decoration:none;}
body,html{height:100%;}
body{font-size:0.13rem;-webkit-overflow-scrolling : touch;}
a,button,input,textarea,label{-webkit-tap-highlight-color: rgba(0,0,0,0) }
a,input,button,img,textarea{outline:none;}
.album-banner {
	position: relative;
	width: 3.75rem;
	display: block
}
.album-banner-arrow {
	position: absolute;
	top: 50%;
	right: .2rem;
	font-size: .16rem;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 0 1px rgba(0,0,0,0.45);
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	-webkit-animation: albumBannerArrow 2s infinite;
	animation: albumBannerArrow 2s infinite;
}
.component-image.album-banner-image{
	width: 3.75rem; 
	height: 1.8rem; 
}
.album-count {
    position: absolute;
    right: 0;
    z-index: 2;
    padding: 0 .1rem;
    font-size: .12rem;
    height: .22rem;
    line-height: .22rem;
    display: inline-block;
    color: #fff;
    border-radius: .11rem 0 0 .11rem;
    background: rgba(0,0,0,.7);
}
.iconfont {
    font-family: iconfont!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
    pointer-events: none;
    background: #fff;
}
.icon-photo:before {
    content: "\E61D";
}
.icon-view:before {
    content: "\E603";
}
.album-functionBar {
	position: fixed;
    z-index: 1;
    width: 3.75rem;
    height: .48rem;
}
.album-functionBar-bg {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.album-functionBar-button, .album-functionBar-item {
    position: relative;
    padding: 0;
    border: 0;
    background: transparent;
    vertical-align: middle;
}
.album-functionBar-item {
    margin-left:.1rem;
    height: 100%;
    font-size: 0;
    display: inline-block;
    box-sizing: border-box;
}
.album-functionBar-button i {
    margin-right: .04rem;
    font-size: .18rem;
    vertical-align: middle;
    width: 0.18rem;
    height: 0.18rem;
    display: inline-block;
}
.iconfont {
    font-family: iconfont!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
    pointer-events: none;
}
.album-functionBar-button span {
    pointer-events: none;
    vertical-align: middle;
}
.album-functionBar-comment, .album-functionBar-puzzle {
    width: 20%!important;
}
.album-functionBar-button {
    width: 100%;
    height: .48rem;
    text-align: center;
    line-height: .48rem;
    font-size: .14rem;
}
.album-functionBar-button, .album-functionBar-item {
    position: relative;
    padding: 0;
    border: 0;
    background: transparent;
    vertical-align: middle;
    color: #fff;
}
.component-classifyBar {
    width: 3.75rem;
    height: 36px;
    font-size: 0;
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    color: #323a45;
    -webkit-overflow-scrolling: touch;
}
.component-classifyBar li:last-child {
    margin-right: 6px;
}
.component-classifyBar li {
    position: relative;
    margin-left: 6px;
    padding: 0 6px;
    height: 34px;
    line-height: 36px;
    border-bottom: 2px solid transparent;
    display: inline-block;
    font-size: 12px;
    color: inherit;
}
.component-image-background {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity .3s;
}
.image-content{
	margin-top: 0.48rem;
    min-height: 7rem;
}
.image-content li{
	float:left;
    border-top:0.01rem solid #000;
    border-right:0.01rem solid #000;
    width: 1.25rem;
    height: 1.25rem;
    box-sizing:border-box;
}
.image-content li img{
	width: 100%;
	height: 100%;
}
.bigpic-pop{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 100;
}
.bigpic-pop2{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
        z-index: 100;
}
.tool-close {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
    padding: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 0.2rem;
    color: #fff;
    background: hsla(214,3%,45%,.6);
    border-radius: 50%;
    border: 0;
}
.tool-layout, .tool-upload {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.tool-layout {
    position: fixed;
    z-index: 1000;
    background-color: rgba(0,0,0,.7);
}
.album-imageInfo-info {
    position: absolute;
    left: .1rem;
    bottom: .5rem;
    width: 2.2rem;
    background: #fff;
    border-radius: .04rem;
}
.album-imageInfo-info>li {
    position: relative;
    padding: .1rem .1rem .1rem .2rem;
    border-bottom: 1px solid #ddd;
    color: #6e7175;
    line-height: .1rem;
    font-size: .1rem;
}
.album-imageInfo-info>li .pull-left {
    /*max-width: .5rem;*/
}
.album-imageInfo-info>li>div, .album-imageInfo-info>li>label {
    display: inline-block;
}
.pull-left {
    float: left;
}
.album-imageInfo-info>li .pull-right {
    max-width: 1.4rem;
}
.album-imageInfo-info>li>div, .album-imageInfo-info>li>label {
    display: inline-block;
}
.text-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.pull-right {
    float: right;
}
.album-imageInfo-info>li:before {
    position: absolute;
    content: "";
    top: 50%;
    left: .1rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: .05rem;
    height: .05rem;
    border-radius: 50%;
    background: #40adf0;
}
.clearfix:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
}
.album-bigImageLayer-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .1rem;
    height: .3rem;
    line-height: .3rem;
    font-size: 0;
}
.album-imageInfo {
    padding: 0 .1rem;
    height: inherit;
    display: inline-block;
    vertical-align: middle;
}
.album-imageInfo-icon, .component-praise-icon{
    font-size: .2rem;
    color: #fff;
    text-align: center;
    line-height: inherit;
    width: 0.2rem;
    height: 0.2rem;
    display: inline-block;
}
.download {
    pointer-events: auto;
}
.component-praise {
    padding: 0 .1rem;
    font-size: 12px;
    height: inherit;
    display: inline-block;
    vertical-align: middle;
}
.component-praise-icon {
    font-size: .2rem;
    color: #fff;
    text-align: center;
    line-height: inherit;
}
.iconfont {
    font-family: iconfont!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
    pointer-events: none;
}
.component-comment {
    padding: 0 .1rem;
    font-size: .12rem;
    height: inherit;
    display: inline-block;
    vertical-align: middle;
}
.component-comment-icon {
    font-size: .2rem;
    color: #fff;
    pointer-events: auto;
    text-align: center;
    line-height: inherit;
    width: 0.2rem;
    height: 0.2rem;
    display: inline-block;
}
.album-bigImageLayer-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .1rem;
    height: .3rem;
    line-height: .3rem;
    font-size: 0;
    z-index: 100;
}
.album-bigImageLayer-btn {
    padding: .07rem .1rem;
    border: 1px solid hsla(0,0%,100%,.2);
    border-radius: .2rem;
    line-height: .12rem;
    font-size: .12rem;
    color: #fff;
    display: inline-block;
    box-sizing: border-box;
    background: hsla(0,0%,100%,.2);
    text-align: center;
    margin-left: .08rem;
    border-radius: 2px;
    border: 0;
    vertical-align: middle;
    float: right;
}
.swiper1{
    position: fixed;
    top: 30px;
    bottom: 50px;
    width: 3.75rem;
}
.position_new img{
	position: absolute;
	top:50%;
	margin-top: -40%;
}
.swiper1 .swiper-slide{
	width: 100%;
	height: 100%;
}
.swiper1 .swiper-slide img{
	width: 100%;
}
.swiper1 .swiper-slide2{
	width: 100%;
	height: 100%;
}
.swiper1 .swiper-slide2 img{
	width: 100%;
	height: 100%;
	display: block;
}
.welcome{
    width: 100%;
    height: 100%;

    background-size: 100% 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
}

.welcome-time{
    position: fixed;
    top: 0.15rem;
    right: 0.15rem;
    color: #fff;
}
.leaveWelcome{
    position: fixed;
    bottom: 0.5rem;
    height: 0.3rem;
    border: 0.02rem solid #fff;
    border-radius: 0.16rem;
    width: 1.25rem;
    text-align: center;
    line-height: 0.3rem;
    display: block;
    left: 50%;
    margin-left: -0.63rem;
    color: #fff;
}
/***********评论************/
.component-commentBox {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 30;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
}
.component-commentBox-top {
    margin: .6rem .14rem 0;
}
.component-commentBox-input {
    width: 100%;
    height: .68rem;
    border: 0;
    resize: none;
    font-size: .12rem;
}
.component-commentBox-input textarea {
    padding: .04rem .08rem;
    width: 100%;
    height: 100%;
    line-height: .22rem;
    border: 0;
    color: #9ea7b3;
    border-radius: .02rem;
    font-size: .12rem;
    resize: none;
    box-sizing: border-box;
    background: hsla(0,0%,100%,.1);
    transition: background .5s,color .5s;
}
textarea {
    overflow: auto;
}
.component-commentBox-submit {
    margin-top: .1rem;
    float: right;
    width: .64rem;
}
.component-commentBox-count {
    margin: .1rem .08rem 0 0;
    color: #9ea7b3;
    line-height: .28rem;
    font-size: .14rem;
    font-style: italic;
    font-weight: 700;
    float: right;
}
.component-commentBox-submit button {
    padding: 0;
    width: 100%;
    line-height: .28rem;
    background: #9ea7b3;
    color: #323a45;
    font-size: .14rem;
    border: 0;
}
.component-commentBox-main {
    position: absolute;
    top: 1.6rem;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: .1rem;
}
.component-commentBox-main-top {
    position: relative;
    margin: 0 .14rem;
    line-height: .32rem;
    color: #9ea7b3;
    font-size: .12rem;
    border-bottom: 1px solid hsla(0,0%,100%,.3);
}
.component-commentBox-main-msg {
    top: .33rem!important;
}
.component-scroll {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
}
.component-scroll-list {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 0;
    -webkit-overflow-scrolling: touch;
}
.component-scroll-bottomOffset {
    width: 3.75rem;
}
.component-comment-num {
    margin: -.12rem 0 0 .04rem;
    font-size: .12rem;
    color: #fff;
    text-align: center;
    line-height: inherit;
    display: block;
    float: right;
}
.component-praise-num {
    margin: -.12rem 0 0 .04rem;
    font-size: .12rem;
    color: #fff;
    text-align: center;
    line-height: inherit;
    display: block;
    float: right;
}
.component-item{
    border-bottom: 1px solid hsla(0,0%,100%,.3);
    padding: 0.14rem;
}
.component-item-top{
    height: 0.34rem;
    font-size: 0.13rem;
}
.component-item-top .image{
    width: 0.34rem;
    height: 0.34rem;
    overflow: hidden;
    border-radius: 50%;
    float: left;
}
.component-item-top .image img{
    width: 100%;
    height: 100%;
}
.component-item-top .username{
    line-height: 0.34rem;
    color: #999;
    float: left;
    margin-left: 0.1rem;
}
.component-item-top .username{
    line-height: 0.34rem;
    color: #999;
    float: left;
    margin-left: 0.1rem;
}
.component-item-top  .dateTime{
    line-height: 0.34rem;
    color: #999;
    float: right;
    display: block;
    margin-right: 0.1rem;
}
.component-item-top a{
    line-height: 0.34rem;
    color: #999;
    float: right;
    display: block;
    text-decoration: underline;
}
.component-text{
    color: #fff;
    font-size: 0.13rem;
    line-height: 1.6em;
    padding-top: 0.1rem;
}
.album-albumComment {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: #f7f7f7;
    font-size: 0;
}
.album-albumComment-title {
    margin: 0;
    padding: 0 .1rem;
    line-height: .5rem;
    color: #9ea7b3;
    font-size: .14rem;
    font-style: normal;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.album-albumComment-list {
    top: .5rem!important;
}
.component-scroll {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
}
.component-scroll-list {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 0;
    -webkit-overflow-scrolling: touch;
}
.album-albumImageItem {
    margin: -1px .1rem 0;
    padding: .03rem 0;
    width: 3.55rem;
    border-top: 1px solid #eaebef;
    box-sizing: border-box;
    font-size: 0;
}
.album-albumImageItem-right {
    padding-left: .08rem;
    width: 2.54rem;
    font-size: .14rem;
    display: inline-block;
    vertical-align: top;
}
.album-albumImageItem-top {
    line-height: .24rem;
    font-size: 0;
}
.album-albumImageItem-text {
    margin-top: 4px;
    line-height: 20px;
    font-size: 14px;
    color: #323a45;
    word-wrap: break-word;
}
.album-albumImageItem-nick {
    font-size: 12px;
    color: #9ea7b3;
    vertical-align: middle;
}
.album-albumImageItem-time {
    line-height: .24rem;
    font-size: 10px;
    color: #9ea7b3;
    float: right;
}
.album-albumImageItem-left {
    width: .63rem;
    height: .63rem;
    display: inline-block;
    vertical-align: top;
}

.album-albumImageItem-left img{
    width: .53rem;
    height: .53rem;
}
.album-functionBar-commonCount {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 2px 5px;
    height: 12px;
    line-height: 14px;
    font-size: 12px;
    border-radius: 8px;
    color: #fff;
    background: #e26969;
    -webkit-transform: translate(20px);
    transform: translate(20px);
}

.component-scroll-backTop {
    position: fixed;
    right: .1rem;
    bottom: .6rem;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-size: 0.13rem;
    color: #fff;
    background: rgba(0,0,0,.7);
}

.component-scroll-me {
    line-height: 30px;
    bottom: 1rem;
}
.component-pop-me {
    text-align:center;
    color:#fff;
}
.component-pop-me .des {
    margin-top:50px;
}

.component-pop-me .avatar {
    margin:0 auto;
    width:320px;
    height:330px;
    margin-top:40px;
    border:1px solid #000;
    background: url(../images/me_bd.png?v1);
}
.upload_warp_img_div{
      margin: 18% auto 15% auto;
}
.album-upload-btn {
    width:190px;
    height:45px;
    background: #3A3A3D;
    border-radius:5px;
    margin-top:46px;
    color:white;
    border:1px solid white;
}
.component-verticalBotton-text {
    transform: translate(-2%,-50%) scale(.7);
}

.album-bigImageLayer-loadImage {
    color: #fff;
    position: absolute;
    padding: 7px 10px;
    border: 1px solid rgba(51,51,51,.6);
    border-radius: .2rem;
    line-height: 12px;
    display: inline-block;
    box-sizing: border-box;
    background: rgba(51,51,51,.6);
    bottom: 139px;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid hsla(0,0%,80%,.6);
    border-radius: 4px;
}
.album-bigImageLayer-size{
    bottom: 107px;
    width: 100%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}








