/*后台基础样式*/

/*原子类*/

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.lineh38 {
    line-height: 38px;
}

.fontsize16 {
    font-size: 16px
}

.bgfff {
    background: #fff;
}

.pd20 {
    padding: 20px;
}

.width100 {
    width: 100px;
}

.widthauto {
    width: auto !important;
}

.inlineblock {
    display: inline-block
}

.w100 {
    width: 100px !important;
}

.w120 {
    width: 120px !important;
}

.w150 {
    width: 150px !important;
}

.w160 {
    width: 160px !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.mr10 {
    margin-right: 10px !important;
}

/*原子类*/

.center-detail-top {
    font-size: 16px;
    color: #454545;
    margin: 20px;
    line-height: 30px;
    overflow: hidden;
}

.center-detail-top img {
    width: 30px;
    border-radius: 50%;
    float: left
}

.center-detail-top span {
    float: left;
    margin: 0 5px
}

.red,red {
    color: red !important;
}

.blue,blue {
    color: blue !important;
}

.green,green {
    color: green !important;
}

.clearfix::after,
.clearfix::before {
    clear: both;
    content: '.';
    height: 0;
    line-height: 0;
    visibility: hidden;
    display: block;
}

.layui-input {
    line-height: 38px;
}

.fenye {
    margin: 10px;
}

.fenye li {
    float: left;
    height: 28px;
    line-height: 28px;
    margin: 0 -1px 5px 0;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    border: 1px solid #e2e2e2;
}

.fenye li.active {
    background-color: #1890ff;
}

.fenye a {
    display: block;
    padding: 0 15px;
}

.fenye li.active a {
    color: #fff;
}

.iekdswdd {
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
}

.iekdswdd .layui-inline {
    width: 46%;
    float: left;
    margin: 0 3% 0 1%;
    border-top: 4px solid #e7eaec;
    border-bottom: 1px solid #e7eaec
}

.iekdswdd .layui-inline dt {
    line-height: 40px;
    margin: 10px;
    margin-bottom: 30px;
}

.layui-table th {
    text-align: center;
}

@media screen and (max-width:1300px) {
    .layui-table td,
    .layui-table th {
        padding: 4px 6px;
    }
}

@media screen and (max-width:970px) {
    .layui-table td,
    .layui-table th {
        padding: 4px 0;
    }
}

.layui-store-user {
    overflow: hidden;
    text-align: center;
}

.layui-store-user p {
    display: inline-block;
    margin: 0 3px;
    text-align: center
}

.layui-store-user p img {
    width: 38px;
    border-radius: 50%;
}

.rule-list {
    max-width: 600px
}

.rule-list-item,
.coupon-list-item,
.oncecard-list-item {
    position: relative;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #fdfeff;
    border: solid 1px #eee;
    height: auto;
    display: inline-block;
    width: calc(100% - 32px);
}

.rule-list-item:hover,
.coupon-list-item:hover,
.oncecard-list-item:hover {
    border-color: #1890ff;
}

.remove-rule,
.remove-coupon,
.remove-oncecard {
    position: absolute;
    right: 8px;
    top: 0;
    color: #bbb;
    font-size: 24px;
    cursor: pointer
}

.btn-add-rule,
.btn-add-coupon,
.btn-add-oncecard {
    width: 100%;
}

.oncecard-list-item .layui-form-select,
.coupon-list-item .layui-form-select {
    width: 195px;
    float: left;
    margin-right: 10px
}

/*弹出出微擎选框*/

#newUploaderImg .modal-dialog, .uploader-modal .modal-dialog {
    width: 90% !important;
    max-width: 1088px;
    min-width: 576px !important;
    top: 380px !important;
    margin: 30px auto;
    z-index: 1;
}

@media screen and (max-width:788px) {
    #newUploaderImg .modal-dialog, .uploader-modal .modal-dialog {
        top: 400px !important;
    }
}

#newUploaderImg.image .material-body .selected-all, .uploader-modal.image .material-body .selected-all{
    width: 100% !important;
    left: 0 !important;
    padding: 10px 0 10px 190px !important;
}

#newUploaderImg.image .category, .uploader-modal.image .category{
    z-index: 977;
    position: relative;
}

@media screen and (max-width:1060px) {
    .material-content .material-head .filter{
        float: left !important;
        margin-bottom: 10px;
    }
    #material-Modal .material-head .btn-uploader{
        float: left!important;
    }
}

.modal-dialog.we7-modal-dialog{
    width: 70% !important;
    min-width: auto !important;
    margin: 30px auto;
}

/*弹出出微擎选框*/


/*layui后台覆盖样式*/

.layuiadmin-card-list p.layuiadmin-big-font {
    font-size: 36px;
    color: #666;
    line-height: 36px;
    padding: 5px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}
.layuiadmin-span-color {
    font-size: 14px;
}
.layuiadmin-badge, .layuiadmin-btn-group, .layuiadmin-span-color {
    position: absolute;
    right: 15px;
}
.layuiadmin-badge{
    margin-top: 9px;
}
.layuiadmin-span-color i {
    padding-left: 5px;
}
.layui-icon {
    font-family: layui-icon!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.layuiadmin-card-status {
    padding: 0 10px 10px;
}
.layuiadmin-card-status li {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #EEE;
}
.layuiadmin-card-status li h3 {
    padding-bottom: 5px;
    font-weight: 700;
}
.layuiadmin-card-status li p {
    padding-bottom: 10px;
    font-size: 14px;
    color: #666;
}
.layuiadmin-card-status li>span {
    color: #999;
}
.layuiadmin-home2-usernote .layuiadmin-reply {
    display: none;
    position: absolute;
    right: 0;
    bottom: 12px;
}

/*layui后台覆盖样式*/



/*后台基础样式*/