/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */
.mui-plus header.mui-bar{
	display: none;
}
.mui-plus .mui-bar-nav~.mui-content{
	padding: 0;
}

/*hm开头的表示仅为 Hello MUI示例定义*/
.hm-description{
	margin: .5em 0;
}

.hm-description>li {
	font-size: 14px;
	color: #8f8f94;
}

/*自定义css*/
.navtar{
	width:65px;
	height:65px;
	margin:0 auto;
	margin-top:20px;
	
}
.navtar img{
	width:100%;
	height:100%;
	border-radius:360px;
}
.agent_user_title{
	width:60%;
	height:35px;
	font-size:14px;
	line-height:35px;
	text-align:center;
	margin:0 auto;
	border:none;
	color:#fff;
	
}
ul{padding:0px;margin:0px;list-style-type:none;}
.gsjb{width:99%;margin:0 auto;}
.gsjb li{width:33%;height:60px;float:left;text-align:center;border-bottom:1px #F0F0F0 solid;color:#666;}
.gsjb li:nth-child(1){border-top:1px #F0F0F0 solid;}
.gsjb li:nth-child(2){border-top:1px #F0F0F0 solid;border-left:1px #F0F0F0 solid;border-right:1px #F0F0F0 solid;}
.gsjb li:nth-child(3){border-top:1px #F0F0F0 solid;}
.gsjb li:nth-child(5){border-left:1px #F0F0F0 solid;border-right:1px #F0F0F0 solid;}

.dtips{width:100%;height:25px;line-height:25px;text-align:center;font-size:14px;margin-top:10px;color:#333}
.dtips_n{width:100%;height:20px;line-height:20px;text-align:center;font-size:12px;color:#63B8FF;}

.clear{clear:both;}

.mui_01{width:100%;height:50px;line-height:50px;margin:0 auto;font-size:16px;background:#63B8FF;padding-left:5%;padding-right:5%;}
.mui01_box{width:33.33%;height:40px;float:left;text-align:center;color:#fff;}

.mui01_box:nth-child(1){height:1px;background:#F0F0F0;margin-top:25px;}
.mui01_box:nth-child(3){height:1px;background:#F0F0F0;margin-top:25px;}

.xs_btn{height:22px;line-height:9px;margin-right:10px;}

.dialog_input{width:30%;height:30px;border:1px red solid;}


.dtopbox{width:100%;height:auto;background:#63B8FF;padding-top:30px;padding-bottom:30px;}



