{template 'public/header'}

<body>
<div class="ub ub-ver bga page" id="page0">	
  	<!--显示地理位置-->
  	<div class="top_menu">
		<div class="c-wh ub t-dgra fixed ub-fh" style="top:0; left:0; z-index:9999;">
	    	<div class="c-bla30 ub ub-ac ub-pc" style="height:3rem; width:3rem" onClick="getAdr()"><i class="iconfont icon-dingwei ulev2 t-wh"></i></div>
	        <div class="ub-f1 ulev-4 t-wh uinn c-bla50 ub ub-ac" style="height:3rem">
	        	<div id="adr">位置获取中...</div>
	        </div>
	    	<div class="c-bla30 ub ub-ac ub-pc" onClick="openPe()" style="height:3rem; width:3rem"><i class="iconfont icon-iconzhenghe31 ulev2 t-wh"></i></div>
	    </div>
	</div>
  	
  	<div class="wap_index">
  		<div class="uinn11 ubb c-gra1 ub tx-c top-tab b-bla01 class_list"> 
  			<a href="{php echo $this->createMobileUrl('find',array())}" class="ubr b-bla01 ub-f1 uinn t-gra block active">项目</a> 
  			<a href="{php echo $this->createMobileUrl('catch',array())}" class=" ub-f1 uinn t-gra block ">人</a>
  		</div>
		
		<!--无记录-->
		<div class="weui_msg" style="display:none">
		    <div class="weui_icon_area"><i class="weui_icon_warn weui_icon_msg"></i></div>
		    <div class="weui_text_area">
		      <h2 class="weui_msg_title">暂无项目</h2>
		    </div>
		</div>
  		<!--周边项目-->
  		<div class="ub-f1 ub-ac class1"> 
    	<!--分类一-->
    		<div class="ub-f1 c-wh ubb b-gra5 umar-b1 us1">
    		<!--一级分类-->
      			<div class="ubb b-gra5 uinn5 ulev-1 font-b">
      				<div class="imgbox sm-imgbox ub-img1 ufl">
      					<img src="images/baoji.png" width="60" height="60">
      				</div>上门开锁
      			</div>
      		<!--二级分类-->
      			<ul class="class_ul ulev-4 tx-c">
		        	<li> <a href="#" class="block-in uinn2-1 uba b-gra5 umar-a">汽车开锁</a> </li>
		        	<li> <a href="#" class="block-in uinn2-1 uba b-gra5 umar-a">汽车开锁</a> </li>
		        	<li> <a href="#" class="block-in uinn2-1 uba b-gra5 umar-a">汽车开锁</a> </li>
		        	<li> <a href="#" class="block-in uinn2-1 uba b-gra5 umar-a">汽车开锁</a> </li>
		        	<div class="clear"></div>
		      	</ul>
		      	
		      	<!--一级分类-->
      			<div class="ubb b-gra5 uinn5 ulev-1 font-b">
      				<div class="imgbox sm-imgbox ub-img1 ufl">
      					<img src="images/baoji.png" width="60" height="60">
      				</div>上门开锁
      			</div>
      		<!--二级分类-->
      			<ul class="class_ul ulev-4 tx-c">
		        	<li> <a href="#" class="block-in uinn2-1 uba b-gra5 umar-a">汽车开锁</a> </li>
		        	<li> <a href="#" class="block-in uinn2-1 uba b-gra5 umar-a">汽车开锁</a> </li>
		        	<li> <a href="#" class="block-in uinn2-1 uba b-gra5 umar-a">汽车开锁</a> </li>
		        	<li> <a href="#" class="block-in uinn2-1 uba b-gra5 umar-a">汽车开锁</a> </li>
		        	<div class="clear"></div>
		      	</ul>
		      	
		      	<!--一级分类-->
      			<div class="ubb b-gra5 uinn5 ulev-1 font-b">
      				<div class="imgbox sm-imgbox ub-img1 ufl">
      					<img src="images/baoji.png" width="60" height="60">
      				</div>上门开锁
      			</div>
      		<!--二级分类-->
      			<ul class="class_ul ulev-4 tx-c">
		        	<li> <a href="#" class="block-in uinn2-1 uba b-gra5 umar-a">汽车开锁</a> </li>
		        	<li> <a href="#" class="block-in uinn2-1 uba b-gra5 umar-a">汽车开锁</a> </li>
		        	<li> <a href="#" class="block-in uinn2-1 uba b-gra5 umar-a">汽车开锁</a> </li>
		        	<li> <a href="#" class="block-in uinn2-1 uba b-gra5 umar-a">汽车开锁</a> </li>
		        	<div class="clear"></div>
		      	</ul>
    		</div>
  		</div>
  	</div>
  	
  	<div class="hbt"></div>
  	
  	<!--手机端底部-->
  	{template 'footer'}
  	<!--手机端底部-->
  
    
  <!--pc端底部-->
  
  <div class="loginmask c-bla80">
    <div class="ub ub-ac ub-pc mban" style="width:100%; min-height:100%;top:-800px">
      <div class="class c-wh mask_box">
      <div class="ub bga uc-t15 uinn ub-ac">
                    <div style="width:2rem"></div>
                    <div class="tx-c font-b ub-f1">全部项目</div>
                    <div class="closealert"  style="padding:0.3rem 0.5rem"><i class="iconfont icon-guanbi ulev2 t-gra"></i></div>
                </div>
        <ul class="t-line12 ub-fh ubt b-gra5">
          <!--循环开始-->
          <li> <a href="order_form.html" class="block ubb ubr b-gra5 uinn">
            <p><img src="images/baoji.png" width="60" height="60"></p>
            <p class="title ulev-4">单日保姆</p>
            </a> </li>
          <li> <a href="class.html" class="block ubb ubr b-gra5 uinn">
            <p><img src="images/chushimao.png" width="60" height="60"></p>
            <p class="title ulev-4">厨师上门</p>
            </a> </li>
          <li> <a href="class.html" class="block ubb ubr b-gra5 uinn">
            <p><img src="images/xiaoshigong.png" width="60" height="60"></p>
            <p class="title ulev-4">小时工</p>
            </a> </li>
          <li> <a href="class.html" class="block ubb ubr b-gra5 uinn">
            <p><img src="images/huazhuang.png" width="60" height="60"></p>
            <p class="title ulev-4">化妆美工</p>
            </a> </li>
          <li> <a href="class.html" class="block ubb ubr b-gra5 uinn">
            <p><img src="images/iconfont-1.png" width="60" height="60"></p>
            <p class="title ulev-4">上门理疗</p>
            </a> </li>
          <li> <a href="class.html" class="block ubb ubr b-gra5 uinn">
            <p><img src="images/zhuanche.png" width="60" height="60"></p>
            <p class="title ulev-4">叫车服务</p>
            </a> </li>
          <li> <a href="class.html" class="block ubb ubr b-gra5 uinn">
            <p><img src="images/car.png" width="60" height="60"></p>
            <p class="title ulev-4">出租车</p>
            </a> </li>
          <li> <a href="class.html" class="block ubb ubr b-gra5 uinn">
            <p><img src="images/kaisuogongsi.png" width="60" height="60"></p>
            <p class="title ulev-4">上门开锁</p>
            </a> </li>
            <li> <a href="class.html" class="block ubb ubr b-gra5 uinn">
            <p><img src="images/car.png" width="60" height="60"></p>
            <p class="title ulev-4">出租车</p>
            </a> </li>
          <li> <a href="class.html" class="block ubb ubr b-gra5 uinn">
            <p><img src="images/kaisuogongsi.png" width="60" height="60"></p>
            <p class="title ulev-4">上门开锁</p>
            </a> </li>
          <!--循环结束-->
        </ul>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
{template 'public/footerjs'}
<script type="text/javascript">
$(".closealert").click(function() {
	 $(".mban").animate({top:'-800px'})
	 $(".loginmask").fadeOut(500);
});
function openPe(){
	$(".loginmask").fadeIn(500), $(".mban").animate({top:'0px'})
}

var Scroll0 = new Swiper('.con0', {
        pagination: '.con0 .swiper-pagination',
		nextButton: '.con0 .next',
        prevButton: '.con0 .prev',
		autoplay: 7000,
		//loop: true,
		paginationClickable: true,
		watchSlidesProgress : true,
		watchSlidesVisibility : true,
		lazyLoading: true,
		lazyLoadingInPrevNext: true,
		slidesPerView: 'auto',
        centeredSlides: true,
        spaceBetween: 7
});
var tjser = new Swiper('.tj-ser', {
    slidesPerView: 4,
	autoplay: 5000,
	spaceBetween: 7
  });
</script>
</body>
</html>
