
{template 'header'}
<script type="text/javascript">
var pagename="index";
</script>
<style>
.hnav > div:nth-child(1n+1) .iconn{
	background-color:#8e5cd4;
}
.hnav > div:nth-child(2n+1) .iconn{
	background-color: #FF7C06;
}
.hnav > div:nth-child(3n+1) .iconn{
	background-color: #CC99CC;
}
.hnav > div:nth-child(4n+1) .iconn{
	background-color: #99CC33;
}
.hnav > div:nth-child(5n+1) .iconn{
	background-color: #F8976D;
}
.hnav > div .iconn img{
	opacity: .8;
}
.hnav > div{
	width:25%;
}


</style>
</head>
<body>

<div id="page0" class="ub ub-ver bga">
    <!--<div class="top-head">
        <div class="pc header">
            <div class="logo">
       	    	<img src="{$_W['attachurl']}{php echo $this->logo}" style="height:100%" alt="幸福家政" /> 
            </div>
            <div class="menu">
            	<div class="xm">
                    <a href="{php echo $this->createMobileUrl('Index',array())}" class="active">首页</a>
                    <a href="#">常见问题</a>
                    <a href="#">服务说明</a>
                    <a href="{php echo $this->createMobileUrl('Order',array())}">我的订单</a>
                    <a href="{php echo $this->createMobileUrl('Myinfo',array())}">会员中心</a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>-->
    <div class="banner"><!--广告-->
    	<div class="con0 swiper-container" style="height:100%;">
            <div class="swiper-pagination"></div>
            <!--增加前后按钮-->
            <span class="prev"></span> 
		    <span class="next"></span>
            <span class="prev11"></span> 
		    <span class="next11"></span> 
            <div class="swiper-wrapper">
            	{if $adv[0]['id'] == ''}
                	<div class="swiper-slide hide">
                        <img data-src="{MODULE_URL}/template/mobile/images/ad2.jpg" class="swiper-lazy" style="width:100%;height:100%">
                        <div class="swiper-lazy-preloader  swiper-lazy-preloader-white"></div>
                    </div>
                {else}
                    {loop $adv $val}
                    <div class="swiper-slide hide">
                        <img data-src="{$_W['attachurl']}{$val['pic']}" class="swiper-lazy" style="width:100%;height:100%">
                        <div class="swiper-lazy-preloader  swiper-lazy-preloader-white"></div>
                    </div>
                    {/loop}
                {/if}    
            </div>
        </div>
    </div>
    <div class="ub-f1 hnav" style="padding:0.5rem 0.75rem">
        {if $list[0]['id'] == ''}
        	<div>
                <ul style="padding:60px 30px 50px 30px">
                    <li style="text-align:center">
                        <div class="wks ub-img1"></div>
                    </li>
                    <li class="t-gra" style="text-align:center; margin-top:30px">没有预约中的订单</li>
                </ul>
            </div>
        {else}
        	{loop $list $vo}
            <div class="ufl">
            	{if $vo['child_num'] == 0}
                <input type="hidden" value="{$vo['price_unit']}" />
                <input type="hidden" value="{$vo['remark']}" />
                <input type="hidden" value="{$vo['unit']}" />
                <a href="{php echo $this->createMobileUrl('project',array('id'=>$vo['id']))}" class="ub ub-ver ub-ac block btnn"  style="padding:0.5rem 0.5rem 0.3rem 0.5rem">
                {else}
                <a href="{php echo $this->createMobileUrl('child',array('parent_id'=>$vo['id']))}" class="ub ub-ver ub-ac block"  style="padding:0.5rem 0.5rem 0.3rem 0.5rem">	
                {/if}
                    <div class="uc-a1 c-blu ub ub-ac ub-pc iconn">
                        <img src="{$_W['attachurl']}{$vo['icon']}" style="width:2rem"> 
                    </div>
                    <div class="ulev-4 t-gra" style="padding-top:0.2rem">{$vo['type_name']}</div>
                    <div style="display:none"><!--隐藏元素，供自定义模板调用-->
                    	<div>服务项目说明：{$vo['remark']}</div>
                        <div>价格：{$vo['price_unit']}</div>
                        <div>计价单位：{$vo['unit']}</div>
                        <div>项目大图标：<img src="{$_W['attachurl']}{$vo['icon_pc']}" style="width:2rem"> </div>
                    </div>
                </a>
            </div>
            {/loop}
        {/if}
        <div class="clear"></div>
    </div>
    
    <div class="ub ub-ver tj-add">
        <div class=""><!--推荐服务-->
        	{if $glist[0]['id'] != ''}
            <div class="ub ub-ac tj-title">
            	<div class="ubb b-bla01 ub-f1"></div>
                <div class="ulev-1 t-dgra tx-c" style="padding:0 0.5rem">推荐服务（广告）</div>
                <div class="ubb b-bla01 ub-f1"></div>
            </div>
            <div class="tj-ser  swiper-container">
                <div class="swiper-wrapper tx-c">
                    {loop $glist $val}
                    <div class="swiper-slide ub ub-ver" style="width:5.5rem;">
                        <a href="{$val['link']}" class="uinn213 ub ub-ver ub-ac block" >
                            <div class="uc-a1 uba b-bla01 ub ub-ac ub-pc" style="width:3rem; height:3rem;margin:0 auto;">
                            	{if $val['pic'] == ''}
                                <img src="{MODULE_URL}/template/mobile/images/icon-suo.png" style="width:2rem"> 
                                {else}
                                <img src="{$_W['attachurl']}{$val['pic']}" style="width:2rem"> 
                                {/if}
                            </div>
                            <div class="ulev-4 t-gra" style="padding-top:0.2rem">{$val['gg_name']}</div>
                        </a >
                    </div>
                    {/loop}
                </div>
            </div>
            {/if}
        </div>
    </div>
    
    <div class="" style="height:3.125rem"></div>
    
    {template 'footer'}
    
</div>
<style>
        * {margin: 0; padding: 0; border: 0;}
        body {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        #geoPage, #markPage {
            position: relative;
        }
    </style>
<iframe id="geoPage" width=0 height=0 frameborder=0  style="display:none;" scrolling="no" src="http://apis.map.qq.com/tools/geolocation?key=DEZBZ-EQKKJ-CBFFB-K2SOD-GGNA3-N7BKM&referer=o2o">
</iframe>
<script type="text/javascript" src="{MODULE_URL}/template/mobile/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{MODULE_URL}/template/mobile/js/main.js"></script>
<script type="text/javascript" src="{MODULE_URL}/template/mobile/js/swiper307.min.js"></script>
<!--<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&libraries=convertor"></script>-->
<script type="text/JavaScript">
	var loc;
	var isMapInit = false;
	//监听定位组件的message事件
	window.addEventListener('message', function(event) { 
		loc = event.data; // 接收位置信息
		console.log('location', loc);
   
		if(loc) { //定位成功
			//alert(loc.province + loc.city + loc.addr); 
			localStorage['lat'] = loc.lat;
			localStorage['lng'] = loc.lng;
			localStorage['fadr'] = loc.province + loc.city + loc.addr;
			
			/*var markUrl = 'http://apis.map.qq.com/tools/poimarker' +
			'?marker=coord:' + loc.lat + ',' + loc.lng + 
			';title:我的位置;addr:' + (loc.addr || loc.city) + 
			'&key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77&referer=myapp';
			//给位置展示组件赋值
			document.getElementById('markPage').src = markUrl;*/
		} else { //定位组件在定位失败后，也会触发message, event.data为null
			alert('地理位置获取失败'); 
		}

		/* 另一个使用方式 
		if (!isMapInit && !loc) { //首次定位成功，创建地图
			isMapInit = true;
			createMap(event.data);
		} else if (event.data) { //地图已经创建，再收到新的位置信息后更新地图中心点
			updateMapCenter(event.data);
		}
		*/
	}, false);
	//为防止定位组件在message事件监听前已经触发定位成功事件，在此处显示请求一次位置信息
	document.getElementById("geoPage").contentWindow.postMessage('getLocation', '*');
	 
	//设置6s超时，防止定位组件长时间获取位置信息未响应
	setTimeout(function() {
		if(!loc) {
			//主动与前端定位组件通信（可选），获取粗糙的IP定位结果
		document.getElementById("geoPage")
			.contentWindow.postMessage('getLocation.robust', '*');
		}
	}, 6000); //6s为推荐值，业务调用方可根据自己的需求设置改时间，不建议太短
	
	localStorage['type_id'] = '';
</script> 
<!--<script>
function getLocation(){
	//判断是否支持 获取本地位置
	if(navigator.geolocation)
	{
		navigator.geolocation.getCurrentPosition(showPosition);
    }else{
		x.innerHTML="浏览器不支持定位.";
	}
}
	
function showPosition(position){
	var lat=position.coords.latitude; 
	var lng=position.coords.longitude;
	qq.maps.convertor.translate(new qq.maps.LatLng(lat,lng), 1, function(res){
		//取出经纬度并且赋值
		latlng = res[0];
		var hh_lat = latlng.getLat();
		var hh_lng = latlng.getLng();
		
	  	localStorage['lat'] = hh_lat;//存储矫正的经纬度
		localStorage['lng'] = hh_lng;

    });
}

window.onload=function(){ 
	//setTimeout('getLocation()',1000);
	getLocation();
} 
</script>-->


<script type="text/javascript">
var Scroll0 = new Swiper('.con0', {
        pagination: '.con0 .swiper-pagination',
		nextButton: '.con0 .next',
        prevButton: '.con0 .prev',
		autoplay: 7000,
		//loop: true,
		paginationClickable: true,
		watchSlidesProgress : true,
		watchSlidesVisibility : true,
		lazyLoading: true,
		lazyLoadingInPrevNext: true,
		slidesPerView: 'auto',
        centeredSlides: true,
        spaceBetween: 7
});
var tjser = new Swiper('.tj-ser', {
    slidesPerView: 4,
	autoplay: 5000,
	spaceBetween: 7
  });
</script>

</body>
</html>
