{template 'common/header'}
<table class="table table-hover">
    <thead class="navbar-inner">
        <tr>
            <th style="text-align:center;">余额变化</th>
            <th style="text-align:center;">时间</th>
            <th style="text-align:center;">类型</th>
            <th style="text-align:center;">操作</th>
            <th style="text-align:center;">方式</th>
            <th style="text-align:center;">操作说明</th>
            <th style="text-align:center; ">备注</th>
            <!--<th style="text-align:center; width:80px;">支付状态</th>-->
        </tr>
    </thead>
    <tbody>
        {loop $list $item}
        <tr>
            <td style="width:100px;text-align:center;">{if $item['type']==1}+{/if}{if $item['type']==2}+{/if}{if $item['type']==3 && $item['chaneltype']==2}-{/if}{$item['amount']}</td>
            <td style="width:100px;text-align:center;">{php echo date('Y-m-d
                <br /> H:i:s', $item[createtime]);}</td>
            <td style="width:100px;text-align:center;">{if $item['type']==1}充值{/if}{if $item['type']==2}赠送{/if}{if $item['type']==3}消费{/if}</td>
            <td style="width:100px;text-align:center;">{if $item['chaneltype']==1 || $item['chaneltype']==2}管理员{else}本人{/if}</td>
            <td style="text-align:center;">{if $item['chaneltype']==1}现金{/if}{if $item['chaneltype']==2}余额{/if}{if $item['chaneltype']==3}其他{/if}{if $item['chaneltype']==4}支付宝{/if}{if $item['chaneltype']==5}微信{/if}</td>
            <td style="text-align:center;">{$item['memo']}</td>
            <td style="text-align:center;">{$item['content']}</td>
            <!--<td style="text-align:center;">{if  $item['status']==1}已支付{/if}{if  $item['status']==2}未支付{/if}</td>-->
        </tr>
        {/loop}
</table>
{template 'common/footer'}