<!--底部导航-->
<div style="height:60px;">&nbsp;</div>
<div class="mainMenu">
    <a href="{php   echo  $this->createMobileUrl('my')}">
        <div class="myHome"><i class="fa fa-home"></i>
            <p>首页</p>
        </div>
    </a>
    <a href="{php   echo  $this->createMobileUrl('adminmembers')}">
        <div class="category"><i class="fa fa-reorder"></i>
            <p>会员</p>
        </div>
    </a>
    <a href="{php   echo  $this->createMobileUrl('bossfind')}">
        <div class="find"><i class="fa fa-compass"></i>
            <p>充值</p>
        </div>
    </a>
    <a href="{php   echo  $this->createMobileUrl('bossfind')}">
        <div class="my"><i class="fa fa-user-circle-o"></i>
            <p>消费</p>
        </div>
    </a>
</div>