<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>会员中心</title>
    <meta name="x5-orientation" content="portrait">
    <meta name="screen-orientation" content="portrait">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <link href='../addons/hy_supstore/template/mobile/huiyuan.css' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='../addons/hy_supstore/template/mobile/style_hy.css' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="contentbox">
        <div class="header" style="height:auto;">
            <div class="md_top_box">
                <div class="cz1">
                    <p>我的会员</p>
                </div>
                <div class="cz">
                    <p>共计{$membercounts}个会员</p>
                </div>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                <div class="amfng_box" style="width:100%;">
                    <div class="zhixian">
                        <div class="margin">
                            <div class="left" style="margin:0px; padding:0px;">
                                <div class="xiaofei" style=" margin:0px; padding:0px;">
                                    <i class="fa fa-database"></i>
                                    <input type="text" value="{$_GPC['name']}" name="name" placeholder="请输入会员名" style="-webkit-appearance: none; border:0px;line-height: 30px;margin-left: 10px;font-size: 14px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="zhixian">
                        <div class="margin">
                            <div class="left" style="margin:0px; padding:0px;">
                                <div class="xiaofei" style=" margin:0px; padding:0px;">
                                    <i class="fa fa-database"></i>
                                    <input type="text" value="{$_GPC['mobile']}" name="mobile" placeholder="请输入手机号" style="-webkit-appearance: none; border:0px;line-height: 30px;margin-left: 10px;font-size: 14px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="zhixian" style="text-align:center;padding-bottom: 20px; background:#fff;">
                    <input type="hidden" name="action" value="add">
                    <input type="submit" value="查询" style="-webkit-appearance: none; background-color:#00b7ee; height:30px; color:#FFFFFF; border:0px; width:95%;;margin-top:20px; font-size:16px">
                </div>
            </form>
        </div>
        {loop $list $v}
        <div class="amfng_box">
            <div class="zhixian">
                <div class="huiyuan_box">
                    <div class="left">
                        <img src="{if !empty($v['avatar'])}{$v['avatar']}{else}resource/images/noavatar_middle.gif{/if}">
                        <div class="yejf">
                            <span class="ye">{$v['name']}</span>
                            <span class="ye">{$v['mobile']}</span>
                            <span class="ye">{$v['group']}</span>
                            <br>
                            <span class="ye">门店：{$v['storename']}</span>
                            <span class="ye">时间：{php echo date('Y-m-d', $v[createtime]);}</span>
                            <br>
                            <span class="ye">余额：{$v['user']['credit2']}元</span>
                            <span class="ye">积分：{$v['user']['credit1']}个</span>
                        </div>
                    </div>
                    <div class="right" style="margin-top:15px;">
                        <ul class="boxs-ul">
                            <li>
                                <p class="p1">充值总额</p>
                                <p class="p2">{if $v['credit2']}{$v['credit2']}{else}0{/if}元</p>
                            </li>
                            <li>
                                <p class="p1">消费总额</p>
                                <p class="p2">{if $v['consum']}{$v['consum']}{else}0{/if}元</p>
                            </li>
                            <li>
                                <p class="p1">赠送金额</p>
                                <p class="p2">{if $v['credit3']}{$v['credit3']}{else}0{/if}元</p>
                            </li>
                            <li>
                                <p class="p1">赠送积分</p>
                                <p class="p2">{if $v['credit1']}{$v['credit1']}{else}0{/if}元</p>
                            </li>
                            <li>
                                <p class="p1">优惠券</p>
                                <p class="p2">{if $v['coupons']}{$v['coupons']}{else}0{/if}张</p>
                            </li>
                            <li>
                                <p class="p1">次卡</p>
                                <p class="p2">{if $v['oncecards']}{$v['oncecards']}{else}0{/if}张</p>
                            </li>
                        </ul>
                        <ul class="boxs-ul">
                            <li>
                                <a class="boxs-btn" href="{php echo $this->createMobileUrl('accalllog', array('op' => 'list','uid' => $v['id']))}">总账单</a>
                            </li>
                            <li>
                                <a class="boxs-btn" href="{php echo $this->createMobileUrl('adminrecharge',array('uid'=>$v['id']))}">充值</a>
                            </li>
                            <li>
                                <a class="boxs-btn" href="{php echo $this->createMobileUrl('rechargelog',array('uid'=> $v['id'] ))}">充值记录</a>
                            </li>
                            <li>
                                <a class="boxs-btn" href="{php echo $this->createMobileUrl('adminconsum',array('uid'=>$v['id']))}">消费</a>
                            </li>
                            <li>
                                <a class="boxs-btn" href="{php echo $this->createMobileUrl('acclog', array('uid' => $v['id']))}">消费记录</a>
                            </li>
                            <li>
                                <a class="boxs-btn" href="{php echo $this->createMobileUrl('integral', array('op' => 'list','uid' => $v['id']))}">积分</a>
                            </li>
                            <li>
                                <a class="boxs-btn" href="{php echo $this->createMobileUrl('coupon', array('uid' => $v['id']))}">优惠券</a>
                            </li>
                            <li>
                                <a class="boxs-btn" href="{php echo $this->createMobileUrl('oncecard', array('status'=>1,'uid' => $v['id']))}">次卡</a>
                            </li>
                            <li>
                                <a class="boxs-btn" href="{php echo $this->createMobileUrl('adminoncecardconsum', array('uid' => $v['id']))}">次卡核销</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {/loop}
        <div class="fenye">{$pager}</div>
    </div>
    <style>
    .boxs-ul {
        overflow: hidden;
    }

    .boxs-ul>li {
        text-align: center;
        width: calc(33.3333333% - 1px);
        border-right: 1px solid #ddd;
        margin-bottom: 10px;
        float: left;
    }



    .boxs-ul>li:nth-child(3n) {
        border: none;
    }

    .boxs-ul>li p.p1 {
        margin-top: 20px;
    }

    .boxs-ul>li p.p2 {
        margin-bottom: 20px;
        font-size: 13px;
    }
    </style>
    <!--底部导航-->
    {template 'adminfooter'}
</body>

</html>