<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrom=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>文章详情</title>
    <meta name="keywords" content="超级门店">
    <meta name="description" content="超级门店">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../addons/hy_supstore/template/mobile/css/common.css" rel="stylesheet">
    <link href="../addons/hy_supstore/template/mobile/css/article.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- 头部模块 -->
        <header class="header">
            <div class="header_box">
                <a href="javascript:history.go(-1);" class="icon-left fa fa-angle-left fa-lg"></a>
                <div class="title">文章详情</div>
                <a href="{php echo $this->createMobileUrl('indexMob')}" class="icon-right fa fa-list-ul fa-lg"></a>
            </div>
        </header>
        <div class="header-fill"></div>
        <!-- 头部模块 -->
        <div class="article-info">
            <div class="title">{$row['name']}</div>
            <div class="top">
                <div class="category">{$row['category_name']}</div>
                <div class="time">{$row['release_time']}</div>
            </div>
            <div class="content">{$row['content']}</div>
            <div class="bottom">
                <div class="read-num">阅读数:{$row['read_num']}</div>
                <a class="go-category" href="{php echo $this->createMobileUrl('article')}">返回分类</a>
            </div>
        </div>
        <!-- 返回顶部 -->
        <div id="goTop"><a href="javascript:void(0);" class="fa fa-angle-double-up fa-lg"></a></div>
        <!-- 返回顶部 -->
        <!-- 底部导航 -->
        {template 'footerindex'}
        <!-- 底部导航 -->
    </div>
    <script src="../addons/hy_supstore/template/js/jquery-3.2.1.min.js"></script>
    <script src="../addons/hy_supstore/template/mobile/public/lazyload/lazyload.min.js"></script>
    <script>
    //懒加载
    $(".lazyload").lazyload({
        threshold : 200, // 设置阀值
        effect : "fadeIn" // 设置图片渐入特效
    });
    goScrollTop();
    //返回顶部的火箭
    function goScrollTop(){
        if($('#goTop>a')[0]){
            var gotop = $('#goTop>a')[0];
            var leader = 0,target = 0,timer = 0;
            $(window).scrollTop() > 0 ? show(gotop):hide(gotop);
            window.onscroll = function(){
                leader = $(window).scrollTop();
                leader > 0 ? show(gotop):hide(gotop);
                gotop.onclick = function(){
                    $(window).scrollTop(0);
                }
            };
            function show(obj){
                $(obj).parent().fadeIn('100');
            }
            function hide(obj){
                $(obj).parent().fadeOut('100');
            }
        }
    }
    </script>
</body>

</html>