body {
        margin: 0 auto;
        padding: 0;
        color: #424242;
        font-size: 16px;
        font-family: Microsoft Yahei, Arial, Simsun, Helvetica, Segoe UI, sans-serif;
        background-color: #EEE;
        max-width: 640px;
    }
img {
        display: block;
        border: 0;
    }
a {
        color: #424242;
}
html {
        background-color: #eeeeee;
    }
* {
        outline: none;
        font-style: normal;
        vertical-align: baseline;
        -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
    }
ul,ol,li,dt,dl,dd,em,p {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        vertical-align: middle;
}
a,a:visited {
        color: #373737;
        text-decoration: none;
}
/*头部*/
.header {
        width: 100%;
        background: #00b7ee;
        position: relative;
        color: #FFF;
        cursor: pointer;
        border-bottom: 1px solid #ececec;
    }
.header .avatar {
        float: left;
        width: 66px;
        height: 66px;
        padding: 1px;
        margin: 10px 15px;
        border-radius: 35px;
        border: 1px solid #fff;
    }
.header .avatar .img {
        width: 60px;
        margin: 3px;
        height: 60px;
        display: block;
        border-radius: 32px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
.header .userInfo {
        height: 90px;
        line-height: 90px;
        margin:0 auto;
        display:block;
    }
.header .userInfo .name {/*width: 100%;color: #000;margin-top: 16px;*/
        height: 30px;
        line-height: 30px;
        margin-bottom: 5px;
        overflow: hidden;
        padding-top: 15px;
    }
.header .userInfo .name .sellerLevel,
.header .userInfo .name .buyerLevel {
        margin: 0 2px 0 5px;
    }
.header .userInfo .name .individual,
.header .userInfo .name .business {
        height: 15px;
        line-height: 15px;
        display: flex;
        display: -webkit-flex;
        float: left;
        font-size: 33px;
    }
.header .userInfo .vline {
        float: left;
        height: 12px;
        width: 1px;
        line-height: 12px;
        border-left: 1px solid #fff;
    }
.header .userInfo .scores,
.header .userInfo .fans {
        float: left;
        color: #fff;
        height: 12px;
        line-height: 12px;
        font-size: 12px;
    }
.header .userInfo .scores {
        padding-right: 4px;
    }
.header .userInfo .fans {
        padding-left: 4px;
    }
.header .userSetting {
        height: 100%;
        position: absolute;
        top: 0px;
        right:4%;
    }
.header .userSetting .settings{
        float: right;
        height: 55px;
        right: 10%;
        line-height: 55px;
        display: block;
        color: #fff;
        font-size: 14px;
    }
.header .userSetting .arrow {
        float: right;
        font-size: 12px;
        display: block;
        width: 12px;
        color: #CFCFCF;
        margin-left: 8px;
        height: 55px;
        line-height: 55px;
    }
/*头部*/

/*内用*/
.amfng_box{background-color: #fff;width:100%; margin-top:15px;}
.amfng_box .zhixian{border-bottom: 1px solid #d9d9d9;width: 100%;padding: 2px 0;}
.amfng_box .zhixian .margin{width: 90%;margin: 0 auto;overflow: hidden;margin-top: 7px;}
.amfng_box .zhixian .left_tou{float:left; width:68px;}
.amfng_box .zhixian .left_tou img{height:50px;border-radius:50px;margin-top:10px; }
.amfng_box .zhixian .left_tou span{font-size: 12px;color: #b3b3b3;}
.amfng_box .zhixian .right_tou{float:left;}

/*内用*/
/*底部*/
.mainMenu .max {
    max-width: 768px;
    margin: 0 auto;
}
.mainMenu a>div {
    width: 25%;
    height: 22px;
    line-height: 22px;
    float: left;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 50px auto;
    color: #888;
}
.mainMenu a div {
    color: #888;
    position: relative;
}
.mainMenu .myHome {
    background-position: 50% -7px;
}
.mainMenu .myHome img{
    margin: 0.3rem auto 0;
    width: 20%;
}
.mainMenu .publish {
    background-position: 50% -57px;
}
.mainMenu .find {
    background-position: 50% -107px;
}
.mainMenu .find img{
    margin: 0.3rem auto 0;
    width: 20%;
}
.mainMenu .category {
    background-position: 50% -207px;
}
/**/.mainMenu .category img{
    margin: 0.3rem auto 0;
    width: 20%;
}
.mainMenu .find .redPoint {
    position: absolute;
    top: 7px;
    padding: 0;
    left: 50%;
    margin-left: 8px; 
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #DF1F0A;
    display: none;
}
.mainMenu .my {
    background-position: 50% -157px;
}
.mainMenu .my img{
    margin: 0.3rem auto 0;
    width: 20%;
}

.mainMenu a .myHome .fa-home{
    font-size: 20px;
     margin-top: 7px;
     color: #b2b2b2;
}
.mainMenu a .myHome p{
    line-height: 13px;
    overflow: hidden;
}

.mainMenu a .category .fa-reorder{
    font-size: 20px;
     margin-top: 7px;
     color: #b2b2b2;
}
.mainMenu a .category p{
    line-height: 13px;
    overflow: hidden;
}

.mainMenu a .find .fa-compass{
    font-size: 20px;
     margin-top: 7px;
     color: #b2b2b2;
}
.mainMenu a .find p{
    line-height: 13px;
    overflow: hidden;
}

.mainMenu a .my .fa-user-circle-o{
    font-size: 20px;
     margin-top: 7px;
     color: #b2b2b2;
}
.mainMenu a .my p{
    line-height: 13px;
    overflow: hidden;
}
.mainMenu {
    position: fixed;
    width: 100%;
    max-width: 640px;
    height: 50px;
    bottom: 0px;
    background-color: #FCFCFC;
    border-top: 1px solid #EAEAE8;
    font-size: 12px;
}
/*底部导航*/ 
/*border-radius: 45px;（圆角）*/