<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>会员中心</title>
    <meta name="keywords" content="超级门店">
    <meta name="description" content="超级门店">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../addons/hy_supstore/template/mobile/css/common.css" rel="stylesheet">
    <link href="../addons/hy_supstore/template/mobile/css/my.css" rel="stylesheet"> 
    {php echo register_jssdk(false);}
</head>

<body>
    <div class="wrapper">
        <header class="my-header">
            <div class="header-left">
                <img src="{if $member['avatar']}{$member['avatar']}{else}../addons/hy_supstore/template/mobile/images/avatar.jpg{/if}">
            </div>
            <div class="user-info">
                <div class="info-item name">{if $member['name']}{$member['name']}{else}游客{/if}</div>
                <div class="info-item">
                    <span>{if $member['groupname']}{$member['groupname']}{else}未分组{/if}</span> {if $member['mobile']}
                    <a href="javascript:void(0);">已绑定</a> {else}
                    <a href="{php echo $this->createMobileUrl('bind')}" class="bind">绑定手机</a> {/if}
                </div>
                <div class="info-item">
                    <span>积分:{if $member['credit1']}{$member['extmem']['credit1']}{else}0{/if}个</span>
                    <span>余额:{if $member['credit2']}{$member['extmem']['credit2']}{else}0{/if}元</span>
                </div>
            </div>
            <div class="header-right">
                <a href="{php echo $this->createMobileUrl('upmember')}">
                    <img src="../addons/hy_supstore/template/mobile/images/svg/white_right.svg">
                </a>
            </div>
        </header>
        <div class="main">
            <div class="main-box">
                <div class="box-top-menu">
                    <a href="javascript:wxscan();">
                        <div class="right menu-item">
                            <div class="consum">
                                <img src="../addons/hy_supstore/template/mobile/images/svg/scan.svg">
                                <p>扫一扫</p>
                            </div>
                        </div>
                    </a>
                    <a href="{php echo $this->createMobileUrl('recharge')}">
                        <div class="left menu-item">
                            <div class="consum">
                                <img src="../addons/hy_supstore/template/mobile/images/svg/recharge.svg">
                                <p>充值</p>
                            </div>
                        </div>
                    </a>
                    <a href="{php echo $this->createMobileUrl('paybystore')}">
                        <div class="right menu-item">
                            <div class="consum">
                                <img src="../addons/hy_supstore/template/mobile/images/svg/consum.svg">
                                <p>付款</p>
                            </div>
                        </div>
                    </a>
                    <a href="{php echo $this->createMobileUrl('oncecard',array('status'=>1))}">
                        <div class="right menu-item">
                            <div class="consum">
                                <img src="../addons/hy_supstore/template/mobile/images/svg/Member.svg">
                                <div class="yuan_box">{if $member['oncecards']}{$member['oncecards']}{else}0{/if}</div>
                                <p>卡包</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="box-middle-menu">
                    <div class="menu-item">
                        <a href="{php echo $this->createMobileUrl('rechargelog')}">
                            <div class="icon-box">
                                <img src="../addons/hy_supstore/template/mobile/images/svg/rechargecenter.svg">
                            </div>
                            <div class="content">
                                <span class="title">充值记录</span>
                                <span class="data">{if $member['credit2']}{$member['credit2']}{else}0{/if}元</span>
                                <div class="right-icon">
                                    <img src="../addons/hy_supstore/template/mobile/images/svg/gray_right.svg">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="{php echo $this->createMobileUrl('acclog')}">
                            <div class="icon-box">
                                <img src="../addons/hy_supstore/template/mobile/images/svg/consumlist.svg">
                            </div>
                            <div class="content">
                                <span class="title">消费记录</span>
                                <span class="data">{if $member['consum']}{$member['consum']}{else}0{/if}元</span>
                                <div class="right-icon">
                                    <img src="../addons/hy_supstore/template/mobile/images/svg/gray_right.svg">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="{php echo $this->createMobileUrl('integral')}">
                            <div class="icon-box">
                                <img style="width: 60%;" src="../addons/hy_supstore/template/mobile/images/svg/credit.svg">
                            </div>
                            <div class="content">
                                <span class="title">积分记录</span>
                                <span class="data">{if $member['credit1']}{$member['credit1']}{else}0{/if}个</span>
                                <div class="right-icon">
                                    <img src="../addons/hy_supstore/template/mobile/images/svg/gray_right.svg">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="{php echo $this->createMobileUrl('coupon',array('status'=>1))}">
                            <div class="icon-box">
                                <img style="width: 58%;" src="../addons/hy_supstore/template/mobile/images/svg/coupon.svg">
                            </div>
                            <div class="content">
                                <span class="title">优惠券</span>
                                <span class="data">{if $member['coupons']}{$member['coupons']}{else}0{/if}个</span>
                                <div class="right-icon">
                                    <img src="../addons/hy_supstore/template/mobile/images/svg/gray_right.svg">
                                </div>
                            </div>
                        </a>
                    </div>
                    {if $settings['isopenoncecard']==1}
                    <div class="menu-item">
                        <a href="{php echo $this->createMobileUrl('oncecard',array('status'=>1))}">
                            <div class="icon-box">
                                <img style="width: 53%;" src="../addons/hy_supstore/template/mobile/images/svg/oncecard.svg">
                            </div>
                            <div class="content">
                                <span class="title">卡包</span>
                                <span class="data">{if $member['oncecards']}{$member['oncecards']}{else}0{/if}个</span>
                                <div class="right-icon">
                                    <img src="../addons/hy_supstore/template/mobile/images/svg/gray_right.svg">
                                </div>
                            </div>
                        </a>
                    </div>
                    {/if}
                    <div class="menu-item">
                        <a href="{php echo $this->createMobileUrl('qrcode')}">
                            <div class="icon-box">
                                <img style="width: 45%;" src="../addons/hy_supstore/template/web/css/erweima.svg">
                            </div>
                            <div class="content last">
                                <span class="title">我的二维码</span>
                                <span class="data">&nbsp&nbsp</span>
                                <div class="right-icon">
                                    <img src="../addons/hy_supstore/template/mobile/images/svg/gray_right.svg">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部导航 -->
        {template 'footerindex'}
        <!-- 底部导航 -->
    </div>
    <script>
    function wxscan() {
        wx.scanQRCode({
            needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
            scanType: ["qrCode"], // 可以指定扫二维码还是一维码，默认二者都有
            success: function(res) {
                var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
            }
        });
    }
    </script>
</body>

</html>