* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    color: #424242;
    font-size: 12px;
    font-family: Microsoft Yahei, Arial, Simsun, Helvetica, Segoe UI, sans-serif;
    background-color: #eeeeee;
}

img {
    display: block;
    border: 0;
}

a {
    color: #424242;
}

ul,
ol,
li,
dt,
dl,
dd,
em,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    vertical-align: middle;
}

a,
a:visited {
    color: #373737;
    text-decoration: none;
}

.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}

.clearfix {
    *zoom: 1;
}
/*IE/7/6*/

.shuru div::-webkit-scrollbar {
    width: 0;
    height: 0;
    -webkit-transition: 1s;
}

.shuru div::-webkit-scrollbar-thumb {
    background-color: #a7afb4;
    background-clip: padding-box;
    min-height: 28px;
}

.shuru div::-webkit-scrollbar-thumb:hover {
    background-color: #525252;
    background-clip: padding-box;
    min-height: 28px;
}

.shuru div::-webkit-scrollbar-track-piece {
    background-color: #ccd0d2;
}

.container {
    height: 100%;
}

.wrap {
    position: relative;
    margin: auto;
    max-width: 640px;
    min-width: 320px;
    width: 100%;
    height: 100%;
    background: #eeeeee;
    overflow: hidden;
}

.layer-content {
    position: absolute;
    left: 50%;
    bottom: -250px;
    width: 100%;
    max-width: 640px;
    height: auto;
    z-index: 12;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
/* 输入表单 */

.edit_cash {
    display: block;
    margin-top: 15px;
    padding: 15px;
    margin: 20px auto 0;
    width: 88%;
    border: 1px solid #CFCFCF;
    border-radius: 4px;
    background-color: #fff;
}

.edit_cash p {
    font-size: 14px;
    color: #8D8D8F;
}

.shuru {
    position: relative;
    margin-bottom: 10px;
}

.shuru div {
    border: none;
    width: 100%;
    height: 50px;
    font-size: 25px;
    line-height: 42px;
    border-bottom: 1px solid #CFCFCF;
    outline: none;
    text-indent: 18px;
    /*white-space: pre;*/
}

.shuru span {
    position: absolute;
    top: 10px;
    font-size: 25px;
}

input[type=submit] {
    display: block;
    margin: 20px auto 0;
    width: 90%;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background: #00b7ee;
    border: 1px solid #00b7ee;
    border-radius: 3px;
}

input[type=submit] a {
    color: #fff;
    display: block;
    margin: 9px auto 0;
    text-align: center;
}
/*键盘*/

.form_edit {
    width: 100%;
    background: #bcc0c7;
    /*border:1px solid #c3c7ce;*/
    border-top: 1px solid #bcc0c7;
    /*border-bottom: 1px solid #c3c7ce;*/
}

.form_edit>div {
    /* margin-bottom: 1px;*/
    border-bottom: 1px solid #bcc0c7;
    /*margin-right: 1px;*/
    border-right: 1px solid #bcc0c7;
    /*border:1px solid #c3c7ce;*/
    float: left;
    width: 33%;
    height: 60px;
    text-align: center;
    color: #333;
    line-height: 60px;
    font-size: 26px;
    background-color: #fff;
    /*border-radius: 5px;font-weight: 600;*/
    /*font-family:"方正中等线简体";
     font-weight:bold;*/
}

.form_edit>div:nth-child(3n) {
    margin-right: 0;
}

.form_edit>div:last-child {
    background-color: #cecece;
}

.form_edit .num:hover {
    background-color: #eeeeee;
}

.form_edit .num1:hover {
    background-color: #00b7ee;
}
/*字体

*/
/*下拉导航选项*/

.select_box {
    overflow: hidden;
    width: 88%;
    margin: 20px auto;
}

.select_box p {
    color: #333333;
    float: left;
    margin-top: 12px;
    padding-right: px;
    font-size: 12px;
}

.select_box .select {
    overflow: hidden;
    float: left;
}

.select_box .select dt {
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border: 1px solid #d2ccc4;
    background: #fcfcfb url(images/ico.png) no-repeat 95px center;
    font-size: 12px;
    padding-left: 10px;
    cursor: pointer;
    width: 120px;
    padding-right: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}

.select_box .select dt:hover,
.select_box .select dt.cur {
    border: 1px solid #409DFE;
    box-shadow: 0 0 3px #409DFE;
}

.select_box .select dd {
    /* position:absolute;*/
    left: 58px;
    top: 40px;
    border: 1px solid #d2ccc4;
    background: #fff;
    display: none;
}

.select_box .select dd ul {
    padding: 4px;
    width: 120px;
    max-height: 250px;
    overflow: auto;
}

.select_box .select dd ul li a {
    line-height: 28px;
    display: block;
    padding: 0 8px;
}

.select_box .select dd ul li a:hover {
    background: #f5f5f5;
}
/*下拉导航选项*/

.ruletips {
    padding: 15px;
    margin: 20px auto;
    width: 88%;
    border: 1px solid #CFCFCF;
    border-radius: 4px;
    background-color: #fff;
}

.ruletips p {
    font-size: 12px;
    margin: 3px 0;
    line-height: 18px;
}

red {
    color: red;
}
/*底部导航*/

.mainMenu .max {
    max-width: 768px;
    margin: 0 auto;
}

.mainMenu a>div {
    width: 25%;
    height: 22px;
    line-height: 22px;
    float: left;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 50px auto;
    color: #888;
}

.mainMenu a div {
    color: #888;
    position: relative;
}

.mainMenu .myHome {
    background-position: 50% -7px;
}

.mainMenu .myHome img {
    margin: 0.3rem auto 0;
    width: 20%;
}

.mainMenu .publish {
    background-position: 50% -57px;
}

.mainMenu .find {
    background-position: 50% -107px;
}

.mainMenu .find img {
    margin: 0.3rem auto 0;
    width: 20%;
}

.mainMenu .category {
    background-position: 50% -207px;
}
/**/

.mainMenu .category img {
    margin: 0.3rem auto 0;
    width: 20%;
}

.mainMenu .find .redPoint {
    position: absolute;
    top: 7px;
    padding: 0;
    left: 50%;
    margin-left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #DF1F0A;
    display: none;
}

.mainMenu .my {
    background-position: 50% -157px;
}

.mainMenu .my img {
    margin: 0.3rem auto 0;
    width: 20%;
}

.mainMenu a .myHome .fa-home {
    font-size: 20px;
    margin-top: 7px;
    color: #b2b2b2;
}

.mainMenu a .myHome p {
    line-height: 13px;
    overflow: hidden;
    color: #888;
    font-size: 12px;
}

.mainMenu a .category .fa-reorder {
    font-size: 20px;
    margin-top: 7px;
    color: #b2b2b2;
}

.mainMenu a .category p {
    line-height: 13px;
    overflow: hidden;
    color: #888;
    font-size: 12px;
}

.mainMenu a .find .fa-compass {
    font-size: 20px;
    margin-top: 7px;
    color: #b2b2b2;
}

.mainMenu a .find p {
    line-height: 13px;
    overflow: hidden;
    color: #888;
    font-size: 12px;
}

.mainMenu a .my .fa-user-circle-o {
    font-size: 20px;
    margin-top: 7px;
    color: #b2b2b2;
}

.mainMenu a .my p {
    line-height: 13px;
    overflow: hidden;
    color: #888;
    font-size: 12px;
}

.mainMenu {
    position: fixed;
    width: 100%;
    max-width: 640px;
    height: 50px;
    bottom: 0px;
    background-color: #FCFCFC;
    border-top: 1px solid #EAEAE8;
    font-size: 12px;
}
/*底部导航*/