body {
    margin: 0 auto;
    padding: 0;
    color: #424242;
    font-size: 12px;
    font-family: Microsoft Yahei, Arial, Simsun, Helvetica, Segoe UI, sans-serif;
    background-color: #EEE;
    max-width: 640px;
}

img {
    display: block;
    border: 0;
}

a {
    color: #424242;
}

html {
    background-color: #eeeeee;
}

* {
    outline: none;
    font-style: normal;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

ul,
ol,
li,
dt,
dl,
dd,
em,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    vertical-align: middle;
}

a,
a:visited {
    color: #373737;
    text-decoration: none;
}

.header {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.header .wenzis {
    font-size: 14px;
    margin: 10px auto 0;
    width: 90%;
}

.header .cz_box {
    background-color: #fff;
    background-image: url(images/headbg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    height: 90px;
    position: relative;
}

.header .cz_box .cz {
    margin: 0 auto;
    overflow: hidden;
    padding-top: 5px;
    width: 90%;
}

.header .cz_box .cz p {
    color: #fff;
    float: left;
    font-size: 14px;
    overflow: hidden;
}

.header .cz_box .cz .wen {
    display: block;
    overflow: hidden;
}

.header .cz_box .ling {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}

.header .cz_box .fa-question-circle-o {
    float: right;
    font-size: 25px;
    color: #fff;
}

.balanceMenu {
    width: 100%;
    background-color: #FFF;
    display: table;
    border-bottom: 1px solid #d9d9d9;
}

.balanceMenu .juzhong .horizonBottom {
    border: 1px solid #00b7ee;
    border-radius: 3px;
    float: left;
    height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
    width: 47.5%;
    font-weight: bold;
}

.balanceMenu .juzhong {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 20px;
}

.header .zczx {
    font-size: 12px;
    color: #999999;
    background-color: #fff;
    height: 25px;
    padding-top: 10px;
    padding-left: 20px;
}

.header .fkfs {
    font-size: 12px;
    color: #999999;
    background-color: #fff;
    height: 25px;
    padding-left: 20px;
    padding-top: 20px;
}

.header .fkfs0_box {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.header .fkfs_box .xian {
    border-bottom: 1px solid #d9d9d9;
}

.header .fkfs0_box .tb_wz_box {
    float: left;
    padding-left: 10px;
    padding-top: 12px;
}

.header .fkfs0_box .tb_wz_box p {
    line-height: 1.5rem;
}

.header .fkfs0_box .arrow {
    float: right;
    font-size: 12px;
    display: block;
    width: 12px;
    color: #CFCFCF;
    margin-left: 8px;
    height: 55px;
    line-height: 55px;
}


.orderMenu .tu1 .fa-money {
    color: #373737;
    font-size: 23px;
    margin: 7px;
}


/*图标*/

@font-face {
    font-family: 'icomoon';
    src: url('fontsx/icomoon.eot?7l6moy');
    src: url('fontsx/icomoon.eot?7l6moy#iefix') format('embedded-opentype'),
    url('fontsx/icomoon.ttf?7l6moy') format('truetype'),
    url('fontsx/icomoon.woff?7l6moy') format('woff'),
    url('fontsx/icomoon.svg?7l6moy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-yunzhifu:before {
    content: "\e900";
    color: #19a0e5;
    font-size: 50px;
    display: block;
    line-height: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    float: left;
}

.icon-weixin:before {
    content: "\e901";
    color: #04d102;
    font-size: 50px;
    display: block;
    line-height: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    float: left;
}

.icon-zhifubao:before {
    content: "\e902";
    color: #19a0e5;
    font-size: 50px;
    display: block;
    line-height: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    float: left;
}


/*图标*/


/*三个图标*/

.fkfs_box {
    background-color: #fff;
}


/*三个图标（完）*/


/*其他样式*/

.mainMenu .max {
    max-width: 768px;
    margin: 0 auto;
}

.mainMenu a>div {
    width: 25%;
    height: 22px;
    line-height: 22px;
    float: left;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 50px auto;
    color: #888;
}

.mainMenu a div {
    color: #888;
    position: relative;
}

.mainMenu .myHome {
    background-position: 50% -7px;
}

.mainMenu .myHome img {
    margin: 0.3rem auto 0;
    width: 20%;
}

.mainMenu .publish {
    background-position: 50% -57px;
}

.mainMenu .find {
    background-position: 50% -107px;
}

.mainMenu .find img {
    margin: 0.3rem auto 0;
    width: 20%;
}

.mainMenu .category {
    background-position: 50% -207px;
}


/**/

.mainMenu .category img {
    margin: 0.3rem auto 0;
    width: 20%;
}

.mainMenu .find .redPoint {
    position: absolute;
    top: 7px;
    padding: 0;
    left: 50%;
    margin-left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #DF1F0A;
    display: none;
}

.mainMenu .my {
    background-position: 50% -157px;
}

.mainMenu .my img {
    margin: 0.3rem auto 0;
    width: 20%;
}

.mainMenu a .myHome .fa-home {
    font-size: 20px;
    margin-top: 7px;
    color: #b2b2b2;
}

.mainMenu a .myHome p {
    line-height: 13px;
    overflow: hidden;
}

.mainMenu a .category .fa-reorder {
    font-size: 20px;
    margin-top: 7px;
    color: #b2b2b2;
}

.mainMenu a .category p {
    line-height: 13px;
    overflow: hidden;
}

.mainMenu a .find .fa-compass {
    font-size: 20px;
    margin-top: 7px;
    color: #b2b2b2;
}

.mainMenu a .find p {
    line-height: 13px;
    overflow: hidden;
}

.mainMenu a .my .fa-user-circle-o {
    font-size: 20px;
    margin-top: 7px;
    color: #b2b2b2;
}

.mainMenu a .my p {
    line-height: 13px;
    overflow: hidden;
}


/*底部导航*/

.mainMenu {
    position: fixed;
    width: 100%;
    max-width: 640px;
    height: 50px;
    bottom: 0px;
    background-color: #FCFCFC;
    border-top: 1px solid #EAEAE8;
    font-size: 12px;
    z-index: 9999;
}

green {
    color: green
}

red {
    color: red
}

.fenye {
    display: inline-block;
    margin: 10px;
}

.fenye li {
    float: left;
    height: 28px;
    line-height: 28px;
    margin: 0 -1px 5px 0;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    border: 1px solid #e2e2e2;
}

.fenye li.active {
    background-color: #b79957;
}

.fenye a {
    display: block;
    padding: 0 15px;
}

.fenye li.active a {
    color: #fff;
}