body {
    margin: 0 auto;
    padding: 0;
    color: #424242;
    font-family: Microsoft Yahei, Arial, Simsun, Helvetica, Segoe UI, sans-serif;
    max-width: 640px;
}

img {
    display: block;
    border: 0;
}

a {
    color: #424242;
}

html {
    background-color: #eeeeee;
}

* {
    outline: none;
    font-style: normal;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

ul,
ol,
li,
dt,
dl,
dd,
em,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    vertical-align: middle;
}

a,
a:visited {
    color: #373737;
    text-decoration: none;
}



/*头部*/

.top {
    width: 100%;
    background: #00b7ee;
    position: relative;
    color: #FFF;
    cursor: pointer;
    border-bottom: 1px solid #ececec;
    height: 90px;
}

.top .avatar {
    float: left;
    width: 66px;
    height: 66px;
    padding: 1px;
    margin: 10px 15px;
    border-radius: 35px;
    border: 1px solid #fff;
}

.top .avatar .img {
    width: 60px;
    margin: 3px;
    height: 60px;
    display: block;
    border-radius: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.top .userInfo {
    height: 90px;
    line-height: 90px;
    margin: 0 auto;
    display: block;
}

.top .userInfo .name {
    /*width: 100%;color: #000;margin-top: 16px;*/
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    overflow: hidden;
    padding-top: 15px;
}

.top .userInfo .name .sellerLevel,
.top .userInfo .name .buyerLevel {
    margin: 0 2px 0 5px;
}

.top .userInfo .name .individual,
.top .userInfo .name .business {
    height: 15px;
    line-height: 15px;
    display: flex;
    display: -webkit-flex;
    float: left;
    font-size: 33px;
}

.top .userInfo .vline {
    float: left;
    height: 12px;
    width: 1px;
    line-height: 12px;
    border-left: 1px solid #fff;
}

.top .userInfo .scores,
.top .userInfo .fans {
    float: left;
    color: #fff;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
}

.top .userInfo .scores {
    padding-right: 4px;
}

.top .userInfo .fans {
    padding-left: 4px;
}

.top .userSetting {
    height: 100%;
    position: absolute;
    top: 0px;
    right: 4%;
}

.top .userSetting .settings {
    float: right;
    height: 55px;
    right: 10%;
    line-height: 55px;
    display: block;
    color: #fff;
    font-size: 14px;
}

.top .userSetting .arrow {
    float: right;
    font-size: 12px;
    display: block;
    width: 12px;
    color: #CFCFCF;
    margin-left: 8px;
    height: 55px;
    line-height: 55px;
}


/*头部*/

.liebiao_box {
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #d6d6d6;
}

.liebiao_box .biao_box {
    padding: 0 10px 10px 10px;
    overflow: hidden;
}

.liebiao_box .biao_box p {
    float: left;
    margin-top: 15px;
    font-size: 14px;
}

.liebiao_box .biao_box .right_cx {
    float: right;
}

.liebiao_box .biao_box .right_cx a {
    color: #ff8e1c;
    width: 100px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #ff8e1c;
    display: block;
    margin-top: 8px;
}