body {
    margin: 0 auto;
    padding: 0;
    color: #424242;
    font-size: 12px;
    font-family: Microsoft Yahei, Arial, Simsun, Helvetica, Segoe UI, sans-serif;
    background-color: #EEE;
    max-width: 640px;
}

img {
    display: block;
    border: 0;
}

a {
    color: #424242;
}

html {
    background-color: #F2F2F2;
}

* {
    outline: none;
    font-style: normal;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

ul,
ol,
li,
dt,
dl,
dd,
em,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    vertical-align: middle;
}

a,
a:visited {
    color: #373737;
    text-decoration: none;
}

.header {
    width: 100%;
    background: #FFF;
    border-top: 10px solid #EFEFF4;
    margin-bottom: 10px;
    position: relative;
    height: 90px;
    color: #FFF;
    cursor: pointer;
}

.header .avatar {
    float: left;
    width: 66px;
    height: 66px;
    padding: 1px;
    margin: 10px 15px;
    border-radius: 35px;
    border: 1px solid #D5D4D4;
}

.header .avatar .img {
    width: 60px;
    margin: 3px;
    height: 60px;
    display: block;
    border-radius: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header .userInfo {
    height: 90px;
    line-height: 90px;
    margin: 0 100px;
    display: block;
}

.header .userInfo .name {
    margin-top: 16px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    color: #000;
    overflow: hidden;
    font-size: 16px;
}

.header .userInfo .name .sellerLevel,
.header .userInfo .name .buyerLevel {
    margin: 0 2px 0 5px;
}

.header .userInfo .name .individual,
.header .userInfo .name .business {
    height: 15px;
    line-height: 15px;
    display: flex;
    display: -webkit-flex;
    float: left;
    font-size: 33px;
}

.header .userInfo .vline {
    float: left;
    height: 12px;
    width: 1px;
    line-height: 12px;
    border-left: 1px solid #EEE;
}

.header .userInfo .scores,
.header .userInfo .fans {
    float: left;
    color: #888;
    height: 12px;
    line-height: 12px;
}

.header .userInfo .scores {
    padding-right: 4px;
}

.header .userInfo .fans {
    padding-left: 4px;
}

.header .userSetting {
    height: 100%;
    position: absolute;
    top: 0px;
    right: 4%;
}

.header .userSetting .settings {
    float: right;
    height: 90px;
    right: 10%;
    line-height: 90px;
    display: block;
    color: #888;
    font-size: 14px;
}

.header .userSetting .arrow {
    float: right;
    font-size: 12px;
    display: block;
    width: 12px;
    height: 90px;
    color: #CFCFCF;
    margin-left: 8px;
    line-height: 90px;
}

.orderMain {
    background-color: #FFF;
}

.menuMain .menuItem .arrow {
    margin: 0 4% 0 8px;
}

.orderMenu {
    width: 100%;
    display: table;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
}

.orderMenu div {
    line-height: 60px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.orderMenu div span {
    display: block;
}

.orderMenu a:first-child div {
    font-size: 1.2rem;
}

.orderMenu .shu {
    float: left;
    color: #373737;
}

.orderMenu .tu1 {
    width: 49%;
    float: left;
}

.orderMenu .tu1 .fa-credit-card {
    color: #373737;
    font-size: 23px;
    margin: 7px;
}

.orderMenu .tu2 {
    font-size: 1.2rem;
    float: left;
    width: 49%;
}

.orderMenu .tu2 .fa-credit-card-alt {
    color: #373737;
    font-size: 23px;
    margin: 7px;
}

.menuMain {
    background-color: #FFF;
    margin-top: 10px;
}

.menuMain .menuItem {
    width: 96%;
    margin-left: 4%;
    display: table;
    position: relative;
    height: 45px;
    line-height: 45px;
    font-size: 13px;
}

.menuMain.buyer {
    width: 100%;
    overflow: hidden;
}

.balanceMenu {
    width: 100%;
    margin-top: 10px;
    background-color: #FFF;
    display: table;
}

.balanceMenu .horizonBottom {
    border-bottom: 1px solid #d9d9d9;
}

.balanceMenu .menuItem {
    width: 95%;
    margin-left: 5%;
    height: 46px;
    position: relative;
}

.balanceMenu .menuItem .menuItemIcon {
    float: left;
    color: #00B7EE;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}

.balanceMenu .menuItem .menuItemText {
    margin-left: 40px;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
}

.balanceMenu .menuItem .arrow {
    position: absolute;
    top: 0;
    right: 0;
    color: #CFCFCF;
    width: 12px;
    font-size: 14px;
    margin-right: 4%;
    line-height: 46px;
}





.balanceMenu .menuItem a .menuItemIcon .fa-money {
    font-size: 25px;
    margin-left: 8px;
    margin-top: 11px;
}

.orderMenu .tu1 .fa-money {
    color: #373737;
    font-size: 23px;
    margin: 7px;
}

.balanceMenu .menuItem a .menuItemIcon .fa-calendar-minus-o {
    font-size: 25px;
    margin-left: 8px;
    margin-top: 11px;
}

.orderMenu .tu1 .fa-calendar-minus-o {
    color: #373737;
    font-size: 23px;
    margin: 7px;
}

.balanceMenu .menuItem a .menuItemIcon .fa-file-text {
    font-size: 25px;
    margin-left: 8px;
    margin-top: 11px;
}

.orderMenu .tu1 .fa-exchange {
    color: #373737;
    font-size: 23px;
    margin: 7px;
}

.balanceMenu .menuItem a .menuItemIcon .fa-database {
    font-size: 25px;
    margin-left: 8px;
    margin-top: 11px;
}

.orderMenu .tu1 .fa-database {
    color: #373737;
    font-size: 23px;
    margin: 7px;
}

.balanceMenu .menuItem a .menuItemIcon .fa-calendar {
    font-size: 25px;
    margin-left: 8px;
    margin-top: 11px;
}

.orderMenu .tu1 .fa-calendar {
    color: #373737;
    font-size: 23px;
    margin: 7px;
}

.balanceMenu .menuItem a .menuItemIcon .fa-tags {
    font-size: 25px;
    margin-left: 8px;
    margin-top: 11px;
}

.orderMenu .tu1 .fa-tags {
    color: #373737;
    font-size: 23px;
    margin: 7px;
}



/*其他样式*/

.mainMenu .max {
    max-width: 768px;
    margin: 0 auto;
}

.mainMenu a>div {
    width: 25%;
    height: 22px;
    line-height: 22px;
    float: left;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 50px auto;
    color: #888;
}

.mainMenu a div {
    color: #888;
    position: relative;
}

.mainMenu .myHome {
    background-position: 50% -7px;
}

.mainMenu .myHome img {
    margin: 0.3rem auto 0;
    width: 20%;
}

.mainMenu .publish {
    background-position: 50% -57px;
}

.mainMenu .find {
    background-position: 50% -107px;
}

.mainMenu .find img {
    margin: 0.3rem auto 0;
    width: 20%;
}

.mainMenu .category {
    background-position: 50% -207px;
}


/**/

.mainMenu .category img {
    margin: 0.3rem auto 0;
    width: 20%;
}

.mainMenu .find .redPoint {
    position: absolute;
    top: 7px;
    padding: 0;
    left: 50%;
    margin-left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #DF1F0A;
    display: none;
}

.mainMenu .my {
    background-position: 50% -157px;
}

.mainMenu .my img {
    margin: 0.3rem auto 0;
    width: 20%;
}

.mainMenu a .myHome .fa-home {
    font-size: 20px;
    margin-top: 7px;
    color: #b2b2b2;
}

.mainMenu a .myHome p {
    line-height: 13px;
    overflow: hidden;
}

.mainMenu a .category .fa-reorder {
    font-size: 20px;
    margin-top: 7px;
    color: #b2b2b2;
}

.mainMenu a .category p {
    line-height: 13px;
    overflow: hidden;
}

.mainMenu a .find .fa-compass {
    font-size: 20px;
    margin-top: 7px;
    color: #b2b2b2;
}

.mainMenu a .find p {
    line-height: 13px;
    overflow: hidden;
}

.mainMenu a .my .fa-user-circle-o {
    font-size: 20px;
    margin-top: 7px;
    color: #b2b2b2;
}

.mainMenu a .my p {
    line-height: 13px;
    overflow: hidden;
}


/*底部导航*/

.mainMenu {
    position: fixed;
    width: 100%;
    max-width: 640px;
    height: 50px;
    bottom: 0px;
    background-color: #FCFCFC;
    border-top: 1px solid #EAEAE8;
    font-size: 12px;
}