body {
    margin: 0 auto;
    padding: 0;
    color: #424242;
    font-family: Microsoft Yahei, Arial, Simsun, Helvetica, Segoe UI, sans-serif;
    max-width: 640px;
}

img {
    display: block;
    border: 0;
}

a {
    color: #424242;
}

html {
    background-color: #eeeeee;
}

* {
    outline: none;
    font-style: normal;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

ul,
ol,
li,
dt,
dl,
dd,
em,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    vertical-align: middle;
}

a,
a:visited {
    color: #373737;
    text-decoration: none;
}


/*top*/

.header {
    height: 90px;
}

.md_top_box {
    width: 95%;
    margin: 0 auto;
}

.cz1 p {
    font-size: 18px;
    padding-top: 18px;
    text-align: center;
}

.cz p {
    font-size: 14px;
    margin-top: 26px;
}


/*top*/

.huiyuan_box {
    width: 95%;
    overflow: hidden;
    margin: 0 auto;
}

.huiyuan_box .left {
    width: 95%;
    overflow: hidden;
    border-bottom: 1px solid #d6d6d6;
}

.huiyuan_box .left .yejf {
    display: block;
    line-height: 25px;
    overflow: hidden;
    margin: 10px 0;
}

.huiyuan_box .left span {
    margin-left: 10px;
    float: left;
}

.huiyuan_box .left img {
    border-radius: 50px;
    height: 50px;
    margin-top: 15px;
    float: left;
}

.huiyuan_box .left .ye {
    font-size: 12px;
}

.huiyuan_box .right {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 10px;
    overflow: hidden
}

.huiyuan_box .right p {
    font-size: 12px;
}

.huiyuan_box .boxd-left {
    float: left;
    width: calc(100% - 100px);
}

.huiyuan_box .boxd-right {
    float: right;
    width: 100px;
    text-align: center;
}

.huiyuan_box .boxd-right a {
    margin: 3px 0;
}


.boxs-btn {
    width: 90px;
    line-height: 25px;
    background-color: #1890ff;
    color: #fff !important;
    white-space: nowrap;
    text-align: center;
    font-size: 13px;
    border-radius: 5px;
    display: inline-block;
}

.fenye {
    display: inline-block;
    margin: 10px;
}

.fenye li {
    float: left;
    height: 28px;
    line-height: 28px;
    margin: 0 -1px 5px 0;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    border: 1px solid #e2e2e2;
}

.fenye li.active {
    background-color: #b79957;
}

.fenye a {
    display: block;
    padding: 0 15px;
}

.fenye li.active a {
    color: #fff;
}