a,
ul,
ol,
li,
dt,
dl,
dd,
em,
p {

    margin: 0;

    padding: 0;

    list-style: none;

    text-decoration: none;

    vertical-align: middle;
}

.box {

    width: 90%;

    margin: 0 auto;

    margin-top: 100px;
}

.box .line {

    border-bottom: 1px solid #aaa;



    margin: 0 auto;

    height: 35px;

    line-height: 35px;
}

.box .line0 {

    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    /*透明边框*/
    color: #ababab;

    font-size: 16px;

    margin-left: -12px;
}

.box .line1 {

    margin: 0 auto;

    border-bottom: 1px solid #aaa;

    height: 35px;

    line-height: 35px;

    margin-top: 20px;
}


/*.box .line1:hover{

 border-bottom:1px solid #00b7ee ;
 
 }*/

.box .line1 .user {

    border: medium none;
    /*边框隐藏*/
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    /*透明边框*/
    font-size: 16px;

    color: #ababab;

    line-height: 16px;

    margin-left: -12px;
}

.box .line3 {

    margin: 0 auto;

    height: 35px;
}

.box .line3 button {

    width: 39%;

    float: right;

    color: #fff;

    background-color: #af7b2d;

    line-height: 35px;

    margin-top: 20px;

    text-align: center;

    border-radius: 2px;

    font-size: 16px;

    padding: 0;
}


/* .box .line3 a:hover{

 background-color: #00b7ee;

 }*/

.box .line3 .line2 {

    width: 60%;

    float: left;

    margin-top: 20px;

    border-bottom: 1px solid #aaa;

    height: 34px;

    line-height: 35px;
}

.box .line3 .line2 .user {

    border: medium none;
    /*边框隐藏*/
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    /*透明边框*/
    font-size: 16px;

    color: #ababab;

    margin-left: -12px;
}


/*.box .line2:hover{

 border-bottom:1px solid #00b7ee ;

 }*/

.box .tijiao {

    color: #000;

    font-size: 18px;

    line-height: 20px;

    margin-top: 20px;

    background-color: #00b7ee;

    border: medium none;

    width: 100%;

    border-radius: 2px;
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts_zc/icomoon.eot?t85lq4');
    src: url('fonts_zc/icomoon.eot?t85lq4#iefix') format('embedded-opentype'),
    url('fonts_zc/icomoon.ttf?t85lq4') format('truetype'),
    url('fonts_zc/icomoon.woff?t85lq4') format('woff'),
    url('fonts_zc/icomoon.svg?t85lq4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-短信:before {
    content: "\e900";
}

.icon-密码:before {
    content: "\e901";
}

.icon-手机:before {
    content: "\e902";
}

.icon-用户:before {
    content: "\e903";
}

.icon-正确 .path1:before {
    content: "\e904";
    color: rgb(53, 53, 53);
}

.icon-正确 .path2:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(254, 230, 50);
}

.icon-正确 .path3:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(53, 53, 53);
}

.icon-正确 .path4:before {
    content: "\e907";
    margin-left: -1em;
    color: rgb(53, 53, 53);
}


.sifuf {
    font-size: 110px;
    display: block;
    text-align: center;
    margin: 30px 0px;
}


/*登录*/


/*header*/

.header {
    margin: 0 auto;
    padding: 20px 16px 0;
    min-height: 100%;
    overflow-x: hidden;
}

.header .logo_box{
    width: 30%;
    margin: 0 auto;
    display: block;
    margin-top: 3em;
    margin-bottom:3em;
}

.header .logo_box img{
    width: 100%;
}
/*overflow-y:hidden '表示没有垂直滚动条overflow-x:hidden '表示没有水平滚动条scroll:no或overflow-x:hidden;overflow-y:hidden或overflow:hidden '让浏览器窗口永远不出现滚动条*/

.header .head {
    background: #fff;
    width: 100%;
    overflow: hidden;
}

.header .head .zuo {
    float: left;
}

.header .head .you {
    float: right;
}

.header .logo_box {
    width: 30%;
    margin: 0 auto;
    display: block;
    margin-top: 3em;
    margin-bottom: 3em;
}

.header .logo_box img {
    width: 100%;
}

.header .box1_boxx {
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #c9c9c9;
    margin-bottom: 15px;
}

.header .box1 {
    overflow: hidden;
}

.header .ipudleft_box {
    overflow: hidden;
}

.header .ipudleft {
    float: left;
    background-color: #fff;
    width: 71%;
    overflow: hidden;
    border-bottom: 1px solid #c9c9c9;
    margin-bottom: 15px;
}

.header .ipudleft_box .ipudleft .box1_boxx_left i {
    font-size: 1.2em;
    line-height: 30px;
    color: #666666;
}

.header .ipudright {
    float: right;
    width: 25%;
}

.header .ipudright button {
    width: 100%;
    padding: 6px 0px;
    margin-top: 0px;
    border-radius: 15px;
    border: 0;
    color: #fff;
    background: linear-gradient(to right, #5a92ff , #4078e4);
    /* 标准的语法 */
}

.header .shuru_box {
    float: left;
    margin-left: 10px;
}

.header .box1_boxx_left {
    float: left;
}

.header .box1_boxx .box1 .box1_boxx_left i {
    font-size: 1.2em;
    line-height: 30px;
    color: #666666;
}

.header .sjh {
    border: 0;
    height: 30px;
    padding: 0px 0px;
    margin-bottom: 0px;
}

.header .denglu {
    width: 100%;
    line-height: 35px;
    border-radius: 15px;
    border: 0;
    margin-top: 30px;
    color: #fff;
    background: linear-gradient(to right, #5a92ff , #4078e4);
    /* 标准的语法 */
}

.header .ase {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.header .wjmm {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.header .wjmm p {
    float: right;
    line-height: 50px;
}

.header .fbtk {
    overflow: hidden;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


/*css3 剧中标签/display:flex; justify-content:center;/*/

.header .fbtk p {
    color: #333333;
}

.header .utyh {
    float: left;
    margin-top: 20px;
    margin-top: 2px;
    margin-right: 5px;
}

.header .yanzhengma {
    float: right;
    width: 28%;
}

.header .yanzhengma button {
    width: 100%;
    margin-top: 0px;
    color: #fff;
    line-height: 30px;
    border-radius: 0px 15px 15px 0px;
    border: 0;
    background: linear-gradient(to right, #fee632, #fee632);
    /* 标准的语法 */
}