body {
    margin: 0 auto;
    padding: 0;
    color: #424242;
    font-size: 12px;
    font-family: Microsoft Yahei, Arial, Simsun, Helvetica, Segoe UI, sans-serif;
    background-color: #EEE;
    max-width: 640px;
}

img {
    display: block;
    border: 0;
}

a {
    color: #424242;
}

html {
    background-color: #eeeeee;
}

* {
    outline: none;
    font-style: normal;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

ul,
ol,
li,
dt,
dl,
dd,
em,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    vertical-align: middle;
}

a,
a:visited {
    color: #373737;
    text-decoration: none;
}

.header {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}


/*.header .wenzis{
    font-size: 14px;
    margin: 10px auto 0;
    width: 90%;
    margin-bottom: 10px;
}*/


/*top*/

.header .jf_box {
    background-color: #fff;
    background-image: url(images/headbg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    height: 90px;
    position: relative;
}

.header .jf_box .jf {
    margin: 0 auto;
    overflow: hidden;
    padding-top: 5px;
    width: 90%;
}

.header .jf_box .jf p {
    color: #fff;
    float: left;
    font-size: 14px;
    overflow: hidden;
}

.header .jf_box .jf .wen {
    display: block;
    overflow: hidden;
}

.header .jf_box .ling {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}

.header .jf_box .fa-question-circle-o {
    float: right;
    font-size: 25px;
    color: #fff;
}


/*top(end)*/


/*内容*/

.header .amfng_box .zhixian .margin {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 7px;
}

.header .amfng_box .zhixian {
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    padding: 2px 0;
}

.header .amfng_box {
    background-color: #fff;
    cursor: pointer;
    position: relative;
}

.header .amfng_box .zhixian .margin .left {
    float: left;
    line-height: 22px;
}

.header .amfng_box .zhixian .margin .left p {
    margin-top: 1px;
    overflow: hidden;
}

.header .amfng_box .zhixian .margin .left .xiaofei {
    color: #888;
    font-size: 14px;
    margin-left: 16px;
    line-height: 16px;
}

.header .amfng_box .zhixian .margin .left .shijian {
    color: #888;
    font-size: 13px;
}

.header .amfng_box .zhixian .margin .left .fa-database {
    font-size: 14px;
    color: #888;
}

.header .amfng_box .zhixian .margin .right {
    float: right;
    font-size: 20px;
    margin-top: 15px;
    /*font-weight:bold;*/
    color: #888;
}


/*内容（end）*/


/*其他样式*/

.mainMenu .max {
    max-width: 768px;
    margin: 0 auto;
}

.mainMenu a>div {
    width: 25%;
    height: 22px;
    line-height: 22px;
    float: left;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 50px auto;
    color: #888;
}

.mainMenu a div {
    color: #888;
    position: relative;
}

.mainMenu .myHome {
    background-position: 50% -7px;
}

.mainMenu .myHome img {
    margin: 0.3rem auto 0;
    width: 20%;
}

.mainMenu .publish {
    background-position: 50% -57px;
}

.mainMenu .find {
    background-position: 50% -107px;
}

.mainMenu .find img {
    margin: 0.3rem auto 0;
    width: 20%;
}

.mainMenu .category {
    background-position: 50% -207px;
}


/**/

.mainMenu .category img {
    margin: 0.3rem auto 0;
    width: 20%;
}

.mainMenu .find .redPoint {
    position: absolute;
    top: 7px;
    padding: 0;
    left: 50%;
    margin-left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #DF1F0A;
    display: none;
}

.mainMenu .my {
    background-position: 50% -157px;
}

.mainMenu .my img {
    margin: 0.3rem auto 0;
    width: 20%;
}

.mainMenu a .myHome .fa-home {
    font-size: 20px;
    margin-top: 7px;
    color: #b2b2b2;
}

.mainMenu a .myHome p {
    line-height: 13px;
    overflow: hidden;
}

.mainMenu a .category .fa-reorder {
    font-size: 20px;
    margin-top: 7px;
    color: #b2b2b2;
}

.mainMenu a .category p {
    line-height: 13px;
    overflow: hidden;
}

.mainMenu a .find .fa-compass {
    font-size: 20px;
    margin-top: 7px;
    color: #b2b2b2;
}

.mainMenu a .find p {
    line-height: 13px;
    overflow: hidden;
}

.mainMenu a .my .fa-user-circle-o {
    font-size: 20px;
    margin-top: 7px;
    color: #b2b2b2;
}

.mainMenu a .my p {
    line-height: 13px;
    overflow: hidden;
}


/*底部导航*/

.mainMenu {
    position: fixed;
    width: 100%;
    max-width: 640px;
    height: 50px;
    bottom: 0px;
    background-color: #FCFCFC;
    border-top: 1px solid #EAEAE8;
    font-size: 12px;
    z-index: 9999;
}

green {
    color: green
}

red {
    color: red
}

.fenye {
    display: inline-block;
    margin: 10px;
}

.fenye li {
    float: left;
    height: 28px;
    line-height: 28px;
    margin: 0 -1px 5px 0;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    border: 1px solid #e2e2e2;
}

.fenye li.active {
    background-color: #b79957;
}

.fenye a {
    display: block;
    padding: 0 15px;
}

.fenye li.active a {
    color: #fff;
}