body {
    margin: 0 auto;
    padding: 0;
    color: #424242;
    font-family: Microsoft Yahei, Arial, Simsun, Helvetica, Segoe UI, sans-serif;
    max-width: 640px;
}

img {
    display: block;
    border: 0;
}

a {
    color: #424242;
}

html {
    background-color: #eeeeee;
}

* {
    outline: none;
    font-style: normal;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

ul,
ol,
li,
dt,
dl,
dd,
em,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    vertical-align: middle;
}

a,
a:visited {
    color: #373737;
    text-decoration: none;
}


/*top*/

.header {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

.md_top_box {
    background-color: #00b7ee;
    height: 90px;
}

.md_top {
    width: 95%;
    margin: 0 auto;
}

.cz1 p {
    font-size: 18px;
    padding-top: 18px;
    text-align: center;
    color: #fff;
}

.cz p {
    font-size: 14px;
    margin-top: 26px;
    float: left;
    color: #fff;
}

.cz_you {
    float: right;
    font-size: 14px;
    margin-top: 26px;
    color: #fff;
}


/*top(end)*/

.amfng_box {
    background-color: #fff;
}

.biao_box {
    height: 80px;
    width: 95%;
    margin: 0 auto;
}

.biao_box a {
    color: #ff8e1c;
    width: 55px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #ff8e1c;
    display: block;
    margin-top: 8px;
}

.biao_box p {
    float: left;
    margin-top: 15px;
    font-size: 14px;
}

.xzmd_box {
    width: 100%;
    border-bottom: 1px solid #d6d6d6;
}

.xzmd_box .xzmd {
    line-height: 50px;
    margin: 0 auto;
    overflow: hidden;
    width: 95%;
}

.xzmd_box .xzmd p {
    float: left;
    font-size: 16px;
    margin-left: 5px;
}

.xzmd_box .xzmd .fa {
    float: left;
    line-height: 50px;
}

.xiala {
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    float: right;
    margin-top: 6px;
    overflow: hidden;
    width: 25%;
    height: 35px;
}

.select-button {
    border: 0;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
}

.one_box {
    width: 100%;
    border-bottom: 1px solid #d6d6d6;
}

.one_box .margin {
    line-height: 50px;
    margin: 0 auto;
    overflow: hidden;
    width: 95%;
}

.one_box .margin .fa {
    float: left;
    line-height: 50px;
}

.one_box .margin p {
    float: left;
    margin-left: 5px;
    font-size: 16px;
}

.one_box .margin .yuan_box {
    float: right;
}

.one_box .margin .yuan_box p {
    float: right;
}

.beizhu_box {
    width: 100%;
    border-bottom: 1px solid #d6d6d6;
}

.beizhu_box .beizhu {
    line-height: 50px;
    margin: 0 auto;
    overflow: hidden;
    width: 95%;
}

.beizhu_box .beizhu p {
    float: left;
    font-size: 16px;
    margin-left: 5px;
}

.beizhu_box .beizhu .fa {
    float: left;
    line-height: 50px;
}