body {
    margin: 0 auto;
    padding: 0;
    color: #424242;
    font-family: Microsoft Yahei, Arial, Simsun, Helvetica, Segoe UI, sans-serif;
    max-width: 640px;
}

img {
    display: block;
    border: 0;
}

a {
    color: #424242;
}

html {
    background-color: #eeeeee;
}

* {
    outline: none;
    font-style: normal;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

ul,
ol,
li,
dt,
dl,
dd,
em,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    vertical-align: middle;
}

a,
a:visited {
    color: #373737;
    text-decoration: none;
}


/*top*/

.header {
    height: 90px;
}

.md_top_box {
    width: 95%;
    margin: 0 auto;
}

.cz1 p {
    font-size: 18px;
    padding-top: 18px;
    text-align: center;
}

.cz p {
    font-size: 14px;
    margin-top: 26px;
}


/*top(end)*/

.boxsd {
    width: 95%;
    margin: 0 auto;
    font-size: 14px;
    color: #00b7eb;
    margin-bottom: 6px;
    margin-top: 6px;
}

.shuti {
    width: 3px;
    height: 20px;
    background-color: #00b7eb;
    float: left;
    margin-right: 5px;
}

.shouji {
    color: #00b7eb;
    line-height: 20px;
}

.duxi_box {
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    border-bottom: 1px solid #d6d6d6;
    overflow: hidden;
    border-top: 1px solid #d6d6d6;
}

.box {
    width: 95%;
    margin: 0 auto;
}

.tiaok {
    width: 95%;
}

.box .tiaok span {
    line-height: 26px;
    font-size: 12px;
}