.cmtNum {background-image: url(../image/comment.png);}
.footer_top_leftBtn {background-image: url(../image/nav.png);}
.footer_top_rightBtn {background-image: url(../image/top.png);}
.header_top_search input[type=submit] {background-image: url(../image/search-ie.png);}
.iconIE_wrap{overflow:hidden;background-image:none!important}