@charset "utf-8";
* {
    tap-highlight-color:transparent;
    -webkit-tap-highlight-color:transparent;
    -ms-tap-highlight-color:transparent;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:0;
    margin:0;
    border:0;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin:0;
    padding:0;
    border:0;
    /*font:inherit;*/
    /*vertical-align:baseline;*/
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}
body {
    line-height:1;
    font-family:Microsoft YaHei, Arial, Helvetica, sans-serif;
    background:#f7f7f7;
}
li, ol, ul {
    list-style:none;
}
html {
    -webkit-text-size-adjust:100%;
}
a, div, header, span {
    -webkit-tap-highlight-color:rgba(255, 255, 255, 0);
}
blockquote, q {
    quotes:none;
}
blockquote:after, blockquote:before, q:after, q:before {
    content:"";
    content:none;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
input, textarea {
    outline:0;
    resize:none;
}
/* --------------mask toast------------------ */
.mask{
    background-color: #000;
    -webkit-opacity: .4;
    opacity: .4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    display: none;
}

.mask.active,
.toast.active{
    display: block;
}
.toast{
    display: none;
    max-width:60%;
    line-height: 30px;
    border-radius: 5px;
    padding:5px 20px;
    color: #fff;
    font-size: 12px;
    background: rgba(0,0,0,.8);
    position: fixed;
    top:50%;
    left:50%;
    z-index: 1000;
    transform: translate(-50%,-50%);
}
/* ==========发布投稿========= */

.ad-tab{
    height:40px;
    background: #fff;
    border-bottom: 2px solid #f7f7f7;
    display:flex;
}
.ad-tab li{
    flex:1;
    text-align: center;
    line-height: 38px;
    color: #161616;
    font-size: 14px;
}
.ad-tab li.active{
    position: relative;
    color: #fd5b68;
}
.ad-tab li.active:after{
    position: absolute;
    bottom:0;
    left:50%;
    margin-left:-40px;
    content: '';
    display: block;
    width:80px;
    height:2px;
    background: #fd5b68;
}
.ad-tab-con{
    background: #fff;
}
.con-list{
    display:flex;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #f7f7f7;
}
.con-list p{
    padding:0 20px;
    font-size: 13px;
    color: #666;
}
.con-list select, .con-list input{
    flex:1;
    color: #333;
    border:none;
    outline:none;
    font-size: 13px;
    background: #fff;
}
.con-textarea{
    padding:0 20px;
}
.con-textarea-p{
    height:44px;
    line-height: 44px;
    font-size: 13px;
    color: #666;
    border-bottom: 1px solid #f7f7f7;
}
.con-textarea textarea{
    display: block;
    width:100%;
    height:220px;
    line-height: 30px;
    font-size: 12px;
    color: #333;
    border-top:1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
}

.upload-img{
    padding:10px 20px 0;
    background: #fff;
    margin-top:10px;
    border-top:1px solid #f7f7f7;
    overflow: hidden;
}
.upload-img li{
    position: relative;
    float:left;
    width:54px;
    height:54px;
    background: #ccc;
    border-radius: 2px;
    margin:0 10px 10px 0;
}
.upload-img li img{
    display: block;
    width:54px;
    height:54px;
}
.upload-img li input {
    display: block;
    width:54px;
    height:54px;
    opacity: 0;
}
.upload-img li.upload-btn::before,
.upload-img li.upload-btn::after{
    content:'';
    display: block;
    position: absolute;
    background: #fff;
    top:50%;
    left:50%;
}
.upload-img li.upload-btn::before{
    width:30px;
    height:2px;
    margin-top:-1px;
    margin-left: -15px;
}

.upload-img li.upload-btn::after{
    width:2px;
    height:30px;
    margin-top:-15px;
    margin-left: -1px;
}


.confirm-push{
    display: block;
    width:calc(100% - 40px);
    margin:10px auto;
    height:40px;
    border:none;
    border-radius: 2px;
    background: #fd5b68;
    color: #fff;
    font-size: 12px;
}
.push-ad-fee{
    border-top:1px solid #f7f7f7;
    height:44px;
    line-height: 44px;
    padding:0 20px;
    font-size: 12px;
    color: #666;
}
.push-ad-fee span{
    color: #ffc926;
    margin:0 3px;
}

.push-suc-pop{
    position: absolute;
    top:50%;
    left:50%;
    width:280px;
    height: 110px;
    margin:-55px 0 0 -140px;
    box-sizing: border-box;
    padding:20px 0;
    background: #fff;
    z-index: 102;
}
.push-suc-pop .pop-p1{
    text-align: center;
    line-height: 45px;
    font-size: 22px;
    color: #ffca19;
}
.push-suc-pop .pop-p2{
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #bbb;
}
.push-suc-pop span{
    position: absolute;
    top:0;
    right:0;
    width:30px;
    height: 30px;
}
.push-suc-pop span::before,
.push-suc-pop span::after{
    content: '';
    display: block;
    position: absolute;
    width:12px;
    height:1px;
    background: #bbb;
}
.push-suc-pop span::before{
    transform: rotate(45deg);
    left:10px;
    top:15px;
}
.push-suc-pop span::after{
    transform: rotate(-45deg);
    left:10px;
    top:15px;
}




















.uc-info{
    width:100%;
    background: #fd5b68;
    padding:25px 0;
}
.uc-info .uc-pic{
    display: block;
    width:60px;
    height:60px;
    border-radius: 50%;
    border:2px solid rgba(255,255,255,.5);
    margin:0 auto;
}
.uc-wx-name{
    text-align: center;
    line-height: 32px;
    color: #fff;
    font-size: 13px;
}
.uc-data{
    width:100%;
    height:70px;
    padding-top:15px;
    background: #fff;
    box-sizing: border-box;
    display: flex;
    border-bottom: 2px solid #f7f7f7;
}
.uc-data a{
    display: block;
    flex:1;
    text-decoration: none;
}
.uc-data a p{
    color: #fd5a67;
    font-size:20px;
    text-align: center;
}
.uc-data a p span{
    font-size: 12px;
}
.uc-data a p:last-child{
    text-align: center;
    font-size:10px;
    line-height: 32px;
    color: #ccc;
}


.list-status li{
    overflow:hidden;
    background: #fff;
}
.swipe-box{
    width:125%;
    height:70px;
    box-sizing: border-box;
    background: #fff;
    overflow: hidden;
    -webkit-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.swipe-box.swipeleft{
    transform:translateX(-20%);
    -webkit-transform:translateX(-20%);
}
.list-con{
    float: left;
    width:80%;
    height:70px;
    box-sizing: border-box;
    padding-left:20px;
    border-bottom: 1px solid #f7f7f7;
}
.ad-tit{
    line-height: 30px;
    width:90%;
    padding-top:10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:13px;
    color: #333;
}
.list-con div{
    height:20px;
    line-height: 20px;
    display: flex;
    font-size: 10px;
    color: #ccc;
}
.list-con div span{
    flex:1;
}
.list-con div span em{
    color: #333;
}
.list-con div span em.list-status-red{
    color: #fd5b68;
}
.list-con div span em.list-status-yellow{
    color: #ffd147;
}

.list-del-btn{
    float:right;
    width:20%;
    height:70px;
    background: #fd5b68;
    color: #fff;
    font-size: 14px;
}

/*  */
