#item-page {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 50px;
}
#item-circle-info-header {
  background: #323235;
  height: 40px;
  line-height: 40px;
  position: relative;
  overflow: hidden;
}
#item-circle-info-header a {
  display: inline-block;
}
#item-circle-info-header .avatar {
  position: absolute;
  top: 50%;
  margin-top: -13px;
  left: 15px;
}
#item-circle-info-header .circle-name {
  color: white;
  margin-left: 54px;
  margin-right: 15px;
  font-size: 14px;
}
#item-circle-info-header #show-circle-mp-qr {
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 10px;
  display: inline-block;
  line-height: 40px;
  font-size: 14px;
  height: 40px;
}
#title-box {
  background: white;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
#title-box .title-prefix b {
  color: #999;
}
#title-box .cover-box {
  position: absolute;
  width: 71px;
  height: 54px;
  left: 13px;
  top: 15px;
  overflow: hidden;
}
#title-box .cover-box img {
  width: 100%;
}
#title-box .info-box {
  padding: 13px 10px;
  padding-bottom: 6px;
}
#title-box .title {
  overflow: hidden;
  color: #444;
  font-size: 16px;
  margin-right: 58px;
}
@media only screen and (max-width: 375px) {
  #title-box .title {
    font-size: 4.26666667vmin;
  }
}
#title-box .middle-line {
  margin: 10px 0;
}
#title-box .middle-line .price {
  color: #3bc89c;
  font-size: 18px;
}
#title-box .middle-line .price.special-price {
  font-size: 14px;
}
#title-box .middle-line .original-price {
  font-size: 12px;
  color: #b0b0b0;
  text-decoration: line-through;
}
#title-box .middle-line .postage {
  font-size: 12px;
  color: #b0b0b0;
  margin-left: 5px;
}
#title-box .sub-line::after {
  display: table;
  content: '';
  clear: both;
}
#title-box .sub-line span {
  font-size: 12px;
  color: #b0b0b0;
  display: inline-block;
  width: 33%;
  float: left;
}
#title-box .sub-line .center {
  text-align: center;
}
#title-box .sub-line .right {
  text-align: right;
}
#title-box hr {
  border-color: #eaeaea;
}
#title-box .labels-box {
  padding: 0 12px;
}
#title-box .labels-box span {
  font-size: 12px;
  display: inline-block;
  padding: 8px 0px;
  margin-right: 20px;
  color: #b0b0b0;
}
#title-box .labels-box span .icon {
  height: 14px;
  margin-right: 0px;
  margin-top: -2px;
  position: relative;
  top: 2px;
}
#title-box #report {
  border: none;
  position: relative;
  position: absolute;
  right: 10px;
  font-size: 11px;
  top: 11px;
  padding: 4px 7px;
}
#title-box #report::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  border-radius: 4px;
}
#item-detail {
  margin: 15px 1px 0 0;
  background: white;
  padding: 5px;
  position: relative;
}
#item-detail #item-description-box {
  color: #787878;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}
#item-detail #item-description-box span {
  color: #b0b0b0;
  display: inline-block;
  display: block;
  margin-bottom: 10px;
}
#item-detail #item-audio-box {
  margin-bottom: 10px;
}
#item-detail #item-audio-box #item-audio {
  width: 140px;
  height: 35px;
  background-color: #3bc89c;
  border-radius: 9px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
#item-detail #item-audio-box #item-audio.playing .audio-ripple-1 {
  animation: ripple-fade-1 1s linear infinite;
  -webkit-animation: ripple-fade-1 1s linear infinite;
}
#item-detail #item-audio-box #item-audio.playing .audio-ripple-2 {
  animation: ripple-fade-2 1s linear infinite;
  -webkit-animation: ripple-fade-2 1s linear infinite;
}
#item-detail #item-audio-box #item-audio.playing .audio-ripple-3 {
  animation: ripple-fade-3 1s linear infinite;
  -webkit-animation: ripple-fade-3 1s linear infinite;
}
#item-detail #item-audio-box #item-audio-length {
  font-size: 12px;
  color: #999;
  position: relative;
  vertical-align: middle;
  margin-left: 4px;
}
#item-detail #item-audio-box .audio-ripple {
  position: absolute;
  top: 13px;
  left: 10px;
}
#item-detail #item-audio-box .audio-ripple-1::before {
  content: "";
  border-width: 4px;
  border-style: solid;
  border-color: transparent white transparent transparent;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
#item-detail #item-audio-box .audio-ripple-2::before {
  width: 12px;
  height: 12px;
  content: "";
  border-width: 2px;
  border-style: solid;
  border-color: transparent white transparent transparent;
  border-radius: 11px;
  position: absolute;
  top: -4px;
  left: -3px;
}
#item-detail #item-audio-box .audio-ripple-3::before {
  width: 20px;
  height: 20px;
  content: "";
  border-width: 2px;
  border-style: solid;
  border-color: transparent white transparent transparent;
  border-radius: 13px;
  position: absolute;
  top: -8px;
  left: -6px;
}
@-webkit-keyframes ripple-fade-1 {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes ripple-fade-2 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes ripple-fade-3 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#item-detail .photo-item {
  margin-bottom: 10px;
}
#item-detail .photo-item .photo {
  display: block;
  width: 100%;
  background: #ddd;
  min-height: 150px;
}
#item-detail .photo-item .photo-desc {
  text-align: center;
  margin-top: 10px;
  color: #787878;
}
#item-detail .photo-item .photo-desc:last-child {
  margin-bottom: 0;
}
#item-detail .photo-item:last-child {
  margin-bottom: 0;
}
#tags-box .tag {
  color: #56A6D0;
  font-size: 12px;
  display: inline-block;
  line-height: 20px;
  background: #8ed8ff;
  margin-right: 8px;
  padding: 0 10px;
  border-radius: 40px;
}
#vote-box {
  text-align: center;
  position: relative;
  padding-top: 0px;
}
#vote-box .voters {
  height: 27px;
  height: 32px;
  padding: 4px 0;
}
#vote-box .hide {
  display: none;
}
#vote-box .text {
  font-size: 12px;
}
#vote-box #vote-btn {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  margin: auto;
  padding: 0;
  border: none;
  position: relative;
}
#vote-box #vote-btn::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  border-radius: 90px;
}
#vote-box #vote-btn .icon {
  width: 16px;
  position: relative;
  left: 1px;
  top: 1px;
}
#vote-box #vote-btn .icon.voted {
  display: none;
}
#vote-box #vote-btn .icon.default {
  display: inline;
}
#vote-box #vote-btn.voted {
  border: none;
  position: relative;
}
#vote-box #vote-btn.voted::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #3bc89c;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  border-radius: 90px;
}
#vote-box #vote-btn.voted .icon.voted {
  display: inline;
}
#vote-box #vote-btn.voted .icon.default {
  display: none;
}
.label {
  font-size: 12px;
  padding: 6px 14px;
}
.box {
  line-height: 34px;
  padding: 11px 14px;
  background: white;
  position: relative;
}
#comments-box {
  padding: 0;
  margin-top: 15px;
}
#comments-box .header-box {
  height: 48px;
  line-height: 48px;
  padding: 0 14px;
  position: relative;
  font-weight: lighter;
}
#comments-box .header-box img {
  width: 16px;
  height: 16px;
  vertical-align: bottom;
}
#comments-box .header-box button {
  width: 74px;
  height: 30px;
  float: right;
  padding: 0;
  position: relative;
  top: 50%;
  margin-top: -15px;
}
#comments-box .comment-ul::before {
  content: "";
  width: 24px;
  height: 24px;
  z-index: 3;
  background-color: white;
  border-style: solid;
  border-color: #d5d5d5;
  border-width: 1px 1px 0px 0px;
  -webkit-transform: rotate(-45deg) scale(0.5);
  transform: rotate(-45deg) scale(0.5);
  position: absolute;
  top: 36px;
  left: 18px;
}
#comments-box .comment-li {
  border: none;
  position: relative;
  padding: 12px 10px;
  padding-bottom: 10px;
}
#comments-box .comment-li::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px 0 0 0;
  box-sizing: border-box;
  border-radius: 0;
}
#comments-box .comment-li * {
  z-index: 3;
  position: relative;
}
#comments-box .comment-li .avatar {
  float: left;
}
#comments-box .comment-li .owner-mark {
  font-size: 12px;
  color: #3bc89c;
  opacity: 0.7;
}
#comments-box .comment-li .nickname {
  font-size: 14px;
  line-height: 16px;
}
#comments-box .comment-li .nickname a {
  color: #787878;
}
#comments-box .comment-li .content {
  line-height: 18px;
  margin-top: 5px;
  font-size: 12px;
}
#comments-box .comment-li hr {
  margin-bottom: 10px;
}
#comments-box .comment-li .content-box {
  margin-left: 50px;
  margin-right: 60px;
}
#comments-box .comment-li .time {
  position: absolute;
  color: #b0b0b0;
  right: 10px;
  top: 5px;
  font-size: 10px;
}
#comments-box .comment-li .owner-reply-box {
  margin-left: 50px;
}
#comments-box .comment-li .owner-reply-box .time {
  right: 0px;
}
#comments-box .comment-li .reply-btn {
  border: none;
  z-index: 3;
  position: relative;
  font-size: 12px;
  width: 50px;
  border-radius: 40px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  line-height: 22px;
  text-align: center;
  color: #999;
}
#comments-box .comment-li .reply-btn::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  border-radius: 80px;
}
#comments-box .comment-li .reply-btn:hover {
  background: #e0e0e0;
}
#comments-box .empty-mark {
  border: none;
  position: relative;
  padding: 10px;
}
#comments-box .empty-mark::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px 0 0 0;
  box-sizing: border-box;
  border-radius: 0;
}
#new-comment-dialog .inner .body textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: none;
  padding: 12px;
  background: #f2f2f2;
  color: #999;
  margin-bottom: 8px;
}
#new-comment-dialog .inner .reply-to-content {
  text-align: left;
  margin-bottom: 10px;
}
#report-dialog .input {
  height: 100px;
}
#chat-btn {
  position: fixed;
  display: inline-block;
  font-size: 12px;
  right: 0;
  bottom: 70px;
  border-radius: 25px 0 0 25px;
  padding: 9px 20px;
  padding-right: 15px;
  background-color: #3bc89c;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.user-info-header {
  margin-top: -1px;
}
#bargain-dialog .inner {
  width: 265px;
}
#bargain-dialog .inner .body {
  padding: 29px;
  text-align: left;
  font-size: 16px;
}
#bargain-dialog .inner label {
  display: inline-block;
  width: 100px;
}
#bargain-dialog .inner .current-price-box {
  color: #222;
  margin-bottom: 18px;
}
#bargain-dialog .inner .expected-price-box {
  color: #3bc89c;
}
#bargain-dialog .inner .expected-price-box .expected-price {
  color: #3bc89c;
  font-size: 18px;
}
#bargain-dialog .inner .expected-price-box input {
  color: #3bc89c;
  font-size: 18px;
  line-height: 22px;
  width: 50px;
  border-bottom: 1px solid #3bc89c;
  padding: 1px;
  margin-left: 5px;
}
#bargain-dialog .inner .expected-price-box small {
  display: block;
  margin-top: 12px;
  color: #b0b0b0;
  font-size: 12px;
}
#bargain-dialog .inner .accept-btn {
  width: 120px;
  height: 36px;
}
#bargain-dialog .inner footer {
  padding-bottom: 22px;
}
#actions-footer .btn-wrapper {
  float: left;
  width: 20%;
  text-align: center;
}
#actions-footer .btn-wrapper .icon {
  height: 18px;
  margin: auto;
  display: block;
  margin-top: 8px;
  margin-bottom: 2px;
}
#actions-footer .btn-wrapper span {
  font-size: 10px;
  color: #b0b0b0;
}
#actions-footer .btn-wrapper .btn {
  height: 47px;
  font-size: 12px;
  padding: 0;
  width: 100%;
  position: relative;
}
#actions-footer .btn-wrapper .btn:hover {
  background: #f2f2f2;
}
#actions-footer .btn-wrapper .unfav-icon {
  display: block;
}
#actions-footer .btn-wrapper .fav-icon {
  display: none;
}
#actions-footer .btn-wrapper #fav-btn.faved .unfav-icon {
  display: none;
}
#actions-footer .btn-wrapper #fav-btn.faved .fav-icon {
  display: block;
}
#actions-footer .btn.right {
  float: right;
  width: 30%;
  height: 100%;
  text-align: center;
  border-radius: 0;
  line-height: 47px;
  padding: 0;
  opacity: 0.96;
}