@-webkit-keyframes record-dialog-ripple-fade-1 {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes record-dialog-ripple-fade-1 {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes record-dialog-ripple-fade-2 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes record-dialog-ripple-fade-2 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes record-dialog-ripple-fade-3 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes record-dialog-ripple-fade-3 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#voice-record-dialog .inner {
  border-radius: 2px;
  top: auto;
  bottom: 25%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
#voice-record-dialog .body {
  padding: 0;
}
#voice-record-dialog header {
  height: 26px;
}
#voice-record-dialog header::before {
  display: none;
}
#voice-record-dialog header p {
  display: none;
}
#voice-record-dialog header .header-close-btn {
  padding: 8px;
}
#voice-record-dialog footer {
  border: none;
  position: relative;
  padding: 0;
  height: 50px;
}
#voice-record-dialog footer::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px 0 0 0;
  box-sizing: border-box;
  border-radius: 0;
}
#voice-record-dialog footer button {
  z-index: 3;
  position: relative;
  color: #787878;
  float: left;
  width: 50%;
  height: 100%;
  font-size: 14px;
}
#voice-record-dialog footer button:first-child {
  border: none;
  position: relative;
}
#voice-record-dialog footer button:first-child::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 0 1px 0 0;
  box-sizing: border-box;
  border-radius: 0;
}
#voice-record-dialog .progress-bar-box .progress-bar-wrapper {
  position: relative;
  background: #eaeaea;
  padding: 10px;
  margin: 0 25px;
}
#voice-record-dialog .progress-bar-box .progress-bar-wrapper .progress-bar {
  background: #d3d3d3;
  height: 2px;
  display: block;
  margin: 0;
  position: relative;
  overflow: visible;
}
#voice-record-dialog .progress-bar-box .progress-bar-wrapper .progress-bar .filled {
  display: block;
  background-color: #3bc89c;
  height: 100%;
  width: 0%;
  -webkit-transition: width 0.9s linear 0ms;
  transition: width 0.9s linear 0ms;
  position: absolute;
  left: 0;
  top: 0;
}
#voice-record-dialog .progress-bar-box .recorded-time {
  margin-top: 5px;
  display: block;
  opacity: 0;
}
#voice-record-dialog .progress-bar-box.recording .recorded-time {
  opacity: 1;
}
#voice-record-dialog .play-btn-box {
  padding: 27px;
}
#voice-record-dialog .play-btn-box .play-btn {
  width: 171px;
  height: 44px;
  margin-right: 5px;
  background: #2cc495;
  border-radius: 10px;
  vertical-align: middle;
  text-align: left;
}
#voice-record-dialog .record-btn-box {
  padding: 18px 0;
}
#voice-record-dialog .record-btn-box .record-btn {
  padding: 5px;
}
#voice-record-dialog .record-btn-box .record-btn .icon {
  width: 48px;
}
#voice-record-dialog .record-btn-box .record-btn .start-icon {
  display: block;
}
#voice-record-dialog .record-btn-box .record-btn .stop-icon {
  display: none;
}
#voice-record-dialog .record-btn-box .hint {
  font-size: 10px;
}
#voice-record-dialog .record-btn-box .start-hint {
  display: block;
}
#voice-record-dialog .record-btn-box .stop-hint {
  display: none;
}
#voice-record-dialog .record-btn-box.recording .record-btn .start-icon {
  display: none;
}
#voice-record-dialog .record-btn-box.recording .record-btn .stop-icon {
  display: block;
}
#voice-record-dialog .record-btn-box.recording .start-hint {
  display: none;
}
#voice-record-dialog .record-btn-box.recording .stop-hint {
  display: block;
}
#voice-record-dialog .voice-ripple {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
}
#voice-record-dialog .voice-ripple .ripple {
  position: absolute;
  top: 11px;
  left: 0;
}
#voice-record-dialog .voice-ripple .ripple-1::before {
  content: "";
  border-width: 4px;
  border-style: solid;
  border-color: transparent white transparent transparent;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
#voice-record-dialog .voice-ripple .ripple-2::before {
  width: 12px;
  height: 12px;
  content: "";
  border-width: 2px;
  border-style: solid;
  border-color: transparent white transparent transparent;
  border-radius: 11px;
  position: absolute;
  top: -4px;
  left: -3px;
}
#voice-record-dialog .voice-ripple .ripple-3::before {
  width: 20px;
  height: 20px;
  content: "";
  border-width: 2px;
  border-style: solid;
  border-color: transparent white transparent transparent;
  border-radius: 13px;
  position: absolute;
  top: -8px;
  left: -6px;
}
#voice-record-dialog .voice-ripple.playing .ripple-1 {
  -webkit-animation: record-dialog-ripple-fade-1 1s linear infinite;
  animation: record-dialog-ripple-fade-1 1s linear infinite;
}
#voice-record-dialog .voice-ripple.playing .ripple-2 {
  -webkit-animation: record-dialog-ripple-fade-2 1s linear infinite;
  animation: record-dialog-ripple-fade-2 1s linear infinite;
}
#voice-record-dialog .voice-ripple.playing .ripple-3 {
  -webkit-animation: record-dialog-ripple-fade-3 1s linear infinite;
  animation: record-dialog-ripple-fade-3 1s linear infinite;
}
#header {
  height: 55px;
  background: white;
  text-align: center;
  border: none;
  position: relative;
}
#header::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 0 0 1px 0;
  box-sizing: border-box;
  border-radius: 0;
}
#header .icon {
  margin-left: -18px;
  margin-top: -38px;
  position: relative;
  top: 11px;
  width: 33px;
  display: inline;
}
#header .title {
  color: #222;
  display: inline-block;
  line-height: 55px;
  font-size: 16px;
  padding-left: 5px;
}
#new-item-page {
  padding-left: 0;
  padding-right: 0;
}
.label {
  line-height: 30px;
  padding-left: 15px;
  font-size: 12px;
}
input {
  font-size: 14px;
}
input.maingreen {
  color: #3bc89c;
}
input.green {
  color: #a2e385;
}
.cell-input-wrapper {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 58px;
  padding-right: 15px;
}
.cell-input-wrapper input {
  height: 100%;
  width: 100%;
  padding-left: 58px;
  padding-right: 10px;
  position: absolute;
  background: transparent;
  left: 0;
  top: 0;
}
.no-margin-top {
  margin-top: 1px;
}
input.full-width {
  background: transparent;
  width: 100%;
}
.cell .inner {
  font-size: 14px;
}
.cell .select {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}
.cell .inner.no-padding-right {
  padding-right: 0;
}
.cell .select-arrow {
  height: 7px;
  top: 22px;
}
.cell.margin {
  margin-top: 10px;
}
.cell.border-bottom {
  border: none;
  position: relative;
}
.cell.border-bottom::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 0 0 1px 0;
  box-sizing: border-box;
  border-radius: 0;
}
.cell.border-bottom .inner {
  z-index: 3;
  position: relative;
}
.cell:hover {
  background: white;
}
.postage-cell,
#class-cell {
  padding-left: 15px;
}
#desc-cell {
  background: white;
  padding: 10px;
  margin-top: -7px;
}
#desc-cell .label {
  color: #787878;
  padding-left: 0;
}
#item-photo-list {
  display: block;
}
#item-photo-list::after {
  display: table;
  content: '';
  clear: both;
}
#item-photo-list li {
  border: none;
  background: #f2f2f2;
  margin-bottom: 10px;
  float: left;
  text-align: center;
  position: relative;
  width: 84px;
  height: 84px;
  margin-right: 10px;
  display: inline-block;
}
#item-photo-list li::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  border-radius: 0;
}
#item-photo-list #add-photo-btn,
#item-photo-list #add-voice-btn {
  font-weight: bold;
  font-size: 20px;
}
#item-photo-list #add-photo-btn .icon,
#item-photo-list #add-voice-btn .icon {
  display: inline-block;
  height: 21px;
  margin-top: 22px;
  margin-bottom: 2px;
}
#item-photo-list #add-photo-btn p,
#item-photo-list #add-voice-btn p {
  color: #d0d0d0;
  font-size: 10px;
}
#item-photo-list #add-voice-btn .inner-filled {
  position: relative;
  width: 100%;
  height: 100%;
}
#item-photo-list #add-voice-btn .inner-filled .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}
#item-photo-list #add-voice-btn .inner-filled .icon {
  position: relative;
  z-index: 1;
}
#item-photo-list #add-voice-btn .inner-filled p {
  position: relative;
  z-index: 1;
}
#item-photo-list #add-voice-btn .inner-empty {
  display: block;
}
#item-photo-list #add-voice-btn .inner-filled {
  display: none;
}
#item-photo-list #add-voice-btn.filled::before {
  display: none;
}
#item-photo-list #add-voice-btn.filled .inner-empty {
  display: none;
}
#item-photo-list #add-voice-btn.filled .inner-filled {
  display: block;
}
#item-photo-list .photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#item-photo-list .has-desc {
  display: none;
  position: absolute;
  right: -12px;
  top: -5px;
  background: #8ed8ff;
  font-size: 12px;
  z-index: 3;
  color: white;
  padding: 2px 5px;
  border-radius: 0px;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
#item-photo-list .as-cover {
  display: none;
  position: absolute;
  z-index: 3;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.5);
  width: 36px;
  padding: 2px;
  right: 0;
  bottom: 2px;
  font-size: 10px;
}
#item-photo-list .edit-hint {
  border: none;
  position: relative;
  color: #dec25f;
  background: #fcf8ad;
  line-height: 32px;
  display: none;
  z-index: 4;
  position: absolute;
  width: 130px;
  font-size: 12px;
  left: 7px;
  top: -13px;
  border-radius: 5px;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
#item-photo-list .edit-hint::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #f1e69d;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  border-radius: 16px;
}
#item-photo-list .edit-hint::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 24%;
  margin-top: -2px;
  margin-left: -8px;
  border-style: solid;
  border-width: 8px;
  border-color: transparent;
  border-top-color: #fcf8ad;
  z-index: 4;
}
#item-photo-list .loading-cover {
  padding-top: 34px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}
#classes-cell {
  height: auto;
  background: white;
  padding: 15px;
  padding-bottom: 0;
}
#classes-cell .class-item {
  margin-right: 5px;
  margin-bottom: 15px;
  font-size: 12px;
  border-radius: 40px;
  padding: 4px 12px;

  display: inline-block;
}
#classes-cell .class-item.selected {
  background: #3bc89c;
  color: white;
}
#classes-cell #classes-hint {
  margin-bottom: 10px;
}
#title-cell .darker b {
  margin-left: 2px;
}
#title-cell input {
  position: absolute;
  left: 0;
  top: 0;
}
textarea#description {
  width: 100%;
  margin-top: -2px;
  outline: none;
  border: none;
  resize: none;
  background: white;
  padding: 15px;
  font-size: 13px;
  color: #999;
}
small {
  font-size: 12px;
}
.right-box {
  z-index: 3;
  position: relative;
}
input[type=radio] {
  width: 30px;
}
#class-selector #class-select-hint {
  color: #b0b0b0;
}
#class-selector #item-class {
  color: #787878;
}
#class-selector:hover {
  background: #f9f9f9;
}
#phone {
  line-height: 50px;
  padding: 0 20px 0px 100px;
  text-align: left;
  color: #999;
  display: inline-block;
  width: 100%;
  position: absolute;
  left: 0;
  background: transparent;
}
span.darker {
  color: #787878;
}
p.darker {
  color: #787878;
}
#price-cell {
  height: auto;
}
#price-cell .inner {
  padding: 0;
}
#price-cell #price-type-switch {
  border: none;
  position: relative;
  height: 40px;
}
#price-cell #price-type-switch::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 0 0 1px 0;
  box-sizing: border-box;
  border-radius: 0;
}
#price-cell #price-type-switch button {
  border: none;
  z-index: 3;
  position: relative;
  color: #787878;
  width: 50%;
  display: inline-block;
  height: 100%;
  float: left;
}
#price-cell #price-type-switch button::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 0 1px 0 0;
  box-sizing: border-box;
  border-radius: 0;
}
#price-cell #price-type-switch button.active {
  color: #3bc89c;
}
#price-cell #classic-price-box {
  position: relative;
  padding-left: 15px;
}
#price-cell #special-price-box {
  padding-left: 15px;
  padding-bottom: 5px;
}
#price-cell #special-price-box::after {
  display: table;
  content: '';
  clear: both;
}
#price-cell #special-price-box .special-price-tag {
  border: none;
  position: relative;
  border-radius: 30px;
  margin-top: 15px;
  padding: 1px 8px;
  margin-right: 5px;
  font-size: 12px;
  display: inline-block;
  float: left;
  line-height: 20px;
}
#price-cell #special-price-box .special-price-tag::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  border-radius: 60px;
}
#price-cell #special-price-box .special-price-tag.active {
  background: #3bc89c;
  color: white;
}
#price-cell #special-price-box .special-price-tag.active::before {
  display: none;
}
#price-cell #special-price-box .special-price-tag.customize {
  padding-left: 19px;
  position: relative;
}
#price-cell #special-price-box .special-price-tag.customize .icon {
  height: 10px;
  position: absolute;
  left: 5px;
  top: 6px;
}
#price-cell #special-price-box .special-price-tag.customize .icon-add {
  height: auto;
  display: inline-block;
  font-style: normal;
  top: 1px;
  font-size: 14px;
  left: 7px;
}
#price-cell #special-price-box .special-price-tag.customize .icon-edit {
  display: none;
}
#price-cell #special-price-box .special-price-tag.customize.has-value .icon-add {
  display: none;
}
#price-cell #special-price-box .special-price-tag.customize.has-value .icon-edit {
  display: inline-block;
}
#price-cell #special-price-box #special-price-preview {
  float: left;
  line-height: 20px;
  width: 100%;
  margin-top: 10px;
  font-size: 12px;
}
#price-cell #special-price-box #special-price-preview b {
  color: #d0d0d0;
}
#delivery-methods-cell {
  height: auto;
}
#delivery-methods-cell .title {
  line-height: 50px;
}
#delivery-methods-cell .inner {
  line-height: initial;
  padding-bottom: 8px;
}
#delivery-methods-cell .box {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  position: relative;
  padding-left: 20px;
}
#delivery-methods-cell .checkbox {
  height: 20px;
  left: 0;
  top: -3px;
}
#delivery-methods-cell small {
  font-size: 12px;
  color: #999;
}
#delivery-methods-cell #postage-box {
  left: 50px;
}
#delivery-methods-cell #postage-box input#postage {
  width: 34px;
  position: absolute;
  left: 80px;
  bottom: -4px;
  font-size: 14px;
  line-height: 16px;
  background: transparent;
  text-align: center;
  border-bottom: 1px solid rgba(44, 196, 149, 0.29);
}
#delivery-methods-cell #postage-box .icon {
  top: 50%;
  left: 100%;
  margin-top: -8px;
}
#delivery-methods-cell #postage-box .tail {
  color: #d0d0d0;
  position: relative;
  left: 140%;
}
#trade-methods-cell {
  height: auto;
}
#trade-methods-cell .title {
  line-height: 50px;
}
#trade-methods-cell .inner {
  line-height: initial;
  padding-bottom: 8px;
}
#trade-methods-cell .box {
  vertical-align: middle;
  line-height: 22px;
  position: relative;
  display: block;
  padding-left: 20px;
  margin-bottom: 10px;
}
#trade-methods-cell #offline-trade-box #wx-id-input-container {
  display: inline-block;
}
#trade-methods-cell #offline-trade-box #wx-id-input-container span {
  margin-left: 16px;
}
#trade-methods-cell #offline-trade-box #wx-id-input-container input {
  width: 100px;
  font-size: 14px;
  line-height: 16px;
  background: transparent;
  text-align: left;
  border-bottom: 1px solid rgba(181, 181, 181, 0.29);
  color: #353535;
  padding: 5px 5px;
  margin-top: -5px;
}
#trade-methods-cell .checkbox {
  height: 20px;
  left: 0px;
}
#trade-methods-cell small {
  font-size: 12px;
  color: #999;
}
#photo-edit-dialog .input {
  height: 48px;
}
#photo-edit-dialog .body {
  padding-bottom: 5px;
}
#photo-edit-dialog .body #photo-desc {
  overflow-y: auto;
  height: auto;
}
#photo-edit-dialog .left-align {
  text-align: left;
  margin-top: 8px;
}
#photo-edit-dialog .left-align .checkbox {
  float: left;
  top: -4px;
}
#photo-edit-dialog .left-align span {
  font-size: 14px;
}
#photo-edit-dialog footer::after {
  display: table;
  content: '';
  clear: both;
}
#photo-edit-dialog footer button {
  float: left;
  margin-top: 10px;
}
#photo-edit-dialog footer .confirm-btn {
  width: 65%;
  margin-right: 4%;
}
#photo-edit-dialog footer .delete-btn {
  width: 30%;
}
#verify-dialog .hint {
  font-size: 13px;
  text-align: left;
  margin-left: 5px;
}
#verify-dialog .hint .phone-number {
  display: inline-block;
  margin-left: 5px;
  color: #787878;
}
#verify-dialog input.verify-code {
  width: 150px;
  padding: 5px 8px;
  margin: 10px 4px;
}
#verify-dialog .resend-btn {
  border: none;
  position: relative;
  border-radius: 4px;
  height: 35px;
  width: 115px;
}
#verify-dialog .resend-btn::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  border-radius: 8px;
}
#verify-dialog .resend-btn.disabled {
  background: #E6E6E6;
  color: #666 !important;
}
#offline-trade-notice-dialog .body p {
  line-height: 23px;
  padding: 0 5px;
}
#footer {
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);
  background: none;
  opacity: 1;
  position: fixed;
  bottom: -1px;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 47px;
}
#footer .blur-mask {
  background: white;
  opacity: 0.96;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}
#footer .btn-footer {
  opacity: 0.96;
}
#footer.use-blur {
  -webkit-backdrop-filter: blur(8px);
}
#footer.use-blur .blur-mask,
#footer.use-blur .btn-footer,
#footer.use-blur .btn-block {
  opacity: .9;
}
#footer #submit-btn {
  display: block;
  width: 100%;
  height: 100%;
}
@-webkit-keyframes ripple-fade-1 {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes ripple-fade-2 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes ripple-fade-3 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}