.page {
  padding: 0;
}
ul {
  background: white;
}
@media all and (max-width: 374px) {
  li.service-type .center-box p {
    margin-top: -1px;
  }
  li.service-type .center-box small {
    margin-top: 1px;
  }
}
li {
  background: white;
}
li:first-child .inner::before {
  display: none;
}
li a {
  height: 80px;
  padding-left: 12px;
  display: block;
}
li .inner {
  border: none;
  position: relative;
  padding: 19px 0;
}
li .inner::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px 0 0 0;
  box-sizing: border-box;
  border-radius: 0;
}
li .icon {
  position: absolute;
  top: 11px;
  left: 0;
  display: inline-block;
  height: 59px;
}
li .center-box {
  margin-left: 74px;
}
li .center-box p {
  color: #222;
  font-size: 14px;
}
li .center-box small {
  color: #c5c5c5;
  font-size: 12px;
  display: block;
  margin-top: 10px;
  margin-right: 28px;
  letter-spacing: -0.5px;
}
li .arrow {
  display: inline-block;
  height: 11px;
  position: absolute;
  right: 15px;
  top: 35px;
}
li .recommended-mark {
  position: absolute;
  background: #EF4E4E;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 3px;
  color: white;
  font-size: 12px;
  top: 10px;
  left: 44px;
  display: inline-block;
  line-height: 20px;
}