#chat-page {
  padding: 0;
}
#chat-page .chat-content-box.active {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0 15px 70px 15px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
#safe-notification-btn {
  padding: 0;
  position: fixed;
  bottom: 60px;
  right: 15px;
  display: none;
}
#safe-notification-btn img {
  width: 35px;
  height: 33px;
}
#safe-notice-dialog .info {
  height: auto;
  padding-bottom: 13px;
}
#safe-notice-dialog .info .icon {
  vertical-align: top;
}
#safe-notice-dialog footer .accept-btn {
  margin-top: 0;
}
#messages-list.active {
  padding: 0 15px 70px 15px;
}
#messages-list .loading-mark {
  text-align: center;
  color: #787878;
  padding-top: 10px;
}
#messages-list.has-from-item {
  padding-top: 70px;
}
#messages-list.has-follow-hint {
  padding-top: 44px;
}
#messages-list.has-from-item.has-follow-hint {
  padding-top: 114px;
}
#top-float-box {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
}
#from-item-box {
  height: 70px;
  background: white;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.018);
}
#from-item-box .photo-wrapper {
  width: 70px;
  height: 50px;
  margin-top: 10px;
  margin-left: 15px;
  overflow: hidden;
  float: left;
}
#from-item-box .photo-wrapper img {
  width: 100%;
}
#from-item-box .center-box {
  display: inline-block;
  margin-left: 11px;
  margin-top: 12px;
}
#from-item-box .center-box .title {
  color: #787878;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
#from-item-box .center-box .price {
  color: #3bc89c;
  margin-top: 5px;
  font-size: 14px;
  display: block;
}
#from-item-box #send-item-ref-btn {
  position: absolute;
  right: 15px;
  top: 22px;
}
.message-li {
  margin-top: 25px;
  position: relative;
}
.message-li::after {
  display: table;
  content: '';
  clear: both;
}
.message-li .avatar {
  width: 42px;
  height: 42px;
  border-radius: 42px;
  border: 1px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
}
.message-li .content {
  line-height: 16px;
  position: relative;
  max-width: 198px;
  margin-top: 1px;
  min-height: 40px;
  border-radius: 15px;
  padding: 12px 19px;
  font-size: 12px;
  display: inline-block;
}
.message-li .content a {
  display: block;
}
.message-li .content * {
  z-index: 3;
  position: relative;
}
.message-li .content .content-text {
  text-align: left;
  word-break: break-all;
}
.message-li .content.unread::after {
  display: inline-block;
  content: "未读";
  top: 50%;
  position: absolute;
  margin-right: 5px;
  font-size: 12px;
  color: #d0d0d0;
  width: 40px;
  left: -50px;
  text-align: right;
  margin-top: -7px;
}
.message-li .msg-time-wrapper,
.message-li .msg-hint-wrapper {
  margin-bottom: 15px;
  margin-top: -10px;
  text-align: center;
}
.message-li .msg-time-wrapper .msg-time,
.message-li .msg-hint-wrapper .msg-time {
  font-size: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: white;
  margin: auto;
  padding: 3px 16px;
  display: inline-block;
  line-height: 9px;
}
.message-li .msg-time-wrapper .hint,
.message-li .msg-hint-wrapper .hint {
  font-size: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: white;
  margin: auto;
  padding: 3px 16px;
  display: inline-block;
  line-height: 9px;
}
.message-li.self {
  text-align: right;
}
.message-li.self .avatar {
  float: right;
}
.message-li.self .content {
  margin-right: 12px;
  color: #63b35b;
  background: #b4f1ae;
}
.message-li.self .content a {
  color: #63b35b;
}
.message-li.self .content::before,
.message-li.self .content hr {
  border-color: #9EE398 !important;
}
.message-li.others {
  text-align: left;
}
.message-li.others .avatar {
  float: left;
}
.message-li.others .content {
  border: none;
  position: relative;
  margin-left: 12px;
  color: #999;
  background: white;
}
.message-li.others .content::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  border-radius: 30px;
}
.message-li.others .content a {
  color: #999;
}
.message-li.item-ref .content {
  width: 180px;
  border: none;
  position: relative;
  border-radius: 8px;
  padding: 0px;
  text-align: center;
}
.message-li.item-ref .content::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  border-radius: 16px;
}
.message-li.item-ref .content a {
  border: 1px solid transparent;
}
.message-li.item-ref .content header {
  margin: 7px 10px 8px 10px;
  font-size: 14px;
}
.message-li.item-ref .content .cover-wrapper {
  text-align: center;
  margin: auto;
  width: 100%;
  height: 100px;
  overflow: hidden;
}
.message-li.item-ref .content .cover-wrapper img {
  width: 100%;
}
.message-li.item-ref .content .center-box {
  padding: 0 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.message-li.item-ref .content .center-box::after {
  display: table;
  content: '';
  clear: both;
}
.message-li.item-ref .content .price {
  font-size: 16px;
  display: inline-block;
  float: right;
  position: relative;
}
.message-li.item-ref .content .price.special {
  font-size: 14px;
}
.message-li.item-ref .content .price::before {
  content: "￥";
  display: inline;
  position: absolute;
  top: 0;
  left: -13px;
}
.message-li.item-ref .content .title {
  display: inline-block;
  font-size: 12px;
  max-height: 32px;
  overflow: hidden;
  margin-bottom: 5px;
  float: left;
  text-align: left;
}
.message-li.img .content {
  padding: 0;
  position: relative;
  max-width: 125px;
  min-width: 40px;
  min-height: 40px;
  height: auto;
  border-radius: 2px;
  overflow: hidden;
}
.message-li.img .content::before {
  display: none;
}
.message-li.img .img {
  width: 100%;
  display: block;
  border-radius: 2px;
}
.message-li.img .loading {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.message-li.img .loading .center-part {
  color: rgba(255, 255, 255, 0.85);
  margin-top: -8px;
  position: absolute;
  width: 100%;
  top: 50%;
  line-height: 16px;
  margin-top: -10px;
}
.message-li.img .loading .center-part .loading-mark {
  margin-bottom: 20px;
  padding-top: 0;
}
.message-li.img .loading.downloading {
  background-color: transparent;
}
.message-li.img .loading.hide {
  display: none;
}
.message-li.bargain-request .content,
.message-li.shake-buy-request .content {
  border: none;
  position: relative;
  border-radius: 3px;
  padding: 0;
}
.message-li.bargain-request .content::before,
.message-li.shake-buy-request .content::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  border-radius: 6px;
}
.message-li.bargain-request .price-tag,
.message-li.shake-buy-request .price-tag {
  color: #FC6767;
}
.message-li.bargain-request .content-text,
.message-li.shake-buy-request .content-text {
  padding: 10px 14px;
}
.message-li.bargain-request .footer,
.message-li.shake-buy-request .footer {
  text-align: center;
  height: 43px;
  line-height: 43px;
  padding: 0;
}
.message-li.bargain-request .footer.seller.requested button,
.message-li.shake-buy-request .footer.seller.requested button {
  width: 50%;
  height: 100%;
  float: left;
  color: #63B35B;
  font-size: 12px;
}
.message-li.bargain-request .footer.seller.requested button:first-child,
.message-li.shake-buy-request .footer.seller.requested button:first-child {
  border: none;
  position: relative;
}
.message-li.bargain-request .footer.seller.requested button:first-child::before,
.message-li.shake-buy-request .footer.seller.requested button:first-child::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 0 1px 0 0;
  box-sizing: border-box;
  border-radius: 0;
}
.hint-li {
  margin: 25px 0;
  text-align: center;
}
.hint-li .text {
  display: inline-block;
  font-size: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: white;
  margin: auto;
  padding: 3px 16px;
}
#float-input-layer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 100;
  display: none;
}
#float-input-layer .btn-box {
  width: 100%;
  height: 40px;
  background-color: white;
  vertical-align: bottom;
  font-size: 0px;
}
#float-input-layer .btn-box #float-send-img-btn {
  width: 28px;
  height: 28px;
  border-radius: 28px;
  background: #222;
  margin-left: 8px;
  margin-top: 10px;
}
#float-input-layer .btn-box #float-send-img-btn .icon {
  height: 12px;
}
#float-input-layer .btn-box #float-send-btn {
  width: 50px;
  height: 28px;
  padding: 0;
  font-size: 14px;
  float: right;
  margin-right: 8px;
  margin-top: 10px;
}
#float-input-layer .input-wrapper {
  width: 100%;
  background-color: white;
  padding-top: 5px;
}
#float-input-layer .input-wrapper textarea {
  width: 100%;
  font-size: 14px;
  text-indent: 5px;
}
#chat-footer .input-wrapper {
  z-index: 3;
  margin-left: 54px;
  margin-right: 68px;
  position: relative;
}
#chat-footer .input-wrapper #msg-input {
  border-radius: 40px;
  opacity: 0.96;
}
#chat-footer .input-wrapper input {
  margin-top: 7px;
}
#chat-footer #send-img-btn {
  border-radius: 35px;
  width: 35px;
  height: 35px;
  background: #222;
  position: absolute;
  left: 10px;
  top: 7px;
}
#chat-footer #send-img-btn .icon {
  height: 20px;
}
#chat-footer #send-img-btn:hover {
  background: #333;
}
#chat-footer #send-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  height: 33px;
}
#chat-with-secretary-footer {
  height: auto;
  padding: 10px;
}
#chat-with-secretary-footer #feedback-btn .icon {
  height: 18px;
  position: absolute;
  left: 25px;
  top: 20px;
}
.secretary-msg-li .content:hover {
  background: #f9f9f9;
}
.secretary-msg-li .link {
  display: none;
  white-space: nowrap;
  color: #8ed8ff;
}