#me-page {
  padding-left: 0;
  padding-right: 0;
}
#withdraw-box {
  height: 51px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.018);
}
#withdraw-box::after {
  display: table;
  content: '';
  clear: both;
}
#withdraw-box button {
  z-index: 3;
  position: relative;
  width: 50%;
  float: left;
  background: transparent;
  height: 51px;
  color: #222;
}
#withdraw-box button span {
  color: #3bc89c;
  display: inline-block;
  margin-left: 5px;
}
#withdraw-box #withdraw-btn {
  border: none;
  position: relative;
}
#withdraw-box #withdraw-btn::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 0 1px 0 0;
  box-sizing: border-box;
  border-radius: 0;
}
.link-list {
  margin-top: 20px;
  text-align: left;
}
.link-list li {
  border: none;
  position: relative;
}
.link-list li::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 0 0 1px 0;
  box-sizing: border-box;
  border-radius: 0;
}
.link-list li a {
  z-index: 3;
  position: relative;
}
.link-list li span {
  color: #999;
}
.link-list li small {
  display: inline-block;
  margin-left: 8px;
  color: #b0b0b0;
}
.link-list li:last-child::before {
  display: none;
}