.page {
  padding-left: 0;
  padding-right: 0;
}
#main-list li {
  background: white;
  position: relative;
  margin-bottom: 10px;
}
#main-list li .info-box {
  padding: 15px;
  padding-bottom: 40px;
  position: relative;
  min-height: 50px;
  box-sizing: content-box;
}
#main-list li .left-box {
  position: absolute;
  top: 15px;
  left: 15px;
}
#main-list li .left-box .cover-wrapper {
  position: relative;
  width: 70px;
  height: 50px;
  overflow: hidden;
}
#main-list li .left-box .cover-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#main-list li .left-box .view-count {
  font-size: 12px;
  margin-top: 14px;
}
#main-list li .left-box .target-user-box {
  margin-top: 10px;
}
#main-list li .left-box .target-user-box .avatar.avatar-small {
  width: 22px;
  height: 22px;
}
#main-list li .left-box .target-user-box * {
  float: left;
}
#main-list li .left-box .target-user-box .nickname {
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  margin-left: 3px;
}
#main-list li .center-box {
  margin-left: 85px;
  margin-right: 70px;
}
#main-list li .center-box .title {
  max-height: 32px;
  min-height: 26px;
  overflow: hidden;
  font-size: 14px;
  color: #222;
}
#main-list li .center-box .price {
  font-size: 14px;
  margin-top: 4px;
  margin-left: -1px;
  color: #b0b0b0;
  position: relative;
  margin-left: 12px;
}
#main-list li .center-box .price::before {
  content: "￥";
  position: absolute;
  left: -14px;
}
#main-list li .right-box {
  position: absolute;
  right: 13px;
  top: 0;
  text-align: right;
  height: 100%;
  width: 75px;
  padding-top: 15px;
}
#main-list li .right-box .status {
  font-size: 13px;
  margin-right: 1px;
}
#main-list li .right-box .status.blue {
  color: #8ed8ff;
}
#main-list li .right-box .status.green {
  color: #a2e385;
}
#main-list li .right-box .status.orange {
  color: #fdc592;
}
#main-list li .right-box .status.red {
  color: #fc6767;
}
#main-list li .right-box .created_at {
  position: absolute;
  font-size: 10px;
  right: 2px;
  top: 48px;
}
#main-list li .right-box .circle-label {
  position: absolute;
  margin-right: 0;
  padding: 0px 12px 0px 20px;
  color: #999;
  right: 0px;
  bottom: 11px;
  white-space: nowrap;
  height: 18px;
  line-height: 18px;
}
#main-list li .right-box .circle-label .icon {
  display: inline-block;
  position: absolute;
  height: 8px;
  left: 11px;
  top: 4px;
}
#main-list li .right-box .circle-label:hover {
  background: #efefef;
}
#main-list li .chat-with-official-agent-btn {
  color: #999;
  display: inline-block;
  background: white;
  position: absolute;
  top: 73px;
  left: 0;
  font-size: 12px;
  padding: 5px 8px;
  padding-left: 15px;
  border-left: none;
}
#main-list li .chat-with-official-agent-btn .icon {
  height: 12px;
  float: left;
  display: inline-block;
  margin-right: 4px;
}
#main-list li .chat-with-official-agent-btn::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  border-radius: 0 40px 40px 0;
  border-left: none;
}
#main-list li .reject-reason {
  display: block;
  padding: 2px 15px;
  font-size: 12px;
  margin-bottom: 8px;
}
#main-list li .item-amount {
  position: absolute;
  color: #9C9C9C;
  font-size: 12px;
  left: 101px;
  bottom: 12px;
}
#main-list li footer {
  padding: 0px 15px;
}
#main-list li footer::after {
  display: table;
  content: '';
  clear: both;
}
#main-list li footer .hint {
  display: inline-block;
  line-height: 50px;
  font-size: 12px;
  color: #b0b0b0;
}
#main-list li footer button {
  margin: 9px 0;
  margin-left: 5px;
  float: right;
  width: 78px;
}
#main-list li footer button.highlight {
  border: none;
  position: relative;
  color: #3bc89c;
}
#main-list li footer button.highlight::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #3bc89c;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  border-radius: 80px;
}
#mark-ship-dialog .label {
  text-align: left;
}
#footer {
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);
  background: none;
  opacity: 1;
  position: fixed;
  bottom: -1px;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 47px;
}
#footer .blur-mask {
  background: white;
  opacity: 0.96;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}
#footer .btn-footer {
  opacity: 0.96;
}
#footer.use-blur {
  -webkit-backdrop-filter: blur(8px);
}
#footer.use-blur .blur-mask,
#footer.use-blur .btn-footer,
#footer.use-blur .btn-block {
  opacity: .9;
}