#pay-order-dialog .body #qrcode {
  margin: 10px 20px;
}
#pay-order-dialog .body #qrcode img {
  width: 95%;
  margin: auto;
}
#pay-order-dialog .body .hint {
  font-size: 12px;
  margin: 10px;
}
#pay-order-dialog .body .qr-alert {
  font-size: 12px;
  margin: 10px;
  color: #c83b3b;
}
#order-page {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 110px;
}
.right {
  float: right;
}
.darker {
  color: #787878;
}
.fade {
  color: #b0b0b0 !important;
}
.cell .inner {
  color: #787878;
}
#status-box .status.blue {
  color: #8ed8ff;
}
#status-box .status.green {
  color: #a2e385;
}
#status-box .status.orange {
  color: #fdc592;
}
#status-box .status.red {
  color: #fc6767;
}
#circle-box .circle-name {
  margin-right: 20px;
  font-size: 14px;
}
#address-box {
  padding: 15px;
  font-size: 12px;
}
#address-box .address {
  margin-top: 8px;
  font-size: 12px;
}
.box {
  margin-top: 10px;
  background: white;
}
#item-box {
  position: relative;
  background: white;
  margin-top: 10px;
  padding: 10px 15px;
}
#item-box .cover-wrapper {
  width: 70px;
  height: 50px;
  margin-top: 1px;
  overflow: hidden;
  background: #f0f0f0;
  display: inline-block;
}
#item-box .cover-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#item-box .right-box {
  position: absolute;
  right: 14px;
  top: 12px;
  text-align: right;
  font-size: 12px;
}
#item-box .right-box .price {
  color: #3bc89c;
  max-width: 52px;
  position: relative;
  display: inline-block;
}
#item-box .right-box .price::before {
  content: "￥";
  position: absolute;
  left: -14px;
}
#item-box .right-box .postage {
  color: #999;
  margin-top: 17px;
}
#item-box .maingreen {
  color: #3bc89c;
}
#item-box .total-price {
  margin-top: 10px;
  text-align: right;
  font-size: 14px;
}
#item-box .info-box {
  position: absolute;
  left: 100px;
  top: 10px;
  margin-right: 70px;
}
#item-box .info-box .title {
  color: #222;
  height: 34px;
  overflow: hidden;
  font-size: 14px;
  line-height: 16px;
}
#item-box .info-box .pay-method {
  margin-top: 1px;
  font-size: 12px;
  color: #999;
}
#express-box .ship-code {
  float: right;
  margin-right: 20px;
  color: #999;
}
.target-box {
  margin-top: 10px;
  background: white;
}
.target-box .info-box {
  padding: 15px;
  position: relative;
}
.target-box .offline-trade-info-box {
  padding: 0 15px;
  padding-bottom: 15px;
  font-size: 12px;
}
.target-box .offline-trade-info-box p b {
  color: #787878;
}
.target-box .offline-trade-info-box p span {
  float: right;
}
.target-box .offline-trade-info-box p:first-child {
  margin-bottom: 6px;
}
.target-box .user-link {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 5px;
  padding-right: 15px;
}
.target-box .user-link .nickname {
  vertical-align: middle;
}
.target-box .user-link .avatar-small {
  vertical-align: middle;
  margin-left: 5px;
}
.target-box .btns-wrapper {
  border: none;
  position: relative;
  padding-top: 1px;
}
.target-box .btns-wrapper::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px 0 0 0;
  box-sizing: border-box;
  border-radius: 0;
}
.target-box .btns-wrapper::after {
  display: table;
  content: '';
  clear: both;
}
.target-box .btns-wrapper .btn {
  z-index: 3;
  position: relative;
  text-align: center;
  line-height: 50px;
  color: #787878;
  width: 50%;
  float: left;
  padding: 0;
}
.target-box .btns-wrapper .btn .icon {
  height: 14px;
  margin-right: 4px;
  position: relative;
  top: 2px;
}
.target-box .btns-wrapper .btn:first-child {
  padding-right: 1px;
  border: none;
  position: relative;
}
.target-box .btns-wrapper .btn:first-child::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 0 1px 0 0;
  box-sizing: border-box;
  border-radius: 0;
}
.target-box .btns-wrapper .btn:hover {
  background: #f9f9f9;
}
#trading-info-box {
  padding: 10px 15px;
}
#trading-info-box p {
  color: #787878;
  line-height: 30px;
}
#trading-info-box .right {
  color: #999;
}
#trading-info-box .align-right {
  text-align: right;
}
#mark-ship-dialog .label {
  text-align: left;
}
#chat-with-official-agent {
  position: fixed;
  display: block;
  bottom: 70px;
  right: 0;
  line-height: 18px;
  font-size: 12px;
  color: white;
  background-color: #3bc89c;
  padding: 5px 10px;
  border-radius: 30px 0 0 30px;
}
#chat-with-official-agent .icon {
  height: 18px;
  float: left;
  margin-right: 5px;
}
#footer {
  padding: 10px 15px;
}
#footer .countdown {
  margin-right: 50px;
  font-size: 10px;
  color: #222;
  line-height: 14px;
}
#footer .countdown .maingreen {
  color: #3bc89c;
}
#footer .right-box {
  position: absolute;
  right: 15px;
  top: 7px;
}
#footer .btn {
  width: 92px;
  text-align: center;
  margin-left: 5px;
  padding: 9px 13px;
}
