#search-result-page {
  padding-left: 0;
  padding-right: 0;
}
#header-part {
  background: white;
  padding: 10px 15px;
  border: none;
  position: relative;
}
#header-part::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 0 0 1px 0;
  box-sizing: border-box;
  border-radius: 0;
}
#header-part .circle-info-box {
  padding: 1px;
}
#header-part .circle-info-box::after {
  display: table;
  content: '';
  clear: both;
}
#header-part .big-avatar-wrapper {
  border: none;
  position: relative;
  display: inline-block;
  width: 55px;
  height: 55px;
  float: left;
  border-radius: 55px;
  overflow: hidden;
}
#header-part .big-avatar-wrapper::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  border-radius: 110px;
}
#header-part .big-avatar-wrapper .circle-icon {
  width: 100%;
  height: 100%;
}
#header-part .circle-name {
  color: #222;
  margin-left: 70px;
  margin-top: 20px;
  font-size: 14px;
}
#header-part #search-wrapper {
  z-index: 3;
  position: relative;
  margin-top: 10px;
}
#header-part #search-wrapper .icon {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 16px;
}
#header-part #search-wrapper input {
  background: #f0f0f0;
  border: none;
  display: block;
  border-radius: 40px;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  padding-left: 30px;
  height: 30px;
  color: #999;
}
#header-part #search-wrapper #search-btn {
  right: 0;
  top: 0;
  position: absolute;
  padding: 0 15px;
  height: 30px;
  border-radius: 0 40px 40px 0;
  color: white;
  background-color: #3bc89c;
}
#search-reminder-box {
  padding: 0 15px;
  font-size: 13px;
  line-height: 35px;
}
#search-reminder-box::after {
  display: table;
  content: '';
  clear: both;
}
#search-reminder-box .btn {
  float: right;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px 5px;
  font-size: 12px;
  background: #fdae64;
}
.empty-mark {
  padding: 10px 0;
  margin: 10px 0;
  background: white;
}
#bottom-part {
  padding: 0 10px;
}
#no-more {
  color: #d0d0d0;
  margin: 20px 0;
}
#official-mp-qr-dialog .follow-keyword-hint {
  margin-bottom: 5px;
  display: block;
}
