.page {
  padding-left: 42px;
  padding-right: 42px;
  text-align: center;
}
#title {
  font-size: 18px;
  font-weight: normal;
  color: #787878;
  margin: 21px 0;
}
#hint-text {
  font-size: 12px;
  margin-top: 11px;
  color: #b0b0b0;
}
#img-box {
  margin-top: 51px;
  text-align: center;
}
#img-box img {
  height: 90px;
}
#content-wrapper {
  padding: 0 5px;
}
.footer-btn {
  margin-top: 51px;
  display: block;
}
.footer-btn .icon {
  height: 16px;
  position: relative;
  top: 3px;
  margin-right: 5px;
}
#offline-trade-success-page #seller-info-box {
  width: 270px;
  background-color: white;
  box-shadow: 0 3px 4px #CFCFCF;
  margin: auto;
  position: relative;
  left: 50%;
  margin-left: -135px;
}
#offline-trade-success-page .content {
  width: 100%;
  height: 100%;
  padding: 10px 16px 10px 16px;
}
#offline-trade-success-page .row {
  min-height: 23px;
  border-bottom: 1px dashed #E8E8E8;
  margin-top: 8px;
  text-align: left;
}
#offline-trade-success-page #seller-phone {
  margin-top: 0;
}
#offline-trade-success-page #warning {
  border-bottom: none;
}
@media (max-width: 321px) {
  #offline-trade-success-page #title {
    font-size: 17px;
  }
}
#post-item-success-page {
  padding: 0 10px;
  padding-bottom: 50px;
}
#post-item-success-page #item-info-box {
  margin-top: 50px;
  text-align: center;
  position: relative;
}
#post-item-success-page #item-info-box #share-img {
  display: block;
  width: 260px;
  height: 386px;
  margin: auto;
  box-shadow: 0 2px 8px #DCDCDC;
}
#post-item-success-page #item-info-box #share-img-cover {
  position: absolute;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#post-item-success-page .hint-text {
  font-size: 12px;
  margin: auto;
  margin-top: 13px;
  line-height: 17px;
  text-align: center;
  padding: 0 5px;
}
#post-item-success-page #share-btn {
  width: 136px;
  padding: 0;
  margin-top: 20px;
}
#post-item-success-page #share-btn img {
  width: 100%;
}
#post-item-success-page #share-cover {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#post-item-success-page #share-sign {
  position: fixed;
  width: 107px;
  top: 6px;
  right: 6px;
}
#post-item-success-page #share-sign img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
#post-item-success-page #ok-btn {
  display: block;
  color: #3bc89c;
  font-size: 14px;
  margin-top: 64px;
}
#post-item-success-page .footer-btn {
  margin-top: 37px;
}
#post-item-success-page #share-img-box {
  display: none;
}
