.maingreen {
  color: #3bc89c;
}
#buy-item-page {
  padding-left: 0;
  padding-right: 0;
}
#address-box {
  background: white;
  padding: 17px 15px;
  padding-left: 37px;
  padding-bottom: 22px;
  position: relative;
  overflow: hidden;
}
#address-box:hover {
  background-color: #f9f9f9;
}
#address-box .icon {
  height: 22px;
  position: absolute;
  left: 9px;
  margin-top: -13.5px;
  top: 50%;
}
#address-box #address-info {
  border-left: 1px solid #777;
  padding-left: 6px;
  color: #333;
}
#address-box #address-info .receiver {
  margin-right: 10px;
}
#address-box #address-info .address {
  margin-top: 5px;
  margin-right: 18px;
  word-break: break-all;
}
#address-box #select-address-hint {
  text-align: center;
  color: #69BFEC;
  padding-right: 17px;
}
#address-box #select-address-hint .arrow {
  display: inline-block;
  height: 11px;
  position: absolute;
  right: 15px;
  top: 19px;
}
#address-box .hide {
  display: none;
}
#address-box .arrow {
  display: inline-block;
  height: 12px;
  position: absolute;
  top: 50%;
  margin-top: -8.5px;
  right: 15px;
}
#address-box .footer-border {
  height: 5px;
  width: 200%;
  position: absolute;
  left: -15px;
  bottom: 0;
  background-color: white;
  background-image: url("http://assets.quanzijishi.com/assets/imgs/bg-buy-address-border-bd6ea9f84d.png");
  background-repeat: repeat-x;
  background-size: auto 5px;
}
.label {
  margin-left: 15px;
  font-size: 12px;
  line-height: 30px;
}
#pay-with-wx-switch {
  margin-top: 0;
  margin-bottom: 1px;
}
#pay-with-wx-switch .inner {
  padding-left: 36px;
}
#offline-trade-switch .inner {
  padding-left: 36px;
}
#item-box {
  background: white;
  margin-top: 10px;
  padding: 6px 14px;
  border: none;
  position: relative;
}
#item-box::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 0 0 1px 0;
  box-sizing: border-box;
  border-radius: 0;
}
#item-box .cover-wrapper {
  z-index: 3;
  position: relative;
  width: 90px;
  height: 90px;
  margin-top: 1px;
  overflow: hidden;
  background: #f0f0f0;
  display: inline-block;
}
#item-box .cover-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#item-box .info-box {
  z-index: 3;
  position: relative;
  position: absolute;
  left: 116px;
  top: 9px;
  margin-right: 70px;
}
#item-box .info-box .title {
  color: #787878;
  max-height: 34px;
  overflow: hidden;
  font-size: 14px;
  line-height: 17px;
}
#item-box .footer-line {
  z-index: 3;
  position: relative;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10px;
  padding-left: 117px;
  padding-right: 10px;
}
#item-box .footer-line .seller {
  font-size: 12px;
  color: #999;
}
#item-box .footer-line .price {
  float: right;
  font-size: 16px;
  color: #3bc89c;
  max-width: 60px;
}
#item-box .footer-line .price.special-price {
  font-size: 12px;
}
#item-box .footer-line .price::before {
  content: "￥";
  position: absolute;
  left: -14px;
}
.cell .inner {
  z-index: 3;
  position: relative;
  color: #787878;
}
.cell input {
  text-align: right;
  line-height: 50px;
  color: #222;
  width: 100%;
  padding-left: 58px;
  padding-right: 10px;
  position: absolute;
  background: transparent;
  left: 0;
  top: 0;
}
.cell:hover {
  background: white;
}
.border-cell {
  border: none;
  height: 50px;
  background: white;
  position: relative;
}
.border-cell::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 0 0 1px 0;
  box-sizing: border-box;
  border-radius: 0;
}
.border-cell .inner {
  padding: 0 15px 0 45px;
  width: 100%;
  line-height: 50px;
  display: inline-block;
}
.border-cell .inner.no-icon {
  padding-left: 15px;
}
.border-cell:hover {
  background: #f9f9f9;
}
.border-cell.no-hover:hover {
  background: white;
}
.border-cell .icon {
  position: absolute;
  top: 17px;
  height: 16px;
  left: 15px;
  display: inline-block;
}
.border-cell .arrow {
  display: inline-block;
  height: 11px;
  position: absolute;
  right: 15px;
  top: 19px;
}
.border-cell .checkbox {
  position: absolute;
  right: 15px;
  top: 0;
  height: 50px;
}
.border-cell .inner {
  z-index: 3;
  position: relative;
  color: #787878;
}
.border-cell input {
  text-align: right;
  line-height: 50px;
  color: #222;
  width: 100%;
  padding-left: 58px;
  padding-right: 10px;
  position: absolute;
  background: transparent;
  left: 0;
  top: 0;
}
.border-cell:hover {
  background: white;
}
.margin-cell {
  margin-top: 10px;
  height: 50px;
  background: white;
  position: relative;
}
.margin-cell .inner {
  padding: 0 15px 0 45px;
  width: 100%;
  line-height: 50px;
  display: inline-block;
}
.margin-cell .inner.no-icon {
  padding-left: 15px;
}
.margin-cell:hover {
  background: #f9f9f9;
}
.margin-cell.no-hover:hover {
  background: white;
}
.margin-cell .icon {
  position: absolute;
  top: 17px;
  height: 16px;
  left: 15px;
  display: inline-block;
}
.margin-cell .arrow {
  display: inline-block;
  height: 11px;
  position: absolute;
  right: 15px;
  top: 19px;
}
.margin-cell .checkbox {
  position: absolute;
  right: 15px;
  top: 0;
  height: 50px;
}
.margin-cell .inner {
  z-index: 3;
  position: relative;
  color: #787878;
}
.margin-cell input {
  text-align: right;
  line-height: 50px;
  color: #222;
  width: 100%;
  padding-left: 58px;
  padding-right: 10px;
  position: absolute;
  background: transparent;
  left: 0;
  top: 0;
}
.margin-cell:hover {
  background: white;
}
li {
  border: none;
  position: relative;
  padding: 10px;
}
li::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px 0 0 0;
  box-sizing: border-box;
  border-radius: 0;
}
.right {
  z-index: 3;
  position: relative;
  float: right;
}
#postage {
  float: right;
  margin-left: 30px;
  font-size: 12px;
}
#delivery-type-cell .switch-box {
  right: 0;
  top: 0;
  position: absolute;
  display: inline-block;
  height: 100%;
  margin-right: 15px;
}
#delivery-type-cell .switch {
  position: relative;
  display: inline-block;
}
#delivery-type-cell .switch-label {
  float: right;
  margin-left: 34px;
  font-size: 12px;
}
#delivery-type-cell .checkbox {
  right: auto;
  left: 10px;
}
#total-price-cell {
  margin-top: 0;
}
#verify-dialog .hint {
  font-size: 13px;
  text-align: left;
  margin-left: 5px;
}
#verify-dialog .hint .phone-number {
  display: inline-block;
  margin-left: 5px;
  color: #787878;
}
#verify-dialog input.verify-code {
  width: 150px;
  padding: 5px 8px;
  margin: 10px 4px;
}
#verify-dialog .resend-btn {
  border: none;
  position: relative;
  border-radius: 4px;
  height: 35px;
  width: 115px;
}
#verify-dialog .resend-btn::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  border-radius: 8px;
}
#verify-dialog .resend-btn.disabled {
  background: #E6E6E6;
  color: #666 !important;
}
#new-address-box .body {
  padding: 10px;
  padding-bottom: 15px;
  padding-bottom: 5px;
}
#new-address-box .body .label {
  text-align: left;
  margin-left: 0;
}
#new-address-box .body .input {
  margin-top: 0;
}
#new-address-box footer::after {
  display: table;
  content: '';
  clear: both;
}
#new-address-box footer button {
  float: left;
  margin-top: 10px;
}
#new-address-box footer .accept-btn {
  width: 65%;
  margin-right: 4%;
}
#new-address-box footer .cancel-btn {
  width: 30%;
}
#footer {
  padding: 0;
  text-align: right;
  color: #787878;
}
#footer .right-box {
  display: inline-block;
  height: 100%;
}
#footer #submit-btn {
  z-index: 3;
  position: relative;
  height: 100%;
  border-radius: 0;
  margin-left: 15px;
  width: 110px;
}