#withdraw-page {
  text-align: center;
}
#balance-box {
  margin: auto;
  height: 208px;
  width: 208px;
  position: relative;
  margin-top: 40px;
  padding-top: 1px;
}
#balance-box .bg {
  height: 208px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
#balance-box .info-box {
  position: relative;
  z-index: 2;
}
#balance-box .balance {
  color: white;
}
#balance-box p {
  font-size: 40px;
  margin-top: 65px;
}
#balance-box small {
  margin-top: 10px;
  display: block;
  color: rgba(255, 255, 255, 0.3);
}
#hint {
  margin: auto;
  margin-top: 39px;
  width: 250px;
  text-align: center;
  padding-left: 0;
}
#hint li {
  text-align: left;
  list-style: decimal;
}
#hint li + li {
  margin-top: 6px;
}
#hint a {
  color: #3bc89c;
}
#summary-box {
  background: white;
  margin-top: 20px;
  margin-bottom: 23px;
  height: 85px;
}
#summary-box::after {
  display: table;
  content: '';
  clear: both;
}
#summary-box div {
  width: 50%;
  float: left;
  height: 100%;
}
#summary-box div:first-child {
  border: none;
  position: relative;
}
#summary-box div:first-child::before {
  z-index: 2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 200%;
  height: 200%;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 0 1px 0 0;
  box-sizing: border-box;
  border-radius: 0;
}
#summary-box div small {
  font-size: 12px;
  margin-top: 16px;
  display: block;
  margin-bottom: 7px;
}
#summary-box div p {
  color: #3bc89c;
  font-size: 24px;
}
