body{
    background: #E7E5E5;
}
.header{
    background-image: url("../../../images/background.png");
    padding: 15px 0 15px 0;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    border: #FFF 4px solid
}

.avatar a {
    text-decoration:none;
    display: block;
    padding-top: 67px;
    background: url(http://www.yangqq.com/skin/2014/images/photos2.jpg) no-repeat;
    background-size: 100px 100px;
}
.avatar a span {
    display: block;
    padding-top: 3px;
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background: rgba(0, 0, 0, .5);
}

.credit-bar{
    background: #FFFFFF;
}
.credit-bar .score{
    border-right: 1px solid #ECECEE;

}
.credit-bar div{
    line-height: 45px;
}
.credit-bar .unit{
    font-size: 10px;
}
/*列表*/
.record-list {
    padding: 0px 5px;

}
.record-list .item{
    margin-top: 10px;
    list-style-type:none;
    border-radius: 10px;

}
.record-list .item:nth-child(1){
    background: #B0C8F5;
}
.record-list .item:nth-child(2){
    background: #F5A623;
}
.record-list .item:nth-child(3){
    background: #F5DBB0;
}
.record-list .item:nth-child(4){
    background: #F4FAEC;
}
.record-list .item{
    background: #F4FAEC;
}
.head-image img{
    margin-left: 5px;
    width: 40px;
    height: 40px;
    border: #FFF 2px solid
}
.list-group-item .text-info span{
    font-size: 12px;
    color: #4A4A4A;
}
.list-group-item .score,.list-group-item .rank{
    line-height: 40px;
}
.container-fluid .buttons{
    padding: 30px 30px 10px 30px;

}
.container-fluid .buttons button{
    color: #FFFFFF;
    font-size: 12px;
}
.container-fluid .buttons .check-button{
    width: 70%;
    border: none;
    background: rgba(245,219,176,0.68);
}
.container-fluid .buttons .load-more{
    width: 130%;
    float: right;
    border: none;
    background: rgba(73,143,226,0.61);
}