.chuchuang_container{
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
  }
    .chuchuang_bg {
      position: absolute;
      width: 100%;
      margin: 0 auto;
      z-index: -1;
      background: url(../img/bg.png) repeat;
      background-size: 100% 100%;
    }
    .m24_title{
      font-size: 24px;
      text-align: left;
      line-height: 33px;
      padding: 0px 0px 6px 0px;
      margin-left: 8%;
      margin-top: 15%;
      position: absolute;
      color: #f9f9a5;
      text-shadow:0 1px #000;
    }
    .m24_meta {
      width: 100%;
      height: 20px;
      position: absolute;
      margin-top: 25%;
      margin-left: 8%;
      z-index: 999;
    }
   .m24_meta span{
      float: left;
      margin-right: 10px;
      font-size: 16px;
      line-height: 30px;
      color: #fefeca;
      text-shadow:0 1px #000;
    }
    .m24_name{
        text-decoration: none;
        color:#fefeca;
    }
    .m24_music{
      width: 100%;
    }
    .m24_music .music_bg {
        width: 86%;
        height: auto;
        position: absolute;
        left: 7%;
        margin-top: 35%;
      }
    .music{
      width: 100%;
      height: 40px;
      position: absolute;
      left: 17%;
      margin-top: 35%;
    }
    .music i {
        float: left;
        height:70%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        /*margin: 8px 10px 0 15px; */
    }
    .music i[play=on] {
        background-image: url("../img/on.png"); }
    .music i[play=stop] {
        background-image: url("../img/stop.png"); }
    .music span {
      font-size: 0.64rem;
      width: calc(100% - 70px);
      width: -webkit-calc(100% - 70px);
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; 
      float: left;
      margin-left: 10px;
      color: #591e00;
      /*font-weight: bold;*/
    }

  .cloud{
      width: 100%;
      height: auto;
      position: absolute;
      left: 0;
      top: 22%;
      z-index: 99;
  }
    /*.musicAnima{
      -webkit-animation: reverseRotataZ 1.2s linear infinite;
    }
    @-webkit-keyframes reverseRotataZ{
      0%{
        -webkit-transform: rotateZ(0deg);
      }
      100%{
        -webkit-transform: rotateZ(-360deg);
      }
    }*/
  .chuchuang_top{
    width: 100%;
    margin: 0 auto;
    position: relative;

  }
  .chuchuang_top>img{
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
  }
.m24_h{
  width: 84%;
  margin: 0 auto;
  background: url("../img/kuang_h.png") no-repeat;
  background-size: 100% 100%;
  position: relative;  
}
.m24_s{
  width: 84%;
  margin: 0 auto;
  background: url("../img/kuang_s.png") no-repeat;
  background-size: 100% 100%;
  position: relative; 
}
.m24_box{
  width: 100%;
  padding: 3% 3% 0% 3%;
  display: block;
}
.shu{
  width: 50%;
  height: auto;
  position: absolute;
  left: -10%;
  bottom: -30%;
  z-index: -1;
}
.moon{
  width: 69%;
  height: auto;
  position: absolute;
  right: -10%;
  bottom: -47%;
  z-index: -1;
}
.h_img{
  width: 100%;
  height: auto;
  /*margin-left: 2%;
  margin-top: 2%;*/
}
.deng_h{
  width: 10%;
  height: auto;
  position: absolute;
  right: -8%;
  top: 15%;
}
.deng_s{
  width: 10%;
  height: auto;
  position: absolute;
  left: -8%;
  top: 25%;
}
.m24_text{
    margin: 24px 0;
    width: 100%;
    padding: 0 10%;
    position: relative;
}
.section_text {
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    font-weight: normal;
    white-space: pre-wrap;
    text-align: center;
}
.line{
  width: 100%;
  height: auto;
  /*margin-top: 20px;*/
}
.deng_zi{
  width: 10%;
  height: auto;
  position: absolute;
  bottom: 34px;
}