{template 'common/header'}
<style>
.editable-click, a.editable-click {
    color: #000 !important;
    border-bottom:none !important;
    text-decoration: none;
}
.editable-input.editable-has-buttons {
    width: auto;
    max-width: 100px;
}
.st-sort-ascent:before {
    content: '\25B2';
}
</style>
{template 'list_nav'}
<div class="panel panel-default">
	<div class="panel-heading" style='position:relative;'>
		<span>消息提醒详情</span>		
		
	</div>	
	<div class="panel-footer"></div>
	
	<div class="panel-body">
		<table  class="table table-striped">
			<thead>
				<tr>
					<th style="width:30%;">openid</th>
					<th style="width:30%;">状态</th>
					<th>时间</th>
				</tr>
			</thead>
			<tbody>
			{loop $banner $row}
				<tr>
					<td>
						{$row['openid']}
					</td>
					<td>
						{$row['status']}
					</td>
					<td>
						{php echo date('Y-m-d H:i:s',$row['dateline'])}
					</td>
				</tr>
			{/loop}
			</tbody>
		</table>
		{$pager}
	</div>
</div>
{template 'common/footer'}