{template 'common/header'}
<div class="main">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="{php echo $this->createWebUrl('campus', array('page' => 'index'))}">校区管理</a>
        </li>
        <li>
            <a href="{php echo $this->createWebUrl('tutor', array('page' => 'index'))}">教师管理</a>
        </li>
        <li>
            <a href="{php echo $this->createWebUrl('period', array('page' => 'index'))}">课时管理</a>
        </li>
        <li>
            <a href="{php echo $this->createWebUrl('contract', array('page' => 'index'))}">合同课程管理</a>
        </li>
        <li>
            <a href="{php echo $this->createWebUrl('order', array('page' => 'index'))}">排课管理</a>
        </li>
        <li>
            <a href="{php echo $this->createWebUrl('consultant', array('page' => 'index'))}">顾问管理</a>
        </li>
    </ul>
    <div class="panel panel-default">
        <div class="panel-heading">
            新增校区
        </div>
        <div class="panel-body">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
                <form action="" method="post" class="form-horizontal" role="form">
                    <div class="form-group {if isset($_SESSION['errors']['name'])}has-error{/if}">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">校区名称 <span class="text-danger">*</span></label>
                        <div class="col-sm-9 col-xs-12 ">
                            <input type="text" class="form-control" name="name" value="">
                        </div>
                    </div>
                    <div class="form-group {if isset($_SESSION['errors']['address'])}has-error{/if}">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">校区地址</label>
                        <div class="col-sm-9 col-xs-12 ">
                            <input type="text" class="form-control" name="address" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">校区状态 <span class="text-danger">*</span></label>
                        <div class="col-sm-9 col-xs-12 ">
                            <label class="radio-inline">
                                <input type="radio" name="enabled" id="inlineRadio1" value="1" checked="checked"> 启用
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="enabled" id="inlineRadio2" value="0"> 禁用
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{template 'common/footer'}
