{template '../../../addons/'.MODULE.'/template/web/common/myheader'}
	<script type="text/javascript" src="../../../addons/{php echo MODULE}/template/web/js/areatocounty.js"></script>
	<div class="title_tab">
		<ul class="tab_navs title_tab">
			<li class="tab_nav js_top selected" showme="basic_group"><a href="javascript:;">基本参数</a></li>
			<li class="tab_nav js_top " showme="share_group"><a href="javascript:;">分享参数</a></li>
		</ul>
	</div>

<form action="" method="POST">
	<div class="basic_group settings_group">
		<div class="frm_control_group" >
			<label for="" class="frm_label">删除缓存</label>
			<div class="frm_controls">
				<a class="btn btn_primary deletecache"  type="cache" href="javascript:;">删除缓存</a>
				<p class="frm_tips tips_width_200">建议每天删除一次</p>
			</div>
		</div>
  		
		<div class="frm_control_group change_item" item="sub_item"> 
	  		<label for="" class="frm_label">参与方式</label> 
	   		<div class="frm_controls"> 
	    		<label class="frm_radio_label" > 
	    			<i class="icon_radio"></i> 
	    			<span class="lbl_content">可直接参与</span>
	    			<input type="radio" name="jointype" value="0" class="frm_radio"  {if $settings['jointype'] == 0}checked="checked"{/if} />
	    		</label> 
	    		<label class="frm_radio_label " show="subme" >
	    			<i class="icon_radio"></i>
	    			<span class="lbl_content">弹出二维码提示关注回复关键字</span>
	    			<input type="radio" name="jointype" value="1" class="frm_radio" {if $settings['jointype'] == 1}checked="checked"{/if} /> 
	    		</label>
	    		<p class="frm_tips">提示：订阅号不能使用直接参与，请选择第二个。</p>
	   		</div>
	  	</div>

		<div class="frm_control_group sub_item hidden_item subme" {if $settings['jointype'] == 1}style="display:block"{/if}>
			<label for="" class="frm_label">关注提示词</label>
			<div class="frm_controls">
				<span class="frm_input_box">
					<input type="text" class="frm_input" name="substr" value="{$settings['substr']}">
				</span>
				<p class="frm_tips">例：长按二维码关注公众号，回复‘整蛊’</p>
			</div>
		</div>
		<div class="frm_control_group single_img_upload">
			<label for="" class="frm_label">首页顶部图片</label>
			<div class="frm_controls">
				{php echo  WebCommon::tpl_form_field_image('topimg',$settings['topimg'])}
			</div>
		</div>
	</div>

	<div class="share_group settings_group">
		<div class="frm_control_group">
			<label for="" class="frm_label">分享标题</label>
			<div class="frm_controls">
				<span class="frm_input_box">
					<input type="text" class="frm_input" name="sharetitle" value="{$settings['sharetitle']}">
				</span>
				<p class="frm_tips">{nick}变量代表分享者昵称</p>
			</div>
		</div>
		<div class="frm_control_group">
			<label for="" class="frm_label">分享描述</label>
			<div class="frm_controls">
				<span class="frm_input_box">
					<input type="text" class="frm_input" name="sharedesc" value="{$settings['sharedesc']}">
				</span>
				<p class="frm_tips">{nick}变量代表分享者昵称</p>
			</div>
		</div>	
		<div class="frm_control_group single_img_upload">
			<label for="" class="frm_label">分享图片</label>
			<div class="frm_controls">
				{php echo  WebCommon::tpl_form_field_image('shareimg',$settings['shareimg'])}
			</div>
		</div>
	</div>


	<div class="tool_bar">
		<button type="submit" name="submit" value="123" class="btn btn_primary" >保存</button>
		<input type="hidden" name="token" value="{$_W['token']}" />
	</div>
</form>

{template '../../../addons/'.MODULE.'/template/web/common/myfooter'}
