  {template 'public/header'}
  <script type="text/javascript" src="{ZSK_STATIC}js/jquery.qrcode.min.js"></script>
 <style type="text/css">
 	.mmmtab td{
 		padding: 10px 10px;
 	}
 	.maill{text-align: right !important;width: 30%;vertical-align: middle !important;}
 	.mailr{text-align: left !important;width: 70%;vertical-align: middle !important;}
 	.top{
 		margin-top: 20px;
 	}
 	.topcolor{
 		background-color:#eee;
 		line-height: 40px;
 	}
 </style>
 <div class="panel panel-info">
	<div class="panel-heading">短信审核</div>
	<div class="col-md-12 top">
		<form action="<?php echo $this->routeUrl('sms.audit');?>" method="post" id="keyform">
			<div class="col-lg-6">
			    <div class="input-group" style="z-index: 11">
			      <input type="text" class="form-control" name="name" placeholder="请输入店铺名">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="submit"  form="keyform">搜索</button>
			      </span>
			    </div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
		</form>
		<p class="help-block">剩余:<span style="font-size: 20px;color: red">{$usercode['balance']} </span>账户剩余条数或者剩余金额（根据账户类型）</p>
		<!-- <button class="btn btn-default"></button> -->
		<div class="col-lg-12 top" style="z-index: 11">
			<div class="table-responsive">
			  <table class="table">
			    <tr class="active" style="z-index: 11">
			    	<th class="table-bordered" style="z-index: 11">店铺名称</th>
			    	<th class="table-bordered" style="z-index: 11">短信内容</th>
			    	<th class="table-bordered" style="z-index: 11">状态</th>
			    	<th class="table-bordered" style="z-index: 11">发送条数</th>
			    	<th class="table-bordered" style="z-index: 11">提交时间</th>
			    	<th class="table-bordered" style="z-index: 11">操作</th>
			    </tr>
			    <?php foreach($memberlist as $v){?>
			    <tr class="table-bordered">
			    	<td>{$v['name']}</td>
			    	<td>{$v['text']}</td>
			    	<td>{$v['statussting']}</td>
			    	<td>{$v['sendnum']}</td>
			    	<td><?php echo date("Y-m-d",$v['sendtime']);?></td>
			    	<td>
			    		<?php if($v['status']==0){?>
				    		<button type="button" class="btn btn-primary btn-xs" onclick="Agreed({$v['id']})">同意</button>
	  						<button type="button" class="btn btn-default btn-xs" onclick="refused({$v['id']})">拒绝</button>
  						<?php }?>
  						<?php if($v['status']==1){?>
  							<button type="button" class="btn btn-primary btn-xs">已同意</button>
  						<?php }else if($v['status']==2){?>
							<button type="button" class="btn btn-default btn-xs">已拒绝</button>
  						<?php }?>
			    	</td>
			    </tr>
			    <?php }?>
			  </table>
			  {template 'public/pagenation'}
			</div>
		</div>
	</div>
</div>
<!-- 模态框（Modal） -->
<div id="myModal" style="position: fixed;z-index: 999;background-color: #fff;margin-left: 20%;display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">拒绝原因</h4>
            </div>
            <div class="modal-body">
            	<input type="hidden" name="refusedid">
            	 <textarea rows="10" cols="30" name="statussting" class="form-control statussting"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="closs()">关闭</button>
                <button type="button" class="btn btn-primary" onclick="sussess()">确认</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script type="text/javascript">
	function Agreed(id){
		$.ajax({
			url:"<?php echo routeUrl('sms.agreed');?>",
			type:"post",
			dataType:"json",
			data:"id="+id,
			success:function(res){
				console.log(res)
				window.location.reload()
			},fail:function(res){
				console.log(res)
				window.location.reload()
			}
		})
	}
	function refused(id){
		$('#myModal').show()
		$(".modal-backdrop").css("z-index",997)
		$("input[name='refusedid']").val(id)
	}
	function closs(){
		$('#myModal').hide()
	}
	function sussess(){
		var id = $("input[name='refusedid']").val()
		var statussting = $(".statussting").val()
		$.ajax({
			url:"<?php echo routeUrl('sms.refused');?>",
			type:"post",
			dataType:"json",
			data:"id="+id+"&statussting="+statussting,
			success:function(res){
				console.log(res)
				$('#myModal').hide()
				window.location.reload()
			},fail:function(res){
				console.log(res)
				window.location.reload()
			}
		})
	}
</script>
 {template 'public/footer'}
