{template 'public/header'}    
<style type="text/css">
	.notice{display: block;color:orange;}
</style>
 
<div class="panel panel-info">
	<div class="panel-heading"  >
		<ol class="crumb">
		  <li><a href="<?php echo $this->routeUrl('shops.listview');?>">店铺管理</a></li>
		  <li class="active">编辑店铺</li>
		</ol>
	</div>
	<div class="panel-body"> 
	 	
		 
			
		<form class="layui-form" style="width: 500px;margin-left: 100px;" method="post" id="memForm"  action="<?php echo $this->routeUrl('shops.saveShop');?>">
		
		   <input type="hidden" name="sid" value="{$_GPC['sid']}">   
		  <div class="layui-form-item">
		    <label class="layui-form-label">店铺名称</label>
		    <div class="layui-input-block">
		     <input type="text" name="title"  placeholder="20字以内"  value="{$shop['name']}"  class="layui-input" id="title" <?php if(intval($shop['parentid'])>0){echo 'disabled';};?>>
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">店铺LOGO</label>
		    <div class="layui-input-block">
		     {php echo tpl_form_field_images('logo',$shop['logo']);}
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">联系电话</label>
		    <div class="layui-input-block">
		       <input type="text" name="title"  placeholder="20字以内"  class="layui-input"  value="{$shop['phone']}" >
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">联系地址</label>
		    <div class="layui-input-block">
		      <input type="text" name="title"    value="{$shop['address']}"  class="layui-input" id="title">
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">入驻时间</label>
		    <div class="layui-input-block">
		      <input type="text" class="layui-input" id="starttime" name="starttime" readonly> 
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">到期时间</label>
		    <div class="layui-input-block">
		        <input type="text" class="layui-input" id="stoptime" name="starttime" readonly>
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">营业状态</label>
		    <div class="layui-input-block">
	          <select name="status" lay-filter="a231ihao">
		  
		        <option value="1" <?php if($shop['status']=="1"){echo 'selected';}?> >正常</option>
		        <option value="0" <?php if($shop['status']=="0"){echo 'selected';}?> selected="">关闭</option> 
		      </select>
		    </div>
		  </div> 
		  
		  
		  <div class="layui-form-item">
		    <div class="layui-input-block">
		      <button class="layui-btn" lay-submit lay-filter="*">保存</button>
		      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		  </div>
		</form>
	</div>  
</div>   
<script type="text/javascript">
	 layui.use('laydate', function(){
	  var laydate = layui.laydate;
	  
	  //执行一个laydate实例
	  laydate.render({
	  	type:"date",
	    elem: '#stoptime' //指定元素
	  });
	   laydate.render({
	  	type:"date",
	    elem: '#starttime' //指定元素
	  });
	});
	 layui.use('form', function(){
  var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
  form.render();
});
</script>
{template 'public/footer'}
