{template 'header'}
<link type="text/css" rel="stylesheet" href="../addons/bsht_tbk/res/css/uc.css">


<div id="containter" class="container">
<div class="person-top back-w">
    <div class="person-top-infor person-pad border-bottom">
        
            <div class="person-head"><img src="{php echo tomedia($userinfo['avatar'])}"></div>
            <div class="person-top-text">
                <h1 style="color:#fff">&nbsp;{php echo $this->emoji($userinfo['nickname']);}</h1>
                <h2><span style="font-size:14px">{php echo intval($_W['member']['credit1']);}</span></h2>
            </div>

            <a href="javascript:" class="bevip" onclick="bevip();" style="margin-right:20px">开通高级会员</a>
    </div>
    
</div>
</div>



<div id="search-box" style="width:100%;background-color:#fff;padding-top:10px;padding-bottom:10px">
       <form id="search-form" action="./index.php" method="get">
	        <input type="hidden" name="c" value="entry" />
			<input type="hidden" name="i" value="{$_W['uniacid']}" />
        	<input type="hidden" name="m" value="bsht_tbk" />
        	<input type="hidden" name="do" value="search" />
        <div class="box-search">
         <input type="text" id="keywords" name="keywords" x-webkit-speech="" placeholder="搜索商品" autocomplete="off" value="{if $_GPC['keywords']}{$_GPC['keywords']}{/if}" />
         <a href="javascript:;" class="del"><img src="{$res}static/jwap/images/del.png" /></a>
        </div>
        <button id="search-submit" type="submit"><img src="{$res}static/jwap/images/search.png" /></button>
       </form>
</div>

<div class="user-box">
		  
		  
          <ul class="action-list">
			
           

            

			<li>
              <a href="javascript:" onclick="nbqdtip();">
                <em class="icon icon-address"></em>
                <span>每日签到</span>
                <em class="cur"></em>
              </a>
            </li>
	

            <li>
              <a href="{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=mc&a=bond&do=credits&credittype=credit1&type=record&period=1">
                <em class="icon icon-quan"></em>
                <span>积分明细</span>
                <em class="cur"></em>
              </a>
            </li>
			
          </ul>
          
          <ul class="action-list">
            <li>
             
			 {if $setting['duihuantype']==1 || empty($setting['duihuantype'])}
              <a href="{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=activity&a=coupon">
			 {/if}

			 {if $setting['duihuantype']==2}
              <a href="{php echo $this->createMobileUrl('duiba')}">
			 {/if}

			 {if $setting['duihuantype']==3}
              <a href="{$setting['duihuanurl']}">
			 {/if}



                <em class="icon icon-help"></em>
                <span>积分兑换（总量：{php echo intval($_W['member']['credit1']);}）</span>
                <em class="cur"></em>
              </a>
            </li>
          </ul>
        </div>


{if $follow!=1}
<script>
layer.open({
	
	title:'- 管理个人中心，请先长按下图 -',
    content: '<center><div style="width:100%;"><br><img src="{$_W['account']['qrcode']}" width="100%"><br><font color="red">本功能仅限会员使用</font></div></center>',
    btn: ['返回首页'],
    shadeClose: false,
	closeBtn: false,
    yes: function(){
       window.location.href='{php echo $this->createMobileUrl('index', array('op' => 'new'))}';	
    }
});

$('.layui-layer-dialog').css('top','50px');
</script>
{/if}
<script>
function nbqdtip()
{
layer.msg('请点击公众号底部菜单签到', {
  shadeClose:true,
  closeBtn:0,
  shade:0.7,
  //skin: 'tipsclass',
}); 


}
</script>
{template 'footer'}