/* activity 样式 */
.daterangepicker select.hourselect, .daterangepicker select.minuteselect {width: 70px;margin-bottom: 0;}
.form-group label {margin-bottom: 5px;font-weight: 700;}
.form-group .span-error{color: #FD4731;}

/* voteupdate */
div.form-froup-count{margin-top: 10px; margin-bottom: 10px;display:inline-block;}
div.form-froup-count .style-div{float:left;margin:0px 20px 0px 0px;}
div.form-froup-count .btn-control{height: 34px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;}

.table>tbody>tr>td {vertical-align: middle;padding: 8px;line-height: 1.42857143;border-top: 1px solid #ddd;}

@media (min-width: 768px) {
    .form-inline .form-group {
        display: inline-block; margin-bottom: 10px; vertical-align: middle;
    }
}

@font-face {
    font-family:'Glyphicons Halflings';src:url(../fonts/glyphicons-halflings-regular.eot);src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}