/* Reset - Mobile 750w */

/* iPhone 4/5 */
html { font-size:42.6666667px; }
/* Android */
@media (min-width:360px){
	html { font-size:48px; }
}
/* iPhone6 */
@media (min-width:375px){
	html { font-size:50px; }
}
/* iPhone6 Plus */
@media (min-width:414px){
	html { font-size:55.2px; }
}

html,body {}
body { color:#333; background:#fff;font-family: "Microsoft Jhenghei","Hiragino Sans GB","Microsoft YaHei",sans-serif;}
body,h1,h2,h3,h4,h5,h6,p,ol,ul,dl,dt,dd,li,tr,td,cite,fieldset,input,button,textarea { margin:0; padding:0; list-style:none; font-size:.29rem; font-family:"SimHei","SimSun"; }
sup,sub { vertical-align:baseline; }
a { color:#333; text-decoration:none; }
a:hover {text-decoration:none;}
img{max-width: 100%;}

.transition {-webkit-transition:all .3s ease-out;}

.font-orange {color: rgb(253, 71, 49);}

/* 分享帮助 遮罩层 */
.sharehelp{background: url(../img/share_help.png) repeat; background-size: cover; -moz-background-size: cover; position:absolute; top:0;bottom:0;left:0;right:0;opacity:0.7;display:none;}

/* 分页下拉加载层 */
.load {height: .8rem; line-height: .8rem;text-align: center; background: #333333; color: #f9f9f9; opacity:0.7;}

/* 选中效果 */
section {-webkit-transform:translate3d(-100%,0,0); position: absolute;width: 7.5rem;overflow: hidden; height: 100%;padding-bottom: 0.9rem}
section.active {-webkit-transform:translate3d(0,0,0);}
section.activeout {-webkit-transform:translate3d(100%,0,0);}

/* ========底部======== */
.footer {display: none;} 
.votefooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #333333;
    color: #f9f9f9;
    z-index: 999;
    text-align: center;
    padding: 0rem 0rem 0rem 0.3rem;
    animation: ss 0.7s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
    z-index:999;
}
.votefooter li {
    width: 19.1%;
    line-height: .28rem;
    font-size: 0.2rem;
    padding: 0.16rem 0rem 0.15rem 0rem;
} 
.votefooter div {
    width: 19%;
    line-height: .28rem;
    font-size: 0.2rem;
    background: #fd4731;
    color: #ffffff;
    padding: 0.15rem 0rem;
}
.votefooter i {font-size: 0.35rem;}
#ss {
    width: 1.3rem;
    height: 0.6rem;
    position: absolute;
    top: 0.05rem;
    left: 0.3rem;
    background: #fff;
    color: #333;
    text-align: center;
    line-height: 0.7rem;
    font-size: 0.4rem;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 0.2rem #0c0c0c;
}
@keyframes ss {
    0% {
    -webkit-transform: translate3d(0,100%,0);
}
0%, 100% {
    opacity: 1;
}
100% {
    -webkit-transform: translate3d(0,0,0);
}
}
/* ========首页======== */
.index {height: 100%;overflow: auto;}
.index div.mainimg {position: relative;}
.index .total {
    position: absolute;
    bottom: -0.4rem;
    left: 0.3rem;
    height: 1.2rem;
    vertical-align: middle;
    width: 92%;
    text-align: center;
    background-color: #FFFFFF;
    padding: 0.22rem;
    box-shadow: 0rem 0rem 0.2rem rgba(170, 170, 170, 0.54);
    border-radius: 0.05rem;
    animation: total 1s;
    opacity: 1;
}
@keyframes total {
    0% {opacity: 0;}
    100%{opacity: 1;}
}
.index .total div span {color:#FD4731; font-size: 22px; font-weight: 600;}
.index_datetime {
    width: 4.4rem;
    height: 0.9rem;
    text-align: center;
    line-height: 5.4em;
    position: absolute;
    top: -0.45rem;
    left: 1.5rem;
    background: rgba(255, 255, 255, 0.91);
    color: rgba(253, 71, 49, 0.6);
    font-size: 0.25rem;
    border-radius: 1rem;
}
.index_info {
    width: 95%;
    padding: 0.65rem 0.4rem 0rem 0.4rem;
    animation: info 0.7s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes info {
    0% {
    -webkit-transform: translate3d(-100%,0,0);
}
0%, 100% {
    opacity: 1;
}
100% {
    -webkit-transform: translate3d(0,0,0);
}
}
.index_info p {line-height: 15px; font-size: 14px; padding: 6px 0px;}
.index_info p img {height:15px;float:left;}

/*列表*/
.list {position: relative;width: 7.5rem;overflow: hidden;}
/* 菜单 */
.list div.menu { height: .9rem; line-height: .9rem; text-align: center; padding-top: 2px;}
.list div.menu div {height: 100%; font-size: 16px;}
.list div.menu div.active{color: #FD4731; border-bottom: .04rem solid #FD4731; font-size: 16px;}

/* 参与者列表 */
.contentlist {width: 15rem;overflow: hidden;-webkit-transition:all .3s ease-out;}
.list div.orderlist { padding: 0px; width:7.5rem; padding-bottom: 1rem;float: left;position: relative;}
.listindex0 .contentlist{-webkit-transform:translate3d(0,0,0);}
.listindex1 .contentlist{-webkit-transform:translate3d(-50%,0,0);}

.list div.orderlist div.leftlist {
    width: 46%;
    float: left;
    border-radius: 0.05rem;
    animation: ss 0.7s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
}
.list div.orderlist div.rightlist {
    width: 46%;
    float: left;
    border-radius: 0.05rem;
    animation: ss 0.7s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
}

/* 参与者信息 */
.list div.orderlist div.order {
    background-color: #FFFFFF;
    color: black;
    margin-bottom: 10px;
    border: 1px solid #F9F9F9;
    box-shadow: 0 0 0.1rem rgba(206, 206, 206, 0.36);
    padding-bottom: 0.2rem;
}
.list div.orderlist div.order div.orderimg {  position:relative;}
.list div.orderlist div.order div.info {
    height: .4rem;
    padding: 0rem 0.2rem 0rem 0.1rem;
    line-height: .43rem;
    color: #ffffff;
    background: #fd4731;
    position: absolute;
    left: 0;
    top: 0.15rem;
    font-size: 0.2rem;
    text-align: left;
    font-weight: 600;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    box-shadow: 0 0 0.1rem rgba(170, 170, 170, 0.57);
}

.list div.orderlist div.order div.info img {height: 22px; float: right; margin-top: 1px; padding-right: 5px;} 
.list div.orderlist div.order div.orderfooter { background-color: white;}
.list div.orderlist div.orderfooter p {
    line-height: 0.65rem;
    color: #FD4731;
    padding-left: 0px;
    text-align: center;
    width: 3.35rem;
    font-weight: 600;
}
.list div.orderlist div.orderfooter a {
    display: block;
    line-height: 0.58rem;
    background-color: #FD4731;
    width: 1.2rem;
    height: 0.58rem;
    text-align: center;
    color: white;
    border-radius: 1rem;
    margin: 0rem 0rem 0rem 1.1rem;
}

/* ========报名======== */ 

/* 报名活动 */
.joinbox div.join {
    padding: 10px;
    background-color: #ffffff;
    height: 100%;
    overflow-y: auto;
}
.joinbox div.join div.top {
    text-align: center;
    height: 0.9rem;
    line-height: .8rem;
    font-size: 16px;
    font-weight: 100;
}
.joinbox div.join div.form {color: #FD4731;}
.joinbox div.join input, .joinbox div.join textarea {
    width: 100%;
    margin-bottom: 8px;
    background: #f7f7f7;
}
.joinbox div.join input.btn1 {background-color: #FD4731; color:#FFF;}
.joinbox div.join input.btn2 {color: #FD4731;}
.joinbox div.join span.span-error {color: #FD4731;font-size: 12px;}


/* 详情 */
.joinbox div.detail {background-color: #FFFFFF; height:100%; overflow-y:auto;}
.joinbox div.detail div.orderimg {position:relative;}
.joinbox div.detail div.info {
    width: 100%;
    height: 0.8rem;
    text-align: center;
    line-height: 2.5em;
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    background: rgba(255, 255, 255, 0.8);
    color: rgba(253, 71, 49, 0.6);
    font-size: 0.33rem;
}
.joinbox div.detail div.info img {height: .6rem; float: right; vertical-align: middle; padding-right: 5px;}
.joinbox div.detail div.order div.imgcss{margin-top: 20px;margin-bottom: 20px;text-align: center;}

.joinbox div.detail div.orderfooter { background-color: #FFFFFF; height: .6rem;}
.joinbox div.detail p.desc {margin-top: 10px; margin-bottom: 10px;}
.joinbox div.detail div.orderfooter img {margin-top:-4px; margin-right:6px;}
.joinbox div.detail a.btn1 {
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    width: 35%;
    color: #FFF;
    background-color: #FD4731;
    vertical-align: middle;
    margin-left: 2.48rem;
    border-radius: 0.8rem;
    display: inline-block;
}
.joinbox div.detail a.btn2 {
    height: .6rem;
    line-height: .9rem;
    text-align: right;
    margin-left: 0.68rem;
    width: 52%;
    color: #FD4731;
    vertical-align: middle;
    display: inline-block;
}

/* 审核中 */
.joinbox div.checking {text-align: center;}
.joinbox div.checking img {margin-top: 1.8rem;height: 1.8rem;}
.joinbox div.checking p {margin-top: 40px; font-size: 24px;}

/* 报名成功 */
.joinbox div.joinok {text-align: center;}
.joinbox div.joinok img {margin-top: 1.8rem;height: 1.8rem;}
.joinbox div.joinok p {margin-top: 40px; font-size: 24px;}
.joinbox div.joinok span {margin-top: 10px;}
.joinbox div.joinok a {margin-top: 40px; text-decoration: underline; display: block;}

/* ========排行======== */ 
.ranking { text-align: center;}
.ranking div.top {text-align: center; height:.8rem; line-height: .8rem; font-size: 16px; font-weight: 100;}
.ranking table {width: 100%;}
.ranking table tr.headtr {background-color: #F7F7F7; text-align: center; height: 30px; line-height: 30px;}
.ranking table tr.bodytr { height: 60px; line-height: 60px; vertical-align: middle; border: 1px solid #F9F9F9;}
.ranking table tr.bodytr td img.fpimg{width:16px; height: 16px; margin-bottom: 5px; vertical-align: middle;}
.ranking table tr.bodytr td img.fmtimg {width:50px; height: 50px; vertical-align: middle;}
.ranking table tr.active {color: #FD4731;background-color:#F7F7F7;}
/* ========规则======== */ 
.rule {}
.rule .head {text-align: center;font-size: 14px; color: #FD4731; height: .8rem; line-height: .8rem;}
.rule .content {padding: 10px;}

/* ========搜索======== */ 
#black {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.3);
    display: none;
}
#box {
    position: fixed;
    top:0;
    left: 0;
    z-index: 1001;
    width: 100%;
    height: 2.4rem;
    background: #fff;
    margin:0rem auto;
    display: none;
}
#box input[type=text] {
    margin:0.7rem 0rem 0rem 0.7rem;
    width: 6rem;
    height: 0.8rem;
    background: #efefef;
    border: 0rem solid #fff;
    border-radius: 1rem;
}
#box .bot {
    position: absolute;
    left: 5.6rem;
    top: 0.7rem;
    width: 1rem;
    height: 0.8rem;
    background: #efefef;
    border: 0rem solid #fff;
    border-radius: 1rem;
}
#box .tips {
    width: 7.4rem;
    height: 0.8rem;
    line-height: 1rem;
    text-align: center;
    color: #aaa;
    font-size: 0.25rem;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    border: 1px solid #d6d6d6;
}