@font-face {
	font-family: 'iconfont';
	src: url('iconfont.eot');
	/* IE9*/
	src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
	url('iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('iconfont/iconfont.svg#iconfont') format('svg');
	/* iOS 4.1- */
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

section,
article,
aside,
header,
footer,
nav,
dialog,
figure,
legend {
	display: block;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	table-layout: fixed;
}

table td {
	word-break: break-all;
}

caption,
th {
	text-align: left;
}

ol,
ul {
	list-style: none;
}

img {
	/*display: block;*/
	border: 0;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	width: auto\9;
	/* ie8 */
}

*:focus {
	outline: 0;
}

* {
	/*-webkit-tap-highlight-color: #fff;*/
	-webkit-touch-callout: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

audio:not([controls]) {
	display: none;
}

[hidden] {
	display: none;
}

input[type=button] {
	-webkit-appearance: none;
	outline: none
}

::-webkit-input-placeholder {
	color: #acacac;
}

:-moz-placeholder {
	color: #acacac;
}

::-moz-placeholder {
	color: #acacac;
}


/******= Typography =******/

html,
body {
	height: 100%;
	font-family: "微软雅黑";
}

html {
	font-size: 62.5%;
	outline: 0;
	font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

.main {
	/*position:relative;*/
	min-width: 320px;
	max-width: 640px;
	min-height: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.mui-bar {
	background-color: #31ac84;
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
}

.mui-bar .mui-title {
	color: #fff;
}

li {
	list-style: none;
}

input{
	-webkit-tap-highlight-color: rgba(255, 0, 0, 0);
	word-break: break-all;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-family: "微软雅黑";
}

button,
select {
	-webkit-tap-highlight-color: rgba(255, 0, 0, 0);
	word-break: break-all;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	font-family: "微软雅黑";
}
a {
	text-decoration: none;
}

a:hover,
a:active {
	text-decoration: none;
}

.mui-table-view-cell {
	background: #fff;
}

li {
	list-style: none;
}

body,
textarea {
	font: 14px / 1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}


/*rewardGainsPage*/

.ma-infor {
	display: flex;
	display: -webkit-box;
	flex-flow: row;
	height: 40px;
	box-sizing: border-box;
}

.ma-left {
	width: 60%;
	height: 100%;
}

.ma-left h2 {
	color: #393939;
	font-size: 16px;
	line-height: 30px;
}

.ma-right {
	width: 40%;
	height: 100%;
	text-align: center;
	line-height: 40px;
}

.ma-right label {
	color: #31AC84;
	font-size: 16px;
}


/*exceptionalCP */

.mui-navigate-right .iconfont {
	font-size: 20px;
}

.on20 {
	color: #ffae01;
}

.mui-navigate-right {
	font-size: 16px;
}


/*liveUpdate*/

input.int {
	width: 80%;
	text-align: left;
	border: 0;
	text-align: right;
	line-height: 20px;
	padding: 0;
	margin: 0;
	float: right;
}

input.int.int1 {
	text-align: center;
	background: #31ac84;
	display: block;
	font-size: 18px;
	margin: 0 auto;
	color: #fff;
	padding: 10px;
}

.int2 {
	word-break: break-all;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.inter-5 {
	float: right;
	padding-right: 20px;
	width: 80px;
}

.mui-navigate-right p {
	float: right;
	padding-right: 20px;
}

.a-common {
	display: block;
	width: 100%;
	height: 100%;
	display: block;
}

.grap-qz {
	position: fixed;
	z-index: 1000;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
}

.grap {
	position: fixed;
	z-index: 1000;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	display: none
}

.posi {
	position: relative;
}

.file {
	opacity: 0;
	width: 100%;
	position: absolute;
	height: 100%;
	z-index: 999;
	top: 0;
	left: 0;
}


/*没有啦*/

.dropload-down .dropload-noData {
	text-align: center;
	color: #d8d8d8;
	border-top: 1px solid #F7F7F7;
	/* margin-top: 20px; */
	padding-top: 3px;
}

.dropload-load {
	text-align: center;
	color: #B5B5B5;
}
a:visited,a:active,a:hover,a:link{
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.mui-table-view-cell:after{
	display: none;
}
