.mui-table-view-cell {
	background: #fff;
	border-bottom: 1px solid #E5E5E5;
	font-size: 15px;
}

.font1 {
	color: #FF7070;
	font-style: normal;
}

.font2 {
	color: #31AC84;
	font-style: normal;
}

.box01 {
	padding: 17px 45px 22px 25px;
	color: #fd8585;
}

.litte-box {
	width: 15px;
	height: 15px;
	display: inline-block;
	background-color: #cac5bf;
}

.mui-card {
	margin-top: 0;
}

.left-icon0 {
	font-size: 12px;
	width: 88px;
	/* float: right; */
	position: absolute;
	right: 0;
	top: 0;
	height: 30px;
	line-height: 30px;
	background: #31ac84;
	color: #fff;
	text-align: center;
	border-radius: 15px 0px 0px 15px;
}

.live-name {
	min-height: 35px;
	color: #333!important;
	font-size: 15px;
	line-height: 11px;
	padding: 35px 15px 11px 0;
}
.mui-table-view-cell>a:not(.mui-btn) {
	float: right;
	width: 60px;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	text-align: center;
	background: #ffce42;
	color: #fff;
	border-radius: 5px;
}