.left {
	float: left;
	padding: 3px 0;
}

.right {
	float: left;
	padding: 10px 11px;
}

.left img {
	display: block;
	width: 60px;
}

.right span {
	display: block;
	font-size: 18px;
	color: #303030;
}

.right .col14 {
	color: #9a9a9a;
	font-size: 15px;
	padding-top: 5px;
	word-break: break-all;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.mui-table-view-cell {
	padding: 8px 15px;
}

.mui-navigate-right {
	position: relative;
}

.col-1 {
	width: 40px;
	height: 20px;
	background: #31AC84;
	color: #fff;
	font-size: 15px;
	position: absolute;
	text-align: center;
	line-height: 20px;
	right: 5%;
	top: 10%;
	border-radius: 5px;
}

.footer-1 .mui-col-xs-6 {
	text-align: center;
	color: #a7a7a5;
	font-size: 16px;
	background: #fff;
	padding: 5px;
}

.footer-1 .mui-col-xs-6 span {
	display: block;
}

.footer-1 .mui-col-xs-6 .iconfont {
	font-size: 25px;
}

.footer-1 {
	position: fixed;
	bottom: 0;
	z-index: 99;
	width: 100%;
	min-width: 320px;
	max-width: 640px;
}

.col15 {
	display: block;
	width: 100%;
	color: #31AC84;
}

.navigate {
	display: flex;
	flex-flow: row;
	position: relative;
	padding-bottom: 8px;
    border-bottom: 1px solid #F2F2F2;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.NotUesed li:last-child .navigate {
    border-bottom: none;
}

.right0 {
	width: 79%;
	padding-left: 15px;
}

.left0 {
	width: 16%;
}
.left0 img {
	width: 54px;
	height: 54px;
}

.right0 span {
	display: block;
	font-size: 18px;
	color: #303030;
}

.right0 .col14 {
	color: #9a9a9a;
	font-size: 15px;
	padding-top: 5px;
	word-break: break-all;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.mui {
	padding: 10px;
}

.dropload-noData {
	text-align: center;
}