<!DOCTYPE html> 
<html lang="zh-cn"> 
<head> 
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>正在获取您的定位信息...</title> 

<script src="../addons/wx_lbsmap/js/jquery-1.11.0.min.js"></script> 

<!-- <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=t3FP9YY3pI7XHSODGH0NOidw"></script>  -->
<script type="text/javascript" src="{$http_type}api.map.baidu.com/api?v=2.0&ak=XAshfSy1j96X1nFGnScMf7ejDbpQfrgB"></script>


<script> 
			var geolocation = new BMap.Geolocation();  
			geolocation.getCurrentPosition(function(result){  
			if(this.getStatus() == BMAP_STATUS_SUCCESS){  

           latitude  = result.point.lat;//获取到的纬度  
           longitude = result.point.lng;//获取到的经度 
		   window.point=new BMap.Point(longitude,latitude);
		   url="{php echo $url}";
		  
			url=url+'&lat='+latitude+'&lng='+longitude+'&tr=1';
			
			window.location.href=url;
			}
		   }); 


function initMap(point){ 
//初始化地图 
map = new BMap.Map("map"); 
map.addControl(new BMap.NavigationControl()); 
map.addControl(new BMap.ScaleControl()); 
map.addControl(new BMap.OverviewMapControl()); 

map.centerAndZoom(point, 15); 
map.addOverlay(new BMap.Marker(point)) 
} 
</script> 

</head> 
<body> 
<div id="bk"><img src="../addons/wx_lbsmap/images/load.gif" id="load" width="30px"><br /></div>
<div><p id="wz" style="text-align:center;width:100%;position:absolute;top:53%;">正在获取定位信息...</p></div>
<script>
		 $avgwid=($(window).width()-$("#load").width())/2;
		 $avgheig=($(window).height()-$("#load").height())/2.2;
		 $("#bk").css({"position":"absolute","left":$avgwid,"top":$avgheig});
		</script>
</body> 
</html> 