	.panel-body ul{
		width:100%;
		 list-style-type:none ;
	}
	.panel-body li{
		float: left;
		line-height: 35px;
	}
	.comtent{
		width:70%;
		text-align: left;
	}
	.title{
		width:30%;
		text-align: left;
		font-weight: 700;
	}
.beizhu{
	margin:30px 0 0 30px;
}
.main-823{margin-bottom: 20px;background-color: #fff;border: 1px solid transparent;border-radius: 4px;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);box-shadow: 0 1px 1px rgba(0,0,0,.05);border-color: #ddd;}
.label-important{background:#777;}
.label-info{background:#d9534f;}
.cha-823{
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}
.cha-823:hover{color:#fff;}
.panel{margin-bottom:20px;}
.table {
table-layout:auto;
}
.label-important, .label-warning{
color:#000;
font-size:14px;
font-weight:normal;
}