{template 'web/common/header'}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-content p-xl">
                <div class="row">
                    <div class="col-sm-6">
                        <address>
                            <strong>{php echo $setStoreData['set_storeName']}</strong><br>
                            {php echo $setStoreData['set_storeDetailAdress']}<br> <abbr title="Phone">总机：</abbr>
                            {php echo $setStoreData['set_storeContactTel']}
                        </address>
                    </div>

                    <div class="col-sm-6 text-right">
                        <h4 class="text-navy">单据编号：{$getmemberrecharge['mrci_invoiceCode']}</h4>
                        <address>
                            <strong>会员名称：{$getmemberrecharge['mrci_memberName']}</strong><br>
                           操作员： {php echo util::getRoleUser($getmemberrecharge['roleuser_id']);} <br>
                            会员卡号： {$getmemberrecharge['mrci_memberCardNum']}<br>
                            <span><strong>消费时间：</strong> {php echo date('Y-m-d H:i:s', $getmemberrecharge[mrci_addTime]);}</span>
                        </address>

                    </div>
                </div>

                <div class="table-responsive m-t">
                    <table class="table invoice-table">
                        <thead>
                        <tr>
                            <th>消费项目</th>
                            <th>编码</th>
                            <th>数量</th>
                            <th>原价</th>
                            <th>折后金额</th>
                            <th>积分折扣规则名称</th>
                        </tr>
                        </thead>
                        <tbody>
                        {loop $getconsumeinvoicedetaillist $getconsumeinvoicedetailitem}
                        <tr>
                            <td>{$getconsumeinvoicedetailitem['mrc_goodsName']}</td>
                            <td>{$getconsumeinvoicedetailitem['mrc_count']}</td>
                            <td>{$getconsumeinvoicedetailitem['mrc_goodsprice']} 元</td>
                            <td>{$getconsumeinvoicedetailitem['mrc_totalPrice']} 元</td>
                            <td>{$getconsumeinvoicedetailitem['mrc_givePoints']} </td>
                            <td>{$getconsumeinvoicedetailitem['mrc_note']}</td>
                        </tr>
                        {/loop}
                        </tbody>
                    </table>
                </div>
                <!-- /table-responsive -->

                <table class="table invoice-total">
                    <tbody>
                    <tr>
                        <td><strong>应付金额：</strong>
                        </td>
                        <td>&yen;{$getmemberrecharge['mrci_handleMoneyCount']}</td>
                    </tr>
                    <tr>
                        <td><strong>实付金额：</strong>
                        </td>
                        <td>&yen;{$getmemberrecharge['mrci_realMoneyCount']}</td>
                    </tr>
                    <tr>
                        <td><strong>获得积分：</strong>
                        </td>
                        <td>&yen;{$getmemberrecharge['sc_getPoint']}</td>
                    </tr>
                    <tr>
                        <td><strong>储值支付：</strong>
                        </td>
                        <td>&yen;{$getmemberrecharge['mrci_rechargePaymentCount']}</td>
                    </tr>

                    <tr>
                        <td><strong>现金支付：</strong>
                        </td>
                        <td>&yen;{$getmemberrecharge['mrci_cashPaymentCount']}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="well m-t"><strong>备注：</strong> {$getmemberrecharge['mrci_note']}
                </div>
                <div class="text-right">

                    <button class="btn btn-primary" id="printnow" onclick="printdata()"><i class="fa fa-print" aria-hidden="true"></i> 打印</button>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function printdata(){
        $("#printnow").hide();
        window.print();
    }
</script>
{template 'web/common/footer'}