<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black"> 
<meta name="format-detection" content="telephone=no">
<title>首页 - {$cwgl_config['webtitle']}</title>
<link href="{$templateurl}/css/css.css" rel="stylesheet" type="text/css">
<link href="{$templateurl}/css/common.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{$templateurl}/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="{$templateurl}/js/swipe.js"></script>
<script type="text/javascript">
	document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {WeixinJSBridge.call('hideToolbar');});
	$(function(){
		new Swipe(document.getElementById('banner_box'), {
			speed:500,
			auto:3000,
			callback: function(){
				var lis = $(this.element).next("ol").children();
				lis.removeClass("on").eq(this.index).addClass("on");
			}
		});
	});
</script>

</head>
<body>

<div id="content" style="top:0px;">
 <div class="banner">
      <div id="banner_box" class="box_swipe">
        <ul>
			{loop $flash_list $value}
			<li><a href="{$value[urlt]}" ><img alt="{$value[titlename]}" src="{php echo tomedia($value[imgurl]);}" style="width:100%;"/></a></li>
			{/loop}
        </ul>
        <ol>
			{loop $flash_list $i $value}
			<li {if $i==0}class="on"{/if}></li>
			{/loop}
        </ol>
      </div>
  </div>
<div class="topnav">
	<ul>
		{if $nav_list}
		{loop $nav_list $value}
		<li><a href="{$value[urlt]}"><img src="{php echo tomedia($value[imgurl]);}" border="0"></a><p>{$value[titlename]}</p></li>
		{/loop}
		{else}
		<li><a href="{php echo $this->createMobileUrl('fw_lsit_index')}"><img src="{$templateurl}/images/dh01.gif" border="0"></a><p>服务项目</p></li>
		<li><a href="{php echo $this->createMobileUrl('user_paycost')}"><img src="{$templateurl}/images/dh02.gif" border="0"></a><p>在线缴费</p></li>
		<li><a href="{php echo $this->createMobileUrl('user_tallylist')}"><img src="{$templateurl}/images/dh03.gif" border="0"></a><p>记账查询</p></li>
		<li><a href="{php echo $this->createMobileUrl('user_ywlist')}"><img src="{$templateurl}/images/dh04.gif" border="0"></a><p>业务请求</p></li>
		<li><a href="{php echo $this->createMobileUrl('user_accounting')}"><img src="{$templateurl}/images/dh05.gif" border="0"></a><p>公司会计</p></li>
		{/if}
	</ul>
</div>

{if $notice_list}
<script type="text/javascript" src="{$templateurl}/js/MessageRoll.js"></script>
<div class="ingg" >
	<ul style="height: 61px; overflow: hidden; margin-top:15px;" id="demo01">
		{loop $notice_list $value}
		<li><a href="{php echo $this->createMobileUrl('notice_show', array('id' => $value['id']));}">{$value['titlename']}</a></li>
		{/loop}
	</ul>
</div>
<script type="text/javascript">

   /*构造滚动对象方法*/
   var roll = new MessageRoll({
    container : document.getElementById("demo01"), // 滚动的容器
    height : 60 + 1 , // 滚动信息条的高度,算上底边框1px,如果没有底边框则不加1
    rollElements : "li" // 滚动元素的html标记名称
   });
   roll.start(2000); //开始滚动,每三秒滚动一次
  
</script>
{/if}

<div class="inboxbj">
<div class="titlecss">
	<ul>
		<li class="titleico"><img src="{$templateurl}/images/int01.gif"></li>
		<li class="titlecontent">业务推荐</li>
		<li class="titlemore "><a href="{php echo $this->createMobileUrl('fw_lsit_index')}" style="color:#FFFFFF;">更多</a></li>
	</ul>
</div>

<div class="tjgg">
	<ul>
		{if $ad_list_1}
		{loop $ad_list_1 $value}
		<li><a href="{$value[urlt]}"><img src="{php echo tomedia($value[imgurl]);}" border="0" height="100"></a></li>
		{/loop}
		{else}
		<li><img src="{$templateurl}/images/gg01.jpg" height="100"></li>
		{/if}
		{if $ad_list_2}
		{loop $ad_list_2 $value}
		<li><a href="{$value[urlt]}"><img src="{php echo tomedia($value[imgurl]);}" border="0" height="100"></a></li>
		{/loop}
		{else}
		<li><img src="{$templateurl}/images/gg02.jpg" height="100"></li>
		{/if}
		{if $ad_list_3}
		{loop $ad_list_3 $value}
		<li><a href="{$value[urlt]}"><img src="{php echo tomedia($value[imgurl]);}" border="0" height="100"></a></li>
		{/loop}
		{else}
		<li><img src="{$templateurl}/images/gg03.jpg" height="100"></li>
		{/if}
		{if $ad_list_4}
		{loop $ad_list_4 $value}
		<li><a href="{$value[urlt]}"><img src="{php echo tomedia($value[imgurl]);}" border="0" height="100"></a></li>
		{/loop}
		{else}
		<li><img src="{$templateurl}/images/gg04.jpg" height="100"></li>
		{/if}
	</ul>
</div>
</div>

{if $ad_list_big}
{loop $ad_list_big $value}
<div class="inboxbj_ght"><a href="{$value[urlt]}"><img src="{php echo tomedia($value[imgurl]);}" border="0" ></a></div>
{/loop}
{else}
<div class="inboxbj_ght"><img src="{$templateurl}/images/gg05.jpg"></div>
{/if}

{loop $category_fw $value}
<div class="inboxbj">

	<div class="titlecss">
		<ul>
			<li class="titleico"><img src="{$templateurl}/images/int02.gif"></li>
			<li class="titlecontent">{$value['name']}</li>
			<li class="titlemore "><a href="{php echo $this->createMobileUrl('fw_lsit', array('type' => $value['cid']));}" style="color:#FFFFFF;">更多</a></li>
		</ul>
	</div>
	<div class="inshop">
		<ul>
			{loop $value['list_fw'] $valuesd}
			<li>
				<div class="inshopimg"><a href="{php echo $this->createMobileUrl('fw_show', array('id' => $valuesd['id']));}" ><img src="{php echo tomedia($valuesd[imgurl]);}" onerror="this.src='./resource/images/nopic.jpg'; this.title='缩略图片未上传.'"/></a></div>
				<div class="inshoptitle"><dl><dt>{$valuesd['titlename']}</dt><dd>{$valuesd['jianjie']}</dd></dl></div>
				<div class="inshopprice"><dl><dt>价格：</dt><dd>￥{$valuesd['price']} </dd></dl><div class="inpricemore"><a href="{php echo $this->createMobileUrl('fw_show', array('id' => $valuesd['id']));}" style="color:#FFFFFF;">查看详情</a></div></div>
			</li>
			{/loop}
		</ul>
	</div>
</div>
{/loop}

{loop $category_zw $value}
<div class="inboxbj">
	<div class="titlecss">
		<ul>
			<li class="titleico"><img src="{$templateurl}/images/int03.gif"></li>
			<li class="titlecontent">{$value['name']}a</li>
			<li class="titlemore "><a href="{php echo $this->createMobileUrl('yg_lsit', array('type' => $value['cid']));}" style="color:#FFFFFF;">更多</a></li>
		</ul>
	</div>
	<div class="inshop">
		<ul>
			{loop $value['list_zw'] $valuesd}
			<li>
				<div class="inkjimg">
					{if $valuesd[avatar]}
					<img src="{php echo tomedia($valuesd[avatar]);}" onerror="this.src='./resource/images/nopic.jpg'; this.title='缩略图片未上传.'" />
					{else}
					<img src="../addons/{$_GPC['m']}/template/noavatar_middle.gif" />
					{/if}
				</div>
				<div class="inshoptitle">
					<dl>
						<dt>{$valuesd['name']}</dt>
						<dd>{$valuesd['message']}</dd>
					</dl>
				</div>
				<div class="inshopprice"><div class="inkjmore"><a href="{php echo $this->createMobileUrl('yg_show', array('id' => $valuesd['id']));}" style="color:#FFFFFF;">查看详情</a></div></div>
			</li>
			{/loop}
		</ul>
	</div>
</div>
{/loop}

{if $cwgl_config['copyright']}
<style>
.copyright{
	background-color: #FFFFFF;
	float: left;
	width: 100%;
	margin-top: 10px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.copyright .copyrightp{
	padding:15px;
	text-align: center;
}
</style>
<div class="copyright">
	<div class="copyrightp">
	{$copyright}
	</div>
</div>
{/if}
</div>
  
<!--footer star-->
{template 'footer'}
<!--footer end-->
</body>
</html>
