<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black"> 
<meta name="format-detection" content="telephone=no">
<title>员工添加事项进度页页 - {$cwgl_config['webtitle']}</title>
<link href="{$templateurl}/css/css.css" rel="stylesheet" type="text/css">
<link href="{$templateurl}/css/common.css" rel="stylesheet" type="text/css">
</head>
<body >
<div class="head">
	<div class="content-top clearFix">
    <a href="{$urltk}">
	<em class="return"><</em>
	<span class="fanhui">返回</span>
	</a>
   </div>
</div>
	
<div id="content" >
  
   <div class="k-manage-bd">
      <div class="titbox">
	    <h3 class="htit">添加事项进度</h3>
	  </div>
	  <div class="daiban-box">
	  	 <form name="formpt" action="{php echo $this->createMobileUrl('staff_ywlist', array('op' => 'add', 'id' => $id))}" method="post" class="form-horizontal form" >
		 <input type="hidden" name="token" value="{$_W['token']}" />
	     <div class="box1">
		  <p>委托人：<span class="c666" >{$usershow['compname']}</span></p>
		  <p>办理人：<span class="c666">{$profile_t['name']}</span></p>
		  <P>办理事项：<span class="c666">{$category[$srdb['type']]['name']}</span></P>
		  <p>添加进度：</p> 
		  <p><textarea name="content" class="y-textarea"></textarea></p>       
		 </div>
		 <input type="submit" name="add_submit" value="添加进度" class="y-submit"/>
		 </form>
	  </div>
   </div>
   
</div>
<!--footer star-->
{template 'staff_footer'}
</body>
</html>
