<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black"> 
<meta name="format-detection" content="telephone=no">
<title>服务订单进度详情页 - {$cwgl_config['webtitle']}</title>
<link href="{$templateurl}/css/css.css" rel="stylesheet" type="text/css">
<link href="{$templateurl}/css/common.css" rel="stylesheet" type="text/css">
</head>
<body >
<div class="head">
	<div class="content-top clearFix">
    <a href="{$urltk}">
	<em class="return"><</em>
	<span class="fanhui">返回</span>
	</a>
   </div>
</div>
	
<div id="content" >
   
   <div class="schedule-bd">
	 <div class="box-top">
	   <P>服务项目：{$service_show['titlename']}</P>
       <P>最新进度：</P>
	 </div>
	 <div class="schedule">
	   {loop $list_progress $value}
	   <p>
	     <span class="spantime">{php echo date('Y-m-d H:i', $value['dateline']);}</span> 
		 <span>{$value['content']}</span>
	   </p>
       {/loop}
	 </div>
   </div>
  
</div>

<!--footer star-->
{template 'user_footer'}
</body>
</html>
