<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black"> 
<meta name="format-detection" content="telephone=no">
<title>在线缴费页 - {$cwgl_config['webtitle']}</title>
<link href="{$templateurl}/css/css.css" rel="stylesheet" type="text/css">
<link href="{$templateurl}/css/common.css" rel="stylesheet" type="text/css">

<!--分页-->
<link href="./resource/css/bootstrap.min.css" rel="stylesheet">
<!--分页-->
<style>
	.form-control_pp{width:180px;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
	.tab_menu li a{ color:#666666; display:block;}
	.tab_menu .selected a{ color:#FFFFFF;}
</style>
</head>
<body >
<div class="head">
	<div class="content-top clearFix">
    <a href="{php echo $this->createMobileUrl('user_index')}">
	 <em class="return"><</em>
	<span class="fanhui">返回</span>
	</a>
   </div>
</div>

<div id="content">

   <div class="tab-bd clearFix" id="tab">
	   <ul class="tab_menu_t clearFix">
			<li {if $_GPC['type']==''}class="selected"{/if}><a href="{$urltk}" style="display:block;">未支付</a></li>
			<li {if $_GPC['type']=='1'}class="selected"{/if}><a href="{$urltk}&type=1" style="display:block;">已支付</a></li>
	   </ul>
	   <div class="tab_box">
		  <div class="business-list">
			 <ul>
			  {loop $list $key $value}
			   <li>
				<div class="service-info">
				   <p>
					<span>缴费项目：</span>
					<span>{$value['titlename']}</span>
				   </p>
				   <p>
					<span>缴费类型：</span>
					<span>{if $value['type']==1}默认服务费用{else}其他{/if}</span>
				   </p>
				   <p>
					<span>缴费费用：</span>
					<span>￥<a class="tip">{$value['paymoney']}</a></span>
				   </p>
				   <p>
					<span>发布时间：</span>
					<span class="c666">{php echo date('Y-m-d H:i', $value['dateline']);}</span>
				   </p>
				 </div>
				 <a href="{$urltk}&op=view&id={$value[id]}" class="look-more">查看详情</a>
			   </li>
			   {/loop}
			 </ul>
		  </div>
		  <div style="padding: 0 10px; text-align:center;">
			<style>.pagination {margin-top: 0px;}</style>
			{$pager}
		  </div>
	  </div>
	  
	</div>
   
</div>

<!--footer star-->
{template 'user_footer'}
</body>
</html>
