<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black"> 
<meta name="format-detection" content="telephone=no">
<title>客户投诉页面 - {$cwgl_config['webtitle']}</title>

<link href="{$templateurl}/css/css.css" rel="stylesheet" type="text/css">
<link href="{$templateurl}/css/common.css" rel="stylesheet" type="text/css">
</head>
<body >
<div class="head">
	<div class="content-top clearFix">
    <a href="{php echo $this->createMobileUrl('user_index')}">
	<em class="return"><</em>
	<span class="fanhui">返回</span>
	</a>
   </div>
</div>

<div id="content">
   
   <div class="contbox">
     <div class="titbox">
	   <i class="toushu"></i>
	   <span>投诉</span>
	 </div>
	 <script>
	function ckd(){					
		var titlename = document.p_register.titlename.value;
		if(titlename == ""){
			alert("请输入投诉标题!");
			document.p_register.titlename.focus();
			return false; 
		}
		var content = document.p_register.content.value;
		if(content == ""){
			alert("请输入投诉标内容!");
			document.p_register.content.focus();
			return false; 
		}  
	}
	</script>
	 <form name="p_register" action="{$urltk}" method="post" onSubmit="return ckd();">
     <input name="token" type="hidden" value="{$_W['token']}" />
	 <div class="toushu-bd">
	     <div class="message clearFix">
		   <label>投诉标题：</label>
		   <input type="text" name="titlename" class="toushu-inp">
		 </div>
		  <div class="message clearFix">
		   <label>投诉内容：</label>
		   <textarea name="content" class="textarea"></textarea>
		 </div>
		 <input type="submit" name="save_submit" value="提交" class="submit" >
	 </div>
	 </form>
   </div>
  
</div>
<!--footer star-->
{template 'user_footer'}
</body>
</html>
