<include file="Public/header.html"/>
</head>

<body>
    <div class="x-body">
        <blockquote class="layui-elem-quote">
            <img src="{$member['avatar']}" class="layui-circle" style="width:50px;float:left">
            <dl style="margin-left:80px; color:#019688">
            <dt><span >{$member['nickname']}</span> <span ></span></dt>
            <dd style="margin-left:0">
            	<?php 
            		if($member['name'] == ''){ 
            		    echo '<span class="layui-badge">未完善资料 </span>';
            		}else {
            			echo '<span class="layui-badge layui-bg-green">已完善资料 </span>';
            	    }
            	 ?>
            </dd>
          </dl>
          
        </blockquote>
        <div class="pd-20">
          <table  class="layui-table" lay-skin="line">
            <tbody>
             <tr>
                <th  width="80">真实姓名：</th>
                <td>{$member['name']}</td>
              </tr>
              <tr>
                <th  width="80">身份证号：</th>
                <td>{$member['idcard']}</td>
              </tr>
            	
              <tr>       
                <th  width="80">性        别：</th>
                <td><?php if($member['sex'] == 1){ echo '男';}elseif($member['sex'] == 2){ echo '女'; }else{ echo '保密'; } ?></td>
              </tr>
              <tr>
                <th>联系手机：</th>
                <td>{$member['telephone']}</td>
              </tr>
              <tr>
                <th>电子邮箱：</th>
                <td>{$member['email']}</td>
              </tr>
              
               <tr>
                <th>出生日期：</th>
                <td>{$member['birthday']}</td>
              </tr>
              
              <tr>
                <th>注册时间：</th>
                <td><?php echo  date('Y-m-d H:i:s', $member['add_time']); ?></td>
              </tr>
          
            </tbody>
          </table>
        </div>
    </div>
    <include file="Public/footer.html"/>
    </script>
    <script>
        layui.use(['form'], function(){ });
    </script>
 
</body>

</html>