{template 'common/header'}
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
        <div class="panel panel-default">
            <div class="panel-heading">短信设置</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">短信账号</label>
                    <div class="col-xs-12 col-sm-5">
                        <input class="form-control"  name="smsid" value="{$settings['smsid']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">短信密码</label>
                    <div class="col-xs-12 col-sm-5">
                        <input class="form-control"  name="smspd" value="{$settings['smspd']}">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                模板消息设置
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">试听预约结果：</label>
                    <div class="col-sm-10">
                        <input type="text" name="shiting_tplid"  value="{$settings['shiting_tplid']}" class="form-control" placeholder="试听预约结果">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">购买合同通知：</label>
                    <div class="col-sm-10">
                        <input type="text" name="purch_tplid" value="{$settings['purch_tplid']}" class="form-control" placeholder="购买合同通知">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">上课签到结果：</label>
                    <div class="col-sm-10">
                        <input type="text" name="sign_tplid"  value="{$settings['sign_tplid']}" class="form-control" placeholder="上课签到结果">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">教师评价通知：</label>
                    <div class="col-sm-10">
                        <input type="text" name="comment_tplid"  value="{$settings['comment_tplid']}" class="form-control" placeholder="教师评价通知">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">新作品上传通知：</label>
                    <div class="col-sm-10">
                        <input type="text" name="product_tplid" value="{$settings['product_tplid']}" class="form-control" placeholder="新作品上传通知">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
            <input type="hidden" name="token" value="{$_W['token']}" />
        </div>
    </form>
</div>
{template 'common/footer'}