@charset "utf-8";
/* CSS Document */
*{margin:0px;padding:0px;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0px;}
.clear{overflow:hidden;zoom:1;clear:both;}
ul{list-style:none;}
a{ text-decoration:none; blr:expression(this.onFocus=this.blur()); /* IE Opera */ outline:none; /* FF Opera */ }
a:focus{ -moz-outline-style: none; /* FF */ }
img{border:none;outline:none;maigin:0px;padding:0px;vertical-align:left;display:block;}
body{font-family:'微软雅黑', Arial, Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;outline: none;color:#575757;font-size:14px}

.all{width:100%;margin:0 auto;margin-bottom:45px;}
.img1{width:100%;margin:0 auto;text-align:center;}
.img3{margin:0 auto;}
.img3 img{width:100%}

/*表单*/
.piece{margin:5px 0 15px 0}
.input-group-addon-i{font-size: 12px;color: #464646;text-align: center;line-height: 1;margin-bottom: 10px;color: #808080;}
.input-group-i{padding: 5px 18px;position: relative;border-collapse: separate;}
.form-control{margin-top:5px;padding-left:5px;display:block;width:100%;height:38px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;box-shadow:inset 0 1px 1px rgba(0,0,0,.075);transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
.form-control::-moz-placeholder{color:#999;opacity:1}
.form-control:-ms-input-placeholder{color:#999}
.form-control::-webkit-input-placeholder{color:#999}
.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control{background-color:#eee;opacity:1}
.form-control[disabled],fieldset[disabled] .form-control{cursor:not-allowed}
textarea.form-control{height:auto}
input[type=search]{-webkit-appearance:none}
.city-box {
    padding: 0 15px;
}

.btn-i { display: block;cursor: pointer;color: #fff;height: 42px;line-height: 42px;text-align: center; box-sizing: border-box;text-decoration: none;font-size: 16px;width: 100%;padding: 0;border: none;border-radius: 4px;background-color: #f3792c;-webkit-user-select: none;-webkit-appearance:none}
.warn-star:after {
    content: ' *';
    color: #f85959;
}



.cang{width:100%;height:150px;padding:10px 0;overflow:hidden;background: #d0000e;margin:15px 0 5px}
.cang h2{color:#fff;height:30px;line-height:30px;margin-bottom:5px;font-size:20px; text-align:center}
.cang span{color:#FF0;padding:0 5px}

.colockbox{width:283px;height:76px;margin:0px auto;background:url(../Images/colockbg.png) no-repeat;}
.colockbox span{float:left;display:block;width:58px;height:48px;line-height:48px;font-size:26px;text-align:center;color:#000;margin:0 3px 0 0;}
.wenzi{margin-left:110px;}
.colockbox span.second{margin:0;}
.cang p{font-size:16px;color:#FF0; text-align:center;margin-bottom:5px}



.tels a{    display: block;cursor: pointer;color: #fff;height: 42px;line-height: 42px;text-align: center;box-sizing: border-box; text-decoration: none;font-size: 16px;width: 90%;padding: 0;border: none;border-radius: 4px; background-color: #D00000; -webkit-user-select: none;-webkit-appearance: none;margin:0 auto;}

/* 通用 */
::-webkit-input-placeholder {font-size:12px; }
::-moz-placeholder {font-size:12px;} /* firefox 19+ */
:-ms-input-placeholder {font-size:12px;} /* ie */
input:-moz-placeholder {font-size:12px;}

/*底部*/
.foot{width:100%;height:45px;line-height:45px;margin:0 auto;padding:0px 0px;overflow:hidden;position:fixed;bottom:0px;left:center; background-color:#d33f31}
.tel{width:50%;float:left;border-right:1px solid #dd584b;text-align:center}
.tel a{font:normal 16px "微软雅黑";display:block;text-align:center;height:45px;line-height:45px;color:#fff;}

.gou{width:49%;float:right;text-align:center}
.gou a{font:normal 16px "微软雅黑";display:block;text-align:center;height:45px;line-height:45px;color:#fff;}


/*滚动*/
.scrollbox{ width: 100%; margin: 0 auto; overflow: hidden;}
#scrollDiv{width:100%;height:115px; overflow:hidden;padding: 10px; }/*这里的高度和超出隐藏是必须的*/
#scrollDiv li{height:30px; width:100%; padding:0 20px;overflow:hidden; vertical-align:bottom; zoom:1; border-bottom:#B7B7B7 dashed 1px;}
#scrollDiv li h3{font-weight:normal;font-size:12px; color:#353535; line-height:30px; width:80%; text-align:center}
#scrollDiv li h3 a{color:#353535; text-decoration:none}
#scrollDiv li h3 a:hover{ color:#F00}

.scroltit{ height:26px; line-height:26px; padding-bottom:4px; margin-bottom:4px;}
.scroltit h3{ width:100px; float:left;}
