<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="<?php  echo $_W['siteroot'];?>app/resource/css/common.min.css" rel="stylesheet">
        <link href="../addons/wxz_piclive/css/addImage/mui.css" rel="stylesheet" />
		<link href="../addons/wxz_piclive/css/addImage/tempSale_css.css" rel="stylesheet" />
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../addons/wxz_piclive/css/addImage/app.css" />
		<link href="../addons/wxz_piclive/css/addImage/mui.picker.css" rel="stylesheet" />
		<link href="../addons/wxz_piclive/css/addImage/mui.poppicker.css" rel="stylesheet" />
        <script src="../addons/wxz_piclive/css/sellercentral/jquery-1.11.1.min.js"></script>
        <script src="../addons/wxz_piclive/template/mobile/js/util.js"></script>
        <script src="<?php  echo $_W['siteroot'];?>app/resource/js/require.js"></script>
		<script type="text/javascript" src="<?php  echo $_W['siteroot'];?>app/resource/js/app/common.js"></script>
        <style>
            input[type='submit'], .mui-btn-primary, .mui-btn-blue {
                color: #fff;
                border: 1px solid #04be02;
                background-color: #04be02;
            }
            .mui-toast-container{bottom:1000px;margin-left:0px;}
        </style>
        </head>

	<body>
        <link href="../addons/wxz_piclive/css/sellercentral/mui-switch.css" rel="stylesheet" type="text/css">
		<script src="../addons/wxz_piclive/template/mobile/js/mui.min.js"></script>
        <form id="imageform" method="post"  enctype="multipart/form-data" action="<?php  echo $actionUrl;?>" onsubmit="return checkForm()">
		<div style="height: 10px;"></div>
		
		<div class="present_img_box" style='padding:0px;'>
			<div style='padding:14px;'>
				第一步：复制源文件到模块目录<br/>
				第二步：处理源文件;建议10张以内<br/>
				注意：程序随着图片越多，处理时间越长，请不要关闭页面！<br/>
案例路径：/www/wwwroot/hefei.hfwxz.com/attachment/uplaodimg</div>
			<div class="present_img">
                <div class="mui-input-cell">
                       <input type="text" name="imagepath" id="imagepath" value="">
                </div>

			</div>
		</div>
		
		<div id="infosect" style="color:#777777; font-size: 12px; padding: 6px 6px 14px 14px;">
			当前直播间：{$liveRow['live_name']}
		</div>
                
        <div class="form-group col-sm-12" style='text-align: center;'>
			<input type="submit" name="submit" value="提 交" class="btn btn-primary col-lg-1">
		</div>
		</from>
		
	</body>

</html>