{template 'public/header'}
<link href="{MODULE_URL}static/js/artDialog/skins/twitter.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{MODULE_URL}static/js/artDialog/artDialog.js"></script>
<script type="text/javascript" src="{MODULE_URL}static/js/artDialog/plugins/iframeTools.js"></script>

<body data-spy="scroll" data-target="#myScrollspy">

<div class="ub ub-ver page c-wh">
  <!--图片展示-->
  {if $item['pic'] == ''}
  	<div class="ub imgbox3 ub-img1" style="background-image:url({MODULE_URL}static/takeout/images/nopic.jpg)"></div>
  {else}
  	{if strstr($item['pic'],'images')}
  		<div class="ub imgbox3 ub-img1" style="background-image:url({$_W['attachurl']}{$item['pic']})"></div>
    {else}
    	<div class="ub imgbox3 ub-img1" style="background-image:url({$_W['attachurl']}gohome/currypic/{$item['pic']})"></div>
    {/if}
  {/if}

  <div class="ub ub-f1 uinn">{$item['curry_name']}</div>
  <div class="ub ub-f1 ulev-4 t-dgra uinn1">
  	销量 {$item['allsum']}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  	赞{$item['zan']}
  </div>
  
  <div class="ub ub-f1 ub-ac ub-pc uinn ubb b-bla01">
  	<div class="ub-f1 t-blu ulev1">￥{$item['price']}</div>
  </div>
  <!--商品详情-->
  <div class="ubb b-bla01 ub-f1 ub ub-ver">
   <div class="ub ub-f1 uinn11 ub-ac"><i class="iconfont icon-shuxian t-blu"></i> <font class="t-dgra">商品详情</font></div>
   <div class="ub ub-f1 t-line12 ulev-1 umar-l uinn">{$item['remark']}</div>
  </div>

  <div class="umar-b1 umar-l umar-r umar-t1 pc_btn"> <a onclick="closewin()" class="weui_btn weui_btn_primary">关闭</a> </div>

</div>   

{template 'public/footerjs'}

<script type="text/javascript">
function closewin(){
	window.top.art.dialog({id:'diaPage'}).close();
}

</script>
</body>
</html>
