{template 'public/header'}

<body>
<div class="ub ub-ver page bga" id="page0"> 
  <!--列表 star-->
  <div class="ub ub-ver ub-f1" >
    
    <div class="ub ub-f1 ub-ver  c-wh">
    {if $list[0]['id'] == '' && $list1[0]['id'] == ''}
    <div class="weui_msg">
       <div class="weui_icon_area"><i class="weui_icon_msg weui_icon_warn"></i></div>
       <div class="weui_text_area">
           <h2 class="weui_msg_title">暂无数据</h2>   
       </div>
    </div>
    {else}
      <ul class="wm_fav_ul" id="show">
          <!--循环开始-->
          {loop $list $vo}
          <li class="uinn212 ubb b-bla01 ub-f1 ub ub-pc">
            {if $vo['coverpic'] == ''}
              <a class="ub picbox ub-img1 uba b-bla01" style="background-image:url({$_W['MODULE_URL']}static/takeout/images/nopic.jpg)" href="{php echo $this->createMobileUrl('takeout',array('foo'=>'page', 'id'=>$vo['id']));}"></a>
            {else}
              {if strstr($vo['coverpic'],'images') == 1}
                <a class="ub picbox ub-img1 uba b-bla01" style="background-image:url({$_W['attachurl']}{$vo['coverpic']})" href=""></a>
              {else}
                <a class="ub picbox ub-img1 uba b-bla01" style="background-image:url({$_W['attachurl']}gohome/coverpic/{$vo[coverpic]})" href=""></a>
              {/if}
            {/if}       
          <div class="ub-f1 umar-l umar-r">
          <a class=" ub ub-ver" href="{php echo $this->createMobileUrl('takeout',array('foo'=>'page', 'id'=>$vo['id']));}">
            <div class="ub-f1 ub ub-ac">
              <div class="ub-f1 font-b">{$vo['merchant_name']}</div>
              <div class="ub t-gra ulev-2"></div>
            </div>
            <div class="ub-f1 ub ub-pc ub-ac">
              <div class="ub-f1 ulev-2 umar-t">
                {if $vo['xing']/$vo['person'] == 1}
                <i class="iconfont icon-wujiaoxing t-org"></i> 
                <i class="iconfont icon-wujiaoxing t-gra"></i>
                <i class="iconfont icon-wujiaoxing t-gra"></i>
                <i class="iconfont icon-wujiaoxing t-gra"></i>
                <i class="iconfont icon-wujiaoxing t-gra"></i>
                {/if}
                {if $vo['xing']/$vo['person'] == 2}
                <i class="iconfont icon-wujiaoxing t-org"></i> 
                <i class="iconfont icon-wujiaoxing t-org"></i>
                <i class="iconfont icon-wujiaoxing t-gra"></i>
                <i class="iconfont icon-wujiaoxing t-gra"></i>
                <i class="iconfont icon-wujiaoxing t-gra"></i>
                {/if}
                {if $vo['xing']/$vo['person'] == 3}
                <i class="iconfont icon-wujiaoxing t-org"></i> 
                <i class="iconfont icon-wujiaoxing t-org"></i>
                <i class="iconfont icon-wujiaoxing t-org"></i>
                <i class="iconfont icon-wujiaoxing t-gra"></i>
                <i class="iconfont icon-wujiaoxing t-gra"></i>
                {/if}
                {if $vo['xing']/$vo['person'] == 4}
                <i class="iconfont icon-wujiaoxing t-org"></i> 
                <i class="iconfont icon-wujiaoxing t-org"></i>
                <i class="iconfont icon-wujiaoxing t-org"></i>
                <i class="iconfont icon-wujiaoxing t-org"></i>
                <i class="iconfont icon-wujiaoxing t-gra"></i>
                {/if}
                {if $vo['xing']/$vo['person'] == 5}
                <i class="iconfont icon-wujiaoxing t-org"></i> 
                <i class="iconfont icon-wujiaoxing t-org"></i>
                <i class="iconfont icon-wujiaoxing t-org"></i>
                <i class="iconfont icon-wujiaoxing t-org"></i>
                <i class="iconfont icon-wujiaoxing t-org"></i>
                {/if}

                <font class="t-gra">销量{$vo[ordersum]}单</font>
              </div>

              <div class="ub ulev-2 t-gra"></div>
            </div>
            <div class="ub-f1 ub ub-pc ub-ac t-line10 ubb b-bla01 uinn11">
              <div class="ub-f1 ulev-2 t-gra">起送价 ￥{$vo[merchant_price]}<font class="t-dgra">|</font> 配送费 ￥{$vo[merchant_song]}
            </div>
              <div class="ub ulev-2 t-blu uba b-blu uc-a15"><i class="iconfont icon-motuoche"></i>快速配送</div>
            </div>
            </a>
            <div class="ub ub-f1 ub-ver umar-t">
            <div class="absolute expend"><a href="javascript:void();" onClick="displayPanel(this);" class="arrow-down block"></a></div>
            <div class="slidePanel">
                <dl>
                    {if $vo['new_disc'] == 1}
                    <dd class="ub-f1 ub ub-pc ub-ac ulev-2" >
                        <div class="ub youhui c-org t-wh ub-ac ub-pc uc-a15">首</div>
                        <div class="ub-f1 umar-l">新用户立减{php echo $this->getDiscInfo($vo['id'], 'new_disc')}</div>
                    </dd>
                    {/if}
                    {if $vo['man1_disc'] == 1}
                    <dd class="ub-f1 ub ub-pc ub-ac ulev-2" >
                        <div class="ub youhui c-red1 t-wh ub-ac ub-pc uc-a15">减</div>
                        <div class="ub-f1 umar-l">在线支付满{php echo $this->getDiscInfo($vo['id'], 'man_1')}减{php echo $this->getDiscInfo($vo['id'], 'jian_1')}</div>
                    </dd>
                    {/if}
                    {if $vo['man2_disc'] == 1}
                    <dd class="ub-f1 ub ub-pc ub-ac ulev-2" >
                        <div class="ub youhui c-red1 t-wh ub-ac ub-pc uc-a15">减</div>
                        <div class="ub-f1 umar-l">在线支付满{php echo $this->getDiscInfo($vo['id'], 'man_2')}减{php echo $this->getDiscInfo($vo['id'], 'jian_2')}</div>
                    </dd>
                    {/if}
                    {if $vo['man3_disc'] == 1}
                    <dd class="ub-f1 ub ub-pc ub-ac ulev-2" >
                        <div class="ub youhui c-red1 t-wh ub-ac ub-pc uc-a15">减</div>
                        <div class="ub-f1 umar-l">在线支付满{php echo $this->getDiscInfo($vo['id'], 'man_3')}减{php echo $this->getDiscInfo($vo['id'], 'jian_3')}</div>
                    </dd>
                    {/if}
                    {if $vo['man1_disc'] == 1}
                    <dd class="ub-f1 ub ub-pc ub-ac ulev-2">
                        <div class="ub youhui c-org t-wh ub-ac ub-pc uc-a15">折</div>
                        <div class="ub-f1 umar-l">折扣商品打{php echo $this->getDiscInfo($vo['id'], 'disc')}折</div>
                    </dd>
                    {/if}                  
                    
                </dl>
            </div>
            </div>
          </div>
          </li>
          {/loop}
          </ul>

          <!--循环结束-->
          <ul class="fav_ul">
            {loop $list1 $vo1}
              <li class="uinn212 ubb b-bla01 ub-f1 ub ub-ac ub-pc">
                <a href="{php echo $this->createMobileUrl('takeout',array('foo'=>'page', 'id'=>$vo1['merchant_id']));}" class="ub ub-f1 ub-ac ub-pc">
                  {if $vo1['pic'] == ''}
                    <div class="ub picbox ub-img1" style="background-image:url({$_W['MODULE_URL']}static/takeout/images/nopic.jpg)"></div>
                  {else}
                    {if strstr($vo1['pic'],'images') == 1}
                      <div class="ub picbox ub-img1" style="background-image:url({$_W['attachurl']}{$vo1['pic']})"></div>
                    {else}
                      <div class="ub picbox ub-img1" style="background-image:url({$_W['attachurl']}gohome/currypic/{$vo1[pic]})"></div>
                    {/if}
                  {/if}
                  <div class="ub-f1 umar-l ub ub-ver" style="height:6rem">
                    <div class="ub-f1 ub ub-ac">
                      <div class="ub-f1 font-b">{$vo1['curry_name']}</div>
                      <div class="ub t-dgra ulev-4">{php echo $this->getMerchantInfo($vo1['merchant_id'], 'merchant_name')}</div>
                    </div>
                    <div class="ub-f1 line2stop t-line15 ulev-1 t-dgra uinn11 umar-t1" style="height:4rem">{$vo1[remark]}</div>
                    <div class="ub-f1 ub ub-pc ub-ae umar-t1">
                      <div class="ub-f1"><font class="ulev2 t-blu2">￥{$vo1[price]}</font><span class="ulev-4 t-dgra"></span></div>
                      <div class="ub ulev-4 t-dgra">销量<font class="t-org">{$vo1[allsum]}</font>单</div>
                    </div>
                  </div>
                </a>
              </li>
            {/loop}          
          </ul>
    {/if}  
    </div>
    </div>
    <div style="height:3.5rem;"></div>
    <!--
    <div class=" ub ub-f1 fixed c-wh ubt b-bla01 ub-fh ub-ac" style="bottom:0; left:0; z-index:999">
      <div class="ub ulev-1 uinn t-bla04">价格都不满意，怎么办？</div>
        <a href="{php echo $this->createMobileUrl('needs', array('foo'=>'index',))}" class="c-red1 uinn8 t-wh ub-f1 umar-l block tx-c">发起竞单</a>
    </div>
    -->
    <!--
    <div class=" ub ub-f1 fixed c-wh ubt b-bla01 ub-fh ub-ac" style="bottom:0; left:0; z-index:999">
      <div class="ub ulev-1 uinn t-bla04">价格都不满意，怎么办？</div>
        <a href="{php echo $this->createMobileUrl('needs', array('foo'=>'index', 'id'=>$list1[0]['id']))}" class="c-red1 uinn8 t-wh ub-f1 umar-l block tx-c">发起竞单</a>
    </div>
    -->
    
 
  <!--列表end-->

 </div>
 {template 'public/footerjs'}
</body>
</html>
