{template 'public/header'}

<body data-spy="scroll" data-target="#myScrollspy">
<!--加载进度开始-->
<div id="pageLoader" class="weui_loading_toast" style="display:none">
  <div class="weui_mask_transparent"></div>
  <div class="weui_toast">
    <div class="weui_loading"> 
      <!-- :) -->
      <div class="weui_loading_leaf weui_loading_leaf_0"></div>
      <div class="weui_loading_leaf weui_loading_leaf_1"></div>
      <div class="weui_loading_leaf weui_loading_leaf_2"></div>
      <div class="weui_loading_leaf weui_loading_leaf_3"></div>
      <div class="weui_loading_leaf weui_loading_leaf_4"></div>
      <div class="weui_loading_leaf weui_loading_leaf_5"></div>
      <div class="weui_loading_leaf weui_loading_leaf_6"></div>
      <div class="weui_loading_leaf weui_loading_leaf_7"></div>
      <div class="weui_loading_leaf weui_loading_leaf_8"></div>
      <div class="weui_loading_leaf weui_loading_leaf_9"></div>
      <div class="weui_loading_leaf weui_loading_leaf_10"></div>
      <div class="weui_loading_leaf weui_loading_leaf_11"></div>
    </div>
    <p class="weui_toast_content">初始化设备</p>
  </div>
</div>
<!--加载进度结束-->

<div class="ub ub-ver page"> 
    <div class="fixed ub-f1 ub ub-ver ub-fh" style="left:0; top:0; z-index:99">
    <!--地址电话-->
     <form action="{php echo $this->createMobileUrl('search',array('foo'=>'searchok'))}" method="post" onsubmit="return checkform()">
     <div class="ubb uba b-bla uinn ub ub-f1 ub-ac ub-pc b-bla01 c-wh">
      <div class="ub-f1 uinn uba b-bla01 uc-a15 ulev-1">
       <i class="iconfont icon-sousuo"></i> <input name="keyword" id="keyword" type="text" placeholder="请输入商品名、商家名"></div>
      <input name="submit" type="submit" value="搜索" class="ub uinn ulev0 t-dgra" />
      <input type="hidden" name="token" value="{$_W['token']}" />
    </div>
    </form>
   </div>
   <div style="height:3.5rem;"></div>

   {if $list[0]['id'] != ''}
   <div class="ub ub-f1 ub-ver">
      <div class="uinn ub-f1 ulev-2 t-dgra">热门搜索</div>
      <div class="c-wh ubb uba b-bla01 ub-f1 uinn11">
        {loop $list $vo}
        <a href="{php echo $this->createMobileUrl('takeout',array('foo'=>'page', 'id'=>$vo['id']));}" class="uba b-bla02 uinn ulev-2 ufl block umar-a uc-a15">{$vo[merchant_name]}</a>
        {/loop}
      </div>
   </div>
   {/if}
  
</div>   

{template 'public/footerjs'}
<script type="text/javascript">
function checkform(){
  var keyword = $("#keyword").val();
  if(keyword == ''){
    return false;
  }
}
</script>

</body>
</html>
