<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
</head>

<body>
{template 'common/header'}
	<div class="panel panel-default">
  <div class="panel-heading">管理表单</div>
  <div class="panel-body">
       
       
       {loop $row $key $values}
       
       
   	<div class="panel panel-default" style="width:400px; float:left; margin-right:50px">
          <div class="panel-heading">{$values['title']}</div>
          <div class="panel-body">
           <!--<div align="center" >1</div>    
           	<br /> -->
       		<img src="{php echo tomedia($values['image'])}" alt="..." class="img-thumbnail">
            
       			<br /> 	<br />
      
       <a  href="{php echo  $this->createWebUrl('management',array('id'=>$values['id'],'rid'=>$values['rid']))}" class="btn btn-success" style="width:100%">管理该表单</a>
       <br /><br />
       <a  href="{php echo  $this->createWebUrl('datalist',array('id'=>$values['id'],'rid'=>$values['rid']))}" class="btn btn-success" style="width:100%">查看数据</a>
       
       
       <br />     <br />
       <div>
       入口URL：
       {$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&rid={$values['rid']}&do=index&m=hacker_diyform
		</div>
        
        
    </div>
  </div>   
		{/loop}

       
    
       
       
   </div>
  </div>
{template 'common/footer'}

</body>
</html>
