<div class="panel panel-default">
  <!--<div class="panel-heading"></div> -->
  <div class="panel-body">
   	
          <div class="form-group">
            <label for="exampleInputEmail1">表单名称</label>
            <input type="text" class="form-control" id="title"  name="title" placeholder="表单名称" value="{$row['title']}">
          </div>
          
          <div class="form-group">
            <label for="exampleInputPassword1">表单描述</label>
            <input type="text" class="form-control" id="description"  name="description" placeholder="表单描述"  value="{$row['description']}">
          </div>
        	
             <div class="form-group">
            <label for="exampleInputPassword1">入口封面</label>
   
           {php echo tpl_form_field_image('img',$row['image']);}
          </div>
          
          
                <div class="form-group">
            <label for="exampleInputPassword1">是否关注了才能填写</label>
   
           <select class="form-control" id="isfollow" name="isfollow">
              <option value="1" {if $row['isfollow']==1} selected="selected"{/if}>是</option>
              <option value="0" {if $row['isfollow']!=1} selected="selected"{/if}>否</option>
            </select>
          </div>
          
           <div class="form-group">
            <label for="exampleInputPassword1">用户最多提交次数</label>
            <input type="number" class="form-control" id="postnum"  name="postnum" placeholder="用户最多提交次数"  value="{$row['postnum']}">
            
            <span style="color:#F00">0为无限次</span>
          </div>
          
          
            <div class="form-group">
            <label for="exampleInputPassword1">提交后跳转的URL</label>
            <input type="text" class="form-control" id="url"  name="url" placeholder="提交后跳转的URL"  value="{$row['url']}">
            
            <span style="color:#F00">提交后跳转的URL 默认是跳转本页面</span>
          </div>
          
          
          
            <div class="form-group">
            <label for="exampleInputPassword1">是否开启消息通知</label>
   
           <select class="form-control" id="issend" name="issend">
              <option value="1" {if $row['issend']==1} selected="selected"{/if}>是</option>
              <option value="0" {if $row['issend']!=1} selected="selected"{/if}>否</option>
            </select>
          </div>
          
          
          
           <div class="form-group" id="issendmethod" style="display:none">
            <label for="exampleInputEmail1">消息通知方法</label>
            <select class="form-control" id="sendmethod" name="sendmethod">
              <option value="sms" {if $row['sendmethod']=='sms'} selected="selected"{/if}>短信通知</option>
              <option value="temp" {if $row['sendmethod']=='temp'} selected="selected"{/if}>模版消息通知</option>
            </select>
          </div>
          
          <div id="sms" style="display:none">
          <span style="color:#F00">短信方面采用互忆无线接口，请到互忆无线进行注册</span>
          <div class="form-group"  >
            <label for="exampleInputPassword1">短信联系人</label>
            <input type="text" class="form-control" id="smsnum"  name="smsnum" placeholder="短信联系人"  value="{$row['smsnum']}">
          </div>
          
          <div class="form-group">
            <label for="exampleInputPassword1">互忆无线帐号</label>
            <input type="text" class="form-control" id="smsuser"  name="smsuser" placeholder="互忆无线帐号"  value="{$row['smsuser']}">
          </div>
          
           <div class="form-group">
            <label for="exampleInputPassword1">互忆无线密码</label>
            <input type="text" class="form-control" id="smspass"  name="smspass" placeholder="互忆无线密码"  value="{$row['smspass']}">
          </div>
          
          </div>
          
          
          
          <div id="temp" style="display:none">
          <span style="color:#F00">模版消息基于openid请在粉丝营销找到自己的openid进行填写</span>
           <span style="color:#F00">选择一级行业其他 二级行业其他 服务工单提醒 编号OPENTM407072657</span>
           
          <div class="form-group"  >
            <label for="exampleInputPassword1">模版消息联系人openid</label>
            <input type="text" class="form-control" id="sendopenid"  name="sendopenid" placeholder="模版消息联系人openid"  value="{$row['sendopenid']}">
          </div>
          
          
             <span style="color:#F00">模版消息在公众号平台选择，这里填写模版消息ID</span>
          
           <div class="form-group"  >
            <label for="exampleInputPassword1">模版消息ID</label>
            <input type="text" class="form-control" id="sendid"  name="sendid" placeholder="模版消息ID"  value="{$row['sendid']}">
          </div>
          
          
          </div>
         
         
          
          
          <script>
		 $(document).ready(function() {
            	if($('#issend').val()==1){
					
					$('#issendmethod').show();
					
					
					if($('#sendmethod').val()=='sms'){
					
					$('#sms').show();
					$('#temp').hide();
					
					}else{
						
						$('#temp').show();
						$('#sms').hide();
						
						}
						
						
						
					}else{
						$('#issendmethod').hide();
						$('#temp').hide();
						$('#sms').hide();
						}	
        });
	
		  
          	$('#issend').change(function(){
			
				if($('#issend').val()==1){
					
					$('#issendmethod').show();
					
					
					if($('#sendmethod').val()=='sms'){
					
					$('#sms').show();
					$('#temp').hide();
					
					}else{
						
						$('#temp').show();
						$('#sms').hide();
						
						}
						
						
						
					}else{
						$('#issendmethod').hide();
						$('#temp').hide();
						$('#sms').hide();
						}
				
				})
				
				
				
				
				$('#sendmethod').change(function(){
				if($('#sendmethod').val()=='sms'){
					
					$('#sms').show();
					$('#temp').hide();
					
					}else{
						
						$('#temp').show();
						$('#sms').hide();
						
						}
				
				})
				
				
          
          </script>
          
        
  </div>
</div>