body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,form {
	margin: 0px; padding: 0px; font-size:14px; font-family:"微软雅黑";
}
ul,ol,li {
	list-style: none; 
}
body {
	 font-size:14px;background: #fff; color: #333;
}

em,small {
	font-style: normal; font-size: 14px;
}
img{
	border:none;
}
a{
	color:#000;
	text-decoration:none;
}
a:hover{
	color:#2C74AB;text-decoration:none
}
input,select,textarea,button{
	font-size:15px;
}
.top{ height:100px; background-repeat:no-repeat; background-size:cover; width:100%; margin-left:0px; margin-right:0px;background-image:url(../images/m_05_01.jpg);}
.nickname{ text-align:center; width:100%; font-size:16px; font-weight:bolder; line-height:100px;color:#FFF;}
.avatar{text-align:center; margin-top:-30px;}
.avatar img{ width:60px; height:60px; border-radius:30px;}
.mtitle{ font-size:16px; text-align:right; width:100%; line-height:35px; font-weight:bolder;}
.mconshow{ border-bottom:#F8F8F8 3px solid;border-top:#F8F8F8 3px solid; margin-top:20px; text-align:center;}
.mconshow-a{ height:60px; line-height:60px;background-color:#F8F8F8;}
.mconshow-b{ height:60px; line-height:60px;}
.mbtn{height:110px; margin-top:10px;}
.mbtnl{ margin:0px; padding:5px; position:relative;}
.mbtn-rh{ border-radius:10px; height:100px;}
.mbtnl .font{ position:absolute; bottom:10px; left:20px; line-height:30px; text-align:left; color:#FFF; font-size:16px; font-weight:bolder;}
.mbtnl .icon{ position:absolute; right:20px; top:20px; width:40px; height:40px;}
.mbtnl .icon img{ width:100%; height:100%;}

.mnav{ position:relative; line-height:40px; text-align:center; color:#FFF; font-size:20px; font-weight:bolder; }
.mbackbtn{ height:40px; width:60px; position:absolute; top:0px; left:0px;}
.mbackbtn_l{ height:40px;}
.mbackbtn img{ height:25px;}

.mcolor-a{ background-color:#7BA9FF;}
.mcolor-b{ background-color:#FF7A9D;}
.mcolor-c{ background-color:#FFCC7D;} 
.mcolor-d{ background-color:#6EE7DE;}
.mcolor-e{ background-color:#FC7D77;}
.mcolor-f{ background-color:#6CDAFD;}
.mcolor-g{ background-color:#6EE7DE;}
.mcolor-h{ background-color:#bef3b9;}
.mcolor-i{ background-color:#a7e091;}

.m_box_w1{ width:100%; padding-left:20px; padding-right:20px;}
.m_box_p1{padding-left:0px; padding-right:0px;}
.m_btn_a{ width:100%; margin-top:15px; margin-bottom:15px;}
.m_bg1{ height:70px; width:100%; background-repeat:no-repeat; background-size:cover;box-shadow: 0px 0px 2px 2px #ddd; padding-top:17px; margin-top:20px;}

.m_infobox{ width:100%; position:relative; margin-top:30px;}
.m_img1{ background-image:url(../images/m_img1.png); background-repeat:no-repeat; background-size:cover; height:60px; width:100%; background-position:center; position:absolute; top:-30px;}
.m_infoform{ width:100%; border:1px #DDDDDD solid;border-radius:10px; min-height:300px; border-top:0px;}

.mform-div{ width:90%;}
.mform-row{ border-bottom:1px dotted #dddddd; line-height:40px; margin-top:20px; padding-bottom:10px;}
.mform-title{ font-size:16px; font-weight:bolder; text-align:right; padding-left:0px; padding-right:0px;}
.mform-title span{ color:red; margin-right:5px;}
.mform-input{ padding-left:0px; padding-right:0px;}
.mform-input .radio-inline{ margin-right:20px;}
.mform-input .radio-inline input{ margin-top:12px;}

.m_an{ margin-top:15px;}
.m_an img{ width:100%; padding:0px;}

.mtablediv{}
.mtable{width: 100%; text-align:center; line-height:30px;} 
.mtable thead tr th {text-align: center; font-size:14px; text-indent:0px;}
.mtable thead tr th img {height:20px; margin-right:5px; display:none;}
.mtable .mtr1{ width:120px;}
.mtable .mtr2{}
.mtable .mtr3{ width:50px;}
.mtable .mtr4{ width:80px;}

.mqrcode{ background-image:url(../images/mqrcodebg.png); width:240px; height:240px; background-repeat:no-repeat; background-size:cover; margin-top:40px;}
.mqrcode img{ width:200px; height:200px; margin-top:20px;}
.mh1{ text-align:center; font-size:18px; font-weight:bolder; line-height:50px; margin-top:20px;}

.mavatar-a{height: 20%;}

/*排行榜积分*/
.box{width:100%;}
.cont01{width:100%;
	padding:20px 10px;
	background-color:#18b3eb;
	/*overflow:hidden;*/}
.cont01-text01{font-family:"Microsoft YaHei";
	font-size:24px;
	color:#ffffff;
	text-align:center;
	font-weight:bold;}
.cont01-text02{width:50%;
	margin:10px auto;}
.cont01-text02 .btn{width:100%;
	text-align: left;}
.cont01-text02 .caret{margin-left:40%;}
.cont01-text02 .dropdown-menu{width:100%;}
.cont03{width:100%;}
.cont01-dq{margin-top:10px;
	border:none;}
.cont01-dq>li>a{padding:10px 0;
	font-family:"Microsoft YaHei";
	font-size:16px;
	color:#ffffff;
	text-align:center;}
.cont01-dq>li.active>a, .cont01-dq>li.active>a:hover, .cont01-dq>li.active>a:focus{font-family:"Microsoft YaHei";
	font-size:14px;
	color:#ffffff;
	text-align:center;
	border:none;
	border-bottom:1px solid #fff;
	background-color:transparent;}

.cont1-image-box{margin-top:20px;}
.cont1-image-box .col-xs-4{padding:0;}	
.cont01-image{width:100%;
	overflow:hidden;}
.cont01-image img{width:100%;}

.cont01-image01{width:70%;
	height:80px;
	margin:0 auto;
	position: relative;}
.cont01-image02 img{width:82px;
	/*height:80px;*/
	margin:-82px 0px 0px 1px ;}
.cont01-image03{width:78%;
	height:100px;
	margin:0 auto;
	position: relative;}
.cont01-image04 img{width:90px;
	/*height:90px;*/
	margin:-112px 0 0 3px;}
.cont01-text03{font-family:"Microsoft YaHei";
	font-size:12px;
	color:#ffffff;
	text-align:center;
	overflow:hidden;}
.cont01-text04{font-family:"Microsoft YaHei";
	font-size:12px;
	color:#ffffff;
	text-align:center;
	padding:0;}
.cont01-text05 img{padding-left:6px;}
.cont01-text06 img{padding-left:6px;}
.cont01-text06{margin-top:-8px;}


.cont02{width:100%;
	height:50px;
	padding:10px 10px;
	overflow:hidden;}
.cont02-image{width:30px;
	height:30px;
	border-radius:50%;
	float:left;
	overflow:hidden;}
.cont02-image img{width:100%;}
.cont02-text01{font-family:"Microsoft YaHei";
	font-size:12px;
	color:#676767;
	line-height:36px;
	font-weight:bold;
	float:left;
	margin-left:6px;}
.cont02-text01 span{padding:0 4px;}
.cont02-text02{font-family:"Microsoft YaHei";
	font-size:12px;
	color:#676767;
	line-height:36px;
	font-weight:bold;
	float:right;}
.cont02-text02 span{font-size:14px;
	color:#F00;
	padding-left:4px;}
	
.cont03{width:100%;
	overflow:hidden;}
.cont03-text01{font-family:"Microsoft YaHei";
	font-size:12px;
	color:#5aa7ad;
	line-height:40px;
	text-align:center;}
.cont03-image01{width:30px;
	height:30px;
	border-radius:50%;
	overflow:hidden;
	margin-top:5px;
	float:left;}
.cont03-image01 img{width:100%;}
.cont03-text02{font-family:"Microsoft YaHei";
	font-size:12px;
	color:#343434;
	line-height:40px;
	margin-left:10px;
	float:left;}
.cont03-image02{width:16px;
	height:16px;
	margin-top:10px;
	float:left;
	margin-left:6px;}
.cont03-image02 img{width:100%;}
.cont03-text03{font-family:"Microsoft YaHei";
	font-size:12px;
	color:#5d5d5d;
	line-height:40px;
	text-align:right;}
