{template 'common/header'}


<h4>{$activity['title']}</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <td>#</td>
      <td>姓名</td>
      <td>性别</td>
      <td>手机号码</td>
      <td>备注</td>
      <td>报名时间</td>
      <td>操作</td>
    </tr>
  </thead>
  <tbody>
    {loop $forms $index $item}
      <tr>
        <td>{$item['id']}</td>
        <td>{$item['name']}</td>
        <td>{$item['ganger']}</td>
        <td>{$item['phone']}</td>
        <td>{$item['remark']}</td>
        <td>{$item['created_at']}</td>
        <td>
        </td>
      </tr>
    {/loop}
  </tbody>
</table>

{template 'common/footer'}
