{template 'common/header'}

<div>
    <form action="" method="post" class="form-horizontal form" id="form">
      <div class="panel panel-default">
        <div class="panel-heading">创建活动</div>
        <div class="panel-body">
          <div class="form-group">
            <label for="input-title" class="col-sm-2 control-label">标题</label>
            <div class="col-sm-10">
              <input type="text" name="title" class="form-control" id="input-title" placeholder="活动标题">
            </div>
          </div>

          <div class="form-group">
            <label for="input-avatar" class="col-sm-2 control-label">海报</label>
            <div class="col-sm-10">
              {php echo tpl_form_field_image('avatar');}
            </div>
          </div>

          <div class="form-group">
            <label for="input-desc" class="col-sm-2 control-label">详情</label>
            <div class="col-sm-10">
              <textarea name="description" class="form-control" id="input-desc"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" name="submit" class="btn btn-default">创建</button>
            </div>
          </div>
        </div>
      </div>
    </form>
</div>

<script>
require(['jquery', 'util'], function($, util) {
  $(function(){
    $('#form').submit(function() {
      var result = true;

      if ($('input[name="title"]').val() == '') {
        result = false;
        util.message('请填写标题');
      }

      if ($('input[name="description"]').val() == '') {
        result = false;
        util.message('请填写介绍');
      }

      if ($('input[name="avatar"]').val() == '') {
        result = false;
        util.message('请选择海报');
      }

      return result;
    });
  });
});
</script>


{template 'common/footer'}
