<ul class="nav nav-tabs">
    <li {if $_GPC['do']=="manage" && empty($_GPC['act'])}class="active"{/if}>
    <a href="{php echo $this->createWebUrl('manage')}">课程管理</a>
    </li>
    <li {if $_GPC['do']=="manage" && $_GPC['act'] == 'edit'}class="active"{/if}>
    <a href="{php echo $this->createWebUrl('manage',array('act'=>'edit'))}">添加课程</a>
    </li>
    <li {if $_GPC['do']=="manage_week"  && empty($_GPC['act'])}class="active"{/if}>
    <a href="{php echo $this->createWebUrl('manage_week')}">课程表</a>
    </li>
    <li {if $_GPC['do']=="manage_time" && $_GPC['act'] == 'edit'}class="active"{/if}>
    <a href="{php echo $this->createWebUrl('manage_time',array('act'=>'edit'))}">时间段</a>
    </li>
</ul>