<ul class="nav nav-tabs">
    <li {if $_GPC['do']=="seat" && empty($_GPC['act'])}class="active"{/if}>
        <a href="{php echo $this->createWebUrl('seat')}">单车列表</a>
    </li>
    <li {if $_GPC['do']=="seat" && $_GPC['act'] == 'edit'}class="active"{/if}>
        <a href="{php echo $this->createWebUrl('seat',array('act'=>'edit'))}">添加单车</a>
    </li>
    <li {if $_GPC['do']=="seat_log" && empty($_GPC['act'])}class="active"{/if}>
        <a href="{php echo $this->createWebUrl('seat_log')}">单车预约</a>
    </li>
    <li {if $_GPC['do']=="seat_limit" && empty($_GPC['act'])}class="active"{/if}>
        <a href="{php echo $this->createWebUrl('seat_limit')}">单车时段</a>
    </li>
</ul>