{template 'web/common/header'}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-title">
                        <h5><a class="glyphicon glyphicon-arrow-left" href="{php echo $this->createWebUrl('goodsinventorytransfer', array('op' => 'gitadd'))}"></a>&nbsp;&nbsp;&nbsp;商品调拨</h5>
                        <h5 style="float: right"><a class="glyphicon glyphicon-refresh" href="{php echo $this->createWebUrl('goodsinventorytransfer',array('op' => 'gitadd','id' => $id))}"></a></h5>
                    </div>
                </div>
                <div class="ibox-content">
                    <form action="" class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit="return check(this);" id="goodsinventor">
                        <input type="hidden" name="id" value="{$goodslistone['id']}">
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">调拨数量</label>
                            <div class="col-xs-2">
                                <input type="text" name="gitnumber" id='gitnumber' class="form-control" value="" placeholder="请输入调拨数量"required aria-required="true"/>
                                <!--<input type="hidden" name="goodsnumber" id='goodsnumber' class="form-control" value="{$goodslistone['goo_number']}"/>-->
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">调出店面</label>
                            <div class="col-xs-2">
                                <select class="form-control m-b" name="inventoryTransferOutStore" id="inventoryTransferOutStore">
                                {loop $storesql $itemstore}

                                    <option value="{$itemstore['id']}" {if $itemstore['id'] == $goodslistone['store_id']}selected ='selected'{/if}>{$itemstore['sto_name']}</option>
                                {/loop}
                                </select>
                            </div>
                            <label  class="col-sm-3 control-label">调入店面</label>
                            <div class="col-xs-2">
                                <select class="form-control m-b" name="inventoryTransferInStore" id="inventoryTransferInStore">
                                    {loop $storesql $itemstore}

                                    <option value="{$itemstore['id']}" {if $itemstore['id'] == $goodslistone['store_id']}selected ='selected'{/if}>{$itemstore['sto_name']}</option>
                                    {/loop}
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">调拨备注</label>
                            <div class="col-xs-7">
                                <input type="text" name="note" id='note' class="form-control" value="" placeholder="请输入调拨备注..."/>
                            </div>

                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="" class="col-sm-5 control-label"></label>
                            <div class="col-sm-7">
                                <input name="submit" type="submit" value="提交" class="btn btn-primary btn-w-m">
                                <input type="hidden" name="token" value="{$_W['token']}" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    {if empty($_GPC['id'])}
<script>
    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
    setTimeout(function(){
        parent.layer.close(index); //再执行关闭
    }, 1000);
</script>
    {/if}
<script>

    $("#goodsinventor").validate({
        rules: {
            gitnumber: {
                required: true,
                digits:true,

            },
        },
        messages: {
            gitnumber: {
                required: "请输入调拨数量",
            },
        }
    });

</script>

{template 'web/common/footer'}