<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>档案详情页</title>
    {template 'head'}
    <link rel="stylesheet" href="{RES}mobile/css/dz_style.css">
</head>
<body>
    <div class="dz-filehead">
        <a href="{php echo $this->createMobileUrl('archive')}"><img src="{RES}mobile/images/left-new.png" class="goback"></a>
        <a href="{php echo $this->createMobileUrl('archiveInfo', array('archive_id' => $archive_id, 'op' => 'create'))}"><img src="{RES}mobile/images/bianji.png" class="bianji"></a>
    档案详情
    </div>
    <div class="dz-headimg">
            <img src="{php echo tomedia($archive['archive_avatar'])}">
    </div>
    <div class="dz-fileinfo">
        <li class="dz-fileinfoli">
            <span>姓名:</span>
            <span>{$archive['archive_name']}</span>
        </li>
        <li class="dz-fileinfoli">
                <span>电话:</span>
                <span>{$archive['archive_tel']}</span>
        </li>
        <li class="dz-fileinfoli">
                <span>性别:</span>
                <span>{if $archive['archive_gender'] == 1}男{else if $archive['archive_gender'] == 2}女{else}保密{/if}</span>
        </li>
        <li class="dz-fileinfoli">
                <span>生日:</span>
                <span>{$archive['archive_birthday']}</span>
        </li>
        <li class="dz-fileinfoli">
                <span>喜好:</span>
                <span>{$archive['archive_hobby']}</span>
        </li>
    </div>
    <div class="dz-fileinfo-btn">
        <a href="{php echo $this->createMobileUrl('consume', array('archive_id' => $archive_id))}">消费明细</a>
        <a href="{php echo $this->createMobileUrl('visit', array('archive_id' => $archive_id))}">回访</a>
    </div>	

</body>
</html>