<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
{template 'head'}
<title>{php echo $this->config['system_name']}</title>
<style>
    .con01-t01{width: 100%;
    overflow: hidden;}
.con01-t01 li{text-align: center;
    margin-top:10px;}
.con01-t01 img{width: 30px;
    height:30px;
    text-align: center;}
.con01-t01-text{font-family:"Microsoft YaHei";
    font-size:14px;
    color:#838383;}
    .lw-indexlist{
        border-top: 1px solid #e2e2e2;
    }
     .lw-indexlistfor{
        width: 100%;
        padding-bottom: 10px;
    }
     .lw-indexlistfor li{
         float: left;
         width: 25%;
         text-align: center;
         overflow: hidden;
         margin-top: 10px;
     }
     .lw-indexlistfor li img{
          width: 50px;
          height: 50px;
          border-radius: 40px;
      }
       .lw-indexlistfor li p:nth-child(2){
           text-align: center;
           font-weight: 600;
           font-size: 14px;
           word-break:keep-all;                 
            white-space:nowrap;        
            overflow:hidden;   
            display: block;
            width: 80%;
            margin: 0 auto;
       }
       .lw-indexlistfor li p:nth-child(3){
           font-size: 12px;
           word-break:keep-all;                 
            white-space:nowrap;        
            overflow:hidden;   
            display: block;
            width: 80%;
            margin: 0 auto;
       }
       .clear{
           clear:both;
       }
       .lw-indexlistimg img{
           width: 100%;
       }
</style>
</head>

<body>
<div class="box">
	<div class="tops">
    	<div class="col-xs-3">
            <a href="{php echo $this->createMobileUrl('circle', array('log'=>$_GPC['log'], 'lat'=>$_GPC['lat']))}">
                <div class="tops-l">
                    <span>{if empty($circle)}全部{else}{$circle['circle_name']}{/if}</span>
                    <img src="{RES}mobile/images/down.png">
                </div>
            </a>
        </div>
        <div class="col-xs-9">
        	<div class="tops-r">
            	<img src="{RES}mobile/images/big.png">
                <input type="text" id="searchstore" onchange="searchStore()" placeholder="门店名">
            </div>
        </div>
    </div>

    {if !empty($ads)}
    <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {loop $ads $key $item}
                <div class="swiper-slide">
                    <a href="{$item['ad_url']}" style="display: block">
                   <img src="{php echo tomedia($item['ad_pic'])}">
                    </a>
                </div>

                {/loop}

            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>



    <script src="{RES}mobile/js/swiper.min.js"></script>
    {/if}

    <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false
    });
    </script>
	<div class="con">
     <div class="con01" >
        <ul class="con01-t01">
            {loop $storetype $key $item}
            <li class="col-xs-3">
                <a href="{$item['storetype_url']}" style="text-decoration:none;">
                    <img src="{php echo tomedia($item['storetype_img'])}">
                    <div class="con01-t01-text">{$item['storetype_title']}</div>
                </a>
            </li>
            {/loop}
        </ul>
    </div>



    <div class="con01">

        {if count($store_index) >= 3}
    	<div class="con01-t">
        	<img src="{RES}mobile/images/img01.png">
        </div>

        <div class="con01-b">
            <div class="swiper-container2" style="position: relative;background-color: white;">
                <div class="swiper-wrapper">
                    {loop $store_list $key $item}
                    <div class="swiper-slide">
                        <div class="con01-l">
                            <a href="{php echo $this->createMobileUrl('info', array('store_id'=>$item[0]['store_id']))}">
                                <div class="con01-image01">
                                    <img src="{php echo tomedia($item[0]['store_pic'])}">
                                </div>
                                <div class="con01-text03">{$item[0]['store_name']}</div>
                                <div class="con01-text04">{$item[0]['store_index_reason']}</div>
                            </a>
                        </div>
                        <div class="con01-r">
                         {if !empty($item[1])}
                            <div class="con01-r01">
                                <a href="{php echo $this->createMobileUrl('info', array('store_id'=>$item[1]['store_id']))}">
                                    <div class="con01-image02 col-xs-6">
                                        <img src="{php echo tomedia($item[1]['store_pic'])}">
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="con01-text05">{$item[1]['store_name']}</div>
                                        <div class="con01-text06">{$item[1]['store_index_reason']}</div>
                                    </div>
                                </a>
                            </div>
                            {/if}


                            {if !empty($item[2])}
                            <div class="con01-r01">
                                <a href="{php echo $this->createMobileUrl('info', array('store_id'=>$item[2]['store_id']))}">
                                    <div class="con01-image02 col-xs-6">
                                        <img src="{php echo tomedia($item[2]['store_pic'])}">
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="con01-text05">{$item[2]['store_name']}</div>
                                        <div class="con01-text06">{$item[2]['store_index_reason']}</div>
                                    </div>
                                </a>
                            </div>
                            {/if}
                        </div>   
                    </div>
                    {/loop}
                </div>
                <div class=" swiper-button-prev"></div>
                <div class=" swiper-button-next"></div>
            </div>
        </div>
        {/if}
    </div>
    <style>
    .active span:nth-child(2){
    display:block; 
    width:0; 
    height:0; 
    border-width:20px 20px 0;
    border-style:solid; 
    /*border-color:transparent transparent #d5be90; */
     border-color:#d5be90 transparent transparent;/*黄 透明 透明 */
    position:absolute; 
    top:38px; 
    left:50%;/* 三角形居中显示 */
    margin-left:-20px;/* 三角形居中显示 */
}
    </style>

 {if !empty($project_index)}
   <div class="lw-indexlist" >
       <div class="lw-indexlistimg"><img src="{RES}mobile/images/index_show.png" alt=""></div>

       <div class="lw-indexlistfor" style="border-bottom: 1px solid #e2e2e2;">
           {loop $project_index $key $item}

            <a href="{php echo $this->createMobileUrl('otherStore', array('project_id'=>$item['project_id'], 'log' => $_GPC['log'], 'lat' => $_GPC['lat']))}">
                <li>
                    <img src="{php echo tomedia($item['project_pic'])}">
                    <p>{$item['project_name']}</p>
                    <p>{$item['project_index_reason']}</p>
                </li>
            </a>

           {/loop}
       <div class="clear"></div>
    </div>

   </div>
        {/if}


	<div class="con02">
    	
            <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab" >附近门店<span style="color: #fea1a1;font-size: 14px">&nbsp;NEAR</span></a><span><em></em></span></li>
            <li ><a href="#ios" data-toggle="tab">最近预约<span style="color: #fea1a1;font-size: 14px">&nbsp;HOT</span></a> <span><em></em></span></li>
            </ul>

   <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="home">
        <ul class="con02-con" id="storelist">
            {loop $stores $key $item}
            <a href="{php echo $this->createMobileUrl('info', array('store_id'=>$item['store_id']))}">
                <li>
                    <div class="con02-image col-xs-4">

                        <img src="{php echo tomedia($item['store_pic'])}">

                    </div>
                    <ul class="con02-r col-xs-7">
                        <li>
                            <div class="con02-text02">{$item['store_name']}</div>
                        </li>
                        <li>
                            <div class="con02-text05">{$item['circle_name']}</div>
                        </li>
                        <li>
                            <div class="con02-text06">{$item['store_tel']}</div>
                            {if !empty($item['dis'])}
                            <div class="con02-text07">
                                <div class="con02-text08">{$item['dis']}km</div>
                                <img src="{RES}mobile/images/location.png">
                            </div>
                            {/if}
                        </li>
                    </ul>
                </li>
            </a>
            {/loop}
            {if empty($stores)}
            <li style="padding: 10px;text-align: center">
                <img src="{RES}mobile/images/clear.png" style="height: 50px" alt="">
                <p>未找到相关门店</p>
            </li>
            {/if}
        </ul>

        </div>



         <div class="tab-pane fade in " id="ios">
        <ul class="con02-con" id="">
            {loop $storesa $key $item}
            <a href="{php echo $this->createMobileUrl('info', array('store_id'=>$item['store_id']))}">
                <li>
                    <div class="con02-image col-xs-4">

                        <img src="{php echo tomedia($item['store_pic'])}">

                    </div>
                    <ul class="con02-r col-xs-7">
                        <li>
                            <div class="con02-text02">{$item['store_name']}</div>
                        </li>
                        <li>
                            <div class="con02-text05">{$item['circle_name']}</div>
                        </li>
                        <li>
                            <div class="con02-text06">{$item['store_tel']}</div>
                            <div class="con02-text07">
                                <div class="con02-text08" style="color: orangered">近1周预约过</div>
                            </div>
                        </li>
                    </ul>
                </li>
            </a>
            {/loop}
            {if empty($storesa)}
            <li style="padding: 10px;text-align: center">
                <img src="{RES}mobile/images/clear.png" style="height: 50px" alt="">
                <p>暂无预约信息</p>
            </li>
            {/if}
        </ul>

        </div>


    </div>
    </div>
    </div>
    <ul class="footer">

        <li class="{if $this->config['show_state'] == 2}col-xs-4{else}col-xs-6{/if} dq">
            <a href="{php echo $this->createMobileUrl('index', array())}">
                <img src="{RES}mobile/images/icon001.png">
                <span>首页</span>
            </a>
        </li>

        <li class="{if $this->config['show_state'] == 2}col-xs-4{else}col-xs-6{/if}">
            <a href="{php echo $this->createMobileUrl('mine', array())}">
                <img src="{RES}mobile/images/icon02.png">
                <span>个人中心</span>
            </a>
        </li>
        {if $this->config['show_state'] == 2}
        <li class="col-xs-4">
            <a href="{php echo $this->createMobileUrl('show', array())}">
                <img src="{RES}mobile/images/icon03.png">
                <span>作品</span>
            </a>
        </li>
        {/if}
    </ul>

</div>

<script>
    var page = 2;
    $(window).scroll(function(){

        if ($(document).scrollTop() == $(document).height() - $(window).height()) {

            if (page > 1)
            {
                loadStore();
            }
        }
    });
    /** 搜索门店 */
    function searchStore() {

        var content= $('#searchstore').val();

        if (content == '')
        {
            window.location.href = "{$_W['siteurl']}";

        } else
        {
            $.ajax({
                url:"{php echo $this->createMobileUrl('ajaxStore', array('log'=>$_GPC['log'], 'lat'=>$_GPC['lat'], 'circle_id'=>$_GPC['circle_id']))}"+"&content="+content,
                type:'get',
                success:function (data) {

                    $('#storelist').html(data);
                }
            })
        }

    }

    /** 加载更多 
    function loadStore() {

        $.ajax({
            url:"{php echo $this->createMobileUrl('loadStore', array('log'=>$_GPC['log'], 'lat'=>$_GPC['lat'], 'circle_id'=>$_GPC['circle_id']))}"+"&page="+page,
            type:'get',
            success:function (data) {

                data = eval('(' +data + ')');
               if (data.result == 'success')
               {
                   $('#storelist').append(data.store);
                   page = data.page;
                   
               }
            }
        })
    } */

      var swiper = new Swiper('.swiper-container2', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        autoplay: 2500,
    });
   </script>
</body>
</html>
