<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{php echo $this->config['system_name']}</title>
    {template 'head'}
    <link rel="stylesheet" href="{RES}mobile/css/dz_style.css">
    <link rel="stylesheet" href="{RES}mobile/css/starability-all.min.css">
</head>
<body style="background:#f4f4f4;">
        <div class="dz-filehead">
                <a href="{php echo $this->createMobileUrl('mine')}"><img src="{RES}mobile/images/left-new.png" class="goback"></a>
                我的点评
        </div>
            <div class="app-list-tab">
                <a href="{php echo $this->createMobileUrl('mineScomment')}" {if empty($level)}class="this-list-tab"{/if}>全部</a>
                <a href="{php echo $this->createMobileUrl('mineScomment', array('level' => '5'))}" {if $level == 5}class="this-list-tab"{/if}>5星({$total_5})</a>
                <a href="{php echo $this->createMobileUrl('mineScomment', array('level' => '4'))}" {if $level == 4}class="this-list-tab"{/if}>4星({$total_4})</a>
                <a href="{php echo $this->createMobileUrl('mineScomment', array('level' => '3'))}" {if $level == 3}class="this-list-tab"{/if}>3星({$total_3})</a>
                <a href="{php echo $this->createMobileUrl('mineScomment', array('level' => '2'))}" {if $level == 2}class="this-list-tab"{/if}>2星({$total_2})</a>
                <a href="{php echo $this->createMobileUrl('mineScomment', array('level' => '1'))}" {if $level == 1}class="this-list-tab"{/if}>1星({$total_1})</a>
                <li class="clear"></li>
            </div>
            <div class="dz-app-list">
                {loop $scomments $key $item}
                <li class="dz-app-listli">
                    <div class="dz-app-listli-left">
                        <img src="{php echo tomedia($item['scomment_avatar'])}">
                    </div>
                    <div class="dz-app-listli-right">
                        <p>{$item['scomment_nickname']} <span style="float:right;color:#6b6b6b;">{$item['scomment_time_add']}</span></p>
                        <fieldset class="starability-grow starability-grow2"> 
                            <span style="font-size:14px;margin-top:-4px;">打分</span>
                                <label for="rate5-3" title="Amazing" class="lable-list {if $item['scomment_level'] == 5}this-lable-list{/if}">5 stars</label>
                                <label for="rate4-3" title="Very good" class="lable-list {if $item['scomment_level'] >= 4}this-lable-list{/if}">4 stars</label>
                                <label for="rate3-3" title="Average" class="lable-list {if $item['scomment_level'] >= 3}this-lable-list{/if}">3 stars</label>
                                <label for="rate2-3" title="Not good" class="lable-list {if $item['scomment_level'] >= 2}this-lable-list{/if}">2 stars</label>
                                <label for="rate1-3" title="Terrible" class="lable-list {if $item['scomment_level'] >= 1}this-lable-list{/if}">1 star</label>
                            </fieldset>
                            <p>
                                {loop $item['tag'] $row}
                                <span style="margin-right: 10px">{$row}</span>
                                {/loop}
                            </p>
                            <p>{$item['scomment_content']}</p>
                    </div>
                    <ul class="clear"></ul>
                </li>
                {/loop}

         
            </div>
            

    <script>
        function detatab(that){
            if($(that).hasClass("dz-this-span")){
                $(that).removeClass("dz-this-span");
            }else{
                $(that).addClass("dz-this-span");
            }
        }
    </script>
</body>
</html>