<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
    {template 'head'}
    <title>{php echo $this->config['system_name']}</title>

</head>
<style>
.two-b li{
    position: relative; 
}
.cont-image{
    width:60px;
}
.cont-image02{
    width: 20px;
    margin-top: -10px;
}
.cont-div1,.cont-div2,.cont-div3{
    float: left;
}
.cont-div2{
    position: relative;
}
.cont-div3{
    position: absolute;
    right: 10px;
    top: 10px;
}
</style>
<body>
<div class="box">
	<div class="tops">
    	<div class="col-xs-2 text01-l">
			<a href="javascript:" onclick="history.back(); ">
            	<img src="{RES}mobile/images/back-white.png">
            </a>
        </div>
        <div class="col-xs-8 text01-c">选择预约人员</div>
    </div>
	<div class="cont">
		<div class="one-text">{$store['store_name']} > {$project['project_name']}</div>
        <ul class="two-b">
            {loop $datings $key $item}
            <a href="{php echo $this->createMobileUrl('dating', array('dating_id'=>$item['dating_id']))}">
            	<li>
                    <div class="col-xs-4 cont-div1" >
                        <img src="{php echo tomedia($item['staff']['staff_avatar'])}" style="width: 66px;height: 84px;">
                    </div>
                    <div class="col-xs-8 cont-div2">
                        <div class="two-text01">{$item['staff']['staff_name']}</div>
                        <div class="two-text02">性别：{if $item['staff']['staff_gender'] == 1}男{else if $item['staff']['staff_gender'] == 2}女{else}未公开{/if}<br>职称：{$item['staff']['staff_jobname']}</div>
                        <!-- {if $item['count']!=0} -->
                        <div class="cont-image cont-div3">
                            <img class="cont-image02"  src="{RES}mobile/images/xin01.png" ><span class="cont-p"  style="margin-left: 2px;">{$item['count']}</span>
                        </div>
                        <!-- {/if} -->

                    </div>  	         
                </li>
             </a>
            {/loop}
            
        </ul>
    </div>
    {template 'foot'}
</div>
<script>
$(".tc-back").click(function(){
	$(".modal").hide();
	$(".modal-backdrop").hide();
	
})
</script>
</body>
</html>
