<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>回访记录</title>
    {template 'head'}
    <link rel="stylesheet" href="{RES}mobile/css/dz_style.css">
</head>
<body>
        <div class="dz-filehead">
                <a href="{php echo $this->createMobileUrl('archive')}"><img src="{RES}mobile/images/left-new.png" class="goback"></a>
            回访记录
        </div>

        <div class="dz-visit-title">回访任务</div>
        <div class="dz-visit-list1">
            {loop $visitlogs $key $item}
            <li onclick="sx(this)" data-name="{$item['archive_name']}" data-staff="{$item['staff_name']}" data-time="{$item['visitlog_time_add']}" data-url="{php echo $this->createMobileUrl('visit', array('archive_id' => $item['archive_id']))}" data-content="{$item['visitlog_content']}" data-avatar="{php echo tomedia($item['archive_avatar'])}">
                <div class="dz-visit-list1left">
                    <img src="{php echo tomedia($item['archive_avatar'])}">
                </div>
                <div class="dz-visit-list1right">
                    <p>{$item['archive_name']}</p>
                    <p>{$item['visitlog_time_add']} <span style="color: #2aabd2">{$item['staff_name']}</span></p>
                </div>
            </li>
            {/loop}
        </div>


        <!-- 弹出框 -->
        <div class="tc-box" id="menu-box">  
                <div class="tc-box-info" style="min-height: 300px; max-height: 500px; height: auto">
                    <div class="tc-box-title">
                        <div class="tc-box-title1">
                            <img id="avatar" src="" >
                        </div>
                        <div class="tc-box-title2">
                            <p id="name"></p>
                            <p id="staff"></p>
                            <p id="time"></p>
                        </div>
                        <div class="tc-box-title3">
                            <img src="{RES}mobile/images/close.png" alt="" onclick="yc_sx()">
                        </div>
                        <div class="clear"></div>
                    </div> 
                    <div id="content" class="tc-box-textinfo">

                    </div>
                    <a id="url" href="" class="visit-alignbtn">再次访问</a>
                </div>
            </div>


    <script>


    function sx(that)
    {
        var name = $(that).data('name');
        var staff = $(that).data('staff');
        var url = $(that).data('url');
        var time = $(that).data('time');
        var content = $(that).data('content');
        var avatar = $(that).data('avatar')

        $("#name").html(name);
        $("#staff").html(staff);
        $("#time").html(time);
        $("#content").html(content);
        $("#avatar").attr('src', avatar);
        $("#url").attr('href', url);

        $('html,body').addClass('ovfHiden'); //使网页不可滚动

        
        document.getElementById("menu-box").style.top= parseInt(500)+"px";// window.outerHeight+
        $("#menu-box").show();
        $("#menu-box").animate({top:"0px"},500)
        $("#menu-box").animate();

    }

    function yc_sx()
    {
        $('html,body').removeClass('ovfHiden'); //使网页不可滚动
        
        $("#menu-box").animate({top:parseInt(500)+"px"},500)
        $("#menu-box").animate()
        $("#menu-box").fadeOut()
    }
    </script>
</body>
</html>