
.bgimg{
	background-image:url(../images/pc-bgimg.jpg);
	background-repeat: no-repeat;
	background-size: 100%; 
}
 .pc-login-content  {
   	position:absolute;
   	top:15%;
   	left:38%;
   	width:24%;
  	height:70%;
  	text-align: center;
  	background-color: white;
  	filter:alpha(opacity=60);
  	/* CSS3 standard */
 	opacity:0.9;
  	/*background-color:rgba(0,0,0,1);*/
   	border-top-right-radius:10px;
   	border-top-left-radius:10px; 
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1); 
 }

.pc-login-head{
	height: 15%; 
	margin: 2.5em auto; 
}
.pc-login-tishi{
	font-size: 1.3em;
}
.pc-login-qrcode{
	width: 70%;
	margin: 2em auto;
} 
.pc-login-qrcode img{
	width: 68%;
	margin: 5px auto;
	box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.4); 
}
.pc-login-p{
	margin-top: 3em;
	font-size: 1.4em;
}
.pc-testlogin-bg{background-color: #ffffff;}
.pc-testindex-bg{background-color: #F8F8F8;}
body,html{height: 100%;margin: 0px;}

.pc-testlogin-btn{
	height: 4.7em;
	line-height: 4.7em;

}

.pc-testlogin-btn a{
	font-size: 1.2em;
	font-weight: bold;
	padding-left: 0px;
	display: inline-block;
	color:#41BC40;
}
.pc-testlogin-logo{
	text-align: center;
	margin-top: 4em ;
	margin-bottom: 0.5em ;
}
.pc-testlogin-logo img{
	width: 46%;
	height: 46%;
}
.pc-testlogin-title{
	text-align: center;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
}
.pc-testlogin-true{	
	margin-top: 120px;
	text-align: center;
}
.pc-testlogin-true button{
	width: 50%;
	border:1px solid #41BC40;
	color:#41BC40;
	font-weight: 600;
}
.pc-testlogin-quxiao{
	text-align: center;
	margin-top: 45px;
}
.pc-testlogin-quxiao a{
	display: inline-block;
	font-size: 14px;
	color:#919191;
}

.pc-index-head{
	height: 80px;
	margin: 0px auto;
	padding: 0px;
	background-color: white;
}

.pc-index-left{
	width: 50%;
	text-align: center;
	padding:0px;
	margin: 0px;
}

.pc-index-left-logo img{
	width: 22%;
	margin-left: 108px;
	margin-top: 4px;
}
.pc-index-right{
	width: 24%;
	padding:0px;
	margin: 0px;
	margin-left: 81px;
}
.pc-index-right-avatar{
	display: inline-block;
	width: 68px;
	text-align: center;
	margin: 0px;
	vertical-align:middle
	padding: 0px;
}
.pc-index-right-avatar img{
	/*height: 4.2em;
	margin: 2.4em 0px;*/
	width: 100%;
	margin-top: 20px;
}
.pc-index-right-name{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	font-size: 1.3em;
	font-weight: bold;
	height: 6.9em;
	line-height: 4.9em;
	overflow: hidden;
	padding: 0px 8px;
	width: 80px;
	vertical-align:middle;
	text-align: center;
}

.pc-index-right-store{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: 150px;
}

.pc-index-right-store-select{
	margin: 2.8em 0px;
	padding: 0px;
	border-top: 0px;
	border-bottom: none;
	height: 1.4em;
	-webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
	border-radius: 2px;
	text-align: center;
}

.pc-index-right-out{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	font-size: 1.3em;
	height: 6.9em;

	line-height: 6.9em;
	width: 80px;
	text-align: center;
	line-height: 96px;
	margin-left: 20px;
}
.pc-index-right-out a{
	color:black;
} 

.pc-index-content{
	margin: 0px;
	margin-top:1%;

	background-color: white;
	height: 84%; 
	width: 100%;
}

.pc-index-content-left{
	margin: 0px;
	padding: 0px;
	/*margin-top: -3px;*/
}
.pc-index-content-left-nav{
	float:right;
	height: 100%;
	width: 40%;
	margin: 0px;
	padding: 0px;
	background: url(../images/left-nav.png);
	background-repeat: no-repeat;
}
.pc-index-content-left a {
	width: 60%;
	height: 2.5em;
	background-image: url(../images/pc-bg0.png);
	background-repeat: no-repeat;
	background-size: 100% 2.5em;
	line-height: 2.5em;
	margin:20px auto;
	padding-left: 6px;
	text-align: center;
	display: block;
	text-decoration:none;
	color:black;
}
.pc-index-content-left-nav>a:nth-child(3) {background-image: url(../images/pc-bg1.png);background-repeat: no-repeat;background-size: 100% 2.5em;}
.pc-index-content-left-nav>a:nth-child(2) {background-image: url(../images/pc-bg2.png);background-repeat: no-repeat;background-size: 100% 2.5em;}
.pc-index-content-left-nav>a:nth-child(1) {background-image: url(../images/pc-bg3.png);background-repeat: no-repeat;background-size: 100% 2.5em;}
.pc-index-content-left-nav>a:nth-child(4) {background-image: url(../images/pc-bg4.png);background-repeat: no-repeat;background-size: 100% 2.5em;}

/*.pc-index-content-left-nav>a:hover {background-image: url(../images/pc-bg0.png);background-repeat: no-repeat;background-size: 100%;}*/
/*.pc-index-content-left>.pc-index-content-left-nav>.active{background-image: url(../images/pc-bg0.png);background-repeat: no-repeat;background-size: 100%;}*/
.pc-index-content-right{width:45%;}
.content-right-table {color:#767676;}
.content-right-title {height:3em;line-height: 3em;width: 100%;}
.content-right-table {border-top: 2px solid #DDDDDD;width: 100%;margin-top: 2px;}
.content-right-table thead>tr>th{border:0px;text-align: center;}
.content-right-table tbody>tr>td{border:0px;border-right: 1px solid #DDDDDD;text-align: center;}
.content-right-table tbody>tr>td:last-child{border:0px;}
.content-right-table tbody>tr:nth-child(odd){background-color: #F8F8F8;}

@media (min-width: 768px) { 
	 .pc-login-content  {
	   	position:absolute;
	   	top:15%;
	   	left:23%;
	   	width:55%;
	  	height:60%;
	  	text-align: center;
	  	background-color: white;
	  	filter:alpha(opacity=60);
	  	/* CSS3 standard */
	 	opacity:0.9;
	  	/*background-color:rgba(0,0,0,1);*/
	   	border-top-right-radius:10px;
	   	border-top-left-radius:10px; 
		border-bottom-left-radius:10px;
		border-bottom-right-radius:10px;
		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1); 
	 }
	.pc-index-content-left-nav{
	float:right;
	height: 100%;
	width: 90%;
	margin: 0px;
	padding: 0px;
	margin-top:-10px; 
	background: url(../images/left-nav.png);
	background-repeat: no-repeat;
	}
	.pc-index-head{
		height: 80px;
		margin: 0px auto;
		padding: 0px;
		background-color: white;
	}
	.pc-index-content-right{width:60%;}
}
@media (min-width: 992px) { 
	.pc-login-content  {
	   	position:absolute;
	   	top:15%;
	   	left:20%;
	   	width:47%;
	  	height:60%;
	  	text-align: center;
	  	background-color: white;
	  	filter:alpha(opacity=60);
	  	/* CSS3 standard */
	 	opacity:0.9;
	  	/*background-color:rgba(0,0,0,1);*/
	   	border-top-right-radius:10px;
	   	border-top-left-radius:10px; 
		border-bottom-left-radius:10px;
		border-bottom-right-radius:10px;
		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1); 
	 }
	.pc-index-content-left-nav{
	float:right;
	height: 100%;
	width: 65%;
	margin: 0px;
	padding: 0px;
	margin-top:-10px; 
	background: url(../images/left-nav.png);
	background-repeat: no-repeat;
	}
	.pc-index-head{
		height: 80px;
		margin: 0px auto;
		padding: 0px;
		background-color: white;
	}
	.pc-index-content-right{width:60%;}
}
@media (min-width: 1200px) { 
	.pc-index-content-left-nav{
		float:right;
		height: 100%;
		width: 40%;
		margin: 0px;
		margin-top:-10px; 
		padding: 0px;
		background: url(../images/left-nav.png);
		background-repeat: no-repeat;
	}
	.pc-index-head{
		height: 80px;
		margin: 0px auto;
		padding: 0px;
		background-color: white;
	}
	.pc-index-content-right{width:45%;}
}

@media (min-width: 1050px) { 
	.pc-login-content  {
	   	position:absolute;
	   	top:15%;
	   	left:38%;
	   	width:24%;
	  	height:70%;
	  	text-align: center;
	  	background-color: white;
	  	filter:alpha(opacity=60);
	  	/* CSS3 standard */
	 	opacity:0.9;
	  	/*background-color:rgba(0,0,0,1);*/
	   	border-top-right-radius:10px;
	   	border-top-left-radius:10px; 
		border-bottom-left-radius:10px;
		border-bottom-right-radius:10px;
		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1); 
	 }
	.pc-index-content-left-nav{
		float:right;
		height: 100%;
		width: 40%;
		margin: 0px;
		margin-top:-10px; 
		padding: 0px;
		background: url(../images/left-nav.png);
		background-repeat: no-repeat;
	}
	.pc-index-head{
		height:80px;
		margin: 0px auto;
		padding: 0px;
		background-color: white;
	}
	.pc-index-content-right{width:45%;}
}