body .tipsclass .layui-layer-content{background-color:#D91819; color:#fff; border:none;text-align:center;line-height:24px;height:24px;padding:12px 25px 12px 25px;position:relative;overflow:auto;font-size:15px;}

body .demo-class .layui-layer-title{background:#c00; color:#fff; border: none;}
body .demo-class .layui-layer-btn{border-top:1px solid #E9E7E7}
body .demo-class .layui-layer-btn a{background:#333;}
body .demo-class .layui-layer-btn .layui-layer-btn1{background:#999;}

/*排行页面*/

.paihang1 {margin:0 auto;margin-top:10px;width:95%;height:40px;border-radius:3px;border:#CCC 1px solid;background:#FFF}
.paihang1 .divitem {position:relative;float:left;width:50%;height:100%;text-align:center;line-height:40px}
.paihang1 .divtxt {color:#FE6390}
.paihang1 .divitem a {color:#999}
.paihang1 .divitem .divline {position:absolute;top:0;right:0px;width:1px;height:100%;border-right:#CCC 1px solid}



.paihang2 {margin-bottom:10px;margin-top:10px;z-index:1}
.paihang2 .datalist {margin:0 auto;margin-top:0px;width:95%;height:100px}
.paihang2 .datalist .tops {position:relative;height:92px}
.paihang2 .datalist .tops .itemhg {position:absolute;top:0;left:0;width:70px;height:70px;text-align:center}
.paihang2 .datalist .tops .itemhg img {margin-top:6px;width:30px}
.paihang2 .datalist .tops .item1 {position:absolute;top:0;left:0;width:70px;height:70px;text-align:center}
.paihang2 .datalist .tops .item1 img {margin-top:22px;height: 50px; width: 50px; border-radius: 1000px}
.paihang2 .datalist .tops .item2 {position:absolute;top:13px;right:75px;left:75px;overflow:hidden;height:70px;color:#727272;line-height:22px}
.paihang2 .datalist .tops .item3 {position:absolute;top:20px;right:8px;color:#444;text-align:center;font-size:20px;line-height:50px}
.paihang2 .datalist .bottoms {margin:0 auto;margin-top:5px;width:96%;border-bottom:1px #d7d7d7 solid}
@media(-webkit-min-device-pixel-ratio:2){
.paihang2 .datalist .bottoms {position:relative;border:0 none}
.paihang2 .datalist .bottoms:before {content:"";position:absolute;bottom:0;left:0;width:200%;border-top:1px #d7d7d7 solid;-webkit-transform:scale(0.5);-ms-transform:scale(0.5);transform:scale(0.5);-webkit-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;-webkit-box-sizing:border-box;box-sizing:border-box}
}

/*录入信息*/
.get-youhui{
    margin: 0 20px;
}
.get-youhui p{
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 15px;
    color: #000;
}
.get-youhui-inpB{
    height: 35px;
    box-sizing: border-box;
    position: relative;
    background-color: #ffffff;
    border: 1px solid #DEDEDE;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 5px;
    padding-left:35px;
    padding-right: 5px;
}
.get-youhui-inpB:hover{
    border-color: rgba(255, 84, 89, 0.8) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 84, 89, 0.6);
    outline: 0 none;
}
.get-youhui-inpB input{
    width: 90%;
    border: none;
    height: 28px;
}
.get-youhui-inpB.inp-name{
    background: url("../res/back.png") no-repeat -277px -130.5px;
    background-size: 300px auto;
}
.get-youhui-inpB.inp-tel{
    background: url("../res/back.png") no-repeat -277px -171.5px;
    background-size: 300px auto;
    margin-top: 10px;
}
.get-youhui-codeB{
    height: 30px;
    padding-right: 110px;
    position: relative;
}
.get-youhui-inpB.inp-code{
    background: url("../res/back.png") no-repeat -277px -66px;
    background-size: 300px auto;
}
.get-youhui-codeB .btnB{
    position: absolute;
    top:0;
    right: 0;
    height: 30px;
    width: 108px;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    color: #666;
}
.submitB{
    margin-top: 10px;
}
.submitB .btnn{
    display: inherit;
    width: 96px;
    margin: 0 auto;
    background: #ce0000;
    height: 30px;
    color: white;
    line-height: 30px;
    text-align: center;
    border: none;
    border-radius: 5px;
}