 /*reset*/ 
           blockquote,body,dd,dir,dl,fieldset,figure,form,h1,h2,h3,h4,h5,h6,hr,input,legend,menu,ol,optgroup,p,pre,tbody,td,textarea,tfoot,th,thead,ul {
               margin: 0;
               padding: 0
           }

           ol,ul {
               list-style-type: none;
               list-style-image: none
           }

           body,button,input,select,textarea {
               -ms-text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis;
               text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis
           }

           h1,h2,h3,h4,h5,h6 {
               font-weight: 400
           }

           * {
               -webkit-tap-highlight-color: rgba(0,0,0,0)
           }
           body{
                background:#F6F5F7;
           }
           .beatHeader{
               height:120px; 
               width:100%;
               position:relative;
               z-index:1;
               overflow:hidden;
           }
           .ios{
               background:url(http://gw.alicdn.com/tps/TB1PzXWKVXXXXaaaXXXXXXXXXXX-640-242.png) no-repeat #494A4D; 
               background-size:contain;
               background-position:50% 50%;
           }
           .android{
               background:url(http://gw.alicdn.com/tps/TB1Fb00KVXXXXcKXVXXXXXXXXXX-720-242.png) no-repeat #494A4D;
               background-size:contain;
               background-position:50% 50%;
           }
           .beatHeader .promotion{
               font-family:STHeitiSC-Light;
               font-size:16px;
               color:rgba(255,255,255,0.80);
               line-height:24px;
               text-align:center; 
               margin-top:20px;
           }
           .beatHeader .promtArrow{
                width:34px;
                height:42px;
                background:url(http://gw.alicdn.com/tps/TB14NkhKFXXXXbEXVXXXXXXXXXX-134-164.png) no-repeat transparent;
                background-size:cover;
                display:inline-block;
                position:absolute;
                right:28px;
                top:15px;
           }
           .beatMain{
               padding:0 8px; 
               position:relative;
               z-index:2;
           }
           .beatMain .imgContainer{
               text-align:center;
               margin-bottom:16px;
           }
           .beatMain .imgContainer img{
               width:100%;
               max-height:125px;
               margin-top:-16px;
   			 box-shadow:0px 3px 12px rgba(21,0,71,0.16);
           }
           .beatMain .moonTitleContainer{
                padding:0 8px; 
                font-size:14px; 
                color:rgba(0,0,0,0.4);
                margin-bottom:16px;
           }
           .beatMain .moonTitleContainer span{
                color:#FF5500;
                margin-right:16px;
           }
           .beatMain .activeTitle{
                padding:0 8px;
                font-size:18px; 
                color:rgba(0,0,0,.8);
                margin-bottom:16px;
           }
           .beatMain .activeContent{
               padding:0 8px;
                font-size:14px; 
                line-height:21px;
                color:rgba(0,0,0,.4);
                 margin-bottom:24px;
           }