{template 'common/header'}
<ul class="nav nav-tabs">
    <li ><a href="{php echo $this->createWebUrl('prize',array('activity_id' => $activity['id']))}">奖品列表</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('prize',array('op' =>'post','activity_id' => $activity['id']))}">添加奖品</a></li>
</ul>
<div class="main">
    <form action="" id="theforms" method="post" class="form-horizontal form" enctype="multipart/form-data" >
        <input type="hidden" name="id" value="{$id}" />
        <div class="panel panel-default">

            <div class="panel-heading">
                幻灯片设置：所有幻灯片长宽请保持一致，推荐大小：560*300
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">奖品名称</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" id="name" name="name" class="form-control" value="{$name}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">兑换所需点赞数</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="need_call" class="form-control" value="{$need_call}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">奖品图片（230*85）</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_image('logo', $logo)}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">奖品数量</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="amount" class="form-control" value="{$amount}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">每个人最多兑换多少次</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="max" class="form-control" value="{$max}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="displayorder" class="form-control" value="{$displayorder}" />
                    </div>
                </div>


            </div>
        </div>
        <div class="form-group col-sm-12">
            <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
            <input type="hidden" name="token" value="{$_W['token']}" />
        </div>
    </form>
</div>

<script>
    require(['jquery','datetimepicker'], function ($,UM) {


        $("#theforms").submit(function(e){
            if($.trim($('#name').val()) == '') {
                alert('名称不能为空');
                return false;
            }
        });
    });
</script>
{template 'common/footer'}