body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0;}
.clearfix{zoom:1;}
.clearfix:after{content:'.';display:block;visibility:hidden;clear:both;height:0px;}
body{height:100%;background-color:#f7f7f7;font-family:"Microsoft Yahei";font-size:15px;line-height:1.428571429;}
ul,li{list-style:none;margin:0;padding:0;}
.img-responsive{max-width:100%;display:block;}
.qingchum{margin:0;}
a, a:hover{text-decoration:none;}
em{font-style:initial;}

.gyStyle2{padding-bottom:20px;}
.gyStyle2 .daijishi{height:22px;padding:10px 0 10px 12px;color:#FFF;font-size:16px;vertical-align:middle;background-color:#5f6a7c;}
.gyStyle2 .daijishi span{display:inline-block;color:#07d5e8;margin:0 5px;text-shadow:1px 1px 0 rgba(0,0,0,.2),1px 1px 5px rgba(0,0,0,.2);}
.gyStyle2 h3{text-shadow:1px 1px 0 rgba(0,0,0,.2),1px 1px 5px rgba(0,0,0,.2);margin:10px 0;text-align:center;font-size:17px;color:#FFF;height:38px;line-height:35px;font-weight:bold;background:url(../images/aaa.png) no-repeat center center;background-size:88%;}
.gyStyle2 .shomingk{padding:0 18px;line-height:24px;color:#3e454d;}
.gyStyle2 .shomingk span{color:#0c43ae;}
.gyStyle2 .kanjialist{padding:6px 16px 16px 16px;}
.gyStyle2 .listMain{color:#22272b;}
.gyStyle2 .listMain .bordery{background-color:#ffffff;border-right:solid 1px #d3d3d3;border-left:solid 1px #d3d3d3;}
.gyStyle2 .kanjialist .wenluk{display:block;max-width:100%;margin-top:-1px;border-right:solid 1px #d3d3d3;border-left:solid 1px #d3d3d3;box-sizing:border-box;}
.gyStyle2 .listMain .listx{max-height:230px;}
.gyStyle2 .listMain .topbiaoti{background-color:#e6e6e6;border:solid 1px #d3d3d3;border-bottom:0;}
.gyStyle2 .listMain .topbiaoti a{text-shadow:1px 1px 0 rgba(255,255,255,.5),1px 1px 5px rgba(255,255,255,.5);padding:10px 0;float:left;color:#097ae1;font-weight:bold;text-align:center;}
.gyStyle2 .listMain .topbiaoti .col1 {width:30%;}
.gyStyle2 .listMain .topbiaoti .col2 {width:40%;}
.gyStyle2 .listMain .topbiaoti .col3 {width:30%;}
.gyStyle2 .listMain .topbiaoti a img{-webkit-transition:all 0.5s linear;display:inline-block;width:14px;vertical-align:middle;margin:-3px 0 0 3px;}
.gyStyle2 .listMain .ul1{padding:0 6px;}
.gyStyle2 .listMain .ul1 li{padding:8px 0;border-top:solid 1px #d8d8d8;height:36px;line-height:17px;}
.gyStyle2 .listMain .ul1 li >div{text-align:center;float:left;}
.gyStyle2 .listMain .ul1 li >div img, .gyStyle2 .listMain .ul1 li >div span{vertical-align:middle;} 
.gyStyle2 .listMain .ul1 li >div img{margin-right:6px;}
.gyStyle2 .listMain .ul1 .lefttext{width:30%;text-align:center;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.gyStyle2 .listMain .ul1 .lefttext img{width:30px;}
.gyStyle2 .listMain .ul1 .kanhoujia {width:40%;}
.gyStyle2 .listMain .ul1 .szimgSize {width:30%;}
.gyStyle2 .listMain .ul1 .szimgSize img{width:20px;margin-right:1px;}
