body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,table {
    margin: 0;
    padding: 0;
    font: 15px Microsoft YaHei, Helvitica, Verdana, Arial, san-serif;
    line-height: 15px;
}
.top {
    position: relative;
    min-height: 230px;
}
.top img {
    width:100%;
    display: block;
}
.timer {
    vertical-align: middle;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 0 12px 12px;
    background: rgba(6, 0, 0, 0.6);
    color: #07d5e8;
}
.timer span {
    margin: 0 3px;
    display: inline-block;
    width: 28px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    vertical-align: middle;
    border-radius: 2px;
    color: #07d5e8;
    background-color: #07144c;
}
a { text-decoration: none }

input { border:none;  padding:10px; color:#333;width:90%;}
body { overflow-x:hidden}
#guide{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.9);display:none;z-index:20000;}
#guide img{z-index:20001;
    max-width: 100%;
    display: block;}
.middle {
    padding: 18px 16px;
    color: #3e454d;
    line-height: 24px;
}
.price {
    padding: 8px 0 8px 0;
    width: 105.4%;
    margin: 8px 0 0 -8px;
	color:#FFF;padding:16px 0 20px 0;border:0;width:105.4%;margin:10px 0 -10px -8px;background:url(../images/ranktop.png) no-repeat top center;background-size:contain;
}
.price {
    text-align: center;
}
.price .price-default {
    text-decoration: line-through;
}
.price .price-current {
    font-size: 18px;
    font-weight: bold;
	/*
    color: #097ae1;
	*/
    margin-top: -4px;
}
.activity {
    margin-top: 22px;
}

.activity .btn {
    text-shadow: 1px 1px 0 rgba(0,0,0,.2),1px 1px 5px rgba(0,0,0,.2);
    color: #f7f7f7;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 13px 0;
    background-color: #097ae1;
    border-radius: 6px;
    font-size: 15px;
}
.activity .btn img {
    display: inline-block;
    width: 36px;
    margin-right: 6px;
    vertical-align: middle;
}
.btn1 img {
    display: inline-block;
    width: 36px;
    margin-right: 6px;
    vertical-align: middle;
}
.activity .active-middle {
    float: none;
    margin: 0 auto;
}
.activity .active-left a {
    margin-right: 5px;
}
.activity .active-right a {
    margin-left: 5px;
}
.clearfix:after{content:'.';display:block;visibility:hidden;clear:both;height:0px;}
.bottom {
    text-align: center;
    margin-top: 5px;
    padding-bottom: 10px;
}
.bottom p {
    margin-top: 10px;
}
.block { display:block; width:90%; margin:auto;margin-top:10px;padding:10px 10px 10px 10px; border-radius: 5px; }
input.block {padding:6px 10px 6px 10px;border: 1px solid #000;}
.explain .block {border: 2px dashed #000;}
.explain  a.block {border: 0px;}
.white { background:#fff; color:#000}
.black { background:#000; color:#fff}
.blue { background:#097ae1; color:#fff}
.btn { background-color:#097ae1;color:#fff;text-align: center;}
.btn1{ background-color:#097ae1;color:#fff;text-align: center;}
.n { color:red; font-size:16px;}
.link { color:#000; }
.join { width:100%;}
.explain p {margin-top:10px;}
.copyright {padding-top: 20px; color:#aaa;}
.loading_mask {
    position: fixed;;
    top: 0;
    background: #000;
    width: 100%;
    height: 120%;
    opacity: 0.3;
    filter: alpha(opacity=0.3);
    visibility: hidden;
}
.loading_gif {
    position: fixed;;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 48px;
    margin-top:-24px;
    margin-left:-24px;
    visibility: hidden;
}