@charset "utf-8";
/*******************************

 *******************************/
*{margin:0;padding:0}
body{overflow:hidden;overflow-y:auto;background: #0062a4 url(../images/bg.jpg) no-repeat left bottom;background-size: 100% 100%; min-height: 100%; font-size:13px;font-family:arial;-webkit-text-size-adjust:none;line-height:1.62;}
html{ overflow: hidden;overflow-y:auto; min-height:100%; }
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6{font-size:100%;}
ul,ol,li{list-style:none;}
em{font-style:normal}
img{border:none;}
input,img{vertical-align:middle;}
q:before, q:after { content:'' }
.fn-clear:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.fn-clear{*zoom:1;}
a{color:#FFF;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a:active{color:#666;-webkit-tap-highlight-color:rgba(0,0,0,0);}
section,aside,header,footer,hgroup,article{display:block}
.btn{display:inline-block;width:100%;height:45px;color:#fff;font-size: 16px; font-weight:bold;border:0 none;text-align:center;line-height: 45px;box-shadow: 0 2px 2px rgba(40,40,40,.5);background: -webkit-linear-gradient(left,#ee4444, #f04a4a, #f55e5e,#f66161, #f55c5c,#ef4444);background:linear-gradient(left, #ee4444, #f04a4a, #f55e5e,#f66161, #f55c5c,#ef4444);}
.input{width:100%;height:24px;background:#fff;border:0 none;border-radius:3px;text-indent:8px;padding:8px 0;font-size:14px;line-height: 24px;-webkit-appearance: none;}
.border-box{-webkit-box-sizing: border-box;box-sizing: border-box;}
.regular{ background-color: #fff; box-shadow: 0 0 10px rgba(40,40,40,.5);  }
.regular img{max-width:100%;}

/*众筹活动*/
.main-box{padding:30px 5%;}
.activity-box{padding: 10px;margin-bottom: 10px; position: relative;}
.activity-box:last-child{ margin-bottom: 0;}
.activity-box h1{ font-size: 14px; color: #3e3e3e; margin-bottom: 11px;}
.activity-box .figure{ margin-bottom: 10px;}
.activity-box .figure img{ width: 100%;max-height: 240px; min-height: 120px;}
.activity-rule{ color: #3e3e3e;}
.activity-rule span{ color: #a6a6a6; font-weight: bold; margin-right: 10px;}
.activity-btn{ margin-top: 20px;}
.activity-btn a{display: block; width: 45%; height: 40px; line-height: 40px; text-align: center;  background-color: #0D92D1; color: #fff;}
.activity-btn a.enter{ float: left;border-radius: 3px;}
.activity-btn a.rule-btn{ float: right;border-radius: 3px;}
.activity-btn a.btn-disabled{background-color:#777;color:#ddd;cursor:default}
.icon{display: block; width: 133px; height: 134px; position: absolute;top: 37px; right: -41px; }
.icon-hot{background:url(../images/icon-hot.png) no-repeat;background-size: 66%;}
.icon-end{background:url(../images/icon-end.png) no-repeat;background-size: 66%;}
.icon-start{background:url(../images/icon-start.png) no-repeat;background-size: 66%;}

.more{ display: block; background-color: rgba(246, 151, 189, 0.6);box-shadow: 0 0 10px rgba(40,40,40,.5);  padding: 10px; height: 57px; margin-top: 15px; position: relative; }
.more .know-more{ width:221px; height: 68px;  background: url(../images/know-more.png) no-repeat; margin: -5px auto 0;}
.more i{ position: absolute; right: 10px; top: 25px; font-size: 24px; line-height: 1.2; color: #fff; }
.nav{ position: fixed; left: 0; bottom:0;  width: 101%; }
.nav a{ float: left; display: block; width: 33%; text-align: center;background-color:#65ADF0;padding: 5px 0 0;}
.nav a.active{background-color: rgba(243,241,241,.9); color: #2e8bf1;}
.nav a:nth-child(2){width: 34%;}
.nav i{ font-size: 20px; line-height: 1.2;display: block;}

/*我的众筹*/
.activity-box h1 span{display: inline-block; padding: 1px 5px; color: #fff;  font-size: 12px; }
.activity-box h1 span.win{  background-color: #e44645;}
.activity-box h1 span.no-win{ background-color: #aaa;}
.look{ text-align: center; margin-bottom: 10px; line-height: 1.2;color: #757575;}
.look i{ font-size: 24px;  float: left;}
.look span{ font-size: 18px;float: left; line-height: 1.2; margin-top: 2px;}
.look .view{ float: left;}
.look .residue{ float: left; margin-left: 10px;}
.look .residue span{ margin-top: 4px;}
.look .text{ margin-top: 3px;}
.look .no-prize{color:#ef4545;}
.activity-detail .award{ float: left; margin-top: 10px;}
.activity-detail .total{ float: right; color: #fff; background-color: #1e90d1;  padding: 2px 5px; text-align: center;}
.activity-detail .total label{ font-size: 22px; line-height: 1.2;}
.activity-detail .total a{ color: #fff;}
.activity-detail .total span{ display: block;}

/*活动规则*/
.rule,.wanzhuan-detail{padding: 10px;}
.rule h1,.wanzhuan-detail h1{ text-align: center; padding-bottom: 5px; border-bottom: #c7c7c7 solid 1px; color: #348ce7; font-size: 16px;}
.rule p,.wanzhuan-detail p{ margin: 10px 0; color: #767676;}
.rule p .label{ float: left; width: 23%;}
.rule p .span{ float: left; width: 76%; margin-left: 1%;}
.rule p.enter-activity{ margin-top: 50px;}
.rule p.enter-activity a.btn{ box-shadow: none;}
.wanzhuan-detail img{max-width: 100%}
.wanzhuan-detail h1{line-height: 1.2;padding-top:5px;}
.wanzhuan-detail span{color:#888;font-size: 14px}

/*页脚*/
.foot{width:100%;min-width:300px;margin-top:10px;padding:10px 0 90px;text-align:center;}
.foot a{color:#fff;margin:0 3px;}
.footer{ padding-bottom: 10px;}
/*动画*/
.animate-spin{-webkit-animation:spin 1s infinite linear;animation:spin 1s infinite linear;display:inline-block}@-webkit-keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}.animated.hinge{-webkit-animation-duration:2s;animation-duration:2s}@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-20px);transform:translateY(-20px)}100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}}@keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-20px);-ms-transform:translateY(-20px);transform:translateY(-20px)}100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}}.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown}@-webkit-keyframes rotateIn{0%{-webkit-transform-origin:center center;transform-origin:center center;-webkit-transform:rotate(-200deg);transform:rotate(-200deg);opacity:0}100%{-webkit-transform-origin:center center;transform-origin:center center;-webkit-transform:rotate(0);transform:rotate(0);opacity:1}}@keyframes rotateIn{0%{-webkit-transform-origin:center center;-ms-transform-origin:center center;transform-origin:center center;-webkit-transform:rotate(-200deg);-ms-transform:rotate(-200deg);transform:rotate(-200deg);opacity:0}100%{-webkit-transform-origin:center center;-ms-transform-origin:center center;transform-origin:center center;-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);opacity:1}}.rotateIn{-webkit-animation-name:rotateIn;animation-name:rotateIn}@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}

@font-face{font-family:'fontello';src:url('fontello.eot?39525876');src:url('fontello.eot?39525876#iefix') format('embedded-opentype'),url('fontello.ttf?39525876') format('truetype');font-weight:normal;font-style:normal;}
[class^="icon-"]:before,[class*=" icon-"]:before{font-family:"fontello";font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center; /* opacity:.8; */ font-variant:normal;text-transform:none; /* fix buttons height,for twitter bootstrap */ line-height:1em; /* remove if not needed */ margin-left:.2em;}
.icon-user:before { content: '\e800'; } /* '' */
.icon-mobile:before { content: '\e801'; } /* '' */
.icon-right-open-big:before { content: '\e802'; } /* '' */
.icon-award:before { content: '\e803'; } /* '' */
.icon-gift:before { content: '\e804'; } /* '' */
.icon-user-1:before { content: '\e804'; } /* '' */
.icon-inbox:before { content: '\e806'; } /* '' */
.icon-eye-1:before { content: '\e807'; } /* '' */
.icon-pencil:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */