.i_phone{ background-image:url(../images/icon_phone.png)}
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; padding: 0; font-family: '微软雅黑'; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
form,ul{ margin: 0; padding: 0;}
a, a:hover, a:focus { text-decoration: none; outline:none }
a:active, a:hover { outline: 0; }
img{ border:none}
.icon{ vertical-align:middle; display:inline-block; margin-top:-2px; background-size:100% 100%}
.m_usr{ padding:1em; min-height:5em}
.m_usr img{ float:left; width:3em; height:3em; margin-right:.5em}
.m_usr h3,.m_usr p{ margin:0}
.m_usr p{color:#666; font-size:.85em; margin-top:.25em}
.m_card{background-color:#35a4de; padding:1em; background-image:url(../images/bg_card.png) ; background-position:bottom; background-repeat:repeat-x; }
.m_card div.com{ color:#9bd2ef}
.m_card div.com table{ width:100%}
.m_card div.com img{margin-right:.25em; display:block; width:5em; height:5em; border-radius:2.5em;}
.m_card div.com td:first-child{ width:5.25em}
.m_card div.com span{font-size:1.5em}
.m_card div.tit{ font-size:2.5em; padding:.5em 0; text-align:center; color:#fff}
.m_card div.tim{ text-align:center; color:#9bd2ef}
.m_step{ background:#ebebeb; height:1.5em}
.m_card.card1 div.com span{ font-size:1.25em}
.m_card.card1 div.com img{ width:3em; height:3em; border-radius:1.5em}
.m_card.card1 div.com td:first-child{ width:3.25em}
.m_list{ margin:0 1em; padding:0}
.m_list li{ list-style: none; padding:.5em; font-size:1.25em}
.m_list li + li{ border-top:1px solid #dadada}
.m_list li>a{ display:block; color:#333;}
.m_list li h3,.m_list li p{ margin:0; font-size:1em; font-weight:normal}
.m_list li p{ color:#999; font-size:.85em;}
.m_list li div.phn{ float:right;  border-left:2px solid #c5c5c5; padding:.25em 0 .25em .5em; }
.m_list li div.phn .i_phone{ width:2em; height:2em}
.footer{ background-color:#ebebeb; padding:1em;}
.btn{ display:inline-block; padding:.25em .5em; background-color:#45c01a; color:#fff; text-align:center; border-radius:3px; white-space:nowrap}
.btn-block{ display:block; font-size:1.2em; padding:.5em}
.btn1{ background:none; border:1px solid #84c7eb}
.m_ewm{ margin:1em; text-align:center;color:#999; line-height:1.5em}
.m_ewm img{ width:60%; max-width:100%}
