<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{$school['title']}</title>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
        <link type="text/css" rel="stylesheet" href="{OSSURL}public/mobile/css/bindingFormFor.css" />
        <link type="text/css" rel="stylesheet" href="{OSSURL}public/mobile/css/greenStyle.css?v=4.60120" />
        <script type="text/javascript" src="{OSSURL}public/mobile/js/jquery-1.11.3.min.js?v=4.6"></script>
        <script src="{OSSURL}public/mobile/js/jquery.js"></script>
        <script src="{OSSURL}public/mobile/js/PromptBoxUtil.js"></script>
        <style>

            #birthday{
                border-bottom:1px solid #c6c6c6;position:relative;display:block;height:20px;line-height:20px;opacity:1;
            }
            #selMonth{
                margin-left:-40px;
                position:relative;
                z-index:10;
                opacity:0;
            }
            .bangdingForm{margin:5px 10px;background:#fff;border:1px solid #d0d0d0;border-radius:5px;}
            .bangdingBox .changeBox{margin:10px;display:none;}
            .bangdingBox .changeBox ul{width:95%;}
            .bangdingBox .changeBox ul li{width:99%;position:relative;padding:10px 0;overflow:hidden;}
            .bangdingBox .changeBox ul li span{display:block;height:20px;line-height:20px;}
            .bangdingBox .changeBox ul li span input{border:none;height:20px;font-size:15px;width:100%;border-bottom:1px solid #c6c6c6;}
            .bangdingBox .changeBox ul li span textarea{border:none;height:20px;font-size:15px;width:100%;border-bottom:1px solid #c6c6c6;}
            .bangdingBox .changeBox ul li span.l{position:absolute;width:120px;left:0;top:10px;color:#313131;}
            .bangdingBox .changeBox ul li span.r{margin-left:100px;border-bottom:1px solid #c6c6c6;position:relative;}
            .bangdingBox .changeBox ul li span.r label{width:100%;height:100%;display: block;text-align: left;}
            .bangdingBox .changeBox ul li span.r select{position:absolute;left:0;top:0;width:100%;height:100%;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
            .bangdingBox .changeBox ul li span.r i{width:0;height:0;border-width:0 0 6px 6px;border-style:solid;border-color:transparent transparent #666 transparent;position:absolute;right:5px;bottom:5px;}
            .bangdingBox .changeBox ul li span.remind{margin-left:100px;overflow:hidden;display:block;height:auto;}
            .bangdingBox .changeBox ul li span.remind i{float:left;width:12px;height:12px;margin-top:5px;}
            .bangdingBox .changeBox ul li span.remind i img{width:100%;height:100%;}
            .bangdingBox .changeBox ul li span.remind label{display:block;margin-left:15px;line-height:auto;font-size:14px;line-height:22px;text-align:left;}
            .submitBtn{margin:30px 10px 10px 10px;height:50px;line-height:50px;border-radius:5px;text-align:center;color:white;cursor:pointer;}
        </style>
    </head>
<body>
<div class="all">
    <div class="header mainColor">
        <div class="l">
            <a class="backOff" style="background:url({OSSURL}public/mobile/img/ic_arrow_left_48px_white.svg) no-repeat;background-size: 55% 55%;background-position: 50%;" href="javascript:history.go(-1);"></a>
        </div>
        <div class="m">
            <span>申请课程</span>
        </div>
    </div>
    <div class="_header"></div>
    <div class="bangdingForm">
        <div class="bangdingBox">
            <div id="parentBox" class="changeBox activeBox">
                <ul>
                    <li>
                        <span class="l">课程名称：</span>
								<span class="r">
									<input id="name" id="name" type="text" value="" />
								</span>
                    </li>
                    <li>
                        <span class="l">一人班费用：</span>
								<span class="r">
									<input id="cose" type="number" value="" />
								</span>
                    </li>
                    <li>
                        <span class="l">两人班费用：</span>
								<span class="r">
									<input id="cose2" type="number" value="" />
								</span>
                    </li>
                    <li>
                        <span class="l">三人班费用：</span>
								<span class="r">
									<input id="cose3" type="number" value="" />
								</span>
                    </li>
                    <li>
                        <span class="l">人数限制：</span>
								<span class="r">
									<input id="minge" type="number" value="" />
								</span>
                    </li>
                    <li>
                        <span class="l">授课地址：</span>
								<span class="r">
									<input id="addr" type="text" value="" />
								</span>
                    </li>
                    <li>
                        <span class="l">最远距离：</span>
								<span class="r">
									<input id="max_distance" type="number" value="" placeholder="可接受最远公里数"/>
								</span>
                    </li>
                    <!--<li>-->
                        <!--<span class="l">是否精品课：</span>-->
								<!--<span class="r" style="border: 0px">-->
                                        <!--<input name="is_hot" type="radio" value="1" id="is_hot" style="width: 30%">是-->
								        <!--<input name="is_hot" type="radio" value="0" style="width: 30%">否-->
                                <!--</span>-->
                    <!--</li>-->
                    <li>
                        <span class="l">是否周末：</span>
								<span class="r" style="border: 0px">
                                        <input name="is_weekend" type="radio" value="1" id="is_weekend" style="width: 30%">是
								        <input name="is_weekend" type="radio" value="0" style="width: 30%">否
                                </span>
                    </li>
                    <li>
                        <span class="l">是否上门：</span>
								<span class="r" style="border: 0px">
                                        <input name="is_drop_in" type="radio" value="1" id="is_drop_in" style="width: 30%">是
								        <input name="is_drop_in" type="radio" value="0" style="width: 30%">否
                                </span>
                    </li>
                    <li>
                        <span class="l">是否公益活动：</span>
								<span class="r" style="border: 0px">
                                        <input name="is_welfare" type="radio" value="1" id="is_welfare" style="width: 30%">是
								        <input name="is_welfare" type="radio" value="0" style="width: 30%">否
                                </span>
                    </li>
                    <!--<li>-->
                        <!--<span class="l">分&nbsp;&nbsp;中&nbsp;&nbsp;心：</span>-->
								<!--<span class="r">-->
									<!--<label>{if $user['centerName'] != null}{$user['centerName']}{else}请选择{/if}</label>-->
										<!--<select id="centerid">-->
                                            <!--<option value="">请选择</option>-->
                                            <!--{loop $districtCenter $row}-->
                                            <!--{if $user['district_center_id'] == $row['sid']}-->
                                            <!--<option value="{$row['sid']}" selected>{$row['sname']}</option>-->
                                            <!--{else}-->
                                            <!--<option value="{$row['sid']}">{$row['sname']}</option>-->
                                            <!--{/if}-->
                                            <!--{/loop}-->
                                        <!--</select>-->
									<!--<i></i>-->
								<!--</span>-->
                    <!--</li>-->
                    <li>
                        <span class="l">科&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目：</span>
								<span class="r">
									<label>{if $user['km_name'] != null}{$user['km_name']}{else}请选择{/if}</label>
										<select id="km">
                                            <option value="">请选择</option>
                                            {loop $km $row}
                                            {if $user['km_id1'] == $row['sid']}
                                            <option value="{$row['sid']}" selected>{$row['sname']}</option>
                                            {else}
                                            <option value="{$row['sid']}">{$row['sname']}</option>
                                            {/if}
                                            {/loop}
                                        </select>
									<i></i>
								</span>
                    </li>
                    <!--<li>-->
                        <!--<span class="l">班级大小：</span>-->
								<!--<span class="r">-->
									<!--<label>{if $user['classSize_name'] != null}{$user['classSize_name']}{else}请选择{/if}</label>-->
										<!--<select id="class_size">-->
                                            <!--<option value="">请选择</option>-->
                                            <!--{loop $classSize $row}-->
                                            <!--{if $user['km_id2'] == $row['sid']}-->
                                            <!--<option value="{$row['sid']}" selected>{$row['sname']}</option>-->
                                            <!--{else}-->
                                            <!--<option value="{$row['sid']}">{$row['sname']}</option>-->
                                            <!--{/if}-->
                                            <!--{/loop}-->
                                        <!--</select>-->
									<!--<i></i>-->
								<!--</span>-->
                    <!--</li>-->
                    <li>
                        <span class="l">课&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时：</span>
								<span class="r">
									<input id="class_hour" type="number" value="" />
								</span>
                    </li>
                    <li>
                        <span class="l">开始日期：</span>
								<span class="r">
									<input id="start" type="date" value="" />
								</span>
                    </li>
                    <li>
                        <span class="l">结束日期：</span>
								<span class="r">
									<input id="end" type="date" value="" />
								</span>
                    </li>
                    <!--<li>-->
                        <!--<span class="l">监控时段：</span>-->
								<!--<span class="r" style="border: 0px;">-->
									<!--<input id="video_start" type="time" value="" style="width: 40%;font-size: 12px;" />&nbsp;&nbsp;至&nbsp;&nbsp;-->
                                    <!--<input id="video_end" type="time" value="" style="width: 40%;font-size: 12px;"/>-->
								<!--</span>-->
                    <!--</li>-->
                    <li style="height: 60px;">
                        <span class="l" >课程大纲：</span>
                        <span class="r" style="border: 1px solid #c6c6c6;height: 60px;">
                            <textarea style="height: 60px;" name="dagang" id="dagang"></textarea>
                        </span>
                    </li>
                    <li style="height: 60px;">
                        <span class="l" >课程说明：</span>
                        <span class="r" style="border: 1px solid #c6c6c6;height: 60px;">
                            <textarea style="height: 60px;" name="class_describe" id="class_describe"></textarea>
                        </span>
                    </li>
                </ul>
                <div class="submitBtn mainColor" onclick="Tijiao();">提交</div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var PB = new PromptBox();
    var campus = $("#campus").val();
    var subjectId = $('#subjectId').val();
    $(document).ready(function() {
        $("#centerid").change(function() {
            changeCenter();
        });
        $("#km").change(function() {
            changeKm();
        });
        $("#class_size").change(function() {
            changeClassSize();
        });
    });
    function changeCenter(){
        $("#centerid").parent().find("label").html($("#centerid").find("option:selected").text());
    }
    function changeKm(){
        $("#km").parent().find("label").html($("#km").find("option:selected").text());
    }
    function changeClassSize(){
        $("#class_size").parent().find("label").html($("#class_size").find("option:selected").text());
    }

    function Tijiao(){
        var activeBoxID = $(".bangdingBox").find(".activeBox").attr("id");
        if(activeBoxID == "parentBox"){
            if($("#name").val() == null || $("#name").val() == ""){
                PB.prompt("课程名称不能为空！");
                return;
            }
            if($("#minge").val() == null || $("#minge").val() == ""){
                PB.prompt("名额不能为空！");
                return;
            }
            if($("#addr").val() == null || $("#addr").val() == ""){
                PB.prompt("授课地址不能为空！");
                return;
            }

            if($("#km").val() == null || $("#km").val() == ""){
                PB.prompt("授课科目不能为空! ");
                return;
            }
//            if($("#centerid").val() == null || $("#centerid").val() == ""){
//                PB.prompt("请选择分中心！");
//                return;
//            }
            if($("#start").val() == null || $("#start").val() == ""){
                PB.prompt("课程开始时间不能为空！");
                return;
            }
            if($("#end").val() == null || $("#end").val() == ""){
                PB.prompt("课程开始结束不能为空！");
                return;
            }
            if($("#dagang").val() == null || $("#dagang").val() == ""){
                PB.prompt("课程大纲不能为空！");
                return;
            }
            if($("#max_distance").val() == null || $("#max_distance").val() == ""){
                PB.prompt("请输入最远可接受距离！");
                return;
            }
//            if(($("#video_start").val() != null && $("#video_start").val() != "") && ($("#video_end").val() == null || $("#video_end").val() == "")){
//                PB.prompt("监控结束时间不能为空！");
//                return;
//            }
//            if(($("#video_end").val() != null && $("#video_end").val() != "") && ($("#video_start").val() == null || $("#video_start").val() == "")){
//                PB.prompt("监控开始时间不能为空！");
//                return;
//            }
        }
        if(confirm("确认提交？")){
            var submitData = {
                openid :"{$openid}",
                schoolid :"{$schoolid}",
                weid :"{$weid}",
                uid :"{$fan['uid']}",
                tid : "{$user['id']}",
                name : $("#name").val(),
                dagang : $("#dagang").val(),
                start : $("#start").val(),
                end : $("#end").val(),
                district_center_id : $("#centerid").val(),
                minge : $("#minge").val(),
                cose : $("#cose").val(),
                cose2 : $("#cose2").val(),
                cose3 : $("#cose3").val(),
                addr : $("#addr").val(),
                km_id : $("#km").val(),
                class_size : $("#class_size").val(),
                class_hour : $("#class_hour").val(),
                class_describe : $("#class_describe").val(),
                videostart : $("#video_start").val(),
                videoend : $("#video_end").val(),
                is_weekend : $("#is_weekend")[0].checked  ? $("#is_weekend").val() : 0,
//                is_hot : $("#is_hot")[0].checked ? $("#is_hot").val() : 0,
                is_drop_in : $("#is_drop_in")[0].checked ? $("#is_drop_in").val() : 0,
                is_welfare : $("#is_welfare")[0].checked ? $("#is_welfare").val() : 0,
                max_distance : $("#max_distance").val()
            };
            $.post("{php echo $this->createMobileUrl('applycourse',array('op'=>'POST'))}",submitData,function(data){
                if(data.result){
                    PB.prompt(data.msg);
                    window.location.href = "{php echo $this->createMobileUrl('myschool', array('schoolid' => $schoolid), true)}"
                }else{
                    PB.prompt(data.msg);
                }
            },'json');
        }
    }
</script>
</html>