	<div class="list_body">
	{if $_GPC['do'] == 'order'}
		<div class="list_top">
			  <form action="./index.php" method="get" class="form-horizontal search_box" role="form" id="form1" style="margin-right:10px;">
					<input type="hidden" name="c" value="site" />
					<input type="hidden" name="a" value="entry" />
					<input type="hidden" name="m" value="zofui_groupshop" />
					<input type="hidden" name="do" value="order" />
					<input type="hidden" name="op" value="list" />
					<input type="hidden" name="search" value="1" />
					<div class="item_cell_box">
						<div class="item_cell_flex item_cell_box search_write">
							<div class="order_search_item">
								<p>商品标题</p>
								<span class="input_box input_box_150">
									<input type="text" class="input_input" name="title" value="{$_GPC['title']}">
								</span>
							</div>
							<div class="order_search_item">
								<p>收件姓名</p>
								<span class="input_box input_box_150">
									<input type="text" class="input_input" name="name" value="{$_GPC['name']}">
								</span>
							</div>						
							<div class="order_search_item">
								<p>平台订单编号</p>
								<span class="input_box input_box_150">
									<input type="text" class="input_input" name="orderid" value="{$_GPC['orderid']}">
								</span>
							</div>
							<div class="order_search_item">
								<p>微信订单编号</p>
								<span class="input_box input_box_150">
									<input type="text" class="input_input" name="uorderid" value="{$_GPC['uorderid']}">
								</span>
							</div>							
							<div class="order_search_item">
								<p>&nbsp;</p>
								<input type="submit" class="btn_44b549" value="搜索">
							</div>						
						</div>
						{if empty($_GPC['search'])}
							<div class="">
								<p>&nbsp;</p>
								<a href="{php echo WebCommon::structOrderUrl($_GPC,'download','1')}" class="a_href" onclick="return confirm('只能下载当前筛选内容的订单,确定下载吗？');">下载表格</a>
							</div>
						{/if}
					</div>
				</form>		
			
			<div class="input-group select_btn">
				<div class="btn-group">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  {if $_GPC['ordertype']== 1}单独下单
					  {elseif $_GPC['ordertype']==2}参团订单
					  {elseif $_GPC['ordertype']==3}建团订单
					  {else}全部类型
					  {/if}
					  <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'ordertype',1)}">单独下单</a></li>		
					<li role="separator" class="divider"></li>	
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'ordertype',2)}">参团订单</a></li>		
					<li role="separator" class="divider"></li>
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'ordertype',3)}">建团订单</a></li>		
					<li role="separator" class="divider"></li>					
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'ordertype','')}">全部类型</a></li>
				  </ul>
				</div>
			</div>			
			<div class="input-group select_btn">
				<div class="btn-group">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  {if $_GPC['firstcut']== 1}首单优惠订单
					  {elseif $_GPC['firstcut']==2}无首单很优惠					  
					  {else}是否首单优惠
					  {/if}
					  <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'firstcut',1)}">首单优惠订单</a></li>		
					<li role="separator" class="divider"></li>	
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'firstcut',2)}">无首单很优惠</a></li>		
					<li role="separator" class="divider"></li>
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'firstcut','')}">是否首单优惠</a></li>
				  </ul>
				</div>
			</div>			
			
			<div class="input-group select_btn">
				<div class="btn-group">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  {if $_GPC['expresscut']== 1}优惠运费订单
					  {elseif $_GPC['expresscut']==2}未优惠运费				  
					  {else}是否优惠运费
					  {/if}
					  <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'expresscut',1)}">优惠运费订单</a></li>		
					<li role="separator" class="divider"></li>	
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'expresscut',2)}">未优惠运费</a></li>		
					<li role="separator" class="divider"></li>
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'expresscut','')}">是否优惠运费</a></li>
				  </ul>
				</div>
			</div>	
			<div class="input-group select_btn">
				<div class="btn-group">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  {if $_GPC['cardcut']== 1}使用卡券订单
					  {elseif $_GPC['cardcut']==2}未使用卡券			  
					  {else}是否使用卡券
					  {/if}
					  <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'cardcut',1)}">使用卡券订单</a></li>		
					<li role="separator" class="divider"></li>	
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'cardcut',2)}">未使用卡券</a></li>		
					<li role="separator" class="divider"></li>
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'cardcut','')}">是否使用卡券</a></li>
				  </ul>
				</div>
			</div>
			<div class="input-group select_btn">
				<div class="btn-group">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  {if $_GPC['creditcut']== 1}积分减免订单
					  {elseif $_GPC['creditcut']==2}未积分减免			  
					  {else}是否积分减免	
					  {/if}
					  <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'creditcut',1)}">积分减免订单</a></li>		
					<li role="separator" class="divider"></li>	
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'creditcut',2)}">未积分减免</a></li>		
					<li role="separator" class="divider"></li>
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'creditcut','')}">是否积分减免</a></li>
				  </ul>
				</div>
			</div>			
			<div class="input-group select_btn">
				<div class="btn-group">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  {if $_GPC['order']== 'totalmoney'}订单金额排序
					  {elseif $_GPC['order']== 'groupid'}团id排序
					  {elseif $_GPC['order']== 'gid'}商品id排序					  
					  {elseif $_GPC['order']=='userid'}会员id排序
					  {elseif $_GPC['order']=='paytime'}支付时间排序
					  {elseif $_GPC['order']=='sendtime'}发货时间排序
					  {elseif $_GPC['order']=='confirmtime'}完成时间排序
					  {elseif $_GPC['order']=='refundtime'}退款时间排序
					  {elseif $_GPC['order']=='firstcutmoney'}首单优惠金额排序
					  {elseif $_GPC['order']=='creditcut'}积分减免金额排序					  
					  {elseif $_GPC['order']=='cardcutmoney'}卡券优惠金额排序
					  {elseif $_GPC['order']=='totalfreeexpress'}运费优惠金额排序					  
					  {elseif $_GPC['order']=='totalnum'}下单数量排序
					  {else}最新订单排序	
					  {/if}
					  <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" style="overflow-y:scroll;height:200px;">
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'order','totalmoney')}">订单金额排序</a></li>		
					<li role="separator" class="divider"></li>	
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'order','groupid')}">团id排序</a></li>		
					<li role="separator" class="divider"></li>
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'order','gid')}">商品id排序</a></li>		
					<li role="separator" class="divider"></li>					
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'order','userid')}">会员id排序</a></li>		
					<li role="separator" class="divider"></li>	
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'order','paytime')}">支付时间排序</a></li>		
					<li role="separator" class="divider"></li>					
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'order','sendtime')}">发货时间排序</a></li>		
					<li role="separator" class="divider"></li>	
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'order','confirmtime')}">完成时间排序</a></li>		
					<li role="separator" class="divider"></li>					
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'order','refundtime')}">退款时间排序</a></li>		
					<li role="separator" class="divider"></li>	
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'order','firstcutmoney')}">首单优惠金额排序</a></li>		
					<li role="separator" class="divider"></li>					
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'order','creditcut')}">积分减免金额排序</a></li>		
					<li role="separator" class="divider"></li>	
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'order','cardcutmoney')}">卡券优惠金额排序</a></li>		
					<li role="separator" class="divider"></li>					
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'order','totalfreeexpress')}">运费优惠金额排序</a></li>			
					<li role="separator" class="divider"></li>
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'order','totalnum')}">下单数量排序</a></li>		
					<li role="separator" class="divider"></li>					
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'order','id')}">最新订单排序</a></li>
				  </ul>
				</div>
			</div>			
			
			<div class="input-group select_btn">
				<div class="btn-group">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  {if $_GPC['by']== 1}正序
					  {else}倒序
					  {/if}
					  <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'by',1)}">正序</a></li>		
					<li role="separator" class="divider"></li>	
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'by','')}">倒序</a></li>
				  </ul>
				</div>
			</div>	
			
	    	<form enctype="multipart/form-data" class="import_order" action="" method="post">
                    <div class="select_order">
                        <input type="file" name="orderfile" class="" /><span class="is_select_file">导入CSV文件发货</span>
                    </div>
                    <input type="submit" name="import" class="a_href" value="确定导入" />
					<input name="token" type="hidden" value="{$_W['token']}" />
	   		</form>	
			
		</div>
	{else}
		<div class="list_top">
			<div class="input-group select_btn">
				<div class="btn-group">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  {if $_GPC['status']== 1}待支付订单
					  {elseif $_GPC['status']== 2}已取消订单
					  {elseif $_GPC['status']==3}待发货订单
					  {elseif $_GPC['status']==4}待收货订单
					  {elseif $_GPC['status']=='end'}已完成订单
					  {elseif $_GPC['status']=='refund'}申请退款订单
					  {elseif $_GPC['status']==7}已退款订单
					  {else}参团成功的订单
					  {/if}
					  <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'status',1)}">待支付订单</a></li>		
					<li role="separator" class="divider"></li>	
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'status',2)}">已取消订单</a></li>		
					<li role="separator" class="divider"></li>					
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'status',3)}">待发货订单</a></li>		
					<li role="separator" class="divider"></li>
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'status',4)}">待收货订单</a></li>		
					<li role="separator" class="divider"></li>						
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'status','end')}">已完成订单</a></li>
					<li role="separator" class="divider"></li>					
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'status','refund')}">申请退款订单</a></li>
					<li role="separator" class="divider"></li>	
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'status',7)}">已退款订单</a></li>
					<li role="separator" class="divider"></li>						
					<li><a href="{php echo WebCommon::structOrderUrl($_GPC,'status','')}">参团成功的订单</a></li>
				  </ul>
				</div>
			</div>
			
			<span class="font_13px_999">提示：切换到待发货订单后可对订单批量发货处理</span>
		</div>
	{/if}

		<div class="list_table good_list">
<form action="" method="post">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-sm-1">
								<label class="my_checkbox">
								<input class="" type="checkbox" name="" onclick="var ck = this.checked;$('.goodid_check input').each(function(){this.checked = ck});"> 全选/取消
								</label>
							</th>
							<th class="col-sm-2">
								{if empty($_GPC['showgood'])}
									<a href="{php echo WebCommon::structOrderUrl($_GPC,'showgood',1)}">订单编号 <span class="caret"></span></a>
								{else}
									<a href="{php echo WebCommon::structOrderUrl($_GPC,'showgood','')}">订单商品 <span class="caret"></span></a>
								{/if}
								<span class="font_13px_999">(这里可切换)</span>
							</th>
							<th class="col-sm-2 table_allexpress" style="display:none">批量发货 &nbsp;
								<label class="font_13px_999">
									<input checked="checked" type="checkbox" value="1" name="batchselectexpress">批量改变快递
								</label>
							</th>							
							<th class="col-sm-1">订单类型</th>
							<th class="col-sm-1">数量/金额</th>
							<th class="col-sm-1">买家</th>
							<th class="col-sm-1">状态/收货</th>
							<th class="col-sm-1">操作</th>
						</tr>
					</thead>
					<tbody>
						{loop $list $k $v}
							{php $showgoodlist = array();}
							{loop $v $kk $vv}
								{php $showgoodlist[$kk]['gid'] = $vv['gid'];$showgoodlist[$kk]['title'] = $vv['title'];$showgoodlist[$kk]['pic'] = $vv['pic']; $showgoodlist[$kk]['num'] = $vv['buynum']}
							{/loop}
						{loop $v  $kk $vv}
						<tr>
							<td class="">
								<label class="my_checkbox goodid_check">
									<input type="checkbox" name="checkid[]" value="{$vv['id']}" class=""> {$vv['id']}
								</label>
							</td>
							<td class="opclass">
								{if empty($_GPC['showgood'])}
									<li>平台: <a href="javascript:;" class="a_href copy_url" data-href="{$vv['orderid']}">{$vv['orderid']}</a></li>
									<li>微信:
										<a href="javascript:;" {if !empty($vv['uorderid'])}class="a_href copy_url"{/if} data-href="{$vv['uorderid']}">
											{php echo empty($vv['uorderid'])?'还未生成':$vv['uorderid']}
										</a>
									</li>
								{else}
									{loop $showgoodlist $good}
										<li style="overflow: hidden;">
											<img src="{php echo tomedia($good['pic'])}" width="30px" height="30px;"> X{$good['num']} 
											<a target="_blank" href="{php echo $this->createWebUrl('good',array('op'=>'edit','id'=>$good['gid'],'look'=>1))}" class="a_href" >{$good['title']}</a>
										</li>
									{/loop}
								{/if}
							</td>
							<td class="table_allexpress" style="display:none">
								<div class=" item_cell_box">
									<div class=" item_cell_flex">
										快递
										<select class="input_box_150 input_box batchexpress_select" name="batchexpressname[{$vv['id']}]">
											<option value="顺丰">顺丰</option>
											<option value="申通">申通</option>
											<option value="韵达快运">韵达快运</option>
											<option value="天天快递">天天快递</option>
											<option value="圆通速递">圆通速递</option>
											<option value="中通速递">中通速递</option>
											<option value="ems快递">ems快递</option>
											<option value="汇通快运">汇通快运</option>
											<option value="全峰快递">全峰快递</option>
											<option value="宅急送">宅急送</option>
											<option value="德邦物流">德邦物流</option>
											<option value="快捷快递">快捷快递</option>
										</select>
									</div>
								</div>
								<div class=" item_cell_box">
									<div class=" item_cell_flex">
										编号 <span class="input_box input_box_150">
											<input type="text" class="input_input batchexpressnumber" name="batchexpressnumber[{$vv['id']}]" value="">
										</span>
									</div>
								</div>
							</td>							
							<td class="">
								<li>
									{if $vv['ordertype'] == 1}
										<span class="">单独订单</span>
									{elseif $vv['ordertype'] == 2}
										<li><span class="font_ff5f27">参团订单</span></li>
										<li>
											<span class=""><a target="_blank" href="{php echo $this->createWebUrl('group',array('op'=>'info','id'=>$vv['groupid']))}" class="a_href">团id:{$vv['groupid']}</a></span>
										</li>
									{elseif $vv['ordertype'] == 3}
										<li><span class="font_ff5f27">建团订单</span></li>
										{if $vv['groupid'] > 0}
										<li><span class=""><a target="_blank" href="{php echo $this->createWebUrl('group',array('op'=>'info','id'=>$vv['groupid']))}" class="a_href">团id:{$vv['groupid']}</a></span></li>
										{/if}
									{elseif $vv['ordertype'] == 4}
										<span class="">测试订单</span>										
									{/if}
								</li>	
							</td>
							<td class="font_13px_999">
								<li>总量：<span class="font_ff5f27">{$vv['totalnum']}</span></li>
								<li>总额：<span class="font_ff5f27">{$vv['totalmoney']}</span></li>
							</td>
							<td class="opclass">
								<li><a href="" class="a_href" target="_blank">{$vv['userinfo']['nickname']}</a></li>
							</td>
							<td style="display:none">
								<li>
									名称:<span class="input_box input_box_100">
										<input type="text" class="input_input" name="title" value="">
									</span>
								</li>
								<li>
									名称:<span class="input_box input_box_100">
										<input type="text" class="input_input" name="title" value="">
									</span>
								</li>
							</td>							
							<td>
								{if $vv['refundstatus'] != 1}
									{if $vv['status'] == 1}
										<p class="font_13px_999">待支付</p>
									{elseif $vv['status'] == 2}
										<p class="font_13px_999">已取消</p>
									{elseif $vv['status'] == 3}
										<p class="font_ff5f27">待发货</p>
									{elseif $vv['status'] == 4}
										<p class="font_green">待收货</p>
									{elseif $vv['status'] == 5 || $vv['status'] == 6}
										<p class="font_13px_999">已完成</p>
									{elseif $vv['status'] == 7}
										<li><span class="font_13px_999">已退款</span></li>
										<li class="font_13px_999">退款金额：<span class="font_ff5f27">{$vv['refundmoney']}</span></li>
									{/if}
								{else}
									<p class="font_ff5f27">申请退款</p>
								{/if}
								{if $vv['sendtype'] == 0}
									<p class="font_13px_999">物流配送</p>
								{else}
									<p class="font_13px_999 font_green">上店自提</p>
								{/if}
							</td>
							<td class="opclass">
								<span><a href="{php echo $this->createWebUrl('order',array('op'=>'info','id'=>$vv['id']))}" class="a_href" target="_blank">详情</a></span>
								{if $vv['status'] == 1 || $vv['status'] == 2}
									<span><a href="{php echo $this->createWebUrl('order',array('op'=>'delete','id'=>$vv['id']))}" class="a_href" target="_blank">删除</a></span>
								{/if}
								{if $vv['status'] == 3}
									{if $vv['refundstatus'] != 1}
										{if $vv['sendtype'] == 0}
											<span><a href="javascript:;" class="a_href order_deal_btn" data-type="express" data-name="{$vv['expressname']}" data-num="{$vv['expressnumber']}" target="_blank">发货</a></span>
										{elseif $vv['sendtype'] == 1}
											<span><a href="{php echo $this->createWebUrl('order',array('op'=>'comorder','id'=>$vv['id']))}" class="a_href"  target="_blank" onclick="return confirm('确定要完成订单吗？');" >完成</a></span>
										{/if}
									{/if}
									<span><a href="javascript:;" class="a_href order_deal_btn" data-type="refund" target="_blank">退款</a></span>
								{/if}
								{if $vv['status'] == 4}
									<span><a href="javascript:;" class="a_href order_deal_btn" data-type="editexpress" target="_blank">修改快递</a></span>
									<span><a href="javascript:;" class="a_href order_deal_btn" data-type="refund" target="_blank">退款</a></span>
								{/if}
								{if $vv['refundstatus'] == 1}
									<span><a href="javascript:;" data-id="{$vv['id']}" class="a_href order_list_refuserefund" data-type="refuserefund" target="_blank">拒绝退款</a></span>
								{/if}
								<ul class="dropdown-menu order_deal_box">
									<div class="order_deal_body">
										<div class="order_express_body order_item_body" style="display:none">
											<div class=" item_cell_box order_deal_item border_bottom" >
												<div class="item_cell_flex checkbox">
													<p>{$vv['name']}</p>
													<p>{$vv['tel']}</p>
													<p style="white-space: normal;">{$vv['address']}</p>
												</div>
											</div>										
											<div class=" item_cell_box order_deal_item">
												<div class="item_cell_flex checkbox">
													<label><input type="radio" class="expresstype" name="ruletype{$vv['id']}" value="1" {if $vv['isneedexpress'] == 0 || $vv['isneedexpress'] == 2}checked="checked"{/if}>需要物流</label>
													<label><input type="radio" class="expresstype" name="ruletype{$vv['id']}" value="0" {if $vv['isneedexpress'] == 1}checked="checked"{/if}> 不需物流</label>
												</div>
											</div>
											<div class="item_cell_box order_deal_item express_need" {if $vv['isneedexpress'] == 1}style="display:none"{/if}>
												<div class="order_deal_title">快递名称 </div>
												<div class="">
													<select class="input_box_150 input_box" name="expressname">
														<option {if !(strpos($vv['expressname'],'顺丰') === false) }selected="selected"{/if}>顺丰</option>
														<option {if !(strpos($vv['expressname'],'申通') === false) }selected="selected"{/if}>申通</option>
														<option {if !(strpos($vv['expressname'],'韵达') === false) }selected="selected"{/if}>韵达快运</option>
														<option {if !(strpos($vv['expressname'],'天天') === false) }selected="selected"{/if}>天天快递</option>
														<option {if !(strpos($vv['expressname'],'圆通') === false) }selected="selected"{/if}>圆通速递</option>
														<option {if !(strpos($vv['expressname'],'中通') === false) }selected="selected"{/if}>中通速递</option>
														<option {if !(strpos($vv['expressname'],'ems') === false) }selected="selected"{/if}>ems快递</option>
														<option {if !(strpos($vv['expressname'],'汇通') === false) }selected="selected"{/if}>汇通快运</option>
														<option {if !(strpos($vv['expressname'],'全峰') === false) }selected="selected"{/if}>全峰快递</option>
														<option {if !(strpos($vv['expressname'],'宅急送') === false) }selected="selected"{/if}>宅急送</option>
														<option {if !(strpos($vv['expressname'],'德邦') === false) }selected="selected"{/if}>德邦物流</option>
														<option {if !(strpos($vv['expressname'],'快捷') === false) }selected="selected"{/if}>快捷快递</option>
													</select>
												</div>
											</div>
											<div class="item_cell_box order_deal_item express_need" {if $vv['isneedexpress'] == 1}style="display:none"{/if}>
												<div class="order_deal_title">快递编号 </div>
												<div class="">
													<span class="input_box input_box_150">
														<input type="tel" class="input_input" name="expressnumber" value="{$vv['expressnumber']}">
													</span>
												</div>
											</div>
										</div>
										<div class="order_refund_body order_item_body" style="display:none;">
											<div class=" item_cell_box order_deal_item border_bottom" >
												<div class="item_cell_flex checkbox">
													<p>订单总额：{$vv['totalmoney']} 元</p>
												</div>
											</div>
											<div class="item_cell_box order_deal_item">
												<div class="order_deal_title">退款金额 </div>
												<div class="">
													<span class="input_box input_box_150">
														<input type="text" class="input_input" name="refundmoney" value="{$vv['totalmoney']}">
													</span>
												</div>
											</div>
										</div>
									</div>
									<li class="change_sort_btns">
										<input type="button" name="confirm_order" data-id="{$vv['id']}" class="btn_44b549 confirm_order" value="确定">&nbsp;&nbsp;
										<input class="btn btn-default closethisdealbox" type="button" value="取消">
									</li>
								</ul>
									  
							</td>
						</tr>
						{php break;}
						{/loop}
						{/loop}						
					</tbody>
				</table>		
		</div>	
	
		<div class="list_bottom item_cell_box good_list good_list_bot">

			<div class="item_cell_flex">
				<label class="">
					<input class="" type="checkbox" name="" onclick="var ck = this.checked;$('.goodid_check input').each(function(){this.checked = ck});"> 全选/取消
				</label>&nbsp;&nbsp;&nbsp;
				{if ($_GPC['status'] == 1 || $_GPC['status'] == 2 || empty($_GPC['status'])) && $_GPC['do'] == 'order'}
				<input type="submit" name="delete" class="btn_44b549" value="删除所选" onclick="return confirm('只能删除未支付的订单，确定要批量删除吗？');">
				{/if}
				{if $_GPC['status'] == 3}
					<input type="submit" name="noexpresssend" class="btn_44b549 noexpress_btn" value="批量无物流发货" onclick="return confirm('确认对所选商品批量发货吗？');">
					<input type="button" name="alltoexpress" class="btn_44b549" value="批量物流发货">
					<input type="hidden" name="submitbatchexpress" class="btn_44b549" value="提交批量物流发货">
					<input type="hidden" name="quitbatchexpress" class="btn_44b549" value="退出批量发货">						
				{/if}
				{if empty($_GPC['status'])  && $_GPC['do'] == 'order'}
					<a href="javascript:;" class="btn_44b549 testdata_btn" data-op="order">增加5条测试数据</a>
					<input type="submit" name="deletetestorder" class="btn_44b549" onclick="return confirm('确定要删除吗？');" value="删除所有测试订单">
				{/if}
				<input name="token" type="hidden" value="{$_W['token']}" />
			</div>
			<div class="">{$pager}</div>
		</div>
	
</form>	

	</div>