{template 'common/header'}
<link rel="stylesheet" type="text/css" href="{HLMMS_MOBILE_CSS}chargelist.css" />
<script src="{HLMMS_MOBILE_JS}tab.js"></script>
<body>
<section class="aui-flexView">
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">次卡详情</h1>
    </header>
    <section class="aui-scrollView">
        <div class="aui-tab" data-ydui-tab >
            <ul class="tab-nav">
                <li class="tab-nav-item">
                    <a href="{php echo $this->createMobileUrl('secondarycard',array('op' => 'index', 'memberid'=>$mobilememberinfo['id'],'storeid'=>$storeid))}">未领取</a>
                </li>
                <li class="tab-nav-item">
                    <a href="{php echo $this->createMobileUrl('secondarycard',array('op' => 'beinguse', 'memberid'=>$mobilememberinfo['id'],'storeid'=>$storeid))}">使用中</a>

                </li>
                <li class="tab-nav-item  tab-active">
                    <a href="{php echo $this->createMobileUrl('secondarycard',array('op' => 'userear', 'memberid'=>$mobilememberinfo['id'],'storeid'=>$storeid))}">过期/停用</a>
                </li>
            </ul>
            <div class="tab-panel"style="margin-top: 15%">
                <div class="tab-panel-item tab-active">
                    <div class="tab-item">
                        <div class="tab-item-list tab-item-list-default">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
</body>
<script type="text/javascript">
    function showDiv1(){
        //$("#test1").attr("style","display:block");
        //$("#test1").show();
        $("#test1").css("display","block");
    }
    function showDiv2(){
        //$("#test2").attr("style","visibility:visible");
        $("#test2").css("visibility","visible");
    }


    function hiddenDiv1(){
        $("#test1").hide();
    }

    function hiddenDiv2(){
        $("#test2").attr("style","visibility:hidden");
    }

</script>

