@charset "utf-8";
* {
    tap-highlight-color:transparent;
    -webkit-tap-highlight-color:transparent;
    -ms-tap-highlight-color:transparent;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:0;
    margin:0;
    border:0;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    vertical-align:baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}
body {
    line-height:1;
    font-family:Microsoft YaHei, Arial, Helvetica, sans-serif;
    background:#f7f7f7;
}
li, ol, ul {
    list-style:none;
}
html {
    -webkit-text-size-adjust:100%;
}
a, div, header, span {
    -webkit-tap-highlight-color:rgba(255, 255, 255, 0);
}
blockquote, q {
    quotes:none;
}
blockquote:after, blockquote:before, q:after, q:before {
    content:"";
    content:none;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
input, textarea {
    outline:0;
    resize:none;
}
/* --------------mask toast------------------ */
.mask{
    background-color: #000;
    -webkit-opacity: .4;
    opacity: .4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    display: none;
}

.mask.active,
.toast.active{
    display: block;
}
.toast{
    display: none;
    max-width:60%;
    line-height: 30px;
    border-radius: 5px;
    padding:5px 20px;
    color: #fff;
    font-size: 12px;
    background: rgba(0,0,0,.8);
    position: fixed;
    top:50%;
    left:50%;
    z-index: 1000;
    transform: translate(-50%,-50%);
}
/* -------------疯狂打call */
.call{
    max-width: 750px;
    margin:0 auto;
}
.banner{
    position: relative;
    width:100%;
    height: auto;
}
.banner img{
    width:100%;
    display: block;
}
.marquee{
    position: absolute;
    top:10px;
    left:50%;
    margin-left:-150px;
    width:300px;
    height:34px;
    background: rgba(255,255,255, .8);
    border-radius: 17px;
    line-height: 34px;
}
.marquee p{
    width:100%;
    height:34px;
    text-align: center;
    font-size: 12px;
    color: #fc634d;
}
.marquee p span{
    color: #666;
    margin:0 5px;
}
.click-area{
    position: relative;
    width:235px;
    height:75px;
    margin:15px auto;
}
.click-area span{
    display: block;
    position: absolute;
}
.icon-eye{
    width:100px;
    height:34px;
    border-radius: 17px;
    left:0;
    top:20px;
    background: rgba(255,255,255, .4);
}

.icon-eye img{
    display: block;
    width:26px;
    height:16px;
    margin:9px auto;
}
.num{
    width:100px;
    height:34px;
    border-radius: 17px;
    right:0;
    top:20px;
    background-color: #f2412a;
    line-height: 34px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.header{
    top:0;
    left:50%;
    margin-left:-37px;
    width:75px;
    height:75px;
    border:2px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
}
.header img{
    display: block;
    width:71px;
    height:71px;
    border-radius: 50%;
}

.info{
    padding-bottom: 18px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    color: #fff;
}
.info span{
    font-size: 20px;
}
.f-list{
    min-height:40px;
    padding:0 25px;
}
.f-list ul{
    width:100%;
    height:40px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    transition: height .5s;
}
.f-list ul.active{
    height: auto;
}
.f-list ul li{
    width:40px;
    height:40px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}
.f-list ul li img{
    width:40px;
    height:40px;
}
.look-more{
    width:140px;
    height:40px;
    line-height: 40px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin:0 auto;
}


.exchange-area{
    width:300px;
    height:auto;
    padding-top:30px;
    margin:0 auto;
}
.exchange-area li{
    width:300px;
    height:85px;
    margin-bottom:10px;
}
.exchange-area li img{
    float: left;
    width:230px;
    height:85px;
}
.exchange-btn{
    float: right;
    width:70px;
    height:85px;
    background: #ffdc63;
}
.exchange-btn p{
    line-height: 40px;
    padding-top:20px;
    text-align: center;
    color: #fff;
    font-size: 26px;
}
.exchange-btn div{
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
}
.exchange-btn div img{
    float: none;
    display: inline-block;
    width:16px;
    height:14px;
    vertical-align: -2px;
}
.rank-logo{
    width:222px;
    height:52px;
    margin:35px auto 20px;
    background: url(../img/rank.png) no-repeat;
    background-size:cover;
}
.ranklist{
    margin:0 25px;
    padding-bottom: 70px;
}
.ranklist li{
    width:100%;
    height:36px;
    background: #eb4541;
    border-radius:18px;
    margin-bottom: 10px;
}
.rank-num{
    float: left;
    width:35px;
    height:36px;
    margin-left:10px;
    color: #fff100;
    font-size: 12px;
    line-height: 36px;
    text-align: center;
}
.rank-num-1{
    background: url(../img/rank1.png) no-repeat center center;
    background-size: 50% auto;
}
.rank-num-2{
    background: url(../img/rank2.png) no-repeat center center;
    background-size: 50% auto;
}
.rank-num-3{
    background: url(../img/rank3.png) no-repeat center center;
    background-size: 50% auto;
}
.head-img{
    float: left;
    width:30px;
    height:30px;
    margin:3px 0 0 5px;
    border-radius: 50%;
}
.ranklist li span{
    float: left;
    margin-left:10px;
    line-height: 36px;
    color: #fff;
    font-size: 12px;
}
.icon-e{
    float: right;
    margin-right: 10px;
    width:25px;
    height:18px;
    margin-top:9px;
}
.ranklist li em{
    float: right;
    font-size: 12px;
    color: #fff;
    line-height: 36px;
    margin-right: 10px;
}



.foot-bar{
    position: fixed;
    z-index: 20;
    width:100%;
    height:50px;
    background-color: #fff;
    left:0;
    bottom:0;
    display: flex;
}
.foot-bar a{
    flex:1;
    font-size: 10px;
    color: #666;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
}
.foot-bar a img{
    display: block;
    width:24px;
    height:24px;
    margin:4px auto 0;
}
.foot-bar a.huodong{
    color: #f2412a;
}

.hd-rec{
    position: fixed;
    top:100px;
    right:0;
    width:40px;
    height:115px;
    box-sizing: border-box;
    background: url(../img/icon2.png) no-repeat;
    background-size: 40px 115px;
    font-size: 14px;
    color: #ffe26e;
    line-height: 16px;
    padding:25px 8px 0 18px;
}


/* pop */
.pop-1{
    display: none;
    position: fixed;
    top:50%;
    left:50%;
    z-index:102;
    margin-left:-90px;
    margin-top:-42px;
    width:180px;
    height:150px;
    background: #f34834;
    border-radius: 5px;
}
.pop-1.active{
    display: block;
}
.friend-pic{
    position: absolute;
    top:-32px;
    left:50%;
    margin-left:-32px;
    display: block;
    width:65px;
    height:65px;
    box-sizing: border-box;
    border:2px solid rgba(255,255,255, .4);
    border-radius: 50%;
}
.pop-icon-e{
    display: block;
    width:60px;
    height:40px;
    margin:45px auto 18px;
}
.pop-btn{
    display: block;
    width:120px;
    height:30px;
    line-height: 30px;
    font-size:15px;
    color: #f34834;
    background: #ffe26e;
    border-radius: 15px;
    margin:0 auto;
}

.pop-2{
    display: none;
}
.pop-2.active{
    display: block;
    position: fixed;
    top:50%;
    left:50%;
    z-index: 102;
    margin-top:-78px;
    margin-left:-120px;
    width:240px;
    height:156px;
    background: #fff;
    border-radius: 5px;
}
.pop-tit{
    height:47px;
    line-height: 47px;
    text-align: center;
    font-size: 16px;
    color: #ffe26e;
}
.pop-txt{
    line-height: 42px;
    color: #666;
    font-size: 14px;
    text-align: center;
    padding-bottom: 15px;
}



.pop-rec{
    display: none;
}
.pop-rec.active{
    display: block;
    position: fixed;
    z-index: 102;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:90%;
    height:auto;
    background: #fff;
    box-sizing: border-box;
    padding:25px 20px;
}
.rec-name{
    width:212px;
    height:38px;
    margin:0 auto 20px;
    background: url(../img/hd-rec.png) no-repeat;
    background-size: 212px 38px;
}
.rec-tit{
    margin-top:10px;
    font-size: 12px;
    color: #666;
    line-height: 20px;
}
.rec-txt{
    font-size: 12px;
    color: #666;
    line-height: 20px;
}
.pop-rec-close{
    position: absolute;
    top:0;
    right:0;
    width:40px;
    height:40px;
}
.pop-rec-close::before,
.pop-rec-close::after{
    content: '';
    display: block;
    width:1px;
    height:30px;
    background: #999;
    position: absolute;
}
.pop-rec-close::before{
    transform: rotate(45deg);
    top:8px;
    left:17px;
}
.pop-rec-close::after{
    transform: rotate(-45deg);
    top:8px;
    left:17px;
}















/*  */
