{template 'common/header'}
<ul class="nav nav-tabs">
	<li class="active"><a href="{php echo $this->createWebUrl('chipmanager',array('op'=>'post'));}">添加众筹</a></li>
	<li><a href="{php echo $this->createWebUrl('chipmanager');}">众筹管理</a></li>
</ul>
<div class="main">
	<form action="" id="form" method="post" class="form-horizontal form" enctype="multipart/form-data">
		<div class="panel panel-default">
			<div class="panel-heading">
				添加众筹
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">标题</label>
					<div class="col-sm-5">
						<select class="form-control" name="chipid">
							{loop $chips $c}
								<option value="{$c['id']}" {if $takechip['chipid']==$c['id']}selected{/if}>{$c['title']}</option>
							{/loop}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">姓名</label>
					<div class="col-sm-5">
						<select class="form-control" name="mid">
							{loop $members $m}
								<option value="{$m['id']}" {if $takechip['mid']==$m['id']}selected{/if}>{php echo base64_decode($m['realname'])}</option>
							{/loop}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">电话号码</label>
					<div class="col-sm-5">
						<input type="text" name="mobile" class="form-control" value="{$takechip['mobile']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">众筹金额</label>
					<div class="col-sm-5">
						<input type="text" name="joinmoney" class="form-control" value="{$takechip['joinmoney']}" placeholder="默认1"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">众筹时间</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" name="createtime" value="{php echo date('Y-m-d h:i:s', $takechip['createtime'])}" readonly />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">支付状态</label>
					<div class="col-sm-5">
						<label class="radio-inline">
							<input type="radio" name="status" value="1" {if $takechip['status'] == 1}checked="true"{/if}>支付
						</label>
						<label class="radio-inline">
							<input type="radio" name="status" value="0" {if $takechip['status'] == 0}checked="true"{/if}>未支付
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">是否中奖</label>
					<div class="col-sm-5">
						<label class="radio-inline">
							<input type="radio" name="isaward" value="1" {if $takechip['isaward'] == 1}checked="true"{/if}>中奖
						</label>
						<label class="radio-inline">
							<input type="radio" name="isaward" value="0" {if $takechip['isaward'] == 0}checked="true"{/if}>未中奖
						</label>
					</div>
				</div>
			</div>
			<div class="form-group col-sm-12">
				<input type="hidden" name="token" value="{$_W['token']}" />
				<input type="hidden" name="id" value="{$takechip['id']}" />
				<input type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交" />
			</div>
		</div>
	</form>
</div>
<script text="text/javascript">
require(['jquery', 'util'], function($, u){
	$("#form").submit(function(){
		var reg = /^1[3458]\d{9}$/;
		if(!reg.test($(":text[name='mobile']").val())) {
			u.message('手机号码格式不正确', '', 'error');
			return false;
		}
		if($(":text[name='joinmoney']").val() != '' && isNaN($(":text[name='joinmoney']").val())) {
			u.message('请填写合法众筹金额！', '', 'error');
			return false;
		}
		return true;
	});
});
</script>
{template 'common/footer'}