*{
    margin: 0;
    padding: 0;
}
.lw-clooect{
    width: 100%;
    background-color: white;
    border-top:1px solid #c7c7c7;
    border-bottom:1px solid #c7c7c7;
    margin-top: 20px;
}
.lw-clooect div{
    float: left;
}
ul,li{
    list-style: none;
}
.clear{
    clear:both;
}
.lw-clooect-left img{
    width: 30px;
    /*padding-top: 10px;*/
}
.lw-clooect-center{
    /*padding-top: 14px;   */
    width: 65%;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
}
.lw-clooect-left{
    text-align: center;
    height: 50px;
    width: 20%;
    margin-top: -2px;
    background-size: 30px 30px;
}
.lw-clooect-right{
    text-align: center;
    width: 15%;
    height: 100%;
}
.lw-clooect{
    padding-bottom: 14px;
    height: 50px;
    overflow: hidden;
}
.lw-clooect-right img{
    width: 22px;
    padding-top: 14px;
}
.lw-clooect-left-1{
    background: url(../images/collection_1.png) no-repeat center;
    background-size: 30px 30px;
}
.lw-clooect-left-2{
    background: url(../images/collection_3.png) no-repeat center;
    background-size: 30px 30px;
}
.lw-clooect-left-3{
    background: url(../images/collection_2.png) no-repeat center;
    background-size: 30px 30px;
}