/************************** 全局css样式 ************************/
*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
.clear{
    clear: both;
}
a,a:hover,a:visited,a:focus{
    text-decoration: none;
    color: #333;
}
body,html{
    font-size: 16px;
    font-family: '微软雅黑 Microsoft YaHei'
}
/* *************************全局css样式*********************** */
 /* ************************档案详情 ***************************/
.dz-filehead{
    width: 100%;
    height: 50px;
    position: relative;
    background-color: #fcfcfc;
    text-align: center;
    line-height: 50px;
    border-bottom: 4px solid #f3f3f3;
}
.goback{
    position: absolute;
    left: 10px;
    top: 13px;
    height: 24px;
}
.bianji{
    position: absolute;
    right: 10px;
    top: 15px;
    height: 22px;
}
.dz-headimg{
    width: 100%;
    height: 150px;
    vertical-align:middle;
    text-align: center;
}
.dz-headimg img{
    width: 80px;
    height: 80px;
    margin-top: 35px;
    border-radius: 10px;
}
.dz-fileinfo{
    width: 90%;
    margin: 0 auto;
}
.dz-fileinfoli{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #d0d0d0;
    font-size: 14px;
}
.dz-fileinfoli span{
    line-height: 40px;
    display: block;
    height: 40px;
    float: left;
}
.dz-fileinfoli span:nth-child(1){
    width: 15%;
    text-align: right;
    color: #474747;
}
.dz-fileinfoli span:nth-child(2){
    width: 85%;
    text-align: left;
    padding-left: 10px;
    color: #777777;
}
.dz-fileinfo-btn{
    width: 100%;
    margin-top: 40px;
}
.dz-fileinfo-btn a{
    width:45%;
    margin-left: 3.3333333333333%;
    display: block;
    float: left;
    text-align: center;
    height: 36px;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    line-height: 36px;
}
.dz-fileinfo-btn a:nth-child(1){
    background-color: #f16c22;
}
.dz-fileinfo-btn a:nth-child(2){
    background-color: #09d44c;
}
.dz-fileinfoli input,.dz-fileinfoli select{
    width: 85%;
    border: none;
    height: 39px;
    padding-left: 10px;
}
.dz-fileinfoli select{
    width: 50%;
    height: 30px !important;
    margin-left: 10px;
    margin-top: 5px;
    width: 144px;

}
.dz-radio{
    line-height: 40px;
}
.dz-radio input{
    height: auto !important;
    margin-top: 14px;
    margin-left: -30px !important;
}
.dz-radio label{
    padding-left: 30px;
}
#dz-edit-sub{
    width: 100%;
    /* margin-left: 5%; */
    background-color: #c9b07d;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: none;
    border-radius: 8px;
    color: white;
    margin-top: 20px;
    font-size: 14px;
}
 /* ************************档案详情 ***************************/
 /* ************************消费明细 **************************/
 .dz-detailhead{
     background-color: #c9b07d;
     border-bottom: 4px solid #c9b07d;
     color: white;     
 }
 #deta-form{
     width: 100%;
     height: 100%;
     position: relative;
 }
 .dz-detail{
    padding: 0 10%;

 }
 .dz-detail-li{
     height: 40px;
         margin-top: 10px;
 }
 .dz-detail-li span{
     width: 20%;
     float: left;
     display: block;
     line-height: 40px;
     text-align: right;
 }
 .dz-detail-li input:nth-child(2){
     width: 80%;
     float: left;
     border: none;
     height: 40px; 
     padding-left: 10px;
     margin-left: 15px;
 }
 .dz-detail div:nth-child(1) input{
     height:30px !important;
     width: 180px;
 }
 .dz-detail-li select:nth-child(2), .dz-detail-li textarea:nth-child(2){
    width: 75%;
    float: left;
    border: 1px solid #cecece;
    height: 30px;
    margin-top: 5px; 
    margin-left: 5%;
    padding-left: 10px;
    color: #696969;
}
.dz-detail-li select:nth-child(2){
    width: 180px;
}
.dz-detail-li3{
    height: auto;
}
.dz-detail-tab{
    width: 75%;
    float: right;
}
.dz-detail-tab li{
    float: left;
    padding: 8px 8px;
    text-align: center;
    border: 1px solid  #cecece;
    color: #696969;
    border-radius: 4px;
    margin-top: 8px;
    font-size: 14px;
    margin-right: 10px;
}
.this-tab{
    color: #bea26a !important;
    border: 1px solid #bea26a !important;
}
.dz-detail-price{
    width: 100%;
    /*border-bottom: 2px solid #f8f8f8;
    border-top: 2px solid #f8f8f8;*/
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
}
.dz-detail-price span:nth-child(1){
    width: 20%;
     float: left;
     display: block;
     line-height: 40px;
     text-align: right;
}
.dz-detail-price div:nth-child(2){
    width: 80%;
     float: left;
     border: none;
     height: 40px; 
     padding-left: 10px;
     text-align: right;
     color: #db2a23;
}
textarea{
     resize: none;    
}
.dz-detail-price div:nth-child(2) input{
    width: 40%;
    height: 30px;
    color: #696969;
    padding-left: 8px;
    margin-right: 4px;
}
.dz-detail-li textarea:nth-child(2){
    height: 100px;
    padding: 6px;
}
.dz-detail-li-text{
    height: auto;
}
.dz-deta-sub{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    border-radius: 0;
    
}
.dz-deta-sub input{
    height: 40px;
    width: 100%;
    border: none;
    line-height: 40px;
    text-align: center;
    color: white;
    background-color: #c9b07d;
}
.dz-deta1-list{
    width: 100%;
    padding: 0 5%;
    margin-top: 10px;
    font-size: 14px;
    background-color: white;
    padding-bottom: 10px;
}
.dz-deta1-t{
    border-bottom: 1px solid #cecece
}
.dz-deta1-tleft{
    width: 30%;
    float: left;
}
.dz-deta1-tleft img{
    width: 70px;
    height: 70px;
    margin-top: 5px;
    border-radius: 50%;
    text-align: center;
}
.dz-deta1-tcenter{
    width: 40%;
    float: left;
}
.dz-deta1-tcenter p{
    line-height: 30px;
}
.dz-deta1-tcenter p:nth-child(3){
    color:#858585;
}
.dz-deta1-tright{
    width: 30%;
    float: left;
}
.dz-deta1-tright p{
    line-height: 80px;
    color: #db2a23;
    font-size: 16px;
}
.dz-deta1-b-title{
    margin-top: 10px;
}
.dz-deta1-b-title span{
    display: block;
    padding: 4px 8px;
    float: left;
    color: #606060;
}
.dz-deta1-b-info span{
    /*display: block;*/
    /*float: left;*/
    color: #606060;
}
.dz-deta1-b-info span:nth-child(1){
    width: 15%;
    float: left;
    margin-left:-6px;
    text-align: right;
    padding-right: 4px;
}
.dz-deta1-b-info span:nth-child(2){
    width: 85%;
    float: left;
    text-align: justify;
}
  /* ************************消费明细 **************************/
/***************************员工评价**************************/
.dz-app-head{
    width: 90%;
}
.dz-app-left{
    width: 40%;
    float: left;
}
.dz-app-right{
    float: left;
    width: 60%;
    margin-top: 35px;
}
.dz-app-right p{
    line-height: 40px;
    text-align: left;
    padding-left: 10px;
    color: #474747;
}
.dz-app-right p span{
    color: #777777;
    padding-left: 6px;
}
.app-form{
    margin-top: 30px;
}
.dz-app-title{
    text-align: center;
    color: #7f7f7f;
    font-size: 14px;
}
.starability-grow{
    text-align: center;
    margin: 20px auto 0 auto;
}
.starability-grow input{
    border: none;
}
.starability-grow label:last-of-type{
    margin-left: 0 !important;
}
.dz-comment-btn{
    width: 90%;
    margin: 0 auto;
}
.dz-comment-btn span{
    display: block;
    padding: 4px 6px;
    border: 1px solid #a5a5a5;
    color: #a5a5a5;
    float: left;
    margin:10px 6px 0 6px;
    border-radius: 14px;
    font-size: 14px;
}
.dz-this-span{
    color: #d95309 !important;
    border: 1px solid #d95309 !important;
}
#dz-edit-sub2{
    width: 90%;
    margin-left: 5%;
    background-color: #c9b07d;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: none;
    border-radius: 8px;
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 14px;
}
#app-text{
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
    border-radius: 8px;
    padding: 10px;
    height: 100px;
    font-size: 14px;
}
/***************************员工评价*******************************/
/***************************员工评价列表**************************/
.this-lable-list{
    display: none;
    position: absolute;
    content: ' ';
    width: 16px;
    height: 16px;
    background-image: url(../images/icons.png) ;
    background-repeat: no-repeat;
    background-position: 0 -16px;
    bottom: 0
}
.app-list-tab{
    width: 100%;
    padding: 10px 5%;
    background-color: white;
}
.app-list-tab a{
    display: block;
    float: left;
    padding:  4px 8px;
    border: 1px solid #ff965c;
    color: #ff965c;
    margin-left: 10px;
    font-size: 14px;
    border-radius: 8px;
    margin-top: 10px;
}
.app-list-tab a:nth-child(5),.app-list-tab a:nth-child(6){
    border: 1px solid #bbbbbb ;
    color: #bbbbbb ;
}
.this-list-tab{
    background-color: #ff965c !important;
    border: 1px solid #ff965c !important;
    color: #fff !important;
}
.dz-app-listli-left{
    width: 25%;
    float: left;
    text-align: center;
    padding-top: 10px;
}
.dz-app-listli{
    margin-top: 10px;
    width: 100%;
    padding: 10px 5%;
    background-color: white;
}
.dz-app-listli-left img{
    width: 80%;
    border-radius: 50%;
}
.dz-app-listli-right{
    width: 75%;
    float: right;
    padding-left: 10px;
 
}
.lable-list{
    /* background-position:0 -20px !important; */
    background-size: 16px auto !important;
    width: 16px !important;
    height: 16px !important;
    background-image: url(../images/icons@2x.png);

}
.starability-grow2{
    margin-top: 10px;
    text-align: left;
    width: 140px !important;
    margin-left: 0;
}
.dz-app-listli-right p:nth-child(4){
    color: #272727;
    margin-top: 8px;
    font-size: 14px;
    text-align: justify;
}
.dz-app-listli-right p:nth-child(3){
    color: #959595;
    margin-top: 8px;
    font-size: 10px;
    text-align: justify;
}
.lable-list{
    margin-top: 3px;

}
/***************************员工评价列表**************************/
/***************************全部档案*****************************/
.visit-search{
    width: 100%;
    height: 54px;
}
.visit-search li{
    width: 90%;
    height: 40px;
    margin-top: 10px;
    margin-left: 5%;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #cccccc;
    padding-top: 3px;
    font-size: 14px;
}
.visit-search li input{
    border: 0;
    height: 30px;
    width: 80%;
    padding-left: 10px;
}
.visit-search li img{
    height: 20px;
    margin-left: 10px;
}

.visit-libox li{
    position: relative;
    width: 100%;
    padding-left: 12px;
    height: 50px;
    font-size: 14px;
    color: #8f8f8f;
    background-color: white;
    border-bottom: 1px solid #cccccc;
}
.visit-libox li img:nth-child(1){
    width: 30px;
    margin-top: 10px;
    vertical-align: top;
    margin-right: 10px;
}
.visit-libox li span{
    line-height: 50px;
}
.visit-libox li img:nth-child(3){
    position: absolute;
    right: 10px;
    top: 17px;
    width: 10px;
}
.visit-box2-left{
    width: 25%;
    text-align: center;
    float: left;
}
.visit-box2-left img{
    width: 60px;
    height: 60px;
    border-radius: 8px;
}
.visit-box2 ul li{
    font-size: 14px;
    background-color: white;
    padding:20px 0px 16px 0;
    border-bottom: 1px solid #cccccc;  
}
.visit-box2 ul{
    /* margin-top:10px; */
    margin-bottom: 0;
}
.visit-box2-right{
    float: left;
    width: 75%;
    padding-left: 8px;
    height: 60px;
    position:relative;
 
  
}
.visit-box2-right div{
    width: 100%;
    /* float: left; */
  
}
.visit-box-title{
    width: 100%;
    padding:0 10px;
    height: 30px;
    line-height: 30px;
    background-color: #f8f8f8;
}
.visit-box2-right div:nth-child(1) {
    text-align: right;
    padding-right: 10px;
    height: 22px;
    overflow: hidden;
}
.visit-box2-right div:nth-child(1) img{
    width: 16px;
}
.visit-box2-right div:nth-child(1) span{
    margin-left: 6px;
    color: #f94e03;
}
.visit-box2-right div:nth-child(1) span:nth-child(1){
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    margin-left: 0px;
    float: left;
    color: #333;
}
.visit-box2-right div:nth-child(2){
    position: relative;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    width: 96%;
}
.visit-box2-right div:nth-child(2) object img{
    width: 24px;
    
}
.visit-box2-right div:nth-child(2) span img{
    width: 20px;
    vertical-align: top;
    margin-right: 6px;
}
.visit-box2-right div:nth-child(2) span{
    font-size: 12px;
    color: #777777;
}
.visit-box2-right div:nth-child(2) object{
    position: absolute;
    right: 20px;
    top: -2px;
}
/*****************************全部档案******************************/
/*****************************回访**********************************/
.dz-visit-title{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #e8e8e8;
    padding-left: 10px;
    font-size: 14px;
}
.dz-visit-list1 li{
    width: 100%;
    padding: 0 10px;
    height: 80px;
    margin-top: 10px;
    border-bottom: 1px solid #e8e8e8;
   
}
.dz-visit-list1left{
    width: 30%;
    float: left;
    height: 100%;
    text-align: center;
}
.dz-visit-list1left img{
    width: 70px;
    height: 70px;
    border-radius: 8px;
}
.dz-visit-list1right{
    width: 70%;
    float: left;
    height: 100%;
    position: relative;
}
.dz-visit-list1right p:nth-child(1){
    font-size: 16px;
    margin-top: 8px;
}
.dz-visit-list1right p:nth-child(2){
    font-size: 14px;
    position: absolute;
    bottom: 12px;
    color: #888888;
}



/**************************回访弹出样式***********************/
.tc-box{
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.5)
}
.tc-box-info{
    width: 100%;
    height: 310px;
    background-color: white;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    /* position: relative;  */
}
.tc-box-title{
    width: 100%;
    padding-left: 20px;
    /*height: 80px;*/
    border-bottom: 1px solid #f8f8f8;
    padding-bottom: 10px;
}
.tc-box-textinfo{
    padding: 10px 20px;
    margin-bottom: 40px;
    font-size: 14px;
    color:#858585;
}
.tc-box-title1{
    width: 20%;
    float: left;
    /*text-align: right;*/
}
.tc-box-title1 img{
    width: 80px;
    height: 80px;
    margin-top: 24px;
}
.tc-box-title2{
    width: 70%;
    float: left;
    padding-left: 10px;
}
 .tc-box-title2 p{
     /*line-height: 40px;*/
     padding-left: 20px;
 }
 .tc-box-title2 p:nth-child(1){
     padding-top: 26px;
 }
 .tc-box-title2 p:nth-child(2), .tc-box-title2 p:nth-child(3){
     /* color: #ff7a28; */
     padding-top: 8px;
 }
 .tc-box-title2 p:nth-child(3){
     font-size: 14px;
 }
 .tc-box-title3{
     float: left;
 }
   .tc-box-title3 img{
       width: 28px;
       padding-top: 6px;
   }
   .tc-box-num{
       width: 100%;
       height: 120px;
   }
   .tc-box-num1{
       width: 100%;
       height: 120px;
   }
   .tc-num1-left{
       width: 40%;
       float: left;
     
   }
   .tc-num1-left p:nth-child(1){
       font-size: 16px;
       color: #333333;
       padding-left: 20px;
       padding-top: 20px;
   }
    .tc-num1-left p:nth-child(2){
       font-size: 14px;
       color: #333333;
       padding-left: 20px;
       line-height: 40px;
   }
   .tc-num1-right{
       width: 115px;
       float: right;
       margin-right: 20px;
       margin-top: 26px;
   }
   .tc-num1-right li,.tc-num1-right input{
       width: 38px;
       height: 38px;
       line-height: 38px;
        border-top: 1px solid #c0c0c0;
       border-bottom: 1px solid #c0c0c0;
       float: left;
       color: #999999;
       border-left: 1px solid #c0c0c0;
       text-align: center;
   }
.visit-alignbtn{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #c9b07d;
    color: white !important;
}
   .tc-num1-right li:last-child{
       border-right: 1px solid #c0c0c0;
   }
   .ovfHiden{
       overflow: hidden; 
        height: auto;
    }
   .nonenum{
       border:1px solid #f0f0f0 !important;
       background-color: #f8f8f8;
   }
/*************回访弹出样式********************/
/*****************************回访**********************************/

/****************************本月生日页面**************************/
.dz-thismonth-title{
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #f94e03;
}
.dz-thismonth-title img{
    height: 24px;
    margin-right: 8px;
    margin-top: -4px;
    /* margin-top: 13px; */
    /* vertical-align: top; */
}
.visit-box2-right div:nth-child(1) span:nth-child(1) img{
    margin-top: -4px;
}
/****************************本月生日页面**************************/
/*****************************客户回访****************************/
.fabu{
    position: absolute;
    right: 10px;
    line-height: 50px;
    font-size: 14px;
}
.dz-client-box{
    width: 100%;
    margin-top: 50px;
}
.dz-client-box li{
    height: 40px;
    border-bottom: 1px solid #e4e4e4;
    padding: 0 10px;
    font-size: 16px;
    color: #505050;
}
.dz-client-left{
    width: 60%;
    float: left;
    text-align: left;
    line-height: 40px;
}
.dz-client-right{
    width: 40%;
    float: left;
    text-align: right;
    line-height: 40px;
}
.dz-client-right img{
    height: 18px;
    margin-top: -3px;
    margin-left: 4px;
}
/*****************************客户回访****************************/
/*****************************预警档案****************************/
.dz-early-tab{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 50px;
    z-index: 99999;
}
.dz-early-tab li{
    width: 33.33333333333333333333333333333%;
    float: left;
    height: 50px;
    font-size: 14px;
    background-color: white;
}
.dz-early-tab li a{
    width: 100%;
    height: 30px;
    display: block;
    line-height: 30px;
    margin-top:10px;
    text-align: center;
    /* padding-bottom: 10px; */
}
.dz-early-tab li:nth-child(2) a{
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0; 
}
.this-early-tab{
    border-bottom: 1px solid #c9b07d;
    
}
.this-early-tab a{
    color: #c9b07d !important;
}
/*****************************预警档案****************************/



/*******************************顾客回访*************************/
.dz-visit2-left{
    width: 30%;
    float: left;
    text-align: center;
    height: 70px;
    margin-top: 15px;
}
.dz-visit2-left img{
    width: 70px;
    height: 70px;
    border-radius: 8px;
}
.dz-visit2-head{
    height: 100px;
    background-color: #F3F3F3;
}
.dz-visit2-right{
    width: 60%;
    float: left;
    height: 70px;
    margin-top: 15px;
}

.visit2-textarea textarea{
    width: 100%;
    border: none;
    border-bottom: 4px solid #eaeaea;
    padding: 10px;
    font-size: 14px;
}
.visit2-save{
    height: 40px;
    padding: 0  10px;
    /* border-bottom: 6px solid #eaeaea; */
}
.visit2-save img{
    margin-top:-2px;
    margin-right: 8px;
    width: 20px;
}
.visit2-save a{
    line-height: 28px;
    font-size: 14px;
    color: #c43c2d;
}
.visit2-class-title{
    width: 100%;
    padding:  0 10px;
    background-color: #F3F3F3;
    line-height: 34px;
    font-size: 14px;
    margin-top: 10px;
}
.dz-visit-box{
    margin-top: 0;
}
.tc-box-title1-visit2{
    width: 90%;
    float: left;
    text-align: center;
}
.tc-box-select{
    width: 100%;
    margin-top: 30px;
}
.tc-box-select select{
    width: 70%;
    margin-left: 15%;
    height: 40px;
    border: 1px solid #eaeaea;
    color: #8e8e8e;
}

.dz-hf-list {
    padding: 0 10px;
}

.dz-hf-list li {

    background-color: white;
    margin-top: 10px;
    padding: 10px;
    text-align: justify;
    border-radius: 4px;
    color: #aba9a9;
    font-size: 14px;
}
/*******************************顾客回访*************************/
/*******************************个人中心*************************/
.dz-center-head{
    width: 100%;
    height: 120px;
    background-image:url(../images/dz-center.png);
    background-size: 100% 100%;
}
.dz-center-left{
    width: 30%;
    text-align: center;
    float: left;
}
.dz-center-right{
    width: 60%;
    float: left;
    color: white;
    padding-left: 10px;
}
.dz-center-left img{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.dz-center-right p{
    line-height: 40px;
}
.dz-center-right p:nth-child(1){
    margin-top: 20px;
}
.center-list li{
    height: 40px;
    background-color: white;
    font-size: 14px;
    padding: 0 10px;
    color: #888888;
    border-bottom: 1px solid #e4e4e4;
}
.center-list-left{
    width: 50%;
    float: left;
    line-height: 40px;
}
.center-list-left img{
    width: 20px;
    height: 20px;
    margin-right: 6px;
    margin-top: -2px;
}
.center-list-right{
    width: 50%;
    float: left;
    line-height: 40px;
    text-align: right;
}
.center-list-right img{
    height: 14px;
    margin-top: -2px;
    margin-left: 6px;
}
.dz-center-box{
    width: 100%;
    background-color: white;
    padding: 0 20px;
}
.dz-center-box li{
    width: 25%;
    float: left;
    text-align: center;
    height: 80px;
    border: none;
    padding-top: 20px;
}
.dz-center-box li img{
    width: 30px;
}
.dz-center-box li p{
    margin-top: 4px;
}
.center-list a:nth-child(5) li{
    margin-top: 10px;
}
/******************************个人中心***********************************/
/*** 提示框 **/
.dz-fixed{
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: fixed;
    top:50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    border-radius: 6px;
    padding: 40px 10px;
    text-align: center;
    display: none;
}