/*初始化*/
*{padding:0;margin:0;}
input{padding:0;margin:0;border:none;outline:none;}
a{text-decoration:none;color:inherit;}
body {font-family:"Microsoft YaHei";background-color:#fff;}
ul,li{list-style:none;}

.box{width:100%;
	/*overflow:hidden;*/
	position:relative;}

/*首页*/
.tops{width:100%;
	height:50px;
	background-color:#3f97f1;
	padding:0 10px;
	overflow:hidden;}
.tops .col-xs-3{padding-right:0;}
.tops-l{width:100%;
	height: 50px;
	display:block;
    overflow: hidden;}
.tops-l span{width:80%;
	overflow:hidden;
	font-family:"Microsoft YaHei";
	font-size:16px;
	color:#fff;
	line-height:50px;
	float: left;}
.tops-l img{width:20%;
    margin-top: 18px;
    float: left;}
.tops-r{width:100%;
	height:30px;
	background-color:#fff;
	border-radius:22px;
	margin-top:10px;}
.tops-r img{width:10%;
	line-height:30px;
	margin-left:12%;}
.tops-r input{width:70%;
	height:30px;
	margin-left:2%;
	background: none;}
	
	/*弹窗*/
.tc{display:block;}
.tc .modal-header{width:100%;
	height:60px;
	border-radius: 4px;
	background-color:#fdfdfd;
	padding:0 10px;
	border-bottom:1px solid #ececec;}
.tc-back a{padding-bottom:20px;
	display:block;}
.tc-back img{width:20px;
    margin-top:20px;}
.tc-r{width:100%;
	height:36px;
	background-color:#e8e8e8;
	border-radius:20px;
	margin-top:12px;}
.tc-r img{width:8%;
	line-height:36px;
	margin-left:5%;}
.tc-r input{width:80%;
	height:36px;
	margin-left:2%;
	background: none;}

.tc .modal-body{width:100%;
	overflow:hidden;
	padding:0;}
.tc-text01{width:100%;
	height:50px;
	border-bottom:2px solid #5396df;
	font-family:"Microsoft YaHei";
	font-size:16px;
	color:#8d8a8a;
	font-weight:bold;
	line-height:50px;
	text-align:center;}
.tc-c{width:100%;}
.tc-text02{font-family:"Microsoft YaHei";
	font-size:16px;
	color:#343434;
	font-weight:bold;
	line-height:50px;
	padding-left:18px;}
.tc-text02 span{color:#c5c5c5;
	font-weight:normal;
	padding-left:4px;}
.tc-con{width:100%;
	background-color:#f1f1f1;
	padding:10px 0 20px 14px;
	border-bottom:1px solid #eaeaea;
	overflow:hidden;}
.tc-con li{width:30%;
	height:40px;
	background-color:#fff;
	border:1px solid #e0e0e0;
	margin:1% 1%;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#9a9797;
	line-height:40px;
	text-align:center;
	padding:0;}
	
.tc-b li{width:100%;
	height:50px;
	border-bottom:2px solid #f6f6f6;
	font-family:"Microsoft YaHei";
	font-size:16px;
	color:#8d8a8a;
	font-weight:bold;
	line-height:50px;
	padding-left:18px;}
	/*弹窗结束*/
	
	/*轮播图*/
.banner{padding:0;}
.banner  .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    overflow-x: hidden;
    padding-bottom:20px;}
.banner .swiper-pagination{width:100%;
    position: absolute;
    bottom:4px;}
.banner .swiper-pagination-bullet{width:7px;
	height:2px;
	display:inline-block;
	background:url(../images/dd02.png) no-repeat;}
.banner .swiper-pagination-bullet-active{width:7px;
	height:2px;
	display:inline-block;
	background:url(../images/dd01.png) no-repeat;}
.banner img{width:100%;}
	/*轮播图结束*/
	
	/*con01*/
.con{width:100%;
	padding-bottom:60px;}
.con01{width:100%;
	border-top:1px solid #e2e2e2;
	overflow:hidden;}
.con01-t{width:100%;
	overflow:hidden;
	text-align:center;}
.con01-t img{width:100%;}
.con01-t *{float:left;}
.con01-text01{width:10%;
	height:1px;
	background-color:#b4cdea;
	margin-top:10px;}
.con01-text02{width:30%;
	font-family:"Microsoft YaHei";
	font-size:16px;
	color:#b4cdea;
	text-align:center;}
.con01-b{width:100%;
	background-color:#f0f0f0;
	overflow:hidden;
	padding-bottom: 4px;}
.con01-b .col-xs-5,.con01-b .col-xs-6{padding:0;
	margin:0;}
.con01-l{width:40%;
	height:140px;
	overflow:hidden;
	background-color:#fff;
	margin-top:4px;
	margin-left:3%;
	float:left;}
.con01-r{width:53%;
	height:140px;
	overflow:hidden;
	margin-top:4px;
	margin-left:1%;
	float:left;}
.con01-r .col-xs-6{padding:0;}
.con01-l a{width:94%;
	margin:4px auto;
	display:block;}
.con01-r a{display:block;
	overflow:hidden;}
.con01-image01 img{width:100%;
	height:86px;}
.con01-text03{width: 100%;
    height: 16px;
    overflow: hidden;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#838383;
	margin-top:4px;}
.con01-text04{width: 100%;
    height: 16px;
    overflow: hidden;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#fe4f02;
	margin-top:4px;}
.con01-r01{width:100%;
	height: 68px;
    overflow: hidden;
	background-color:#fff;
	padding:4px;
	margin-bottom:4px;}
.con01-image02 img{width:100%;
	height:54px;}
.con01-text05{width:100%;
	height:40px;
	overflow:hidden;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#838383;
	line-height:20px;
	margin-left:6px;}
.con01-text06{width:100%;
	height: 20px;
    overflow: hidden;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#fe4f02;
	line-height:20px;
	margin-left:6px;}

	/*con01结束*/
	
	/*con02*/
.con02{width:94%;
	margin:0 auto;
	overflow:hidden;
	padding:10px 0 20px;}
.con02-text01{width:24%;
	font-family:"Microsoft YaHei";
	font-size:16px;
	color:#959494;
	line-height:20px;
	padding-bottom:6px;
	margin-bottom:4px;}
.con02-con li{overflow:hidden;
	margin-bottom:10px;}	
.con02-con .col-xs-4,.con02-con .col-xs-7{padding:0;}	
.con02-image img{width:100%;
	height:82px;}
.con02-r{margin-left:10px;
	border-bottom:1px solid #e5e5e5;}
.con02-r li{width:100%;
	overflow:hidden;
	margin-bottom:6px;}
.con02-text02{width:60%;
	height:22px;
	overflow:hidden;
	font-family:"Microsoft YaHei";
	font-size:16px;
	color:#757575;
	float:left;}
.con02-text03{width:40%;
	height:20px;
	overflow:hidden;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#ff5d5d;
	float:right;}
.con02-text03 *{float:right;}
.con02-text03 img{width:18%;
	margin-right:4px;}
.con02-text05{width:100%;
	height:20px;
	overflow:hidden;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#df5c57;}	
	
.con02-text06{width:50%;
	height:20px;
	overflow:hidden;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#757575;
	float:left;}
.con02-text07{width:50%;
	height:20px;
	overflow:hidden;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#f36c04;
	float:right;}
.con02-text07 *{float:right;}
.con02-text07 img{width:14%;
	margin-top: 3px;
	margin-right:4px;}

.one-b01{width:100%;
	overflow:hidden;
	padding:10px 10px;}
.one-b01 li{width: 100%;
	overflow: hidden;
	margin-bottom: 10px;}
.one-b01 li img{width: 100%;
	}
	/*con02结束*/
	
	/*底部*/
.footer{width:100%;
	background-color:#fafafa;
	overflow:hidden;
	margin-bottom:0;
	position:fixed;
	bottom:0;
	z-index:3;}
.footer li{
	padding:2px 0 2px;
	float:left;
	font-family:"Microsoft YaHei";
	font-size:12px;
	color:#9a9999;
	text-align:center;}
.footer01{border-right:1px solid #f1f1f1;}
.footer img{width:18%;
	/*width:128px;
	height:115px;*/
	display:block;
	margin:4px auto;}
.footer span{width:100%;
	display:block;
	text-align:center;}
.footer .dq span{width:100%;
	display:block;
	color:#4ea0f3;
	text-align:center;}
	/*底部结束*/

/*首页结束*/

/*探索-人气最高*/
.cont-box{width:100%;
	background-color:#e4e4e4;
	/*padding-bottom:50px;*/}
.cont>li{width:100%;
	background-color:#fff;
	padding:10px 10px;
	margin-bottom:10px;}
.cont-t{width:100%;
	border-radius:5px;
	overflow:hidden;
	position:relative;}
/*.cont-image{width:6%;
	position:absolute;
	right:4%;
	top:6%;}*/
/*.cont-image02{position:absolute;
	right:4%;
	top:6%;
	z-index:2;}*/
.cont-image03{display:none;
	position:absolute;
	right:4%;
	top:6%;
	z-index:1;}
.cont-c{overflow:hidden;
	margin:4px 0 10px;}
.cont-text01{font-family:"Microsoft YaHei";
	font-size:14px;
	color:#3c3c3c;
	float:left;
	font-weight:bold;}
/*探索-人气最高结束*/

/*探索-人气最高详情页*/
.explord01_show-image{width:6%;
	position:absolute;
	right:4%;
	bottom:6%;}
.explord01_show-image02{position:absolute;
	right:4%;
	bottom:6%;
	z-index:2;}
.explord01_show-image03{display:none;
	position:absolute;
	right:4%;
	bottom:6%;
	z-index:1;}
.wz{width:100%;
	overflow:hidden;}
.wz-l{width:100%;
	overflow:hidden;
	margin-bottom:10px;}
.wz-l *{float:left;}
.wz-l-image{width:6%;}
.wz-l-image01{width:6%;}
.wz-l-image img,.wz-l-image01 img{width:100%}
.wz-l-text{font-family:"Microsoft YaHei";
	font-size:14px;
	color:#9a9a9a;
	line-height:20px;
	margin-left:10px;}

.explore01_show-con01{width:100%;
	min-height:100px;
	background-color:#fff;
	padding:10px 10px;
	margin-bottom:10px;
	overflow:hidden;}
.explore01_show-con01-t{width:100%;
	overflow:hidden;
	margin-top: 10px;}
.explore01_show-con01-image01{width:5%;
	float:left;}
.explore01_show-con01-image01 img{width:100%;}
.explore01_show-con01-text01{font-family:"Microsoft YaHei";
	font-size:14px;
	color:#858585;
	line-height:20px;
	float:left;
	margin-left:10px;
	margin-top:2px;}

.explore01_show-con02{width:100%;
	height:60px;
	background-color:#fff;
	border-top:1px solid #e4e4e4;
	overflow:hidden;
	position:fixed;
	bottom:0;}
.explore01_show-con02 a{width:80%;
	height:40px;
	background-color:#3f97f1;
	margin:10px auto 0;
	display:block;
	border-radius:22px;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#fff;
	text-align:center;
	line-height:40px;}
	
/*探索-人气最高详情页结束*/

/*one*/
.text01-l{width:16.6%;
	line-height:50px;}
.text01-l img{width:20px;
	margin-left: -10px;}
.tops .col-xs-8{font-family:"Microsoft YaHei";
	font-size:18px;
	color:#fff;
	text-align:center;
	line-height:50px;}
.cont{width:100%;
	/*min-height:650px;*/
	margin-bottom: 50px;
	/*padding-bottom:60px;*/
	background-color:#f8f8f8}
.one-text{width:100%;
	height:50px;
	border-bottom:1px solid #e8e9e9;
	font-family:"Microsoft YaHei";
	font-size:16px;
	color:#3f97f1;
	line-height:50px;
	padding-left:14px;
	}
.one-text-1{width:100%;
	height:50px;
	border-bottom:1px solid #e8e9e9;
	font-family:"Microsoft YaHei";
	font-size:16px;
	color:#3f97f1;
	line-height:50px;
	padding-left:14px;
	float: left}
.project_type
{
	width:50%;
	border-bottom:1px solid #e8e9e9;
	float: right;
	text-align: right;
	line-height: 50px;
	padding-right:14px;
}
.one-b{width:100%;
	overflow:hidden;
	padding:5px 5px;}
.one-b .col-xs-6{width:48%;
	height:40px;
	border:1px solid #3f97f1;
	margin:2% 1%;
	border-radius:6px;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#3f97f1;
	line-height:40px;
	text-align:center;}
.one-b .col-xs-12{width: 100%;
	overflow: hidden;
	padding: 0;
	margin-bottom: 10px;}
.one-b .col-xs-12 img{width: 100%;
}
/*one结束*/

.two-b{width:94%;
	margin:10px auto 0;
	overflow:hidden;
	border:1px solid #e6e6e6;
	border-radius:6px 6px 0 0;
	background-color:#ffffff;}
.two-b li{width:100%;
	overflow:hidden;
	padding:10px 0;
	border-bottom:1px solid #e6e6e6;}
/*two*/
.two-b .col-xs-4{width:33.3%;
	text-align:center;
	overflow:hidden;
float: left;}
/*.two-b img{width:100%;
	height:78px;}*/
/*.two-b img{width:71px;*/
	/*height:99px;*/
	/*width:66px;*/
	/*height:84px;}*/
/*.two-text01{font-family:"Microsoft YaHei";
	font-size:20px;
	color:#3f3f3f;
	margin-top:10px;}*/
.two-text01{font-family:"Microsoft YaHei";
	font-size:20px;
	color:#3f3f3f;
	margin-top:4px;}
/*.two-text02{font-family:"Microsoft YaHei";
	font-size:16px;
	color:#3f97f1;
	line-height:24px;
	margin-top:10px;}*/
.two-text02{font-family:"Microsoft YaHei";
	font-size:16px;
	color:#3f97f1;
	line-height:24px;
	margin-top:8px;}

/*two结束*/

/*three*/
.three-image{width:100%;}
.three-image img{width:100%;
height: 140px}
.three-con01{width:100%;
	min-height: 150px;
	overflow:hidden;}
.three-image01{width:30%;
	position:absolute;
	left:6%;
	top:180px;
	float:left;
	overflow:hidden;}
.three-image01 img{width:100%;}
.three-r{width:60%;
	position: absolute;
    left: 40%;
	float:left;
	padding:10px 10px 10px 0;
    border-bottom: 1px solid #e0e0e0;}
.three-text01{font-family:"Microsoft YaHei";
	font-size:16px;
	color:#4e4e4e;
	font-weight:bold;}
.three-text02{font-family:"Microsoft YaHei";
	font-size:14px;
	color:#b1b1b1;
	margin-top:2px;}
.three-text03{width: 100%;
    height: 100px;
    overflow-y: auto;
	font-family:"Microsoft YaHei";
	font-size:12px;
	color:#6e6c6c;
	line-height:20px;
	margin-top:4px;}
.three-con02{width:100%;
	border-bottom:1px solid #e0e0e0;}
.three-text04{width:30%;
	height:40px;
	background-color:#3f98eb;
	border-radius:4px 4px 0 0;
	margin-left:14px;
	font-family:"Microsoft YaHei";
	font-size:16px;
	color:#fff;
	line-height:40px;
	text-align:center;}
.three-con02 .table{font-family:"Microsoft YaHei";
	font-size:14px;
	color:#313131;
	line-height:40px;
	text-align:center;
	margin-bottom:0px;}
.three-con02>.table > thead > tr > th,
.three-con02>.table > tbody > tr > th,
.three-con02>.table > tfoot > tr > th, 
.three-con02>.table > thead > tr > td, 
.three-con02>.table > tbody > tr > td, 
.three-con02>.table > tfoot > tr > td
{
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#313131;
	line-height:30px;
	text-align:center;}
.three-text05{width:90%;
	height:30px;
	display:block;
	margin: 0 auto;
	background-color:#428dc7;
	border-radius:4px;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#fff;
	line-height:30px;
	text-align:center;}
.three-text06{width:84%;
	height:30px;
	display:block;
	margin: 0 auto;
	background-color:#83b2dc;
	border-radius:4px;
	margin-left:12px;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#fff;
	line-height:30px;
	text-align:center;}
.three-text06:hover, .three-text06:focus {color:#fff;
	text-decoration:none;}

/*three结束*/

/*four*/
.four-con{width:94%;
	margin:0 auto;}
.four-con01{width:100%;}
.four-con01-t{width:100%;
	border-bottom:1px solid #919191;
	overflow:hidden;
	padding-top:10px;}
.four-con01-t img{width: 6%;
    float: left;
    margin-bottom: 4px;}
.four-text01{font-family:"Microsoft YaHei";
	font-size:14px;
	color:#6b6b6b;
	float:left;
	margin-left:4px;}
.four-con01-b{width:100%;
	overflow:hidden;
	margin-top:10px;}
.four-text02{width:31%;
	height:30px;
	margin:1% 1%;
	border-radius:4px;
	background-color:#59b759;
	font-family:"Microsoft YaHei";
	font-size:12px;
	color:#fff;
	line-height:30px;
	text-align:center;
	padding:0;}
.four-text03{width:31%;
	height:30px;
	margin:1% 1%;
	border-radius:4px;
	background-color:#e6e6e6;
	font-family:"Microsoft YaHei";
	font-size:12px;
	color:#989898;
	line-height:30px;
	text-align:center;
	padding:0;}
.four-text03:hover, .four-text03:focus {color:#989898;
	text-decoration:none;}
.four-con02{width:100%;
	border:1px solid #d7e5e1;
	overflow:hidden;
	margin-top:10px;}
.four-con02-t{width:100%;
	height:40px;
	background-color:#daecf8;
	line-height:40px;}
.four-con02-t img{width: 6%;
    float: left;
    margin-bottom: 4px;
	margin:10px 0 0 10px;}
.four-text04{font-family:"Microsoft YaHei";
	font-size:14px;
	color:#678f9d;
	float:left;
	margin-left:4px;}
.four-con02-b{width:100%;
	padding:10px 10px;}
.four-con02-b li{width:100%;
	margin-bottom:6px;
	font-family:"Microsoft YaHei";
	font-size:12px;
	color:#606060;
	line-height:26px;}
.four-con02-b img{width:6%;}
.four-text05{width:31%;
	height:30px;
	border-radius:4px;
	background-color:#59b759;
	font-family:"Microsoft YaHei";
	font-size:12px;
	color:#fff;
	line-height:30px;
	text-align:center;
	padding: 8px 10px;
    margin: 0 4px;}
.four-text06{width:31%;
	height:30px;
	border-radius:4px;
	background-color:#e6e6e6;
	font-family:"Microsoft YaHei";
	font-size:12px;
	color:#989898;
	line-height:30px;
	text-align:center;
	padding: 8px 10px;
    margin: 0 4px;}

/*four结束*/

/*five*/
.five-con{width:100%;
	padding:10px 10px 30px;}
.five-con01{width:100%;
	background-color:#fff;
	border:2px solid #ececec;
	margin:0 auto;
	padding:10px 10px 20px;}
.five-con01 .col-xs-4 {padding-right: 0;
	/*text-align:right;*/}
.five-con01-t{width:100%;
	overflow:hidden;}
.five-con01-t img{width: 6%;
    float: left;
    margin-top: 2px;}
.five-text01{font-family:"Microsoft YaHei";
	font-size:16px;
	color:#3a94ed;
	margin:2px 0 0 4px;
	float:left;}
.five-con01-b{width:100%;
	overflow:hidden;
	border:2px solid #ececec;
	margin-top:10px;}
.five-con01-b .form-group{width:100%;
	height:40px;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#3a94ed;
	line-height:40px;
	margin:0;
	border-bottom:2px solid #ececec;
	overflow:hidden;}
.five-con01-b .form-group:last-child{border-bottom:none;}
.five-text02{color:#56595a;
	padding-right:0;}
.five-con02{width:100%;}
.five-text04{width:90%;
	height:40px;
	background-color:#da534f;
	border-radius:4px;
	display:block;
	font-family:"Microsoft YaHei";
	font-size:16px;
	color:#fff;
	margin:20px auto 10px;}
.five-text05{width:90%;
	height:40px;
	background-color:#6edb73;
	border-radius:4px;
	display:block;
	font-family:"Microsoft YaHei";
	font-size:16px;
	color:#fff;
	margin:0 auto;}
/*five结束*/


/*center*/
.center-con{width:100%;
	overflow:hidden;}
.center-con01{width:100%;
	height:140px;
	background:url(../images/bg01.jpg) no-repeat 0 #1771d7;
	overflow:hidden;}
.center-image{line-height:140px;}
.center-con01 img{width:100px;
	height:100px;
	text-align:center;
	line-height:120px;}
.center-text01{font-family:"Microsoft YaHei";
	font-size:16px;
	color:#fff;
	margin:40px 0 0 10px;}
.center-text02{font-family:"Microsoft YaHei";
	font-size:14px;
	color:#fff;
	margin:10px 0 0 10px;}

.center-con02{width:100%;
	margin-top:14px;}
.center-con02-t{width:100%;
	height:40px;
	padding:0 10px;
	background:#fff;
	overflow:hidden;}
.center-text03{width:60%;
	float:left;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#686868;
	line-height:40px;}
.center-image01{width:6%;
	float:right;
	line-height:40px;}
.center-image01 img{width:100%;}
.center-con02-b{width:100%;
	margin-top:2px;
	overflow:hidden;
	padding:10px 0;
	background:#fff;}
.center-con02-b01{width:20%;
	float:left;
	text-align:center;}
.center-con02-b01 img{width:36%;}
.center-text04{font-family:"Microsoft YaHei";
	font-size:14px;
	color:#686868;
	margin-top:4px;}

.center-con03{width:100%;
	margin-top:14px;}
.center-con03-t{width:100%;
	height:40px;
	padding:0 10px;
	background:#fff;
	overflow:hidden;}
.center-text05{width:68%;
	float:left;
	font-family:"Microsoft YaHei";
	font-size:12px;
	color:#686868;
	line-height:40px;}
.center-text06{width:32%;
	float:right;
	font-family:"Microsoft YaHei";
	font-size:16px;
	color:#fe6c13;
	line-height:40px;
	text-align:right;}
.center-con03-c{width:100%;
	background:#fff;
	overflow:hidden;
	margin:2px 0;
	padding:10px 0;}
.center-con03-c img{width:100%;
	height:50px;}
.center-text07{font-family:"Microsoft YaHei";
	font-size:16px;
	color:#292929;
	font-weight:bold;}
.center-text08{font-family:"Microsoft YaHei";
	font-size:12px;
	color:#7b7b7b;
	margin-top:10px;}

.center-con03-b{width:100%;
	height:60px;
	background:#fff;
	overflow:hidden;
	margin:2px 0;
	padding:10px 0;}
.center-con03-b .btn{margin:4px 2px 0;}
.center-con03-b01{float:right;
	margin-right:10px;}
/*center结束*/

/*订单详情*/
.order-con{width:100%;}
.order-con01{width:100%;
	padding:20px 34px 40px;
	background:#f5f5f5;
	border:1px solid #e5e5e5;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#737272;
	line-height:30px;}
.order-con02{width:100%;
	border:1px solid #d7e5e1;
	overflow:hidden;
	margin-top:20px;}
.order-con02-t{width:100%;
	height:40px;
	background-color:#daecf8;
	line-height:40px;
	padding:0 20px;}
.order-text01{font-family:"Microsoft YaHei";
	font-size:16px;
	color:#678f9d;}
.order-con02-b{width:100%;
	padding:10px 20px;
	background-color:#fff;}
.order-text02{width:100%;
	margin-bottom:6px;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#606060;
	line-height:16px;}
.order-code
{
	margin-top: 15px;
}
.order-info-code
{
	display: inline-block;
	padding: 10px;
	line-height: 20px;
	font-size: 16px;
	background-color: #F7F7F7;
	border-radius: 4px;
	border: 1px #E6E6E6 solid;
}
/*订单详情结束*/

/*收银台*/
.pay-con{width:100%;
	padding-top:20px;}
.pay-t{width:100%;}
.pay-t li{width:100%;
	height:40px;
	background:#fff;
	margin-bottom:2px;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#7d7d7d;
	line-height:40px;}
.pay-text02{text-align:right;}
.pay-text03{text-align:right;
	color:#db7133;}

.pay-b{width:100%;
	background:#fff;
	border-top:1px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;
	overflow:hidden;}
.pay-b li{width:100%;
	padding:10px 0;
	overflow:hidden;
	border-bottom:1px solid #e2e2e2;
	margin-left:10px;}
.pay-b #list{border-top:1px solid #e2e2e2;}
.pay-b li:last-child{border-bottom:none;}
.pay-b li:nth-last-child(2){border-bottom:none;}
.pay-image01{padding-right:0;
	text-align:center;}
.pay-image01 img{width:50px;
	height:50px;
	margin-left: -5%;}
.pay-image02{text-align:center;
	line-height: 50px;}
.pay-image02 img{width:70%;}
.pay-b .col-xs-6{padding-left:0;}
.pay-text04{font-family:"Microsoft YaHei";
	font-size:14px;
	color:#000000;
	font-weight:bold;
	margin-top:4px;}
.pay-text05{font-family:"Microsoft YaHei";
	font-size:14px;
	color:#b9b9b9;
	margin-top:4px;}

#list{display:none;}
.pay-image03{padding-right:0;}
.pay-image03 img{width:50px;
	height:50px;
	margin-left: -5%;}
.pay-b .col-xs-8{padding-left:10px;
	padding-right:0;}
.pay-b .col-xs-7{padding-right:0;}
.pay-text06{font-family:"Microsoft YaHei";
	font-size:12px;
	color:#000000;
	font-weight:bold;
	margin-top:4px;}
.pay-text07{font-family:"Microsoft YaHei";
	font-size:12px;
	color:#b9b9b9;
	margin-top:8px;}
/*收银台结束*/

/*首页*/

/*首页结束*/

/*首页*/

/*首页结束*/

/*首页*/

/*首页结束*/

/*首页*/

/*首页结束*/





















