/*============独立窗口===========*/
.alone_box{position:absolute; top: 0; bottom: 0px; overflow: auto; left: 0px; right: 0px;}
.alone_box .head{background:#f0f0f0;height: 40px;line-height: 40px;padding-left: 2em; border-bottom: 1px solid #C4C4C4;}
.alone_box .left {position: absolute; left: 0; bottom: 40px; top: 41px; width: 180px; border-right: 1px solid #D0D0D0; background: #fff; padding: 10px; overflow-y: auto; overflow-x: hidden; }
.alone_box .right {position: absolute; left: 210px; bottom: 50px; top: 50px; right: 10px; overflow: auto; }

.alone_box .left li{height: 24px;line-height: 24px;}
.alone_box .left li.current{background: #f0f0f0; }
.alone_box .left li:hover{background: #f7f7f7; }
.alone_box .left li a{color: #333; display: block; width: 100%; padding-left: 5px; outline: none;}
.alone_header,.alone_footer{position:absolute; background: #F0F0F0; left: 0; right: 0; height: 40px; line-height: 40px;width: 100%;margin: auto;}
.alone_header{top:0;border-bottom: 1px solid #C4C4C4;}
.alone_footer{bottom:0;border-top: 1px solid #C4C4C4;}
.alone_content{height: 363px;overflow-y:auto;}

.spec_values ul{ margin:10px;overflow:hidden;}
.spec_values ul li{ float:left; margin:5px 20px 5px 5px;line-height:26px;}
.spec_values ul li .img{border:1px solid #ddd; padding:2px; line-height:0;width:26px;height:26px;padding:1px;overflow:hidden;}
.spec_values ul li .img img{ width:26px; height:26px;}
.spec_values ul li .txt{border:1px solid #ddd; padding:2px; line-height:15px;}

.spec_values ul li input,.spec_values ul li label,.spec_values ul li .img{float:left;margin-right:5px;}
.artDialog_footer{background: #F0F0F0;margin:0; clear:both; position:absolute; padding-top:5px; bottom:8px; text-align:center; left:8px;right:8px;height: 40px;border-top: #dbdbdb 1px solid;}

.box {border:#C4C4C4 1px solid;margin-bottom:5px;overflow:hidden;zoom:1;WORD-WRAP: break-word;TABLE-LAYOUT: fixed;word-break:break-all;}
.box .head{border-bottom: 1px solid #C4C4C4;height: 30px;line-height: 30px;padding-left: 10px;}

#spec_show_list table,#spec_show_list table tr{display: none;}
#spec_show_list table.current,#spec_show_list table tr.select{display: table;}

table.is-used{background: url(../images/is_used.png) no-repeat center bottom;}


table {}
table td,table th{overflow:hidden;text-overflow:ellipsis;}
table td.caption,table th.caption{width: 160px;text-align: right;border-right: 1px solid #dbdbdb;}
table.default{width:100%;border:#dbdbdb 1px solid;border-bottom:0;table-layout:fixed;}
table.default tr td,table.default tr th{line-height:24px;height:24px;padding:4px 0 4px 6px;border-bottom:#dbdbdb 1px solid;}
table.default tr th{background:#f1f2f3}
table.default tr.odd{background:#f1f1f1}
table.border tr td,table.border tr th{padding: 3px;border-left:#dbdbdb 1px solid;}
table.border tr th{text-align: center;}


input.big{width:360px !important;}
input.normal{width:255px !important;}
input.middle{width:180px !important;}
input.small{width:95px !important;}
input.tiny{width:45px !important;}
input.readonly{background-color:#f5f5f5;}

/*========================默认按钮样式============================*/
.button,.focus_button{border: 1px solid #dcdcdc;border-radius: 2px;color: #666;font-size: 12px;height: 29px;line-height: 27px;padding: 0 8px;text-align: center;cursor:pointer;background:#f1f1f1 ;display: inline-block; _zoom:1;_display:inline;
}
.focus_button{background: #8594A4;color: #FFF;border: 1px solid #658293;}
.focus_button:hover{background:#78899A;}
.button:hover{border: 1px solid #c6c6c6;color: #333;background:#EDEDED;}

/*====================封装的tab插件样式=======================*/
.tab{}
.tab .tab-head{ background: none repeat scroll 0 0 #EDEDED; border-bottom: 1px solid #C4C4C4; height: 31px; padding: 4px 0 0; width: 100%;position: relative;}
.tab .tab-head li{cursor: pointer; display: inline-block; height: 32px; line-height: 32px; margin: 0 10px;padding:0 1.5em;text-align: center;overflow: hidden;float: left;}
.tab .tab-head li.current{border: 1px solid #C4C4C4;height: 31px; line-height: 31px;border-radius: 2px;background: #fff;border-bottom: 0;margin-bottom: -1px;position: relative;_height:32px;}
.tab .tab-body{padding: 10px 0;}
ul.gallery{width:613px;}
.gallery li{display: inline-block;padding: 5px; margin: 5px; border: 1px solid #DDDDDD;float: left;}
.gallery li:hover,.gallery li.current {padding: 4px; border: 2px solid #7CA3C1; }


.form2 dl{margin:0 ;padding:0;position: relative;*zoom:1;}
.form2 dt {float: left;margin: 0;padding: 6px 0 0;text-align: right;min-width: 140px;color: #333; font-weight:bold}
.form2 dd {margin-left: 145px;padding: 4px;vertical-align: middle;}
.form2  input[type='text'],.form2  input[type='password']{height: 24px;line-height: 24px;width: 240px;padding-left: 4px;border: solid 1px #aaa; color: #333; padding: 3px; background-color: #FFFFFF;}

.form2  select{height: 28px;line-height: 28px;padding:4px;}
.form2 textarea {width: 480px; height: 100px; padding: 0 0 0 5px; font-size: 12px; color: #333; border: 1px #d2d2d2 solid; line-height: 24px; }

/*===========规格展示窗口样式============*/
.spec_values li{display: inline-block;}
.spec_values li img {width:30px;height: 30px;margin-right: 5px;}

h3 {height: 35px; line-height: 35px; text-indent: 10px; color: #333; background: #f0f0f0; font-size: 14px; font-weight: bold; margin-bottom: 10px;}
.piclist{display: inline-block;}
.piclist li{float: left;margin: 5px 5px 5px 0;width: 88px;display: block;}
.piclist li div.bord{padding: 3px; border: 1px solid #d0d0d0; line-height: 0px;}
.piclist li div.opera { height: 20px;line-height: 20px;text-align:right;padding:5px 2px;}
#pic_list li.current .bord{border: 2px dotted #ae0000;padding: 2px;};
 