.m-login {
	padding-top: 40px;
}

.m-login-noActionbar {
	padding-top: 0;
}

.m-login-form {
	background-color: #fff;
	margin: 15px 10px 0;
	position: relative;
	z-index: 2;
}

.m-login-form .w-form-item {
	border: 1px solid #D5D5D5;
	height: 45px;
	font-size: 14px;
	line-height: 45px;
}

.m-login-form-account {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin: 0;
	margin-bottom: -1px;
}

.m-login-form-password {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin: 0;
}

.m-login-form .w-form-name {
	width: 62px;
}

.m-login-form .w-input-input {
	border-width: 0;
	box-shadow: none;
	font-size: 14px;
	padding: 0;
	width: 220px;
	font-size: 14px;
}

.m-login-form .w-input-placeholder {
	padding: 0;
}

.m-login-submit {
	margin: 15px 10px 10px;
}

.m-login-submit .w-button {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}

.m-login-link {
	margin: 0 10px;
	line-height: normal;
	position: relative;
	+zoom: 1;
}

.m-login-link .aside {
	position: absolute;
	right: 0;
	top: 0;
}

.m-login-form .w-inputBar {
	padding: 0;
}

.m-login-form .w-bar-label {
	width: 90px;
	text-align: right;
}

.m-login-form .w-bar-control {
	margin-right: 10px;
}

.m-login-msg {
	text-align: center;
}

.m-login-menu {
	position: absolute;
	background: #fff;
	width: 100%;
	top: 46px;
	left: 0;
}

.m-login-menu .item {
	border: 1px solid #D5D5D5;
	margin-bottom: -1px;
	height: 44px;
	line-height: 44px;
	padding-left: 62px;
	padding-right: 10px;
}

.m-login-menu .item .inner {
	overflow: hidden;
	text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.m-login-tips-bottom {
	margin-left: 10px;
	margin-top: 15px;
}

.m-login-extLogin {
	margin-top: 20px;
	padding: 0 10px;
	font-size: 12px;
}

.m-login-extLogin .hd {
	margin-bottom: 25px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

.m-login-extLogin .hd span {
	position: relative;
	top: 10px;
	display: inline-block;
	padding: 0 10px;
	background: #f7f7f7;
	color: #3d3d3d;
}

.m-login-extLogin .bd {
	text-align: center;
}

.m-login-extLogin .bd .m-login-extLogin-item {
	display: inline-block;
	margin: 0 15px;
	text-align: center;
	line-height: 26px;
	color: #666;
}