{template 'public/header'} 
<script type="text/javascript" src="{ZSK_STATIC}js/util.js"></script>
<!-- <script type="text/javascript" src="{ZSK_STATIC}layui/laydate/laydate.js"></script> -->
<style type="text/css">
	.glyphicon{cursor: pointer;}
	.accountab{ 
		padding:8px 10px; 
	}
	.sortab td{vertical-align: middle !important;}
	.layui-layer-content{
		background-color: #f4f4f4;
	}
	._pro_rigth{
		float: left;width: 80%;
	}
	._pro_rigth_layout{
		width: 100%;margin-top: 10px;height: 30px;line-height: 30px;
	}
	._pro_rigth_one{
		margin-left: 10px;float: left;width: 5%;
	}
	._pro_rigth_two{
		float: left;margin-left: 10px;width: 5%;
	}
	._pro_rigth_three{
		float: left;margin-left: 10px;width:45%;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;height: 35px;
	}
	._pro_rigth_four{
		float: left;margin-left: 10px;width: 20%
	}
	._pro_rigth_five{
		float: left;margin-left: 10px;width: 10%
	}
	._pro_left{
		width: 100%;margin: -20px;height: calc(100% + 40px);
	}
	._pro_left_layout{
		float: left;width: 20%;background-color: #fff;height: 100%;overflow: auto;text-align: center;
	}
	._pro_left_li{
		width: 100%;height: 40px;line-height:40px;cursor:pointer;
	}
	._pro_rigth_input{
		width: 40px;height: 20px;
	}
	._pro_right_img{
		width: 20px;height: 20px;
	}
</style>
<div class="panel panel-info">
	<div class="panel-heading" >一元抢购管理</div>
	<div class="panel-body">
		<div class="row form-row">
			<form action="<?php echo  $this->routeUrl('discount.selectshopgoods');?>" method="post" id="keyform"> 
			  <div class="col-xs-6 col-sm-4 paddingx">
			    <div class="input-group">
			      <input type="text" class="form-control" name="name" placeholder="请输入店铺名称">
			      <input type="hidden" name="activityid" value="{$_GPC['activityid']}">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="submit"  form="keyform">搜索</button>
			      </span>
			    </div> 
			  </div>  
			</form>	 
		</div> 
		<table class="layui-table">
			<thead>
				<tr>  
					<th style="width: 33%;">店铺名称</th> 
					<th style="width: 33%;">报名商品</th>   
					<th style="width: 33%;">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $memberlist $index $item}
				<tr> 
					<td>{$item['shopname']}</td> 
					<?php 
						$sql = "SELECT count(*) as total FROM $c INNER JOIN $a ON $c.shopid = $a.id INNER JOIN $b ON $b.id = $c.goodsid where $c.activityid=".$item['activityid']." and $c.shopid=".$item['shopid']." and $c.judgeid=1";
 						$res = $model->query($sql);
					?>
					<td>{$res[0]['total']}</td> 
					<td>  
						<a href="<?php echo  $this->routeUrl('discount.selectoutshop');?>&shopid={$item['shopid']}&activityid={$item['activityid']}" class="linkbtn">审核</a> 
					</td>
				</tr>
				{/loop}
				<tr>
					<td colspan="8">
					{template 'public/pagenation'}	
					</td>
				</tr>
			</tbody>

		</table>
	</div>
	
</div> 
<script type="text/javascript">
	function getlist(elm,id){
		console.log($(elm).parent())
	}
	function sussessOk(){

	}
	function remove0(){

	}
</script> 
{template 'public/footer'} 