.chuchuang_bg {
      position: fixed;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      z-index: -1;
      background-color: #9ddee4;
      background-size: 100% auto; 
    }
    .m19_clear1{
        width:100%;
        height:3rem;
    }
    .m19_clear2{
        width:100%;
        height:0.5rem;
    }
    .m19_top{
      width: 100%;
      height: 5rem;
      background: url("../img/1.png") no-repeat;
      background-size: auto 100%;

    }
    .m19_h_pic img{
        width:100%;
        display:block;
    }
    .m19_h_container{
        width:75%;
        border:0.5rem solid #FFFFFF;
        margin: 1.4rem auto;
        position:relative;

    }
    .m19_h_container img{
        display: block;
    }
    .m19_right_hua{
        position: absolute;
        width:50%;
        top: -1.5rem;
        right: -1.5rem;
        pointer-events: none;
    }
    .m19_bottom_hua{
        position: absolute;
        width:70%;
        position: absolute;
        width: 100%;
        left: -1.5rem;
        bottom: -1.4rem;
        pointer-events: none;
    }
    .m19_jiazi{
      position: absolute;
      width: 30%;
      left: 50%;
      top: -2rem;
      margin-left: -15%;
    }
    .m19_title{
  width: 65%;
  background: #ffffff;
  /* height: 6rem; */
  margin: 0 auto;
  position: relative;
  margin-top: 2.5rem;
  text-align: center;
  color: #3db7c6;
  font-size: 1.7rem;
  line-height: 2.2rem;
    }
    .m19_title p{
  text-align: center;
  width: 90%;
  overflow: hidden;
  max-height: 90%;
  margin: 5% auto 5%;
/*   padding: 8% 0 8%; */
  border: 5px solid #9bdee4;
  display: inline-table;

    }
    .m19_title:after{
content: "";
  position: absolute;
  margin-left: 5%;
  background: url(../img/cao.png) no-repeat;
  background-size: 100% auto;
  width: 5.5rem;
  height: 100%;
  top: -2.3rem;
  right: -2rem;
    }
    .m19_wz_content{
        width:75%;
        margin: 0rem auto 0;
        position:relative;
        color:#ffffff;

    }
    .m19_p_pic{
      margin-top:2rem;
    }
    .m19_p_pic img{
        width:100%;
        display:block;
    }
    .m19_p_container{
        width: 75%;
        border: 0.5rem solid #FFFFFF;
        margin: 1.6rem auto;
        position:relative;
    }
    .m19_p_container img{
        display: block;
    }
    .m19_lefttop_hua{
       position: absolute;
      width: 90%;
      top: -2.5rem;
      left: -1.5rem;
      pointer-events: none;
    }
    .m19_rightbottom_hua{
      position: absolute;
      width: 60%;
      right: -2rem;
      bottom: -2rem;
      pointer-events: none;
    }
        .m19_hwz_content{
        width:75%;
        margin: 0rem auto 0;
        position:relative;
        color:#ffffff;

    }
    .m19_avatar{
          width: 2.5rem;
          height:2.5rem;
          border-radius: 50%;
          overflow: hidden;
          position: absolute;
          top: 4.2rem;
          left: 22%;

    }
    .m19_avatar img{
        width:100%;
        height:100%;
        display:block;
    }
    .m19_nickname{
        position: absolute;
        border-bottom: 1px dashed #b4b4b4;
        top: 3.8rem;
        left: 42%;
        font-size: 0.7rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 22%;
    }
    .m19_yd{
      position: absolute;
      top: 4.9rem;
      left: 42%;
      font-size: 0.7rem;
      border-bottom: 1px dashed #b4b4b4;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 22%;
    }
   .m19_time{
        position: absolute;
        border-bottom: 1px dashed #b4b4b4;
        font-size: 0.7rem;
        top: 6.2rem;
        left: 42%;
    }
    .m19_yun{
      position: absolute;
      right: 3%;
      width: 40%;
      top: 2rem;
    }
    .m19_yun img{
        width:100%;
    }

    .music {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  }
.music i {
    float: left;
    width: 30px;
    height: 30px; }
.music i[play=on] {
    background: url("../img/music.png") no-repeat;
    background-size:100% 100%; 
  }
.music i[play=stop] {
    background: url("../img/music.png") no-repeat; 
    background-size:100% 100%; 
  }



.musicAnima{
  -webkit-animation: reverseRotataZ 1.2s linear infinite;
}
@-webkit-keyframes reverseRotataZ{
  0%{
    -webkit-transform: rotateZ(0deg);
  }
  100%{
    -webkit-transform: rotateZ(-360deg);
  }
}

.section_text {
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  font-weight: normal;
  white-space: pre-wrap;
  text-align: center;
}