{template 'common/header'}
<style>
    body{
        background-color: white;
    }
    .mui-content {
        background-color: white;
    }
    .import{
        margin-right: 55px;
        margin-left: 55px;
        margin-top: 30px;
    }

</style>
<body>

<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">商家公告编写</h1>
</header>
<div class="mui-content">
    <form action="" class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit="return check(this);">
        <div class="mui-input-row">
            <label>公告标题</label>
            <div class="mui-input-row">
                <input type="text" class="mui-input-clear js-mobile-val" id="sntitle" name="sntitle" value="{$item['sn_title']}" placeholder="请输入公告标题">
            </div>
        </div>
        <div class="mui-input-row">
            <label>详细内容</label>
            <div class="mui-input-row">
                <textarea id="sncontent" name="sncontent" rows="5" placeholder="请输入内容">{$item['sn_content']}</textarea>
            </div>
        </div>
        <div class="mui-card">
            <div class="mui-input-row mui-radio">
                <label>显示</label>
                <input type="radio" name="snstatus" id="status1" value="1" {if $item['sn_status']==1 || empty($item['sn_status'])}checked="checked" {/if}>
            </div>
            <div class="mui-input-row mui-radio">
                <label>隐藏</label>
                <input type="radio" name="snstatus" id="status2" value="2" {if $item['sn_status']==2 }checked="checked" {/if}>
            </div>
        </div>
        <div class="mui-content" style="text-align: center">
            <input type="submit" name="submit" class="mui-btn mui-btn-success" value="提交"/>
            <input type="hidden" name="token" value="{$_W['token']}" />
        </div>
    </form>
</div>
