@CHARSET "UTF-8";
/**
     * 模板23样式
     */
  
    .chuchuang_bg {
      position: absolute;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      z-index: -1;
      background: url(../img/bg.jpg) repeat;
      background-size: 100% auto;
    }
    .chuchuang_bg1 {
      position: absolute;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      z-index: -1;
      background: url(../img/hb1.png) repeat;
      background-size: 100% auto;
    }
    .music {
      width: 30px;
      height: 30px;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      }
    .music i {
        float: left;
        width: 30px;
        height: 30px; }
    .music i[play=on] {
        background: url("../img/music.png") no-repeat;
        background-size:100% 100%; 
      }
    .music i[play=stop] {
        background: url("../img/music.png") no-repeat; 
        background-size:100% 100%; 
      }



    .musicAnima{
      -webkit-animation: reverseRotataZ 1.2s linear infinite;
    }
    @-webkit-keyframes reverseRotataZ{
      0%{
        -webkit-transform: rotateZ(0deg);
      }
      100%{
        -webkit-transform: rotateZ(-360deg);
      }
    }
    .m21_bg_suip {
      position: absolute;
      width: 100%;
      margin: 0 auto;
      z-index:0;

    }

   .m21_top {
      width: 100%;
      margin: 0 auto;
    }
    .m21_top img{
      width:100%;
    }
   
    .m20_box1{
      position: absolute;
      width: 60%;
      height: 7rem;
      left: 20%;
      margin: 0 auto;
      background: url("../img/hb.png") no-repeat;
      background-size: 100% 100%;
      margin-top: -24%;
      margin-bottom: 0.5rem;
    }
    .m20_box1 .title{
		text-align:center;
        width: 85%;
    	margin: 0 auto;
    	line-height: 1.4;
    	padding-top: 0.7rem;
    	
    }
    .m20_box1 .desc{
		position:relative;
    	height:3.3rem;
      color:white;
    }
   
	.m21_avatar{
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      left: 12%;
      top: 1.3rem;

    }
    .m21_avatar img{
        width:100%;
        height:100%;
        display:block;
    }
	.m21_nickname{
        position: absolute;
        top: 1.1rem; 
        left: 44%;
        font-size: 0.7rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 22%;
        color:white;
    }
    
    .m21_yd{
      position: absolute;
      top: 2rem;
      left: 44%;
      font-size: 0.7rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 22%;
    }
   .m21_time{
        position: absolute;
        font-size: 0.7rem;
        top: 2.9rem;
        left: 44%;
    }
    .m21_h_container{
		width:80%;
    	margin: 0 auto;
    	background: url("../img/hk.png") no-repeat;
       background-size: 100% 100%; 
       position: relative;
    }
    .m21_p_container{
		width:80%;
    	margin: 0 auto;
        background: url("../img/sk.png") no-repeat;
       background-size: 100% 100%; 
        position: relative;
    }
    .m21_h_container .box2{
		width:100%;
    	padding:  2% 6% 2.5% 6%;
    	display:block;
    }
    .m21_p_container .box2{
    width:100%;
      padding:  6% 8% 7% 6.5%;
      display:block;
     
    }
	.m21_h_container .box2 img,.m21_p_container .box2 img{
		  width:100%;
    	display:block;
    }
    .m21_wz_content,.m21_hwz_content{
        width: 80%;
        margin: 0 auto;
        min-height: 1rem;
        padding-top:0.5rem;
        padding-bottom:0.5rem;
    }
    .m21_bottom{
      width:100%;
      height: 1rem;
      display: block;
    }
    .m21_bottom img{
      width:100%;
      display:block;
      position: absolute;
      bottom: 0;
      z-index: 0;
    }
    .qiqiu{
		position:absolute;
    	width: 10%;
  		top: 2.5rem;
    }
    .m21_clear{
      width:100%;
      height:2rem;
    }
    .section_text {
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  font-weight: normal;
  white-space: pre-wrap;
  text-align: center;
}
.chuchuang_container{
  overflow: hidden;
  position: relative;
}
.rich_media_tool{
  position: relative;
  z-index:3;
}
.title{
  position: absolute;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  /* margin-top: -5rem; */
  top: 1.5rem;
  left: 15%;

}
.layer{
  width: 80%;
  margin-left: 10%;
  margin-top: -30px;
  margin-bottom: 30px;
}
.layer img{
  width:100%;
}
.wj1{
  position: absolute;
  width: 18%;
  margin-left: 8%;
  z-index: -1;
  margin-top: 3%;
}
.wj2{
  position: absolute;
  width: 20%;
  right: -7%;
  z-index: -1;
  bottom: -10%;
}
.wj3{
  position: absolute;
  width: 20%;
  right: -7%;
  z-index: -1;
}
.wj4{
  position: absolute;
  width: 20%;
  left: -7%;
  z-index: -1;
  top: 125%;
}
.wj5{
  position: absolute;
  width: 25%;
  left: 0%;
  z-index: -1;
  top: 120%;

}
.wj1 img,.wj2 img,.wj3 img,.wj4 img,.wj5 img{
  width:100%;
}