		<footer id="main-footer" class="page-footer classic">
			<div class="blur-mask"></div>
			<a href="{php echo $this->createMobileUrl('index')}">
				<button id="circle-tab-btn">
      {if $_GPC['do']=='index'}
        <img class="icon active" src="../addons/xuan_js/public/img/f54eb4f.png"/>
        <span class="text active">首页</span>
      {else}
        <img class="icon " src="../addons/xuan_js/public/img/b92c627.png"/>
        <span class="text">首页</span>
      {/if}
        
      
    </button>
			</a>
			<a href="{php echo $this->createMobileUrl('fenlei')}">
				<button id="post-tab-btn">
      <div class="inner">
        {if $_GPC['do']=='fenlei'}
          <img class="icon active" src="../addons/xuan_js/public/img/6c74b82.png"/>
          <span class="text active">发布</span>
        {else}
          <img class="icon" src="../addons/xuan_js/public/img/cd565c8.png"/>
          <span class="text">发布</span>
        {/if}
         
        
      </div>
    </button>
			</a>
			<a href="{php echo $this->createMobileUrl('chat',array('op'=>'xiaoxi'))}" >
				<button id="messages-tab-btn">
      <div class="inner">
        {if $_GPC['do']=='chat'}
          <img class="icon" src="../addons/xuan_js/public/img/1cfedda.png"/>
          <span class="text">消息</span>
        {else}
          
          <img class="icon" src="../addons/xuan_js/public/img/346f9b7.png"/>
          <span class="text">消息</span>
          <span class="red-dot" {if $xiaoxi}style="display: inline-block;"{else}style="display:none;"{/if}>{$xiaoxi}</span>
        {/if}
          
       
          
        
      </div>
    </button>
			</a>
			<a href="{php echo $this->createMobileUrl('person')}">
				<button id="messages-me-btn">
      {if $_GPC['do']=='person'}
        <img class="icon active" src="../addons/xuan_js/public/img/c480777.png"/>
        <span class="text active">我</span>
      {else}
        <img class="icon" src="../addons/xuan_js/public/img/0d82cb7.png"/>
        <span class="text">我</span>
      {/if}
    </button>
			</a>
		</footer>