<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
		<meta http-equiv="cache-control" content="max-age=0" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
		<meta http-equiv="pragma" content="no-cache" />
		<link rel="stylesheet" href="{D_PATH}public/css/djkj.css" />
		<!-- styles -->
		{php echo register_jssdk(0);}
		<link rel="stylesheet" href="{D_PATH}public/css/djkj1.css">
		<title>我有·{$goods['title']}</title>

	</head>

	<body id="scroll-wrapper">

		<!-- body -->

		<section id="item-page" class="page">
			<header id="item-circle-info-header">
				<a>
					<img class="avatar avatar-small" src="{$_W['attachurl']}{$config['logo']}" />
					<span class="circle-name"> {$config['name']} </span>
				</a>

				<button id="show-circle-mp-qr"> 关注 </button>

			</header>

			<div class="user-info-header">
				<div class="bg-wrapper">

					<img class="bg blur" src="{$user['avatar']}" />

					<div class="bg-cover"></div>
				</div>

				<img class="arrow" src="http://assets.quanzijishi.com/assets/imgs/user-header-arrow-82f0c5a6f6.png" />

				<a>
					<span class="big-avatar-wrapper">
      <img class="avatar avatar-big" src="{$user['avatar']}"/>
    </span>
					<div class="info-box">
						<p class="nickname title">
							{$user['nickname']}
							{if $user['gender']==1}
							<span class="sex male">♂</span>
							{else}
							<span class="sex female">♀</span>
							{/if}

						</p>
						<p class="sub region">{$user['residecity']}</p>
						<p class="sub info">

							加入时间:{php echo friendlyDate($user['createtime']);}
						</p>
					</div>
				</a>
			</div>

			<div id="title-box">
				<div class="info-box">
					<p class="title">

						<span class="title-prefix">我有 <b>·</b></span>{$goods['title']}
					</p>
					<div class="middle-line">

						<span class="price">￥{if $goods['type']==1}{$goods['price']}{else}{$goods['sprice']}{/if}</span>

						<span class="original-price">￥{$goods['oprice']}</span>
						
						<span class="postage">包邮</span>

					</div>
					<div class="sub-line">
						<!-- 库存和余货部分 -->
						{if $goods['amount']!=-1}
							<span class="amount">剩余1件</span>
						{/if}
						

						<!-- 浏览量部分 -->
						<span class="view-count center">{$goods['view']}次浏览</span>
						<!-- 发布时间部分 -->
						<span class="created-at right">{php echo friendlyDate($goods['createtime']);}</span>
					</div>
					<button id="report" class="btn btn-white btn-small btn-primary" onclick="$('#report-dialog').show();">举报</button>
				</div>
				<hr>
				<div class="labels-box">
					{if $goods['kuaidi']}
					<span>
			            <img class="icon" src="http://assets.quanzijishi.com/assets/imgs/icon-item-express-cd94c44e3d.png"/>
			            邮寄
			        </span>
			        {/if}
					{if $goods['face']}
					<span>
           				 <img class="icon" src="http://assets.quanzijishi.com/assets/imgs/icon-item-face-to-face-b78be1bc9a.png"/>
            			当面交易
          			</span>
					{/if}
					{if $goods['onlinepay']}
					<span id="online-trade-label">
            <img class="icon" src="http://assets.quanzijishi.com/assets/imgs/icon-item-online-trade-246a9d3334.png"/>
            平台担保交易
          </span>
					{/if}
					{if $goods['offlinepay']}
					<span id="offline-trade-label">
            <img class="icon" src="http://assets.quanzijishi.com/assets/imgs/icon-item-offline-trade-563fd13eb5.png"/>
            平台外支付
          </span>
				{/if}
				</div>
			</div>

			<div id="item-detail">

				<div id="item-description-box">
					<pre id="description">{$goods['description']}</pre>
				</div>
				<?php for($i=0;$i<count($imgk)-1;$i++){ ?>
					<div class="photo-item">
						<img class="photo" src="{$_W['attachurl']}{$imgk[$i]}"  />

					</div>
				<?php } ?>
				
					
				
				
			

			</div>

			<div id="tags-box" class="box">

			</div>

			<div id="vote-box" class="box">
			  <button id="vote-btn">
		        <img class="icon voted" src="http://assets.quanzijishi.com/assets/imgs/icon-favor-active-1fadcfe049.png" />
		        <img class="icon default" src="http://assets.quanzijishi.com/assets/imgs/icon-favor-1917795cab.png" />
		      </button>
				{if $zancount}
				<p class="text hide" id="no-vote">还没有人点赞</p>
				<p class="text " id="has-vote">已有<span id="votes">{$zancount}</span>个人点赞</p>
				<div class="voters">
					{loop $zanimg $k $v}
					<a class="avatar-wrapper self-avatar-box">
						<img class="avatar avatar-small" src="{$v['img']}" />
					</a>
					{/loop}
				</div>
				{else}
				<p class="text " id="no-vote">还没有人点赞</p>
				<p class="text hide" id="has-vote">已有<span id="votes">{$zancount}</span>个人点赞</p>
				<div class="voters">
					<a class="avatar-wrapper self-avatar-box" style="display:none">
						<img class="avatar avatar-small" src="" />
					</a>
				</div>
				{/if}
				
			</div>

			<div id="comments-box" class="box">
				<div class="header-box">
					大家说
					<!--<a >-->
					<button id="add-comment-btn" class="btn btn-primary btn-white">
          <img src="http://assets.quanzijishi.com/assets/imgs/icon-comment-752292a541.png" />
            &nbsp;评论
          </button>
					<!--</a>-->
				</div>

				<ul class="comment-ul">
				{if $pinglun}
				{loop $pinglun $k $v}
				<li class="comment-li">
		            <a href="/user/nu3rhjzh2zd">
		              <img class="avatar avatar-normal" src="{$v['img']}">
		            </a>
		            <div class="content-box">
		              <p class="nickname">
		                <a href="">
		                  {$v['nickname']}
		                  {if $v['uid']==$goods['uid']}
		                  <span class="owner-mark">(主人)</span>
		                  {/if}
		                 
		                </a></p>
		              <p class="content">{$v['content']}</p>
		            </div>
		            <span class="time">{php echo friendlyDate($v['createtime']);}</span>
				</li>
				{/loop}
				{else}
				<li class="center-align empty-mark">还木有评论呢</li>
				{/if}
					

				</ul>
			</div>
			<a href="{php echo $this->createMobileUrl('chat',['uid'=>$goods['uid'],'goodsid'=>$goods['id']])}" id="chat-btn">
				<img src="http://assets.quanzijishi.com/assets/imgs/icon-chat-bubble-918c9542bd.png" style="display:none" />
				<span>联系卖家</span>
			</a>
			</div>
			<div class="provider-logo">
				<a>
					
					<p>炫提供技术支持</p>
				</a>
			</div>
		</section>

		<section id="new-comment-dialog" class="dialog" data-item-id="nsgeyho389v">

			<diV class="inner">
				<header class="comments-header">
					<p class="title"> 评论 </p>
					<button class="header-close-btn">
          <img src="http://assets.quanzijishi.com/assets/imgs/icon-dialog-close-45fbbad593.png" alt="" />
        </button>
				</header>
				<div class="body">
					<p class="reply-to-content"></p>
					<textarea placeholder="写下你的评论吧"></textarea>
				</div>
				<footer class="btn-wrapper">
					<button class="btn btn-block btn-maingreen submit-btn">发布</button>
				</footer>
			</div>
		</section>

		<section id="new-reply-dialog" class="dialog" data-item-id="nsgeyho389v">

			<diV class="inner">
				<header class="comments-header">
					<p class="title"> 评论 </p>
					<button class="header-close-btn">
          <img src="http://assets.quanzijishi.com/assets/imgs/icon-dialog-close-45fbbad593.png" alt="" />
        </button>
				</header>
				<div class="body">

					<textarea placeholder="写下你的评论吧"></textarea>
				</div>
				<footer class="btn-wrapper">
					<button class="btn btn-block btn-maingreen submit-btn">发布评论</button>
				</footer>
			</div>
		</section>

		<section id="report-dialog" class="dialog confirm-dialog">
			<div class="inner">
				<header class="header"> <span class="title">举报</span>
					<button class="header-close-btn" onclick="$('#report-dialog').hide();">
          <img src="http://assets.quanzijishi.com/assets/imgs/icon-dialog-close-45fbbad593.png"/>
        </button>
				</header>
				<div class="body">
					<select class="reason">
						<option value="广告">广告</option>
						<option value="色情">色情</option>
						<option value="侵权">侵权</option>
						<option value="诈骗">诈骗</option>
						<option value="其他">其他</option>
					</select>
					<textarea class="other-reason-input input" placeholder="请输入举报理由，最多190字"></textarea>
				</div>
				<footer>
					<button class="cancel-btn btn btn-white btn-block">取消</button>
					<button class="accept-btn btn btn-maingreen btn-block" onclick="jubao();">确定</button>
				</footer>
			</div>
		</section>

		<section id="bargain-dialog" class="dialog alert-dialog" style="display: none;">
			<div class="inner">
				<header class="header"> <span class="title">砍价</span>
					<button class="header-close-btn">
          <img src="http://assets.quanzijishi.com/assets/imgs/icon-dialog-close-45fbbad593.png"/>
        </button>
				</header>
				<div class="body">
					<div class="current-price-box">
						<label>当前售价</label>
						<span class="current-price">¥{if $goods['type']==1}{$goods['price']}{else}{$goods['sprice']}{/if}</span>
					</div>
					<div class="expected-price-box">
						<label>我要出价</label>
						<span class="expected-price">
            ¥<input class="price-input" type="number">
          </span>
						<br>
						<small>如果卖家同意了你的出价，商品价格将自动改成你输入的价格。</small>
					</div>
				</div>
				<footer>
					<button class="accept-btn btn btn-maingreen btn-primary">确认砍价</button>
				</footer>
			</div>
		</section>

		<section id="offline-trade-notice-dialog" class="dialog notice-dialog">
			<div class="inner">
				<header>
					<img class="logo" src="http://assets.quanzijishi.com/assets/imgs/icon-safe-notification-white-cc88684edd.png" />
					<span class="title">平台外支付</span>
				</header>
				<div class="body">
					<p>
						若商品允许「平台外支付」，则当买家选择此支付方式时，交易流程不经平台担保， 买家确定订单后将直接获得卖家微信号，在平台外与卖家交流并进行支付。
					</p>
				</div>
				<footer>
					<button class="accept-btn btn btn-maingreen btn-block singe">我知道了</button>
				</footer>
			</div>
		</section>
		<section id="guarantee-dialog" class="dialog notice-dialog">
			<div class="inner">
				<header>
					<img class="logo" src="http://assets.quanzijishi.com/assets/imgs/icon-guarantee-6cd950ad8d.png" />
					<span class="title">集市采用“微信担保交易”保障交易安全</span>
				</header>
				<div class="body">
					<div class="info">
						<img class="icon" src="http://assets.quanzijishi.com/assets/imgs/icon-seller-1f53ea711c.png" />
						<span>买家点击「立即购买」付款后，资金会到圈子集市担保的微信账户，保证资金安全。</span>
					</div>
					<div class="info">
						<img class="icon" src="http://assets.quanzijishi.com/assets/imgs/icon-delivery-603668838f.png" />
						<span>卖家快递发货或者当面交易。</span>
					</div>
					<div class="info">
						<img class="icon" src="http://assets.quanzijishi.com/assets/imgs/icon-rmb1-72e561f727.png" />
						<span>买家验货后，点击「确认收货」或者「确认服务」，款项才会支付给卖家。</span>
					</div>
					<div class="info">
						<img class="icon" src="http://assets.quanzijishi.com/assets/imgs/icon-order-success-e540055a60.png" />
						<span>双方互给评价，交易成功。</span>
					</div>
				</div>
				<footer>
					<button class="accept-btn btn btn-maingreen btn-block singe">我知道了</button>
				</footer>
			</div>
		</section>
		<section id="circle-mp-qr-dialog" class="dialog">
			<div class="inner">
				<div class="body">
					<h1>长按二维码关注</h1>
					<img class="qr" src="{$_W['attachurl']}{$config['erweima']}" />
					<p> 在这里相互交易闲置物品、技能和其它一切有趣的东西。</p>
				</div>
			</div>
		</section>

		<section id="alert-dialog" class="dialog">
        <div class="inner">
          <header class="header title"> 提示 </header>
          <div class="body">
            <p class="content"> 内容 </p>
          </div>
          <footer class="footer">
            <button class="accept-btn btn btn-maingreen btn-block single" onclick="$('#alert-dialog').hide();">确定</button>
          </footer>
        </div>
      </section>

		<section id="confirm-dialog" class="dialog confirm-dialog">
			<div class="inner">
				<header class="header"> <span class="title">确认</span>
					<button class="header-close-btn">
              <img src="http://assets.quanzijishi.com/assets/imgs/icon-dialog-close-45fbbad593.png"/>
            </button>
				</header>
				<div class="body">
					<p class="content"> 内容 </p>
				</div>
				<footer>
					<button class="cancel-btn btn btn-white btn-block">取消</button>
					<button class="accept-btn btn btn-maingreen btn-block">确定</button>
				</footer>
			</div>
		</section>

		<section id="prompt-dialog" class="dialog confirm-dialog">
			<div class="inner">
				<header class="header"> <span class="title">请输入</span>
					<button class="header-close-btn">
              <img src="http://assets.quanzijishi.com/assets/imgs/icon-dialog-close-45fbbad593.png"/>
            </button>
				</header>
				<div class="body">
					<p class="content"> 内容 </p>
					<input class="input" type="text" value="" placeholder="请输入...">
				</div>
				<footer>
					<button class="cancel-btn btn btn-white btn-block">取消</button>
					<button class="accept-btn btn btn-maingreen btn-block">确定</button>
				</footer>
			</div>
		</section>

		<div id="loading-toast" class="weui_loading_toast" style="display: none;">
			<div class="weui_mask_transparent"></div>
			<div class="weui_toast">
				<div class="weui_loading loading-mark">
					<div class="weui_loading_leaf weui_loading_leaf_0"></div>
					<div class="weui_loading_leaf weui_loading_leaf_1"></div>
					<div class="weui_loading_leaf weui_loading_leaf_2"></div>
					<div class="weui_loading_leaf weui_loading_leaf_3"></div>
					<div class="weui_loading_leaf weui_loading_leaf_4"></div>
					<div class="weui_loading_leaf weui_loading_leaf_5"></div>
					<div class="weui_loading_leaf weui_loading_leaf_6"></div>
					<div class="weui_loading_leaf weui_loading_leaf_7"></div>
					<div class="weui_loading_leaf weui_loading_leaf_8"></div>
					<div class="weui_loading_leaf weui_loading_leaf_9"></div>
					<div class="weui_loading_leaf weui_loading_leaf_10"></div>
					<div class="weui_loading_leaf weui_loading_leaf_11"></div>
				</div>
				<p class="weui_toast_content">数据加载中</p>
			</div>
		</div>

		<div id="toast" style="display: none;">
			<div class="weui_mask_transparent"></div>
			<div class="weui_toast">
				<i class="weui_icon_toast"></i>
				<p class="content weui_toast_content">已完成</p>
			</div>
		</div>

		<!-- footer -->

		<footer id="actions-footer" class="page-footer">

			<div class="blur-mask"></div>

			<div class="btn-wrapper">
				<a href="{php echo $this->createMobileUrl('index')}" class="btn">
					<img class="icon" src="http://assets.quanzijishi.com/assets/imgs/icon-circle-8cbcac5aa0.png" />
					<span>进入集市</span>
				</a>
			</div>

			<div class="btn-wrapper">
				<a id="fav-btn" class="btn center disabled">
					<img class="icon fav-icon" src="http://assets.quanzijishi.com/assets/imgs/icon-fav-f86512b5d3.png" />
					<img class="icon unfav-icon" src="http://assets.quanzijishi.com/assets/imgs/icon-unfav-ae550acba7.png" />
					<span>收藏</span>
				</a>
			</div>
			{if $goods['uid']==$uidopenid['uid']}
			<a class="btn btn-primary btn-maingreen right" onclick="alert('程序员哥哥正在编写');">
        		编辑商品
      		</a>
      		<button id="activate-btn" class="btn btn-primary btn-orange right">{if $goods['status']==1}下架商品{else}上架商品{/if}</button>
			{else}
				{if $goods['status']==1}
					{if $goods['shengyu']!=-1 && $goods['shengyu']==0}
					<a href="" id="buy-btn" class="btn btn-primary btn-maingreen right">
					已售罄
					</a>
					{else}
					<a href="{php echo $this->createMobileUrl('order',['goodsid'=>$goods['id']])}" id="buy-btn" class="btn btn-primary btn-maingreen right">
					立即购买
					</a>
					{/if}
					
				{else}
					<button id="buy-btn" class="btn btn-primary btn-black disabled right" onclick="alert2('商品已被用户下架，不可购买')">已下架
	       			</button>
				{/if}
      		
			{/if}

			<button id="bargain-btn" class="btn btn-primary btn-orange right"> 砍价 </button>

		</footer> 
		<script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
		<script type="text/javascript">

			$(document).ready(function(){
				$("#activate-btn").click(function(){

					if ($.trim($("#activate-btn").html())=="下架商品") {
						var status=0;
					}else{
						var status=1;
					}
					$('#loading-toast').show();
					$.ajax({
		 				type:'POST',
		 				url:"{php echo $this->createMobileUrl('ajax',['op'=>'goodsstatus'])}",
		 				data:{'status':status,'id':{$goods['id']}},
		 				success:function(data){
		 						$('#loading-toast').hide();
		 						if ($.trim($("#activate-btn").html())=="上架商品") {
									$("#activate-btn").html("下架商品");
								}else{
									$("#activate-btn").html("上架商品");
								}
		 					},
		 			});
				});
				$("#bargain-btn").click(function() {
					$("#bargain-dialog").css('display', 'block');
				})
				$(".header-close-btn").click(function() {
					$("#bargain-dialog").css('display', 'none');
				})

				$(".accept-btn").click(function() {
					$("#bargain-dialog").css('display', 'none');
				})
				$("#show-circle-mp-qr").click(function(){
					$("#circle-mp-qr-dialog").show();
				});
				$("#circle-mp-qr-dialog").click(function(){
					$("#circle-mp-qr-dialog").hide();
				});
				$("#add-comment-btn").click(function(){
					$("#new-comment-dialog").show();
				});
				$(".header-close-btn").click(function(){
					$("#new-comment-dialog").hide();
				});
				$("#new-comment-dialog").find(".btn").click(function(){
	 			    $('#loading-toast').show();
		 			$.ajax({
		 				type:'POST',
		 				url:"{php echo $this->createMobileUrl('ajax',array('op'=>'pinglun'))}",
		 				data:{'content':$("#new-comment-dialog").find("textarea").val(),'id':'{$_GPC['id']}'},
		 				success:function(data){
		 						location.reload(); 	
		 						},
		 			});
	 			
	 			
	 			});

	 			$(".photo-item").click(function(){
	 				  var src= $(this).find('img').attr('src');
	 				  
					wx.previewImage({
				      current: ''+src+'',
				      urls: [
				        <?php for($i=0;$i<count($imgk)-1;$i++){ ?>"{$_W['attachurl']}{$imgk[$i]}",<?php } ?>
				      ]
				    });
				});
				if ({$mezan}==1) {
					var img=$('#vote-btn').find('.icon');
					
					img.eq(0).removeClass("voted");
					img.eq(0).addClass("default");

					img.eq(1).removeClass("default");
					img.eq(1).addClass("voted");
				}else{
					$('#vote-btn').click(function(){
						$('#loading-toast').show();
						var img=$('#vote-btn').find('.icon');
						img.eq(0).removeClass("voted");
						img.eq(0).addClass("default");

						img.eq(1).removeClass("default");
						img.eq(1).addClass("voted");

						$.ajax({
		 				type:'POST',
		 				url:"{php echo $this->createMobileUrl('ajax',array('op'=>'zan'))}",
		 				data:{'id':{$goods['id']}},
		 				success:function(data){
							$('#loading-toast').hide();
		 						},
		 				});
					});
					
				}
			});
			/*************收藏*************/
				if ({$shoucang}==1) {
					    var fav=$('#fav-btn').find('.icon');
						fav.eq(0).removeClass("fav-icon");
						fav.eq(0).addClass("unfav-icon");

						fav.eq(1).removeClass("unfav-icon");
						fav.eq(1).addClass("fav-icon");
				}
				$('#fav-btn').click(function(){
						
						if ($('#fav-btn').find('.icon').eq(1).hasClass('unfav-icon')) {
							var a=0;
							var b=1;
						}else{
							var a=1;
							var b=0;
						}
						
						var fav=$('#fav-btn').find('.icon');
						fav.eq(a).removeClass("fav-icon");
						fav.eq(a).addClass("unfav-icon");

						fav.eq(b).removeClass("unfav-icon");
						fav.eq(b).addClass("fav-icon");

						$.ajax({
		 				type:'POST',
		 				url:"{php echo $this->createMobileUrl('ajax',array('op'=>'shoucang'))}",
		 				data:{'id':{$goods['id']}},
		 				success:function(data){

		 						},
		 				});
					});
			
			function jubao(){
				$('#loading-toast').show();
				$.ajax({
					type:'POST',
					url:"{php echo $this->createMobileUrl('ajax',array('op'=>'jubao'))}",
					data:{'id':{$goods['id']},'reason':$('.reason').val(),'otherreason':$('.other-reason-input').val()},
					success:function(data){
						$('#loading-toast').hide();
						$('#report-dialog').hide();
						alert2('我们已收到您的举报。');
					},
				});
			}
			function alert2(text){
					$("#alert-dialog").find("p").html(text);
					$("#alert-dialog").show();
					return 0;
		}	
		</script>
			
	</body>

</html>