<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="stylesheet" href="{D_PATH}public/css/global-ea79113a2f.css?v=0.3" />
    <!-- styles -->
    <script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
   <link rel="stylesheet" href="{D_PATH}public/css/orders-or-items-page-35ddd8979d.css">

    <title> 我发布的商品 </title>
    
  </head>
  <body id="scroll-wrapper">

    <!-- body -->
    
<div id="items-page" class="page">
  <ul id="main-list">
    
    
      
      
      
      
      {loop $list $k $v}
      <?php $imgk=explode('@',$v['img']); ?>
      <li class="order-or-item-li">

  
    <div class="data"
      data-item-id="nxlrnzeyu4e"></div>
  

  <a href="{php echo $this->createMobileUrl('goods',array('id'=>$v['id']))}">
    <div class="info-box">
      <div class="left-box">
        <div class="cover-wrapper">
          <img src="{$_W['attachurl']}{$imgk[0]}">
        </div>
        
          <p class="view-count ">{$v['view']}次浏览</p>
        
      </div>
      <div class="center-box">
        <p class="title">{$v['title']}</p>
          {if $v['type']==1}
          <p class="price special-price">{$v['price']}</p>
          {else}
          <p class="price special-price">{$v['sprice']}</p>
          {/if}
          
        
      </div>
      <div class="right-box">
          {if $v['shengyu']!=-1}
            {if $v['shengyu']==0}
              <p class="status grey">已售罄</p>
            {else}
              {if $v['status']==1}
              <p class="status green">已上架</p>
              {else if $v['status']==0}
              <p class="status grey">已下架</p>
              {/if}
            {/if}
          {else}
            {if $v['status']==1}
            <p class="status green">已上架</p>
            {else if $v['status']==0}
            <p class="status grey">已下架</p>
            {/if}
          {/if}
        
        <p class="created_at ">{php echo date('m-d',$v['createtime'])}</p>
        <span class="circle-label btn">
          <img class="icon" src="http://assets.quanzijishi.com/assets/imgs/icon-location-0d708f1a1a.png"/>
          市集
        </span>
      </div>
        {if $v['shengyu']!=-1}
        <span class="item-amount">剩余{$v['shengyu']}件</span>
        {/if}
    </div>
    
    
  </a>
  <hr>
  <footer class="operation-box">

    

    
      <!-- 发布的商品 -->
      
        <!-- 普通商品 -->
          
          <button class="edit-btn btn btn-primary btn-white" onclick="alert('程序员正在夜以继日开发')">编辑</button>
          <button class="item-orders-btn btn btn-primary btn-white">查看订单</button>
          {if $v['shengyu']==0}
          {else}
            {if $v['status']==0}
            <button class="activate-btn btn btn-primary btn-white shangjia" >重新上架</button>
            {else if $v['status']==1}
            <button class="activate-btn btn btn-primary btn-white xiajia" >下架</button>
            {/if}
          {/if}
          <input type="hidden" id="goodsid" value="{$v['id']}">
          <!--<button class="delete-btn btn btn-primary btn-white">删除</button>-->
        
      

    
  </footer>
</li>
    {/loop}
      
      
      
      
 
    
    
  </ul>
</div>
<script>
$(document).ready(function(){
    $('.xiajia').click(function(){
        var id=$(this).next().val();

        $("#loading-toast").show();
        $.ajax({
            type:'POST',
            url:"{php echo $this->createMobileUrl('ajax',array('op'=>'goodsstatus'))}",
            data:{'status':0,'id':id},
            success:function(data){
              $("#loading-toast").hide();
                window.location.href=window.location.href+"&a="+Math.random();
              },
          });
    });
    $('.shangjia').click(function(){
        var id=$(this).next().val();

        $("#loading-toast").show();
        $.ajax({
            type:'POST',
            url:"{php echo $this->createMobileUrl('ajax',array('op'=>'goodsstatus'))}",
            data:{'status':1,'id':id},
            success:function(data){
              $("#loading-toast").hide();
               window.location.href=window.location.href+"&a="+Math.random();
              },
          });
    });
});
</script>

    
      <section id="alert-dialog" class="dialog">
        <div class="inner">
          <header class="header title"> 提示 </header>
          <div class="body">
            <p class="content"> 内容 </p>
          </div>
          <footer class="footer">
            <button class="accept-btn btn btn-maingreen btn-block single">确定</button>
          </footer>
        </div>
      </section>
    

    
      <section id="confirm-dialog" class="dialog confirm-dialog">
        <div class="inner">
          <header class="header"> <span class="title">确认</span>
            <button class="header-close-btn">
              <img src="http://assets.quanzijishi.com/assets/imgs/icon-dialog-close-45fbbad593.png"/>
            </button>
          </header>
          <div class="body">
            <p class="content"> 内容 </p>
          </div>
          <footer>
            <button class="cancel-btn btn btn-white btn-block">取消</button>
            <button class="accept-btn btn btn-maingreen btn-block">确定</button>
          </footer>
        </div>
      </section>
    

    
      <section id="prompt-dialog" class="dialog confirm-dialog">
        <div class="inner">
          <header class="header"> <span class="title">请输入</span>
            <button class="header-close-btn">
              <img src="http://assets.quanzijishi.com/assets/imgs/icon-dialog-close-45fbbad593.png"/>
            </button>
          </header>
          <div class="body">
            <p class="content"> 内容 </p>
            <input class="input" type="text" value="" placeholder="请输入...">
          </div>
          <footer>
            <button class="cancel-btn btn btn-white btn-block">取消</button>
            <button class="accept-btn btn btn-maingreen btn-block">确定</button>
          </footer>
        </div>
      </section>
    

    
      <div id="loading-toast" class="weui_loading_toast" style="display: none;">
        <div class="weui_mask_transparent"></div>
        <div class="weui_toast">
          <div class="weui_loading loading-mark">
  <div class="weui_loading_leaf weui_loading_leaf_0"></div>
  <div class="weui_loading_leaf weui_loading_leaf_1"></div>
  <div class="weui_loading_leaf weui_loading_leaf_2"></div>
  <div class="weui_loading_leaf weui_loading_leaf_3"></div>
  <div class="weui_loading_leaf weui_loading_leaf_4"></div>
  <div class="weui_loading_leaf weui_loading_leaf_5"></div>
  <div class="weui_loading_leaf weui_loading_leaf_6"></div>
  <div class="weui_loading_leaf weui_loading_leaf_7"></div>
  <div class="weui_loading_leaf weui_loading_leaf_8"></div>
  <div class="weui_loading_leaf weui_loading_leaf_9"></div>
  <div class="weui_loading_leaf weui_loading_leaf_10"></div>
  <div class="weui_loading_leaf weui_loading_leaf_11"></div>
</div>
          <p class="weui_toast_content">数据加载中</p>
        </div>
      </div>
    

    
      <div id="toast" style="display: none;">
        <div class="weui_mask_transparent"></div>
        <div class="weui_toast">
          <i class="weui_icon_toast"></i>
          <p class="content weui_toast_content">已完成</p>
        </div>
      </div>
    

    <!-- footer -->
    
<footer id="footer">
  <a id="btn-create-item" class="btn btn-footer btn-maingreen"
    href="{php echo $this->createMobileUrl('fenlei')}">
    发布新的东西</a>
</footer>




    
  </body>
</html>