<!DOCTYPE html>
<html>
  <head>
    
      <script src="http://weixiao.qq.com/js/MTAH5/stats.js" id="WXH5" sid="500351742"></script>
    
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="stylesheet" href="{D_PATH}public/css/global-ea79113a2f.css?v=0.3" />
    <!-- styles -->
    
  <link rel="stylesheet" href="{D_PATH}public/css/orders-or-items-page-35ddd8979d.css">

    <title> 我收藏的商品 </title>
    
  </head>
  <body id="scroll-wrapper">

    <!-- body -->
    
<div id="items-page" class="page">
  <ul id="main-list">
    
    
      
      
      
      
      {loop $shoucang $vo}
      <li class="order-or-item-li">
      <?php $imgk=explode('@',$vo['goods']['img']); ?>
  
    <div class="data"
      data-order-id="nknskk0t8pd"></div>
  

  <a href="{php echo $this->createMobileUrl('goods',array('id'=>$vo['goods']['id']))}">
    <div class="info-box">
      <div class="left-box">
        <div class="cover-wrapper">
          <img src="{$_W['attachurl']}{$imgk[0]}">
        </div>
        
          <p class="view-count ">{$vo['goods']['view']}次浏览</p>
        
      </div>
      <div class="center-box">
        <p class="title">{$vo['goods']['title']}</p>
        
          <p class="price">{if $vo['goods']['type']==1}{$vo['goods']['price']}{else}{$vo['goods']['sprice']}{/if}</p>
        
      </div>
      <div class="right-box">
        
          <p class="status blue">
            {if $vo['goods']['amount']==0}
            已售罄
            {else}
              {if $vo['goods']['status']==1}
              已上架
              {else}
              已下架
              {/if}
            {/if}
            
            
          </p>
        
        <p class="created_at ">{php echo date('m-d',$vo['goods']['createtime'])}</p>
        <span class="circle-label btn">
          <img class="icon" src="http://assets.quanzijishi.com/assets/imgs/icon-location-0d708f1a1a.png"/>
          {$settings['name']}
        </span>
      </div>
      
        <span class="item-amount">剩余{if $vo['goods']['amount']==0}0{elseif $vo['goods']['amount']==-1}N{else}{$vo['goods']['amount']}{/if}件</span>
      
    </div>
    
    
  </a>
  <hr>
  <footer class="operation-box">

    

    
  </footer>
</li>
    {/loop}
  
    
    
  </ul>
</div>


    
     


    
  </body>
</html>