{template 'public/header'}  
<style type="text/css">
	.topicpic{width: 100px; }
</style>
<div class="panel panel-info">
	<div class="panel-heading" >商品管理</div>
	<div class="panel-body">
		<div class="row form-row">
			<form action="<?php echo $this->routeUrl('topic.listview');?>" method="post" id="keyform"> <div class="col-xs-4 col-sm-4 paddingx">
				<div class="input-group">
			      <input type="text" name="name" placeholder="输入专题名称" value="{$params['name']}" class="form-control" style="display: inline-block;" />
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="submit"  form="keyform">搜索</button>
			        <button class="btn btn-default" type="button" style="display: inline-block;" onclick="addtopic()">发布专题</button> 
			      </span>
			    </div>  
			</div>
			</form> 
		</div> 
		<table class="layui-table ">
			<thead>
				<tr>
					<th style="width: 200px;">标题</th>  
					<th style="width: 120px;">封面图片</th> 
					<th style="width: 80px;">状态</th>
					
					<th style="width: 150px;">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $topics $index $item}
				<tr>
					<td>{$item['title']}</td> 
					<td><img src="{$_W['attachurl']}{$item['picture_cover']}"  class="topicpic" /> </td>
				 
					<td>{$item['status']} </td>
					
					<td> 
					 
						<a href="<?php echo $this->routeUrl('topic.editview');?>&tid={$item['id']}" class='linkbtn'>编辑</a>
						<a href="javascript:void(0);" onclick="deltopic({$item['id']},'{$item['title']}')" class='linkbtn linkbtn-red'>删除</a>
					</td>
				</tr>
				{/loop}
				<tr>
					<td colspan="8" align="center">
						{template 'public/pagenation'}
					</td>
				</tr>
			</tbody>

		</table>
	</div>
</div>
 

<script type="text/javascript">
	function addtopic(){
		window.location.href="<?php echo $this->routeUrl('topic.editview');?>";
	}
	function deltopic(id,name){
		modalDlg("是否删除"+name+"?",function(){
			window.location.href="<?php echo $this->routeUrl('topic.deltopic');?>&tid="+id;
		});
	}
</script>
{template 'public/footer'}
