html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul,input {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
/*
table {border-collapse: collapse;border-spacing: 0;}
*/
body {font-size:12px;margin:0;padding:0;font-family:Arial, Helvetica, sans-serif,"微软雅黑";}
body,html{height:100%;}
img{border:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
select,input{vertical-align:middle}
.clear { display:block !important; clear:both !important; float:none !important; margin:0 !important; padding:0 !important; height:0; line-height:0; font-size:0; overflow:hidden;}
.clearfix { zoom:1; }
.send_msg{position:fixed;bottom:0;left:0;}
.send_title{position:fixed;top:0;left:0;}

.clearfix:after { content:""; display:block; clear:both; height:0; }
.spacer{clear:both; font-size:0; height:0; line-height:0;}
a{color:#333;text-decoration:none}
a:hover{color:#f00;}
img,input,label{vertical-align:middle;}/*垂直居中*/
  .wcroll{
	position:relative;
  }
   .wcroll b{
     display:block;
	 width:24px;
	 height:18px;
	 position:absolute;
	 top:0px !important;
	 right:10px;
	 cursor:pointer;
	 line-height:44px;
   }
   .banner b{
	top:10px !important;
   }
   .wcroll b img{
    width:24px;
	height:18px;
   }
   .main-nav{
     width:140px;
	 background:#333;
	 position:fixed;
	 z-index:99;
	 right:-140px;
   }
   .main-nav a{
     display:block;
     width:100%;
	 color:#fff;
	 font-size:12px;
	 text-align:center;
   }
   .main-nav a.current{
     background:#222;
   }