@charset "utf-8";
/* CSS Document */
   html{font-size:62.5%;outline:none;}
   body{font-size:1.2rem;font-family:'微软雅黑';color:#f6f6f6;background:#f6f6f6;outline:none;}
   .fl{float:left;}
   .fr{float:right;}
   a{outline:none;}
   a:hover{text-decoration:none;}
   
   /********banner***********/

   
   .banner{
     width:100%;
	 float:left;
	 position:relative;
   }

   .bfnner{
	 margin-bottom:10px;
   }
   	.gh-h41{
	 color:#fff;
	 background:#666666;
	 border:1px solid #444444;
	 border-radius:18px;
     font-size: 12px;
     padding: 10px 15px;
     text-align: center;
     width: 120px;
	 margin:5px auto 15px;
	 font-size:14px;
	 position:relative;
	}
	.hdn{
	 display:none;
	}
	.gh-h41 b{
	 position:absolute;
	 bottom:-6px;
	 background:url(../images/san.png) no-repeat; 
	 width:13px;
	 height:7px;
	 z-index:9;
	 left:53.5px;
	}
   .banner a:hover{color:#fff;outline:none;}
   .banner a:focus{color:#fff;text-decoration:none;outline:none;}
   .can1{
    width:50%;
	height:50px;
	background:#e53f44;
	border-radius:25px;
	line-height:50px;
	border:1px solid #e53f44;
	display:block;
	position:absolute;
	z-index:5;
	left:25%;
	bottom:12%;
	color:#fff;
	text-align:center;
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
   }
   .can2{
     width:50%;
	 height:50px;
	 line-height:50px;
	 border-radius:25px;
	 display:block;
	 position:absolute;
	 z-index:5;
	 background:#676591;
	 border:1px solid #595691;
	 right:25%;
	 bottom:12%;
	 color:#fff;
	 text-align:center;
	 filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
   }
   .banner img{
     float:left;
	 width:100%;
	 height:auto;
   }
   .fh-qiany {
    background:#fff;
    padding: 10px 15px;
    width: 100%;
	float:left;
	color:Black;
	}
	.fh_ck{
	 color:#0b6bfe;
	 font-size:14px;
	 text-align:center;
	 margin-top:10px;
	 cursor:pointer;
	}
	.fh_ck b{
	 border-radius:50%;
	 width:20px;
	 height:20px;
	 border:1px solid #0b6bfe;
	 display:inline-block;
	 line-height:18px;
	 text-align:center;
	 margin-right:5px;
	}
	.fh-qiany p{
     line-height: 21px;
     text-indent: 2em;
	 font-family:"微软雅黑";
	 
	}
	.hdn{
	 display:none;
	}
	.fh-qiany1 p{
	 text-indent: 0em;
	 text-align:center;
	 color:Black;
	}
	.fh-qiany1 p span{
	 color:#ff5555;
	}
	.fh-qiany1 .fh-qian,.fh-qiany .fh-qian{
	 color:#666;
	 text-indent:0;
	 text-align:center;
	 margin:5px 0;
	}
	.fh-qiany .tleft{
	 text-indent:0;
	 text-align:center;
	}
	.fh-qiany1 .fh-left{
	 text-align:left;
	}
	.fh-qiany1 .fh-di{
	 margin-bottom:0;
	}
	.fh-qiany .gh-san,.fh-qiany1 .gh-san{
	 color:#333;
	}
	.footer{
	 clear:both;
	 background:#333333;
	 color:#ccc;
	 line-height:30px;
	 text-align:center;
	 font-size:12px;
	 padding:10px 0;
	}
	.footer em{
	 color:#d81c0f;
	}
/**/
	.guest{
     background:#fff;
     padding: 10px 3%;
     width: 100%;
	 text-align:center;
	}
		.guest h3{
	 padding:0 5px;
	 width:100%;
	 margin:5px 0px;
	 color:Black;
	}
	.guest img{
     border-radius: 50%;
     display: block;
     margin: auto;
     width: 75%;	
	}
	.guest p{
     padding:0 5px;
	 width:100%;
	 font-size:12px;
	 font-family: "微软雅黑";
	 color:#666;
	 line-height:18px;
	}
		/*active_day*/
	.active_top{
	 margin:10px auto;
     width: 96%;
	 line-height:24px;
	}
	.active_inner{
	 padding:10px 15px;
	 width:100%;
	 padding-bottom:0;
	}
	.active_them b{
	 background:url(../images/hui.png) no-repeat;
	 width:13px;
	 height:8px;
	 position:absolute;
	 bottom:-7px;
	 left:85px;
	}
	.active_them{
	 background:#eee;
	 padding:15px 5%;
	 width:100%;
	 line-height:24px;
	 border:1px solid #ccc;
	 border-radius:4px;
	 font-size:12px;
	 font-family:'微软雅黑';
	 position:relative;
	}
	.them-qiany{
	 color:#666;
	}
	
	
	.gh-h44{
     width:155px;
	 margin: 5px 20px 0px;
	}
	.gh-h44 b{
		left:62.5px;
	}
	.time-flow {
     font-size: 12px;
     margin-top: 17px;
     position: relative;
	 margin-bottom:25px;
	}
	.time-flow .start {
     margin-bottom: 10px;
	}
	.time-flow .start b {
    margin-left: 80px;
}
	.time-flow .start b img, .time-flow .start b {
    display: block;
    height: 24px;
    width: 24px;
	}
	.time-flow .time-item {
    margin-bottom: 5px;
    position: relative;
	}
	.time-flow .time-item b {
    background: #cb3125;
    border-radius: 50%;
    display: block;
    height: 4px;
    left: 90px;
    position: absolute;
    top: 10px;
    width: 4px;
    z-index: 1;
	}
	.time-flow .time-item span {
     text-indent: 4px;
     width: 90px;
	 color:#666;
	 line-height:24px;
	}
	.time-flow .time-item h3 {
     color: #000;
     font-size: 12px;
     width: 185px;
	 line-height:24px;
	}
	.time-flow .time-item p {
     color: #666;
     width: 185px;
	 line-height:24px;
	}
	.time-flow i {
    background: #e8e8e8;
    display: block;
    left: 91px;
    position: absolute;
    top: 24px;
    width: 2px;
	}
	.time-flow .time-item div {
      margin-left: 15px; 
	}
	/*top*/
	.top-nav{
	   width:100%;
	   background:#f2f2f2;
	   height:44px;
	   line-height:44px;
	   border-bottom:1px solid #e6e5e5;
	   position:relative;
	  }
	  .top-nav h2{
	    border:0;
		text-align:center;
		font-size:15px;
		color:#cb3125;
	  }
	 .top-nav a{
      background: url("../images/bg.png") no-repeat;
	}	  
	  .top-nav a{
	    display:block;
		width:21px;
		height:21px;
		position:absolute;
		left:15px;
		top:11px;
		background-position:0 0;
		background-size:160px 160px;	
	  }	 
