@charset "utf-8";
html{ overflow-x:hidden;}
body{font-family:"Microsoft Yahei",Verdana, Geneva, sans-serif; font-size:14px; color:#000; background:#0d062f url(../images/bg.jpg) center top no-repeat; overflow-x:hidden;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,p,fieldset,legend,input,button,textarea{ margin:0; padding:0;}
fieldset,img{ border:0;}
img{ vertical-align:bottom;}
ul,ol,li{ list-style:none;}
.fix:after{content:"."; display:block; clear:both; visibility:hidden; height:0px;}
.fix{zoom:1;}
.clear{ width:0; height:0; line-height:0; font-size:0; clear:both;}

.box_1{ padding:10px 0;}
.box_1 .bhead{ height:29px; padding:0 20px;}
.box_1 .bhead strong{ display:block; width:151px; height:29px; background:url(../images/bg_box_head.png) no-repeat; text-indent:-9999px;}
.box_1 .bbody{ padding:20px 0;}

.header{ width:1200px; height:554px; margin:0 auto;}
.header h1{ display:none;}

.nav{ width:1200px; height:80px; margin:0 auto; background:url(../images/bg_nav.png) right top no-repeat;v}
.nav ul li{ height:80px; float:left;}
.nav ul li.countdown{ width:215px; height:80px; background:#29b8e0; color:#FFF;}
.nav ul li.countdown div{ line-height:24px; padding:16px 0 0; text-align:center; font-size:18px;}
.nav ul li.countdown div span{ font-size:24px;}
.nav ul li a{ display:block; height:80px; text-indent:-9999px; color:White;}
.nav ul li.nav_li_1{ width:154px;}

.nav ul li.nav_li_2{ width:140px;}

.nav ul li.nav_li_3{ width:133px;}

.nav ul li.nav_li_4{ width:150px;}

.nav ul li.nav_li_5{ width:189px;}

.nav ul li.enroll{ width:219px;}

 .username{
    height:50%;
    width:calc(100% - 40px);
    padding-left:40px;
    border-radius:2px;
    border:1px solid;
    border-color:rgb(229,229,232) rgb(220,220,221) rgb(213,213,213) rgb(220,220,221);
    display:block;
    height:50px;
    transition: all 300ms linear;
    margin-left: 20px;
	    margin-bottom: 10px;
}
.button{
    color:#fff;
    font-weight:bold;
    font-size:30px;
    width:300px;
    height:80px;
    position:relative;
    background:-*-linear-gradient(top,rgb(74,162,241),rgb(52,119,182)) 1px 0 no-repeat,
               -*-linear-gradient(top,rgb(52,118,181),rgb(36,90,141)) left top no-repeat;
    background-size:66px 28px,68px 29px;
    border:none;
    border-top:1px solid rgb(52,118,181);
    border-radius:2px;
    box-shadow:inset 0 1px 0 rgb(86,174,251);
    text-shadow:0 1px 1px rgb(51,113,173);
    transition: all 200ms linear;
    margin-left:450px;
    background-color:#428bca;
}
.button:hover {
    text-shadow:0 0 2px rgb(255,255,255);
    box-shadow:inset 0 1px 0 rgb(86,174,251),0 0 10px 3px rgba(74,162,241,0.5);
}
.button:active {
    background:-*-linear-gradient(top,rgb(52,119,182),rgb(74,162,241)) 1px 0 no-repeat,
               -*-linear-gradient(top,rgb(52,118,181),rgb(36,90,141)) left top no-repeat;
}


.main{ width:1200px; margin:0 auto; background:#FFF;}
.introduction{ line-height:2em; padding:20px 40px; font-size:16px;}
.introduction p{ margin:10px 0 0; text-indent:2em;}

.b1 .bhead strong{ background-position:right top;}
.slider_b1{ width:1280px; margin:0 0 0 -40px; background:#ea5454; position:relative;}
.slider_b1 .hd{}
.slider_b1 .hd a{ display:block; width:40px; height:43px; position:absolute; top:50%; background:url(../images/arrow.png) no-repeat; margin:-22px 0 0 0; cursor:pointer;}
.slider_b1 .hd a.prev{ left:10px; background-position:left top;}
.slider_b1 .hd a.next{ right:10px; background-position:right top;}
.slider_b1 .bd div{ width:1200px; margin:0 40px; float:left;}
.slider_b1 .bd div ul li{ width:210px; height:210px; overflow:hidden; margin:15px 0; padding:0 15px; float:left; position:relative;}
.slider_b1 .bd div ul li p{ width:210px; height:140px; overflow:hidden; background:url(../images/bg_60606080.png) repeat; position:absolute; left:15px; bottom:-100px; transition:bottom .3s ease-in-out;}
.slider_b1 .bd div ul li:hover p{ bottom:0;}
.slider_b1 .bd div ul li img{ width:100%; height:auto;}
.slider_b1 .bd div ul li p strong{ display:block; height:40px; line-height:40px; text-align:center; color:#FFF; font-size:16px; font-weight:normal;}
.slider_b1 .bd div ul li p span{ display:block; height:100px; line-height:20px; overflow:hidden; padding:0 10px; color:#FFF;}


.b2 .bhead strong{ background-position:right -49px;}
.b2 .bbody{ overflow:hidden;}
.b2 .bbody ol{ width:50%; float:left;}
.b2 .bbody ol li{ width:560px; height:70px; padding:10px 20px; background:url(../images/bg_workflow.png) no-repeat;}
.b2 .bbody ol li i{ display:block; width:155px; height:70px; line-height:50px; font-size:16px; font-style:normal; padding:0 0 0 20px; float:left;}
.b2 .bbody ol li strong{ display:block; width:385px; height:40px; line-height:40px; overflow:hidden; font-size:18px; font-weight:normal;}
.b2 .bbody ol li span{ display:block; width:385px; height:30px; line-height:30px; overflow:hidden; float:left;}
.b2 .bbody ol.b2_1 li{ background-position:20px 40px;}
.b2 .bbody ol.b2_2 li{ background-position:-580px 40px;}


.b3 .bhead strong{ background-position:right -98px;}
.coop{ width:1200px; margin:0 0 0 -40px; padding:0 40px 40px; background:#48c5e8;}
.coop dl{ padding:20px 0 0 20px;}
.coop dl dt{ height:50px; line-height:50px; font-size:24px; color:#FFF;}
.coop dl dt strong{ padding:0 20px 0 0; font-weight:normal;}
.coop dl dd{ margin:0 0 0 -15px; overflow:hidden;}
.coop dl dd ul li{ width:104px; height:104px; padding:15px; float:left;}
.coop dl dd ul li img{ width:100%; height:auto; border-radius:50%;}


.b4 .bhead strong{ background-position:right -147px;}
.b4 .bbody{ padding:20px; overflow:hidden;}
.map{ width:594px; height:439px; float:left;}
.traffic_txt{ width:550px; height:439px; float:right; background:#f6fbe5;}
.traffic_txt dl{ padding:30px; font-size:16px;}
.traffic_txt dl dt{ height:40px; line-height:40px; font-size:24px;}
.traffic_txt ul{ padding:10px 0; line-height:1.6em;}

.ticket{ height:390px; margin:20px 0 0;}
.ticket ul li{ width:600px; height:390px; float:left;}
.ticket ul li a{ display:block; height:390px; text-indent:-9999px;}
.ticket ul li.ticket_300{ background:url(../images/ticket_300.png) no-repeat;}
.ticket ul li.ticket_900{ background:url(../images/ticket_900.png) no-repeat;}

.statement{ height:66px; line-height:66px; padding:0 20px; font-size:16px;}

.footer{ width:1280px; margin:0 auto; background:#650274;}
.unit{ height:60px; line-height:60px; padding:10px 0 0; text-align:center; color:#FFF; font-size:16px;}
.wechat{ width:266px; margin:0 auto;}
.wechat span{ display:block; height:60px; line-height:50px; text-align:center; font-size:20px; color:#d2d00b;}
.logo_design{ width:108px; margin:0 auto; line-height:40px; color:#FFF; text-align:center;}
.logo_design a{ display:block; width:108px; height:42px; text-indent:-9999px; background:url(../images/logo_design.png) no-repeat;}