{template 'common/header'}
{php load()->func('tpl')}


<div class='container' style='padding:0 5px 10px;margin:0;width:100%'>
    <ul class="nav nav-tabs">
	  <li {if $_GPC['action'] == ''}class="active"{/if}>
        <a href="{php echo $this->createWebUrl('logistics', array('action' => ''));}">物流列表</a>
      </li>
      <li {if $_GPC['action'] == 'add'}class="active"{/if}>
        <a href="{php echo $this->createWebUrl('logistics', array('action' => 'add'));}">添加物流</a>
      </li>
      <li {if $_GPC['action'] == 'update'}class="active"{/if}>
	    <a>编辑物流</a>
      </li>
    </ul>

	{if $_GPC['action'] == 'add'}
    <form class="form-horizontal form" action="" method="post">       
        <div class="form-group" >
            <input type="hidden" name="sid" value="{$_W['uniacid']}">
            <div class="col-sm-9 col-xs-12">
			       <label for="name">物流名称：</label>
                   <input type="text" name="name" class="form-control" value="" placeholder="" /> 
				   <label for="area">区域：</label><br/>
                    <input type="checkbox" name="area[]" value="北京" placeholder="" />北京
					<input type="checkbox" name="area[]" value="河北" placeholder="" />河北
					<input type="checkbox" name="area[]" value="上海" placeholder="" />上海
					<input type="checkbox" name="area[]" value="内蒙古" placeholder="" />内蒙古
					<input type="checkbox" name="area[]" value="辽宁" placeholder="" />辽宁
					<input type="checkbox" name="area[]" value="吉林" placeholder="" />吉林
					<input type="checkbox" name="area[]" value="沈阳" placeholder="" />沈阳
					<input type="checkbox" name="area[]" value="河南" placeholder="" />河南
					<input type="checkbox" name="area[]" value="湖北" placeholder="" />湖北
					<input type="checkbox" name="area[]" value="山东" placeholder="" />山东
					<input type="checkbox" name="area[]" value="山西" placeholder="" />山西
					<input type="checkbox" name="area[]" value="陕西" placeholder="" />陕西
					<input type="checkbox" name="area[]" value="湖南" placeholder="" />湖南
					<input type="checkbox" name="area[]" value="江西" placeholder="" />江西
					<input type="checkbox" name="area[]" value="福建" placeholder="" />福建
					<input type="checkbox" name="area[]" value="安徽" placeholder="" />安徽
					<input type="checkbox" name="area[]" value="浙江" placeholder="" />浙江
                    <input type="checkbox" name="area[]" value="广东" placeholder="" />广东
					<input type="checkbox" name="area[]" value="广西" placeholder="" />广西
					<input type="checkbox" name="area[]" value="宁夏" placeholder="" />宁夏
					<input type="checkbox" name="area[]" value="重庆" placeholder="" />重庆
					<input type="checkbox" name="area[]" value="西藏" placeholder="" />西藏
					<input type="checkbox" name="area[]" value="云南" placeholder="" />云南
					<input type="checkbox" name="area[]" value="海南" placeholder="" />海南
					<input type="checkbox" name="area[]" value="甘肃" placeholder="" />甘肃
					<input type="checkbox" name="area[]" value="四川" placeholder="" />四川
					<input type="checkbox" name="area[]" value="天津" placeholder="" />天津
					<input type="checkbox" name="area[]" value="江苏" placeholder="" />江苏
					<input type="checkbox" name="area[]" value="青海" placeholder="" />青海
					<input type="checkbox" name="area[]" value="黑龙江" placeholder="" >黑龙江
					<input type="checkbox" name="area[]" value="新疆" placeholder="" />新疆
					<input type="checkbox" name="area[]" value="贵州" placeholder="" />贵州
					<input type="checkbox" name="area[]" value="香港" placeholder="" />香港
					<input type="checkbox" name="area[]" value="澳门" placeholder="" />澳门<br/>
				   <label for="stock">区域内价格：</label>
                    <input type="text" name="yesfee" class="form-control" value="" placeholder="" />
				   <label for="sales">区域外价格：</label>
				    <input type="text" name="nofee" class="form-control"  value="" placeholder=""/>
				   
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input name="token" type="hidden" value="{$_W['token']}"/>
                <button type="submit" class="btn btn-success col-sm-2" name="submit" value="提交">
                    <i class="fa fa-check-circle"></i> 提交
                </button>
            </div>
        </div>

    </form>
    {/if}

    
    {if $_GPC['action'] == 'update'}
    <form class="form-horizontal form" action="" method="post">
        <input type="hidden" name="sid" value="{$_W['uniacid']}" />
        <div class="form-group" >
            <div class="col-sm-9 col-xs-12">
                   <label for="name">物流名称：</label>
				   <input type="text" name="name" class="form-control" value="{$re['name']}" placeholder="" />
				   <label for="name">区域：</label><br/>
                   <input type="checkbox" name="area[]" value="北京" placeholder="" {if in_array("北京",explode('$',$re['area']))} checked {/if} />北京市
					<input type="checkbox" name="area[]" value="河北" placeholder="" {if in_array("河北",explode('$',$re['area']))}checked {/if}/>河北省
					<input type="checkbox" name="area[]" value="上海" placeholder="" {if in_array("上海",explode('$',$re['area']))}checked {/if}/>上海市
					<input type="checkbox" name="area[]" value="内蒙古" placeholder="" {if in_array("内蒙古",explode('$',$re['area']))}checked {/if}/>内蒙古自治区
					<input type="checkbox" name="area[]" value="辽宁" placeholder="" {if in_array("辽宁",explode('$',$re['area']))}checked {/if}/>辽宁省
					<input type="checkbox" name="area[]" value="吉林" placeholder="" {if in_array("吉林",explode('$',$re['area']))}checked {/if}/>吉林省
					<input type="checkbox" name="area[]" value="沈阳" placeholder="" {if in_array("沈阳",explode('$',$re['area']))}checked {/if}/>沈阳省
					<input type="checkbox" name="area[]" value="河南" placeholder="" {if in_array("河南",explode('$',$re['area']))}checked {/if}/>河南省
					<input type="checkbox" name="area[]" value="湖北" placeholder="" {if in_array("湖北",explode('$',$re['area']))}checked {/if}/>湖北省
					<input type="checkbox" name="area[]" value="山东" placeholder="" {if in_array("山东",explode('$',$re['area']))}checked {/if}/>山东省
					<input type="checkbox" name="area[]" value="山西" placeholder="" {if in_array("山西",explode('$',$re['area']))}checked {/if}/>山西省
					<input type="checkbox" name="area[]" value="陕西" placeholder="" {if in_array("陕西",explode('$',$re['area']))}checked {/if}/>陕西省
					<input type="checkbox" name="area[]" value="湖南" placeholder="" {if in_array("湖南",explode('$',$re['area']))}checked {/if}/>湖南省
					<input type="checkbox" name="area[]" value="江西" placeholder="" {if in_array("江西",explode('$',$re['area']))}checked {/if}/>江西省
					<input type="checkbox" name="area[]" value="福建" placeholder="" {if in_array("福建",explode('$',$re['area']))}checked {/if}/>福建省
					<input type="checkbox" name="area[]" value="安徽" placeholder="" {if in_array("安徽",explode('$',$re['area']))}checked {/if}/>安徽省
					<input type="checkbox" name="area[]" value="浙江" placeholder="" {if in_array("浙江",explode('$',$re['area']))}checked {/if}/>浙江省
                    <input type="checkbox" name="area[]" value="广东" placeholder="" {if in_array("广东",explode('$',$re['area']))}checked {/if}/>广东省
					<input type="checkbox" name="area[]" value="广西" placeholder="" {if in_array("广西",explode('$',$re['area']))}checked {/if}/>广西省
					<input type="checkbox" name="area[]" value="宁夏" placeholder="" {if in_array("宁夏",explode('$',$re['area']))}checked {/if}/>宁夏自治区
					<input type="checkbox" name="area[]" value="重庆" placeholder="" {if in_array("重庆",explode('$',$re['area']))}checked {/if}/>重庆市
					<input type="checkbox" name="area[]" value="西藏" placeholder="" {if in_array("西藏",explode('$',$re['area']))}checked {/if}/>西藏自治区
					<input type="checkbox" name="area[]" value="云南" placeholder="" {if in_array("云南",explode('$',$re['area']))}checked {/if}/>云南省
					<input type="checkbox" name="area[]" value="海南" placeholder="" {if in_array("海南",explode('$',$re['area']))}checked {/if}/>海南省
					<input type="checkbox" name="area[]" value="甘肃" placeholder="" {if in_array("甘肃",explode('$',$re['area']))}checked {/if}/>甘肃省
					<input type="checkbox" name="area[]" value="四川" placeholder="" {if in_array("四川",explode('$',$re['area']))}checked {/if}/>四川省
					<input type="checkbox" name="area[]" value="天津" placeholder="" {if in_array("天津",explode('$',$re['area']))}checked {/if}/>天津市
					<input type="checkbox" name="area[]" value="江苏" placeholder="" {if in_array("江苏",explode('$',$re['area']))}checked {/if}/>江苏省
					<input type="checkbox" name="area[]" value="青海" placeholder="" {if in_array("青海",explode('$',$re['area']))}checked {/if}/>青海省
					<input type="checkbox" name="area[]" value="黑龙江" placeholder="" {if in_array("黑龙江",explode('$',$re['area']))}checked {/if}/>黑龙江省
					<input type="checkbox" name="area[]" value="新疆" placeholder="" {if in_array("新疆",explode('$',$re['area']))}checked {/if}/>新疆自治区
					<input type="checkbox" name="area[]" value="贵州" placeholder="" {if in_array("贵州省",explode('$',$re['area']))}checked {/if}/>贵州省
					<input type="checkbox" name="area[]" value="香港" placeholder="" {if in_array("香港",explode('$',$re['area']))}checked {/if}/>香港特别行政区
					<input type="checkbox" name="area[]" value="澳门" placeholder="" {if in_array("澳门",explode('$',$re['area']))}checked {/if}/>澳门特别行政区<br/>
				   <label for="stock">区域内价格：</label>
                    <input type="text" name="yesfee" class="form-control" value="{$re['yesfee']}" placeholder="" />
				   <label for="sales">区域外价格：</label>
				    <input type="text" name="nofee" class="form-control"  value="{$re['nofee']}" placeholder=""/>

            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input name="token" type="hidden" value="{$_W['token']}"/>
                <button type="submit" class="btn btn-success col-sm-2" name="update" value="编辑">
                    <i class="fa fa-check-circle"></i> 提交修改
                </button>
            </div>
        </div>

    </form>
    {/if}


    {if $_GPC['action'] ==''}
    <table class="table table-hover">
        <thead class="navbar-inner">
        <tr>
            <th>ID</th>
            <th>物流名称</th>
			<th>区域</th>
			<th>区域内价格</th>
			<th>区域外价格</th>
			<th>操作</th>
        </tr>
        </thead>
        <tbody>
        {loop $records $res}
        <tr>
			<td>{$res['uid']}</td>
			<td>{$res['name']}</td>
			<td>{$res['area']}</td>
			<td>{$res['yesfee']}</td>
			<td>{$res['nofee']}</td>
            <td>			   
                <a class="btn btn-sm btn-danger" onclick="if (confirm('确定要删除吗？')) { location.href = '{php echo $this->createWebUrl('logistics',array('action'=>'delete', 'uid' => $res['uid']));}'; }">删除</a>
                <a class="btn btn-sm btn-warning" href="{php echo $this->createWebUrl('logistics',array('action'=>'update', 'uid' => $res['uid']));}">编辑</a>
            </td>
        </tr>
        {/loop}
        </tbody>
    </table>

	<div class="col-xs-12">
        {php echo $pager}
    </div>
    {/if}
    
</div>

{template 'common/footer'}