{template 'common/header'}
{php load()->func('tpl')}


<div class='container' style='padding:0 5px 10px;margin:0;width:100%'>
    <ul class="nav nav-tabs">
	  <li {if $_GPC['action'] == ''}class="active"{/if}>
        <a href="{php echo $this->createWebUrl('users', array('action' => ''));}">用户列表</a>
      </li>
      <li {if $_GPC['action'] == 'research'}class="active"{/if}>
	    <a>查看用户</a>
      </li>
    </ul>
    
    {if $_GPC['action'] ==''}
    <table class="table table-hover">
        <thead class="navbar-inner">
        <tr>
            <th>ID</th>
			<th>昵称</th>
			<th>头像</th>
			<th>手机</th>
			<th>注册时间</th>
            <th style=" width:200px" >操作</th>
        </tr>
        </thead>
        <tbody>
        {loop $records $res}
        <tr>
			<td>{$res['uid']}</td>
			<td>{$res['nickname']}</td>
			<td><img src="{$res['avatar']}" width="60" height="60" alt=""></td>
			<td>{$res['mobile']}</td>
			<td>{$res['create_at']}</td>
            <td>			   
                <a class="btn btn-sm btn-danger" onclick="if (confirm('确定要删除吗？')) { location.href = '{php echo $this->createWebUrl('users',array('action'=>'delete', 'uid' => $res['uid']));}'; }">删除</a>
            </td>
        </tr>
        {/loop}
        </tbody>
    </table>

	<div class="col-xs-12">
        {php echo $pager}
    </div>
    {/if}
    
</div>

{template 'common/footer'}