{template 'header'}
<div class="wraper">
<section class="investor_explain mod_main">
    <h3>{$pagetitle}</h3>
    <div class="explain_box">
        <div class="explain_m">
            <div class="blank5"></div>
            <form class="form-horizontal" enctype="multipart/form-data" action="{php echo $this->createMobileUrl('baogao',array('orderid'=>$id));}" method="post" role="form" onsubmit='return true' style="width:98%;margin:0 auto 0;">
                <input type="hidden" name="orderid0" value="{$id}">
                <input type="text" placeholder="请输入报告标题" value=""  name ="rtitle" class="textboxs sizing" />
                <textarea placeholder="请输入报告内容" name="content" class="sizing"></textarea>
                <input type="file" name ="baogao_pic" class="textboxs sizing" />
                <input class="ui-button theme_color" type="submit" name="submit"  value="提交" rel="ui-button">
                <input type="hidden" name="token" value="{$_W['token']}" />
            </form>
        </div>
    </div>
</section>
</div>
{template 'footerbar'}
{template 'footer'}
