{template 'header'}
<style>.c_green{color:#52C580}</style>
<div class="wraper"> 
<!-- 点击查看大图 开始 -->
<div class="outerdiv" id="outerdiv" onclick="close_magicZoom(this);">
    <div id="innerdiv" class="innerdiv">
    	<img id="bigimg" src="" />
    </div>
    <div class="blank"></div>
	<div class="closebigimg">点击任意位置关闭</div>
</div>
<!-- 点击查看大图 结束 -->

<!-- 中间 开始 -->
<div class="mod">
	<section class="deal_box">
		<!--1-->
    	<div class="imgboxdt">
		    <a class="" href="#" title="产品名称：{$item['title']}">
		    	<img src="{$_W['attachurl']}{$item['thumb']}" alt="" />	  				
			</a>
    	</div>
    	<a href="javascript:void(0);" title="{$item['title']}" class="deal_title sizing" style="text-align:left;">{$item['title']}</a>
    	<!--2-->
    	
    	<div class="blank5"></div>
     	<!--3-->
    	<div class="deal_content_box pd" style="border-bottom: 1px solid #e5e5e5;padding-bottom:20px;">
               
                <div class="blank">
                </div>
				{if $item['status']==3}
					{if time() <= $item['starttime']}
					<div class="div_dt" style="width:100%;border-right:0">
						<div class="f_999">离产品开始还有</div>
						<div class="left_time" data="{php echo $item['starttime'] - time()}">
							<em class="s day">--</em>
							<em class="l">天</em>
							<em class="s hour">--</em>
							<em class="l">时</em>
							<em class="s min">--</em>
							<em class="l">分</em>
							<em class="s sec">--</em>
							<em class="l">秒</em>
						</div>
					</div>
					{else}
					<div class="div_dt" style="    width: 49%;">
						<span class="num">价值：<span class="c_green">￥{$item['myprice']} </span></span><br />
						<span class="til">数量：<span class="c_green">{$item['cpnumber']}</span></span>
					</div>
					
					<div class="div_dt" style="border:none;width: 49%;">
						<span class="til">申请人数</span><br />
						<span class="num">{php echo $this->getprojectorder($item['id'])}</span>
					</div>
					<div class="clear"></div>
					<div class="div_dt" style="width:100%;border-right:0;border-top: 1px solid #e5e5e5;padding-top: 20px;">
						<span>距离申请结束：</span>
						<span class="left_time" data="{php echo $item['deal_days'] - time()}">
							<em class="s day c_green">--</em>
							<em class="l">天</em>
							<em class="s hour c_green">--</em>
							<em class="l">时</em>
							<em class="s min c_green">--</em>
							<em class="l">分</em>
							<em class="s sec c_green">--</em>
							<em class="l">秒</em>
						</span>
					</div>
					{/if}
				 {elseif $item['status'] == 4}
					<div class="div_dt" style="    width: 49%;">
						<span class="num">价值：<span class="c_green">￥{$item['myprice']} </span></span><br />
						<span class="til">数量：<span class="c_green">{$item['cpnumber']}</span></span>
					</div>
					
					<div class="div_dt" style="border:none;width: 49%;">
						<span class="til">申请人数</span><br />
						<span class="num">{php echo $this->getprojectorder($item['id'])}</span>
					</div>
				 {/if}
                <div class="blank"></div>
            </div>
	</section>
	<section class="detailmain" style="padding:0px;">
		<div style="height: 50px;line-height: 50px;border-bottom: 1px solid #e5e5e5;width: 100%;text-align:center; "><span>产品介绍</span></div>
		<div style="padding:15px;">
			{$item['content']}
		</div>
	</section>
			{if $item['status'] == 3}
			{if time() <= $item['starttime']}
                 <section class="detailborder">
				
    	<div class="blank"></div>
	</section>
                {else}
                <section class="detailborder foot">
			<div class="">
	    		<div class="webkit-box">
	    			<div class="Returntitle webkit-box-flex">
				       
				    </div>
					{if $item['direct']==1}
					<a href="javascript:check_m('{php echo $this->createMobileUrl('confirm',array('id'=>$item['id'], 'item_id'=>$row['id'],'op'=>'1'));}',{$item['status']});" class="ui-button ui-small-button theme_color" style="width:34%;border-radius: 0px;background:#FEBF00;">立即购买</a>
					{/if}
					<?php $mydetail = $this->getprojectdetail($item['id'])?>
					{if !empty($mydetail)}
						<a class="ui-button ui-small-button theme_color" style="width:34%;border-radius: 0px;background-color: #B1B1B1;">已申请</a>
					{else}	
					
						
							<a href="javascript:;" onclick="share();" class="ui-button ui-small-button theme_color" style="width:34%;border-radius: 0px;">免费申请</a>
						
					{/if}
	    		</div>
		    </div>			 	
    	<div class="blank"></div>
	</section>
                {/if}
		{elseif $item['status'] == 4}
			<section class="detailborder foot">
			<div class="">
	    		<div class="webkit-box">
	    			<div class="Returntitle webkit-box-flex">
				       
				    </div>
					
				    <a href="javascript:check_m('{php echo $this->createMobileUrl('list');}',{$item['status']});" class="ui-button ui-small-button theme_color" style="width:34%;border-radius: 0px;background-color: #B1B1B1;">活动结束</a>
											
	    		</div>
		    </div>			 	
    	<div class="blank"></div>
	</section>
		{/if}
	
</div>
<!-- 中间 结束 --> 
<script>
function share(){
	 $.ajax({
            type:"POST",
            url:"{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=ajaxshare&m=sen_appfreeitem",
            data:{},
            dataType: "json",
            success:function(msg){
				if(msg==1){
					cxshare();
				}else{
					location.href = "{php echo $this->createMobileUrl('confirm',array('id'=>$item['id'], 'item_id'=>$row['id'],'op'=>'0'));}";
				}
				
            }
        });
}

function cxshare(){
	$.ajax({
            type:"POST",
            url:"{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&id={$item['id']}&do=cxshare&m=sen_appfreeitem",
            data:{},
            dataType: "json",
            success:function(msg){
				if(msg['count']==1){
					location.href = "{php echo $this->createMobileUrl('confirm',array('id'=>$item['id'], 'item_id'=>$row['id'],'op'=>'0'));}";
				}else{
					alert(msg['content']);
				}
				
            }
        });
}		
$(document).ready(function(){
 	bind_attention_focus();
});

function bind_attention_focus(){
	$(".attention_focus_deal").bind("click",function(){
		attention_focus_deal($(this).attr("id"));
	});
}
function attention_focus_deal(id){
	var ajaxurl = "{php echo $this->createMobileUrl('mycart',array('op'=>'add'))}&pid="+id;
	$.ajax({ 
		url: ajaxurl,
		dataType: "json",
		type: "POST",
		success: function(ajaxobj){
			if(ajaxobj.status==1){
				$(".attention_focus_deal").removeClass("gz");
				$(".attention_focus_deal").addClass("qxgz");
				$(".attention_focus_deal").html('<font size="2.5"><i class="fa fa-star "></i></font> 取消关注');
			}else if(ajaxobj.status==2)	{
				$(".attention_focus_deal").removeClass("qxgz");
				$(".attention_focus_deal").addClass("gz");	
				$(".attention_focus_deal").html('<font size="2.5"><i class="fa fa-star-o "></i></font> 关注');
			}else if(ajaxobj.status==3)	{
				$.showErr(ajaxobj.info);							
			}else{
				$.showErr("请先登录",function(){
			 		location.href="{php echo url('auth/login');}";
				});
			}
		},
		error:function(ajaxobj)
		{
	//			if(ajaxobj.responseText!='')
	//			alert(ajaxobj.responseText);
		}
	});
}

	

	function bind_ajax_form_dedicate(str)
	{
		$(str).find(".ui-button").bind("click",function(){
			var $obj=$(this);
			var $dedicate_form=$obj.parent(str);
			var $dedicate_dedicate_money=$dedicate_form.find("input[name='pay_money']");
			$dedicate_form.find(".dedicate_tip").hide();
			if((isNaN($dedicate_dedicate_money.val()) || parseFloat($dedicate_dedicate_money.val())<=0) || $dedicate_dedicate_money.val()==''){
				$dedicate_form.find(".dedicate_tip").show();
				$dedicate_dedicate_money.focus();
				return false;
			}
			$(str).submit();
		});
	}

	// 显隐详情
	$("#detailmain_a").bind('click',function(){
		if($("#deal_info_box").is(":hidden")){
			$("#deal_info_box").show();
			$(this).find("#view_details").text("收起详情");
			$(this).find(".fa").removeClass("fa-angle-right").addClass("fa-angle-down");
		}else{
			$("#deal_info_box").hide();
			$(this).find("#view_details").text("展开详情");
			$(this).find(".fa").removeClass("fa-angle-down").addClass("fa-angle-right");
		}
	});
	$("#detailmain_aa").bind('click',function(){
		$("#deal_info_box").hide();
		$("#view_details").text("展开详情");
	});
</script>
<script type="text/javascript">
    if($(".left_time").length){
        leftTimeAct(".left_time");
    }
    // 未开始产品倒计时
    function leftTimeAct(left_time){
        var leftTimeActInv = null;
        clearTimeout(leftTimeActInv);
        $(left_time).each(function(){
            var leftTime = parseInt($(this).attr("data"));
            if(leftTime > 0)
            {
                var day  =  parseInt(leftTime / 24 /3600);
                var hour = parseInt((leftTime % (24 *3600)) / 3600);
                var min = parseInt((leftTime % 3600) / 60);
                var sec = parseInt((leftTime % 3600) % 60);
                $(this).find(".day").html((day<10?"0"+day:day));
                $(this).find(".hour").html((hour<10?"0"+hour:hour));
                $(this).find(".min").html((min<10?"0"+min:min));
                $(this).find(".sec").html((sec<10?"0"+sec:sec));
                leftTime = leftTime-1;
                $(this).attr("data",leftTime);
            }
            else{
                $(this).parent(".div_dt").hide();
                $(this).parent().next().show();
                return false;
            }
        });
        leftTimeActInv = setTimeout(function(){
            leftTimeAct(left_time);
        },1000);
    }
	
</script>
</div>

{template 'footer'}