@CHARSET "UTF-8";
.section_text {
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  font-weight: normal;
  white-space: pre-wrap;
  text-align: center;
}
.gg_container{
  display: none;
}

    .chuchuang_bg {
      position: fixed;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      z-index: -1;
      background: url(../img/top.png) repeat;
      background-size: 100% auto; 

    }
    .m20_xf_container{
      position: relative;
      width: 96%;
      left: 2%;
      height: 8.5rem;
      
    }
    .m20_xf_bottom{
      width: 100%;
      position: absolute;
      top: -30%;

    }
 @-webkit-keyframes xfBottomDown {
    0%   {top:-30%;}
  100% {top:0px;}
} 
    .m20_xf_bottom img{
      position: absolute;
      width: 100%;
      top: -4.5rem;
    }
    .m20_clear1{
        width:100%;
        height:1rem;
    }
    .m20_xf_top{
      position: absolute;
      width:100%;
      top:0px;
      z-index:3;
    }
    .m20_xf_top img{
      width:100%;
    }
    .m20_xf_open{
      position: absolute;
      bottom: 0.4rem;
      z-index:4;
    }
    .m20_xf_open img{
      width:100%;
    }
    /**
     * 遮罩z-index:2;
     */
    
    .m20_content{
      position: absolute;
      width: 86%;
      margin: 0 auto;
      z-index: 1;
      background: url(../img/7.png) repeat;
      background-size: 100% auto;
      margin-left: 7%;
      bottom:75%;
      
    }

.m20_top_box{
  width: 80%;
  height: 10rem;
  margin: 0 auto;
  background: url(../img/12.png) no-repeat;
  background-size: 100% auto;
  padding: 2.2rem 1rem 0rem 1rem;
}
.m20_top_box img{
  width:100%;
  height:100%;
  border-radius: 50%;
}
.m20_top_line{
  width:50%;
  margin:0 auto;
}
.m20_top_line img{
  width:100%;
}
.m20_pic_box{
  position: relative;
}
.m20_pic_box img{
  width:100%;
  display:block;
  position: relative;
}
.picItem{
  width:70%;
  /* border:0.5rem solid #FFFFFF; */
  margin: 1rem auto;
  position:relative;
  border-left:0.3rem solid #FFFFFF;
  border-right:0.3rem solid #FFFFFF;
  border-top:0.5rem solid #FFFFFF;
  border-bottom:1.3rem solid #FFFFFF;
}
.bg_gun{
  position: relative;
  width: 66%;
  left: 12%;
  top: 2rem;
}
.bg_gun img{
  width:100%;
}
.top_jiazi{
    position: absolute;
  width: 20%;
  left: 18%;
  top: -2.3rem;
  z-index: 2;
}
.top_jiazi img{
  width:100%;
}
.m20_wz_content{
    width:70%;
    margin: 0rem auto 0;
    position:relative;
    color:#000000;
    font-family: STHeiTi, sans-serif;
}
.bg_wz{
  position: absolute;
  width: 90%;
  top: 3.9rem;
  left: 5%;
  z-index: -1;
}
.bg_p_wz{
    position: absolute;
  width: 90%;
  top: 8rem;
  left: 5%;
  z-index: -1;
}
.m20_clear2{
    width:100%;
    height:2.5rem;
}
.m20_loveyou{
  text-align: right;
  height: 1rem;
  padding-right: 10%;
  margin-top: 1rem;
}
.m20_loveyou img{
   height:100%;
}
.m20_bi{
  position: absolute;
    width: 20%;
  margin-left: 80%;
  display: block;
  margin-top: 0.5rem;
}
.m20_title_box1{
  float: left;
  width: 60%;
  display: block;
  font-size: 0.7rem;
  padding-left: 10%;

}
.m20_title_box2{
  float: left;
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
}
.m20_title{
  text-align: center;
  line-height: 1.2rem;
}
.m20_yd_sj{

}
span{
   /*  float: left; */
    color: #8c8c8c;
    margin-right: 8px;
}
span .chuchuang_name{
    text-decoration: none;
    color:#607fa6;
}
.music {
    width: 30px;
    height: 30px;
      cursor: pointer;
  position: absolute;
  right: 0px;
  top: 5px;
  }
.music i {
    float: left;
    width: 30px;
    height: 30px; }
.music i[play=on] {
    background: url("../img/music.png") no-repeat;
    background-size:100% 100%; 
  }
.music i[play=stop] {
    background: url("../img/music.png") no-repeat; 
    background-size:100% 100%; 
  }



.musicAnima{
  -webkit-animation: reverseRotataZ 1.2s linear infinite;
}
@-webkit-keyframes reverseRotataZ{
  0%{
    -webkit-transform: rotateZ(0deg);
  }
  100%{
    -webkit-transform: rotateZ(-360deg);
  }
}
.chuchuang_container{
  position: relative;
  width:100%;
}
.top_mask{
  position: absolute;
  z-index:2;
  width:100%;
}
.botttom{
  position: relative;
  display: none;
}
.delar{
    position: absolute;
  width: 15%;
  top: 11rem;
  left: 0.7rem;
}