{template 'common/header'}

<link rel="stylesheet" type="text/css" href="{HLMMS_MOBILE_CSS}mui.indexedlist.css" />
<script src="{HLMMS_MOBILE_JS}mui.indexedlist.js"></script>
<style>
    html,
    body {
        height: 100%;
        overflow: hidden;
    }
    .mui-bar {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
</style>
</head>

<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">店铺列表</h1>
</header>
<div class="mui-content">
    <div id='list' class="mui-indexed-list">
        <div class="mui-indexed-list-search mui-input-row mui-search">
            <input type="search" class="mui-input-clear mui-indexed-list-search-input" placeholder="搜索店铺">
        </div>
        <div class="mui-indexed-list-bar">

            {if !empty($ArrayA)}  <a>A</a>{/if}
            {if !empty($ArrayB)}  <a>B</a>{/if}
            {if !empty($ArrayC)}  <a>C</a>{/if}
            {if !empty($ArrayD)}  <a>D</a>{/if}
            {if !empty($ArrayE)}  <a>E</a>{/if}
            {if !empty($ArrayF)}  <a>F</a>{/if}
            {if !empty($ArrayG)}  <a>G</a>{/if}
            {if !empty($ArrayH)}  <a>H</a>{/if}
            {if !empty($ArrayJ)}  <a>J</a>{/if}
            {if !empty($ArrayK)}  <a>K</a>{/if}
            {if !empty($ArrayL)}  <a>L</a>{/if}
            {if !empty($ArrayM)}  <a>M</a>{/if}
            {if !empty($ArrayN)}  <a>N</a>{/if}
            {if !empty($ArrayO)}  <a>O</a>{/if}
            {if !empty($ArrayP)}  <a>P</a>{/if}
            {if !empty($ArrayQ)}  <a>Q</a>{/if}
            {if !empty($ArrayR)}  <a>R</a>{/if}
            {if !empty($ArrayS)}  <a>S</a>{/if}
            {if !empty($ArrayT)}  <a>T</a>{/if}
            {if !empty($ArrayW)}  <a>W</a>{/if}
            {if !empty($ArrayX)}  <a>X</a>{/if}
            {if !empty($ArrayY)}  <a>Y</a>{/if}
            {if !empty($ArrayZ)}  <a>Z</a>{/if}
            {if !empty($ArrayOther)}  <a>#</a>{/if}
        </div>
        <div class="mui-indexed-list-alert"></div>
        <div class="mui-indexed-list-inner">
            <div class="mui-indexed-list-empty-alert">没有数据</div>
            <ul class="mui-table-view">
                {if !empty($ArrayA)}

                <li data-group="A"  class="mui-table-view-divider mui-indexed-list-group">A</li>

                {loop $ArrayA $ArrayAkey $ArrayAvalue}
                <li data-value="{$ArrayAvalue}"  data-tags="{$ArrayAvalue}"  onclick="openindex({$ArrayAvalue});"  class="mui-table-view-cell mui-indexed-list-item">{php echo util::getSetStoreName($ArrayAvalue);}</li>
                {/loop}

                {/if}

                {if !empty($ArrayB)}
                <li data-group="B" class="mui-table-view-divider mui-indexed-list-group">B</li>
                {loop $ArrayB $ArrayBkey $ArrayBvalue}
                <li data-value="{$ArrayBvalue}" data-tags="{$ArrayBvalue}"  onclick="openindex({$ArrayBvalue});"  class="mui-table-view-cell mui-indexed-list-item">{php echo util::getSetStoreName($ArrayBvalue);}</li>
                {/loop}
                {/if}



                {if !empty($ArrayC)}
                <li data-group="C" class="mui-table-view-divider mui-indexed-list-group">C</li>
                {loop $ArrayC  $ArrayCkey $ArrayCvalue}
                <li data-value="{$ArrayCvalue}" data-tags="{$ArrayCvalue}" onclick="openindex({$ArrayCvalue});" class="mui-table-view-cell mui-indexed-list-item">{php echo util::getSetStoreName($ArrayCvalue);}</li>
                {/loop}
                {/if}



                {if !empty($ArrayD)}
                <li data-group="D" class="mui-table-view-divider mui-indexed-list-group">D</li>
                {loop $ArrayD  $ArrayDkey $ArrayDvalue}
                <li data-value="{$ArrayDvalue}" data-tags="{$ArrayDvalue}"  onclick="openindex({$ArrayDvalue});" class="mui-table-view-cell mui-indexed-list-item">{php echo util::getSetStoreName($ArrayDvalue);}</li>
                {/loop}
                {/if}



                {if !empty($ArrayE)}
                <li data-group="E" class="mui-table-view-divider mui-indexed-list-group">E</li>
                {loop $ArrayE  $ArrayEkey $ArrayEvalue}
                <li data-value="{$ArrayEvalue}" data-tags="{$ArrayEvalue}"  onclick="openindex({$ArrayEvalue});"  class="mui-table-view-cell mui-indexed-list-item">{php echo util::getSetStoreName($ArrayEvalue);}</li>
                {/loop}
                {/if}

                {if !empty($ArrayF)}
                <li data-group="E" class="mui-table-view-divider mui-indexed-list-group">F</li>
                {loop  $ArrayF  $ArrayFkey  $ArrayFvalue}
                <li data-value="{$ArrayFvalue}" data-tags="{$ArrayFvalue}"  onclick="openindex({$ArrayFvalue});"  class="mui-table-view-cell mui-indexed-list-item">{php echo util::getSetStoreName($ArrayFvalue);}</li>
                {/loop}
                {/if}




                {if !empty($ArrayG)}
                <li data-group="G" class="mui-table-view-divider mui-indexed-list-group">G</li>
                {loop $ArrayG  $ArrayGkey $ArrayGvalue}
                <li data-value="{$ArrayGvalue}" data-tags="{$ArrayGvalue}"  onclick="openindex({$ArrayGvalue});"  class="mui-table-view-cell mui-indexed-list-item">{php echo util::getSetStoreName($ArrayGvalue);}</li>
                {/loop}
                {/if}



                {if !empty($ArrayH)}
                <li data-group="H" class="mui-table-view-divider mui-indexed-list-group">H</li>
                {loop $ArrayH  $ArrayHkey  $ArrayHvalue}
                <li data-value="{$ArrayHvalue}" data-tags="{$ArrayHvalue}"  onclick="openindex({$ArrayHvalue});"  class="mui-table-view-cell mui-indexed-list-item">{php echo util::getSetStoreName($ArrayHvalue);}</li>
                {/loop}
                {/if}

                {if !empty($ArrayJ)}
                <li data-group="J" class="mui-table-view-divider mui-indexed-list-group">J</li>
                {loop $ArrayJ  $ArrayJkey  $ArrayJvalue}
                <li data-value="{$ArrayJvalue}" data-tags="{$ArrayJvalue}"  onclick="openindex({$ArrayJvalue});" class="mui-table-view-cell mui-indexed-list-item">{php echo util::getSetStoreName($ArrayJvalue);}</li>
                {/loop}
                {/if}


                {if !empty($ArrayK)}
                <li data-group="K" class="mui-table-view-divider mui-indexed-list-group">K</li>
                {loop $ArrayK  $ArrayKkey  $ArrayKvalue}
                <li data-value="{$ArrayKvalue}" data-tags="{$ArrayKvalue}"  onclick="openindex({$ArrayKvalue});" class="mui-table-view-cell mui-indexed-list-item">{php echo util::getSetStoreName($ArrayKvalue);}</li>
                {/loop}
                {/if}


                {if !empty($ArrayL)}
                <li data-group="L" class="mui-table-view-divider mui-indexed-list-group">L</li>
                {loop $ArrayL  $ArrayLkey  $ArrayLvalue}
                <li data-value="{$ArrayLvalue}" data-tags="{$ArrayLvalue}" onclick="openindex({$ArrayLvalue});" class="mui-table-view-cell mui-indexed-list-item">{php echo util::getSetStoreName($ArrayLvalue);}</li>
                {/loop}
                {/if}


                {if !empty($ArrayM)}
                <li data-group="M" class="mui-table-view-divider mui-indexed-list-group">M</li>
                {loop  $ArrayM  $ArrayMkey  $ArrayMvalue}
                <li data-value="{$ArrayMvalue}" data-tags="{$ArrayMvalue}" onclick="openindex({$ArrayMvalue});"  class="mui-table-view-cell mui-indexed-list-item">{php echo util::getSetStoreName($ArrayMvalue);}</li>
                {/loop}
                {/if}


                {if !empty($ArrayN)}
                <li data-group="N" class="mui-table-view-divider mui-indexed-list-group">N</li>
                {loop  $ArrayN  $ArrayNkey  $ArrayNvalue}
                <li data-value="{$ArrayNvalue}" data-tags="{$ArrayNvalue}" onclick="openindex({$ArrayNvalue});"  class="mui-table-view-cell mui-indexed-list-item">{php echo util::getSetStoreName($ArrayNvalue);}</li>
                {/loop}
                {/if}

                {if !empty($ArrayO)}
                <li data-group="N" class="mui-table-view-divider mui-indexed-list-group">O</li>
                {loop  $ArrayO  $ArrayOkey  $ArrayOvalue}
                <li data-value="{$ArrayOvalue}" data-tags="{$ArrayOvalue}" onclick="openindex({$ArrayOvalue});"  class="mui-table-view-cell mui-indexed-list-item">{php echo util::getSetStoreName($ArrayOvalue);}</li>
                {/loop}
                {/if}


                {if !empty($ArrayP)}
                <li data-group="P" class="mui-table-view-divider mui-indexed-list-group">P</li>
                {loop $ArrayP  $ArrayPkey  $ArrayPvalue}
                <li data-value="{$ArrayPvalue}" data-tags="{$ArrayPvalue}" onclick="openindex({$ArrayPvalue});"  class="mui-table-view-cell mui-indexed-list-item">{php echo util::getSetStoreName($ArrayPvalue);}</li>
                {/loop}
                {/if}


                {if !empty($ArrayS)}
                <li data-group="S" class="mui-table-view-divider mui-indexed-list-group">S</li>
                {loop $ArrayS  $ArraySkey   $ArraySvalue}
                <li data-value="{$ArraySvalue}" data-tags="{$ArraySvalue}" onclick="openindex({$ArraySvalue});"  class="mui-table-view-cell mui-indexed-list-item">{php echo util::getSetStoreName($ArraySvalue);}</li>
                {/loop}
                {/if}


                {if !empty($ArrayT)}
                <li data-group="T" class="mui-table-view-divider mui-indexed-list-group">T</li>
                {loop $ArrayT  $ArrayTkey   $ArrayTvalue}
                <li data-value="{$ArrayTvalue}" data-tags="{$ArrayTvalue}"  onclick="openindex({$ArrayTvalue});"  class="mui-table-view-cell mui-indexed-list-item">{php echo util::getSetStoreName($ArrayTvalue);}</li>
                {/loop}
                {/if}


                {if !empty($ArrayW)}
                <li data-group="W" class="mui-table-view-divider mui-indexed-list-group">W</li>
                {loop $ArrayW  $ArrayWkey   $ArrayWvalue}
                <li data-value="{$ArrayWvalue}" data-tags="{$ArrayWvalue}"onclick="openindex({$ArrayWvalue});"   class="mui-table-view-cell mui-indexed-list-item">{php echo util::getSetStoreName($ArrayWvalue);}</li>
                {/loop}

                {/if}


                {if !empty($ArrayX)}
                <li data-group="X" class="mui-table-view-divider mui-indexed-list-group">X</li>
                {loop $ArrayX  $ArrayXkey   $ArrayXvalue}
                <li data-value="{$ArrayXvalue}" data-tags="{$ArrayXvalue}"  onclick="openindex({$ArrayXvalue});"  class="mui-table-view-cell mui-indexed-list-item">{php echo util::getSetStoreName($ArrayXvalue);}</li>
                {/loop}

                {/if}

                {if !empty($ArrayY)}
                <li data-group="Y" class="mui-table-view-divider mui-indexed-list-group">Y</li>
                {loop $ArrayY  $ArrayYkey   $ArrayYvalue}
                <li data-value="{$ArrayYvalue}" data-tags="{$ArrayYvalue}" onclick="openindex({$ArrayYvalue});"   class="mui-table-view-cell mui-indexed-list-item">{php echo util::getSetStoreName($ArrayYvalue);}</li>

                {/loop}
                {/if}

                {if !empty($ArrayZ)}
                <li data-group="Z" class="mui-table-view-divider mui-indexed-list-group">Z</li>
                {loop $ArrayZ  $ArrayZkey   $ArrayZvalue}
                <li data-value="{$ArrayZvalue}" data-tags="{$ArrayZvalue}"  onclick="openindex({$ArrayZvalue});"  class="mui-table-view-cell mui-indexed-list-item">{php echo util::getSetStoreName($ArrayZvalue);}</li>
                {/loop}
                {/if}


                {if !empty($ArrayOther)}
                <li data-group="Z" class="mui-table-view-divider mui-indexed-list-group">#</li>
                {loop $ArrayOther  $ArrayOtherkey   $ArrayOthervalue}
                <li data-value="{$ArrayOthervalue}" data-tags="{$ArrayOthervalue}" onclick="openindex({$ArrayOthervalue});"  class="mui-table-view-cell mui-indexed-list-item">{php echo util::getSetStoreName($ArrayOthervalue);}</li>
                {/loop}
                {/if}


            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    mui.init();
    mui.ready(function() {
        var header = document.querySelector('header.mui-bar');
        var list = document.getElementById('list');
        //calc hieght
        list.style.height = (document.body.offsetHeight - header.offsetHeight) + 'px';
        //create
        window.indexedList = new mui.IndexedList(list);
    });

    function openindex(storeid) {
        var storeid = storeid;

        mui.openWindow({
            url: "{php echo $this->createMobileUrl('WechatIndex')}&storeid="+storeid,
            preload: true,
            show: {
                aniShow: 'pop-in'
            },
            styles: {
                popGesture: 'hide'
            },
            waiting: {
                autoShow: false
            }
        });



    }
</script>
</body>

</html>