<!DOCTYPE html>

<html>

<head>

  {template 'web/header'}

<script type="text/javascript" src="../addons/hy_supstore/template/web/js/jquery.qrcode.min.js"></script>

<script>

function  createcode($ermurl){

	$('#ermurl').qrcode({

		render: "canvas", 

		width: 100,

		height: 100, 

		text	: $ermurl

	});

}

</script>

</head>

<body class="layui-layout-body">

    <!-- 内容主体区域 -->

    <div class="layui-elem-quote lineh38 fontsize16">

      <a href="{php echo $this->createWebUrl('cover')}">入口设置</a>

    </div>

<fieldset class="layui-elem-field">

  <legend>会员入口</legend>

  <div class="layui-field-box">

    <form action="" method="post" id="form1" class="layui-form layui-form-pane" enctype="multipart/form-data"> 

        <div class="layui-form-item"> 

            <label class="layui-form-label">直接URL</label>

            <div class="layui-input-inline"  style="width:500px;">

                <input type="text" class="layui-input" readonly="readonly" name="url_show" value="{$entry['url_show']}">

            </div>

        </div>

        <div class="layui-form-item"> 

            <label class="layui-form-label" style="height:120px;" >二维码</label>

            <div class="layui-input-inline"  style="width:500px;">

                <p id="ermurl" class="layui-input" style="height:120px; padding-top:10px;"  ><script>createcode("{$entry['url_show']}");</script></p>

            </div>

        </div>

    </form>

  </div>

</fieldset>

</body>

</html>