.layui-layout-admin .layui-body{
	top: 0px !important;
}
.layui-layout-admin .layui-side{
	top: 0px !important;
	width: 150px !important;
}
.layui-body{
	left:150px !important;
}
.logo-mid{
	width: 70px;height: 70px;border-radius: 70px;
}
.shop-info{
	width: 100%;text-align: center;
}
.shop-info .logo-mid{
	margin:20px auto;
}
.nav-ball{
	padding: 15px 20px;
	text-align: center;
	cursor:pointer;}
.nav-ball .nav-ball-div{
	display: inline-block;
	height: 20px;} 
.nav-son{
	display:none;
	padding: 10px 20px;
	text-align: right;
	background-color: #505564;
	color:#FFF; }
.nav-icon{
	width: 18px;
	height:18px;
	display: inline-block;
	margin-right: 5px;
	-top: -3px;}
.link{text-decoration: none;}
.link:hover{
	text-decoration: none;
}
.link:visited{
	text-decoration: none;
}
.link:active{
	text-decoration: none;
}
.layui-side .link{
	color:#F3F3F3;
}

 
