{template 'common/header'}
<div class="wrap">
	<ul class="nav nav-tabs">			
		<li class="active"><a href="#">增加会员</a></li>		
		<li><a href="{php echo $this->createWebUrl('listallplayers', array());}">会员列表</a></li>
	</ul>
	<div class="panel panel-default">
	  	<div class="panel-heading">
	    	<h3 class="panel-title">编辑会员</h3>
	  	</div>
	  	<div class="panel-body">
			<form class="form-horizontal" action="" method="POST">				
				<div class="form-group">
	              	<label class="col-sm-2 control-label" for="addname">会员名字</label>
	              	<div class="col-sm-10">
	              		<input name="name" type="text" id="addname" value="{$players['name']}" class="form-control" placeholder="必填项">
	              	</div>
	            </div>
	            <div class="form-group">
	              	<label class="col-sm-2 control-label" for="addphone">电话</label>
	              	<div class="col-sm-10">
	              		<input name="phone" type="text" id="addphone" value="{$players['phone']}" class="form-control" placeholder="必填项">
	              	</div>
	            </div>

	            <div class="form-group">      
			        <label for="groupname" class="col-sm-2 control-label">群组</label>   
			        <div class="col-sm-10"> 
			        	<input name ="groupnametmp" id="groupnametmp" type="hidden" value="{$players['groupname']}">    
			          	<select name="groupname" id="groupname" class="form-control">       
			          	</select>
			        </div>             
			    </div> 

	            <div class="form-group">
	              	<label class="col-sm-2 control-label" for="addemail">邮箱</label>
	              	<div class="col-sm-10">
	              		<input name="email" type="text" id="addemail" value="{$players['email']}" class="form-control" placeholder="必填项">
	              	</div>
	            </div>
	            <div class="form-group">
	              	<label class="col-sm-2 control-label" for="addclothesno">球衣号码</label>
	              	<div class="col-sm-10">
	              		<input name="clothesno" type="text" id="addclothesno" value="{$players['clothesno']}" class="form-control" placeholder="选填项">
	              	</div>
	            </div>
	            <div class="form-group">
	              	<label class="col-sm-2 control-label" for="addclothesnum">球衣套数</label>
	              	<div class="col-sm-10">
	              		<input name="clothesnum" type="text" id="addclothesnum" value="{$players['clothesnum']}" class="form-control" placeholder="1">
	              	</div>
	            </div>
	            <div class="form-group">
	              	<label class="col-sm-2 control-label" for="addposition">场上位置</label>
	              	<div class="col-sm-10">
	              		<input name="position" type="text" id="addposition" value="{$players['position']}" class="form-control" placeholder="选填项">
	              	</div>
	            </div>
	            
	            <div class="form-group">
	              	<label class="col-sm-2 control-label" for="addintime">入队时间</label>
	              	<div class="col-sm-10">
	              		<!-- <input name="intime" type="text" id="addintime" class="form-control" placeholder="选填项"> -->
	              		{php echo tpl_form_field_date('intime',$players['intime']);}
	              	</div>
	            </div>
	            <div class="form-group">
	              	<label class="col-sm-2 control-label" for="addbirthday">出生日期</label>
	              	<div class="col-sm-10">
	              		<!-- <input name="birthday" type="text" id="addbirthday" class="form-control" placeholder="选填项"> -->
	              		{php echo tpl_form_field_date('birthday',$players['birthday']);}
	              	</div>
	            </div>
	            <div class="form-group">
	              	<label class="col-sm-2 control-label" for="addheight">身高</label>
	              	<div class="col-sm-10">
	              		<input name="height" type="text" id="addheight" value="{$players['height']}" class="form-control" placeholder="选填项">
	              	</div>
	            </div>
	            <div class="form-group">
	              	<label class="col-sm-2 control-label" for="addweight">体重</label>
	              	<div class="col-sm-10">
	              		<input name="weight" type="text" id="addweight" value="{$players['weight']}" class="form-control" placeholder="选填项">
	              	</div>
	            </div>
	            <div class="form-group">
	              	<label class="col-sm-2 control-label" for="addlevel">选择会员等级</label>
	              	<div class="col-sm-10">
		              	<select name="level" id="addlevel" class="form-control">
			                <option {if $players['level'] == '技术好出勤率高'} selected="selected" {/if}>技术好出勤率高</option>
			                <option {if $players['level'] == '技术好出勤率低'} selected="selected" {/if}>技术好出勤率低</option>
			                <option {if $players['level'] == '技术差出勤率高'} selected="selected" {/if}>技术差出勤率高</option>
			                <option {if $players['level'] == '技术差出勤率低'} selected="selected" {/if}>技术差出勤率低</option>
		              	</select>
		            </div>
	            </div>
	            <div class="form-group">
	              	<label class="col-sm-2 control-label" for="addidcard">身份证号</label>
	              	<div class="col-sm-10">
	              		<input name="idcard" type="text" id="addidcard" value="{$players['idcard']}" class="form-control" placeholder="选填项">
	              	</div>
	            </div>
	            <div class="form-group">
	              	<label class="col-sm-2 control-label" for="addaddress">居住区域</label>
	              	<div class="col-sm-10">
	              		<input name="address" type="text" id="addaddress" value="{$players['address']}" class="form-control" placeholder="选填项">
	              	</div>
	            </div>
	            
	            <div class="form-group">
	              	<label class="col-sm-2 control-label" for="addweixin">微信</label>
	              	<div class="col-sm-10">
	              		<input name="weixin" type="text" id="addweixin" value="{$players['weixin']}" class="form-control" placeholder="选填项">
	              	</div>
	            </div>
	            <div class="form-group">
	              	<label class="col-sm-2 control-label" for="addqq">qq</label>
	              	<div class="col-sm-10">
	              		<input name="qq" type="text" id="addqq" value="{$players['qq']}" class="form-control" placeholder="选填项">
	              	</div>
	            </div>
	            <div class="form-group">
	              	<label class="col-sm-2 control-label" for="addaccount">账户余额</label>
	              	<div class="col-sm-10">
	              		<input name="account" type="text" id="addaccount" value="{$players['account']}" class="form-control" placeholder="0">
	              	</div>
	            </div>
	            <div class="form-group">
	              	<label class="col-sm-2 control-label" for="addcar">是否有车</label>
	              	<div class="col-sm-10">
		              	<select name="car" id="addcar" class="form-control">
		                	<option {if $players['car'] == '有'} selected="selected" {/if}>有</option>
		                	<option {if $players['car'] == '无'} selected="selected" {/if}>无</option>                
		              	</select>	    
	              	</div>          
	            </div>
	            <div class="form-group">
	              	<label class="col-sm-2 control-label" for="addopenid">openid</label>
	              	<div class="col-sm-10">
	              		<input name="openid" type="text" id="addopenid" value="{$players['openid']}" class="form-control" placeholder="选填项">
	              	</div>
	            </div>
	            <div class="form-group">
	              	<label class="col-sm-2 control-label" for="addnickname">nickname</label>
	              	<div class="col-sm-10">
	              		<input name="nickname" type="text" id="addnickname" value="{$players['nickname']}" class="form-control" placeholder="选填项">
	              	</div>
	            </div>		
				
				<div class="form-group">
			    	<div class="col-sm-offset-2 col-sm-10">
						<!-- <button type="submit" class="btn btn-primary js-ajax-submit">{:L('ADD')}</button> -->
						<input type="submit" name="submit" class="btn btn-primary" value="提交">
						<input type="hidden" name="token" value="{$_W['token']}">
						<input type="hidden" name="id" value="{$players['id']}">
						<!-- <a class="btn" href="{:U('Playersadmin/list_all')}">{:L('BACK')}</a> -->
					</div>
				</div>
			</form>
	   	</div>
	</div>
</div>

<script type="text/javascript">    

  $(document).ready(function(){
    var url = "{php echo $this->createWebUrl('getcategory')}";
    var groupname=document.getElementById("groupnametmp").value;
    console.log(groupname);
    
    var output = [];
    $.ajax({
      url:url,
      type:'get',
      
      dataType:'json',
      async:false,
      success:function(data){
        //console.log(data);
        for(var i in data){
        	if(groupname == data[i]['groupname']) {
        		output.push('<option selected="selected">'+ data[i]['groupname'] +'</option>');
        	}else{
          		output.push('<option>'+ data[i]['groupname'] +'</option>');
          	}
        }
        $('#groupname').html(output.join(''));

      },
      error: function (msg) {  
          alert("出错了！");  
      }
    });
  });
</script>
{template 'common/footer'}