<!DOCTYPE html>
<html>
<head>
	<meta charset="gbk"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<title>信息提交--{$reply['title']}</title>
	<link type="text/css" rel="stylesheet" href="../addons/bm_qrcodex/template/img/base.css" />
	<link type="text/css" rel="stylesheet" href="../addons/bm_qrcodex/template/img/style.css?v=1" />  
</head>
<body>

<!--script type="text/javascript" src="./source/modules/quickcredit/script/script.js"></script-->
<title>兑奖信息</title>
	<section class="reserve">
    	<!--content-->
        <section class="reserve_content">
        	<!--title-->
            <!--details end-->
			<!--data-->
			<section class="reserve_data">

			<form action="" method="post" data-ajax="false" onsubmit="return check(this)">
				<input name="op" type="hidden"  value="post">
                <section class="data_box">
					<label class="data_box_l">种类</label>
					<span class="data_box_r">
						<select name="residedist">
							<option value="0">请正确选择种类！</option>
							{loop $type $item}
							<option value="{$item['id']}">{$item['name']}</option>
							{/loop}
						</select>
					</span>
				</section>
				<section class="data_box">
					<label class="data_box_l">重量</label>
					<span class="data_box_r"><input type="text" name="realname" value="{$profile['realname']}" placeholder="请输入重量" class="txt" /></span>
				</section>
                <section class="data_box">
					<label class="data_box_l">积分</label>
					<span class="data_box_r"><input name="mobile" type="text" value="{$profile['mobile']}" placeholder="请输入积分" class="txt" /></span>
				</section>
				<section class="reserve_btn_box">
					<input type="submit" value="提交登记" class="reserve_btn" />
				</section>
				<input type="hidden" name="token" value="{$_W['token']}" />
                </form>
            </section>
        </section>
		</section>
		<script type="text/javascript">
			function check(form) {
				if (!form['realname'].value) {
					alert('请输入重量！');
					return false;
				}
				if (!form['mobile'].value) {
					alert('请输入积分！');
					return false;
				}
				if (form['residedist'].value==0) {
					alert('请正确选择种类！');
					return false;
				}
				return true;
			}
		</script>
</body>
</html>
