
{template 'common/header'}
<style>
	body{
		background-color: white;
	}
	.mui-content {
		background-color: white;
	}
	.import{
		margin-right: 55px;
		margin-left: 55px;
		margin-top: 30px;
	}

</style>
<body> 
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">积分兑换</h1>
</header>
	
	<section id="titlebar_bg" class="vacationRecord_section" {if $row['key'] ==1}style="margin-top:70px;"{/if}>


       <div class="vacationItem vacationItemOther">
			<span class="vacation_title">记录如下：</span><span class="vacation_mom vacation_left"></span>
			<div class="left_dotsVacation"></div>
		</div>

     {loop $addsql $item}
        <div class="vacationItem vacationItemOther">
			<span class="vacation_title">于 {php echo date('Y-m-d H:i:s', $item[qcm_addTime]);}</span><span class="vacation_title vacation_titleOther">消费 {$item['qcm_moneyNum']} 元 </span>
			<div class="left_dotsVacation left_dotsVacationOther"></div>
			<div class="borderLine"></div>
		</div>
     {/loop}

			
	</section>

