*{padding:0;margin:0}
li{list-style:none;}
a{text-decoration:none;}
body,html{height:100%;}
body{font-size:0.26rem;}
a,button,input,textarea,label{-webkit-tap-highlight-color: rgba(0,0,0,0) }
a,input,button,img,textarea{outline:none;}
.center{text-align: center;}
.greenClr{color: #9dce9e !important;}
.right{float: right;}
.my-order{
    background: #eeeff3;
}
.orderTitle{
    line-height:0.75rem;
    color:#666;
    text-indent: 0.3rem;
    padding-top: 0.1rem;
}
.orderLists>li>a{
    display: block;
    background: #fff;
    padding: 0.3rem 0.2rem;
    height: 0.96rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 0.2rem;
    color: #333;
}
.orderLists .image{
    width: 0.96rem;
    height: 0.96rem;
    overflow: hidden;
}
.orderLists .image img{
    width: 100%;
    height: 100%;
}
.orderLists .image_r{
    float: left;
    margin: 0.05rem 0 0 0.15rem;
}
.orderLists .image_r p{
    line-height: 0.34rem;
    height: 0.34rem;
}
.orderLists .buyState{
    display: block;
    float: left;
    margin-right: 0.1rem;
    border-radius: 0.08rem;
    background: #e74c3c;
    color: #fff;
    text-align: center;
    padding: 0 0.05rem;
    font-size: 0.18rem;
    height: 0.34rem;
}
.orderLists .buyName{
    display: block;
    float: left;
    margin-right: 0.1rem;
}
.orderLists .buyDet{
    display: block;
    float: left;
    margin-right: 0.1rem;
    color: #289428;
}
.orderLists .orderDateTime{
    font-size: 0.2rem;
    color: #999;
}
.erweima{
    text-align: center;
}
.erweima img{
    width: 2.4rem;
    height: 2.4rem;
}
/*******************订单详情*********************/
.order-detail{
    background: #eeeff3;
}
.order-detail-lists{
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-left: 0.3rem;
}
.order-detail-lists>li{
    border-bottom: 1px solid #eee;
    line-height: 0.48rem;
    padding: 0.2rem 0.3rem 0.2rem 0;
    font-size: 0.32rem;
    overflow: hidden;
}
.order-detail-lists .label-cell{
    display: inline-block;
    vertical-align: middle;
    line-height: 0.48rem;
    height: 0.48rem;
}
.order-detail-lists .text-cell{
    line-height: 0.48rem;
    float: right;
    width: 4.5rem;
    text-align: right;
    color: #999;
}
.order-detail .buyState{
    background: #fff;
    height: 0.88rem;
    line-height: 0.88rem;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    color: #999;
    display: block;
    font-size: 0.32rem;
}
.footer{
    font-size: 0.22rem;
    line-height: 0.95rem;
    color: #999;
    text-align: center;
}
/*************发布商品***************/
.release-goods{
    background: #eeeff3;
}
.release-goods-top{
    height: 0.88rem;
    padding: 0.3rem;
}
.release-goods-top .image{
    float: left;
    width: 0.88rem;
    height: 0.88rem;
}
.release-goods-top .image img{
    width: 100%;
    height: 100%;
}
.release-goods-top .image_r{
    float: left;
    width: 5.8rem;
    margin-left: 0.2rem;
    font-size: 0.24rem;
    line-height: 0.4rem;
    color: #333;
}
.revise{
    color: #04be02;
}
.session{
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-left: 0.3rem;
}
.upLoadImg{
    border: 0.02rem solid #eee;
    color: #eee;
    width: 1.54rem;
    height: 1.54rem;
    display: block;
    font-size: 1.2rem;
    line-height: 1.54rem;
    text-align: center;
}
.upLoadList{
    overflow: hidden;
    margin-bottom: 0.3rem;
}
.upLoadList li{
    position: relative;
    width: 1.56rem;
    height: 1.56rem;
    float: left;
    margin: 0.1rem;
}
.upLoadList li img{
    width: 100%;
    height: 100%;
}
.message-list li{
    border-top: 1px solid #eee;
    height: 0.88rem;
    font-size: 0.32rem;
    line-height: 0.88rem;
    overflow: hidden;
    clear: both;
    padding-right: 0.3rem;
}
.message-list .label-cell{
    float: left;
    width: 1.7rem;

}
.message-list .input-cell{
    float: left;
    border: 0;
    line-height: 0.88rem;
    font-size: 0.32rem;
    width: 3.2rem;

}
.goodsName{
    padding:0.05rem;
    font-size: 0.32rem;
    line-height: 0.46rem;
    height: 1.7rem;
    border: 0;
    width: 100%;
}
.set_btn{
    background: #04be02;
    padding: 0 0.2rem;
    height: 0.5rem;
    line-height: 0.5rem;
    float: right;
    margin-top: 0.2rem;
    color: #fff;
    display: block;
    border-radius: 0.08rem;
    font-size: 0.25rem;
}
.more-open{
    line-height: 0.84rem;
    color: #04be02;
}
.btn{
    background: #04be02;
    color: #fff;
    display: inline-block;
    width: 6.9rem;
    height: 0.84rem;
    line-height: 0.84rem;
    font-size: 0.34rem;
    margin:0 0.3rem;
    border-radius: 0.1rem;
    text-align: center;
}
.agreement{
    line-height: 1rem;
    color: #04be02;
    padding-top: 0.1rem;
}
.agreement .ico{
    width: 0.3rem;
    height: 0.3rem;
    display: inline-block;
    background: #04be02;
    border-radius: 50%;
    vertical-align: middle;
}
.release-goods-more{
}
.file{
    position: absolute;
    width: 1.56rem;
    height: 1.56rem;
    top: 0;
    left: 0;
    opacity: 0;
}
#payProtocol{
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
}
.payProtocol-inner{
    width: 6.35rem;
    background: #fff;
    border-radius: 0.08rem;
    padding-top: 0.2rem;
    margin: auto;
    position: relative;
    top: 50%;
    margin-top: -4.1rem;
}
.payProtocol-inner h1{
    font-size: 0.34rem;
    line-height: 0.85rem;
    text-align: center;
}
.payProtocol-mid{
    font-size: 0.28rem;
    line-height: 0.48rem;
    color: #999;
    padding:0 0.4rem;
    height: 5.9rem;
    overflow-y: auto;
    overflow-x: hidden;
}
#payProtocol .closeBtn{
    line-height: 0.82rem;
    font-size: 0.32rem;
    text-align: center;
    border-top: 1px solid #ccc;
    color: #00a900;
    display: block;
    margin-top: 0.4rem;
}
.setPrice-item .message-list{
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-left: 0.3rem;
}
.setPrice-item .message-list .input-cell{
    width: 5rem;
}
.setPrice-item h4{
    line-height: 0.6rem;
    padding-top: 0.15rem;
    text-indent: 0.3rem;
    color: #999;
    font-weight: normal;
}
.btn.default-btn{
    background: #fff;
    color: #333;
    border-radius: 0.1rem;
    text-align: center;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border:1px solid #d1d1d3;
}
.btnLists{
    padding-bottom: 0.35rem;
}
.btnLists .btn{
    margin-top: 0.35rem
}
.dir-right{
    background: #666;
    width: 0.14rem;
    height: 0.22rem;
    display: block;
    float: right;
    margin-top: 0.33rem;
}
#setAreaPop{
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
}
.setAreaPop-inner{
    width: 6.2rem;
    height: 8.7rem;
    background: #fff;
    position: relative;
    top: 50%;
    margin:0 auto;
    margin-top: -4.35rem;
    overflow-y: auto;
    overflow-x: hidden;
}
.setAreaPop-inner ul{
    padding:0.4rem 0.5rem;
}
.setAreaPop-inner li{
    line-height: 0.95rem;
    height: 0.95rem;
}
.setAreaPop-inner li input{
    vertical-align: middle;
    margin-right: 0.2rem;
}
#newlyPostage h4{
    line-height: 0.6rem;
    padding-top: 0.15rem;
    text-indent: 0.3rem;
    color: #999;
    font-weight: normal;
}
#newlyPostage li{
    min-height: 1rem;
    text-indent: 0.3rem;
    background: #fff;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin-bottom: 0.2rem;
}
#newlyPostage li dl {
    margin-top: 10px;
}
#newlyPostage li span{
    color: #eeeff3;
    text-indent: 0.3rem;
    font-size:  0.18rem;

}
/*******************卖家中心-订单管理**********************/
.order_manager{
    background: #eeeff3;
}
.order_manager .footer{
    line-height: 0.42rem;
}
.order_manager .btn{
    margin:0.4rem 0.3rem;
}
.order_manager_top{
    line-height: 1.45rem;
    font-size: 0.28rem;
    text-align: center;
}
.order_manager_list{
    background: #fff;
    border-top:1px solid #eee;
    overflow: hidden;
}
.order_manager_list>li{
    border-bottom:1px solid #eee;
    border-right:1px solid #eee;
    width: 2.5rem;
    height: 2.5rem;
    box-sizing:border-box;
    float: left;
    text-align: center;
    position: relative;
}
.order_manager_list .pop-disabled{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.8;
}
.order_manager_list>li:nth-child(3n){
    border-right:0;
}
.order_manager_list .manager-ico{
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    margin-top: 0.4rem;
    text-align: center;
}
.order_manager_list .manager-ico img{
    width: auto;
    height: 100%;
}
.order_manager_list h4{
    line-height: 0.6rem;
    font-size: 0.28rem;
}
.order_manager_list p{
    font-size: 0.24rem;
    color: #999;
}
.red-Clr{
    color: #ff3705;
}
.order_manager_mid{
    color: #999;
    padding:0.2rem 0.3rem;
    line-height: 0.45rem;
}
.weixin_erweima{
    width: 3rem;
    height: 3rem;
}
.weixin_erweima+p{
    font-size: 0.18rem;
    color: #999;
    line-height: 0.38rem;
    padding-bottom: 0.8rem;
}
.logo-ico{
    width: 0.88rem;
    height: 0.88rem;
    display: inline-block;
    background: #333;
}
.logo-right{
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
.logo-right h4{
    line-height: 0.6rem;
}
.logo-right p{
    font-size: 0.17rem;
    color: #999;
    line-height: 0.28rem;

}
/*******************商品管理*********************/
.goods_manager{
    background: #eeeff3;
}
.goods_manager .nav{
    height: 1rem;
    background: #fff;
    border-bottom: 1px solid #ccc;	
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.goods_manager .nav li{
    float: left;
    width: 2.5rem;
    border-right: 1px solid #ccc;	
    line-height: 1rem;
    font-size: 0.3rem;
    text-align: center;
    box-sizing:border-box;
}
.goods_manager .nav li:last-child{
    border: 0;
}
.goods_manager .nav li.active{
    color: #fff;
    background: #04be02;
}
.goods_manager .session{
    display: none;
    padding: 0;
    border: 0;
    padding-top: 1.28rem;
    background: none;
}
.goodsList{
    background: #fff;
    border-top: 1px solid #ccc;	
    overflow: hidden;
}
.goodsList li{
    width: 50%;
    box-sizing:border-box;
    float: left;
    padding-top: 0.1rem;
    height: 2.6rem;
    border-bottom: 1px solid #ccc;	
    border-right: 1px solid #ccc;	
    text-align: center;
}
.goodsList li:nth-child(2n){
    border-right: 0;	
}
.goodsList li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #333;
}
.goodsList li p{
    line-height: 0.52rem;
    font-size: 0.28rem;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.goodsList li img{
    width: 1.25rem;
    height: 1.25rem;
}
#bottomPop{
    background: rgba(0,0,0,0.3);
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 99;
    height: 100%;
}
#bottomPop ul{
    background: #eeeff3;
    position: fixed;
    left: 0;
    width: 100%;
    bottom: -5.2rem;
    z-index: 100;
}
#bottomPop li{
    background: #fff;
    height: 1rem;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 1rem;
}
#bottomPop li a{
    color: #333;
    display: block;
    height: 100%;
}
#alertPop{
    width: 2.3rem;
    padding: 0.4rem 0.35rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background: rgba(0,0,0,0.6);
    border-radius: 0.08rem;
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.3rem;
    color: #fff;
}
#alertPop .alert-ico{
    width: 1.68rem;
    height: 1.86rem;
    display: inline-block;
    background: orange;
}

#revisePop{
    background: rgba(0,0,0,0.3);
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 99;
    height: 100%;
}
#revisePop .revisePop-inner{
    width: 6.4rem;
    height: 5.6rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fafafc;
    z-index: 100;
    border-radius: 0.08rem;
    font-size: 0.34rem;
}
#revisePop h1{
    line-height: 1.28rem;
    padding-bottom: 0.25rem;
    font-size: 0.34rem;
    text-align: center;
    font-weight: normal;
}
#revisePop ul{
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-left: 0.3rem;
    overflow: hidden;
}
#revisePop ul li{
    border-bottom: 1px solid #ccc;
    height: 0.9rem;
    line-height: 0.9rem;
    font-size: 0.34rem;
}
#revisePop ul li:last-child{
    border-bottom: 0;
}
#revisePop .lable-cell{
    float: left;
    width: 1rem;
}
#revisePop .input-cell input{
    height: 0.9rem;
    line-height: 0.9rem;
    font-size: 0.34rem;
    border: 0;
}
#revisePop p{
    height: 0.88rem;
    border-top: 1px solid #ccc;
    margin-top: 0.4rem;
}
#revisePop p a{
    line-height: 0.88rem;
    display: block;
    float: left;
    border-right: 1px solid #ccc;
    text-align: center;
    width: 50%;
    box-sizing:border-box;
    color: #333;
}
#revisePop p .enter{
    border-right: 0;
    color: #04be02;
}

.goodsPriceMoreLi li,.goodsPostMoreLi li {
    border: none;
    height:0.38rem;
    line-height:0.38rem;
    font-size: 0.30rem;
}

.goodsPriceMoreLi li:first-child,.goodsPostMoreLi li:first-child {
    margin-top: 0.2rem;
}
.defaultSetPost{
    height: 1rem;
    line-height: 1rem;
    text-indent: 0.3rem;
    background: #fff;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin-bottom: 0.2rem;
}