{template 'web/common/header'}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-10">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>ERP库存管理导航<a class="btn btn-outline btn-default" style="float: right" href="{php echo $this->createWebUrl('navigation')}" >
                        <i class="fa fa-refresh" style="color: #0abc89"></i>  刷新本页</a></h3>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                    <div class="ibox-content no-padding">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <span class="badge badge-success">{php echo $stock_inventory}</span> 库存总量：
                                            </li>
                                            <li class="list-group-item">
                                                <span class="badge badge-success">{php echo $stock_purchasePrice}</span> 库存成本：
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                    <div class="ibox-content no-padding">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <span class="badge badge-info">{php echo $client_receipt}</span> 供应商总收款：
                                            </li>
                                            <li class="list-group-item">
                                                <span class="badge badge-info">{php echo $client_arrears}</span> 供应商总欠款：
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                    <div class="ibox-content no-padding">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <span class="badge badge-danger">{php echo $sales_total}</span> 销售收入毛利润：
                                            </li>
                                            <li class="list-group-item">
                                                <span class="badge badge-danger">{php echo $sales_number}</span> 销售总数量：
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                    <div class="ibox-content no-padding">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <span class="badge badge-warning">{php echo $documents_total}</span> 购货总次数：
                                            </li>
                                            <li class="list-group-item">
                                                <span class="badge badge-warning">{php echo $goodstypetotal}</span> 商品数量：
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <a href="{php echo $this->createWebUrl('goodssupplier')}">
                                <div class="widget style1 red-bg">
                                    <div class="row vertical-align">
                                        <div class="col-xs-2">
                                            <i class="fa fa-building fa-5x"></i>
                                        </div>
                                        <div class="col-xs-10 text-right">
                                            <h2 class="font-bold">供应商</h2>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <a href="{php echo $this->createWebUrl('goodsinventoryin')}">
                                <div class="widget style1 yellow-bg">
                                    <div class="row vertical-align">
                                        <div class="col-xs-2">
                                            <i class="fa fa-cart-arrow-down fa-5x"></i>
                                        </div>
                                        <div class="col-xs-10 text-right">
                                            <h2 class="font-bold">采购入库</h2>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <a href="{php echo $this->createWebUrl('goodsinventoryout')}">
                                <div class="widget style1 navy-bg">
                                    <div class="row vertical-align">
                                        <div class="col-xs-2">
                                            <i class="fa fa-truck fa-5x"></i>
                                        </div>
                                        <div class="col-xs-10 text-right">
                                            <h2 class="font-bold">库存数量</h2>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <a href="{php echo $this->createWebUrl('goodsinventorychange')}">
                                <div class="widget style1 lazur-bg">
                                    <div class="row vertical-align">
                                        <div class="col-xs-2">
                                            <i class="fa fa-paste fa-5x"></i>
                                        </div>
                                        <div class="col-xs-10 text-right">
                                            <h2 class="font-bold">库存盘点</h2>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>快速查看</h3>
                </div>
                <div class="ibox-content">
                    <a href="{php echo $this->createWebUrl('goods', array('op' => 'add'))}" type="button" class="btn btn-block btn-outline btn-primary">添加商品</a>
                    <a href="{php echo $this->createWebUrl('goodssupplier', array('op' => 'goodssuppliertype'))}" type="button" class="btn btn-block btn-outline btn-primary">添加供应商分类</a>
                    <a href="{php echo $this->createWebUrl('goodssupplier', array('op' => 'add'))}" type="button" class="btn btn-block btn-outline btn-primary">添加供应商</a>
                    <a href="{php echo $this->createWebUrl('goodsinventoryin', array('op' => 'list'))}" type="button" class="btn btn-block btn-outline btn-primary">入库单据列表</a>
                    <a href="{php echo $this->createWebUrl('goodsinventoryin', array('op' => 'add'))}" type="button" class="btn btn-block btn-outline btn-primary">添加入库</a>
                    <a href="{php echo $this->createWebUrl('goodsinventorychange', array('op' => 'add'))}" type="button" class="btn btn-block btn-outline btn-primary">添加入库盘点</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{template 'web/common/footer-home'}