html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, textarea, select {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    height:100%;

}
body{ font-size: 0.2rem; font-family: "微软雅黑"; color: #666;}
.box1{ background: url("../images/ewmbg.jpg"); background-size: 100% 100%; width: 100%;}
.ewm img{ width: 3.15rem; height: 3.15rem;  margin-top: 0.155rem}
.ewm{ background: url("../images/ewmbg.png");text-align: center; background-size: 100%; width: 3.45rem; height: 3.46rem; margin: 0px auto; margin-bottom: 0.3rem}
.bottom img{ width: 4.56rem;  margin-bottom: 0.15rem}
.bottom{ width: 100%; text-align: center; }
.box{position: absolute;bottom:29%; left:0; width: 100%}