.loading1{
	position: absolute;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -40px;
	border-radius: 50%;
	border:5px solid #fff;
	-webkit-animation: turn 2s ease infinite;
/*	opacity: 0.8;*/
}
.loading1 .s1{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	left: 50%;
	margin-top: -10px;
	margin-left: -10px;
}
.loading1 .s2{
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-top: -9px;
	margin-left: -9px;
	border:2px solid #fff;
}
@-webkit-keyframes turn{
	0%{-webkit-transform: rotate(0deg);} 
	5%{-webkit-transform: rotate(0deg);} 
	45%{-webkit-transform: rotate(180deg);}
	55%{-webkit-transform: rotate(180deg);} 
	95%{-webkit-transform: rotate(360deg);} 
	100%{-webkit-transform: rotate(360deg);}
}
.data{
	position: absolute;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -40px;
	line-height: 92px;
	font-size: 20px;
/*	opacity: 0.8;*/
	text-align: center;
	color: #fff;
	padding-left: 5px;
}
.figure{
	position: absolute;
}
.loading{margin:0 auto; width:600px;position:fixed;top:38%;left:0;display:none;}
.loading img{text-align:center;margin-left:48%;height:60px;width:60px;}
body{
	background:#f5f3f4;
}
