t@charset "utf-8";/* CSS Document*/
/* 
@media only screen and (max-width: 1024px) { html{font-size:100%;height:100%;}}
@media only screen and (max-width: 768px) { html{font-size:97.5%;height:100%;}}
@media only screen and (max-width: 640px) { html{font-size:92.5%;height:100%;}}
@media only screen and (max-width: 600px) { html{font-size:87.5%;height:100%;}}
@media only screen and (max-width: 560px) { html{font-size:82.5%;height:100%;}}
@media only screen and (max-width: 500px) { html{font-size:77.5%;height:100%;}}
@media only screen and (max-width: 460px) { html{font-size:72.5%;height:100%;}}
@media only screen and (max-width: 400px) { html{font-size:67.5%;height:100%;}}
@media only screen and (max-width: 360px) { html{font-size:62.5%;height:100%;}}
@media only screen and (max-width: 320px) { html{font-size:62.5%;height:100%;}}
*/
/*reset*/
body{margin:0 auto;min-height:100%;background:#F5F5F5;font-family:'黑体',Arial,Helvetica,sans-serif;font-size:14px;color:#333;max-width:640px;min-width:320px;}select,input[type="button"],input[type="submit"],input[type="reset"],input[type="text"],input[type="date"]{padding:0;margin:0;background:#fff;-webkit-appearance:none;appearance:none;border-radius:0}section,header,footer,article,nav,aside,div,input,button,select,textarea,dl,dt,dd,h1,h2,h3,h4,h5,p,form,i,b,span,table,td,th,ol,ul,li,a{margin:0;padding:0;outline:none;-webkit-text-size-adjust:none;box-sizing:border-box;color:#333;font-family:'黑体',Arial,Helvetica,sans-serif;}b,i{font-style:normal;font-weight:normal}table{border:0;padding:0;margin:0;border-collapse:collapse;border-spacing:0;}h1,h2,h3,h4,h5,h6{font-size:1.6rem;}ul,ol,li{list-style:none;}img{border:none;max-width: 100%;margin:0 auto;}input,img{vertical-align:middle;}a{text-decoration:none;border:none;outline:none;color:#666}
::-webkit-input-placeholder {color: #ccc;font-size: 12px}:-moz-placeholder {color: #ccc;font-size:12px}::-moz-placeholder {color: #ccc;font-size:12px}:-ms-input-placeholder {color:#ccc;font-size: 12px}
/*common css*/
.fff{background:#fff!important}
.eee{background:#eee!important}
.no-border{border:none!important}
.no-radius{border-radius:0!important}
.no-bg{background:none!important;}
.font10{font-size:1rem!important}
.font12{font-size:1.2rem!important}
.font14{font-size:1.4rem!important}
.font16{font-size:1.6rem!important}
.font18{font-size:1.8rem!important}
.p5{padding:0 0.5rem!important}
.m5{margin:0 0.5rem!important}
.fl{float:left;}
.fr{float:right;}
.hide{display:none;}
.show{display:block;}
.block{display:block}
.inline-block{display:inline-block}
.pr{position:relative;}
.text-left{text-align:left}
.text-center{text-align:center}
.text-right{text-align:right}
.text-indent5{text-indent:5px;}
.text-indent10{text-indent:10px;}
.box{display:-webkit-box;display:-ms-flexbox;}
.flex{-webkit-box-flex:1;-ms-flex:1;}
.vertical{-webkit-box-orient:vertical;}
.justify{-webkit-box-pack:justify;}
.theme-color{color:#208DDC}
.theme-bg{background:#208DDC; }
.border{border:1px solid #eee;}
.bt{border-top:1px solid #eee;}
.br{border-right:1px solid #eee;}
.bl{border-left:1px solid #EC5300;}
.bb{border-bottom:1px solid #eee;}
.bb-dashed{border-bottom:1px dashed #eee}
.bb-theme{border-bottom:1px solid #D8EBFF}
.decoration{text-decoration:underline;}
.color-fff{color:#fff}
.clearfix:after{display:table;content:"";clear:both;overflow:hidden;}
.clearfix{*zoom:1}
.table{display:table;width:100%;}
.table-cell{display: table-cell; }
.ellipsis { text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}

header{height:6.5rem; line-height:6.5rem;background:#fff;}
header .logo{float:left;margin-left:0.8rem}
header .home{float:right;display:block;height:4rem;padding-top:1rem; line-height:4rem;width:4rem;text-align:center;}
header .logo img{width:14rem}
header .home img{ width:2.3rem}

nav{background:#208DDC;height:6.5rem; line-height:6.5rem;}
nav .flex{display:block; text-align:center;}
nav .flex img{ height:4.3rem;width:4.9rem}
nav .flex:first-child img{margin-top:0.1rem;}
.title{height:4.5rem;line-height:4.5rem;padding:0 1rem;background:#EDF5FC}
.title span{font-size:1.5rem;color:#3995DE}
.title span img{ width:1.7rem; vertical-align:-4px;margin-right:0.3rem}
.title a{float:right;font-size:1.5rem;color:#3995DE}
.title a img{width:1.7rem}
.title img{margin-right:2px; vertical-align:-3px}

.tab{text-align:center;padding:0 0.6rem;}
.tab a{width:49%;height:3.5rem; line-height:3.5rem;font-size:1.4rem;display:block; text-align:center;background:#EDF5FC;margin-top:0.7rem;}
.tab a.on{background:#208DDC;color:#fff}
.tab a:first-child{float:left}
.tab a:last-child{float:right}
#tab1,#tab2{display:none}
.tab-con a{padding:0.8rem 0.8rem;}
/*.tab-con a{padding:0.8rem 0.8rem;border-bottom:1px solid #eee;display:block}*/
.tab-con a p:first-child{padding:0.5rem 0;font-size:1.4rem}
.tab-con a p:first-child:before{content:'';width:0;height:0;display:inline-block;border:2px solid #AAA; vertical-align:3px;margin-right:5px;border-radius:100%}
.tab-con a p:last-child{margin-left:10px}
.table-con img{margin:0.5rem auto;position: relative;left: -2em;max-width: 100%;}
.tab-con a.active p{color:#519FE1}
.tab-con a.active p:first-child:before{border-color:#208DDC}
.img{display:block;width:100%;margin:0.5rem auto}

.title2{font-size:1.4rem;color:#2E91DD;padding:0.8rem 0;text-indent:0.8rem;}
.title2 a{display:block;float:right;padding:0 0.8rem;border:none}
.title2 a img{width:0.8rem;}
.jh{margin:1rem 0.8rem;border-bottom:1px solid #eee}
.jh p:first-child{font-size:1.6rem;color:#208DDC;}
.jh p:last-child{font-size:1rem;text-align:right;color:#ccc}
.table-con{margin:1.5rem;font-size:1.4rem; line-height:160%}
.table-con dl{line-height:normal;text-align:center}
/*.table-con img{display:block;margin:0.5rem auto;width:100%}*/
.table-con img{margin:0.5rem auto;}
.leader-wrap{margin:0 1rem;}
.tab_box{padding:0 1rem;}
.leader{width:100%;font-size:1.4rem}
.leader tr th{ text-align:left; font-size:1.6rem;border-bottom:1px solid #ccc;color:#208DDC;font-weight:normal;padding:0.5em 0}
.leader tr th span{font-size:1.2rem;color:#666}
.leader tr td:first-child{width:10rem}
.leader tr td{ vertical-align:top;padding:0.5rem 0}
.leader tr td:first-child i{width:0.8rem;height:0.4rem;background:#208DDC;display:inline-block;vertical-align:4px;margin-right:5px}
.leader tr td:last-child span{display:inline-block;margin:0 0.5rem 0.6rem 0.5rem}
.leader2{width:100%;font-size:1.2rem;border:1px solid #ccc;border-right:none;margin-bottom:10px}
.leader2 td,.leader2 th{font-size:1.2rem; padding:0.5rem 0.6rem;border-bottom:1px solid #ccc;border-right:1px solid #ccc; text-align: center}
.leader2 .c-red{color:#FF2E2E;padding:0.5rem 0; text-align: left;text-indent: 5px}
.leader2 a{color:blue;text-decoration: underline;padding:0;border:none;margin:0 auto；font-size:1.2rem}
.bb{border-bottom:1px solid #ccc;padding-bottom:0.5rem}
.title3{font-size:1.6rem;color:#208DDC;padding:0.5em 0}
.dw a{display:block;margin:0.8rem;height:4rem;line-height:4rem;background:#EDF5FC;text-align:center}
.btn{width:65px;height:30px; line-height:30px;text-align:center;border:none;color:#fff;background:#208DDC;border-radius:3px;display:inline-block;font-size:14px;/*margin:0.5rem*/}
.soso{padding:0.5rem}
.soso>span{display:inline-block;position: relative;}
.soso>span img{position: absolute;top:13px;right:5px;display:block;width:10px;}
.soso select{height:30px;font-size:14px; line-height:30px;border:1px solid #ccc;border-radius:3px;padding-right:20px;}
.div-cj{margin:1rem 0.5rem}
.table-cj{width:100%;border:1px solid #ddd}
.table-cj th{background:#EDF5FC;font-size:1.3rem;padding:0.8rem 1.6rem;color:#666}
.table-cj td{padding:0.5rem 0.5rem;font-size:1.0rem;border-top:1px solid #ddd}
.table-cj td div{margin:0 auto}
.table-cj.set th{background:none;border-right:1px solid #ddd}
.table-cj.set tr td{border-right:1px solid #ddd}
.table-kckb{width:100%;border:1px solid #ddd;margin-top:1rem}
.table-kckb th{background:#EDF5FC;border-right:1px solid #ddd;font-size:1.0rem}
.table-kckb tr td:first-child{background:#EDF5FC;font-weight:bold}
.table-kckb td{border-right:1px solid #ddd;border-top:1px solid #ddd;font-size:1.0rem;text-align:center}
.tab-con a.on2 p{color:#208DDC}

.form-inp{margin:1rem 0.8rem}
.form-inp input{border:1px solid #ddd;padding:12px 0;text-align:center;margin:10px auto;width:100%}
.form-inp .more{margin:10px 0;}
.dw a.on{background:#208DDC;color:#fff}
.more{text-align:center;color:#fff;margin:0.5rem 0.8rem;background:#208DDC;}
.more a{display:block;color:#fff;height:3.5rem;line-height:3.5rem;padding:0;font-size:1.4rem}
.div-xl{margin:0 0.5rem;}
.div-xl>p{height:4rem; line-height:4rem;font-size:1.4rem;color:#fff;text-align:center;background:#208DDC;margin:0.5rem auto}
.div-xl img{width:100%;display:block;margin:0.5rem auto}
.table-call{border-collapse:separate; border-spacing:0.4rem;}
.table-call td{background:#EDF5FC;text-align: center}
.table-call a{display:block;height:3rem;line-height: 3rem;text-align: center;font-size:1.4rem;background:#EDF5FC;}
.table-call a:hover{background:#208DDC;color:#fff;}
.table-call a.on{background:#208DDC;color:#fff;}

.body{margin-bottom:2rem}
footer{height:3rem;background:#EDF5FC;color:#fff; text-align:center;max-width:640px;width:100%;bottom:0;}
footer .p1{font-size:1rem;padding-top:1.2rem;color:#808080}
footer .p2{font-size:1rem;color:#808080;padding-top:0.5rem}
.index1{background:#1F435C;margin: 0px;padding: 0px;}
/* .index1 .div1{margin:0 0.5rem;} */
.index1 a{display:block;float:left;padding:0.2rem;}
.index1 a img{display:block}
.w5{width:50%}
.w7{width:66.6%}
.w3{width:33.3%}
.w25{width:25%}
.footer-copy{height:25px; line-height:25px;text-align:right;color:#ddd;font-size:1rem;background:#37414A;position:fixed;max-width:640px;width:100%;bottom:0;padding-right:0.5rem}

.font_blue{color:#2891DD;}
.h{ line-height: 3rem; border-bottom: 1px solid #CCCCCC; }
.t_indent10{ text-indent: 1.2rem}
.title_small{ line-height: 3rem}
.font_gray{ color:#828282 }
.t3{font-weight:bold; text-align:center;margin:1rem auto}

@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){
	/* 兼容iphone4/4s */
	.box_i4{min-height:60px;}
}


.div-cj{margin:1rem 0.5rem}
.table-cj{width:100%;border:1px solid #ddd}
.table-cj th{background:#EDF5FC;font-size:1.3rem;padding:0.8rem 0;color:#666}
.table-cj td{padding:0.8rem 0;font-size:1.2rem;text-align:center;border-top:1px solid #ddd}
.table-cj td div{width:8rem;margin:0 auto}
.table-cj.set th{background:none;border-right:1px solid #ddd}
.table-cj.set tr td{border-right:1px solid #ddd}
.table-kckb{width:100%;border:1px solid #ddd;margin-top:1rem}
.table-kckb th{background:#EDF5FC;border-right:1px solid #ddd;font-size:1.2rem}
.table-kckb tr td:first-child{background:#EDF5FC;font-weight:bold}
.table-kckb td{border-right:1px solid #ddd;border-top:1px solid #ddd;font-size:1.2rem;text-align:center}

























