{template 'common/header'}
<ul class="nav nav-tabs">
	<li><a href="{php echo $this->createWebUrl('winner')}">中奖列表</a></li>
	<li  class="active"><a href="{php echo $this->createWebUrl('winner_detail')}">中奖详情</a></li>
</ul>

<form action="{$_W['siteroot']}web/{php echo $this->createWebUrl('announEdit',array(),true)}" method="post" class="form-horizontal" role="form">
<div class="panel panel-default">
<a class="close" data-dismiss="alert">×</a>
    <div class="panel-heading">
       中奖详情
    </div>

	<div class="panel-body">
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">中奖商品</label>
            <div class="col-sm-9 col-xs-12">
               	<input type="text" name="title" value="{$item['title']}" class="form-control" readonly="readonly"> 
            </div>
        </div>
    </div>
	<div class="panel-body">
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">中奖时间</label>
            <div class="col-sm-9 col-xs-12">
               	<input type="text" name="title" value="{php echo date('Y-m-d H:i:s', $item['ticket_time'])}" class="form-control" readonly="readonly"> 
            </div>
        </div>
    </div>
	<div class="panel-body">
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">中奖码</label>
            <div class="col-sm-9 col-xs-12">
               	<input type="text" name="title" value="{$item['ticket']}" class="form-control" readonly="readonly"> 
            </div>
        </div>
    </div>
	<div class="panel-body">
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">昵称</label>
            <div class="col-sm-9 col-xs-12">
               	<input type="text" name="title" value="{$item['ticket_nickname']}" class="form-control" readonly="readonly"> 
            </div>
        </div>
    </div>
	<div class="panel-body">
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">姓名</label>
            <div class="col-sm-9 col-xs-12">
               	<input type="text" name="title" value="{$item['realname']}" class="form-control" readonly="readonly"> 
            </div>
        </div>
    </div>
	<div class="panel-body">
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">联系方式</label>
            <div class="col-sm-9 col-xs-12">
               	<input type="text" name="title" value="{$item['mobile']}" class="form-control" readonly="readonly"> 
            </div>
        </div>
    </div>
	<div class="panel-body">
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">地址</label>
            <div class="col-sm-9 col-xs-12">
               	<input type="text" name="title" value="{$item['address']}" class="form-control" readonly="readonly"> 
            </div>
        </div>
    </div>

	<input type="hidden" name="id" value="{$announ['id']}">
</div>

</form>
{$pager}


<script type="text/javascript">
require(['jquery', 'util'], function($, u){
	$(function(){
		u.editor($('#jiesao')[0]);
	});
});
</script>

<script>
function shenhe(id){
	var r =  confirm('确定审核吗？');
	if(r == true){
		
		$.ajax({
                         "type": "post",
                         "url": "{$_W['siteroot']}web/{php echo $this->createWebUrl('MemberShenhe',array('op' => 'ajax'),true)}",
                         "data": {"id": id},
                         "dataType": "json",
                         "success": function(data){
                              if(data.success){
                                   if(data.error == 'error'){
									alert(data.message);
								   }else{
										window.location.reload();
								   }
                              }else{
                                   alert('操作失败，可能是网络有问题');
                              }
                         }
                    });
	}
	

}

function quxiao(id){
	var r =  confirm('确定取消审核吗？');
	if(r == true){
		
		$.ajax({
                         "type": "post",
                         "url": "{$_W['siteroot']}web/{php echo $this->createWebUrl('MemberQuxiao',array('op' => 'ajax'),true)}",
                         "data": {"id": id},
                         "dataType": "json",
                         "success": function(data){
                              if(data.success){
                                   if(data.error == 'error'){
									alert(data.message);
								   }else{
										window.location.reload();
								   }
                              }else{
                                   alert('操作失败，可能是网络有问题');
                              }
                         }
                    });
	}
	
}


</script>
{template 'common/footer'}