{template 'common/header'}
<div class="main">
	<ul class="nav nav-tabs">
		<li ><a href="{php echo $this->createWebUrl('Rave1');}">公众号列表</a></li>
		<li {if empty($_GPC['rulid'])}class="active" {/if}><a href="{php echo $this->createWebUrl('Inclod');}">添加</a></li>
		{if $_GPC['rulid']}<li class="active"><a href="{php echo $this->createWebUrl('Inclod',array('rulid'=>$_GPC['rulid']));}">编辑</a></li>{/if}
	</ul>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">生成二维码</h3>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" action="" method="POST">
				<div class="form-group">
					<label for="inputPassword3" class="col-sm-2 control-label">title</label>
					<div class="col-sm-10">
						<input type="text" id="title" class="form-control" placeholder="" name="title" value="{$userlist['title']}">
					</div>
				</div>
				
				<div class="form-group">
					<label for="inputPassword3" class="col-sm-2 control-label">上传logo</label>
					<div class="col-sm-10">
						{php echo tpl_form_field_image('logo',$userlist['logo']);}
						 <div class="help-block">建议尺寸255*64（如不填在页面上不会显示logo）</div>
					</div>
				</div>
			
				<div class="form-group">
					<label for="inputPassword3" class="col-sm-2 control-label">上传背景图</label>
					<div class="col-sm-10">
						{php echo tpl_form_field_image('img',$userlist['img']);}
						<div class="help-block">建议尺寸 640*1008</div>
					</div>
				</div>
			
				<div class="form-group">
					<label for="inputPassword3" class="col-sm-2 control-label">上传二维码</label>
					<div class="col-sm-10">
						{php echo tpl_form_field_image('login',$userlist['login']);}
						<div class="help-block">建议尺寸 315*315</div>
					</div>
				</div>
				
				<div class="form-group">
					<label for="inputPassword3" class="col-sm-2 control-label">文字描述</label>
					<div class="col-sm-10">
						{php echo tpl_ueditor('zfcon', $userlist['zfcon']);}
						<div class="help-block">如 关注微信公众->回复关键字（如修改文字颜色 点击工具栏上的<a>A</a>即可选择颜色,不要尽量使用<a>""</a>标签（英文））</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<input type="submit" name="submit" class="btn btn-default" value="提交">
						<input type="hidden" name="token" value="{$_W['token']}" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{template 'common/footer'}