.button_huodong 
{	
	border-style:solid;
	border-width:2px;
	border-color:#388BFF;
	font-weight:bold;
}
.t_area{ 
border-style:solid; border-width:1px; border-color:#ccc;    background-color: #eee;
} 