/*分类*/

.top-nav {
    width: 100%;
    background-color: #fff;
    padding: 0 10px;
}

.top-nav ul li {
    float: left;
    width: 33.333%;
    height: 40px;
    text-align: center;
    font-size: 16px;
    position: relative;
    color: #666;
    line-height: 40px;
    position: relative;
}

.top-nav ul li.active::before {
    content: " ";
    position: absolute;
    width: 70px;
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #666;
}

.top-nav .drop-down {
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -70px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .2);
    width: 140px;
    z-index: 1;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

.top-nav .drop-down a {
    display: block;
    width: 100%;
    height: 36px;
    font: bold 13px Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
    line-height: 36px;
    background-color: #fff;
    border-bottom: 1px solid #dcdcdc;
}

.top-nav .drop-down a:last-child {
    border-bottom: 0;
}

.top-nav .drop-down a:hover {
    color: #555;
}

.top-nav .drop-down a.on{
    color: #666;
}

.top-nav .arrow {
    position: absolute;
    width: 14px;
    height: 14px;
    top: -6px;
    left: 50%;
    margin-left: -7px;
    overflow: hidden;
    pointer-events: none;
    -webkit-transform: rotate(45deg);
    -mz-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
    box-shadow: -1px -1px 1px rgba(0, 0, 0, .4);
}

.nav-category{
    background-color: #fff;
    margin-top: 10px;
    padding-left: 16px;
}
.nav-category .category-head {
    width: 100%;
    display: inline;
    white-space: nowrap;
    overflow-x: scroll;
    float: left;
    overflow-y: hidden
}

.nav-category .category-head li {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-right: 10px;
    color: #666;
}

.nav-category .category-head li a{
    display: block;
    width: 100%;
    height: 100%;
}

.nav-category .category-head li.active a{
    color: #01AAED;
}

/*分类*/


