*,
::after,
::before {

    padding: 0;
    margin: 0;

    /*清除ios默认的点击时产生的高亮区块   rgba(0,0,0,0)*/
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    /*定义盒子模型定义的宽度从边框计算*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Microsoft YaHei", "sans-serif";
    font-size: 14px;
    line-height: 1;
    color: #333;
    position: relative;
    background: #f5f5f5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #0b0b0b;
}

input,
textarea {
    border: 0;
    outline: none;
    resize: none;

    /*清楚ios浏览器默认的样式*/
    -webkit-appearance: none;
}

img {
    vertical-align: middle;
    /*清除3px的bug*/
    border: 0;
}

.clearfix::after,
.clearfix::before {
    clear: both;
    content: '.';
    height: 0;
    line-height: 0;
    visibility: hidden;
    display: block;
}

body,html{
    height: 100%;
}

.wrapper {
    max-width: 640px;
    margin: 0 auto;
}

/*头部模块*/

.header {
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 9999;
    max-width: 640px;
}

.header .header_box {
    position: relative;
    background: #fff;
    border-bottom: 1px solid #dcdcdc;
}

.header a.icon-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 50px;
    font-size: 26px;
    text-align: center;
    line-height: 40px;
    color: #666;
}

.header a.icon-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 50px;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    color: #666;
}

.header .title {
    width: 100%;
    height: 40px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    color: #333;
}

.header-fill{
    display: block;
    width: 100%;
    height: 40px;
}

/*头部模块*/


/*没有内容*/

.no-content {
    width: 100%;
    height: 200px;
    background-color: #fff;
    line-height: 200px;
    color: #666;
    text-align: center;
    font-size: 15px;
}

/*没有内容*/
#goTop {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 80px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.8);
    text-align: center;
}
#goTop a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    color: #666;
    font-size: 18px;
}

@media screen and (min-width:640px) {
    #goTop {
        right: auto !important;
        margin-left: 580px;
    }
}

/*返回顶部*/

/*返回顶部*/


/*底部导航*/

footer {
    width: 100%;
    max-width: 640px;
    height: 70px;
}

.footer-nav {
    position: fixed;
    bottom: 0px;
    overflow: hidden;
    border-top: 1px solid #EAEAE8;
    width: 100%;
    line-height: 20px;
    background: #fff;
    text-align: center;
    z-index: 9999;
    max-width: 640px;
    font-size: .75rem;
    height: 50px
}

.footer-nav a {
    width: 25%;
    float: left;
    color: #888
}

.footer-nav a i {
    height: 20px;
    display: block;
    margin-top: 7px;
    font-size: 20px
}

/*底部导航*/

/*iScroll 上拉加载 下拉刷新*/

#pullDown,
#pullUp {
    background: #fff;
    height: 50px;
    line-height: 50px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#pullDown .pullDownIcon,
#pullUp .pullUpIcon {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

#pullDown .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#pullUp .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

/*自定义滚动条*/
.myScrollbar{
    position:absolute;
    width:8px;
    bottom:7px;
    top:2px;
    right:1px;
    z-index:1000;
}

.myScrollbar div {
    position:absolute;
    z-index:100;
    width:100%;
    background:-webkit-gradient(linear, 0 0, 100% 0, from(#f00), to(#900));
    border:1px solid #800;
    -webkit-background-clip:padding-box;
    -webkit-box-sizing:border-box;
    -webkit-border-radius:4px;
    -webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
}
