/*我的*/


/*头部*/

.my-header {
    width: 100%;
    color: #fff;
    background: linear-gradient(to right, #5a92ff, #4078e4);
}

.my-header a {
    color: #fff
}

.my-header {
    position: relative;
    height: 100px;
}

.my-header .header-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 100%;
    text-align: center;
    line-height: 100px;
}

.my-header .header-left img {
    width: 70%;
    border-radius: 50%;
}

.my-header .user-info {
    width: 100%;
    box-sizing: border-box;
    padding-left: 90px;
    padding-right: 50px;
    padding-top: 18px;
}

.my-header .user-info .info-item {
    display: block;
    margin-bottom: 7px;
}

.my-header .user-info .info-item a{
    font-size: 11px;
}

.my-header .user-info .name {
    font-size: 16px;
    margin-bottom: 10px;
}

.my-header .user-info .info-item span {
    font-size: 13px;
}

.my-header .user-info .info-item .bind {
    display: inline-block;
    padding: 0 3px;
    border: 1px solid #fff;
    border-radius: 2px;
    font-size: 10px;
    line-height: 16px;
}

.my-header .header-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    text-align: center;
    line-height: 100px;
}

.my-header .header-right img {
    width: 20px;
}



/*头部*/


/*主要部分*/

.main-box {
    margin-bottom: 1rem;
}

.box-top-menu {
    width: 100%;
    border-bottom: 1px solid #ececec;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

.box-top-menu .menu-item {
    width: 25%;
    float: left;
    color: #fff;
    text-align: center;
}

.box-top-menu .middle-line {
    position: absolute;
    left: 50%;
    width: 0px;
    height: 60%;
    border: 1px solid #f5f5f5;
    top: 20%;
}

.box-top-menu .menu-item>div {
    border-radius: 4px;
    display: inline-block;
    padding: 0px 10px;
    margin: 0px 8px 0px 8px;
    cursor: pointer
}

.box-top-menu .menu-item .consum p {
    line-height: 30px;
    color: #0b0b0b;
}

.box-top-menu .menu-item .consum .yuan_box {
    color: #fff;
    position: absolute;
    top: 0;
    margin-left: 27px;
    margin-top: 5px;
    width: 18px;
    height: : 18px;
    text-align: center;
    line-height: 18px;
    font-size: 10px;
    background: #ff0000;
    border-radius: 100%;
}

.box-top-menu .menu-item>div>img {
    height: 20px;
    margin: 10px;
}

.box-middle-menu {
    width: 100%;
    margin: 0 auto;
}

.box-middle-menu .menu-item {
    margin: 0 auto;
    width: 100%;
    height: 50px;
    position: relative;
    background-color: #fff;
}

.box-middle-menu .menu-item .icon-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
    z-index: 100;
}

.box-middle-menu .menu-item .icon-box img {
    width: 50%;
}

.box-middle-menu .menu-item .content {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
    line-height: 50px;
    position: relative;
}

.box-middle-menu .menu-item .content::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #f5f5f5;
}

.box-middle-menu .menu-item .content.last::before {
    background-color: transparent;
}

.box-middle-menu .menu-item .content .title {
    float: left;
    color: #0b0b0b;
}

.box-middle-menu .menu-item .content .data {
    float: right;
    color: #666;
}

.box-middle-menu .menu-item .content .right-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box-middle-menu .menu-item .content .right-icon img {
    width: 30%;
}


/*主要部分*/


/*我的*/