/*我的优惠券*/


/*头部导航*/

.header-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 45px;
    background: linear-gradient(to right, #5a92ff , #4078e4);
    max-width: 640px;
}

.header-nav a {
    display: block;
    float: left;
    width: 33.333333%;
    color: #d4daea;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    font-size: .9rem;
}


.header-nav a.active {
    color: #fff;
}
.header-nav a.active span{
    border-bottom: solid 2px #fff;
    font-weight: bold;
    padding-bottom: 5px;
   
}
/*头部导航*/


/*优惠券列表*/

.coupon-list {
    width: 100%;
    padding-top: 50px;
    height: 100%;
}

.coupon-list .coupon-list-content {
    margin: 5px 5%;
    height: 100%;
}

.coupon-list .coupon-list-content li {
    overflow: hidden;
    margin: 10px 0;
    background: #fff;
    position: relative;
}

.coupon-list li .left {
    width: 36.33%;
    padding: 1.5em 0;
    text-align: center;
    position: relative;
    float: left;
    background-image: url(../images/112.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    background-color: #4e8bd8;
    color: #fff;
}

.coupon-list li .expired {
    background-image: url(../images/113.jpg);
    background-color: #ddd;
}

.coupon-list li .left .value {
    font-size: 1.5em;
}

.coupon-list li .left .condition {
    font-size: 1em;
}

.coupon-list li .right {
    background: #fff;
    width: calc(63.67% - 20px);
    height: 80px;
    float: right;
    margin: 0 10px;
    position: relative;
    border-bottom: 1px dashed #ddd;
}

.coupon-list li .right .fit-store {
    margin-top: 10px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.coupon-list li .right .limit-num{
    margin-top: 5px;
    color: #666;
    font-size: 12px;
}

.coupon-list li .right .expire-time {
    position: absolute;
    left: 0;
    bottom: 3px;
    color: #aaa;
    font-size: .9em;
}

.coupon-list li .img-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 73px;
}

.coupon-list li .img-box img {
    display: block;
    border: 0;
}

/*优惠券列表*/


/*我的优惠券*/