/*我的列表通用样式*/

/*列表头部*/

.my-list-header {
    background: linear-gradient(to right, #5a92ff , #4078e4);
    position: relative;
}

.my-nav-list-box {
    display: block;
    overflow: hidden;
    zoom: 1; 
    border-bottom: none;
    z-index: 110;
}

/*li模式*/

.my-nav-list-box ul li {
    float: left;
    color: #d4daea;
    height: 45px;
    line-height: 45px;
    width: 50%;
    text-align: center;
    border-color: #333;
}

.my-nav-list-box ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.my-nav-list-box ul .my-current {
    color: #fff;
    border-bottom: solid 2px #fff;
    font-weight: bold;
    padding-bottom: 5px;
}

.my-nav-list-box ul .my-current a {
    color: #f54343;
}

/*div模式 防止a标记bug*/

.my-nav-list-box .list-item{
    float: left;
    color: #d4daea;
    height: 45px;
    line-height: 45px;
    width: 50%;
    text-align: center;
    border-color: #333;
    border: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.my-nav-list-box .list-item>a{
    display: inline-block;
    color: #d4daea;
    text-align: center;
    height: 45px;
    border:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
    outline:none;
    position: relative;
}

.my-nav-list-box .list-item .my-current {
    color: #fff;
    padding-bottom: 5px;
}

.my-nav-list-box .list-item .my-current::before{
    content: " ";
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
}


/*列表头部*/


/*列表内容*/

.my-list-content {
    background-color: #fff;
    cursor: pointer;
    position: relative;
}

.my-list-content .list-item {
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    padding: 2px 0;
}

.my-list-content .item-content {
    width: 90%;
    margin: 6px auto;
    overflow: hidden;
}

.my-list-content .item-content .left {
    float: left;
    line-height: 22px;
}

.my-list-content .item-content .left p {
    margin-top: 1px;
    overflow: hidden;
}

.my-list-content .item-content .left p .fa {
    font-size: 14px;
    color: #888;
}

.my-list-content .item-content .left p .time {
    color: #888;
    font-size: 13px;
    font-style: normal;
}

.my-list-content .item-content .left .name {
    color: #888;
    font-size: 14px;
    margin-left: 16px;
    line-height: 16px;
}

.my-list-content .item-content .right {
    float: right;
    font-size: 20px;
    margin-top: 15px;
    color: #888;
}

/*列表内容*/


/*分页*/

.fenye {
    display: inline-block;
    margin: 10px;
}

.fenye li {
    float: left;
    height: 28px;
    line-height: 28px;
    margin: 0 -1px 5px 0;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    border: 1px solid #e2e2e2;
}

.fenye li.active {
    background-color: #b79957;
}

.fenye a {
    display: block;
    padding: 0 15px;
}

.fenye li.active a {
    color: #fff;
}

/*分页*/


/*我的列表通用样式*/