/*我的次卡*/


/*头部导航*/

.header-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 45px;
    background: linear-gradient(to right, #5a92ff , #4078e4);
    max-width: 640px;
}

.header-nav a {
    display: block;
    float: left;
    width: 33.333333%;
    color: #d4daea;
    text-align: center;
   /* background: #eee;*/
    line-height: 45px;
    text-decoration: none;
    /*background-color: #fff;*/
    font-size: .9rem;
}

.header-nav a.active {
    /*border-bottom: 2px solid #5a92ff;*/
    color: #fff;
}
.header-nav a.active span{
    border-bottom: solid 2px #fff;
    font-weight: bold;
    padding-bottom: 5px;
   
}
/*头部导航*/


/*次卡列表*/

.oncecard-list {
    width: 100%;
    padding-top: 50px;
    height: 100%;
}

.oncecard-list .oncecard-list-content {
    margin: 5px 5%;
    height: 100%;
}

.oncecard-list .oncecard-list-content li {
    overflow: hidden;
    margin: 20px 0;
    position: relative;
}

.oncecard-list li .card-box{
    padding-bottom: 63.157894737%;
    position: relative;
    background: transparent;
    font-size: 13px;
    border-radius: 20px;
    overflow: hidden;
    font-family: "Arial";
}

.oncecard-list li .card-box>img {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 1;
}

.oncecard-list .card-box p, .oncecard-list .card-box a {
    position: absolute;
    z-index: 10;
    color: #fff;
}

.oncecard-list .card-box .title {
    left: 0;
    right: 0;
    font-size: 20px;
    text-align: center;
    top: 70px;
    letter-spacing: 4px;
}

.oncecard-list .card-box .buy-time {
    left: 15px;
    top: 10rem;
    color: #1f1e1e;
    font-size: 16px;
}

.oncecard-list .card-box .expire-time {
    left: 15px;
    top: 11.5rem;
    color: #1f1e1e;
    font-size: 16px;
}

.oncecard-list .card-box .use-number {
    left: 15px;
    bottom: 4.7rem;
    font-size: 16px;
}

.oncecard-list .card-box .use-log {
    right: 1rem;
    top: 1rem;
    background-color: #444447;
    width: 80px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
}

.oncecard-list .card-box .use-state {
    left: 1rem;
    bottom: 1rem;
}

/*次卡列表*/


/*我的次卡*/