/*店铺列表*/

.store-list {
    margin: 0 auto;
    background: #fff;
}

.store-list ul {
    background-color: #f5f5f5;
}

.store-list ul li {
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #dcdcdc;
    background-color: #fff;
}

.store-list ul li:last-child {
    border-bottom: 0;
}

.store-list ul li .left {
    width: 30%;
    height: 100%;
    float: left;
    padding: 15px;
}

.store-list ul li .left .img {
    display: block;
    height: 100%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

.store-list ul li .right {
    width: 70%;
    height: 100%;
    float: right;
    padding: 19px 5px 15px 0px;
    position: relative;
}

.store-list ul li .right p.title {
    width: 100%;
    font-size: 15px;
    color: #333;
    margin-bottom: 8px;
    font-weight: bold;
}

.store-list ul li .right p.content {
    width: 100%;
    font-size: 10px;
    line-height: 14px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.store-list ul li .right p.content .label {
    width: 100%;
    font-size: 10px;
    line-height: 14px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.store-list ul li .right p.content .span_xiao {
    font-size: 10px;
    background: rgba(201, 21, 35, 0.7);
    color: #fff;
    padding: 1px 5px 1px 5px;
    line-height: 18px;
}

.store-list ul li .right .distance {
    position: absolute;
    bottom: 62px;
    right: 11px;
    color: #666;
    font-size: 13px;
}

.store-list ul li .right p.bottom {
    margin-top: 7px;
    padding-right: 5px;
    height: 20px;
    line-height: 20px;
    color: #666;
    font-size: 12px;
}

.store-list ul li .right p.bottom .category {
    float: left;
}

.store-list ul li .right p.bottom .time {
    float: right;
    max-width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



/*店铺列表*/


/*店铺详情*/

.store-info {
    padding: 10px;
    width: 100%;
}

.store-info .top {
    width: 100%;
    height: 120px;
    background-color: #fff;
}

.store-info .left {
    width: 44%;
    height: 100%;
    float: left;
    padding: 10px;
}

.store-info .left .img {
    display: block;
    height: 100%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
}

.store-info .right {
    width: 54%;
    height: 100%;
    float: right;
    padding: 10px;
}

.store-info .title {
    line-height: 100px;
    font-size: 15px;
    color: #333;
}

.store-info .list {
    margin-top: 10px;
    background-color: #fff;
    overflow: hidden;
}

.store-info .list li {
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
}

.store-info .list li label {
    float: left;
    width: 30%;
    padding: 10px;
    line-height: 30px;
}

.store-info .list .info {
    float: right;
    width: 70%;
    line-height: 30px;
    padding: 10px;
}

.store-info .list .text {
    line-height: 20px;
    font-size: 13px;
    color: #666;
}



/*店铺详情*/


/*引导二维码关注*/


/* 触发按钮 */

.alert-click {
    display: block;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    color: #fff;
    line-height: 3rem;
    text-align: center;
    font-size: 1.2rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 140px;
    z-index: 1001;
    text-align: center;
}

.alert-click .icon{
    font-size: 28px;
}

/*遮罩*/

.overlay {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 640px;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 100;
}

/* 二维码层 */

.board {
    position: fixed;
    background-color: #fff;
    top: 25%;
    left: 20%;
    width: 60%;
    height: 310px;
    z-index: 999;
    display: none;
}

.board .logo span {
    display: block;
    height: 44px;
    color: #000;
    font-size: 20px;
    line-height: 44px;
    padding-top: 4px;
    margin: 0 auto;
    text-align: center;
}

.board .qrcode {
    position: relative;
    width: 80%;
    margin-left: 10%;
}

.board .qrcode img {
    width: 100%;
    border-radius: 6px;
}

.board .heart{
    text-align: center;
}

.board .heart .icon {
    display: inline-block;
    font-size: 20px;
    color: #cc0000;
    line-height: 32px;
    font-weight: 700;
    text-align: center;
    vertical-align: bottom;
}

.board .heart span {
    display: inline-block;
    margin: 0 auto;
    font-size: 18px;
    color: #cc0000;
    line-height: 32px;
    font-weight: 700;
    vertical-align: bottom;
    margin-left: 6px;
}

.board .text {
    position: relative;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    padding-bottom: 8px;
    text-align: center;
    color: #666;
}


/*引导二维码关注*/