/*
 * =====================================================
 * auther: Xiao Jia Xiong
 * data:     2017-4-24 
 * copyright： xiamenyicheng
 * =====================================================*/
/*coomen*/
* {
	margin: 0;
	padding: 0;
        -webkit-touch-callout:none;  /*系统默认菜单被禁用*/   
        -webkit-user-select:none; /*webkit浏览器*/   
        -khtml-user-select:none; /*早期浏览器*/   
        -moz-user-select:none;/*火狐*/   
        -ms-user-select:none; /*IE10*/   
        user-select:none;   	
}
input {      
     -webkit-user-select:auto; /*webkit浏览器*/     
} 
body{
	background: white;
	max-width: 640px;
	margin:  0 auto;
	overflow-x: hidden;
}
body.index{
	background: #F8D652;
}
header,main{
	position: relative;
}

li{
	list-style: none;
}

img {
    max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

.mui-fullscreen {
	bottom: inherit;
}

.color-orange{
	color: orange;
}


.color-white{
	color: white;
}
.color-red{
	color: red;
}
.color-s-orange{
	color:#ffb300;
}
.color-gray{
	color: #666;
}
.progress-bar-danger{
    background-color: #FFA100 !important;	
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}
.none{
	display: none;
}
.left-div{
	color: white;
    float: left;
}

.left-div span{
	display: inline;
	margin-right: 2vw;
}
.right-div{
    float: right;
}
.right-div span{
    padding: 4px 10px;
    background: orange;
    color: whitesmoke;
    border-radius: 5px;
    font-weight: bold;
}
.follow_qrcode{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    display: none;
}
.follow_qrcode.show{
    display: block;
}
.follow_qrcode .misk_qrcode{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: -1;
}
.follow_qrcode .qrcode_mian{
    width: 230px;
    background: white;
    margin: 130px auto;
}
.follow_qrcode .qrcode_mian img{
    width: 100%;
    height: 230px;
}
.follow_qrcode .qrcode_mian p{
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 0;
    line-height: 2.5rem;
    border-bottom: 1px solid #e8e8e8;
    color: #403636;
    font-weight: bold;
}
   .kwd{  
        display: inline-block;  
        color: #272727;  
        background-color: #fff;  
        font-size: 1.1875em;  
        font-size: 1.1875em;  
        padding: .75em 1em;  
        border: 1px dashed #e60012;  
        -webkit-user-select:element;   
        margin: 2em;  
    }  
    .kwd span{  
        display: block;   
        border: 1px solid #fff;  
    }
/*banner*/
.banner-top{
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    z-index: 99;
    font-size: 12px;
    padding: 0 10px;
    background: rgba(0,0,0,.2);
}

.banner-title{
    position: absolute;
    font-weight: normal;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    line-height: 1.4;
    font-size: 14px;
    padding: 7px 10px;
    text-align: justify;
    background: rgba(3,3,3,.6);
}

.banner-time{
    margin: -3vw 0;
    /*border-top: 1px solid #929292;
    background: rgba(3,3,3,.7);*/
}
.banner-time span{
    display: block;
    color: white;
    border-radius: 5px;
    padding: 0 3px;
    height: 26px;
    line-height: 36px;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
}
span>.color-orange{
    display: inline;
    margin: 0 3px;
    font-weight: bold;
}

span>time{
    display: inline;
    margin:0 3px ;
}
#slider img{
    width: 100%;
    /*height: 249px;*/
}
.activity-index #slider img{
    height: auto;
}
.slider-top{
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    position: relative;
}
.slider-top ul li{

}
.slider-top time{
    font-weight: normal;
}
.layui-flow-more{
    clear: both;
    margin: 22px 0 10px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.9);
}
.layui-flow-more a cite {
    background-color:  inherit;
    color: rgba(255, 255, 255, 0.9);
}
/*main*/
.index main{
	padding:   2vw;
}
.mui-card-content{
	padding: 4vw 3vw;
	margin-bottom: 3vw;
	border-radius: 4px;
    background:-moz-linear-gradient(top, #437E9D, #16506E);  
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#437E9D), to(#16506E));  
    background:-o-linear-gradient(top, #437E9D, #16506E); 
}
.card-button{
	margin: 3vw 0 0;
}
.card-button button#btn-post{
	border: 1px solid #ffd72e;
	border-radius: 6vw;
	display: block;
	text-align: center;
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	background: rgba(22, 80, 110, 0.04);
    animation: neon1 0.5s ease-in-out infinite alternate;
}
.card-button .tips{
	margin: 2vw auto 0;
	display: block;
	text-align: center;
	color: white;
	font-size: 12px;
}

.card-title{
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-bottom: 3vh;
    margin-left: -4vw;
    background: #FFEC42;
    padding: 0px 5vw 0 2vw;
    font-size: 14px;
    color: #CA5E1E;
    font-weight: bold;
}
.card-title i{
	position: absolute;
    width: 0;
    height: 0;
    right: 0;
    border-bottom: 30px solid #b3b131;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
}
.mui-card-content h4{
	font-weight: normal;
	color: white;
	text-align: center;
	margin-bottom: 5vw;
}
.mui-card-content p{
	color: white;
	/*text-align: justify;*/
}

.card-rank{
	margin-top: 3vw;
}
.card-rank ul li{
	font-size: 14px;
	color: white;
	height: 42px;
	line-height: 35px;
}
.card-rank ul li:first-of-type{
	font-weight: bold;
	font-size: 16px;
	margin-bottom: -5px;
}
.card-rank ul li> span{
	vertical-align: top;
	width: 25%;
	text-align: center;
	position: relative;
	float: left;
}
.card-rank ul li >span:last-of-type{
	width: 45%;
	float: right;
}
.card-rank ul li >span time{
    font-size: 12px;
    position: absolute;
    display: block;
    height: 12px;
    line-height: 12px;
    margin-top: -8px;
    width: 100%;
}
.read-more{
	text-align: center;
	clear: both;
}
.read-more a {
	color: white;
}
.card-sale  ul li{
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #FFEC42;
}
.card-sale  ul li:last-of-type{
	border: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.card-sale  ul li a {
	color: white;
}
.card-sale  ul li a >.left{
   width: 33%;
}
.card-sale ul li a >.left img{
    width: 100%;
}
.card-sale  ul li a> .right{
   width: 67%;
   padding: 0 2vw ;
}
.sale-title{
	height: 20px;
	line-height: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: justify;
}
.sale-info{
	color: rgba(255,255,255,.6);
	font-size: 12px;
	position: relative;
}
.sale-price{
    font-size: 18px;
    color: #CA5E1E;
    font-weight: bold;
}
.sele-link{
    height: 30px;
    padding: 0 12px;
    margin: 0;
    font-size: 13px;
    right: 0;
    top: 10px;
    position: absolute;
    background: #f8d652;
    color: #CA5E1E;
	font-weight: bold;
	border: none;
}
.line-thought{
    text-decoration: line-through;
    display: inline;
    color: rgba(255, 236, 66, 0.6);
    margin-left: 6px;
    font-size: 12px;
}

/*right*/

.right-menu{
    position: fixed;
    right: 3vw;
    width: 40px;
    top: 40px;
    height: 87vh;
    z-index: 9999;
}
.right-menu ul li{
	margin-bottom: 10px;
}
.right-menu ul li a{
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    background: rgba(0,0,0,.6);
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
}
.right-menu ul li:nth-of-type(2) a{
    line-height: 12px;
    padding: 8px 3px;
}

.right-menu ul li.return-top{
    position: absolute;
    bottom: 0px;
}
#goTop {
    position: absolute;
    display: none;
    text-indent: -999px;
    background: rgba(0, 0, 0, 0.6) url(../images/gotop.png) no-repeat center;
    cursor: pointer;
    bottom: 0;
}
/*footer*/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    padding: 0 4vw;
    background: rgba(0, 0, 0, 0.5);
}
footer a{
    color: #fff;
}

/*tips*/
.card-tips,.card-form{
	display: none;
    position: fixed;
    z-index: 999;
    background: rgba(0,0,0,.6);
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 35vh 27px 0;
    text-align: justify;		
}
.tips-content{
    background: white;
    border-radius: 5px;
}
.tips-title{
    text-align: center;
    padding: 15px 0 10px;
    font-size: 17px;
}
.tips-content p,.tips-content a{
  	color: #333;
  	padding: 0 26px;
  	text-align: justify;
}
.tips-content a{
	border-top: 1px solid #e3e3e3;
	text-align: center;
	display: block;
	height: 40px;
	line-height: 40px;
	font-size: 17px;
}
.tips-small{
    text-align: center;
    color: gray;
    font-size: 13px;
}
.tips-small .color-red{
	display: inline-block;
	margin-right: 5px;
}
.tips-code{
     background: #eee;
    border: 1px solid #e2e2e2;
    padding: 5px 3px;
    display: block;
    font-size: 13px;
    color: #6b6a6a;
}
.tips-dashed{
	font-size: 13px;
    margin: 6px 10px 15px;
    padding: 6px;
    border: 1px dashed #ababab;
}
.tips-fx{
   position: fixed;
    z-index: 999;
    background: rgba(0,0,0,.6);
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 25vh 27px 0;
    text-align: justify;
}

.card-closed{
    height: 50px;
    text-indent: -999px;
    background: url(../images/close.png) no-repeat center right/10px 10px;
}
.form-content{
	background: #266384;
	padding: 0 20px 15px;
    border-radius: 5px;	
}
.form-content label{
    color: rgb(222, 222, 222);
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 12px;
}
.form-content  input{
	height: 30px;
	font-size: 13px;
}
button.form-submit{
   margin: 25px auto 0;
    border: 1px solid white;
    border-radius: 6vw;
    display: block;
    text-align: center;
    width: 100%;
    line-height: 7vw;
    font-size: 14px;
	color: white;
    background: rgba(22, 80, 110, 0.04)
}
.mui-card-info{
	font-size: 12px;
}
.mui-card-info div.right{
	text-align: right;
}
.large{
	margin-bottom: 5px;
	font-size: 16px;
}
.mui-card-info div.left .large{
	margin-bottom: 26px;
}
/*glow for webkit*/

@-webkit-keyframes neon1 {
  from {
   	color:#8F9F70 ;
   	border-color: #8F9F70;
  }
  to {
  	color: #FFD340;
  	border-color: #FFD340;
   -webkit-box-shadow: 0 0 60px #8F9F70;  		
  }
}
/*glow for mozilla*/
@-moz-keyframes neon1 {
  from {
   	color:#8F9F70 ;
   	border-color: #8F9F70;
  }
  to {
  	color: #FFD340;
  	border-color: #FFD340;
   -webkit-box-shadow: 0 0 60px #8F9F70;  		
  }
}
/*glow*/
@keyframes neon1 {
  from {
   	color:#8F9F70 ;
   	border-color: #8F9F70;
  }
  to {
  	color: #FFD340;
  	border-color: #FFD340;
   -webkit-box-shadow: 0 0 60px #8F9F70;  		
  }
}

/*22*/
@-webkit-keyframes neon2 {
  from {
   	border-color: #333;
  }
  to {
   -webkit-box-shadow: 0 0 120px #fff;  	
  }
}
/*glow for mozilla*/
@-moz-keyframes neon2 {
  from {
   	border-color: #333;
  }
  to {
   -moz-box-shadow: 0 0 120px #fff;  	
  }
}
/*glow*/
@keyframes neon2 {
  from {
   	border-color: #333;
  }
  to {
   box-shadow: 0 0 120px #fff;  	
  }
}

/*33*/
@-webkit-keyframes neon3 {
  from {
  	-webkit-transform: scale3d(.8,.8,.8);
	transform: scale3d(.8,.8,.8)
  }
  to {
	-webkit-transform: scale3d(1.2,1.2,1.2);
	transform: scale3d(1.2,1.2,1.2);
  }
}
/*glow for mozilla*/
@-moz-keyframes neon3 {
  from {
  	-webkit-transform: scale3d(.8,.8,.8);
	transform: scale3d(.8,.8,.8)
  }
  to {
	-webkit-transform: scale3d(1.2,1.2,1.2);
	transform: scale3d(1.2,1.2,1.2)
  }
}
/*glow*/
@keyframes neon3 {
  from {
  	-webkit-transform: scale3d(.8,.8,.8);
	transform: scale3d(.8,.8,.8)
  }
  to {
	-webkit-transform: scale3d(1.2,1.2,1.2);
	transform: scale3d(1.2,1.2,1.2)
  }
}

/*4*/
@-webkit-keyframes neon4 {
  from {
  	-webkit-transform: rotate(- 15 deg);
	transform: rotate(- 15 deg)
  }
  to {
	-webkit-transform: rotate( 15 deg);
	transform: rotate( 15 deg);
  }
}
/*glow for mozilla*/
@-moz-keyframes neon4 {
    from {
  	-webkit-transform: rotate(- 15 deg);
	transform: rotate(- 15 deg)
  }
  to {
	-webkit-transform: rotate( 15 deg);
	transform: rotate( 15 deg);
  }
}
/*glow*/
@keyframes neon4 {
   from {
  	-webkit-transform: rotate(- 15 deg);
	transform: rotate(- 15 deg)
  }
  to {
	-webkit-transform: rotate( 15 deg);
	transform: rotate( 15 deg);
  }
}

/*index-form*/
.index-form ul li{
	padding: 0 3vw;
	line-height: 41px;
    border-bottom: 1px solid #f1f1f1;	
}
.index-form ul li label{
	display: inline-block;
	width: 20%;
	text-align: center;
}
.index-form ul li input{
    padding:10px 0;
    display:inline;
    width:74%;
    border:none;
    text-align:right;
    margin:0;
    font-size:14px;
    float:right;
}
.index-form .regitem{
    display: inline-block;
    width: 78%;
    border: none;
    margin: 0;
    vertical-align: top;
}
.index-form #city{
	text-align: right;
}
.index-form #city select{
	display: inline-block;
	width: 31%;
	margin: 0;
}
.index-form button{
    margin: 5vh 3vw 0;
    background: #437E9D;
    width: calc(100% - 6vw);
    border-radius: 6vw;
    display: block;
    text-align: center;
    color: white;
    line-height: 7vw;
    font-size: 14px;
}
.infos-class{
	width: auto;
	float: right;
	padding: 10px 0 0;
	margin-bottom: 0;
	color: #757575;
	direction: rtl;
}
.infos-class option {
	   direction: ltr;
}

/*invitation*/
.invitation{
    width: 100vw;
    height: 100vh;
    /*overflow: hidden;*/
    background: url(../images/yqh-bg.png) no-repeat center/100%;
    padding: 45vh 40px 0;
border-top: 1px solid #011d37;    
}
.inv-infos{
	text-align: center;
	padding: 23px 50px 13px;
	background: white;
	border-radius: 5px;
}
.user-img{
    position: absolute;
    margin-left: -40px;
    margin-top: -68px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.user-name{
	font-size: 14px;
}
.inv-qrcode img{
	padding: 0 20px;
}
.inv-title{
    margin: 23px auto 5px;
    font-size: 18px;
    color: #020202;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.infos{
	font-size: 14px;
	color: #737373;
    margin: 0 -38px;
}
.invitation .tips{
	display: block;
	text-align: center;
	color: white;
	line-height: 36px;
	font-size: 12px;
}
/*member-index*/
.member-index header{
	background: #F8D652;
	padding: 2vh 0 2vh 6vw;
}
.member-infos img.user-img{
    position: relative;
    margin: 0;
    width: 60px;
    height: 60px;
}
.member-infos .user-name{
    display: inline-block;
    vertical-align: top;
    margin-left: 18px;
    padding: 7px 0;
    color: #f7f7f7;
    line-height: 25px;
}
.member-index .user-name div:first-of-type{
	font-size: 16px;
}
.member-index main{
	padding: 0;
	border-top: solid 10px #f3f3f3;
}
.member-index  ul{
	font-size: 14px;
}
.member-index  ul li{
	border-bottom: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
}
.member-index  ul li a{
	color: #737373 !important;
}
.mui-table-view:before,.mui-table-view:after{
	height: 0;
}
.mui-badge{
	background: none !important;
	color: #737373;
}
/*buying*/
.buying #slider{
	position: relative;
	height: 249px;
}
.buying .slider-title{
    position: absolute;
    left: 0;
    bottom: 0;    
    width: 100%;
    padding: 0 3vw;
    font-size: 15px;
    line-height: 40px;
    background: rgba(0,0,0,.6);
    color: white;
    z-index: 999;
}
.buying .buying-infos{
	padding: 10px 3vw;
    border-bottom: 1px solid #f0f0f0;	
}
.buying .sale-price{
	margin: 0;
}

.buying .sale-price .line-thought{
	margin: 0;
	color: #666;
}
.buying .sale-price .color-gray{
	font-size: 12px;
}
.buying .sale-price  font{
	display: block;
	line-height: 1.5;
    font-weight: normal;	
}
.buying .sale-price .left font:first-of-type{
	margin-bottom: 5px;
}
.buying .sale-price .right a{
    display: block;
    background: #ec5b04;
    color: #f1f1f1;
    text-align: center;
    padding: 8px 30px;
    margin-bottom: 10px;
    border-radius: 6px;
}
.buying .sale-price .right font{
    display: block;
    text-align: right;
    color: #666;
    font-size: 12px;
}
.buying-tips{
    padding: 10px 15px;
    border-top: 9px solid #f0f0f0;
    border-bottom: 10px solid #f0f0f0;
}
.buying-tips img{
    width: auto;
    margin: 0 auto;
    display: block;
}
.titles{
	padding: 0 10px;
	line-height: 35px;
	font-size: 14px;
	color: #737373;
	font-weight: normal;
	border-bottom: 1px solid #f0f0f0;
}
.container{
    padding: 10px;
    text-align: justify;
    line-height: 1.5;
    font-size: 13px;
}
.small-title{
	line-height: 30px;
	font-size: 13px;
}
.small-img{
	width: 30px ;
	height: 30px;
	border-radius: 50%;
	margin-right: 15px;
	vertical-align: top;
}
.buy-list li{
    font-size: 12px;
    padding: 8px 15px;
    line-height: 30px;
	border-bottom: 1px solid #f2f2f2;
}
.buy-list li.mui-table-view-cell:after{
	height: 0;
}
.buy-list li:last-of-type{
	border-bottom: none;
}
.buy-list .read-more a{
	color: #737373;
	line-height: 35px;
	font-size: 12px;
}
/*member-buying-list*/
.member-buying-list .card-sale{
	
}



/*tab */

.tabs {
    background: white;
    height: 54px;
    border-bottom: 15px solid #f3f3f3;
}

.tabs a {
	display: block;
	float: left;
	width: 33.33%;
	color: #737373;
	text-align: center;
	border-right: 1px solid #f1f1f1;
	line-height: 40px;
	font-size: 16px;
	text-decoration: none;
}
.member_bargain .tabs a{
    width: 50%;
}
.tabs a.active {
    color: #f8d652;
    line-height: 39px;
    border-bottom: 1px solid #f8d652;
}

.swiper-container {
	height: auto;
	width: 100%;
	border-top: 0;
}

.swiper-slide {
	height: 100vh !important;
	width: 100%;
	color: #fff;
	background: #f1f1f1;
}

.content-slide {
	padding: 15px 0 0;
	color: #333;
	background: white;
}
.content-slide .card-sale  ul li{
    border-bottom: 1px solid #f1f1f1;	
    position: relative;
    padding: 0 15px 5px;
}
.content-slide .card-sale  ul li:last-of-type{
	border: none;
}
.content-slide .card-sale  ul li .line-thought{
	color: #757575;
	font-weight: normal;	
}
.content-slide .card-sale  ul li .sale-title{
	font-size: 14px;
}
.content-slide .card-sale  ul li a{
	color: #333;
}
.content-slide .card-sale  .sale-info{
	color: #737373;
	margin: 3px 0 ;
}
.sale-overtime{
	font-size: 12px;
	float: right;
}
.delete{
    position: absolute;
    right: 8px;
    top: 0;
    width: 25px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: 13px;
}
.delete a.delete-link{
    color: rgba(255, 255, 255, 0.78) !important;
    padding: 19px 3px;
    display: block;
    height: 87px;
    line-height: 2;    
}
.content-slide p {
	text-indent: 2em;
	line-height: 1.9;
}

.swiper-container {
	margin: 0 auto;
	position: relative;
	/*overflow: hidden;*/
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
/* Fix of Webkit flickering */
	z-index: 1;
}

.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100vh !important;
	-webkit-transition-property: -webkit-transform, left, top;
	-webkit-transition-duration: 0s;
	-webkit-transform: translate3d(0px,0,0);
	-webkit-transition-timing-function: ease;
	-moz-transition-property: -moz-transform, left, top;
	-moz-transition-duration: 0s;
	-moz-transform: translate3d(0px,0,0);
	-moz-transition-timing-function: ease;
	-o-transition-property: -o-transform, left, top;
	-o-transition-duration: 0s;
	-o-transform: translate3d(0px,0,0);
	-o-transition-timing-function: ease;
	-o-transform: translate(0px,0px);
	-ms-transition-property: -ms-transform, left, top;
	-ms-transition-duration: 0s;
	-ms-transform: translate3d(0px,0,0);
	-ms-transition-timing-function: ease;
	transition-property: transform, left, top;
	transition-duration: 0s;
	transform: translate3d(0px,0,0);
	transition-timing-function: ease;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}

.swiper-slide {
	float: left;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/*wxpay*/
.wxpay {
	background: #f4f4f4;
}
.wxpay .mui-btn-success{
    display: block;
    margin: 5vh auto 0;
    padding: 1.5vh 15vw;
    font-size: 16px;
    border: none;
    background: #62B900;
    color: rgba(255, 255, 255, 0.8);
}
.wxpay .mui-btn-warning{
    display: block;
    margin: 5vh auto 3vh;
    padding: 1.5vh 15vw;
    font-size: 16px;
    border: none;
    background: #FF6D3E;
    color: rgba(255, 255, 255, 0.8);
}
.wxpay .mui-btn-error{
    display: block;
    margin: 5vh auto 3vh;
    padding: 1.5vh 15vw;
    font-size: 16px;
    border: none;
    background: #ec5b04;
    color: rgba(255, 255, 255, 0.8);
}
.wxpay header{
	margin-bottom: 10px;
	padding: 25px 0 15px;
	background: #ec5b04;
	text-align: center;
}
.wxpay header h4{
	color: white;
	margin: 0 auto 15px;
	font-weight: bold;
}
.wxpay header small{
	font-size: 13px;
	color: rgba(255,255,255,.8);
}

.wxpay .mui-table-view-cell{
    color: #737373;
    font-size: 14px;	
}
.wxpay .card-sale  ul li{
	padding: 5px 3px;
}
.wxpay .card-sale  ul li a> .right .sale-title{
	color: #333;
	margin-top: 3px;
}
.wxpay .card-sale  ul li a> .right .sale-info{
	color: #737373;
}
.wxpay .card-sale  ul li .right div:nth-of-type(2){
	margin: 8px 0 3px;
	font-size: 14px;
}
.wxpay .consure{
	margin-top: 10px;
	background: white;
}
.wxpay .consure .titles {
    padding: 0;
    height: 35px;
}
.wxpay .consure .titles strong{
    display: inline-block;
    text-align: center;
    border-bottom: 3px solid;
    padding: 0 3vw;
    height: 36px;
}
.wxpay .cons-pd{
    height: 40px;
}
.wxpay .cons-pd .pd-info{
	font-size: 14px;
    float: left;
    line-height: 40px;	
    color: #737373;
    padding: 0 3vw;
    border-right: 1px solid #e0e0e0;    
}
.wxpay .cons-pd input[placeholder]{
	font-size: 14px;    
	text-align: right;
    float: right;
    width: calc(100% - 85px);
    border: none;		
}
.wxpay .infomation .mui-badge{
	font-size: 14px;
    max-width: 68%;
    line-height: 19px;
    height: 25px;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
.wxpay .tips{
	display: block;
	text-align: center;
	font-size: 12px;
	color: rgba(255, 109, 62, 0.7);;
}
/*下单失败*/
.wxpay.error  header{
    background: #6b6b6b;
}
/*texiao*/
.mui-special{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background: rgba(0,0,0,0.6);
}
.special-content{
    margin: 39vh 20vw;
}
.special-content .card-button{
    margin: 3vw auto 0;
    width: 150px;
    -webkit-animation-fill-mode: initial;
}
.special-content .card-button button#btn-post{
	border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    animation: neon2 0.5s ease-in-out infinite alternate;
    color: #ffd72e;
    background: -moz-linear-gradient(top, #437E9D, #16506E);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#437E9D), to(#16506E));
    background: -o-linear-gradient(top, #437E9D, #16506E);
    font-weight: bold;
}
.special-content .card-button button#btn-post strong{
    display: block;
    font-size: 36px;
    margin: 0;
    color: #da2121;    
}


/*infos-tips  消息提示框*/
.infos-tips {
	padding-top: 25vh;
}
.infos-tips .tips-content{
    height: 40vh;
    background: url(../images/success.png)no-repeat center/100%;
    padding-top: 26vh;
    max-width: 500px;
    margin: 0 auto;
}
.infos-tips .tips-content p{
	    text-align: center;
	    color: red;
	    font-size: 18px;
	    padding:  0 19vw;
}
.card-button button#btn-post.finish{
    animation: inherit;
    /* border-color: #333; */
    color: #CA5E1E;
    font-weight: bold;
    background: #ffd72e;
}
.input_apply{
    margin: 5vh 3vw 0;
    background: #437E9D;
    width: calc(100% - 6vw);
    border-radius: 6vw;
    display: block;
    text-align: center;
    color: white;
    line-height: 7vw;
    font-size: 14px;
}
iframe{
    width: 100%;
    height: 190px;
}




/*complaint 投诉*/
.complaint .titles{
    background: #faf7ff;
}
.complaint ul li{
    line-height: 40px;
    border-bottom: 1px solid #f4f4f4;
    margin-left: 3vw;
    font-size: 15px;
}
.complaint ul li.select{
    background: url(../images/ok.png)no-repeat calc(100% - 3vw) center/15px;
}
.complaint a{
    display: block;
    margin: 3vh 3vw 0;
    line-height: 40px;
    font-size: 15px;
    background: #f7f7f7;
    color: gray;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
}
.complaint a.color-green{
    background: #3076D7;
    color: white;
}
.complaint textarea{
    border: none;
    padding: 3vw;
    margin-bottom: 0;
    min-height: 100px;
}
.complaint .text-tips{
    position: absolute;
    right: 3vw;
    margin-top: -3vh;
}
.complaint-next .titles{
    border-top: 1px solid #f0f0f0;
}
.complaint-next input.titles{
    display: block;
    background: white;
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
}





/*activity-index   活动：人品大爆发*/
body.activity-index{
    background: #ff4959;
}
.activity-index .all-bg{
    position: absolute;
    margin-top: -116px;
    z-index: 2;
}
.activity-index footer{
    z-index: 4;
}
.activity-index banner {

}
.activity-index banner .activity-time{
    position: absolute;
    left: 2%;
    width: 96%;
    height: 40px;
    color: white;
    font-size: 3.6vw;
    text-align: center;
    line-height: 40px;
    margin-top: -74px;
    background: #3b3b3b;
    border: 1px solid white;
    border-radius: 7px;
    z-index: 3;
    padding: 0;
    opacity: 0.9;
}
.activity-index banner .activity-time time{
    display: inline-block;
    background: url(../images/time-bg.png) no-repeat center/100%;
    padding: 0;
    width: 21px;
    height: 43px;
    text-align: center;
    margin-right: 1px;
}
.activity-time-tips{
    text-align: left;
    line-height: normal;
    font-weight: normal;
    padding: 10px  3vw;
    font-size: 3vw;
}
.activity-index .activity-time-tips{
    padding: 5px 3vw;
    font-size: 15px;
    color: white;
    margin-top: 36px;
    line-height: 22px;
}
.activity-index main{
    position: relative;
    z-index: 4;
    margin-top: -40px;
}
.activity-index .form-content{
    background: #DE3B42;
}
.main-infos{
    padding: 15px 4vw ;
    color: white;
    background: url(../img/line.png)no-repeat center 7px/1px;
}
.main-tips{
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: rgba(255,255,255,.9);
    margin-bottom: -5px;
}
.activity-index .card-tips{
    padding-top: 14vh;
}
.activity-index .card-tips .tips-content{
    width: 84%;
    background:  url(../images/tipsbg.png)no-repeat center top/cover;
    padding-bottom: 10px;
    margin: 0 auto;
}
.activity-index .card-tips .tips-top{
    padding: 3vh 4vw;
}
.activity-index .card-tips .tips-top .color-white{
    margin-bottom: 2vh;
}
.activity-index .card-tips .tips-top .color-orange{
    font-size: 5vw;
    line-height: 1.5;
}


.tips-mid{
    margin: 5px;
    padding: 4vh 4vw 2vh;
}
.tips-mid input{
    border: none;
    border-radius: 0;
    padding-left: 0;
    border-bottom: 1px solid #FB6465;
    color: #000;
    background: none;
}
.tips-mid input:first-of-type{
    margin-bottom: 5px;
}
.tips-mid ::-webkit-input-placeholder { /* WebKit browsers */
    color: #DACCAC;
}
.tips-mid :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #DACCAC;
}
.tips-mid ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #DACCAC;
}
.tips-mid :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #DACCAC;
}
.tips-mid button{
    background: #F43038;
    border: none;
    border-radius: 35px;
    line-height: 39px;
    padding: 0;
    display: block;
    width: 100%;
    font-size: 4.3vw;
    color: #FFF8A6;
}
.tips-bottom{
    margin-top: 10px;
    color: #F43038;
    font-size: 13px;
    text-align: justify;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.special-new .special-content .card-button button.card-button2{
    animation: neon3 0.3s ease-in-out infinite alternate;
    background: url(../img/hart3.png)no-repeat center/contain;
    border: none;
    width: 180px;
    height: 180px;
    display: block;
    margin: 0 auto;
    color: white;
    font-size: 18px;
}
.special-new .special-content .card-button{
    width: auto;
}
.special-new .special-content .card-button strong{
    color: #ffa200;
    font-size: 26px;
    display: block;
}
.activity-index .main-btn{
	margin-top: 20px;
}
.activity-index .main-btn #btn-post{
    background:  url(../images/btn1.png)no-repeat center/100%;
    margin: 0 auto;
    display: block;
    width: 94%;
    line-height: 60px;
    padding: 0;
    color: white;
    font-size: 5vw;
    border: none;
}
.activity-index #launch_form .tips-content{
    position: relative;
}
.activity-index #launch_form .close{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
    background: url("../images/close.png") no-repeat;
    background-size: 100%;
    z-index: 999;
}

.activity-index .main-number{
    width: 94%;
    margin: 8px auto;
    line-height: 31px;
    margin-top: 27px;
}
.activity-index .main-number span{
    color: white;
}

.activity-index .main-number ul{
    display: block;
    width: 73%;
    vertical-align: middle;
    padding: 5px 7px;
    border: 1px solid white;
    overflow: hidden;
    border-radius: 6px;
    margin: 0 auto;
}

.activity-index .main-number ul li{
    display: inline-block;
    vertical-align: top;
    width: 3.4vw;
    height: 31px;
    border: 1px solid white;
    background: -webkit-linear-gradient(left,#ff4699,#fe3e94); /* Safari 5.1 - 6 */
    background: -o-linear-gradient(right,#ff4699,#fe3e94); /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(right,#ff4699,#fe3e94); /* Firefox 3.6 - 15*/
    background: linear-gradient(to right, #ff4699,#fe3e94); /* 标准的语法 */
}
.activity-index .main-number ul li:nth-of-type(2){
    background: -webkit-linear-gradient(left,#fc2e89,#fa2382); /* Safari 5.1 - 6 */
    background: -o-linear-gradient(right,#fc2e89,#fa2382); /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(right,#fc2e89,#fa2382); /* Firefox 3.6 - 15*/
    background: linear-gradient(to right, #fc2e89,#fa2382); /* 标准的语法 */
}
.activity-index .main-number ul li:nth-of-type(3){
    background: -webkit-linear-gradient(left,#f60e74,#f30770); /* Safari 5.1 - 6 */
    background: -o-linear-gradient(right,#f60e74,#f30770); /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(right,#f60e74,#f30770); /* Firefox 3.6 - 15*/
    background: linear-gradient(to right, #f60e74,#f30770); /* 标准的语法 */
}
.activity-index .main-number ul li:nth-of-type(4){
    background: -webkit-linear-gradient(left,#ec046e,#e7046e); /* Safari 5.1 - 6 */
    background: -o-linear-gradient(right,#ec046e,#e7046e); /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(right,#ec046e,#e7046e); /* Firefox 3.6 - 15*/
    background: linear-gradient(to right, #ec046e,#e7046e); /* 标准的语法 */
}
.activity-index .main-number ul li:nth-of-type(5){
    background: -webkit-linear-gradient(left,#dd046e,#d8046f); /* Safari 5.1 - 6 */
    background: -o-linear-gradient(right,#dd046e,#d8046f); /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(right,#dd046e,#d8046f); /* Firefox 3.6 - 15*/
    background: linear-gradient(to right, #dd046e,#d8046f); /* 标准的语法 */
}
.activity-index .main-number ul li:nth-of-type(6){
    background: -webkit-linear-gradient(left,#cd0772,#c90873); /* Safari 5.1 - 6 */
    background: -o-linear-gradient(right,#cd0772,#c90873); /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(right,#cd0772,#c90873); /* Firefox 3.6 - 15*/
    background: linear-gradient(to right, #cd0772,#c90873); /* 标准的语法 */
}
.activity-index .main-number ul li:nth-of-type(7){
    background: -webkit-linear-gradient(left,#c00974,#bc0975); /* Safari 5.1 - 6 */
    background: -o-linear-gradient(right,#c00974,#bc0975); /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(right,#c00974,#bc0975); /* Firefox 3.6 - 15*/
    background: linear-gradient(to right, #c00974,#bc0975); /* 标准的语法 */
}
.activity-index .main-number ul li:nth-of-type(8){
    background: -webkit-linear-gradient(left,#b40a75,#b10a76); /* Safari 5.1 - 6 */
    background: -o-linear-gradient(right,#b40a75,#b10a76); /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(right,#b40a75,#b10a76); /* Firefox 3.6 - 15*/
    background: linear-gradient(to right, #b40a75,#b10a76); /* 标准的语法 */
}
.activity-index .main-number ul li:nth-of-type(9){
    background: -webkit-linear-gradient(left,#aa0a77,#a60b77); /* Safari 5.1 - 6 */
    background: -o-linear-gradient(right,#aa0a77,#a60b77); /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(right,#aa0a77,#a60b77); /* Firefox 3.6 - 15*/
    background: linear-gradient(to right, #aa0a77,#a60b77); /* 标准的语法 */
}
.activity-index .main-number ul li:nth-of-type(10){
    background: -webkit-linear-gradient(left,#9e0b78,#9a0c78); /* Safari 5.1 - 6 */
    background: -o-linear-gradient(right,#9e0b78,#9a0c78); /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(right,#9e0b78,#9a0c78); /* Firefox 3.6 - 15*/
    background: linear-gradient(to right, #9e0b78,#9a0c78); /* 标准的语法 */
}
.activity-index .main-number ul li:nth-of-type(11){
    background: -webkit-linear-gradient(left,#920c79,#910c79); /* Safari 5.1 - 6 */
    background: -o-linear-gradient(right,#920c79,#910c79); /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(right,#920c79,#910c79); /* Firefox 3.6 - 15*/
    background: linear-gradient(to right, #920c79,#910c79); /* 标准的语法 */
}
.activity-index .main-number ul li:nth-of-type(12){
    background: -webkit-linear-gradient(left,#920c79,#910c79); /* Safari 5.1 - 6 */
    background: -o-linear-gradient(right,#920c79,#910c79); /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(right,#920c79,#910c79); /* Firefox 3.6 - 15*/
    background: linear-gradient(to right, #920c79,#910c79); /* 标准的语法 */
}
.activity-index .main-number ul li:nth-of-type(13){
    background: -webkit-linear-gradient(left,#910c79,#84003b); /* Safari 5.1 - 6 */
    background: -o-linear-gradient(right,#910c79,#84003b); /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(right,#910c79,#84003b); /* Firefox 3.6 - 15*/
    background: linear-gradient(to right, #910c79,#84003b); /* 标准的语法 */
}
.activity-index .main-number ul li:nth-of-type(14){
    background: -webkit-linear-gradient(left,#84003b,#6b0030); /* Safari 5.1 - 6 */
    background: -o-linear-gradient(right,#84003b,#6b0030); /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(right,#84003b,#6b0030); /* Firefox 3.6 - 15*/
    background: linear-gradient(to right, #84003b,#6b0030); /* 标准的语法 */
}
@media only screen and (min-width: 1px) and (max-width: 374px) {
    .activity-index .main-number ul li{
        width: 3.7vw;
    }
}
.card-content{
    padding: 2vh 3vw;
    margin: 2vh 3vw;
    border: 1px solid red;
    background: white;
    border-radius: 10px;
}
.card-content .mui-pull-right{
    font-size: 12px;
    padding-left: 5vw;
    padding-right: 1vw;
}
.card-content .cards-title{
    color: #594b4b;
    line-height: 1.3;
    text-align: justify;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.price ,.card-number{
    font-size: 14px;
}
.cards-links{
    font-size: 14px;
    margin-top: 1vh;
    padding-top: 1.5vh;
    border-top: 1px dashed #ff2533;
}
.cards-links img{
    width: 32px;
}
.cards-links a{
    width: 23vw;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    text-align: center;
    color: white !important;
    font-size: 16px;
    text-decoration: none !important;
}

.cards-links a{
    background: url(../images/a1.png)no-repeat center/100%;
}
.cards-links a.status-no{
    background: url(../images/a3.png)no-repeat center/100%;
}
.cards-links a.status-ok{
    background: url(../images/a2.png)no-repeat center/100%;
}
.icon-bg i{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff2533;
    margin-top: -22px;
}
.icon-bg i:first-of-type{
    left: 0;
}
.icon-bg i:last-of-type{
    right: 0;
}

/*shop*/
.shop-content{
    background: url(../images/shopbg.png)no-repeat center/cover;
    margin: 8vh 3vw 3vh;
}
.shop-inner{
    margin: 15px 10px 0 4px;
    padding-top: 1ch;
    padding-bottom: 35px;
}
.shop-inner img{
    margin-bottom: 5px;
    margin-top: 10px;
}
.shop-infos{
    padding: 15px 10px ;
    font-size: 12px;
    text-align: justify;
    word-break: break-all;
    display: -webkit-box;
    /*-webkit-line-clamp: 5;*/
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.shop-title{
    position: absolute;
    margin-top: -7vh;
    line-height: 7vh;
    width: 93%;
    text-align: center;
    color: white;
}
.shop-title span{
    position: relative;
    display: inline-block;
    z-index: 99;
    background: #ff4959;
    padding: 0 15px;
    font-weight: bold;
}
.shop-thought{
    position: absolute;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    top: 3.5vh;
}
.rank-content{
    margin: 0 3vw 6vh;
    background: rgba(0,0,0,.4);
    box-shadow: -1px -2px 2px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 2vh 2vw;
    color: white;
}
.rank-content .rank-title{
    font-weight: bold;
    letter-spacing: 3px;
    margin: 1vh auto 2vh;
}
.rank-content ul li{
    font-size: 13px;
    line-height: 23px;
    height: 23px;
}
.rank-content ul li:first-of-type{
    color: #ff9335;
}
.rank-content ul li span{
    width: 33%;
    /*display: inline-block;*/
    float: left;
    text-align: center;
}

.role-content{
	margin: 3vh 0;
	padding: 2vh 0 ;
	min-height: 300px;
}
.role-content .role-tips {
	padding: 10px 8vw;
	background: url(../img/rolebg_02.png)repeat-y center top/100%;
	height: auto;
}
.role-content .role-tips span{
	font-size: 12px;
    text-align: justify;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;	
}
.role-title{
	background: url(../img/rolebg_01.png)no-repeat center bottom/100%;
   height: auto;
   text-indent: -1000px;
   min-height: 15vh;
}
.role-bottom{
	background: url(../img/rolebg_03.png)no-repeat center top/100%;
   min-height: 16vh;	
}
/*.role-content{
    margin: 3vh 0;
    background: #ff4959  url(../images/rolebg.png)no-repeat top center /100%;
    padding: 10vh 5vw 3vh;
    min-height: 300px;
}
.role-content .role-tips {
    padding: 10px 3vw;
}
.role-content .role-tips span{
    font-size: 12px;
    text-align: justify;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.role-title{
    font-size: 5vw;
    letter-spacing: 3px;
    color: #ff5d71;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}*/
/*music   video*/
.music-content{
    position: fixed;
    z-index: 99999999;
    top: 40px;
    left: 3vw;
    width: 35px;
    height: 35px;
    overflow: hidden;
}
.music-content .music-video{
    height: 35px;
    width: 70px;
    opacity: 0;
    position: absolute;
    z-index: 1;
}
.music-control{
    background: rgba(0,0,0,.3) ;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
/* common: rotateCD */
@-webkit-keyframes myrotate {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes myrotate {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-ms-keyframes myrotate {
    0% {
        -ms-transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
    }
}

@-o-keyframes myrotate {
    0% {
        -o-transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(360deg);
    }
}

@keyframes myrotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotateCD {
    -webkit-animation: myrotate 2s infinite linear;
    -moz-animation: myrotate 2s infinite linear;
    -ms-animation: myrotate 2s infinite linear;
    -o-animation: myrotate 2s infinite linear;
    animation: myrotate 2s infinite linear;
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}





.kefu{
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0.6);
    position: fixed;
    right: 12px;
    top: 143px;
    z-index: 9999999;
    border-radius: 100%;
}
.kefu .icon{
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 12px;
    padding: 5px 0;
    color: white;
}
.kefu .icon img{
    width: 52%;
    display: block;
    margin: 5px auto;
}
.kefu .misk{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: rgba(0,0,0,.3);
    display: none;
}
.kefu .qrcode{
    position: fixed;
    width: 200px;
    height: 228px;
    background: white;
    top:50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
    display: none;
}
.kefu.active .qrcode{
    display: block;
}
.kefu.active .misk{
    display: block;
}
.progress .progress-value{
    padding: 3px !important;
    font-size: 12px !important;
    right: -17px !important;
}



/*接龙 solitaire-index */
.solitaire-index{
    background: #72c594	;
}
.solitaire-index header{
    margin-bottom: -5px;
}
.solitaire-index main{
    padding-top: 30px;
    height: 160vh;
    background: #72c594  url(../images/solitaire-bg2.png)no-repeat top center/100%;
}
.solitaire-index main>div{
    margin-bottom: 10vh;
}
.solitaire-index main>div:last-of-type{
    margin-bottom: 20px;
}
.solitaire-index .times-group{
    background: url(../images/timebg.png)no-repeat  center /95%;
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-top: -30px;
    z-index: 3;
    text-align: center;
    color: #58831f;
    font-size: 4.5vw;
}
.solitaire-index .times-group code{
    padding: 3px 6px;
    color: white;
    background-color: #316a1f;
    border-radius: 4px;
    margin: 0 2px;
}
.solitaire-index .signup{
    text-align: center;
    margin: 10px 8.5px;
    border: 1px solid #d6b727;
    background: white;
    padding: 1px;
    border-radius: 18px;
}
.solitaire-index .signup a{
    display: block;
    margin: 1px;
    color: white;
    letter-spacing: 3px;
    padding: 1.5vh 0;
    background: #ff7c00;
    font-size: 5vw;
    text-shadow: 1px 1px 1px #cc5d00;
    border-radius: 18px;
}
.solitaire-index .signup i{
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: 33;
    top: 48px;
}
.solitaire-index .signup i:first-of-type{
    left: 19px;
    background: url(../images/icon02.png)no-repeat left top/100%;
}
.solitaire-index .signup i:last-of-type{
    right: 19px;
    top: 66px;
    background: url(../images/icon01.png)no-repeat left top/100%;
}
.solitaire-index  .progress{
    background: url(../images/contentbg2.png)no-repeat center top/100% 100%;
    min-height: 200px;
    margin: 7vh 8.5px 0;
}
.solitaire-index  .progress-title{
    background: url(../images/content_title.png)no-repeat center top / calc(100% - 70px);
    width: calc(100% - 17px);
    position: absolute;
    height: 12vh;
    margin-top: -5.5vh;
}
.solitaire-index .lock-content  .progress-title{
    height: 9vh;
    margin-top: -4.5vh;
}
.progress-content{
    padding-top: 4.5vh;
}
.p-titles{
    text-align: center;
    font-size: 5vw;
    color: #836332;
    letter-spacing: 5px;
    line-height: 1.5;
    font-weight: bold;
    padding: 3px 10%;
}
.progress-inner{
    margin: 8px 12px 0;
    padding: 5px;
    border-radius: 17.5px;
    height: 35px;
    background: url(../images/progress_bg.png)no-repeat center /100% 100%;
}
.progress-bar{
    border-radius: 13px;
    min-width: 10%;
    width: 33%;
    max-width: 100%;
    height: 25px;
    background: url(../images/progress.png)no-repeat center /100% 100%;
}
.progress-tips{
    margin: 20px 25px  0;
    padding: 9px 0;
    border: 1px solid #b29536;
    background: #ffbf00;
    color: white;
    border-radius: 3px;
    font-size: 4vw;
    text-align: center;
    position: relative;
}
.progress-tips i{
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 19px solid #ffbf00;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin-top: -23px;
    /*margin-left: 65px;*/
    /*left: 0;*/
}
.lock-inner{
    padding-bottom: 5px;
}
.lock-inner>div{
    margin: 20px 15px;
    height: 132px;
}
.lock-yes{
    background: url(../images/lock-no.png)no-repeat center/95%;
}
.lock-no{
    background: url(../images/lock-yes.png)no-repeat center/95%;
}
.lock-inner>div >.left{
    width: 20%;
    text-align: center;
    margin-left: 11%;
    height: 50px;
    line-height: 50px;
    margin-top: 36px;
    color: #a25c00;
    font-weight: bold;
    font-size: 23px;
}
.lock-inner>div >.right{
    width: 63%;
    padding: 30px 37px 0 0;
}
.lock-inner>div >.right>span{
    display: block;
    font-size: 13px;
    color: white;
    /*text-shadow: 1px 1px 1px black;
    -moz-text-shadow: 1px 1px 1px black;
    -ms-text-shadow: 1px 1px 1px black;
    -webkit-text-shadow: 1px 1px 1px black;
    -o-text-shadow: 1px 1px 1px black;*/
    margin-bottom: 10px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.lock-inner>div.lock-no >.left{
    color: #8a8a8a;
}

.solitaire-index .product-content .progress-title{
    background: url(../images/content_title2.png)no-repeat center top / calc(100% - 70px);
}
.solitaire-index .roles-content .progress-title{
    background: url(../images/content_title3.png)no-repeat center top / calc(100% - 70px);
}
.solitaire-index .seller-content .progress-title{
    background: url(../images/content_title4.png)no-repeat center top / calc(100% - 70px);
}
.solitaire-index .ranks-content .progress-title{
    background: url(../images/content_title5.png)no-repeat center top / calc(100% - 70px);
}
.solitaire-index  .info{
    padding: 47px 16px 30px;
}
.solitaire-index  .info img{
    /*display: block;*/
    margin: 0 auto 5px;
    /*max-width: 80%;*/
}
.solitaire-index  .info .contain{
    text-align: justify;
}
.solitaire-index  .line-thought{
    color: #9a9998;
}
.solitaire-index  .info p{
    line-height: 1.3;
}
.info.ranks ul li{
    line-height: 30px;
}
.info.ranks ul li span{
    width: 50px;
    float: left;
    text-align: center;
    font-size: 4vw;
}
.info.ranks ul li span:nth-of-type(2){
    margin: 0 10%;
}
.info.ranks ul li span:nth-of-type(3){
    width: calc(80% - 100px);
}
.info.ranks ul li:first-of-type span{
    color: #f6ac0d;
}

.sign-tips{
    position: fixed;
    z-index: 999;
    background: rgba(0,0,0,.6);
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 35vh 27px 0;
    text-align: justify;
}
.sign-tips .tips-content{
    background: url(../images/sign-tipsbg.png)no-repeat center/cover;
    height: 240px;
    padding: 30px 20px;
}
.sign-tips .tips-content i{
    background: url(../images/btn-closed.png)no-repeat center/100%;
    position: absolute;
    width: 60px;
    height: 60px;
    right: -3vw;
    margin-top: -35px;
}

.sign-title img{
    display: block;
    height: 26px;
    margin: 0 auto 15px;
}
.sign-form input{
    background: url(../images/inputbg.png)no-repeat center /100%;
    border: none;
    text-align: center;
    border-radius: 0;
    font-size: 4vw;
    margin-bottom: 8px;
}
.sign-form button{
    display: block;
    margin: 0 auto;
    background: url(../images/btn-ok.png)no-repeat center /100%;
    border: none;
    padding: 0;
    border-radius: 0;
    width: 95px;
    height: 50px;
    text-indent: -999px;
}




/*card-index  权益卡*/
body.card-index{
    background: #e6e6e6;
}
body.card-index main{
    padding-bottom: 0;
}
.card-index header{
    padding: 10px 10px;
    background: url(../image2/banner-bg.png)no-repeat center /cover;
}
.card-contain{
    border-radius: 9px;
    overflow: hidden;
    background: #f7f8f8;
}
.card-infos{
    height: 37px;
    line-height: 37px;
    padding: 0 15px;
    /*margin-top: -3px;*/
}
.card-infos .mui-pull-left{
    color:black;
    font-weight: 500;
}
.card-infos .mui-pull-left span{
    color: #ff2a2a;
    display: inline-block;
    margin-right: 5px;
    font-size: 18px;
}
.card-infos .mui-pull-left font{
    font-size: 12px;
    color: #8a8a8a;
}
.mui-pull-right .totle{
    float: left;
    margin-top: 10px;
    font-size: 14px;
}
.mui-pull-right .color-red{
    font-size: 20px;
    margin-right: 3px;
}
a.buy-link{
    background: #ff2a2a;
    color: white;
    padding: 0 5vw;
    border-radius: 5px;
    margin-top: -5px;
    display: inline-block;
    height: 31px;
    line-height: 31px;
}

.wrapper {
    padding: 13px 10px;
}
.wrapper >ul >li{
    border:  1px solid #C8C8C8;
    background: white;
    border-radius: 5px;
    padding:  5px;
    margin-bottom: 10px;
}
.wrapper >ul >li:last-of-type{
    margin-bottom: 0;
}
.wrapper >ul> li .list-top {
    padding-bottom: 7.5px;
    /*margin-bottom: 7.5px;*/
    border-bottom:  1px dashed #e8e8e8;
}
.wrapper> ul> li .list-top .mui-pull-left{
    width: 118px;
    height: 105px;
    margin-bottom: 5px;
}
.wrapper> ul> li .list-top .mui-pull-right{
    width: calc(100% - 125px);
    min-height: 105px;
    margin-bottom: 5px;
}
.pro-titles{
    font-weight: bold;
    color: black;
    font-size: 16px;
}
.pro-adds,.pro-tels{
    font-size: 13px;
    color: #777777;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.wrapper >ul> li .list-top .mui-pull-right a.buy-link{
    float: right;
    margin-top: 3px;
    padding: 0 5vw;
}
.wrapper >ul> li .list-top .mui-pull-right a.buy-link.buying{
    background: #FF9229;
}
.list-bottom p{
    margin-bottom: 0;
}

/*card-index  权益卡 end*/




/*多商品版  砍价*/

.sale-index .card-sale ul li{
    border-bottom: 1px dashed #000;
}
.sale-index .card-sale ul li .sale-price{
    color: #f02b2b;
}
.sale-index .card-sale ul li .line-thought{
    color: #c5c4c1;
    display: block;
    margin: -4px 0 4px;
}
.sale-index .card-sale ul li .sele-link{
    color: white;
    background: #f02b2b;
}
.sale-index .card-sale ul li .sale-title{
    color: black;
    font-size: 15px;
}
.sale-index .sale-content{
    margin-top: 15px;
}
.sale-index .card-sale ul li:last-of-type{
    border: none;
}
/*多商品版  砍价 end*/







