{php define('MUI', true);}
{template 'common/header'}
<form class="tab-content clearfix js-ajax-form {if $_W['container'] !== 'wechat'}profile-form{/if}" action="{php echo $this->createMobileUrl('addpictv',array('rid' => $rid))}" method="post" enctype="multipart/form-data">
<div class="mui-content {if $do == 'index'}mc-profile{/if}">

	
	<div class="mui-input-group mui-mt15">
		<div class="mui-input-row">
			<label>标题</label>
			{php echo tpl_app_fans_form('title', $profile['nickname'], $mcFields['nickname']['title']);}
		</div>
		<div class="mui-input-row" style="height:auto;">
			<label>描述</label>
			<textarea id="content" name="content" class="form" rows="5" placeholder="描述"></textarea>
		</div>
		{php echo tpl_app_form_field_image('pic', $profile['avatar']);}
		
		
	</div>
	

	<div class="mui-content-padded">
		<button class="mui-btn mui-btn-success mui-btn-block" type="submit" name="submit" value="提交">保存</button>
		<input type="hidden" name="token" value="{$_W['token']}" />
	</div>
</div>
</form>
<div style="display:none;">
<script src="https://s13.cnzz.com/z_stat.php?id=1273392991&web_id=1273392991" language="JavaScript"></script>
</div>
{template 'common/footer'}
