
@charset "UTF-8";
@import url(/addons/chuantu/template/mobile/css/normalize.css);
/******************常用 i_reset */
* {
  margin: 0;
  padding: 0; }

@media screen and (max-width: 321px) {
  body {
    font-size: 15px; } }

@media screen and (min-width: 321px) and (max-width: 400px) {
  body {
    font-size: 16px; } }

@media screen and (min-width: 400px) {
  body {
    font-size: 18px; } }


/**  i_btn
 * 
 */
/***********************btn*****************

1. btn的border属于额外内容,这里after伪元素生成
2. 并且，注意伪元素的border-radius与原元素的border-radius的配合
使用方式：
<a href="javascript:;" class="i_btn">按钮</a>



*******************************************/
/*****************************************
* 这里btn分为方形按钮(.i_btn, 当然默认也带5px圆角)和圆角按钮(.i_btn_around)
* .i_btn 和 .i_btn_around 均不带任何颜色样式
*/
.i_btn {
  position: relative;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 2.33333333em;
  color: #fff;
  background-color: #04be02;
  border: 1px solid transparent;
  -webkit-tap-highlight-color: transparent;
  border-radius: 5px; }
  .i_btn:active {
    outline-style: none; }
  .i_btn:focus {
    outline: none;
    outline-style: none; }
  .i_btn:after {
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 10px; }

.i_btn_around {
  position: relative;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 2.33333333em;
  color: #fff;
  background-color: #04be02;
  border: 1px solid transparent;
  -webkit-tap-highlight-color: transparent;
  border-radius: 1.16666666em; }
  .i_btn_around:active {
    outline-style: none; }
  .i_btn_around:focus {
    outline: none;
    outline-style: none; }
  .i_btn_around:after {
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 2.33333333em; }

/************************上面仅仅决定一个按钮的基础布局，颜色边框等可自行配制
* .i_btn_default 附带的默认颜色样式
*/
.i_btn_default {
  color: #fff;
  background-color: #04be02;
  border-radius: 5px; }
  .i_btn_default:after {
    border-color: rgba(0, 0, 0, 0.2); }
  .i_btn_default:active {
    color: rgba(255, 255, 255, 0.4);
    background-color: #039702; }

.i_btn_disable {
  background-color: #dfdfdf !important;
  box-shadow: none;
  color: #9f9f9f !important;
  cursor: default; }

/** --------------------------------------------------------------.i_dialog
 *
 */
/******************************* 遮罩层 i_mask
 *  遮罩层颜色 ---- $i_mask_color
 */
.i_mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6); }

/*------------------------------/遮罩层 i_mask 结束----*/
.i_dialog {
  position: fixed;
  width: 80%;
  max-width: 300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
  transform: translate(-50%, -70%);
  background-color: #fff;
  text-align: center;
  border-radius: 3px;
  overflow: hidden; }

.i_dialog_hd {
  padding: 1.3em 1.6em 0.5em; }

.i_dialog_bd {
  padding: 0 1.6em 0.8em;
  word-wrap: break-word;
  word-break: break-all; }

.i_dialog_ft {
  position: relative;
  line-height: 48px;
  font-size: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex; }
  .i_dialog_ft:after {
    content: " ";
    position: absolute;
    color: red;
    border-radius: 0;
    width: 100%;
    height: 1px;
    left: 0;
    top: 0;
    border-top: 1px solid red;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); }

.i_dialog_btn {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  position: relative; }
  .i_dialog_btn:after {
    content: " ";
    position: absolute;
    color: blue;
    border-radius: 0;
    width: 1px;
    height: 100%;
    left: 0;
    top: 0;
    border-left: 1px solid blue;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5); }

.i_dialog_btn:first-child:after {
  display: none; }

@media screen and (min-width: 1024px) {
  .i_dialog {
    width: 35%; } }







    .i_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: 0;
  width: 100%;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap; }
  .i_row .i_col_1 {
    box-sizing: border-box;
    flex: 1 1 auto; }
  .i_row .i_col_2 {
    box-sizing: border-box;
    flex: 2 1 auto; }
  .i_row .i_col_3 {
    box-sizing: border-box;
    flex: 3 1 auto; }
  .i_row .i_col_4 {
    box-sizing: border-box;
    flex: 4 1 auto; }
  .i_row .i_col_5 {
    box-sizing: border-box;
    flex: 5 1 auto; }
  .i_row .i_col_6 {
    box-sizing: border-box;
    flex: 6 1 auto; }
  .i_row .i_col_7 {
    box-sizing: border-box;
    flex: 7 1 auto; }
  .i_row .i_col_8 {
    box-sizing: border-box;
    flex: 8 1 auto; }
  .i_row .i_col_9 {
    box-sizing: border-box;
    flex: 9 1 auto; }
  .i_row .i_col_10 {
    box-sizing: border-box;
    flex: 10 1 auto; }
  .i_row .i_col_11 {
    box-sizing: border-box;
    flex: 11 1 auto; }
  .i_row .i_col_12 {
    box-sizing: border-box;
    flex: 12 1 auto; }
  .i_row .i_col_offset_1 {
    margin-left: 8.33333%; }
  .i_row .i_col_offset_2 {
    margin-left: 16.66667%; }
  .i_row .i_col_offset_3 {
    margin-left: 25%; }
  .i_row .i_col_offset_4 {
    margin-left: 33.33333%; }
  .i_row .i_col_offset_5 {
    margin-left: 41.66667%; }
  .i_row .i_col_offset_6 {
    margin-left: 50%; }
  .i_row .i_col_offset_7 {
    margin-left: 58.33333%; }
  .i_row .i_col_offset_8 {
    margin-left: 66.66667%; }
  .i_row .i_col_offset_9 {
    margin-left: 75%; }
  .i_row .i_col_offset_10 {
    margin-left: 83.33333%; }
  .i_row .i_col_offset_11 {
    margin-left: 91.66667%; }
  .i_row .i_col_offset_12 {
    margin-left: 100%; }