html, body {
    height: 100%;
    color: #2a2a2a;
}

.container {
    min-height: 100%;
    background-color: #ebebeb;
    width: 100%;
    padding: .18rem;
    box-sizing: border-box;
}
.coupon_wrap {
    width: 100%;
    padding: .6rem .87rem 0;
    box-sizing: border-box;
    background-color: #fff;
}
.img_wrap {
    width: 100%;
    position: relative;
}
.img_response {
    width: 100%;
    display: block;
}
.user_info {
    position: absolute;
    padding: 0 .3rem;
    top: 35%;
    /*width: 100%;*/
    right: 0;
    box-sizing: border-box;
}
.avatar {
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    vertical-align: middle;
}
.nickname {
    /*position: absolute;*/
    /*display: inline-block;*/
    /*width: 60%;*/
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
    padding: .02rem 0;
}
.number {
    /*position: absolute;*/
    bottom: .3rem;
    left: .4rem;
}
.ii_btn_style {
    color: #2a2a2a;
    background-color: #ffa91b;
    /*line-height: .88rem;*/
    border-radius: 8px;
}

.rules {
    /*margin-top: .2rem;*/
    padding: .66rem .6rem .6rem;
    background-color: #fff;
    color: #2a2a2a;
}
.used {
    background-color: grey;
    color: #2a2a2a;
}
.btn_wrap {
    position: absolute;
    bottom: 0;
    opacity: 0;
}


@keyframes cardRightIn{
    0% {
        -webkit-transform: translate(7.5rem);
        opacity: 0;
    }
    25% {
        -webkit-transform: translate(-0.25rem) rotate(-2deg);
        opacity: 1;
    }
    40% {
        -webkit-transform: translate(-.25rem, -.5rem);
    }
    to {
        -webkit-transform: translate(0);
    }
}