body { font-family: "Microsoft YaHei";}
a:hover, a:focus, a:active { text-decoration: none;color:inherit;}
.btn:hover, .btn:focus, .btn.focus { color:inherit;}
p { color:#333;}
.mui-bar .mui-btn-link { color:#9b9b9b;}
.mui-icon { color:#999;}
.mui-views,
.mui-view,
.mui-pages,
.mui-page,
.mui-page-content {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	/*height: 100%;*/
	background-color: #fff;
	overflow: auto;
}
.mui-pages { top: 46px; height: auto;bottom:0;padding-bottom:50px; }
.mui-scroll-wrapper,
.mui-scroll {
	background-color: #f2f2f2;
}
.mui-page.mui-transitioning {
	-webkit-transition: -webkit-transform 300ms ease;
	transition: transform 300ms ease;
}
.mui-page-left {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.mui-ios .mui-page-left {
	-webkit-transform: translate3d(-20%, 0, 0);
	transform: translate3d(-20%, 0, 0);
}
.mui-navbar {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 10;
	height: 44px;
	background-color: #f7f7f8;
}
.mui-navbar .mui-bar {
	position: absolute;
	background: transparent;
	text-align: center;
	box-shadow: none;
}
.mui-android .mui-navbar-inner.mui-navbar-left {
	opacity: 0;
}
.mui-ios .mui-navbar-left .mui-left,
.mui-ios .mui-navbar-left .mui-center,
.mui-ios .mui-navbar-left .mui-right {
	opacity: 0;
}
.mui-navbar .mui-btn-nav {
	-webkit-transition: none;
	transition: none;
	-webkit-transition-duration: .0s;
	transition-duration: .0s;
}
.mui-navbar .mui-bar .mui-title {
	display: inline-block;
	width: auto;
}
.mui-page-shadow {
	position: absolute;
	right: 100%;
	top: 0;
	width: 16px;
	height: 100%;
	z-index: -1;
	content: '';
}
.mui-page-shadow {
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
}
.mui-navbar-inner.mui-transitioning,
.mui-navbar-inner .mui-transitioning {
	-webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
	transition: opacity 300ms ease, transform 300ms ease;
}
.mui-page {
	display: none;
}
.mui-pages .mui-page {
	display: block;
}
.mui-fullscreen {
	/*position: fixed;*/
	z-index: 20;
	background-color: #fff;
}
.mui-ios .mui-navbar .mui-bar .mui-title {
	position: static;
}
/*问题反馈在setting页面单独的css*/
#feedback .mui-popover{
	position: fixed;
}
#feedback .mui-table-view:last-child {
	margin-bottom: 0px;
}
#feedback .mui-table-view:first-child {
	margin-top: 0px;
}
.mui-preview-image.mui-fullscreen {
	position: fixed;
	z-index: 20;
	background-color: #000;
}
.mui-preview-header,
.mui-preview-footer {
	position: absolute;
	width: 100%;
	left: 0;
	z-index: 10;
}
.mui-preview-header {
	height: 44px;
	top: 0;
}
.mui-preview-footer {
	height: 50px;
	bottom: 0px;
}
.mui-preview-header .mui-preview-indicator {
	display: block;
	line-height: 25px;
	color: #fff;
	text-align: center;
	margin: 15px auto 4;
	width: 70px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 12px;
	font-size: 16px;
}
.mui-preview-image {
	display: none;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.mui-preview-image.mui-preview-in {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
.mui-preview-image.mui-preview-out {
	background: none;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}
.mui-preview-image.mui-preview-out .mui-preview-header,
.mui-preview-image.mui-preview-out .mui-preview-footer {
	display: none;
}
.mui-zoom-scroller {
	position: absolute;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	-webkit-backface-visibility: hidden;
}
.mui-zoom {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.mui-slider .mui-slider-group .mui-slider-item img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
	width: 100%;
}
.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
	display: inline-table;
}
.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
	display: table-cell;
	vertical-align: middle;
}
.mui-preview-loading {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}
.mui-preview-loading.mui-active {
	display: block;
}
.mui-preview-loading .mui-spinner-white {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	height: 50px;
	width: 50px;
}
.mui-preview-image img.mui-transitioning {
	-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
	transition: transform 0.5s ease, opacity 0.5s ease;
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
p img {
	max-width: 100%;
	height: auto;
}
.mui-bar-nav {z-index:3000}
/*.#setting { top:0;}
mui-table-view:before { background-color: transparent;}*/
.margin-left { margin-left:10px;}
.gray { color:#999;font-size: 14px;}
.gray p{ color:#999;font-size: 14px;}
.red { color:#e62202;}
.org { color:#e73;font-weight: bold;}
.reddot { background-color:#ff3d01;width:5px;height:5px;display: inline-block;border-radius:5px;position: absolute; }
.border-none { border:none;}
.mui-table-view { background-color: transparent;}
.mui-table-view-cell.mui-active { background-color: transparent;}
.mui-plus.mui-android header.mui-bar{ display: none; }
.mui-plus.mui-android .mui-bar-nav~.mui-content{ padding: 0; }
.jiazhang-header { background: url("../img/jiazhang-headerbg.png") top center no-repeat;background-size: cover;}
.mui-table-view .mui-media-object { line-height: 80px; max-width: 80px; height: 80px;border-radius:100% }
.mui-btn.mui-active:enabled, .mui-btn:enabled:active, button.mui-active:enabled, button:enabled:active, input[type=button].mui-active:enabled, input[type=button]:enabled:active, input[type=reset].mui-active:enabled, input[type=reset]:enabled:active, input[type=submit].mui-active:enabled, input[type=submit]:enabled:active { background-color: transparent;border:none;outline: none;}
.btn:focus { outline: none;}
.jiazhang-add { background-color: rgba(255,255,255,.8);border-radius:30px;border:none;}
.jiazhang-p { line-height: 2.4;}
.message { width:20px;}
.jifen { margin-right:10px;vertical-align: middle;}
.jiazhang-jifen { color:#e62202;line-height: 1.8;}
.jiazhang-duihuan { background-color: rgba(230,34,2,.3);color:white;border:none;}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body { color:#666;text-overflow: initial;}
.mui-grid-view.mui-grid-9 { background-color: white;border-top:none;border-left:none;border-right:none;}
.mui-grid-view.mui-grid-9 .mui-media { color:#666;}
/*.mui-grid-view.mui-grid-9 .mui-table-view-cell { border-bottom:none;}*/
.mui-table-view:before { background-color: transparent;}
.mui-control-content .mui-loading { margin-top: 50px; }
.jiazhang-nav { border-bottom:10px solid #e6e6e6;}
.jiazhang-nav img{ height:30px;}
.jiazhang-nav img.img-nav { height:55px;}
.jiazhang-list { background-color: #fff;}
.jiazhang-h2 { padding:0 10px;margin:0 0 10px 10px;border-left:2px solid orange;color:#333;}
.jiazhang-kecheng { background-color: white;padding-top:10px;}
.jiazhang-dialog { padding:10px 10px 50px;}
.jiazhang-dialog-title { background-color: #ebebeb;border-radius:20px;padding:5px 25px;width:80%;text-align: center;margin:0 auto 20px;font-size: 14px;}
.dialog { margin-left:90px;padding:8px 25px;}
.dialog-img { width:15px;position: absolute;margin-left:-13px;}
.dialog-img-right { width:15px;position: absolute;margin-left:-1px;}
.dialog-header{ border-top-left-radius: 10px;border-top:1px solid #f2f2f2;border-top-right-radius: 10px;height:10px;}
.dialog-content { border-left:1px solid #f2f2f2;border-right:1px solid #f2f2f2;padding:0 10px;}
.dialog-footer{ border-bottom-left-radius: 10px;border-bottom:1px solid #f2f2f2;border-bottom-right-radius: 10px;height:10px;}
.dialog span { font-size: 14px;}
.jiazhang-select { padding:5px 0;margin:5px 0;background:url("../img/pull-down-icon.png") 100% 50% no-repeat;background-size: 8px;width:68%;}
.btn-managezn { border-radius:20px;background-color: rgba(255,255,255,.6);color:#333;font-size: 12px;padding:3px 6px;}
.mui-input-group .mui-input-row { height:auto;}
#head-img1 { width: 40px; height: 40px;border-radius:100%;margin:5px; }
.mui-input-row .mui-btn { border:none;color:#34bb9a;width:25%;box-shadow: none;}
.mui-input-row .mui-input-clear~.mui-icon-clear, .mui-input-row .mui-input-password~.mui-icon-eye, .mui-input-row .mui-input-speech~.mui-icon-speech { right:30%;}
.mui-btn:enabled:active { color:#34bb9a;}
.btn-save { background-color: #34bb9a;border-radius:30px;color:white;padding:6px 12px;margin:10px auto;width:80%;}
.btn-longer { background-color: #e73;border-radius:30px;color:white;padding:6px 12px;margin:10px auto;width:80%;}
.mui-input-group:after { background-color: transparent;}
.jiazhang-settings-save { background-color: #f2f2f2;padding:20px 0;}
.jiazhang-zuopin img{ width:32.6%;float:left;margin-right:.6%;margin-bottom:5px;}
h4.zuopin-title { color:#52b58f;}
p.zuopin-time { color:#999;}
.mui-content { background-color: white;padding:10px 0;border-bottom:1px solid #e6e6e6;}
.jiazhang-share { padding-right:10px;}
.jiazhang-share img { width:18px;margin-right:10px;}
.recorder { background-color: white;}
header.recorder-header { background-color: #52b58f;padding:30px 0 10px;text-align: center;}
header.signin-header { background-color: #52b58f;padding:30px 0 0;text-align: center;}
header.recorder-header img { margin:10px auto;border:5px solid rgba(255,255,255,.4);border-radius:100%;width:100px;height:100px;}
header.recorder-header p,h4 { color:white;}
header.signin-header img { margin:10px auto;border:5px solid rgba(255,255,255,.4);border-radius:100%;width:100px;height:100px;}
header.signin-header p,h4 { color:white;}
.timeline { border-left:1px solid #d9d9d9;margin-left:15%;padding:20px 0;}
.timeline h4 img { width:20px;margin-right:15px;margin-left:-10px;}
.timeline p { padding:10px;}
.timeline p img { width:24%;float:left;margin-right:.5%;margin-bottom:3px;}
.hetong-content { padding:10px;background-color: white;}
.hetong-content h4 { color:#333;}
.hetong-pause { color:white;background-color: rgba(83,181,143,.9);width:60px;height:60px;display: block;border-radius:100%;position: fixed;right:15px;bottom:15px;text-align: center;padding-top:8px;z-index: 400;font-size: 14px;}
a.hetong-btn { width:50%;float:left;}
.mui-popover.mui-popover-action.mui-active { background-color: white;bottom:40%;left:10%;width:80%;border-radius:10px;padding-top:15px;}
.mui-popover .mui-table-view { background-color: white;}
.mui-input-group:before { background-color: transparent;}
.btn-message { width:50px;padding-top:20px;}
.tel { margin-right:15px;height:30px;}
.mui-control-content { background-color: white; min-height: 555px; overflow-y: auto; }
.dinggou-content { background-color: #52b58f;}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item { color:white;}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active { color:white;}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active { border-color: white;}
/*.choose-buy { padding:10px;}*/
.choose-buy .mui-checkbox { padding:10px;}
.choose-buy .mui-checkbox:last-child { margin-bottom:50px;}
.gray img { width:15px;margin:0 10px;}
.buy-list { margin:10px 0;}
.choose-buy .mui-checkbox input[type=checkbox]:checked:before, .choose-buy .mui-radio input[type=radio]:checked:before { color:#f42222;}
.choose-buy-bottom { width:100%;height:50px;background-color: #494949;color:white;line-height: 50px;padding:0 0 0 10px;}
.bottom-btn { width:20%;}
.bottom-btn-leave { width:50%;}
.choose-buy-bottom-btn { background-color: #f42222;display: inline-block;color:white;width:100%;text-align: center;}
.btn-view { width:75px;margin-right:10px;}
.yishang-header { text-align: center;padding:20px 0 10px;border-bottom:10px solid #c8c7cc;}
.remind { text-align: center;}
.remind a { margin:10px auto;}
.remind a:first-child { margin-top:30px;}
.signin-month { width:60%;margin:0 auto;}
.signin-month .signin-select { padding:10px;margin:5px 0;vertical-align: super;background:url("../img/pull-down-icon.png") 75% 50% no-repeat;background-size: 8px;color:white;}
.signin-tongji ul.mui-grid-view.mui-grid-9{ background-color: rgba(255,255,255,.2);}
.signin-tongji .mui-grid-view.mui-grid-9 .mui-media{ color:white;}
.signin-tongji .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body { color:white;}
.signin-tongji .mui-grid-view.mui-grid-9 .mui-table-view-cell:last-child { border-right:none;}
.signin-tongji .mui-grid-view.mui-grid-9 .mui-table-view-cell { padding:5px 15px;}
.btn-leave { background-color:#52b58f;color:white; }
.btn-leave-ed { background-color:#e73;color:white; }
.btn-leave-finished { background-color:#2ac3fc;color:white; }
.evaluate-img { border-radius:100%;}
.leave-left { width:48%;}
.evaluate-detail-content { padding:10px;}
.evaluate-detail-content-h4, .evaluate-detail-content ol li { color:#333;}
.order-main-content { background-color: #f5f5f5;}
.order { padding:20px;background-color: white;}
.order-h1 { margin:60px auto 20px;}
h4.evaluate-detail-content-h4-gray { font-size: 16px;margin-top:15px;color:#999;}
.evaluate-detail-content p img { width:48%;float:left;margin-right:.5%;margin-bottom:3px;}
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell { padding-left:15px;}
.mui-table-view-cell.mui-collapse.mui-active .mui-table-view .mui-table-view-cell>a:not(.mui-btn).mui-active { padding-left:30px;}
.add-header {     position: absolute; top: 50%; right: 15px; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.mui-table-view-cell.mui-collapse .mui-table-view.mui-table-view-chevron { margin-right:-20px;}
.edit-header { width:40px;border-radius:100%;height:40px;position: absolute; top: 50%; right: 75px; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.kehu-img { width:40px;height:40px;border-radius:100%}
.dialog-zixun { margin-left:40px;margin-bottom:30px;}
.dialog-zixun-right { margin-left:83%;}
.dialog-reply { width:75%;margin-left:40px;}
.dialog-left { border:none;background-color: #f5f5f5;}
.dialog-right { border:none;background-color: #52b58f;text-align: left!important;}
.dialog-right span { font-size: 14px;color:white;}
.dialog-input { left:0;width:100%;height:50px;background-color: #f5f5f5;padding-top:5px;z-index: 300;}
.dialog-input input[type=text] { display: inline-block;margin-bottom:0;background-color: white;}
.dialog-input-img { margin:0 10px;width:40px;display: inline-block;}
.jiazhang-collapse a { text-align: center;}
.ke-price { position: absolute;right:20px;}
.jiazhang-collapse.mui-active { background-color: transparent;}
.mui-table-view-cell>a:not(.mui-btn).mui-active { background-color: transparent;}
.jiazhang-collapse:after { background-color: transparent;}




/*顾问专用*/

.guwen-header { text-align: center;background: url("../img/gw-header-bg.png") 50% no-repeat;background-size: cover;padding:30px 0 10px;}
.guwen-header img { margin:15px auto;width:80px;height:80px;border-radius:100%;border:5px solid rgba(255,255,255,.4);}
.guwen-header h4 { color:#333;}
.guwen-main { padding:10px;}
.guwen-main img { width:60px;margin:10px auto;}
.guwen-left { float:left;width:44%;margin-right:1%;background-color: #52b58f;text-align: center;padding:96px 10px;}
.guwen-right { text-align:center;margin-left:45%;}
.guwen-right-top { background-color: #fb7b31;padding:20px;}
.guwen-right-bottom { background-color: #2ac3fc;padding:20px;margin-top:5px;}
.guwen-huiyuan-header { background-color: #52b58f;text-align: center;color:white;height:50px;line-height: 50px;position: relative;display: table;border: none}
.mui-table-view .guwen-huiyuan-img { width:40px;height:40px;border-radius:100%;}
.guwen-huiyuan-content { padding-left:30%;}
.guwen-collapse .mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after { top:60%;}
.guwen-collapse:last-child { margin-bottom:50px;}
.guwen-xueyuan-header-f { text-align: center;height: 50px;line-height: 50px;font-size: 14px;color:#333;border-bottom:1px solid #e6e6e6;}
.guwen-xueyuan-content { padding:10px;}
.guwen-huiyuan-btn { color:white;border-color:white;margin-top: 8px;}
.guwen-fankui-dot { margin-left: -25px; margin-top: 5px;width:8px;height:8px;}
.guwen-erweima { position: absolute;top:20%;left:10%;width:80%;}
.guwen-erweima img { width:100%;border:10px solid white;}
.mui-popover .mui-popover-arrow.mui-bottom { display: none;}
.mui-popover { width:100%;}
.paike-bottom-btn { width:100%;height:50px;line-height: 50px;background-color: #52b58f;text-align: center;}
.paike-bottom-btn a { color:white;}
.guwen-xueyuan-choose .mui-table-view-cell.mui-checkbox.mui-left, .mui-table-view-cell.mui-radio.mui-left { padding-left:10px;}
.guwen-sheet.mui-grid-view.mui-grid-9 .mui-table-view-cell { padding:40px 15px;}

.mui-bar .mui-btn { display: table-cell;border:none}
.mui-btn.mui-active:enabled {border-bottom:2px solid #fff;padding:15px;top:0}




/*老师专用*/
.teacher-header { border-bottom:10px solid #e6e6e6;}
.teacher-content img { width:35px;}
.teacher-btn-group { margin:10px 0 10px 50px;}
.btn-upload { color:white;background-color: #52b58f;text-align: center;padding:6px 12px;font-size:14px;}
.btn-pingjia { color:white;background-color: #fb7b31;text-align: center;padding:6px 12px;font-size:14px;}
.btn-late  { color:white;background-color: #14a9ff;text-align: center;padding:6px 12px;font-size:14px;}
.badge-teacher { border-radius:0;background-color: #fb7b31;width:20px;height:20px;line-height: 20px;color:white;font-size:14px;display: inline-block;text-align: center;}
.badge-test { background-color: #52b58f;}
.upload-zuopin-btn { padding:10px;}
.upload-zuopin-btn img { width:24%;margin-bottom:3px;vertical-align: bottom;}
.upload-img { display: inline-block;width:23.5%;height:85px;}
.listed { overflow-y: auto;}
.mui-bar-tab ~ .mui-content { padding-bottom:0;}
textarea { border:none;}
@media screen and (max-width: 330px) {
	.mui-table-view-cell, .mui-grid-view.mui-grid-9 .mui-table-view-cell, .mui-input-row label { padding:10px;}
	.gray img { width:15px;margin:0 1px;}
	.btn-view { width:65px;margin-right:10px;}
	h4.zuopin-title { font-size:16px;}
	.btn-save { font-size: 12px;}
	.dialog-img-right { width:10px}
	.dialog-img { width: 10px;margin-left:-10px;}
	.guwen-main img { width:40px;margin:10px auto;}
	.guwen-left { padding:84px 10px;}
}
