{template 'web/common/header'}
<ul class="nav nav-tabs">
    <li>
        <a href="{php echo $this->createWebUrl('region', array('op' => 'list'));}">小区管理</a>
    </li>
    <li><a href="{php echo $this->createWebUrl('region', array('op' => 'set','regionid' => $regionid));}">小区设置</a></li>
    <li><a href="{php echo $this->createWebUrl('region', array('op' => 'fields','regionid' => $regionid));}">业主注册字段</a></li>
    <li><a href="{php echo $this->createWebUrl('region', array('op' => 'sms','regionid' => $regionid));}">短信设置</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('region', array('op' => 'xqprint','regionid' => $regionid));}">打印机设置</a></li>
</ul>
<form action="" method="post" class="form-horizontal form">
    <div class="main">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">短信设置</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">短信接口</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="print[api]"  value="1" {if empty($set['api']) || $set['api']==1} checked{/if} />云联打印机</label>
                        <label class="radio-inline">
                            <input type="radio" name="print[api]"  value="2" {if $set['api']==2 } checked{/if} />飞印打印机</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">报修打印</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="print[repair]" value="1" {if $set['repair']==1} checked{/if} /> 开启</label>
                        <label class="radio-inline">
                            <input type="radio" name="print[repair]" value="0" {if empty($set['repair'])} checked{/if} /> 不开启</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">意见打印</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="print[report]"  value="1" {if $set['report']==1 } checked{/if} /> 开启</label>
                        <label class="radio-inline">
                            <input type="radio" name="print[report]"  value="0" {if empty($set['report']) } checked{/if} /> 不开启</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">缴费打印</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="print[cost]"  value="1" {if $set['cost']==1 } checked{/if} /> 开启</label>
                        <label class="radio-inline">
                            <input type="radio" name="print[cost]"  value="0" {if empty($set['cost']) } checked{/if} /> 不开启</label>
                    </div>
                </div>
                <div class="panel panel-default" id="yl">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="ylkey" class="col-sm-2 control-label">API密钥</label>
                            <div class="col-sm-10">
                                <input type="text" name="print[ylkey]" id='ylkey' class="form-control" value="{$set['ylkey']}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="yldeviceno" class="col-sm-2 control-label">终端编号</label>
                            <div class="col-sm-10">
                                <input type="text" name="print[yldeviceno]" id='yldeviceno' class="form-control" value="{$set['yldeviceno']}" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel panel-default" id="fy" style="display: none">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="fycode" class="col-sm-2 control-label">商户编码</label>
                            <div class="col-sm-10">
                                <input type="text" name="print[fycode]" id='fycode' class="form-control" value="{$set['fycode']}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fykey" class="col-sm-2 control-label">API密钥</label>
                            <div class="col-sm-10">
                                <input type="text" name="print[fykey]" id='fykey' class="form-control" value="{$set['fykey']}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fydeviceno" class="col-sm-2 control-label">终端编号</label>
                            <div class="col-sm-10">
                                <input type="text" name="print[fydeviceno]" id='fydeviceno' class="form-control" value="{$set['fydeviceno']}" />
                            </div>
                        </div>


                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary span3" name="submit" value="提交">提交</button>
                        <input type="hidden" name="token" value="{$_W['token']}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(function () {
        $("input:radio[name='print[api]']").click(function () {
            var api= $('input:radio[name="print[api]"]:checked').val();
            if(api == 1){
                $("#yl").show();
                $("#fy").hide();
            }
            if(api == 2){
                $("#fy").show();
                $("#yl").hide();
            }
        })
    })
</script>
{template 'web/common/footer'}
