<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微早教-顾问端-排课管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="{MODULE_URL}assets/css/mui.min.css">
    <link rel="stylesheet" href="{MODULE_URL}assets/css/app.css">
</head>
<body>
<div id="paike">
    <div class="mui-navbar-inner mui-bar mui-bar-nav">
        <button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
            <span class="mui-icon mui-icon-left-nav"></span>返回
        </button>
        <h1 class="mui-center mui-title">排课管理</h1>
    </div>
    <div class="mui-content">
        <header class="guwen-huiyuan-header mui-bar mui-bar-tab">
            <a href="{php echo $this->createMobileurl('consultant',array('page'=>'paike','op'=>'yes'))}" class="mui-btn mui-btn-outlined guwen-huiyuan-btn mui-control-item" id="yesterday">昨 天</a>
            <a href="{php echo $this->createMobileurl('consultant',array('page'=>'paike','op'=>'today'))}" class="mui-btn mui-btn-outlined guwen-huiyuan-btn mui-control-item mui-active" id="today">今 天</a>
            <a href="{php echo $this->createMobileurl('consultant',array('page'=>'paike','op'=>'tom'))}" class="mui-btn mui-btn-outlined guwen-huiyuan-btn mui-control-item" id="tomorrow">后 天</a>
        </header>
        <div class="mui-content">
            <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
                {loop $class_list $index $item}
                <li class="mui-table-view-cell">
                    <a class="mui-navigate-right" href="{php echo $this->createMobileurl('consultant',array('page'=>'paike_detail','schedule_id'=>$item['id']))}">
                        <div class="mui-table">
                            <div class="mui-table-cell">
                                <h4 class="mui-ellipsis zuopin-title">{$item['class_name']}</h4>
                                <h5 class="gray"><img src="{MODULE_URL}assets/img/icon-time.png" />{$item['timeslot']}
                                    <img src="{MODULE_URL}assets/img/icon-teacher.png" /> 老师：{$item['tutor_fullname']}
                                </h5>
                                <p class="mui-h6 mui-ellipsis gray"><img src="{MODULE_URL}assets/img/icon-position.png" />{$item['campus_name']}{$item['campus_address']}</p>
                            </div>
                        </div>
                    </a>
                </li>
                {/loop}
            </ul>
        </div>
    </div>
</div>
<script src="{MODULE_URL}assets/js/mui.min.js"></script>
<script src="{MODULE_URL}assets/js/mui.view.js "></script>
<script>
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
    document.getElementById('today').addEventListener('tap', function() {
        mui.openWindow({
            url:"{php echo $this->createMobileurl('consultant',array('page'=>'paike','op'=>'today'))}",
            id:"{php echo $this->createMobileurl('consultant',array('page'=>'paike','op'=>'today'))}"
        })
    });
    document.getElementById('yesterday').addEventListener('tap', function() {
        mui.openWindow({
            url:"{php echo $this->createMobileurl('consultant',array('page'=>'paike','op'=>'yes'))}",
            id:"{php echo $this->createMobileurl('consultant',array('page'=>'paike','op'=>'yes'))}"
        })
    });
    document.getElementById('tomorrow').addEventListener('tap', function() {
        mui.openWindow({
            url:"{php echo $this->createMobileurl('consultant',array('page'=>'paike','op'=>'tom'))}",
            id:"{php echo $this->createMobileurl('consultant',array('page'=>'paike','op'=>'tom'))}"
        })
    });
</script>
</body>
</html>