<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微早教-顾问端-我的学员</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="{MODULE_URL}assets/css/mui.min.css">
    <link rel="stylesheet" href="{MODULE_URL}assets/css/app.css">
</head>
<body>
<div id="xueyuan">
    <div class="mui-navbar-inner mui-bar mui-bar-nav">
        <button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
            <span class="mui-icon mui-icon-left-nav"></span>返回
        </button>
        <h1 class="mui-center mui-title">我的学员</h1>
    </div>
    <div class="mui-content">
        <header class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary guwen-huiyuan-header" id="segmentedControl">
            <a href="#item1" class="mui-btn mui-btn-outlined guwen-huiyuan-btn mui-control-item mui-active">所有学员</a>
            <a href="#item2" class="mui-btn mui-btn-outlined guwen-huiyuan-btn mui-control-item">当天试听</a>
            <a href="#item3" class="mui-btn mui-btn-outlined guwen-huiyuan-btn mui-control-item">已试听</a>
        </header>
        <div class="guwen-xueyuan-header-f">
            您名下有{$num}名会员，其中{$listen_num}个已全部试听
        </div>
        <div id="item1" class="mui-control-content mui-active">
            <ul class="mui-table-view">
                {loop $member_list $index $item}
                <li class="mui-table-view-cell guwen-collapse mui-collapse mui-active">
                    <a class="mui-navigate-right" href="#">
                        <img class="mui-media-object mui-pull-left guwen-huiyuan-img" src="../assets/img/cbd.jpg">学生：{$item['fullname']}（{$item['age']}岁）
                        <!--<p class="mui-pull-right red">20/50</p>-->
                        <p>家长：{$item['parent_fullname']}     手机：{$item['parent_mobile']}</p>
                    </a>
                    <div class="mui-collapse-content mui-active editit">
                        <ul class="mui-table-view mui-table-view-chevron">
                            <li class="mui-table-view-cell mui-media">
                                <div class="mui-media-body guwen-huiyuan-content">
                                    <p class="mui-ellipsis"><span class="gray">试听状态：</span>{if $item['attend_status']==1}已试听{else}未试听{/if} </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                {/loop}
            </ul>
        </div>
        <div id="item2" class="mui-control-content">
            <div class="guwen-xueyuan-content mui-text-center">
                暂时木有
            </div>
        </div>
        <div id="item3" class="mui-control-content">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell guwen-collapse mui-collapse">
                    <a class="mui-navigate-right" href="#">
                        <img class="mui-media-object mui-pull-left guwen-huiyuan-img" src="../assets/img/record-002.png">学生：王晓明（6岁）
                        <p class="mui-pull-right gray">已试听</p>
                        <p>家长：王刚     手机：18853201456</p>
                    </a>
                    <div class="mui-collapse-content">
                        <ul class="mui-table-view mui-table-view-chevron">
                            <li class="mui-table-view-cell mui-media">

                                <div class="mui-media-body guwen-huiyuan-content">
                                    <p class="mui-ellipsis"><span class="gray">学员来源：</span>市场部 </p>
                                    <p class="mui-ellipsis"><span class="gray">学员性别：</span>男 </p>
                                    <p class="mui-ellipsis"><span class="gray">学员年龄：</span>4岁 </p>
                                    <p class="mui-ellipsis"><span class="gray">试听时间：</span>2016-07-14 </p>
                                    <p class="mui-ellipsis"><span class="gray">试听课程：</span>机器人手工 </p>
                                    <p class="mui-ellipsis"><span class="gray">试听班级：</span>初级 </p>
                                    <p class="mui-ellipsis"><span class="gray">跟进状态：</span>未分配 </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="mui-table-view-cell guwen-collapse mui-collapse">
                    <a class="mui-navigate-right" href="#">
                        <img class="mui-media-object mui-pull-left guwen-huiyuan-img" src="../assets/img/recorder-heaer.png">学生：王晓明（6岁）
                        <p class="mui-pull-right gray">已试听</p>
                        <p>家长：王刚     手机：18853201456</p>
                    </a>
                    <div class="mui-collapse-content">
                        <ul class="mui-table-view mui-table-view-chevron">
                            <li class="mui-table-view-cell mui-media">

                                <div class="mui-media-body guwen-huiyuan-content">
                                    <p class="mui-ellipsis"><span class="gray">学员来源：</span>市场部 </p>
                                    <p class="mui-ellipsis"><span class="gray">学员性别：</span>男 </p>
                                    <p class="mui-ellipsis"><span class="gray">学员年龄：</span>4岁 </p>
                                    <p class="mui-ellipsis"><span class="gray">试听时间：</span>2016-07-14 </p>
                                    <p class="mui-ellipsis"><span class="gray">试听课程：</span>机器人手工 </p>
                                    <p class="mui-ellipsis"><span class="gray">试听班级：</span>初级 </p>
                                    <p class="mui-ellipsis"><span class="gray">跟进状态：</span>未分配 </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="mui-table-view-cell guwen-collapse mui-collapse">
                    <a class="mui-navigate-right" href="#">
                        <img class="mui-media-object mui-pull-left guwen-huiyuan-img" src="../assets/img/recorder-heaer.png">学生：王晓明（6岁）
                        <p class="mui-pull-right gray">已试听</p>
                        <p>家长：王刚     手机：18853201456</p>
                    </a>
                    <div class="mui-collapse-content">
                        <ul class="mui-table-view mui-table-view-chevron">
                            <li class="mui-table-view-cell mui-media">

                                <div class="mui-media-body guwen-huiyuan-content">
                                    <p class="mui-ellipsis"><span class="gray">学员来源：</span>市场部 </p>
                                    <p class="mui-ellipsis"><span class="gray">学员性别：</span>男 </p>
                                    <p class="mui-ellipsis"><span class="gray">学员年龄：</span>4岁 </p>
                                    <p class="mui-ellipsis"><span class="gray">试听时间：</span>2016-07-14 </p>
                                    <p class="mui-ellipsis"><span class="gray">试听课程：</span>机器人手工 </p>
                                    <p class="mui-ellipsis"><span class="gray">试听班级：</span>初级 </p>
                                    <p class="mui-ellipsis"><span class="gray">跟进状态：</span>未分配 </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="{MODULE_URL}assets/js/mui.min.js"></script>
<script src="{MODULE_URL}assets/js/mui.view.js "></script>
<script>
    mui.init({
        swipeBack:true //启用右滑关闭功能
    });
</script>
</body>
</html>