<!DOCTYPE html><html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" type="text/css" href="{MON_XKWKJ_RES}css/wkjm2.11.min.css?v=11" />
    <script src="{MON_XKWKJ_RES}js/jquery_min.js" type="text/javascript"></script>
    <script type="text/javascript">var commonjspath = 'source/plugin/tom_weikanjia/images';</script>
    <script src="{MON_XKWKJ_RES}js/common.js" type="text/javascript" type="text/javascript"></script>
</head>
<body><link href="{MON_XKWKJ_RES}css/shop_header.css" rel="stylesheet" type="text/css">
<section class="shop_header clearfix">
    <a href="javascript:history.back(-1);"><span id="shop_header_back">&nbsp;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <!--<span id="shop_header_more"><a></a><a></a><a></a></span>-->
</section>
<!--<div id="shop_header_list" style="display:none">-->
    <!--&lt;!&ndash;<ul>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="plugin.php?id=tom_shop&amp;mod=index">首 页</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="plugin.php?id=tom_pintuan&amp;mod=index">拼团商城</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="plugin.php?id=tom_weikanjia&amp;mod=index">砍价商城</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="plugin.php?id=tom_coupon&amp;mod=index">优惠券</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--</div>-->
<script language="javascript">
    var show_list_tab = 0;
    $("#shop_header_more").click( function (){
        if(show_list_tab == 1){
            show_list_tab = 0;
            $("#shop_header_list").hide();
        }else{
            show_list_tab = 1;
            $("#shop_header_list").show();
        }
    });
</script>
<div class="mcIndex gyStyleBj">
    <div class="renwuInfo">
        <img class="bjImg img-responsive" src="{MON_XKWKJ_RES}images/myindextp1.jpg"/>
        <div class="infoXq">
            <div class="touxiangk">
                <a href="#"><img src="{$fansInfo['headimgurl']}" /></a>
            </div>
            <p class="nicheng">{$fansInfo['nickname']}</p>
            <div class="lanmulist">
                <!--<ul class="row qingchu ul1">-->
                    <!--&lt;!&ndash;<li class="qcPadding col-xs-6"><a href="{php echo $this->createMobileUrl ( 'auth',array('au'=>Value::$REDIRECT_MY_KJ))}"><p>{$joinCount}</p><p class="titleTextK">我的砍价</p></a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li class="qcPadding col-xs-6"><a href="#"><p>{$helpCount}</p><p class="titleTextK">我帮砍的</p></a></li>&ndash;&gt;-->
                <!--</ul>-->
            </div>
        </div>
    </div>
    <div class="dingdank">
        <ul class="ul3 gyListYi">
            <li>
                <a href="{php echo $this->createMobileUrl('order',  array(),true)}" class="row qingchu">
                    <div class="leftk qcPadding col-xs-5">
                        <img src="{MON_XKWKJ_RES}images/mcindextpS4.png" />
                        <span>全部订单</span>
                    </div>
                    <div class="rightk qcPadding col-xs-7">
                        <span>查看全部已下单商品</span>
                        <img src="{MON_XKWKJ_RES}images/mcindextp5.png" />
                    </div>
                </a>
            </li>
        </ul>
        <ul class="ul4 row qingchu">
            <li class="col-xs-4 qcPadding daifukuan">
                <a href="{php echo $this->createMobileUrl('order',  array('status'=>1),true)}">
                    <div class="iconK">
                        <img src="{MON_XKWKJ_RES}images/mcindextp9.png" class="tuBianxiao" />
                        {if $waitePayCount > 0}<em>{$waitePayCount} </em>{/if}
                    </div>
                    <span>待付款</span>
                </a>
            </li>
            <li class="col-xs-4 qcPadding daifahuo">
                <a href="{php echo $this->createMobileUrl('order',  array('status'=>$this::$KJ_STATUS_GM),true)}">
                    <div class="iconK">
                        <img src="{MON_XKWKJ_RES}images/mcindextp10.png" class="tuBianxiao" />
                    </div>
                    <span>待发货</span>
                </a>
            </li>
            <li class="col-xs-4 qcPadding daishouhuo">
                <a href="{php echo $this->createMobileUrl('order',  array('status'=>$this::$KJ_STATUS_YFH),true)}">
                    <div class="iconK">
                        <img src="{MON_XKWKJ_RES}images/mcindextp11.png" class="tuBianxiao" />
                    </div>
                    <span>已发货</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="qitaList">
        <ul class="ul5 gyListYi">
            <li>
                <a href="{php echo $this->createMobileUrl('myaddress',  array(),true)}" class="row qingchu">
                    <div class="leftk qcPadding col-xs-5">
                        <img src="{MON_XKWKJ_RES}images/mcindextp13.png"/>
                        <span>收货地址</span>
                    </div>
                    <div class="rightk qcPadding col-xs-7">
                        <span></span>
                        <img src="{MON_XKWKJ_RES}images/mcindextp5.png" />
                    </div>
                </a>
            </li>



            <li>
                <a href="{php echo $this->createMobileUrl ( 'auth',array('au'=>Value::$REDIRECT_MY_KJ))}" class="row qingchu wkjCard">
                    <div class="leftk qcPadding col-xs-5">
                        <img src="{MON_XKWKJ_RES}images/lm_icon1.png">
                        <span>我的砍价</span>
                    </div>
                    <div class="rightk qcPadding col-xs-7">
                        <span>{$joinCount}</span>
                        <img src="{MON_XKWKJ_RES}images/mcindextp5.png">
                    </div>
                </a>
            </li>


        </ul>

    </div>

    <!-- bottom nav start -->
    <div class="bottom_block clearfix"></div>
    <div class="bottomColumn">
        <ul class="ul1 clearfix">
            <!--<li><a class="tuijian " href="plugin.php?id=tom_weikanjia&amp;mod=index&amp;prand=809"></a></li>-->
            <!--<li><a class="cates" href="plugin.php?id=tom_weikanjia&amp;mod=cates&amp;prand=809"></a></li>-->
            <li><a class="kanjia" href="{php echo $this->createMobileUrl('HomeIndex', array(), true)}"></a></li>
            <li><a class="orders" href="{php echo $this->createMobileUrl('order',  array(),true)}"></a></li>
            <li><a class="wodeShow" href="{php echo $this->createMobileUrl('ucenter',  array(),true)}"></a></li>
        </ul>
    </div>
    <!-- bottom nav end -->
    <div style="display: none;"></div>
</div>
</body>
</html>