* {
	margin: 0;
	padding: 0;
}
body{
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	background: white;
	max-width: 640px;
	margin:  0 auto;
	overflow-x: hidden;
}
Element {
	/*-webkit-user-select:none;
  -moz-user-select:none;
  -khtml-user-select:none;
   user-select:none;*/
  -webkit-touch-callout:none;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(255,255,255,0)
}
li{
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}
.none{
	display: none;
}
.hr-10{
    height: 10px;
    border: none;
    background: #e6e6e6;	
}
.color-orange{
	color: #ea5413;
}
.mui-titles{
    /*margin: 0 10px;
    padding: 10px 2px;
    text-align: left;
    border-bottom: 1px solid #e6e6e6;*/
    padding: 10px 12px;
    text-align: left;
    border-bottom: 1px solid #e6e6e6;
}
.mui-titles span{
	font-weight: bold;
	font-size: 14px;
	padding: 3px;
	padding-left: 10px;
	color: #ea5413;
	border-left: 3px solid #ea5413;
}
.overflow{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.overflow a{
	color: #262626;
}
/*home-index  首页 */

header .mui-slider-indicator{
	/*display: none;*/
}
main{
	padding-bottom: 50px;
}
ul.nav-slider {
	padding-bottom: 10px;
}
ul.nav-slider li{
	float: left;
	width: 25%;
	text-align: center;
}
ul.nav-slider li a{
	display: block;
	height: 90px;	
	padding: 10px 0;
	color: black;
	font-size: 12px;
}
ul.nav-slider li a img{
	max-width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto 3px ;
	border-radius: 50%;
}
.home-nav .mui-slider-indicator{
	bottom: 0;
}

.recommend-list{
	padding: 12px 10px ;
}
.recommend-list > li{
	margin-bottom: 10px;
}
.recommend-list > li:last-of-type{
	margin-bottom: 0;
}
.recommend-list >ul>li{
	/*border: 1px solid #dcdcdc;*/
	padding:  13px 10px;
	border-radius: 3px;
	margin-bottom: 10px;
}
.recommend-list >ul>li:last-of-type{
	margin-bottom: 0;
}
.rec-infos{
	/*margin-bottom: 3px;*/
}
.rec-titles{
	color: #323232;
	/*margin-top: 5px;*/
	font-size: 15px;
}
.rec-titles time{
	color: #c8c8c8;
	display: block;
	font-size: 12px;
}
.rec-prices{
	font-size: 12px;
}
.min-price font{
	font-size: 18px;
}
.under-line{
	text-decoration: underline;
	color: #ea5413;
}
.rec-prices .right span{
    display: inline-block;
    vertical-align: top;
}
.rec-link{
    margin: 7px 0 0 7px;
    vertical-align: top;
    background: #ea5413;
    color: white;
    padding: 4px 8px;
    display: inline-block;
}

.home-footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	height: 50px;
	background: #fafafa;
	border-top: 1px solid #dcdcdc;
}
.home-footer ul li{
	float: left;
	width: 33.33%;
	text-align: center;
}
.home-footer ul li a{
	display: block;
	height: 50px;
	color: #646464;
	font-size: 12px;
}
.home-footer ul li a i{
	background: url(../images/icon-1.png)no-repeat left top /699px 20px;
	display: block;
	width: 19px;
	height: 19px;
	margin: 7px auto 2px;
}
.home-footer ul li.select a{
	color: #ea5413;
}
.home-footer ul li:nth-of-type(1) a i{
    background-position: -372px 3px;	
}
.home-footer ul li:nth-of-type(1).select a i{
    background-position: -8px 3px;
}
.home-footer ul li:nth-of-type(2) a i{
    background-position: -468px 2px;
}
.home-footer ul li:nth-of-type(2).select a i{
    background-position: -104px 2px;
}
.home-footer ul li:nth-of-type(3) a i{
    background-position: -661px 2px;
}
.home-footer ul li:nth-of-type(3).select a i{
    background-position: -298px 2px;
}
.home-footer ul li:nth-of-type(4) a i{
    background-position: -661px 1px;
}
.home-footer ul li:nth-of-type(4).select a i{
    background-position: -297px 1px;
}


/*home-index  首页 end*/

.user-h-infos{
	background: #674CA1;
    padding: 40px 15px;
}
.user-img{
	width: 75px;
	height: 75px;
	border: 3px solid white;
	border-radius: 50%;
}
.user-h-infos .user-info{
	display: inline-block;
	margin-left: 5px;
	vertical-align: top;
	margin-top: 18px;
}
.user-h-infos .user-info span{
	display: block;
	color: white;
}
.user-h-infos .user-info span small{
	color: rgba(255, 255, 255, 0.5);
}
.user-h-infos .user-info span small .under-line{
	color: rgba(255, 255, 255, 0.5);
	display: inline-block;
	margin: 0 5px;
}
.user-h-infos .right a{
    display: block;
    color: white;
    font-size: 12px;
    border: 1px solid;
    padding: 0 7px;
    height: 24px;
    line-height: 24px;
	margin-top: 27px;
}
.rec-img{
	position: relative;
	overflow: hidden;
}
.rec-img img{
	max-height: 200px;
	width:100%;
}
.rec-pru{
    position: absolute;
    right: -22px;
    font-size: 13px;
    color: white;
    transform: rotate( 45deg);
    top: 17px;
    padding: 0 24px;
}
.hot .rec-pru{
    background: #EA5413;	
}
.news .rec-pru{
	background: #90C31F;
}
.history .rec-pru{
	background: #777777;
}




/*列表排版2*/
.list2.recommend-list{
    padding: 12px 0 0;	
}

.list2.recommend-list  > li{
    margin-bottom: 10px;
    padding: 0 12px 10px;
    border-bottom: 1px solid #f0f0f0;
}
.list2.recommend-list  > li:last-of-type{
	border-bottom: none;
	padding-bottom: 0;
}

/*权益卡  核销页面修改*/
.wxpay{
	background: #F5F5F5;
}
.wxpay header{
    margin-bottom: 0;
    padding: 28px 0;
    background: #E67817;
    text-align: center;	
}
.wxpay header h4 {
    color: white;
    margin: 0 auto 7px;
    font-weight: bold;
}
.wxpay .mui-btn-success {
    display: block;
    margin: 20px auto 15px;
    padding: 1.5vh calc(50% - 44px);
    font-size: 16px;
    border: none;
    background: #62B900;
    color: rgba(255, 255, 255, 0.8);
}
.wxpay .mui-btn-warning {
    display: block;
    margin: 20px auto 15px;
    padding: 1.5vh calc(50% - 44px);
    font-size: 16px;
    border: none;
    background: #FF6D3E;
    color: rgba(255, 255, 255, 0.8);
}
.card-sale  ul li a> .right{
	padding: 0 10px;
}
.wxpay .card-sale  ul li{
    padding: 10px 12px 6px;
}
.wxpay .card-sale  ul li a> .right .sale-title{
	font-size: 18px;
}
.wxpay .cons-pd{
    height: 50px;
    line-height: 50px;	
}
.wxpay .cons-pd .pd-info{
	border-right: none;
    padding: 0 0 0 12px;	
    height: 50px;
    line-height: 50px;
}
.wxpay .cons-pd input[placeholder]{
    width: calc(100% - 96px);
    height: 50px;
    line-height: 50px;
    text-align: right;
    padding-left: 10px;
}
.wxpay .cons-pd ::-webkit-input-placeholder{
	color: #b3b3b3;
}

.wxpay .mui-table-view-cell{
	font-size: 15px;
	padding: 18px 12px;
}

.wxpay .infomation .mui-badge{
	right: 12px;
	padding-right: 0;
}
.wxpay span>.color-orange{
	font-size: 15px;
}
.wxpay .mui-table-view-cell:after{
	background: #dbdbdb;
}
.wxpay  .seller-content {
	margin-top: 10px;
	background: white;
}
.wxpay  .seller-content .titles{
	margin-top: 10px;
	background: white;
	padding: 0 12px ;
	height: 49px;
	line-height: 50px;
}
.wxpay  .seller-content ul li {
	line-height: 25px;
    font-size: 15px;
    color: #666666;
    margin-left: 12px;
    border-bottom: 1px solid #f0f0f0;
    background: url(../newimg/card_icon.png)no-repeat calc(100% - 12px) -1px/ 21px;
	padding: 10px 0;
}
.wxpay  .seller-content ul li:last-of-type{
	border-bottom: 0;
} 
.wxpay  .seller-content ul li.click{
	background: url(../newimg/card_icon2.png)no-repeat calc(100% - 12px) 1px/ 21px;
}


/*砍价列表 home-product-list*/
/*.home-product-list .inner-wrap{
	padding: 2vw;
}*/
.home-product-list .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-object{
	height: 130px;
	border: 1px solid #f3f3f3;
}
.home-product-list .mui-table-view.mui-grid-view{
	padding-bottom: 16px;
	/*margin-bottom: 20px;*/
	border-bottom: 1px solid #dbdbdb;
}
.home-product-list .index-bat2 .mui-card-content {
	border: none !important;
	background: white;
	padding-top: 10px !important;
	border-radius:0 ;
}
.home-product-list .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{
	margin-top: 2px;
	margin-bottom: 3px;
	height: auto;
}
.home-product-list  .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body .recommend-list{
	padding: 0 3px;
}
.home-product-list .rec-titles{
	padding-bottom: 6px ;
	text-align: left;
	padding-top: 6px;
}
.home-product-list .rec-prices{
	text-align: left;
	line-height: 18px;
}
.home-product-list .mui-col-xs-6 .rec-link{
	width: 100%;
	text-align: center;
	margin: 5px 0 2px 0px;
}
.home-product-list .mui-titles{
	text-align: center;
}
.home-product-list .mui-titles span{
	padding: 0;
	border: 0;
}


/*product-index 产品购买中心*/
.product-index .head-block{
	background: white;
	z-index: 9999;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 10px 12px;
	height: 54px;
	overflow: hidden;
	border-bottom: 1px solid #fafafa;
}
.product-index .mui-search{
	line-height: 34px;
}
.product-index .mui-search.mui-active:before {
	/*top: 25px;*/
	left: 10px;
}
.product-index .mui-search input[type=search]{
	margin-bottom: 0;
	border-radius: 17px;
	text-indent: 5px;
	background-color: #f3f3f3;
}
.product-index header{
	margin-top: 54px;
}
.product-index .hr-10{
	background: #f3f3f3;
}
.product-index .recommend-list {
	padding-bottom: 0;
}
.product-index .recommend-list > li{
	width: 32%;
	float: left;
	margin-right: 2%;
	margin-bottom: 5px;
}
.product-index .recommend-list > li:nth-of-type(3n){
	margin-right: 0;
}
.product-index .rec-img{
	position: relative;
}
.product-index .number{
	position: absolute;
	bottom: 5px;
	height: 25px;
	line-height: 25px;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	width: 100%;
	text-align: center;
	font-size: 12px;
}
.product-index .small-title{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	color: #6f6f6f;
}

/*product-index 产品购买中心 end*/


/*product-diy 产品制作列表*/
.product-diy header{
	padding: 15px 0;
	background: #27A5EF;
	color: rgba(255, 255, 255, 0.9);
}
.product-diy .mui-text-center{
	font-size: 16px;
}
.product-diy .diy-cash {
	margin: 25px 0 ;
}
.product-diy .diy-cash .mui-text-center{
	font-size: 13vw;
	color: white;
}
.product-diy .diy-infos ul li{
	text-align: center;
	width: 33.33%;
	float: left;
	font-size: 14px;
	line-height: 1.3;
}
.diy-menu ul li{
	text-align: center;
	width: 33.33%;
	float: left;
	font-size: 14px;
	line-height: 1.3;
	padding: 25px 0;
	border-right: 1px solid #dbdbdb;
}
.diy-menu ul li:last-of-type{
	border-right: 0;
}
.diy-menu ul li a{
	display: block;
}


/*puzzle-detail   拼图*/

body.puzzle-detail{
	background: white;
}
body.puzzle-detail main{
	padding-bottom: 0;
}
.puzzle-detail .head-title{
	text-align: center;
}
.puzzle-detail .puzzle-titles{
	font-size: 20px;
	color: #5f4d46;
	font-weight: bold;
	padding: 20px 10% 10px;
}
.puzzle-time{
	font-size: 14px;
	padding: 2px 15px;
	margin-bottom: 15px;
}
.puzzle-time code{
	display: inline-block;
	padding: 0 3px;
	background: #548425;
	color: white;
	font-size: 13px;
	border-radius: 3px;
	border: 1px solid white;
	margin-right: 2px;
}
.puzzle-btn{
	padding-bottom: 10px;
}
.puzzle-btn button{
	background: #ffd639;
	color: white;
	text-shadow: 1px 1px 1px #5f4d46;
	width: 90%;
	padding: 10px 0;
	border-radius: 25px;
	font-size: 18px !important;
	font-weight: bold;
	/* box-shadow: 0 2px 2px #bf9f23; */
	animation: neon5 0.5s ease-in-out infinite alternate;
}
.puzzle-btn button:active,
.puzzle-btn button:hover,
{
	box-shadow: none;
}
.puzzle-totle{
	margin-top: 15px;
	background: #daf0f7;
	padding: 5px;
}
.totle-inner{
	border: 1px solid #5e4b45;
	border-radius: 7px;
	background-position: center !important;
	background-size: contain !important;

	overflow: hidden;
}
.totle-inner ul li{
	width: 33.333%;
	height: 30vw;
	float: left;
	vertical-align: bottom;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	background: rgba(0,0,0,.5);
	position: relative;
}
.totle-inner ul li.has{
	background: none;
}
.totle-inner ul li:nth-of-type(3n){
	border-right: 0;
}
.totle-inner ul li:nth-last-of-type(3),
.totle-inner ul li:nth-last-of-type(2),
.totle-inner ul li:nth-last-of-type(1){
	border-bottom: 0;
}
.totles{
	position: absolute;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,.4);
	color: white;
	padding: 4px;
	border-top-left-radius: 8px;
}

.puzzle-detail .title{
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	color: #5f4d46;
}
.puzzle-detail .title span:first-of-type,
.puzzle-detail .title span:last-of-type{
	position: absolute;
	display: inline-block;
	background: #5f4d46;
	height: 1px ;
	width: 65px;
	margin-left: -70px;
	margin-top: 19px;
}
.puzzle-detail .title span:last-of-type{
	margin-left: 5px;
}
.puzzle-detail .infos{
	margin: 0 5px;
	padding: 10px ;
	background: #f6f6f6;
	font-size: 14px;
	color: #333;
	border-radius: 7px;
	letter-spacing: 1px;
}
.puzzle-detail ul.rank li{
	line-height: 30px;
	height: 31px;
	border-radius: 0;
}
.puzzle-detail ul.rank li span{
	float: left;
	width: 33%;
	text-align: center;
}
.puzzle-detail .detail ul li {
	background: url(../newimg/puzzle/infos.png)no-repeat left  3px/15px;
	padding-left: 20px;
}
.puzzle-detail .detail ul li code{
}
.puzzle-detail .btn-ok{
	width: 50%;
	float: left;
	text-align: center;
}
.puzzle-detail .btn-ok button{
	margin: 15px auto 5px;
	display: block;
	width: 90%;
	background: lightgrey;
	color: white;
}
.puzzle-detail .btn-ok button.status-ok{
	background: #ffd639;
	border: navajowhite;
	text-shadow: 1px 1px 1px #5f4d46;
}
.puzzle-detail .form-content{
	background: #ffd639 !important;
}
.puzzle-detail .form-content label{
	color: black !important;
}
.puzzle-detail .puzzle-success{
	/*display: none;*/
	position: fixed;
	z-index: 99999;
	background: rgba(0,0,0,.6);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 45% 27px 0;
}
.puzzle-detail .puzzle-success .success-inner{
	border: 10px solid white;
	border-radius: 20px;
	background: #fd9d0e;
	text-align: center;
}
.puzzle-detail .puzzle-success .success-inner .success-closed{
	position: absolute;
	right: -15px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
}
.suc-img-content{
	background: url(../newimg/puzzle/img-bg.png)no-repeat center/100%;
}
.suc-img-content div.suc-div{
	margin: 40px 0;
	position: relative;
}
.suc-img-content div.suc-div ul {
	position: absolute;
	left: calc(50% - 60px);
	top: 0;
	width: 120px;
	height: 120px;
	display: block;
	border-radius: 14px;
	overflow: hidden;
}
.suc-img-content div.suc-div ul li{
	background: rgba(0,0,0,.5);
	width: 40px;
	height: 40px;
	float: left;
	position: relative;
	vertical-align: bottom;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}
.suc-img-content div.suc-div ul li:nth-of-type(3n){
	border-right: 0;
}
.suc-img-content div.suc-div ul li:nth-last-of-type(3), .suc-img-content div.suc-div ul li:nth-last-of-type(2), .suc-img-content div.suc-div ul li:nth-last-of-type(1) {
	border-bottom: 0;
}
.suc-img-content div.suc-div ul li.has{
	background: none;
}
.suc-img-content div.suc-div ul li.has .totles{
	padding: 1px;
	font-size: 12px;
}
.puzzle-detail .puzzle-success .success-inner img.suc-img{
	border: 1px solid darkslateblue;
	border-radius: 12px;
	width: 120px;
	height: 120px;
	border-radius: 14px;
	max-width: 120px;
}
.suc-tips{
	position: absolute;
	color: #b54503;
	text-shadow: 1px 1px 1px #ffffda;
	margin: -25px 0 0;
	width: 100%;
}
.suc-btn{
	height: 50px;
	line-height: 50px;
	margin: 5px 0 10px;
}
.suc-btn a{
	padding: 0 19px;
	display: inline-block;
	height: 50px;
	line-height: 43px;
	font-size: 18px;
	color: white;
	text-shadow: 1px 1px 1px #b54503;
	background: url(../newimg/puzzle/suc-btn.png)no-repeat center/cover;
}
.infos.detail h4{
	text-align: center;
	margin: 10px 0 15px;
}
/*puzzle-detail end*/



/*seckill-index
 * 秒杀 模块
 * */
.seckill-index{
	max-width: 640px;
	margin: 0 auto;
}
.seckill-index header .mui-slider-indicator{
	display: block;
}
.seckill-index header .mui-slider-item{
	margin-bottom: -7px;
}
.seckill-container{

}
.seckill-container .mui-table-view-cell{
	padding: 0 ;
}
.mui-content-padded{
	padding: 0;
	margin: 0;
}
.seckill-index  .mui-segmented-control{
	border: none !important;
}
.seckill-index .mui-segmented-control a{
	position: relative;
	height: 38px;
}
.seckill-index .mui-slider .mui-slider-group .mui-slider-item{
	border: none !important;
}
.seckill-index .mui-scroll{
	width: 100% !important;
}
.seckill-index .mui-segmented-control .mui-control-item{
	width: 50%;
	border: none;
	font-size: 13px;
	color: #9b9b9b ;
}
.mui-table-view:before,.mui-table-view:after{
	height: 0 !important;
}
.seckill-index .mui-segmented-control .mui-control-item.mui-active{
	background: none ;
	color: #ff1818 !important;
	/*border-bottom: 1px solid #ff1818;*/
}
.seckill-index .mui-segmented-control .mui-control-item.mui-active span{
	border-bottom: 1px solid #ff1818;
	padding: 8px 12px ;
}
.segmented-title{
	position: relative;
	text-align: center;
	line-height: 39px;
	font-size: 14px;
}
.segmented-title span{
	position: absolute;
	width: calc(100% - 24px);
	border-top: 1px solid #efefef;
	top: 49%;
	left: 12px;
}
.segmented-title div{
	position: relative;
	z-index: 99;
	background: white;
	display: inline-block;
	padding: 0 10px;
}
.seckill-container .segmented-inner .mui-table-view-cell{
	padding: 0px ;
}
.segmented-title img{
	display: inline-block;
	max-height: 20px;
	vertical-align: middle;
	margin-right: 5px;
}
.customer-banner{
	position: relative;
	margin: 0 12px;
	max-width: calc(100% - 24px);
	max-height: 175px;
	overflow: hidden;
}
.customer-banner img{
	border-radius:3px ;
}
.skill-time{
	position: absolute;
	right: 15px;
	height: 23px;
	line-height: 25px;
	font-size: 12px;
	padding: 0 13px 6px;
	background: rgba(0,0,0,.6);
	color: white;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.skill-time time{
	margin-left: 3px;
}
.skill-time code{
	display: inline-block;
	padding: 0 2px ;
	border-radius: 2px;
	background: white;
	color: black;
	margin: -3px 2px 0 0;
	height: 14px;
	vertical-align: middle;
	line-height: 15px;
}
.customer-3-banner{
	padding: 10px 12px;
	background: #f0f0f0;
}
.customer-3-banner ul li{
	width: calc(33.3333% - 4px);
	margin-right: 6px;
	float: left;
}
.customer-3-banner ul li:nth-of-type(3){
	margin-right: 0;
}
.customer-3-banner ul li a{
	position: relative;
	display: block;
}
.customer-3-banner ul li img{
	height: calc(33vw - 10px);
	border-radius:3px ;
}
.customer-3-banner .sale-price{
	text-align: center;
	position: absolute;
	bottom: 3px;
	width: 100%;
	color: #f02b2b;
	font-size: 15px;
	line-height: 24px;
	background: rgba(255,255,255,.6);
}
.customer-3-banner .sale-price small{
	font-size: 12px;
	display: inline-block;
	margin-left: 10px;
	color: #999;
	text-decoration: line-through;
}
.customer-list{
	margin-bottom: 10px;
}
.customer-list ul li{
	padding: 10px 12px ;
	/* margin: 0 12px; */
	border-bottom: 1px solid #f1f1f1;
}
.customer-list .left {
	max-width: 33%;
	max-height: 110px;
}
.customer-list .left img{
	height: 77px;
	width: 115px !important;
}
.customer-list .right{
	width: 67%;
	padding: 0 2vw;
}
.customer-list .right .sale-title {
	color: black;
	font-size: 15px;
	line-height: 20px;
	text-align: justify;
	height: 20px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	margin-bottom:16px;
}
.customer-list .right .sale-price {
	color: #f02b2b;
}
.customer-list .right .line-thought {
	text-decoration: line-through;
	font-size: 12px;
	color: #c5c4c1;
	display: block;
	margin: -4px 0 4px;
}
.customer-list .right .sele-link1{
	float: right;
	background: #f15353;
	color: white;
	border: none;
}
.customer-list .right .sele-link1.over{
	background: #6c6b6b;
}
.customer-list .right .sele-link1.tis{
	background: #52b948;
}
#slider .mui-scroll-wrapper{
	transform:none !important;
}
/*special-index   专题*/
.special-index .customer-banner{
	background: #f6f6f6;
	margin: 0 !important;
	padding: 0 12px;
	max-width: 100% !important;
}
.special-index  .customer-banner a{
	display: block;
	height: 148px;
}
.special-index  .customer-banner img{
	border-radius: 0;
}
.seckill-index.special-index  .mui-segmented-control{
	background: #f6f6f6;
}

/*seckill-detail  秒杀详情*/

.seckill-detail .head-block{
	position: relative;
	background: #ff4243;
	color: white;
	padding: 5px 12px;
}
.seckill-detail .head-inner {
	font-size: 14px;
}
.seckill-detail .head-block .head-tips{
	position: absolute;
	left: 0;
	z-index: 999;
	padding: 4px 7px;
	margin-top: -25px;
	height: 23px;
	font-size: 12px;
	background: #ff4243;
	color: white;
	border-top-right-radius: 6px;
}
.seckill-detail .skill-price{
	font-size: 21px;
	font-weight: bold;
}
.seckill-detail .skill-price small{
	display: inline-block;
	margin-right: 5px;
	font-weight: normal;
}
.seckill-detail .skill-sale .line-thought{
	text-decoration: line-through;
	color: rgba(255,255,255,.7);
	font-size: 12px;
}
.seckill-detail .right-tips{
	font-size: 14px;
	margin-bottom: 2px;
}
.seckill-detail .head-block time,.seckill-detail .seckill-buy-btn time {
	font-size: 12px;
}
.seckill-detail .seckill-buy-btn .right-tips{
	float: left;
	font-size: 0.8rem;
}
.seckill-detail .seckill-buy-btn .right{
	padding: 5px 0;
	width: 100%;
	font-size: 0.8rem;
	color: white;
	padding-left: 10px;
}
.seckill-detail .head-block time code,.seckill-detail .seckill-buy-btn time code{
	display: inline-block;
	padding: 0 4px;
	border-radius: 2px;
	background: white;
	color: #ff4243;
	margin: 0 3px 0 0;
	width: 20px;
	height: 18px;
	line-height:18px ;
}

.seckill-detail .seckill-info-1{
	padding-left: 12px;
	border-bottom: 1px solid #e5e5e5;
}
.seckill-detail .seckill-info-1 .infos-title{
	line-height: 19px;
	text-align: justify;
	font-size: 15px;
	color: #323332;
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 10px;
}
.seckill-detail .seckill-info-1 .info-number{
	line-height: 38px;
	color: #b0b0b0;
	font-size: 12px;
}
.seckill-detail .seckill-info-1 .info-number .right{
	margin-right: 12px;
}
.seckill-detail .seckill-info-2{
	padding: 12px 12px 0;
	background: #faf9f9;
	font-size: 12px;
	color: #9b9b9b;
}
.seckill-detail .seckill-info-2 span{
	display: inline-block;
	width: 32%;
	margin-bottom: 12px;
}
.seckill-detail .seckill-info-2 span img{
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	margin-right: 5px;
	margin-top: -3px;
}
.seckill-info-3{
	padding: 0 12px;
	line-height: 44px;
	font-size: 12px;
	font-weight: bold;
	color: #484848;
	letter-spacing: 1px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.seckill-info-3 img{
	max-height: 15px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	margin-top: -3px;
}
.seckill-info-4{
	padding: 18px 8px 16px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.infos-inner{
	min-height: 61px;
}
.seckill-info-4 .infos-inner >div{
	height: 61px;
	float: left;
	width: calc(33% - 18px);
	text-align: center;
	font-size: 14px;
	color: #323232;
}
.seckill-info-4 .infos-inner >div.clear{
	width: 0;
	height: 0;
}
@media only screen and (min-width: 1px) and (max-width: 374px) {
	.seckill-info-4 .infos-inner >div{
		font-size: 12px;
	}
}
.seckill-info-4 .infos-inner>div:nth-of-type(2n) {
	width: 28px;
}
.seckill-info-4 .infos-inner>div:nth-of-type(2n) img{
	vertical-align: top;
	margin-top: 14px;
}
.seckill-info-4  .infos-inner>div img{
	display: block;
	margin: 0 auto 10px;
	width: 30px;
}
.seckill-info-5{
	padding-left: 12px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.seckill-info-5 .left{
	width: 78%;
	padding: 13px 0 13px;
	border-right: 1px solid #e5e5e5;
}
.seckill-info-5 .right{
	width: 22%;
	padding: 16px 12px 10px 12px;
	cursor: pointer;
}
.seckill-info-5 .left span{
	display: block;
	font-size: 13px;
	color: #acaaaf;
	line-height: 15px;
}
.seckill-info-5 .left span.infos-titles{
	font-size: 15px ;
	color: #323232;
	font-weight: bold;
	margin-bottom: 5px;
}
.seckill-nav {
	border-bottom: 1px solid #e5e5e5;
	font-size: 14px;
	font-weight: bold;
}
.seckill-nav ul li{
	width: 50%;
	float: left;
	text-align: center;
}.seckill-nav ul li a{
	 color: #323232;
	 line-height: 40px;
	 display: block;
	 cursor: pointer;
 }
.seckill-nav ul li:first-of-type a{
	color: #ed4f4f;
	border-bottom: 1px solid #ed4f4f;
}

/*详情切换*/

.seckill-index-nav .seckill-nav2{
	border-bottom: none;
}
.seckill-index-nav .seckill-nav2  a.select{
	border-bottom: none;
}
.seckill-index-nav .seckill-nav2  a.select span{
	padding: 0 7px 10px;
	border-bottom: 1px solid #ff1818;
}
.seckill-nav2 {
	height: 41px;
	border-bottom: 1px solid #e5e5e5 ;
}

.seckill-nav2 a{
	text-align: center;
	width: 50%;
	float: left;
	padding: 0 !important;
	height: 41px;
	line-height: 41px;
	font-size: 13px;
	color: #9b9b9b;
}
.seckill-nav2 a.select{
	border-bottom: 1px solid #ff1818;
	color: #ff1818;
}
.seckill-nav2 a span{
	/*padding: 0 !important;
	border: none !important;*/
}
.seckill-detail .mui-content-padded{
	margin-top: -1px;
	border-top: 1px solid #e5e5e5 !important;
}
.mui-segmented-control .seckill-nav2 .mui-control-item.mui-active{
	border-bottom: 1px solid #ff1818 !important;
}

/*详情切换  end*/


.seckill-goods-content{
	padding: 10px 12px;
	font-size: 14px;
	line-height: 1.2;
}
.seckill-goods-content img{
	margin: 3px 0;
	max-width: 100%;
}
.seckill-more-titles{
	line-height:40px;
	height: 40px;
	text-align: center;
	background: #f9f9f8;
	color: #323232;
	font-size: 14px;
	font-weight: bold;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.seckill-more-inner{
	padding: 10px 12px;
}
.seckill-more-inner ul li{
	width: calc(50% - 6px);
	float: left;
	border: 1px solid #e5e5e5;
}
.seckill-more-inner ul li:nth-of-type(2n + 1){
	margin-right: 12px;
}
.seckill-more-inner ul li a{
	color: #323232;
	font-size: 14px;
	display: block;
}
.seckill-title{
	padding: 0 5px;
}
.seckill-more-inner ul li a .seckill-price{
	color: #ff4344;
	padding-bottom: 5px;
}
.seckill-more-inner ul li a .seckill-price strong{
	font-size: 20px;
}
.seckill-more-inner ul li a .seckill-title div:first-of-type{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	margin-bottom: 2px;
}
.seckill-more-inner .line-thought{
	text-decoration: line-through;
	color: #888;
}

/*秒杀底部*/
.seckill-footer{
	position: fixed;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
	z-index: 999;
	border-top: 1px solid #efefee;
	background: white;
}
.seckill-footer ul li{
	float: left;
	width: 60px;
	text-align: center;
}
.seckill-footer ul li:first-of-type{
	border-right: 1px solid #efefee;
}
.seckill-footer ul li a{
	display: block;
	font-size: 12px;
	color: #888;
}
.seckill-footer ul li img{
	display: block;
	width: 20px;
	margin:  8px auto 0;
}
.seckill-footer ul li.seckill-buy-btn{
	width: calc(100% - 120px);
	line-height: 50px;
	background: #ff4344;
}
.seckill-footer ul li.seckill-buy-btn a{
	color: white;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 2px;
}

/*秒杀评价 seckill-evaluate*/
.seckill-evaluate ul li{
	border-bottom: 5px solid #f5f5f7;
	padding: 12.5px 9px 9px;
}
.seckill-evaluate ul li .user-info .user-img{
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
}
.seckill-evaluate ul li .user-info .user-name{
	font-size: 13px;
	color: #323232;
}
.seckill-evaluate ul li .right{
	line-height: 40px;
	font-size: 13px;
	color: #bfbfbf;
}
.seckill-evaluate ul li .evaluate-inner{
	padding-left: 40px;
	font-size: 14px;
	line-height: 21px;
}
.seckill-evaluate ul li .evaluate-img{
	padding-left: 40px;
	padding-bottom: 15px;
}
.seckill-evaluate ul li .evaluate-img img{
	width: 70px;
	height: 70px;
	display: inline;
	margin-right: 5px;
}
.seckill-evaluate ul li .evaluate-love{
	text-align: right;
}
.seckill-evaluate ul li .evaluate-love a{
	display: inline-block;
	margin-right: 5px;
	/*点赞框  border: 1px solid #aaa9a9;*/
	border: 1px solid #aaa9a9;
	color: #aaa9a9;
	padding: 0 18px;
	line-height: 22px;
	height: 23px;
	font-size: 12px;
	font-weight: bold;
	border-radius: 17px;
	cursor: pointer;
}
.seckill-evaluate ul li .evaluate-love a i{
	display: inline-block;
	vertical-align: top;
	width: 14px;
	height: 14px;
	background: url(../img/icon-love.png)no-repeat left top/100%;
	margin-top: 4px;
	margin-right: 9px;
}
.seckill-evaluate ul li .evaluate-love a.love-add{
	/*点赞框 border: 1px solid #ff4344;*/
	border: 1px solid #ff4344;
	color: #ff4344;
}
.seckill-evaluate ul li .evaluate-love a.love-add i{
	background-position: 0px -31.1px;
}



/*砍价 个人中心 seckill-user*/
.seckill-user{
	background: #f4f4f4;
}
.seckill-user header{
	background: url(../images/user-bg.jpg)no-repeat center /cover;
	padding: 11vh 0 7vh;
}
.seckill-user header .user-qrcode{
	position: absolute;
	right: 16px;
	top: 14px;
	color: white;
	font-size: 12px;
	text-align: center;
}
.seckill-user header .user-qrcode img{
	display: block;
	width: 30px;
	margin: 0 auto;
}
.seckill-info{
	text-align: center;
	font-size: 15px;
	color: white;
}
.seckill-info img{
	display: block;
	margin: 0 auto 5px;
}

.seckill-user-list ul li{
	background: white ;
	line-height: 50px;
	padding: 0 10px;
	border-bottom: 1px solid #e5e5e5;
}
.seckill-user-list ul li:first-of-type{
	margin-bottom: 6px;
}
.seckill-user-list ul li:last-of-type{
	border-bottom: none;
}
.seckill-user-list ul li a{
	font-size: 14px;
	color: #323232;
	display: block;
}
.seckill-user-list ul li img{
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-top: -2px;
	margin-right: 5px;
}



/*秒杀 添加评价 seckill-evaluate-add*/
body.seckill-evaluate-add {
	background: #f4f4f4;
}
.seckill-evaluate-add .pro-infos{
	padding: 15px 12px 10px;
	border-bottom: 5px solid #f0f2f5;
	background: white;
}
.seckill-evaluate-add .pro-infos .left img{
	width: 83px;
	height: 83px;
	border-radius: 3px;
}
.seckill-evaluate-add .pro-infos .right{
	width: calc(100% - 95px);
}
.seckill-evaluate-add  .sale-info{
	font-size: 14px;
}
.seckill-evaluate-add .sale-evaluate{
	display: inline-block;
	font-size: 12px;
	height: 21px;
	line-height: 21px;
	background: #ff0000;
	color: rgba(255,255,255,.8);
	padding: 0 5px;
	border-radius: 3px;
}
.seckill-evaluate-add .titles{
	background: white;
	padding: 0 12px;
	line-height: 40px;
	font-size: 14px ;
}
.text-content{
	position: relative;
}
.text-content div.text-number{
	position: absolute;
	right: 12px;
	bottom:8px;
	font-size: 14px;
	color: #c5c5c5;
	z-index: 99;
}
.text-content textarea{
	padding: 10px 12px;
	font-size: 14px;
	border: none;
	border-radius: 0;
	background: #f8f8f8;
	min-height: 135px;
	margin-bottom: 0;
}
.file-content {
	padding:  12px;
	background: white;
}
.file-content div{
	display: inline-block;
	position: relative;
	margin-right: 2px;
}
.file-content img{
	width: 80px;
	height: 80px;
	border-radius: 3px;
}
.file-content div input{
	position: absolute;
	width: 80px;
	height: 80px;
	z-index: 99;
	opacity: 0;
}
.seckill-evaluate-add button{
	display: block;
	width: 50%;
	margin: 35px auto;
	padding: 1.5vh 15vw;
	font-size: 16px;
	border: none;
	background: #FF6D3E;
	color: rgba(255, 255, 255, 0.8);
}
.file-content div.file-input label{
	position: absolute;
	right: 3px;
	bottom: 5px;
	font-size: 14px;
	color: #c5c5c5;
}







/*seckill-index
 * 秒杀 模块 end
 * */
