@charset "gb2312";
/******************************************* shop_header *************************************************/
.shop_header{ height: 35px; width: 100%; margin-right: auto; margin-left: auto; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #e4e1e1; background-color: #FFF; line-height: 35px; color: #404040; background-image: url(shop_header_kanjia.png);background-size: 150px auto;background-position: center;background-repeat: no-repeat;margin-bottom: 0px;}
#shop_header_back{position: relative;top: 0px;display: inline;}
#shop_header_back:after, #shop_header_back:before {
  border: 8px solid transparent;
  border-right: 8px solid #F9F8F8;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: -20px;
  content: '';
}
#shop_header_back:before {border-right-color: #bbb9b9;right: -18px;}
#shop_header_more{ height: 35px; width: 40px; float: right; line-height: 35px; }
#shop_header_more a{   margin-top: 14px;height: 4px; width: 4px; float: left; margin-right: 5px; display: inline-block; background-color: #bbb9b9;border-radius: 2px; }

#shop_header_list{ min-height: 32px;max-height: 200px; width: 120px; position: absolute; top: 34px; right: 5px; z-index: 999999999999; background-color: #FFF; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: #D7D7D7; border-bottom-color: #D7D7D7; border-left-color: #D7D7D7; padding-bottom: 5px; overflow: scroll; }
#shop_header_list li{ height: 35px; width: 90px; border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: #E6E6E6; line-height: 35px; margin-left: 10px; overflow: hidden;font-size: 15px;}
#shop_header_list li a{width: 100%;height: 100%;display: block;color: #636262;}