{template 'common/header'}

<div id="page-body">
  <div class="page msg_success js_show">
    <div class="weui-msg">
      <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
      <div class="weui-msg__text-area">
          <h2 class="weui-msg__title">报名成功</h2>
          <p class="weui-msg__desc">恭喜，您已成功报名此活动</p>
      </div>
      <div class="weui-msg__opr-area">
      </div>
      <div class="weui-msg__extra-area">
        <div class="weui-footer">
          <p class="weui-footer__links">
              <a href="http://www.protobia.net" class="weui-footer__link">ProtobiaTech</a>
          </p>
          <p class="weui-footer__text">Copyright © 2016-2017 ProtibaTech</p>
        </div>
      </div>
    </div>
  </div>
</div>

{template 'common/footer'}
