<!--头部-->
<head>
    <meta charset="UTF-8">
    <title>{$setting['title']}</title>
    <meta name="keywords" content="{$setting['keywords']}" /> 
    <meta name="description" content="{$setting['description']}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{$_W['siteroot']}addons/yimu_webpc/template/webapp/intel/css/swiper.css">
    <link rel="stylesheet" href="{$_W['siteroot']}addons/yimu_webpc/template/webapp/intel/css/style.css">
    <link rel="stylesheet" href="{$_W['siteroot']}addons/yimu_webpc/template/webapp/intel/css/animate.min.css">
    <script src="{$_W['siteroot']}addons/yimu_webpc/template/webapp/intel/js/jquery.min.js"></script>
    <script src="{$_W['siteroot']}addons/yimu_webpc/template/webapp/intel/js/wow.min.js"></script>
    <script src="{$_W['siteroot']}addons/yimu_webpc/template/webapp/intel/js/script.js"></script>
    <link rel="shortcut icon" href="{$_W['siteroot']}attachment/{$setting['favicon']}" /> 
</head>
        <header>
           <div class="menuContainer">
            <div class="logoBox">
                <img src="{$_W['siteroot']}attachment/{$setting['flogo']}" alt="" class="yimuLogo">
            </div>
            <nav>
                <ul class="menu">
                	
                    {if $unnemu['indexbt'] == 1}<a href="{php echo url('entry/webapp/index', array('m' => 'yimu_webpc'))}"><li {if $_GPC['do']=='index'}class="selectedMenu"{/if}>{$nemu['index']}</li></a>{/if}
                    {if $unnemu['productbt'] == 1}<a href="{php echo url('entry/webapp/product', array('m' => 'yimu_webpc'))}"><li {if $_GPC['do']=='product'}class="selectedMenu"{/if} >{$nemu['product']}</li></a>{/if}
                    {if $unnemu['casebt'] == 1}<a href="{php echo url('entry/webapp/cases', array('m' => 'yimu_webpc'))}"><li {if $_GPC['do']=='cases'}class="selectedMenu"{/if}>{$nemu['case']}</li></a>{/if}
                    {if $unnemu['aboutbt'] == 1}<a href="{php echo url('entry/webapp/aboutus', array('m' => 'yimu_webpc'))}"><li {if $_GPC['do']=='aboutus'}class="selectedMenu"{/if}>{$nemu['about']}</li></a>{/if}
                    {if $unnemu['agentbt'] == 1}<a href="{php echo url('entry/webapp/joinus', array('m' => 'yimu_webpc'))}"><li {if $_GPC['do']=='joinus'}class="selectedMenu"{/if}>{$nemu['agent']}</li></a>{/if}
                    {if $unnemu['programbt'] == 1}<a href="{php echo url('entry/webapp/news', array('m' => 'yimu_webpc'))}"><li {if $_GPC['do']=='news'}class="selectedMenu"{/if}>{$nemu['program']}</li></a>{/if}
                </ul>
            </nav>
            {if $unnemu['dlbt'] == 1}
            <div class="loginBox">
                <div class="loginBtn"><a target="_blank" href="{$nemu['url']}">{$nemu['dl']}</a></div>
            </div>
            {/if}
           </div>
        </header>
       
    
    <script src="{$_W['siteroot']}addons/yimu_webpc/template/webapp/intel/js/swiper.js"></script>
    