{template 'common/header'}
<ul class="nav nav-tabs" id="myTab">
	<!-- <li class="active" ><a href="#tab_grant">正版授权</a></li> -->
	<li class="active"><a href="#tab_basic">基本设置</a></li>
	<li><a href="#tab_param">信息设置</a></li>
    <li><a href="#tab_param3">其它设置</a></li>
    <!--<li><a href="#tab_param2">通知设置</a></li>-->
</ul>
<div class="main">
	<form class="form-horizontal form" action="" method="post">
		<div class="panel panel-default">

            <div class="panel-heading">系统设置</div>
            
            <div class="panel-body">
            	<div class="tab-content">
                	<div class="tab-pane active" id="tab_basic">

                        <div class="alert alert-info">
                            <p style="text-indent: 18px;">注: 以下设置只有 <b>认证服务号</b> 设置有效，借用权限不支持。</p>
                            <ol style="margin-bottom:0px;">
                                <li>非认证服务号请保留默认。</li>
                            </ol>
                        </div>

                        
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">积分余额</label>
							<div class="col-xs-12 col-sm-8">
								<label class="radio radio-inline">
									<input type="radio" name="creditstatus" value="1" {if $settings['creditstatus']==1}checked="checked"{/if}> 开启
								</label>
								<label class="radio radio-inline">
									<input type="radio" name="creditstatus" value="2" {if $settings['creditstatus']==2 || $settings['creditstatus']==''}checked="checked"{/if}> 关闭
								</label>
								<span class="help-block">默认：关闭.</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">未关注是否可以报名</label>
							<div class="col-xs-12 col-sm-8">
								<label class="radio radio-inline">
									<input type="radio" name="guanzhu_join" value="1" {if $settings['guanzhu_join']==1 || $settings['guanzhu_join']==''}checked="checked"{/if}>未关注可以报名
								</label>
								<label class="radio radio-inline">
									<input type="radio" name="guanzhu_join" value="2" {if $settings['guanzhu_join']==2}checked="checked"{/if}> 未关注不能报名
								</label>
								<span class="help-block">默认：未关注可以报名.</span>
							</div>
						</div>
                        <div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">顶部引导关注提示</label>
							<div class="col-xs-12 col-sm-8">
								<label class="radio radio-inline">
									<input type="radio" name="guanzhu" value="1" {if $settings['guanzhu']==1}checked="checked"{/if}> 未关注时显示
								</label>
								<label class="radio radio-inline">
									<input type="radio" name="guanzhu" value="2" {if $settings['guanzhu']==2 || $settings['guanzhu']==''}checked="checked"{/if}> 不显示
								</label>
                                <span class="help-block">默认：不显示.</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">关注二维码</label>
							<div class="col-sm-8">
                            	{php echo tpl_form_field_image('followed_image', $settings['followed_image']);}
                                (建议430*430)
							</div>
						</div>
                        <!--
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">自动确认收货时间</label>
							<div class="col-xs-12 col-sm-2 input-group">
								<input type="text" name="received_time" class="form-control" value="10">
								<span class="input-group-addon">天</span>
							</div>
							<span class="help-block" style="margin-left: 16.66666667%;">自发货后计时，填0或则不填默认为5天</span>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">自动取消订单时间</label>
							<div class="col-xs-12 col-sm-2 input-group">
								<input type="text" name="cancle_time" class="form-control" value="24">
								<span class="input-group-addon">小时</span>
							</div>
							<span class="help-block" style="margin-left: 16.66666667%;">自下单后计时，填0或则不填默认为1小时</span>
						</div> -->
					<!-- 关注参数设置开始 -->					
					<!-- 关注参数设置结束 -->					
					</div>
                    <div class="tab-pane" id="tab_param">
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">官方名称</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" name="sname" class="form-control" value="{$settings['sname']}">
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">官方LOGO</label>
							<div class="col-sm-8">
                            	{php echo tpl_form_field_image('slogo', $settings['slogo']);}		
							</div>
						</div>
                        <div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">版权信息</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" name="copyright" class="form-control" value="{$settings['copyright']}">
							</div>
						</div>
					</div>
                    
                    <div class="tab-pane" id="tab_param1">
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">是否开启自动退款</label>
							<div class="col-xs-12 col-sm-8">
								<label class="radio radio-inline">
									<input type="radio" name="auto_refund" value="1"> 是
								</label>
								<label class="radio radio-inline">
									<input type="radio" name="auto_refund" value="2" checked="checked"> 否
								</label>
								<span class="help-block"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">微信支付商户号(MchId)</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" name="mchid" class="form-control" value="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">商户支付密钥(API密钥)</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" name="apikey" class="form-control" value="">
							</div>
						</div>
						<div class="form-group">
		                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">商户支付证书</label>
		                    <div class="col-sm-8 col-xs-12">
		                        <textarea class="form-control" name="cert" rows="8" placeholder="为保证安全性, 不显示证书内容. 若要修改, 请直接输入"></textarea>
		                        <span class="help-block">从商户平台上下载支付证书, 解压并取得其中的 <mark>apiclient_cert.pem</mark> 用记事本打开并复制文件内容, 填至此处</span>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">支付证书私钥</label>
		                    <div class="col-sm-8 col-xs-12">
		                        <textarea class="form-control" name="key" rows="8" placeholder="为保证安全性, 不显示证书内容. 若要修改, 请直接输入"></textarea>
		                        <span class="help-block">从商户平台上下载支付证书, 解压并取得其中的 <mark>apiclient_key.pem</mark> 用记事本打开并复制文件内容, 填至此处</span>
		                    </div>
		                </div>
					</div>
                    <div class="tab-pane" id="tab_param2">
						<div class="form-group">
							<label class="col-md-2 control-label">模板消息配置说明</label>
							<div class="col-md-8">
								<div class="alert alert-warning">
									<h5 style="text-indent: 18px;">注: 只有 <b>认证服务号</b> 添加消息模板后才可以使用模板消息功能。</h5>
									<ol>
										<li>登陆<a href="https://mp.weixin.qq.com/">【微信公众平台】</a>-【功能】-【模板消息】</li>
										<li>选择行业为："IT科技 - 互联网|电子商务"</li>
										<li>在【模板库】搜索对应模板标题找到对应模板,点击详情保存添加,重复执行。</li>
										<li>把【我的模板】下对应标题复制模板ID到本页设置对应位置。</li>
									</ol>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">订单代付成功通知模板ID</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" name="m_daipay" class="form-control" value="A3pttughPRn7aQi7vfbZHZvHrylyqrr7ZLusyNliTAQ">
								<span class="help-block">公众平台模板消息编号：IT科技——互联网|电子商务——OPENTM200561396[名称：订单代付成功通知]</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">订单支付成功模板ID</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" name="m_pay" class="form-control" value="HELVkmNQyfbBEPWODKcEk1XZKTdKS8GxPTlfFQGVDH4">
								<span class="help-block">公众平台模板消息编号：IT科技——互联网|电子商务——TM00015[名称：订单支付成功]</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">团购结果通知模板ID</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" name="m_tuan" class="form-control" value="kXUQ3VH2eeBImLfN3nkh_pN6BYg0bnWk9j1Q_2gS5aA">
								<span class="help-block">公众平台模板消息编号：IT科技——互联网|电子商务——TM00353[名称：团购结果通知]</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">订单取消通知模板ID</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" name="m_cancle" class="form-control" value="t6jhO0T6gyBKrfA5r1cylfPoIalf9PV6-ORGVkNxOxg">
								<span class="help-block">公众平台模板消息编号：IT科技——互联网|电子商务——OPENTM202355776[名称：订单取消通知]</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">订单发货提醒模板ID</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" name="m_send" class="form-control" value="vwvCpt5U2fnjbQtrUO7Se39fR7xAc4TkgPQ0f2WeqPs">
								<span class="help-block">公众平台模板消息编号：IT科技——互联网|电子商务——OPENTM200565259[名称:订单发货提醒]</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">退款通知模板ID</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" name="m_ref" class="form-control" value="XOZ_DlQfUX-PA0Yd9ekRr5cVJGuGLERHv4kiHcT50Ok">
								<span class="help-block">公众平台模板消息编号：IT科技——互联网|电子商务——TM00004[名称:退款通知]</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">刮刮卡抽奖通知ID</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" name="m_activity" class="form-control" value="bQ2DRwJS0TufJSDtuRxoxypxAvNzpx7_HK6I2q3YLB8">
								<span class="help-block">公众平台模板消息编号：IT科技——互联网|电子商务——OPENTM207145917[名称:待处理通知]</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">刮刮卡中奖结果通知</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" name="m_activity_result" class="form-control" value="J92kdtkJiVU6lXcxFclEiSTc60dQmNVTzLGxa86dPqI">
								<span class="help-block">公众平台模板消息编号：IT科技——互联网|电子商务——OPENTM208022325[名称:兑奖成功通知]</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">抽奖团中奖结果通知</label>
							<div class="col-xs-12 col-sm-8">
								<input type="text" name="m_activity_lottery" class="form-control" value="pYOKEBaUxmihAk4LL-2_4-8_hDvPeRmJebQkV7Nvj50">
								<span class="help-block">公众平台模板消息编号：IT科技——互联网|电子商务——OPENTM204632492[名称:中奖结果通知]</span>
							</div>
						</div>
					</div>
                    
                    <div class="tab-pane" id="tab_param3">
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">报名审核</label>
							<div class="col-xs-12 col-sm-8">
								<label class="radio radio-inline">
									<input type="radio" name="reviewstatus" value="1" {if $settings['reviewstatus']==1}checked="checked"{/if}> 开启
								</label>
								<label class="radio radio-inline">
									<input type="radio" name="reviewstatus" value="2" {if $settings['reviewstatus']==2 || $settings['reviewstatus']==''}checked="checked"{/if}> 关闭
								</label>
								<span class="help-block">默认：关闭.关闭状态下用户报名自动生效.</span>
							</div>
						</div>
					</div>
                    
                </div>
            </div>
		</div>
		<div class="form-group col-sm-12">
			<input name="token" type="hidden" value="{$_W['token']}" />
			<input type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交" />
		</div>
	</form>
</div>
<script type="text/javascript">
$(function () {
	window.optionchanged = false;
	$('#myTab a').click(function (e) {
		e.preventDefault();//阻止a链接的跳转行为
		$(this).tab('show');//显示当前选中的链接及关联的content
	})
});
</script>
{template 'common/footer'}