{template 'common/header'}

<ul class="nav nav-tabs">

    <li class="active"><a href="{php echo  $this->createWebUrl('jflist', array('name'=>'jlsh_code'));}">积分二维码管理</a></li>

	<li><a href="{php echo  $this->createWebUrl('jfsetting', array('name'=>'jlsh_code'));}">添加积分二维码</a></li>


</ul>


<div class="clearfix">    

    <div class="panel panel-default">

    	<div class="panel-heading">

                     积分二维码管理

        </div>

        <div class="table-responsive panel-body" >

            <table class="table table-hover">

            	<thead>

                	<tr class="active">

                    	<td>标题</td>

                        <td>积分</td>
                        
                        <td>添加日期</td>
						
						<td>人数</td>

                        <td width="300">操作</td>

                    </tr>

                </thead>

                <tbody>

                	{loop $list $val}

                	<tr>

                    	<td>{$val[title]}</td>

                        <td>{$val[number]}</td>

						<td>{php echo date("Y-m-d H:i:s",$val[addtime])}</td>
						
						<td>{$val[people]}</td>
						
                        <td>

                        	<div class="btn-group btn-group-sm">

                                <a class="btn btn-default" href="{php echo $this->createWebUrl('jfsetting',array('id'=>$val['id'],'name'=>'jlsh_code'));}"><i class="fa fa-edit"></i> 编辑</a>

								<a class="btn btn-default" href="{php echo $val['codeurl']}"><i class="fa fa-edit"></i> 查看</a>

                                <a class="btn btn-default" href="{php echo $this->createWebUrl('jfdelete', array('id'=>$val['id'],'name'=>'jlsh_code'))}" onclick="if(confirm('确认删除积分二维码吗?')){return true}else{return false};"><i class="fa fa-remove"></i> 删除</a>
		

                            </div>

                        </td>

                    </tr>

                    {/loop}

                    

                </tbody>

            </table>

        </div>

        

        <div class="panel-body text-center">

            {$pager} 

        </div>

        
		

        <div class="panel-footer">


        </div>

        

    </div>

</div>

{template 'common/footer'}