{template 'common/header'}
<ul class="nav nav-tabs">
    <li><a href="{php echo  $this->createWebUrl('barcode', array('foo'=>'index'));}">条形码管理</a></li>
    <li class="active"><a href="#">添加条形码</a></li>
</ul>

<div class="clearfix">    
    <form id="theform" class="form form-horizontal" action="{php echo $this->createWebUrl('barcode', array('foo'=>'addok'));}" method="post">
        <div class="panel panel-default">
            <div class="panel-heading">
                添加条形码
            </div>
            <div class="panel-body">
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">条形码编号</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="barcode_number" id="barcode_number" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品名称</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="barcode_name" id="barcode_name" class="form-control">
						<span class="help-block"></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">封面图片</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_image('pic',$item['pic']);}
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-md-2 col-lg-1">
                        <input name="submit" type="submit" value="保存" class="btn btn-primary btn-block" />
                        <input type="hidden" name="token" value="{$_W['token']}" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


{template 'common/footer'}