{template 'common/header'}
<ul class="nav nav-tabs">
    <li class="active"><a href="{php echo $this->createWebUrl('barcode', array('foo'=>'index'));}">条形码管理</a></li>
    <li><a href="{php echo $this->createWebUrl('barcode', array('foo'=>'add'));}">添加条形码</a></li>
</ul>

<div class="clearfix">    
    <div class="panel panel-default">
    	<div class="panel-heading">
            条形码列表
        </div>
        {if $list[0]['id'] == ''}
        <div>暂无数据</div>
        {else}
        <div class="table-responsive panel-body" style="overflow:visible;">
            <table class="table table-hover">
            	<thead>
                	<tr class="active">
                    	<td>条形码编号</td>
                        <td>名称</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                	{loop $list $val}
                	<tr>
                    	<td>
                        	<p class="form-control-static">{$val[barcode_number]}</p>
                        </td>
                        <td>
							<p class="form-control-static">{$val[barcode_name]}</p>
                        </td>
						<td style="overflow:visible;">
                        	<div class="btn-group btn-group-sm">
                                <a class="btn btn-default" href="{php echo $this->createWebUrl('barcode',array('foo'=>'edit','id'=>$val['id']));}"><i class="fa fa-edit"></i> 编辑</a>
                                <a class="btn btn-default" href="{php echo $this->createWebUrl('barcode', array('foo'=>'delete','id'=>$val['id']))}" onClick="return confirm('确认删除该地区?');"><i class="fa fa-remove"></i> 删除</a>
                            </div>
                        </td>
                    </tr>
                    {/loop}
                    
                </tbody>
            </table>
        </div>
        {/if}
        
        <div class="panel-body text-center">
            {$pager}
        </div>
        
        <div class="panel-footer">
			<a class="btn btn-default" href="{php echo $this->createWebUrl('barcode',array('foo'=>'add'));}">新增条形码</a>
        </div>
        
    </div>
</div>


{template 'common/footer'}