
.x-cell{
    position: relative;
    margin: 5px;
    height: 160px;
    overflow: hidden;
}
.x-cell-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    background-color: #07141e;
}
.x-cell-bg img{
    height: 100%;
    width: 100%;
}
.x-url{
    position: absolute;
    display: block;
    left:30px;
    top:20px;
    right:30px;
    bottom:20px;
    background: rgba(0,0,0,0.3);
    text-align: center;
    color: #fff;
    border-radius: 3px;
}
a:hover,a:visited,a:active{
    color: #fff;
}
.x-url::before{
    content: '';
    display: block;
    position: absolute;
    top:8px;
    right:8px;
    bottom:8px;
    left:8px;
    border: 4px solid #fff;
    border-radius: 3px;
}
.x-tit{
    line-height: 50px;
    font-size:20px;
    width: 80%;
    margin:10px auto 0;
    border-bottom:1px solid #fff;
}
.x-des{
    height:30px;
    width: 80%;
    margin:0 auto;
    line-height: 30px;
    overflow: hidden;
}
.footer{
    /*background:#000;*/
    color: #000;
    line-height:50px;
}






















