{template 'staff/header'}
<script type="text/javascript">
var pagename="orderlist";
</script>
</head>
<style>
 .biaoge1{border-top:1px solid #ddd;border-left:1px solid #ddd; margin-bottom:0.5rem}
 .biaoge1 td{padding:0.3rem; line-height:150%;border-bottom:1px solid #ddd;border-right:1px solid #ddd;}
</style>
<body>
<div id="page0" class="ub ub-ver bga">
 {loop $list $item}
 <table width="100%" border="0" cellspacing="0" cellpadding="0" class="biaoge1 ulev-1 c-wh">
  
  <tr>
    <td align="right" class="t-dgra" width="25%">等级名称：</td>
    <td width="25%">{$item['grade_name']}</td>
    <td align="right" class="t-dgra" width="25%">保证金金额：</td>
    <td width="25%">{$item['grade_money']}元</td>
  </tr>
  <tr>
    <td align="right" class="t-dgra">等级说明：</td>
    <td colspan="3">
    {if $item['remark'] == ''}
    暂无说明
    {else}
    {$item['remark']}
    {/if}
    </td>
  </tr>
 
</table>
 {/loop}
 <div class="ub-f1 tx-c">
 <a href="{php echo $this->createMobileUrl('baozheng', array('foo'=>'index', 'id'=>$id))}" class="c-gre3 uc-a1 ub-f1 btnn block-in t-wh ulev0" style="padding:0.75rem 3rem; margin:0.5rem auto;" />缴纳保证金
 </a>
 </div>

</div>

{template 'public/footerjs'}


</body>
</html>
