
{template 'staff/header'}

</head>
<body>
<div id="page0" class="ub ub-ver bga">
    <div class="c-gre3 ub ub-ver ub-ac ub-pc" style=" padding:2rem 0rem 3rem 0rem ">
    	<div><i class="iconfont icon-licaishouyi t-yel" style="font-size:5rem"></i> </div>
        <div class="umar-t ulev1 t-yel">发放工资</div>
        
    </div>
    <div class="ub-f1">
    	<!--
        <form class="form-horizontal ub ub-f1 ub-ver" id="form1" action="{php echo $this->createMobileUrl('tixianok', array())}" method="post" onSubmit="return checkform()">
        <input type="hidden" name="tixian" value="{$count}" >
           -->
        <input type="hidden" name="openid" id="openid" value="{$openid}" >
        <div class="uinn8 umar-t1 tx-c">
            <ul class="userlist c-wh uc-a15 umar-b">
                <li class="ub ub-ac">
                    <div class="tx-c umar-t ulev1">请选择发放工资区间</div>
                </li>
            </ul>
                
            <ul class="userlist c-wh uc-a15 umar-b">
                <li class="ub ub-ac">
                    <div style="width:4.5rem">
                        开始时间
                    </div>
                    <div class="ub ub-f1 ub-ac ubb ubl b-bla01 uinn">
                        <div class="ub ulev0 ub-f1 ">
                            <input type="datetime-local" name="start" id="start" placeholder="开始时间" class="uinn ulev0 ub-f1 block" />
                        </div>
                    </div>
                </li>
            </ul>
            
            <ul class="userlist c-wh uc-a15 umar-b">
                <li class="ub ub-ac">
                    <div style="width:4.5rem">
                        结束时间
                    </div>
                    <div class="ub ub-f1 ub-ac ubb ubl b-bla01 uinn">
                        <div class="ub ulev0 ub-f1 ">
                            <input type="datetime-local" name="end" id="end" placeholder="结束时间" class="uinn ulev0 ub-f1 block" />
                        </div>
                    </div>
                </li>
            </ul>
            
            <ul class="userlist c-wh uc-a15 umar-b">
                <li class="ub ub-ac">
                    <div style="width:4.5rem">
                        员工姓名
                    </div>
                    <div class="ub ub-f1 ub-ac ubb ubl b-bla01 uinn">
                        <div class="ub ulev0 ub-f1 ">
                            <select name="staff_id" id="staff_id" class="uinn ulev0 ub-f1 block">
                            <option value="">选择员工</option>
                            	{loop $list $vo}
                            	<option value="{$vo['id']}">{$vo['staff_name']}</option>
                                {/loop}
                            </select>
                        </div>
                    </div>
                </li>
            </ul>
            
    	</div>
        
        <div class="uinn8 ub">
            <input name="submit" type="submit" onClick="fa()" value="发放工资" class="c-gre3 ub-f1 uc-a1 btnn block tx-c t-wh" style="margin-bottom:0.5em; padding:0.75rem 3rem;" />
            <input type="hidden" name="token" value="{$_W['token']}" />
        </div>
        <!--</form>-->
    </div>
    
    <div class="" style="height:3.125rem"></div>
    <div id="footer" class="fix0 c-foot" style="width:100%; bottom:0; z-index:999">
        <div class="ub">
            <a href ="{php echo $this->createMobileUrl('Validate', array())}" class="ub ub-pc block" style="width:33.33%">
                <div class="ub ub-ver ub-ac ub-pc">
                    <i class="iconfont icon-shouye ulev1"></i> 
                    <span class="block ulev-1" style="">首页</span>
                </div>
            </a>
            <a href ="{php echo $this->createMobileUrl('stafforder', array('foo'=>'order1', 'id'=>$id))}" class="ub ub-pc block t-gre1 t-wh" style="width:33.33%">
                <div class="ub ub-ver ub-ac ub-pc">
                    <i class="iconfont icon-dingdan ulev1 t-gre1"></i> 
                    <span class="block ulev-1 t-gre1" style="">订单</span>
                </div>
            </a>
            <a href ="{php echo $this->createMobileUrl('staffmoney', array('foo'=>'index', 'id'=>$id))}" class="ub ub-pc block" style="width:33.33%">
                <div class="ub ub-ver ub-ac ub-pc">
                    <i class="iconfont icon-licaishouyi ulev1"></i> 
                    <span class="block ulev-1" style="">财务</span>
                </div>
            </a>
        </div>
    </div>
    
</div>

{template 'public/footerjs'}
<script type="text/javascript">
function checkform(){
	var money = document.getElementById('money').value;	
				
	if(money == ''){
		alert("请输入提现金额");
		return false;
	}			
}

function fa(){
	var start1 = document.getElementById('start').value;
	var end1 = document.getElementById('end').value;
	var staff_id = document.getElementById('staff_id').value;
	if(start1 == ''){
		alert('请选择开始时间！');
		return false;
	}
	if(end1 == ''){
		alert('请选择结束时间！');
		return false;	
	}
	if(staff_id == ''){
		alert('请选择员工！');
		return false;	
	}
	var start= start1;
	var end = end1;
	$.ajax({
		url: "{php echo $this->createMobileUrl('checkmoney', array());}",
		type:"POST",
		data:{"start":start,"end":end,"staff_id":staff_id},
		dataType:"json",
		success: function(res){
			if(res > 0){
				if(window.confirm('你选择的时间段,该员工有'+res+'元可以发放，你确定发放吗？')){
					var openid = document.getElementById('openid').value;
					$.ajax({
						url: "{php echo $this->createMobileUrl('fafangok', array());}",
						type:"POST",
						data:{"money":res,"openid":openid,"start":start,"end":end,"staff_id":staff_id},
						dataType:"json",
						success: function(res1){
							if(res1==1){
								alert('工资发放成功！');
								window.location.href = "{php echo $this->createMobileUrl('Validate',array())}";
							}else{
								alert('工资发放失败！');
								return false;
							}
						}
					});
				}else{
					return false;
				}
			}else{
				alert('该员工暂无工资发放！');
				return false;
			}
		}
	});
}
</script>

</body>
</html>
