
{template 'staff/header'}

</head>
<body>
<div id="page0" class="ub ub-ver bga">
    <div class="c-gre3 ub ub-ver ub-ac ub-pc" style=" padding:2rem 0rem 3rem 0rem ">
    	<div><i class="iconfont icon-ayiluru t-yel" style="font-size:5rem"></i> </div>
        <div class="umar-t ulev1 t-yel">商家绑定</div>
        <div class="absolute tx-c ulev-4 t-yel ubt b-bla01" style="left:0; bottom:0;width:100%; padding:0.5rem 0">请填写平台分配的账号信息</div>
    </div>
    <div class="ub-f1">
    	<form class="form-horizontal ub ub-f1 ub-ver" id="form1" action="javascript:;" method="post">
        <div class="uinn8 umar-t1 tx-c">
            <ul class="userlist c-wh uc-a15 umar-b">
                <li class="ub ub-ac">
                    <div style="width:3.5rem">
                        <i class="iconfont icon-phone ulev2 umar-r1 umar-l1 t-gre1"></i>
                    </div>
                    <div class="ub ub-f1 ub-ac ubb ubl b-bla01 uinn">
                        <div class="ub ulev0 ub-f1 ">
                            <input type="tel" name="mobile" id="mobile" placeholder="手机号" value="" class="uinn ulev0 ub-f1 block" />
                        </div>
                    </div>
                </li>
            </ul>
            
            <ul class="userlist c-wh uc-a15 umar-b">
                <li class="ub ub-ac">
                    <div style="width:3.5rem">
                        <i class="iconfont icon-mima2 ulev2 umar-r1 umar-l1 t-gre1"></i>
                    </div>
                    <div class="ub ub-f1 ub-ac ubb ubl b-bla01 uinn">
                        <div class="ub ulev0 ub-f1 ">
                            <input type="password" name="pwd" id="pwd" placeholder="验证密码" class="uinn ulev0 ub-f1 block" />
                        </div>
                    </div>
                </li>
            </ul>
            
    	</div>
        <div class="uinn8 ub">
            <button class="c-gre3 ub-f1 uc-a1 btnn block tx-c" onClick="submit1()" style="margin-bottom:0.5em; padding:0.75rem 3rem;" type="submit"><span class="ulev0 t-wh ">确认绑定</span></button>
        </div>
        </form>
    </div>
</div>

{template 'public/footerjs'}
<script type="text/javascript">
function submit1(){
	var mobile = document.getElementById('mobile').value;	
	var pwd = document.getElementById('pwd').value;	
				
	if(!mobile){
		alert("请输入手机号");
		return false;
	}
	if (!/^1[34578]{1}[0-9]{9}/.test(mobile)) {
		alert('请输入正确的手机号码！');
		return false;
	}
	if(pwd == ''){
		alert("请输入密码");
		return false;
	}
			
	$.ajax({
		url: "{php echo $this->createMobileUrl('auth', array('foo'=>'merchantAuthOk'));}",
		type:"POST",
		data:$("#form1").serialize(),
		dataType:"json",
		success: function(res){
			if(res == "0"){
				alert('对不起，密码错误或与登记的手机号码不符，绑定失败！请重新填写！');
			}else{
				alert('恭喜您，商铺绑定成功！');
				window.location.href = "{php echo $this->createMobileUrl('Validate', array())}";  
			}
		}
	});
				
}
</script>

</body>
</html>
