*{margin:0 auto;padding:0;}
a{text-decoration:none;}
div,img {
	box-sizing: border-box;
}
img {
	display: block;
	max-width: 100%;
	margin:0 auto;
}
button{outline:none;}
.clear:after { content:''; display:block; clear:both; }
.text-l{text-align:left;}
.text-c{text-align:center;}
.text-r{text-align:right;}
.hide{display:none;}
.blackbg {position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: #000;opacity: 0.3;z-index: 555;}

.textellipsis1{
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-webkit-text-overflow:ellipsis;
	-moz-text-overflow:ellipsis;
	white-space:nowrap;
}
.textellipsis2{
	word-break:break-all;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	overflow:hidden;
}
.weui-picker-modal{height:5.7rem;}
.toolbar .toolbar-inner{height:0.8rem;line-height:0.8rem;}
.toolbar .picker-button{height:0.8rem;line-height:0.8rem;font-size:0.35rem;}
.toolbar .title{height:0.8rem;line-height:0.8rem;font-size:0.35rem;}
.weui-picker-modal .picker-items{font-size:0.35rem;}
.weui-picker-modal .picker-modal-inner{height:4.9rem;}
.weui-picker-modal .picker-item{text-align:center;}

.picker-calendar-row{height:0.6rem;line-height:0.6rem;padding:0.1rem 0;}
i.icon.icon-prev,i.icon.icon-next{background-size:0.3rem;width:0.8rem;line-height:0.8rem;height:0.8rem;position:absolute;margin-left:-0.4rem;}
.icon-next:before {content: "";}
.picker-calendar-month-picker a.icon-only, .picker-calendar-year-picker a.icon-only{height:0.8rem;line-height:0.8rem;}
.picker-calendar-month-picker .current-month-value, .picker-calendar-month-picker .current-year-value, .picker-calendar-year-picker .current-month-value, .picker-calendar-year-picker .current-year-value{height:0.8rem;line-height:0.8rem;font-size:0.35rem;}
.picker-calendar-day span{width:0.6rem;height:0.6rem;line-height:0.6rem;font-size:0.3rem;}
.picker-calendar-week-days{font-size:0.3rem;height:0.8rem;line-height:0.8rem;}
.picker-calendar-week-days .picker-calendar-week-day{height:0.8rem;line-height:0.8rem;}

.weui-toast{width:3.5rem;left:4rem;min-height:auto;padding:0.2rem 0;}
.weui-icon_toast{margin-bottom:0.15rem;margin-top:0.15rem;font-size:0.6rem;margin:0;}
.weui-toast_content{font-size:0.35rem;}

.weui-dialog__hd {padding:0;font-size:0.5rem;}
.weui-dialog__title{font-size:0.4rem;}
.weui-dialog__bd{padding:0.2rem;font-size:0.35rem;min-height:0.4rem;line-height:0.4rem;}
.weui-dialog__ft{font-size:0.35rem;line-height:1rem;}

.weui-cells{font-size:0.3rem;}
.weui-cell{padding:0.2rem 0.3rem;}
.weui-cells__title{font-size:0.3rem;padding:0.2rem;margin:0 auto;}
.weui-btn{padding:0.03rem;font-size:0.32rem;border-radius: 0.15rem;line-height:0.75rem;}

.weui-select{height:0.5rem;line-height:0.5rem;}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom:0;height:1.4rem;}


#header{max-width:7.5rem;padding:0 0.2rem;height:0.9rem;line-height:0.9rem;background:#E64340;color:#fff;}
#header .back{width:20%;float:left;font-size:0.32rem;}
#header .back span{font-size:0.28rem;margin-left:0.05rem;}
#header .title{width:60%;float:left;font-size:0.32rem;}
#header .other{width:20%;float:right;}

#footer{width:100%;height:1rem;position:fixed;z-index:99;bottom:0;background:#fff;border-top:solid 1px #eee;}
#footer .item{width:20%;height:1rem;float:left;}
#footer .item .iconfont{color:#666;font-size:0.4rem;height:0.65rem;line-height:0.65rem;text-align:center;}
#footer .item .text{color:#666;font-size:0.24rem;height:0.35rem;line-height:0.25rem;text-align:center;}
#footer .now .iconfont,#footer .now .text{color:#E64340;}
#footer .fabu .iconfont{color:#fff;background:#E64340;border-radius:0.85rem;width:0.85rem;height:0.85rem;line-height:0.85rem;font-size:0.42rem;position:relative;z-index:101;margin:-0.3rem auto 0 auto;}
#footer .fabu .text{margin-top:0.1rem;}

.nodata{margin:0.8rem auto;font-size:0.45rem;color:#999;}
.nodata .iconfont{font-size:2.5rem;height:2.5rem;line-height:2.5rem;}
.nodata .text{font-size:0.3rem;margin-top:0.2rem;}

.flex{
	display:flex;
	display:-webkit-flex;
	flex-wrap:wrap;
	justify-content:space-between;
}