.count{padding:0.3rem;}
.count .iconfont{color:#E64240;font-size:1.4rem;}
.count .text{font-size:0.35rem;margin: 0.2rem auto 0 auto;width:5rem;color:#E64240;}

.list .noaccount{height:1rem;line-height:1rem;font-size:0.3rem;color:#999;}
.list .item{padding:0.3rem 0.2rem;width:7.1rem;height:0.8rem;background:#fff;margin-bottom:1px;}
.list .item .iconfont{width:0.8rem;height:0.8rem;line-height:0.8rem;font-size:0.6rem;float:left;color:#666;}
.list .item .msg{width:6.3rem;height:0.8rem;float:left;}
.list .item .msg .ordersn{height:0.4rem;line-height:0.4rem;font-size:0.32rem;color:#999;}
.list .item .msg .status{height:0.4rem;line-height:0.4rem;font-size:0.25rem;color:green;}

.xiajilist .noaccount{height:1rem;line-height:1rem;font-size:0.3rem;color:#999;}
.xiajilist .item{padding:0.3rem 0.2rem;width:7.1rem;height:0.8rem;background:#fff;margin-bottom:1px;}
.xiajilist .item .img{width:0.8rem;height:0.8rem;float:left;margin-right:0.2rem;}
.xiajilist .item .img img{width:0.8rem;height:0.8rem;border-radius:0.8rem;}
.xiajilist .item .text{width:6.1rem;height:0.8rem;float:left;}
.xiajilist .item .text .nickname{height:0.4rem;line-height:0.4rem;font-size:0.3rem;}
.xiajilist .item .text .time{height:0.4rem;line-height:0.4rem;font-size:0.25rem;color:#999;}

#fenxiaosm{background:#fff;padding:0.2rem;font-size:0.3rem;}
#fenxiaosm img{max-width:100%;}
