@charset "utf-8";
html{
  -webkit-text-size-adjust:none;
  -webkit-user-select:none;
  -webkit-touch-callout: none;
  font-family: Helvetica;
  box-sizing: border-box;
}
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,pre,form,input,textarea,th,td,select{margin:0; padding:0; font-weight: normal;text-indent: 0;}
a,button,input,textarea,select{ background: none; -webkit-tap-highlight-color:rgba(255,0,0,0); outline:none; -webkit-appearance:none;}
em{font-style:normal}
li{list-style:none}
a{text-decoration:none;}
img{border:none; vertical-align:top;}
table{border-collapse:collapse;}
textarea{ resize:none; overflow:auto;}
/* 清除浮动 */
.clear { zoom:1;}
.clear:after { content:'';display:block;clear:both;}

.yxui-flex { display: -webkit-box!important; display: -webkit-flex!important; display: -ms-flexbox!important; display: flex!important; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.yxui-flex>.cell { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; width: 0; -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; max-width: 24%; display: block; padding: 0!important; position: relative; }
.yxui-flex-center{ display: -webkit-box; display: -webkit-flex; -webkit-box-pack: center; -webkit-justify-content: center; -webkit-box-align: center; -webkit-align-items: center; }

*{box-sizing: border-box;}
img{ width: 100%;}
body{ background: #f8f8f8;}

a:active{opacity: .6;}
.t-all{ width: 1.2rem;margin:0; float: left;position: relative;}
/*.t-all:before{content: '';display: block; height: 0.5rem; width: 1px;box-shadow: 0.06rem 0 0.04rem #333; position: absolute; right:0.06rem; top: 0px;}*/

.type-cell{overflow-x: auto;-webkit-overflow-scrolling:touch;;float: right;white-space: nowrap; width: 6.3rem; height: 0.8rem;}
nav{ height: 0.8rem; line-height: 0.8rem; font-size: 0rem; width: 100%; background: #FFFFFF;}
nav a{display: inline-block; font-size: 0.28rem; color: #444;padding:0 0.12rem;margin:0 0.1rem;text-align: center;line-height: 0.8rem; height: 0.8rem;}
nav a.act{color:#d13703; border-bottom: 0.04rem solid #d13703;}

.item-content{margin:0.35rem 0 0 0; background: #FFFFFF;}

.items-title{ font-size: 0.26rem; color: #333;height: 0.8rem;line-height: 0.8rem; border-top: 1px solid #f1f1f1; border-bottom: 1px solid #f1f1f1;}

.select-wrap{ width: 1.88rem;height:0.77rem;text-align: center;display: inline-block; position: relative;overflow: hidden;padding: 0 0.08rem 0.08rem 0; -webkit-transition: all .3s;}
.select-wrap:before{content: '';display: block; width: 1px; background: #CCCCCC; height: 0.4rem; top: 0.2rem; right: 0; position: absolute;}
.select-wrap .sc-act{ display: block; position: relative;padding:0 0.2rem 0 0; z-index: 3; height: 0.8rem;}
.select-wrap .sc-act:before{ content: '';display: block; top: 0.35rem; right: 0.15rem; position: absolute; border-left:0.1rem solid transparent; border-right:0.1rem solid transparent; border-top:0.1rem solid #333;}
.select-wrap.open .sc-act{ color: #d13703;}
.select-wrap.open .sc-act:after{ content: '';display: block; top: 0.35rem; right: 0.15rem; position: absolute; border-left:0.1rem solid transparent; border-right:0.1rem solid transparent; border-bottom:0.1rem solid #d13703;}
.select-wrap.open .sc-act:before{display: none;}

.select-wrap .sc-list{ width: 1.78rem; background: #FFFFFF;box-shadow:0.05rem 0.05rem 0.1rem #c1c1c1; position: relative; z-index: 1; top: -0.01rem;}
.sc-list a{ color: #333;display: block; height: 0.8rem; border-bottom: 0.02rem solid #f3f3f3;}

.items-list{}
.items-list .item{ background: #FFFFFF; border-bottom: 1px solid #f3f3f3;padding:0.2rem 0 0.2rem 0; margin-left: 0.2rem;}
.item .img-wrap{ width: 2rem; height: 2rem;overflow: hidden; float: left;}
.item .txt-wrap{ float: right;font-size: 0.24rem; color: #999; width: 5.1rem; position: relative;}
.item .txt-wrap p{margin:0.15rem 0;}
.item .txt-wrap p:not{margin:0.15rem 0;}
.item .txt-wrap p em{ color: #dc4033;}
.item .txt-wrap .i-buy{ width: 0.6rem; height: 0.6rem;line-height:0.6rem; font-size: 0.6rem;position: absolute;right:0.3rem; bottom: 0.15rem; color: #d13703;}
.item .i-title{ font-size: 0.32rem; color: #000;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

.mark{display: inline-block; color: #FFFFFF;text-align: center; height: 0.34rem;padding:0 0.12rem; font-style: normal;margin:0 0.05rem;}
.mark.by{ background: #f96000;}

.baoyou{ display: inline-block;vertical-align: top;margin:0 0 0 0.1rem}
.baoyou .iconfont{ font-size: 0.3rem; color: #ccc;position: relative; top: 0.02rem;}
.baoyou #chk-baoyou{    position: absolute;
  left: -9999em;}
#chk-baoyou:checked ~ .iconfont ,
#chk-baoyou:checked ~ span{ color: #f96000;}

.banner-layout{margin-bottom:0.1rem;}

.swiper-pagination-bullet-active{ background: #d13703;}

.shop-item{ background: #FFFFFF;padding:0 0.15rem;border-top:0.02rem solid #f3f3f3; border-bottom: 0.02rem solid #f3f3f3; margin-bottom: 0.2rem;}
.s-head{ height: 1rem; line-height: 1rem; position: relative; width: 100%; font-size: 0.3rem; color: #333; border-bottom: 0.02rem solid #f3f3f3;}
.follow{ width: 1.4rem; height: 0.6rem; line-height: 0.6rem; color: #FFFFFF;text-align: center;border-radius: 0.1rem; background: #05be01;font-size: 0.26rem;display: block; position: absolute; top: 0.18rem; right: 0;}
.follow.fed{border:1px solid #05be01; color: #05be01; background: #FFFFFF;}

.s-product{padding:0.2rem 0;}
.s-product a{display: block;}
.s-product li{margin:0.05rem;display: block;}