
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-chevron-right:before { content: "\e60d"; }
.icon-home:before { content: "\e624"; }
.icon-shouji:before { content: "\e60c"; }
.icon-llscanorderlisticon:before { content: "\e604"; }
.icon-dongtaiyemianxiaotubiao02:before { content: "\e605"; }
.icon-wode:before { content: "\e603"; }
.icon-kafei:before { content: "\e625"; }
.icon-dingdan:before { content: "\e601"; }
.icon-sheweihouxuanren:before { content: "\e606"; }
.icon-jikediancanicon08:before { content: "\e612"; }
.icon-jikediancanicon09:before { content: "\e614"; }
.icon-guanbi:before { content: "\e627"; }
.icon-xiugaiziliao:before { content: "\e607"; }
.icon-dianping:before { content: "\e619"; }
.icon-shaixuan:before { content: "\e608"; }
.icon-qiangxin:before { content: "\e622"; }
.icon-dianhua:before { content: "\e61e"; }
.icon-xuanzhong:before { content: "\e613"; }
.icon-fenxiang:before { content: "\e60e"; }
.icon-gerenzhongxin:before { content: "\e61a"; }
.icon-shoucangweishoucang:before { content: "\e617"; }
.icon-xuanzhong1:before { content: "\e615"; }
.icon-mima:before { content: "\e61f"; }
.icon-sousuo:before { content: "\e602"; }
.icon-chongzhi:before { content: "\e609"; }
.icon-cardid:before { content: "\e620"; }
.icon-duigou:before { content: "\e618"; }
.icon-gengduo:before { content: "\e611"; }
.icon-xingming:before { content: "\e621"; }
.icon-changjianwenti:before { content: "\e60a"; }
.icon-comiisfaxian:before { content: "\e60f"; }
.icon-iconfontsiglyphpinlocation2:before { content: "\e600"; }
.icon-dengdai:before { content: "\e623"; }
.icon-tubiao24:before { content: "\e61b"; }
.icon-yuyue:before { content: "\e610"; }
.icon-yanzhengyanzhengma:before { content: "\e61c"; }
.icon-shuoming:before { content: "\e60b"; }
.icon-caiwuguanli:before { content: "\e61d"; }
.icon-star:before { content: "\e616"; }
