<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
     <meta charset="utf-8">
    <title>余额充值</title>
    
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="{MODULE_URL}/recouse/css/confirm.css?v=111" />
	<link href="{MODULE_URL}/recouse/css/xin_v3.s.min.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="./resource/script/jquery-1.7.2.min.js"></script>


</head>
<body>
<ul class="yelink">
       <li class=""><a href="{php echo $this->createMobileUrl('balance')}"><span class="text">充值余额</span>
  </a>
       </li>
   </ul>
<section class="exc_record">
	<div id="oneUserChangelist" class="prize_list">
		{loop $list $row}
		<dl class="prize">
			
			<dd class="pri_info">
				<p>充值时间：{php echo date("Y-m-d H:i:s",$row['addtime']);}</p>
				<p>充值余额：{$row['money']}元</p>
				<p>充值状态：{if $row['status']==1} <span style="color:green">正常</span>{else}<span style="color:red">无效</span>{/if}</p>
			</dd>
		</dl>
		{/loop}	
		</div>
  </section>



{template 'jsweixin'}
</body>
</html>   